[2014-10-27 19:59] #820 closed, assigned to nobody

[2014-10-27 21:30] #769 closed, assigned to nobody

[2014-10-27 23:47] sayedihashimi opened #821 "Publish and kpm pack fails after an npm restore"
### Repro steps
1. Create a starter web.
2. Delete the `node_modules`
3. Close the App.
4. Reopen the app to force a restore. This will restore the node_module folder.
5. Publish the App to file system

You can also repro at this point from the command line by calling `kpm pack` so it's not limited to Visual Studio scenarios.

Since the `node_modules` folder was deleted it is restored on restore v

[2014-10-28 13:48] tugberkugurlu opened #822 "k command with '/' on Windows outputs CALL help"
On windows, when you run k command with '/' (for example `k /?`), it gives you a CALL help.

![image](https://cloud.githubusercontent.com/assets/328122/4809165/109f644e-5ea9-11e4-8e28-5473f9260ccf.png)

[2014-10-28 17:01] lukewaters opened #823 "K Run and KPM Pack for KConsole Silently fail when application path is too long"
This is a difficult problem to troubleshoot and solve because no error message is given.  With KRE_TRACE=1 the only output we get is
[code]

the contents of the start.cmd mentioned above are:
[code]

[2014-10-28 17:08] #822 closed, assigned to nobody

[2014-10-28 17:11] victorhurdugaci opened #824 "Give a warning if the pdb generation is not enabled"
@davidfowl you added the better check for the COM component for pdb generation. Can you please also add a warning (in the KRE trace) in case the component is not loaded?

[2014-10-28 17:55] #821 closed, assigned to nobody

[2014-10-29 01:13] nosami opened #826 "DTH terminates itself on mono"
https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.DesignTimeHost/Program.cs#L38

This code isn't working on mono. The event fires even though the host process is still alive.

[2014-10-29 18:14] #804 closed, assigned to davidfowl

[2014-10-29 21:48] lodejard opened #827 "Referencing csproj from kproj"
go go go

[2014-10-29 23:17] dougbu opened #828 "`kpm.cmd build --quiet` hides real errors and warnings"
This mode should not affect errors and warnings.  For example `--quiet` currently hides warnings about unresolved dependencies.

[2014-10-29 23:56] pranavkm opened #829 "Preprocessors does not work in CoreCLR"
The `BeforeCompile` method of a file under  Compiler/Preprocess does not get invoked when an application is run using CoreCLR KRE.

[2014-10-30 02:41] davidfowl opened #830 "Kpm build doesn't work for preprocessors"
We're using the incorrect target framework

[2014-10-30 04:00] troydai opened #831 "Introduce means for attach debug"
For example:
[code]

Useful in troubleshooting.

[2014-10-30 17:23] #829 closed, assigned to davidfowl

[2014-10-30 17:26] troydai opened #835 "Create a common set of smoke test which can run in both Windows and Mono"

[2014-10-30 17:45] #776 closed, assigned to troydai

[2014-10-30 19:00] victorhurdugaci opened #838 "Consistent argument naming (kpm)"
kpm uses a dash (`-`) sometimes to separate the words in arguments and nothing other times. Can we agree on a convention and follow it? I would suggest no dashes since kvm doesn't have any args like that.

Here are some args that we have today:

[code]

[2014-10-30 20:15] #813 closed, assigned to nobody

[2014-10-31 12:49] jkodroff opened #839 "kvm.sh crashes my terminal window on OSX"
Running kvm.sh crashes my terminal window (I think - unless it's somehow _supposed_ to close the window), thereby preventing me from checking out the potential wonderfulness you've created.  It has the same behavior in all these environments:
- Yosemite without Boxen installed, iTerm2 or Terminal
- Mavericks with Boxen installed, iTerm2 or Terminal

Version is 1.0.0-alpha4-1, installed via Homebre

[2014-10-31 19:13] suhasj opened #840 "kpm pack does not include System.ComponentModel.Annotations on Mono"
Consider a sample Mvc app on Mono. Doing 'kpm pack' on it and then running the package on Windows machines throws an error saying cannot resolve 'System.ComponentModel.Annotations 4.0.10-beta-22230'. If you check the approot/packages, this package is not included.

If you do 'kpm pack' on the same application in Windows and then run the package on Mac, this runs fine because System.ComponentModel.

[2014-10-31 19:19] #839 closed, assigned to nobody

[2014-10-31 19:59] kichalla opened #841 "kpm 'add' removes comments from project.json file and reformats it"
1. Create a new project in VS using the regular ASP.NET 5 web application template...check it in Git source control(would be easy to compare the differences between versions later)
2. At command line do, `kpm add "Microsoft.AspNet.Mvc.TagHelpers" 6.0.0-beta1`
3. project.json file should be changed now
4. compare the difference between the versions in VS

Example:
![image](https://cloud.githubuserc

[2014-10-31 20:10] kichalla opened #842 "kpm 'add' does not allow to provide empty quotes for version"
I was trying to do `kpm add "MyWebApp" ""` and got the error like `Version of dependency to add is required.`

[2014-10-31 21:00] ianhong opened #843 "Improve the kpm error message when it sees an unsupported option"
For now, it displays the following error: I think the error message looks like an unhandled error message instead of a friendly error message..

C:\dd\MusicStore>kpm -foo
Specify --help for a list of available options and commands.
System.Exception: TODO: Error: unrecognized option '-foo'
   at Microsoft.Framework.Runtime.Common.CommandLine.CommandLineApplication.Hand
leUnexpectedArg(CommandLineAp

[2014-10-31 22:27] ianhong opened #844 "KPM pack should stop to ask when it can't find grunt"
it simply says grunt is not a recognized command, and it keeps executing. The message disappears shortly after. I think it should stop to ask users or provide users with better visibility..

[2014-10-31 23:47] halter73 opened #845 "KPM blows up if there is a nonexistent local package source"
If you have a local package source active in NuGet.Config pointing to a directory that does not currently exist, any call to `kpm restore` fails with an error similar to the following:

    Loaded Module: klr.core45.dll
    Found DLL Export: CallApplicationMain
    Information: [LoaderContainer]: Load name=Microsoft.Framework.PackageManager
    Information: [PathBasedAssemblyLoader]: Loaded name=M

[2014-11-01 00:31] muratg opened #846 "KPM design issue: KPM pack (no options) followed by KPM build"
KPM pack (without any options) creates copies of src files under bin.  Any KPM build operation after this fails (```The namespace 'WebApplication1' already contains a definition for 'Startup'```)

Perhaps --no-source should be default.  Or maybe we should force folks to specify output folder.

Impacts VS as well: https://github.com/aspnet/Tooling/issues/144

[2014-11-01 02:21] Rick-Anderson opened #847 "Newtonsoft.Json.Linq.JToken scripts no longer accepts Arrays"
When you create a new ASP.NET 5  Starter Web project, it creates src\TodoList\project.json that ends with:
 "scripts": {
        "postrestore": [ "npm install" ],
        "prepare": [ "grunt bower:install" ]
    }
}
Scripts no longer accept arrays, so you need to change the JSON to:
 "scripts": {
        "postrestore":  "npm install" ,
        "prepare":  "grunt bower:install"
    }
}
Note the src

[2014-11-01 03:41] #847 closed, assigned to nobody

[2014-11-03 08:54] #842 closed, assigned to nobody

[2014-11-03 09:05] #844 closed, assigned to nobody

[2014-11-03 09:05] #811 closed, assigned to nobody

[2014-11-03 17:35] bricelam opened #848 "Allow additional files in the nupkg"
Similar to a nuspec file, project.json should allow you to specify additional files to include in the nupkg. I imagine a format like the following.
[code]
We currently do this post-build on the following packages.
* EntityFramework.Commands
* Microsoft.Data.SQLite

[2014-11-03 17:50] bricelam opened #849 "Enable building agnostic packages"
One of the goals mentioned in NuGet's [Package Manifests](http://blog.nuget.org/20141023/package-manifests.html) post is to...

I would love it if `kpm` could be used to create one of these "agnostic" packages.

[2014-11-03 18:25] anandjp opened #850 "build succeeds even if there is errors when building with kre-coreclr and produce build outputs is set to true"
If you set produce build outputs and try building with KRE-CoreCLR, build succeeds even though it ------ Build started: Project: WebApplication1, Configuration: Debug Any CPU ------
  TPA      24665 D:\Users\FWTLABB\.kre\packages\kre-coreclr-amd64.1.0.0-beta1\bin\API-MS-Win-Base-Util-L1-1-0.dll;D:\Users\FWTLABB\.kre\packages\kre-coreclr-amd64.1.0.0-beta1\bin\api-ms-win-core-com-l1-1-0.dll;D:\Users

[2014-11-03 23:16] naianacampos opened #852 "Starter Web, Register a User: System.Data.SqlClient.SqlInternalConnection.OnError"
VS 22303.01 DP
WTE Dev14-Preview\2014-11-03_b22
KRE beta1
1. Create Starter Web
2. Publish CORE
3. Navigate to Register User:

![sql](https://cloud.githubusercontent.com/assets/9043282/4892165/411bb46e-63af-11e4-8c0c-157922ba47e4.PNG)

An unhandled exception occurred while processing the request.
SqlException: Login failed for user 'fwtlaba'.
This session has been assigned a tracing ID of '1e76c98

[2014-11-03 23:24] naianacampos opened #853 "Unable to register user"
VS 22303.01 DP
 WTE Dev14-Preview\2014-11-03_b22
 KRE beta1

1.Create Starter Web
2.Publish CLR
3. Attempt to Register User:

![noop](https://cloud.githubusercontent.com/assets/9043282/4892262/68ad38da-63b0-11e4-877d-63b586dd0640.PNG)

User is not registered. Seems the Register user button is no-op.
Navigate to Home, then try to register user again still no-op.

[2014-11-04 01:38] #852 closed, assigned to nobody

[2014-11-04 21:20] #853 closed, assigned to nobody

[2014-11-05 00:29] ianhong opened #854 "Update the version of node.exe (0.10.33) to make MusicStore/build.cmd work"
Issue:
I have a clean machine (Win2k8) , and installed VS 22303.0 DP.  Then, I cloned MusicStore, and run build.cmd from there. (Log is saved at \scratch2\scratch\yjhong\npm-debug.log)

Build.cmd  failed while it was executing C:\dd\MusicStore\bin\nodejs\node.exe C:\dd\MusicStore\bin\nodejs\node_modules\npm\bin\npm-cli.js install --prefix C:\dd\MusicStore\bin\nodejs bower.

Workaround:
I found the

[2014-11-05 00:53] Alxandr opened #855 "StackOverflow exception thrown if language is set to the project you're building"
Title was a bit hard to write, but let me explain the issue:

I have a project, named `FSharpSupport` ([project.json](https://github.com/YoloDev/FSharpSupport/blob/master/src/FSharpSupport/project.json)) which has `FSharpSupport` listed as it's language assembly like this:

[code]

The reason for this is that I use FSharpSupport to build FSharpSupport. This generally just works, because I supply `

[2014-11-05 19:34] ardalis opened #856 "kpm pack --overwrite mismatch with stated behavior"
`kpm pack --overwrite` says "Remove existing files in target folders."

"overwrite" implies that new files will overwrite existing files with the same names, if necessary.  It doesn't imply wiping out everything in the destination and then replacing it.  An existing term for the latter behavior is "clean" such as Visual Studio uses today.

Recommendation (choose one):
1) Rename `--overwrite` to so

[2014-11-05 21:23] shanselman opened #857 "The web.cmd made by publishing from VS doesn't tell you the port, nor are you told the point in the command line"
The web.cmd made by publishing from VS doesn't tell you the port, nor are you told the point in the command line.

A console message should say something like "started on http://localhost:5000"

I realize it's in project.json but there's no way for the user to know that

Useful for demos. @coolcsh

[2014-11-06 00:11] #854 closed, assigned to nobody

[2014-11-06 01:02] xqiu opened #858 "CoreCLR version of kpm restore failed with Only one asynchronous reader or writer is allowed time at one time"
When I run kpm restore for azure storage from commandline, I get the following error:

[code]

Nuget.config has:

[code]

Project.json has:

[code]

Workaround: use kpm restore with CLR version, instead of CoreCLR version

[2014-11-06 19:10] dougbu opened #859 "Support -v and --quiet before and after the kpm sub-command"
Currently `kpm.cmd --quiet restore` results in an exception containing
[code]

The error for `kpm.cmd restore -v` is similar.

These particular options should be consistent and should work together.  For example expect quiet output from `kpm.cmd -v restore --quiet` because `--quiet` is later in the command.  But the output from that command is verbose.

Might be helpful to go further and support a

[2014-11-06 19:11] ianhong opened #860 "KPM pack --no-source generates a wrong web.config for IIS"
Hi,
With the no-source option, KPM pack generates the following web.config.

[code]

Because of this, if I configure IIS to points to the wwwroot, the browser reports the following error:

Server Error in '/can' Application.

Unable to locate project.json
  Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more informati

[2014-11-06 19:15] ianhong opened #861 "KPM pack --no-source creates the src folder under the approot folder"
KPM pack --no-source creates the src folder under the approot folder. I'm not sure if this is an expected behavior.

If it is, I think we should change its name to something else to match the option, Precompile during publishing' in VS.

I think this name, no-source, can be confused if it still generates all the source files..

[2014-11-06 19:16] dougbu opened #862 "Avoid NRE for `kpm.cmd help unsupported`"
`kpm.cmd unsupported` displays an Exception containing
[code]
Expect similar output from `kpm.cmd help unsupported` but that command instead displays
[code]

[2014-11-06 19:28] ardalis opened #863 "Console Text Color Persists When 'k web' is stopped via ctrl-c"
If an error occurs and is output in red text, and then the WebListener is killed using ctrl-c, the console color remains formatted red.

[2014-11-06 19:33] dougbu opened #864 "Commands should not display stack traces for normal user errors"
kpm.cmd and k.cmd often end with stack traces though the errors hit are hardly exceptional.  For example `kpm.cmd unsupported` displays
[code]
instead of simply providing the help information.

Similarly `k.cmd test` displays the following for a sample compilation error.
[code]

The stack trace is not useful for these scenarios (unlike say an NRE in `klr.exe`) and displaying it is inconsistent wit

[2014-11-06 22:45] maumar opened #866 "Starter web project.json template has error/typo"
Upon creating a starter web project I get the following messages:

The value of property "postrestore" must be a string, but was "[ "npm install" ]",
The value of property "prepare" must be a string, but was "[ "grunt bower:install" ]"

This is regarding the following part of the configuration:

[code]

message is gone if configuration is changed to:

[code]

[2014-11-06 22:47] #866 closed, assigned to nobody

[2014-11-07 01:49] maumar opened #867 "Cannot reference portable assembly in aspnet50 projects"
Repro:

Create portable class library with the following project.json (portable + core):

[code]

now try referencing it in a console application for aspnet50 and core. Json would look like this:

[code]

This doesn't work, throwing the following exception:

System.InvalidOperationException: Failed to resolve the following dependencies f
or target framework 'Asp.Net,Version=v5.0':
   gac/System.Ru

[2014-11-07 02:41] #867 closed, assigned to nobody

[2014-11-07 08:33] ghost opened #868 "Project-wide and solution-wide usings"
I want to specify included in codefile.cs using directives in pom.json.

for example

[code]

[2014-11-07 08:41] ghost opened #869 "Scaffolding in dlls"
If it possible i want to integrate templates in my compiled dlls

For example, distribute AspNet MVC Scaffolding like dll.
Just install nuget package and you can use AspNet MVC Scaffolding in project.

There would be way to exclude/include this ddls from builded artifacts.
And nuget package must have information about recommended (NOT REQUIRED) nuget-packaged plugins to install.

---

The reasons

[2014-11-07 15:51] #858 closed, assigned to ChengTian

[2014-11-07 19:01] glennc opened #870 "Enable KRE servicing"
We need a global location that has a file listing KRE and package binaries which have been serviced, and which binaries should be loaded in their place.

It is not based on a semver being replaced with a newer semver.

/cc: @blowdart

[2014-11-07 20:29] suhasj opened #871 "Finalize location of released KRE packages for installation"
Currently we have KRE packages in myget which are pulled by our kvm scripts. Post beta we should think about a better location which should host released (not nightly) KRE packages. Some thoughts @glennc  had was having it on Github under 'Releases'. We need to look into the relevant changes in components associated with this change as well

[2014-11-10 08:18] #782 closed, assigned to troydai

[2014-11-10 18:06] troydai opened #876 "Script blocks with spaces in arguments will fail."
ScriptExecutor will remove the quotes in script block unconditionally, as a result user can't wrap argument in quotes.

[2014-11-10 22:13] rmangalore opened #878 "References do not get added correctly when when there is a trailing forward slash in sources of global.json file"
REPRO STEPS:

1. Create a Starter web under c:\school. This gets created here-> C:\school\WebApplication2\src\WebApplication2
	2. Add a new solution folder by name Test. Add a class library to it. Say CalssLibrary1. This gets created here: C:\school\WebApplication2\ClassLibrary1
	3. Edit the global.json file to include this:
	"sources": [ "src", "test","C:/school/WebApplication2/"]
	4. Add referen

[2014-11-10 23:56] lajones opened #879 "Support for text-templating-like functionality"
I was trying to add a .tt file and generate the results I would have gotten before by using the TextTemplatingFilePreprocsesor Custom Tool - see https://github.com/aspnet/Tooling/issues/150

Had a chat with @lodejard about this and apparently there are a number of issues this brings up including producing a file generator using ICompileModule, a "preprocess" step in the build, communication betwee

[2014-11-11 00:15] victorhurdugaci opened #880 "kpm install local package"
It seems that there is no way to install a nupkg that I have locally. I was expecting `kpm install <full path to nupkg>` to work but it doesn't.

The scenario: I pack a library (without sources) on my machine and I want to share it with someone. I can do that but there is no easy way for them to install and consume the nupkg once they receive it.

[2014-11-11 06:00] alinapopa opened #882 "Enable Background GC"
Currently klr.exe runs with non-concurrent garbage collection. Background GC should be enabled by adding STARTUP_CONCURRENT_GC to startup flags in the host.

[2014-11-11 18:16] #824 closed, assigned to victorhurdugaci

[2014-11-11 18:33] PradeepKadubandi opened #883 "[Performance] DTH should defer compilation for project load scenarios"
This was discussed internally. The DTH process (klr.exe) takes a lot of system resources when running while we open the project in Visual Studio and this is the major component of performance delays we see with opening projects.

The thinking was to do enough processing initially to give the list of source files and references to VS (for intellisense) and compile at a later stage when needed.

[2014-11-11 19:31] ChengTian opened #884 "Convert test cases in makefile.shade to xUnit test cases"

[2014-11-11 23:57] lodejard opened #886 "Consider some sort of tooling/assistance for preparing a release"
Resource to get some ideas from http://maven.apache.org/maven-release/maven-release-plugin/examples/prepare-release.html

[2014-11-12 09:40] troydai opened #887 "Expose project build configuration in scripts section of project.json"
There are a few variables surfaced in the [scripts section of project.json](https://github.com/aspnet/Home/wiki/Project.json-file#scripts). However, the current build configuration is not among them.

The variable is useful in such a scenario: copying the output to a folder other than default output
[code]

It worth to mention that `kpm build` support multiple configurations in one build run. If t

[2014-11-12 23:15] ChengTian opened #888 "Inconsistent coloring of "kpm pack" output text on OSX"
Run `kpm pack` on OSX

![screen shot 2014-11-12 at 2 45 27 pm](https://cloud.githubusercontent.com/assets/1383883/5020491/bad3b574-6a7e-11e4-8ceb-4fe49fbbbeaf.png)

[2014-11-12 23:27] tugberkugurlu opened #889 "High Memory and CPU usage of klr.exe"
I cloned MVC repository and ran MvcSample.Web while the debugger is attached on VS 2015 Preview. I noticed that the klr.exe has high CPU and memory usage at the beginning of the application start for about a minute of so. After a minute or so, CPU usage went to a low usage but memory usage was around 600mb.

![screenshot 2014-11-13 01 16 00](https://cloud.githubusercontent.com/assets/328122/502060

[2014-11-14 01:51] #827 closed, assigned to ChengTian

[2014-11-14 02:33] #817 closed, assigned to ChengTian

[2014-11-14 16:18] santiagoaguiar opened #896 "When package is not found (404), a corrupt file is left at the cache."
After having fixed a misconfigured NuGet.config repo reference for aspvnext, and getting a bunch of 404 on kpm restore, a new kpm restore gets the following:

[code]

Looking inside the file, it shows a 404 page:

[code]

Probably, no file should be left on the cache after a 404?

[2014-11-14 17:24] #896 closed, assigned to nobody

[2014-11-14 17:28] djrenren opened #897 "Terminal colors not restored on dependency fetch failure"
On running `kpm restore` if a dependency is not found, the dark-green color that kpm uses, persists after the command finishes.

(My default terminal text color is light green. see how it gets stuck as dark green)
![capture](https://cloud.githubusercontent.com/assets/634666/5050131/8c9ec78a-6bf9-11e4-92e9-dca097d5e6f3.PNG)

[2014-11-14 18:38] Tragetaschen opened #898 "Resx files are included without honoring exclude"
Steps to reproduce:

- Create a vnext class library
- Add `"bin"` to both `exclude` and `packExclude`
- Add a *.resx file
- `kpm build` (works)
- `kpm pack` (works)
- `kpm build`

This is due to the resx file being copied into the `bin` folder by pack and then being picked up by `ResxResourceProvider.GetResources`

[2014-11-15 20:07] lodejard opened #902 "CsprojDumper.exe should be changed to a proj file"
The intent was to have the logic for extracting information in the .proj text file, which can be an embedded resource in the projectmanager assembly. That way it can be written to temp and executed via msbuild.

removes --tools-path command line switch, removes managed exe

[2014-11-15 20:49] lodejard opened #903 "nit, kpm wrap help text"
`Wrap a csproj into a kproj, which can be referenced by kprojs`

should probably be

`Wrap a csproj into a project.json, which can be referenced by project.json files`

[2014-11-16 22:18] davidfowl opened #904 "Wrap command should not create wrap folder if project with same name already exists"
In this scenario, the library author has the following layout:

[code]

Calling `kpm wrap Autofac.PCL.csproj` and `kpm wrap Autofac.Net40.csproj` should update the project.json, but today is creating `wrap/Autofac/project.json`. It should only add update `global.json` if any project was written to the `wrap` folder. As part of this work, properties that we add to the existing `project.json` files

[2014-11-17 17:33] ChengTian opened #906 "Project.json generated by "kpm wrap" should have a poniter to original csproj"
This pointer will be used by DTH and Tooling.

@davidfowl , what's the name of this new property in project.json? How about `wrappedProject`?

[2014-11-18 07:04] borgdylan opened #907 "kpm wrap: call xbuild on mono"
The mono 'xbuild' command is a cross plat implementation of MSBuild and should be called by kpm wrap when hosted on mono.

[2014-11-19 18:04] #286 closed, assigned to nobody

[2014-11-19 19:19] mfrost66 opened #909 "dnu build, pack and publish commands should default to and require a meaningful configuration"
Running kpm build without specifying a --configuration defaults to a "Debug" configuration.  If a config is defined in project.json, this should be the default.  If a configuration is specified that is not found in the project.json, this should error.

[2014-11-19 23:42] #291 closed, assigned to nobody

[2014-11-19 23:50] #504 closed, assigned to nobody

[2014-11-20 00:15] Praburaj opened #910 "kpm pack command line help improvements"
kpm pack -?

  --configuration <CONFIGURATION>  The configuration to use for deployment
[An Example will be helpful.. There are multiple configurations in a project. Startup[Configuration], Configure[Configuration], Debug/Release etc. It will be nice to have an example]

  --no-source                      Don't include sources of project dependencies
[Something like...Compiles the project as a nug

[2014-11-20 00:42] Praburaj opened #911 "Nuget package created by kpm build fails to open in nuget package manager"
Create a new vnext web application. Do a kpm build to get the nuget packages for the project. Try opening the nuget package using nuget package manager to see the below error.

![nugetpackageexplorererrormessage](https://cloud.githubusercontent.com/assets/2294732/5117572/1601d886-700b-11e4-94f4-e6a0a39cc65d.png)

[2014-11-20 02:19] #911 closed, assigned to nobody

[2014-11-20 04:43] #716 closed, assigned to nobody

[2014-11-20 17:09] davidfowl opened #913 "Change runtime protocol for retrieving binaries"
Make it more robust to additions with a self describing format.

[2014-11-21 00:07] #903 closed, assigned to ChengTian

[2014-11-21 01:42] ChengTian opened #918 "May need to use a different approach to define MSBuildToolsPath if necessary later"
See how `kpm wrap` get path to MSBuild when resolving references for csprojs https://github.com/aspnet/KRuntime/pull/908/files#diff-c62c3aae8b28dca90bd7eb1df68088e5R7

Current implementation of `kpm wrap` is using default value of `MSBuildToolsPath`, which is determined by `ToolsVersion` attribute of `Project` element (https://github.com/aspnet/KRuntime/pull/908/files#diff-c62c3aae8b28dca90bd7eb1d

[2014-11-21 14:48] koistya opened #920 "KPM restore can't find .NET assemblies on Linux"
[code]

Where to find the problem?

[2014-11-21 23:25] #906 closed, assigned to ChengTian

[2014-11-22 12:19] davidfowl opened #922 "Add first class Emit to IMetadataProjectReference"
So that we don't have to do this:

https://github.com/aspnet/KRuntime/blob/dev/src/klr.hosting.shared/LoaderEngine.cs

[2014-11-23 17:09] anuraj opened #924 "kvm list command display error - Method invocation failed because [System.String[]] doesn't contain a method named 'Contains'."
KVM list command displays Method invocation failed because [System.String[]] doesn't contain a method named 'Contains'. error on Windows 7

K Runtime Environment Version Manager - Build 10017

[2014-11-23 18:51] #924 closed, assigned to nobody

[2014-11-23 22:05] akoeplinger opened #925 "Rename 'sources' in global.json to something else (e.g. 'projectSearchPaths')"
(based on today's discussion on JabbR)

In global.json the `sources` key is used to specify paths where the K runtime is looking for projects. This is easily confused with the `sources` section in project.json and also doesn't make it clear that you should be specifying the folder **above** project.json there.

Proposal: rename `sources` to `projectSearchPaths` in global.json, to clear up the conf

[2014-11-23 22:13] Alxandr opened #926 "Support adding dependencies from build-time only dependencies"
Currently, kpm support adding `build` time only dependencies, which makes a lot of sense for compilers like `YoloDev.FSharp.AspNet`. However, every project that uses `YoloDev.FSharp.AspNet` **must** add a dependency to `FSharp.Core`. So there should be some way I in `YoloDev.FSharp.AspNet` can specify that any project that depends on it, even if they only use it as a build type dependency, must st

[2014-11-24 10:34] #796 closed, assigned to nobody

[2014-11-24 16:40] #380 closed, assigned to nobody

[2014-11-24 17:55] hfjallemark opened #928 "Support for Azure web site with multiple applications"
There seems to be no way to publish to and/or run multiple applications within one Azure web site. The reason seems to be the folder layout of approot; only the approot for one application can exist (multiple wwwroots seem to work fine).

I am not sure if the issue is within Azure or KRuntime, but from what I can see it is the `kpm pack` that outputs the folder structure.

[2014-11-24 19:03] troydai opened #929 "Command k crossgen is broken"
With the update of `k.cmd` in https://github.com/aspnet/KRuntime/commit/29e6e8a10f4dfff004da9510d4f634070a6d6430, the `k crossgen` is never channeled to `k-crossgen.cmd` that essentially breaks steps in `kvm.ps1` (https://github.com/aspnet/kvm/blob/dev/src/kvm.ps1#L376).

In addition, parameter `--appbase` is missing from the `k-crossgen.cmd` also breaks the scenario even user invoke `k-crossgen.c

[2014-11-24 19:47] AlexGhiondea opened #931 "Support getting latest behavior of quirks for binary compatibility"
Enable the hosts to set the right TFM or compatibility flag to enable getting the latest behavior from a binary compatibility perspective.

For the desktop host, please set the TFM when creating the AppDomain that will host the application
For the coreCLR host, please set the 'UseLatestBehaviorWhenTFMMissing' compatibility flag when setting up the host.

[2014-11-25 00:02] #904 closed, assigned to ChengTian

[2014-11-25 18:42] troydai opened #932 "Command kpm is broken when KRE is installed to machine-wide location"
The machine-wide location is the `program files` folder. The white space in the path caused failure.

[code]

The change in https://github.com/aspnet/KRuntime/commit/29e6e8a10f4dfff004da9510d4f634070a6d6430 removing the quote wrapping the executable is the root cause.

[2014-11-25 18:48] ChengTian opened #934 "Allow users to specify location of wrapper project.json when doing "kpm wrap""
Thanks for feedback from @anurse .

@davidfowl , is `--target-json` a good name for this option?

`kpm wrap ./ClassLibrary1/ClassLibrary1.csproj --target-json ./ClassLibrary1/project.json`

[2014-11-26 03:12] ChengTian opened #936 "Add functional tests for kpm wrap"

[2014-11-26 03:17] #902 closed, assigned to ChengTian

[2014-11-26 03:27] davidfowl opened #937 "kpm should have a command to list installed and referenced packages"
This will help with command line tools trying to analyze what is being referenced.

[2014-11-26 07:42] glennc opened #938 "Flow selected KRE information to DTH"
Flow a projects selected KRE, and any other useful information, to the DTH so that it can do the right thing.

Specific scenario: You cannot load 64bit only reference assemblies unless the DTH sets an appropriate switch on the compiler. It needs to know the bitness of the selected KRE to allow that to happen.

[2014-11-26 23:35] Jetski5822 opened #939 "DesignTimeHostProjectReferenceProvider should not be used if the Project specifies a different one."
Line 72 in ProjectLibraryExportProvider

[code]

When running in the Design host, the IProjectReferenceProvider type returned is always DesignTimeHostProjectReferenceProvider regardless if you have registered another one for that project. I would expect that the project has specified to use should trump the default.

[2014-11-30 11:29] RouR opened #941 "kruntime in Local System account"
Impossible run it from Local System account.

It necessary for Jenkins service, which run from that account. In jenkins i have job with "execute windows batch command = kvm upgrade & kpm restore & START k web " for run my web application and testing it

(Or maybe you know better solution for test it in jenkins)

[2014-12-01 19:09] kanchanm opened #944 "kpm restore fails silently when the project path is too long"
When the path where the project lives is too long (>260 char) package restore fails but doesn't show any errors.

For e.g. below none of the packages were restored but restore shows the following log -
[code]

In the above case I had a global.json file pointing to packages that are already checked in but even when pointing to myget I notice the following log and the packages aren't actually restor

[2014-12-01 22:50] PradeepKadubandi opened #945 "DTH should return .csproj file instead of wrapper project.json for references"
If k projects reference csproj, right now DTH sends the wrapped project.json in the references message. It should instead send the .csproj that's being wrapped.

[2014-12-02 10:20] Tragetaschen opened #950 "Dependency resolution changes context during packing with --no-source"
I have the following setup:
[code]
The reason is that the Nuget's Ninject does not work with Mono due to missing System.Reflection functionality and I have to compile it with the MONO flag. MyProject references Microsoft.Framework.DependencyInjection.Ninject and I'm trying get dependency resolution to pick up Ninject from the local folder.

The problem is that DependencyInjection comes with a glob

[2014-12-02 11:53] filipw opened #951 "Exception when running web.cmd after kpm pack"
After packing an MVC app created from the VS template using KPM, alongside with CoreCLR, `web.cmd` seems to start the app correctly

![2014-12-02_1252](https://cloud.githubusercontent.com/assets/1710369/5262133/21b53404-7a22-11e4-8f12-ca4c4eb231aa.png)

However, when you navigate to `localhost:5000` the following error is shown:

[code]

![2014-12-02_1252_001](https://cloud.githubusercontent.com/a

[2014-12-02 19:24] bricelam opened #952 "Package Manager Console hook for ASP.NET 5 projects"
If a user is developing on Windows in Visual Studio, it's clear from aspnet/EntityFramework#1196 that they still expect to be able to use the Package Manager Console with ASP.NET 5 projects.

The piece that's missing for us to light up the Entity Framework PowerShell commands on ASP.NET 5 projects is a hook to import our PowerShell module.

For *.csproj projects this is as simple as calling `Impor

[2014-12-02 22:27] muratg opened #954 "Kpm pack missing dependencies on Mac/Linux"
- System.ComponentModel.Annotations
- System.ComponentModel

Details: https://github.com/aspnet/Home/issues/220

[2014-12-02 23:35] ChengTian opened #955 "Reference an assembly from ASP.NET 5 projects"
Here is the spec I can think of

`kpm wrap <path_to_dll> --target-json <path_to_project.json>`

If `--target-json` is not given, we resolve the root dir using `<path_to_dll>` as a start point, and create `project.json` in `<root_dir>/wrap/<assembly_name>` for the assembly.

@davidfowl , please correct me or add more details. Thanks.

[2014-12-03 18:21] #932 closed, assigned to nobody

[2014-12-03 20:06] #934 closed, assigned to nobody

[2014-12-03 20:21] ChengTian opened #957 "Add kpm packages command for feed management"
Had a discussion with @lodejard and @davidfowl .

My work should be based on branch https://github.com/aspnet/KRuntime/tree/feature-feeds-new

1. Remove configuration component from build output path.
2. Delete Blob-related `kpm feed` operations. Keep the abstraction for future extension.
3. Add `kpm build --out-packages <feed_path>`, which builds a whole solution and generate a local package feed

[2014-12-03 23:56] #860 closed, assigned to ChengTian

[2014-12-04 00:23] bricelam opened #958 "Enable building meta-packages"
Calling `kpm build` on the following `project.json` file (with no source code)...

[code]

...should produce an empty package with a nuspec similar to the following.

[code]

[2014-12-04 01:03] davidfowl opened #959 "GetCompiledAssembly null refs when there is a compile error"
[code]

[2014-12-04 08:27] bricelam opened #960 "ANIs and cross-platform libraries"
After a very thorough investigation of Entity Framework's use of Assembly-Neutral Interfaces in a cross-platform library, I've come to the conclusion that we need to do one of three things.

1. Cut them
2. Strong-name them
3. Don't do tear-out on non-ASP.NET frameworks (i.e. treat them as normal interfaces in the containing assembly) and issue a warning that they won't work there

See also #633, a

[2014-12-04 17:24] balachir opened #961 "Design Time host build fails with The specified path, file name, or both are too long."
1. Clean machine with VS 2015 Preview
2. Clone this repo : https://github.com/balachir/WebDevSamples
3. Open solution GruntGulpBower/GruntBower01_Intro (empty ASP.NET 5 project with index.html and added Bootstrap)
4. Add exclude in project.json
   "exclude": [
       "wwwroot",
       "node_modules",
       "bower_components"
   ],
5. Ctrl-F5

ACTUAL
![image](https://cloud.githubusercontent.com/as

[2014-12-04 18:29] ChengTian opened #962 ""kpm pack" should look for web.config in wwwroot, instead of project root"

[2014-12-04 22:57] bricelam opened #963 "Ability to strong-name assemblies"
`kpm buid` should allow the assemblies to be strong-named **at least** for non-ASP.NET frameworks if nothing else.

[2014-12-04 23:04] #959 closed, assigned to davidfowl

[2014-12-04 23:17] #633 closed, assigned to nobody

[2014-12-04 23:23] ChengTian opened #964 "Add '--in-place' option for "kpm wrap""
`kpm wrap --in-place` generates project.json in the same folder as given csproj file. Once this option is specified, it is also implicitly applied to wrap operations for all csprojs referenced by given csproj.

[2014-12-05 00:13] #786 closed, assigned to nobody

[2014-12-05 00:16] #722 closed, assigned to nobody

[2014-12-05 00:43] #346 closed, assigned to nobody

[2014-12-05 08:15] davidfowl opened #967 "Rename kpm commands"
kpm pack should produce nuget packages
kpm build should produce assemblies
kpm bundle should produce a deployable bundle

[2014-12-05 16:22] Tragetaschen opened #968 "compiler/preprocess classes also run on referencing projects"
I have created a [repository](https://github.com/Tragetaschen/compilerpreprocess) showing the behavior.

When you `kpm pack --no-source --quiet` in Referencing, the output of Dependency\compiler\preprocess\Class happens for both Dependency and for Referencing
[code]

[2014-12-05 16:52] #806 closed, assigned to ChengTian

[2014-12-05 20:14] #910 closed, assigned to Praburaj

[2014-12-05 22:29] #416 closed, assigned to ChengTian

[2014-12-05 23:02] pranavkm opened #971 "Add an AdditionalOptions parameter to CompilerOptions"
The plan is to have it as an ad-hoc container for compiler options.

[2014-12-06 01:14] giggio opened #973 "BUG: compilation (kpm build) fails with CS0009 when assembly has .dll resources"
Steps to repro:

1. On VS 2015, create a new ASP.NET Class Library
2. Add a reference to Selenium.Webdriver (I used 2.44.0.0)
3. If you build on VS or `kpm build` it will fail with CS0009.

Error on `kpm build`:

[code]

VS is more specific, it points to the exact file in the artifacts folder, and this file is NOT a .NET assembly:

[code]

I am not sure exactly what is going on, what I do know is

[2014-12-06 08:18] borgdylan opened #974 "Regression: NRE in KRE build 10755 (regressed w.r.t build 10753)"
When doing k web:

[code]

[2014-12-06 19:58] #974 closed, assigned to davidfowl

[2014-12-06 19:59] davidfowl opened #975 "Figure out servicing index location on non windows machines"
/cc @lodejard @glennc

[2014-12-07 08:10] #870 closed, assigned to lodejard

[2014-12-07 08:10] #883 closed, assigned to davidfowl

[2014-12-07 08:10] #961 closed, assigned to davidfowl

[2014-12-07 08:46] davidfowl opened #976 "Expose dependency type information on ILibraryInformation"

[2014-12-09 07:13] ChengTian opened #979 ""kpm pack" should consider wrapped projects as special cases"
@davidfowl found a bug when we `kpm pack` an app which references results of `kpm wrap`. Reproduce steps:
1. `kpm wrap` a csproj
2. Reference the wrapped csproj from a kproj
3. `kpm pack` the kproj
4. Run the packed app

The packed app cannot run because `kpm pack` only copies source code and it doesn't consider `assembly` & `pdb` in project.json of dependency projects.

Here is the solution @davi

[2014-12-09 19:17] ChengTian opened #980 "How does "kpm pack" handle web.Debug.config and web.Release.config"
In addition to `web.config`, we have `web.Debug.config` and `web.Release.config` in MusicStore. Current `kpm pack` always copies `web.config` to destination and ignores the other two files.

@lodejard  @davidfowl @GrabYourPitchforks , do we want to discard `web.Debug.config` and `web.Release.config`? Or we want to change `kpm pack` to support the two web.config files (maybe with `kpm pack --config

[2014-12-09 20:15] yishaigalatzer opened #981 "Review default settings in machine.config for core CLR scenarios"
We need to verify what non default values exist in machine.config that will make the behavior different between coreCLR and desktop.

Then identify the specific ones that might affect ASP.net and decide on further actions, for example do we want to change them in core CLR to match desktop? Are we going to provide default configuration for them?

[2014-12-09 23:50] ChengTian opened #982 "klr and managed code has inconsistent behaviors when handling KRE_TRACE"
klr thinks verbose flag is on when `KRE_TRACE` has a value, no matter what the value is:
https://github.com/aspnet/KRuntime/blob/dev/src/klr/klr.cpp#L16

`RuntimeBootstrapper` thinks verbose flag is on only when value of `KRE_TRACE` is `1`:
https://github.com/aspnet/KRuntime/blob/dev/src/klr.hosting.shared/RuntimeBootstrapper.cs#L75

So if you set `KRE_TRACE` to `0`. Managed code doesn't print any

[2014-12-10 22:46] Tratcher opened #983 "Runtime identification is inconsistent between KVM and KPM pack"
To select the current runtime with KVM you do:
`KVM use 1.0.0-rc1-10770 -x86 -runtime CLR`

However, with KPM pack it looks like this:
`KPM pack --runtime KRE-CLR-x86.1.0.0-rc1-10770`

The format difference leads to confusion when working with both tools.

If I use one format with other command I get less than helpful errors:
[code]
[code]

The KVM docs are better at explaining what format to use

[2014-12-11 18:22] #936 closed, assigned to ChengTian

[2014-12-11 20:10] MattGal opened #984 "BUG: Nuget Package restore fails silently (saying it could not find packages) for UAC mismatch."
- Run VS non-elevated.
- Set a local package source that is not normally accessible (writing-wise) from non-elevated process, such as C:\NuPkgs
- Reference a package only available from this source from a K Project.
- Attempt to use API from this package.

Expected: SHould work; this works on older nuget scenarios for desktop.NET (where both the project and package source are outside the %USERPROF

[2014-12-11 23:44] bricelam opened #985 "AppDomains don't work (aspnet50)"
The following code...
[code]

...throws the following exception.

[code]

[2014-12-12 00:28] rynowak opened #986 "KPM pack should warn about "webroot": ".""
If you set `"webroot": "."` in a project.json, kpm pack will fail. If you keep trying, it will try to keep recursively packing the same directory.

This is a relatively easy mistake to make for someone that's new, we might want to blow up if you do this.

[2014-12-12 07:51] cherrydev opened #987 "kpm ignores errors of project.json event scripts"
If you set, for example, a "prebuild" script in project.json, and the command fails (returns a non-zero exit code) kpm completely ignores it.  Likewise, if a "postbuild" script fails, "kpm build" still reports "Build Succeeded".

[code]

and then run ```> kpm build``` you will receive the message
[code]

The remainder of the build will then continue.  I've yet to think of reason why this would be

[2014-12-12 19:44] #962 closed, assigned to ChengTian

[2014-12-12 19:45] #327 closed, assigned to ChengTian

[2014-12-13 08:39] davidfowl opened #988 "Shared sources from packages don't show up in the IDE anymore"
This is a regression that happened as part of the DTH optimizations

[2014-12-15 21:16] gibeon-andrew opened #990 "Adding interop dll library causing kpm failed to restore"
http://stackoverflow.com/questions/27410472/asp-net-vnext-bin-dll

The steps are same with my question within stack overflow,
Basically to make System.Data.SQlite.dll work, it needs to have SQLite.Interop.dll within the search path of dll.
As I'm not quite sure where to put it, I try to put SQLite.Interop.dll within this folder
C:\Users\{your username}\.kpm\packages\System.Data.SQLite.Core\1.0.94.

[2014-12-16 01:04] troydai opened #991 "Improve project.json schema to allow host service skip restoring some packages"
Host service like Kudu make leverage project.json to restore packages remotely. However some dependencies in the project.json may be only useful in development environment. For that case restoring those packages is a waste.

The current project.json scheme doesn't imply what dependencies are development only. Therefore the host service won't be able to decide whether to skip restoring a package.

[2014-12-17 18:06] victorhurdugaci opened #992 "kpm fails on CoreCLR"
Use `KRE-CoreCLR-amd64.1.0.0-rc1-10804` and run `kpm restore` on Music Store:

[code]

[2014-12-17 18:09] pranavkm opened #993 "Refactor parsing project.json so that parsing of compilation options can be pluggable"
Today, the parsing of project.json is entirely managed inside Project.cs which assumes the schema of `compilationOptions` is fixed. This works well for C#\ Roslyn, but does not lend well to custom languages \ project resolvers.

## Proposal
* Introduce `ICompilationOptionsReader` than can parse `compilationOptions` node in project.json. The specific type of this interface is specified via a `compi

[2014-12-17 18:21] #971 closed, assigned to pranavkm

[2014-12-17 18:41] borgdylan opened #994 "Regression: Builds after 10801 are not loading all assemblies from the nupkg during kpm build"
I was running a build using my compiler which has several assemblies in the nupkg. recent KREs are not loading all assemblies leading to ```MissingMemberException``` cases.

[2014-12-17 23:36] MattGal opened #997 "StackOverflowException in Microsoft.Framework.Runtime.LibraryManager.Flatten adding erroneous packages to KProject"
While experimenting with K projects, I added a reference to "System.Net.Http": "2.0.20710.0" from Nuget.Org.  I expected this was going to have some errors, but not a constantly crashing klr.exe.

As soon as you add this reference, klr will crash repeatedly due to stack overflow in Microsoft.Framework.Runtime.LibraryManager.Flatten

[2014-12-18 00:05] bricelam opened #998 "Allow commands to be inherited from dependencies"
For example, if a user installs the `Microsoft.Framework.CodeGeneration` package into their project, the `k gen` command should automatically light up.

[2014-12-18 01:27] PradeepKadubandi opened #999 "kpm restore should look at non-http package repository sources first before trying the http ones"
In the scenario where you have fixed versioned references in project.json, and when the user has a bad internet connection, looking at any non-http sources first would help kpm restore performance (when it finds the package in those sources).

[2014-12-19 21:05] #999 closed, assigned to troydai

[2014-12-20 04:59] #939 closed, assigned to nobody

[2014-12-20 05:03] #889 closed, assigned to nobody

[2014-12-20 05:06] #869 closed, assigned to nobody

[2014-12-20 05:08] #868 closed, assigned to nobody

[2014-12-20 05:19] #826 closed, assigned to nobody

[2014-12-20 05:39] #673 closed, assigned to nobody

[2014-12-20 05:40] #671 closed, assigned to nobody

[2014-12-20 05:44] #695 closed, assigned to nobody

[2014-12-20 05:47] #608 closed, assigned to nobody

[2014-12-20 05:54] #480 closed, assigned to pranavkm

[2014-12-20 06:02] #247 closed, assigned to nobody

[2014-12-20 06:03] #237 closed, assigned to nobody

[2014-12-20 15:02] #623 closed, assigned to nobody

[2014-12-21 16:26] #951 closed, assigned to pranavkm

[2014-12-22 21:09] Praburaj opened #1005 "kpm pack with --runtime path ending with a slash throws null reference exception"
[code]

[2014-12-22 22:57] #992 closed, assigned to nobody

[2014-12-23 16:42] Praburaj opened #1007 ""Out of Memory" when running kpm restore on Linux"
_From @Yuioup on November 27, 2014 14:59_

[code]

_Copied from original issue: aspnet/MusicStore#295_

[2014-12-23 16:48] Praburaj opened #1008 "PathTooLongException when running on VS 2015 Preview"
_From @tugberkugurlu on November 13, 2014 9:53_

I cannot run MusicStore on my machine with Visual Studio 2015 Preview. It gives me the below error. I am getting this error for almost all projects where I use node_modules (even if exclude bower and npm paths):

[code]

![image](https://cloud.githubusercontent.com/assets/328122/5026327/a0d608cc-6b2b-11e4-9695-8805cfd0cd4d.png)

_Copied from origina

[2014-12-24 02:12] davidfowl opened #1011 "DTH graph walk happening for runtime too many times"
This is happening because of the load context change c135d8d126dce2523969f547cf0bfe8f3423f733

[2014-12-26 20:39] Praburaj opened #1012 "Issues with install the Selenium NuGet package"
_From @0xdeafcafe on November 26, 2014 13:38_

When I install the NuGet package for selenium, Visual Studio gives me this error:
![sup](http://i.imgur.com/hXDaM5L.png)

This shows even when I only import the "aspnet50" framework.

_Copied from original issue: aspnet/Home#217_

[2014-12-26 20:53] #1012 closed, assigned to nobody

[2014-12-26 21:05] #1011 closed, assigned to davidfowl

[2014-12-28 04:32] davidfowl opened #1013 "Make it easier to run klr"
### Scenario 1

`klr /path/to/MyApp.exe`
`klr /path/to/MyApp.dll`

### Scenario 2
`klr /path/to/folder/project.json`
`klr /path/to/folder`

### Expansions

`klr /path/to/MyApplication.dll` --->  `klr --appbase /path/to/ --lib /path/to/ MyApplication`
`klr /path/to/folder run` ---> `klr --appbase /path/to/folder Microsoft.Framework.ApplicationHost run`

This makes k.cmd less important possibly exti

[2014-12-28 17:28] #508 closed, assigned to nobody

[2014-12-28 20:43] ptrstpp950 opened #1014 "Support version ranges in project.json"
I am trying to force kpm restore for downloading latest nuget from feed. I did following steps:
1) I deleted everything under: `C:\Users\[user]\.kpm\packages\Newtonsoft.Json`
2) I created simple project.json file:
[code]

3) I run following commands:
-  `kpm restore`-> Newtonsoft.Json package wasn't downloaded
-  `kpm pack` -> reports an error:
[code]

**Sum up**
Did I do something wrong? Or `proj

[2014-12-28 23:30] RickStrahl opened #1015 "Publish from VS produces multiple KRE directories in KPM output"
When using the Visual Studio Preview to publish my project to disk I notice it's producing extra KRE folders that are not selected in the publish settings or any of the projects associated with the solution:

![extrakreversions](https://cloud.githubusercontent.com/assets/1374013/5565297/3ea9ec76-8e95-11e4-8062-0d9deaf159fc.png)

According to VS it's running this command:

[code]

The code works an

[2014-12-29 19:57] suhasj opened #1017 "'k test' does not return to shell post execution on Mono"
This issue is happening consistently on Mac and Linux on Mono 3.10.0

Running `k test` on a test project executes the tests as expected but once the summary is displayed, the control does not return back to the shell. Instead it keeps waiting and can be exited by pressing `Ctrl + Z`.

I debugged the aspnet.xunit runner and this [line](https://github.com/aspnet/aspnet.xunit/blob/dev/src/xunit.runne

[2014-12-29 20:05] Praburaj opened #1018 "kpm restore fails to proceed to fallback sources when there is an error in the first listed feed"
_From @itsananderson on May 13, 2014 15:51_

I was walking through the getting started section, and I noticed an exception being thrown from the `kpm restore` step.

[code]

(I've sanitized the actual feed URL, but I'm a Microsoft employee if that helps)

My guess is that one of three things is happening:

1. kpm doesn't know how to negotiate authentication with the private NuGet feed
1. The priva

[2014-12-29 20:45] #558 closed, assigned to nobody

[2014-12-29 20:52] #488 closed, assigned to nobody

[2014-12-30 00:38] troydai opened #1019 "Moving hardcoded strings to string resources"

[2014-12-30 19:34] #803 closed, assigned to nobody

[2014-12-30 23:27] #1015 closed, assigned to nobody

[2014-12-31 17:50] victorhurdugaci opened #1020 "Two projects with the same name cannot be referenced"
From here: http://stackoverflow.com/questions/27704235/moving-solution-to-asp-net-vnext-unable-to-reference-assembly

It might be by design but if that's the case we need to provide better diagnostics.

Long story short: the project in `src` and the one in `test` have the same name. You cannot reference the project in `src` from `test`

[2015-01-02 18:07] carolynvs commented on #973
@giggio Thanks for the new packages, they are very helpful.

[2015-01-02 19:18] anhp opened #1023 "[​GB18030]Publish a project with GB18030 encoded characters in the project name will meet error."
This bug  is tracking Dev14 issue # 1092241.

VS:ENU 14.0.22403.0 WPT
Machine is WNVM14241
Steps to reproduce:
1. First change the system locale to Chinese(Simplified,China).

The computer needs a restart.
2. Then start VS.
3. Create a new C# ASP.NET 5 Starter Web with GB18030 chars in the name called:GB18030Publish㐀㒣㕴
Then publish the site to file system or windows azure website will get an excep

[2015-01-02 21:12] sayedihashimi opened #1024 "Ability to exclude projects via global.json"
In Visual Studio we would like to enable ```Exclude Project``` which would do the following.

 1. Remove the project from Solution Explorer
 1. Remove the project from the list of projects being built

To facilitate this I'm proposing a new entry in ```global.json``` as follows.

[code]

I don't believe that we need to support expressions like ```**``` or ```*```.

When a project is excluded in Vi

[2015-01-02 22:00] MattGal commented on #984
Can't repro it myself with latest bits, closing.

[2015-01-02 22:00] #984 closed

[2015-01-02 23:53] pranavkm opened #1025 "kpm -v restore does not print complete dependency graph"
I've been attempting to diagnose an issue where multiple versions of System.Collections.Immutable are loaded in the application which causes the the app to fail at runtime. Unfortunately looking for System.Collections.Immutable in the verbose output doesn't quite help:

#### Truncated output
[code]

Unfortunately this doesn't help in diagnosing what packages result in a conflict in my tree. The ve

[2015-01-03 02:45] wenhx commented on #1023
你贴的中文怎么变成乱码了？ 用非ASCII字符做文件名不是个好习惯。

[2015-01-03 13:10] lucamorelli commented on #1024
Is it possible to reintroduce the command Exclude from Project in the solution project to remove a single or a Group of items with Solution Explorer? Actually I have to mode manually the files outside the solution directory

[2015-01-03 13:34] davidfowl commented on #1025
Can you show the output without the pipe/

[2015-01-03 15:25] pranavkm commented on #1025
This was running kpm restore on the Mvc solution which is quite massive. http://projectk-tc/viewLog.html?buildId=82412&buildTypeId=Mvc&tab=buildLog#_focus=103&state=103 has something that looks similar.

[2015-01-03 15:55] davidfowl commented on #1018
That's by design. Use --ignore-failed-sources to ignore sources that may not be reachable or failing etc

[2015-01-03 16:06] akoeplinger opened #1026 "File references in "code" node in project.json should raise an error if invalid"
Imagine this folder structure:
[code]

and this project.json:
[code]

main.cs has a reference to a class defined in test.cs. If I "kpm build" this it works fine.

But when I change the path from "../external/test.cs" to something else (so that the file isn't found anymore), this results in no direct error. Instead it complains about not being able to find the class in main.cs, digging for the reas

[2015-01-03 16:46] #1018 closed

[2015-01-03 23:05] Eilon commented on #1023
Attempted translation:

[2015-01-03 23:33] wenhx commented on #1023
@Eilon yes, I think @anhp can read chinese, and I am trying test that is comment not supported chinese.

[2015-01-04 21:09] TheDarkTrumpet commented on #1025
That link isn't working for me...not sure it's going to work for anyone else either.  I tried projectk-tc.com and the rest as you had it and it still was a 404.

[2015-01-05 04:02] vbouret commented on #661
I got this exception while using this option of self-hosting in Visual Studio 2015 Preview (14.0.22310.1)

    "commands": {
        "web": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --server.urls http://localhost:5000"
    }

The error fixed itself by restarting Visual Studio but displaying the InnerException on the Console Output may help the developer diagnose more e

[2015-01-05 11:22] hjgmoleman opened #1028 "ar"

[2015-01-05 18:39] anhp commented on #1023
@wenhx,
I can't read Chinese!

[2015-01-05 19:30] MattGal opened #1030 "No clear way for specifying, managing, and restoring KRE versions in source control"
Obviously this is a greater issue now during initial development than it will be in the future, but there will inevitably be changes made in the runtime and dependent packages in the future that will mirror this.

When I hit KRE-specific issues today, I use KVM upgrade to get the newer version of KRE that I need, then I need to select the version to run against if VS is already running, then thing

[2015-01-05 19:49] davidfowl commented on #1030
KVM is the way you manage versions of the KRE. We'll have MSIs as well. One thing you do bring up here that we have plans to implement, is a app/library saying what the minimum KRE version it requires to run.

[2015-01-05 23:42] ChengTian opened #1033 "Skip kpm wrap functional tests with conditional test attributes on Unix"
Current way: https://github.com/aspnet/KRuntime/blob/dev/test/Microsoft.Framework.PackageManager.FunctionalTests/KpmWrapTests.cs#L31

New feature that can be used: https://github.com/aspnet/WebListener/blob/e10f64c32f0293424182d62078a4892a37c8d096/test/Microsoft.AspNet.Server.WebListener.FunctionalTests/OpaqueUpgradeTests.cs#L36-L38

[2015-01-06 14:19] #920 closed

[2015-01-06 14:47] borgdylan commented on #994
Ping

[2015-01-06 16:30] davidfowl commented on #994
Will look into it when I get back from vacation on thurs

[2015-01-06 18:39] Praburaj commented on #954
Keeping the bug with a repro and closing the remaining ones.

[2015-01-06 18:39] #954 closed

[2015-01-06 22:41] ChengTian opened #1035 "Term change in kpm: pack -> bundle, build -> pack"
Reactions to #1037

Impacted elements:
1. In `project.json`: `packExclude`, `prepack`, `postpack`, `prebuild`, `postbuild`
2. In KoreBuild: `k-build` -> `k-pack`

[2015-01-06 22:46] Praburaj opened #1036 "Improve crossgen performance"
Crossgen takes about `~1:15 mins` right now for a `CoreCLR` package install.

@shhsu @troydai

[2015-01-07 01:16] troydai commented on #850
@anandjp I can't repo this issue on a recent VS build.

[2015-01-07 02:34] memphisweb opened #1039 "kpm restore fails with null argument exception on mono"
On a fresh install of CentOS 7 kpm restore fails after following these steps:

[code]
And I've tried compiling with source:  http://stackoverflow.com/questions/27805272/kpm-restore-fails-with-null-argument-exception

Here's the error I get with both approaches.  What am I missing?
[code]

[2015-01-07 02:56] davidfowl commented on #1039
What version of mono?

[2015-01-07 03:08] davidfowl commented on #850
VS is fixed but the issues exists. Just run the CoreCLR version of klr manually without an --appbase flag

[2015-01-07 03:10] memphisweb commented on #1039
The latest RPM package is 3.10 and I also tried from the latest git trunk 3.12. Same result.

[2015-01-07 03:29] davidfowl commented on #1039
What version of the KRuntime? k --version?

[2015-01-07 03:33] memphisweb commented on #1039
1.0.0-beta1-10662

[2015-01-07 03:39] brporter opened #1040 "System.InvalidOperationException: Failed to resolve the following dependencies for target framework 'Asp.NetCore,Version=v5.0'"
Any project that I generate (I'm using Yeoman) that I then try and run under CoreCLR gives this message:
[code]

kpm restore doesn't seem to make a difference.

Here is the list of runtimes I've got loaded on my machine.
[code]

Running on CLR works.

[2015-01-07 03:41] davidfowl commented on #1040
Did you run kpm restore like the error says?

[2015-01-07 03:53] Praburaj commented on #1039
Looks like `kpm restore` is throwing this error.

[2015-01-07 03:56] Praburaj commented on #1039
Ah.. Commented on a wrong bug. ignore the above comment.

[2015-01-07 03:58] Praburaj commented on #1008
I cannot reproduce this with the latest VS bits.

[2015-01-07 03:58] #1008 closed

[2015-01-07 04:00] memphisweb commented on #1039
@Praburaj  kpm restore does create the error.

[2015-01-07 04:00] brporter commented on #1040
Of course.

Took a second look, and I think the ASP.NET generator Yeoman must be out of date; the generated project.json referenced the wrong dependencies. Updated that, and it's working properly now.

[2015-01-07 04:00] Praburaj commented on #944
dup of https://github.com/aspnet/KRuntime/issues/1008?

[2015-01-07 04:04] Praburaj commented on #861
I cant seem to reproduce this issue. @ianhong are you able to reproduce this issue?

[2015-01-07 04:05] davidfowl commented on #1040
Ok, file a bug on that then.

[2015-01-07 04:05] #1040 closed

[2015-01-07 04:16] Praburaj commented on #987
Fixed https://github.com/aspnet/KRuntime/pull/1016

[2015-01-07 04:16] #987 closed

[2015-01-07 04:22] Praburaj commented on #373
@ahmetalpbalkan do you still see this reproduce? We have been able to get apps like MusicStore and bugtracker running on mono. Do you mind retrying this?

[2015-01-07 04:29] Praburaj commented on #491
I think this problem does not exist any more. @balachir @ChengTian could you confirm?

[2015-01-07 04:32] Praburaj commented on #706
Does not reproduce now. @balachir do you see this reproduce still?

[2015-01-07 04:33] Praburaj commented on #706
Btw I tried `kpm build` from command line.

[2015-01-07 08:53] ahmetalpbalkan commented on #373
@Praburaj no, this is gone for a while now.

[2015-01-07 08:53] #373 closed

[2015-01-07 09:35] Tragetaschen commented on #1039
Well, what is creating the error is Mono's Console implementation.
[setfgcolor](https://github.com/mono/mono/blob/master/mcs/class/corlib/System/TermInfoDriver.cs#L432) is obviously `null`, so [reading](https://github.com/mono/mono/blob/master/mcs/class/corlib/System/TermInfoDriver.cs#L218) from one of the [possible TermInfoReaders](https://github.com/mono/mono/blob/master/mcs/class/corlib/System/

[2015-01-07 10:32] memphisweb commented on #1039
@Tragetaschen  thanks!  `export TERM=dumb` did the trick, I'd never figured that out.
`Restore complete, 87322ms elapsed`  Joy!

Want to answer it at [SO](http://stackoverflow.com/questions/27805272/kpm-restore-fails-with-null-argument-exception) for the points?

[2015-01-07 15:45] Tragetaschen opened #1041 "Failures to load or instantiate a compiler/preprocess ICompileModule should be more verbose"
[Currently](https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.Runtime.Roslyn/RoslynCompiler.cs#L157), Exceptions are put on the Trace. When something fails (version missmatch on the `!preprocess`-Assembly, failures to instantiate, etc.), the `ICompileModule`s might not have run or might have partly run. Nevertheless as per default, there is no indication in the log.

An example i

[2015-01-07 15:47] Praburaj commented on #1039
Thanks @Tragetaschen and @memphisweb.

[2015-01-07 15:47] #1039 closed

[2015-01-07 15:47] Praburaj commented on #373
Great. Thanks for confirming @ahmetalpbalkan

[2015-01-07 17:10] ChengTian commented on #491
Yeah, `kpm restore` shows dependency graph only when `--verbose` is provided. VS doesn't use `--verbose` option any more, so the problem is gone.

[2015-01-07 17:10] #491 closed

[2015-01-07 18:11] troydai commented on #850
This is wrong:

Return type is `bool`
https://github.com/aspnet/KRuntime/blob/dev/src/klr.core45/klr.core45.cpp#L321

Assigned to `HRESULT`
https://github.com/aspnet/KRuntime/blob/dev/src/klr/klr.cpp#L96

Good old C++ time.

[2015-01-07 18:33] ianhong commented on #861
@ChengTian tried to repro this issue, but he coudln't. I think this issue has been fixed after I reported the problem.

[2015-01-07 18:34] Praburaj commented on #706
I can reproduce this from VS. But not from command line. I tried both `kpm build` and `kpm pack` from command for the same project and they seem to work. And I also verified that the `kpm pack` output contains the correct app folder name with these arabic characters as it is. Can this be a tooling issue?

[2015-01-07 18:54] troydai opened #1043 "Polish the signature of CallApplicationMain in klr"
Here's the function pointer declaration (https://github.com/aspnet/KRuntime/blob/dev/src/klr/klr.h#L11)

[code]

The `pCallApplicationMainData` will contain the exit code, there is no need to return the it from the method again. The return type can be instead change to `bool` so that the caller can be further simplified.

[2015-01-07 19:03] Praburaj commented on #1023
This is a dup of https://github.com/aspnet/KRuntime/issues/1023.

[2015-01-07 19:03] #1023 closed

[2015-01-07 19:10] Praburaj commented on #706
Some more investigation details.

After trying from the command line trials I , @ChengTian & @balachir created a console application and executed the same commands that VS executes. This seems to run fine on a console app as well. This makes us think this is a tooling issue.

[code]

@balachir @PradeepKadubandi - could you take this bug for investigation from tooling perspective. If you would like

[2015-01-07 19:10] Praburaj commented on #861
Cool. Thanks closing the issue.

[2015-01-07 19:10] #861 closed

[2015-01-07 21:52] Praburaj commented on #929
@troydai Is there any more action item on this bug? Can this be closed?

[2015-01-07 22:17] troydai commented on #929
I think so.

[2015-01-07 22:17] #929 closed

[2015-01-07 22:24] sayedihashimi commented on #1024
I chatted with some folks and it looks like we don't need this feature. Instead what we will do is what happens to C# projects today. When a project is excluded from the solution the following will happen. I will close this item now.

 1. References to the project are removed from other projects in the solution
 1. Project is removed from solution explorer

@lucamorelli if you mean excluding files

[2015-01-07 22:24] #1024 closed

[2015-01-07 23:07] troydai commented on #950
I'll begin working on this issue now. My primary goal to to address the inconsistent behaviors between `kpm pack` and `kpm pack --no-source`. As an extended goal, I'll also look into the possibility of having a complete solution to the multiple `global.json` in a submodule git repository.

[2015-01-07 23:35] Praburaj commented on #737
With latest VS builds I notice bin and obj folder are created in the `../artifacts/` folder rather than in the application folder itself. So publish does not include the `bin` and `obj` folders by default. I notice if user switches between command line (kpm build on command line creates `bin` folder in application folder) and VS (publish) then this reproduces.

[2015-01-07 23:43] Praburaj commented on #152
Today tooling shows a squiggle when there are duplicate references within the same `dependencies` node. It does not show a squiggle if the same dependency is defined in both root level dependency and a specific target framework dependency.

![image](https://cloud.githubusercontent.com/assets/2294732/5655506/cb8ca1ce-9683-11e4-875b-95d1a9cc3945.png)

[2015-01-08 00:20] dougbu opened #1047 "Reference assemblies directory for current .NET is hard-coded"
Whenever 4.5.3 stops being the current version of .NET, `kpm build` will fail to find some reference assemblies.  Should remove this hard-coding before that happens.

See https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.Runtime/FrameworkReferenceResolver.cs for a few hard-coded 4.5.3 references.  Might be others...

[2015-01-08 01:13] troydai commented on #950
## Notes

### The inconsistency between `pack` and `pack no source`

When a project is being packed the action to be taken are different (see [here](https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.PackageManager/Packing/PackProject.cs#L45)) By default the pack is just merely copying files, `global.json` is not participated in the procedure. While in __no source__ the `BuildMana

[2015-01-08 01:49] balachir commented on #706
I've re-activated the bug on the tooling side for us to investigate

[2015-01-08 03:38] troydai commented on #750
rebase on latest dev

[2015-01-08 03:41] troydai commented on #152
The warning may be just caused by duplicate keys in json object.

[2015-01-08 03:44] Praburaj commented on #152
yeah that's right - its due to the JSON schema validation. I thought of mentioning this as there is something right now rather than nothing.

[2015-01-08 08:25] Tragetaschen commented on #950
Yes, I'm pro-Option1. However, I wouldn't go as far as to make this automatic. When I add a submodule, already I have to change my own, primary global.json to include the submodule's (src-)path to the `source`-array. I think it's perfectly fine to instead "include" the submodule's global.json and add what `source`s are mentioned there. With that, I can control which of the conflicting folders take

[2015-01-08 08:37] Tragetaschen opened #1048 "Assemblies referenced from the *!preprocess-Assembly are not loaded on Mono."
I have added a [repository](https://github.com/Tragetaschen/CompilerPreprocessReference) with code to reproduce.

On Windows (I have build 1.0.0-rc1-10865) in the src/Source-folder:
[code]

On my Linux box with a local build of [dev](https://github.com/aspnet/KRuntime/commit/6ba3673db1375f574577d436a7f60a44d30b5987):
[code]

[2015-01-08 09:26] Tragetaschen commented on #1048
I have created another [branch](https://github.com/Tragetaschen/CompilerPreprocessReference/tree/razor-pre-compiler) that mimics [RazorPreCompileModule](https://github.com/aspnet/Mvc/blob/dev/samples/MvcSample.Web/Compiler/Preprocess/RazorPreCompilation.cs).

Due to #1041, this gives the following output on Linux (note that the code did NOT run)
[code]

The actual error is hidden in the KRE_TRACE=

[2015-01-08 16:49] davidfowl commented on #1025
/cc @ChengTian

[2015-01-08 17:28] troydai commented on #950
Thanks for the feedback @Tragetaschen .

Now here's a dilemma we may face in option 1. Assuming this sample. An application has three external submodules. Among them, one of them referee to other external references, and one of them is the a different version of upper level dependency.

[code]

Here's the `global.json` of `lib2`
[code]

Now assume using following `global.json` at the root and `lib

[2015-01-08 17:31] troydai commented on #809
VS + in-memory assembly + Random = Sounds like something in the DTH.

[2015-01-08 18:10] Tragetaschen commented on #950
I don't see a problem that doesn't exist today. Or I missed something fundamentally :)

Including a global.json is a shorthand for expanding its source-array. So the problem with lib1 also exists today when I use the following, primary global.json.
[code]
With this, the answer is as far as I understand: `external/lib1.version2/src` is exposed, which is perfectly legitimate. If I move `external/lib

[2015-01-08 18:27] suhasj commented on #1017
Possibly an issue with then new xunit for aspnet 5.0. Ported the issue to that repo

https://github.com/xunit/aspnet.xunit/issues/6

[2015-01-08 18:27] #1017 closed

[2015-01-08 19:46] troydai commented on #850
Fixed in https://github.com/aspnet/KRuntime/commit/6cfe52b659d6fb65df632a7c169a877455ef51c5

[2015-01-08 19:46] #850 closed

[2015-01-09 20:03] Praburaj opened #1051 "Print feed does not exist warning with a different color (like yellow)"
This is filed after a comment in this PR https://github.com/aspnet/KRuntime/pull/1032#issuecomment-69368698

![image](https://cloud.githubusercontent.com/assets/2294732/5686387/461aeb16-97f7-11e4-9acd-13b085e5e164.png)

When `kpm` finds it cannot resolve a feed (local or remote) it will be good to print a warning with a different color. Today we print it like plain logs which makes it difficult to

[2015-01-09 20:17] troydai commented on #563
Fixed in https://github.com/aspnet/KRuntime/commit/bb3cdbdb67ca04366fcb9a04e56d0dc05752debb

[2015-01-09 20:17] #563 closed

[2015-01-09 20:47] davidfowl commented on #952
Needs to be moved to the tooling issues.

[2015-01-10 06:28] #1047 closed

[2015-01-10 10:19] davidfowl commented on #985
For now. I'm sure there's a way to make this work without having to null out the appdomain manager. We just need to set the right flags or something like that.

[2015-01-10 10:25] davidfowl opened #1052 "Specify the ErrorSource, LineNumber and Column number when errors occur in DTH"
If the exception that occurs is related to parsing a file, then return that information so that the IDE can show that in the error list.

[2015-01-10 11:12] #988 closed

[2015-01-10 11:28] davidfowl opened #1054 "Random error while running kpm build"
Can't reproduce it but here's what I saw
[code]

[2015-01-10 11:29] #1054 closed

[2015-01-10 12:47] davidfowl commented on #830
This was fixed in https://github.com/aspnet/KRuntime/commit/c135d8d126dce2523969f547cf0bfe8f3423f733

[2015-01-10 12:47] #830 closed

[2015-01-10 21:15] davidfowl commented on #1014
Closing this as a dupe of #442

[2015-01-10 21:15] #1014 closed

[2015-01-11 18:07] davidfowl opened #1058 "Return source patterns from the project file in the ProjectInformationMessage"
This will help editors know what files to watch

[2015-01-11 23:11] #973 closed

[2015-01-11 23:11] davidfowl commented on #973
Fix the in latest builds

[2015-01-12 07:34] troydai commented on #750
Fixed in a30e304

[2015-01-12 07:34] #750 closed

[2015-01-12 08:44] davidfowl commented on #1041
This was done originally because it didn't run in all contexts. Now that everything is plumbed through, we're just going to let the exception happen.

[2015-01-12 08:51] davidfowl opened #1061 "Add version detection for DTH"
Editors/IDEs send the version number in the initialization message. We need to handle this appropriately.

[2015-01-12 17:17] #845 closed

[2015-01-12 17:27] ChengTian opened #1062 "Parallelize package download in "kpm restore""
Optimization can be done here:
https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.PackageManager/Restore/RestoreCommand.cs#L387

[2015-01-12 19:45] MattGal opened #1063 "NuPkgs which depend on System.Runtime <= 4.0.10.0 have dependency issues on K projects and may fail to run on machines with only 4.5.1"
When a user adds a reference to a NuPkg that references System.Runtime 4.0.10.0 to a K Project, they are first presented with this error message:

![error](https://cloud.githubusercontent.com/assets/7862010/5709605/180b104c-9a50-11e4-85ce-7710ae58625e.png)

... unfortunately, adding a reference under the "frameworkAssemblies" tab to System.Runtime 4.0.10.0 doesn't work.  The only version that succ

[2015-01-12 19:54] georgesimms opened #1064 "`source` is a bashism"
`build.sh` doesn't specify it's meant to be run with bash but it uses `source`. This could be changed to `.`

[2015-01-12 23:01] ChengTian commented on #521
@davidfowl I think this issue is not valid anymore. Should I close it?

[2015-01-12 23:02] ChengTian commented on #706
Moved to tooling bug repo.

[2015-01-12 23:02] #706 closed

[2015-01-13 02:15] ChengTian commented on #737
To fix the bug reported at the beginning of this thread, we should also have
[code]
, which will eventually be `builtinBundleExclude` after kpm renaming. I'll work on this after kpm renaming is checked in.

[2015-01-13 16:47] davidfowl commented on #1063
Does msbuild automagically correct the problem, or does it give you a better error message?

[2015-01-13 19:10] #1052 closed

[2015-01-13 19:32] Eilon commented on #219
This might be a manifestation of the issue: http://stackoverflow.com/questions/27922532/using-ravendb-embedded-on-asp-net-5-vnext

I *think* that RavenDB is trying to delete and overwrite a DLL on disk and it *might* be failing because *maybe* ASP.NET 5 has already loaded the DLL (and thus it is locked).

[2015-01-14 00:27] muratg commented on #941
Closing this for now.

[2015-01-14 00:27] #941 closed

[2015-01-14 00:38] muratg commented on #857
See hosting bug

[2015-01-14 00:38] #857 closed

[2015-01-14 00:55] muratg opened #1066 "Improve globbing"
/cc @davidfowl

[2015-01-14 00:58] muratg commented on #538
No

[2015-01-14 00:58] #538 closed

[2015-01-14 01:01] #957 closed

[2015-01-14 01:06] muratg commented on #1064
Can you give a specific example?

[2015-01-14 01:13] muratg commented on #1062
This assumes you're using a feed format where the nuspec and the nupkg are available independently.

[2015-01-14 01:20] muratg opened #1067 "Project.json Include and Exclude File patterns"
/cc: @loudej @davidfowl

[2015-01-14 01:20] muratg commented on #1026
#1067

[2015-01-14 03:37] vijayrkn opened #1068 "Publishing the application packages to a running site fails with file in use error"
Scenario impacted:
Publishing an application ( with no source option) from VS.

When the application packages are published to a running site in Azure, publish fails with file in use error.

Similar issue - Consider shadow copying when loading DLLs #219

[2015-01-14 12:08] jchannon commented on #819
If we could have a node like dependency story for .Net that'd be :+1:

[2015-01-14 12:43] McDonnellDean commented on #819
+1 to the updated proposed spec!

[2015-01-14 12:58] ma8anm commented on #819
+1 from me. I have lost a lot of time to these sorts of problems in the past, to the point of splitting deployments etc to get around it which is nuts!

[2015-01-14 13:24] ChrisMcKee commented on #819
Great idea :+1:

[2015-01-14 13:56] adamralph commented on #819
@jchannon https://github.com/aspnet/KRuntime/issues/819#issuecomment-62609808 and https://github.com/aspnet/KRuntime/issues/819#issuecomment-62709041.

Take it to the extreme by having source only. I still think it could work, but it's a radical departure from where things are now.

[2015-01-14 13:58] forki commented on #819
(@adamralph Paket is very very slowly going in this direction http://fsprojects.github.io/Paket/github-dependencies.html#Remote-dependencies)

[2015-01-14 14:03] adamralph commented on #819
@forki Nice! How does it handle namespaces? And does it internalise?

[2015-01-14 14:11] forki commented on #819
at the moment this feature is "just" downloading and adding source files to the project and it retrieves indirect dependencies as well.

[2015-01-14 14:27] damianh commented on #819
I'd prefer static linking over a node like dependency story.

On 14 January 2015 at 13:08, Jonathan Channon <notifications@github.com>
wrote:

[2015-01-14 14:28] damianh commented on #819
Had a wonderful argument with TinyIoC with someone because of style cop
rules, source analysis and generally not being consistent with the rest of
the code base :(

On 14 January 2015 at 14:56, Adam Ralph <notifications@github.com> wrote:

[2015-01-14 14:39] adamralph commented on #819
@damianh see https://github.com/aspnet/KRuntime/issues/819#issuecomment-62709041

Under my proposal, the packaged source files would not be considered part of the codebase for things like static analysis. Of course, they would have to be compiled, but in most, of not all, other contexts they would be treated as being something external.

[2015-01-14 19:01] Eilon commented on #1068
Also related: https://github.com/aspnet/Hosting/issues/141

[2015-01-14 19:42] georgesimms commented on #1064
line 31 of build.sh

[2015-01-14 21:05] victorhurdugaci commented on #1066
@muratg @davidfowl give more details about the issue. What is not working as good as expected?

[2015-01-14 22:01] yishaigalatzer commented on #462
@muratg when is this being addressed?

[2015-01-14 23:12] ChengTian opened #1071 "Add '--appbase' for klr on Mono"
We can add the logic in
https://github.com/aspnet/KRuntime/blob/dev/src/klr.mono.managed/EntryPoint.cs

@davidfowl , I can work on it if we want this in Beta3.

[2015-01-14 23:42] anurse commented on #1066
I need some context on this. @lodejard, can you fill me in? I hear you have codez to do this more betterer.

[2015-01-14 23:44] davidfowl commented on #1067
Email dump
[code]

[2015-01-14 23:56] anurse opened #1072 "Add support for packages containing ICompileModule"
* Scan dependencies for Preprocess flag
* Load 'em up
* Give them to RoslynCompiler somehow
* :sparkles: Run them :sparkles:

[2015-01-15 00:56] troydai commented on #937
https://github.com/aspnet/KRuntime/pull/1029

[2015-01-15 15:40] bgourlie opened #1073 "Allow kvm to manage KRE versions for other platforms"
I'd like it if kvm on Linux/OS X were able to pull down the Windows KRE, or kvm on Windows pull down the mono KRE.  The obvious use-case for this is building and packing an asp.net app on one platform that targets another.

I have this mostly working already -- building and deploying to Azure from a linux vm on travis-ci, but I hack it by manually copying `KRE-CLR-x86.1.0.0-*` to `.kre/packages/`.

[2015-01-15 16:19] Praburaj commented on #1073
This issue was moved to aspnet/kvm#136

[2015-01-15 16:19] #1073 closed

[2015-01-15 21:17] davidfowl commented on #442
Initial work is done.

[2015-01-15 22:55] ChengTian opened #1074 "Add tests for klr"
Especially after #1013 is checked in

[2015-01-16 01:04] victorhurdugaci opened #1077 "Add breadcrumbs for servicing"
When KRE loads a serviceable package, it should leave a breadcrumb

[2015-01-16 06:55] troydai opened #1079 "Print the dependencies on other projects in kpm list"

[2015-01-16 17:41] borgdylan commented on #994
Current 'splosion output:

[code]

[2015-01-16 18:09] davidfowl opened #1081 "Parse errors in global.json need line number and file name"

[2015-01-16 19:09] GrabYourPitchforks opened #1082 "Servicing code doesn't read ProgramFiles location correctly"
Currently the servicing code reads the index file from the %PROGRAMFILES% environment variable.  This could result in different paths being read between 32-bit and 64-bit executables.

The correct logic should be:
- First check Environment.GetFolderPath(Environment.SpecialFolder.ProgramFilesX86).
- If that is null or empty, then check Environment.GetFolderPath(Environment.SpecialFolder.ProgramFile

[2015-01-16 19:16] GrabYourPitchforks opened #1083 "klr.core45.dll and similar need an embedded file version info"
The native launcher will also read the file version from klr.core45.dll to determine whether we're about to load a vulnerable version and kick in the servicing logic.

We should also take this time to add copyright info to the manifests.

[2015-01-16 20:53] bricelam commented on #782
(See https://nuget.codeplex.com/workitem/4397)

[2015-01-16 22:49] anurse commented on #1082
At the moment, the `KRE_SERVICING` variable is the first test, I assume we still want to keep that? Shall I rename it to `XRE_SERVICING` to match the rest of our renames? @Eilon @muratg ?

[2015-01-16 22:50] anurse commented on #1082
Also, it seems Environment.GetFolderPath is not available on CoreCLR ... :crying_cat_face:

[2015-01-16 22:56] anurse commented on #1082
Chatted with Levi. We should sync up with CoreCLR folks on getting GetFolderPath, but for beta3:

* Check %PROGRAMFILES(X86)%
* Then %PROGRAMFILES%
* Then %HOME%

[2015-01-16 22:58] anurse commented on #1082
And once again, we decided it was weird to ever check %HOME% since we have %KRE_SERVICING%

* Check %XRE_SERVICING%
* Check %PROGRAMFILES(X86)%
* Then %PROGRAMFILES%

[2015-01-17 00:13] #1071 closed

[2015-01-17 00:14] #1013 closed

[2015-01-17 02:58] ChengTian opened #1086 "Rename klr to dotnet"

[2015-01-18 17:00] djanosik opened #1089 "Support for iconUrl and owners in project.json"
Hi there,

I was thinking I could convert my projects to vNext class libraries. Unfortunately, I've found it is not possible to specify *iconUrl* and *owners* of the generated *.nupkg package. I can't publish packages without my icons ;) Please make it supported.

Is it possible to specify "global" package metadata (authors, etc.) in `global.json`? I don't want to repeat everything in every `proje

[2015-01-18 19:22] troydai opened #1091 "Shorten the kpm program.cs by moving the initialization codes out."
The program fils is 400+ lines and growing: https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.PackageManager/Program.cs

Most of the codes are command options initialization. These logic can actually stay the individual commands rather than crowd the kpm program.

[2015-01-18 21:07] troydai commented on #1079
In #1029

[2015-01-18 22:48] #982 closed

[2015-01-18 22:49] troydai commented on #937
`kpm list` is added in 72f4be7cf44d1351905ba05d2b146e63a19f04ad

[2015-01-18 22:49] #937 closed

[2015-01-18 22:49] troydai commented on #1079
72f4be7cf44d1351905ba05d2b146e63a19f04ad

[2015-01-18 22:49] #1079 closed

[2015-01-19 03:17] #1081 closed

[2015-01-19 03:27] #442 closed

[2015-01-19 03:28] davidfowl commented on #442
In the RC we'll look at implementing syntax similar to https://github.com/npm/node-semver#semver1----the-semantic-versioner-for-npm

[2015-01-19 03:29] davidfowl commented on #925
@akoeplinger we've renamed it to projects

[2015-01-19 03:29] #925 closed

[2015-01-19 11:38] Tragetaschen opened #1092 "1.0.0-beta2 does not build (on Linux)"
In my yocto Linux layer, I build KRuntime from source. The beta2 release, however, does not succeed out of the box, because of the Roslyn API updates. If I patch the sources with fbf7882 and ad60760, everything works.

Are there any plans to "shield" the build system against breaking updates in the build dependencies in the future?

[2015-01-19 14:41] Praburaj opened #1093 "NullReference exception while doing kpm list"
I run into this `NullReferenceException` while doing `kpm list` on `Logging` respository.

[code]

[2015-01-19 14:41] Praburaj commented on #1093
@troydai

[2015-01-19 14:43] Praburaj opened #1094 "Have a consistent error message when kpm list cannot find a project"
For example when `kpm build` or `kpm pack` cannot find a project we print the error.

`Unable to locate project.json.`. `kpm list` however prints a different message.

`A project could not be found in C:\Users\testuser\Documents\GitHub\Logging\src.`

It will be convenient to have the same error printed as it is more clear.

[2015-01-19 14:46] Praburaj opened #1095 "kpm pack and build prints an error without an opening single quote"
For example:

[code]

[2015-01-19 14:57] Praburaj opened #1096 "Make kpm list command line help consistent with other kpm commands"
For example:
1. `[project]`
2. Sentences ending with a period (for other kpm commands they don't end with period).

[code]

[2015-01-19 16:27] davidfowl commented on #1092
When we're out of prerelease mode but not until then. Another thing we need to do is pin the versions of tags so that you get the right set of dependencies

[2015-01-19 16:27] #1092 closed

[2015-01-19 16:51] Eilon commented on #1089
Just to confirm, does it work if you *do* specify the metadata in `project.json`? I thought that was supposed to work. But yeah `global.json` support would be convenient for some of these super common properties.

[2015-01-19 16:56] djanosik commented on #1089
Yes... authors, tags, projectUrl and other metadata work as expected.

[2015-01-19 16:58] Eilon commented on #1089
OK cool. So is the bug about `project.json` at all or just about `global.json`?

[2015-01-19 17:09] djanosik commented on #1089
It is about *owners* and *iconUrl* in *project.json* and other metadata in *global.json*.

[2015-01-19 17:19] davidfowl commented on #1089
Let's separate the 2 features. One is about nuspec parity. The other is a new feature inheriting some properties from global.json. Open another issue for that.

[2015-01-19 17:54] victorhurdugaci opened #1097 "Serviceable package marker"
We need a way to specify that a package is serviceable. The feature is needed because we only leave breadcrumbs for the marked packages

PR for breadcrumbs: https://github.com/aspnet/KRuntime/pull/1078

[2015-01-19 18:45] Praburaj opened #1098 "Annotate the packages directly referenced in the project.json in kpm list output"
`kpm list` output is something like this:

[code]

In the above graph it will be useful to mark the dependencies that are directly listed in `project.json`. For example put a `*` something like:
[code]

[2015-01-19 19:06] Praburaj opened #1099 "Print the framework shortname in kpm list output"
[code]

Currently the output of `kpm list` is something like this. It will be useful to have the framework shortnames like `aspnet50` or `aspnetcore50` listed in the output like to enable searching through long output graphs.

[code]

[2015-01-19 19:25] djanosik opened #1100 "Inherit some project.json properties from global.json"
I think some common `project.json` properties, like _authors_, _tags_, _projectUrl_ and other metadata should inherit from `global.json`. It would make it possible to share some values across projects.

[2015-01-19 20:01] GrabYourPitchforks opened #1101 "Servicing: KRuntime should listen for changes to the servicing index file"
Currently we have no way for servicing patches to detect which processes have the KRE loaded, so any servicing patch we release is going to have to be pessimistic and reboot the machine.  If the KRE were instead to hook up a file change monitor to the servicing index file, the patch might be able to rely on this "applications reset themselves" behavior and not have to reset the machine.

[2015-01-19 21:37] victorhurdugaci opened #1102 "kpm pack adds the binaries twice"
Pack MusicStore (`kpm pack --runtime KRE-CoreCLR-amd64.1.0.0-beta3-10921`).

Look in `bin\output\approot\packages` and you should find all the dependencies
Look in `bin\output\src\MusicStore\bin\output\approot\packages` and you'll find again the packages.

The second bin folder shouldn't exist.

The good thing is that it doesn't infinitely recurse.

cc @ChengTian

[2015-01-20 02:11] PradeepKadubandi opened #1103 "ScriptExecutor should set an encoding when it starts a process"
In VS when we create a new web application, the package manager log shows these lines at the end:

[4mRunning "bower:install" (bower) task[24m
[31mFatal error: Failed to execute "git ls-remote --tags --heads git://github.com/twbs/bootstrap.git", exit code of #-532462766[39m

There are some spurious chanracters like '[4m', this is because ScriptExecutor starts bower process without setting an e

[2015-01-20 03:52] davidfowl commented on #747
This is fixed now. We're basically obsoleting k.cmd and replacing it with a `dotnet` executable.

You can run `dotnet "c:\dev\foo\bar" test`

[2015-01-20 13:32] Tragetaschen opened #1105 "Beta2 aspnet50 assemblies from Windows don't work on Mono"
Recently, aspnet50 is based off of .Net 4.6. This framework version includes a new `String.Format(IFormatProvider, string, object)` overload and the `System.Array.Empty` member that are not yet available in Mono. Both are now referenced in the generated assemblies and so loading an assembly or jitting some functions on Mono throws MissingMethodExceptions.

Workaround: Use the beta2 toolchain on Mo

[2015-01-20 23:14] anurse opened #1110 "'dotnet' command does not exist on mono"
The mono package for the runtime still has the 'klr' executable (it was missed because it's an 'sh' file instead of a native executable). I have a fix for this, but wanted to capture it here. PR coming soon.

[2015-01-20 23:27] #1110 closed

[2015-01-21 05:18] danroth27 opened #1113 "Add nuget sources option"
Currently trying to list the available NuGet sources using kpm blows up with an exception:

[code]

[2015-01-21 05:24] davidfowl commented on #1113
Yess!!! :smile:

[2015-01-21 08:55] borgdylan opened #1114 "KPM build/K run on new XREs: argument null exception while reading servicing table"
I get the following exception on Linux/Mono:
[code]

[2015-01-21 09:01] davidfowl commented on #1114
Known issue https://github.com/aspnet/XRE/pull/1112

[2015-01-21 15:58] borgdylan opened #1115 "KPM Pack: Generated bash scripts are broken"
Currently the last line in a bash script for k run would be:

[code]

But it should be:

[code]

The DOTNET_APPBASE variable is already defined in the scripts.

[2015-01-21 17:21] dougbu opened #1116 "Improve help for `kpm packages`"
- `kpm help packages add` fails with a `System.Exception: TODO: Error: unrecognized argument 'add'`
  - this command is not an alias for the less-common `kpm packages help add` (that one works)
- `kpm packages add -?` oddly describes the target packages directory as the "[source]"
- other `kpm packages` subcommands have similar issues in their help

[2015-01-21 17:24] davidfowl commented on #1116
This is the same bug as #547

[2015-01-21 17:28] dougbu commented on #1116
- thought #547 was about placement of options, not the sub-commands themselves?
 - are you saying we internally treat `help` (which looks like a sub-command) as an alias for `--help`?  that's not obvious even from the help
- even the second bullet?

[2015-01-21 17:47] davidfowl commented on #1115
@ChengTian @muratg

[2015-01-21 17:53] #1114 closed

[2015-01-21 19:07] muratg commented on #1115
@ChengTian let's get this once the branching is done.

[2015-01-21 19:52] victorhurdugaci opened #1118 "Move ILoggerFactory down the stack so it can be used in DNX"
See the comments here https://github.com/aspnet/XRE/pull/1078

And log servicing messages

[2015-01-21 19:56] blowdart commented on #1118
I have to consider not raising serviceability problems front and centre a bug, rather than an enhancement,

[2015-01-21 19:58] victorhurdugaci commented on #1118
Marked as bug :beetle:

[2015-01-21 20:00] blowdart commented on #1118
Thanks

[2015-01-21 21:55] Praburaj opened #1119 "kpm list should list dependencies for the default framework if no frameworks are listed in project.json"
If no frameworks are listed in `project.json`, doing a `kpm build` will build for the default framework `aspnet50`. `kpm list` should also list dependencies for default framework if no frameworks are listed in `project.json`.

@troydai

[2015-01-21 22:31] troydai commented on #1119
Agree.

[2015-01-22 04:19] davidfowl commented on #1118
How is this a bug?

[2015-01-22 04:31] davidfowl commented on #738
@muratg @Eilon I wanna change our resource format for beta3

[2015-01-22 04:33] bojanrajkovic commented on #738
This also breaks trying to use EF6 migrations, as the embedded filenames for generated .resx files don't match what EF is looking for.

[2015-01-22 04:34] danroth27 opened #1121 "Update dnx.exe help text to clearify how to run commands in project.json"
You used to do "k web". Now I believe you need to do "dotnet [path] web", but this isn't mentioned in the help text for dotnet.exe.

[2015-01-22 04:50] blowdart commented on #1118
Hiding a huge gaping security problem in such a way that a user won't discover it unless it's a full moon, they're standing on one leg and have mistletoe tucked behind their left ear is, to my mind, not an enhancement but a gaping bug.

[2015-01-22 04:57] davidfowl commented on #1118
This bug has nothing to do with security. Look at the title.

[2015-01-22 14:17] blowdart commented on #1118
Then move the bug component to a bug, rather than rewriting history ya muppet.

[2015-01-22 14:20] blowdart opened #1122 "DNX needs to inform users when servicing is not possible"
Currently nothing happens if the breadcrumb directory does not exist. This is a problem.

When XRE on Windows starts and cannot find the breadcrumb directory it needs to inform the user of this problem in a discoverable way.

And by discoverable I don't mean sending something to an ilogger (once it's moved downwards by #1118) in the vain hope that a listener has been configured, I'm meaning write

[2015-01-22 14:21] blowdart commented on #1118
There. #1122. Are we a happy camper now @davidfowl ?

[2015-01-22 17:04] victorhurdugaci commented on #1097
@davidfowl I'm assigning this to you since you mentioned that you are going to talk to the NuGet team

[2015-01-22 17:39] davidfowl commented on #1118
@blowdart :grin:

[2015-01-22 18:27] alfkonee commented on #1113
Yes yes I think this should be a very top priority cus new nuget sources for aspvext are popping up in the project causing some dependencies to fail installation
It would be nice to be able to edit the list of sources for kpm

[2015-01-22 19:05] davidfowl commented on #1100
Sounds like a great idea

[2015-01-22 23:10] ChengTian commented on #1116
`kpm help packages`: shows help info of `packages`, which is a subcommand of `kpm`. In this case, `help` is a subcommand of `kpm` command.
`kpm packages help add` shows help info of `add`, which is a subcommand of `kpm packages`. In this case, `help` is a subcommand of `kpm packages` command.

`kpm help packages add` is invalid because the subcommand `help` of `kpm` only accepts one argument, whic

[2015-01-22 23:53] ChengTian commented on #1035
Will do all these change at once under the issue: #967

[2015-01-22 23:53] #1035 closed

[2015-01-23 16:15] #1086 closed

[2015-01-23 17:00] ChengTian opened #1126 "Remove dependency graph displayed by "kpm -v restore""
We have `kpm list`, which is a great replacement.

[2015-01-23 17:00] ChengTian commented on #1025
We have a new command, `kpm list`, which can show full dependency graph of a project. Upgrade your runtime and run `kpm list` in the project, you'll get output in the format of:
[code]

@davidfowl , `kpm list` makes the `kpm -v restore` graph useless. I think we can remove `kpm -v restore` graph now: #1126

[2015-01-23 17:13] #1115 closed

[2015-01-23 17:18] davidfowl commented on #1025
Sweet! Nuke it

[2015-01-23 17:18] davidfowl commented on #1025
Does it help with this scenario? /cc @pranavkm

[2015-01-23 18:25] pranavkm commented on #1025
I'll give this a try and file bugs with kpm list if I run into any. Presumably we can also get FxCop using `kpm list` I presume?

[2015-01-23 18:54] #1083 closed

[2015-01-23 18:54] #1082 closed

[2015-01-23 22:30] Praburaj opened #1129 "Type in Microsoft.IdentityModel.Protocol.Extensions fails to load on Mac/Mono"
[code]
[code]

However if I include `Microsoft.IdentityModel.Protocol.Extensions` as source (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/KDev) it works fine. Also it runs fine if I build `Microsoft.IdentityModel.Protocol.Extensions` on Mac and restore.

Here is the exception I receive:
[code]

Note: OpenIdConnect is broken on mono due to this bug.

[2015-01-23 22:30] Praburaj commented on #1129
@davidfowl @brentschmaltz @Tratcher

[2015-01-24 17:40] brentschmaltz commented on #1129
I believe this is a signature problem where the assembly is not signed.

[2015-01-24 23:58] danj-ca commented on #745
Has anyone found an effective workaround? I've hit this bug as well.

[2015-01-25 15:42] Praburaj commented on #1129
Repro steps are in the bug with a simple console application.

[2015-01-25 15:55] Tratcher commented on #1129
Can you call any other method in this assembly? Is the failure specific to this type and/or constructor?

[2015-01-25 22:09] Praburaj commented on #1129
I tried `HttpDocumentRetriever` and I ran into the same issue there as well.

[2015-01-25 23:53] davidfowl commented on #1129
Where is the Microsoft.IdentityModel.Protocol.Extensions package?

[2015-01-26 08:46] davidfowl opened #1130 "The shell script produced by kpm pack doesn't properly mark klr as executable (if runtime packaged with application)"
I've been playing with application bundling with ASP.NET 5 apps within shells like atom-shell. kpm pack --no-source works great, but when the runtime is packaged with the application it doesn't properly marked klr in the copied runtime as executable (maybe flags are lost on copy?).

Where's what I got trying to run jabbr after packing on osx:

[code]

My workaround https://github.com/JabbR/JabbRv2

[2015-01-26 11:08] davidfowl opened #1131 "Packaging application for mono writes web.config"
[code]

We don't support running mono on windows although I wonder what would happen if we did. We should probably remove this.

[2015-01-26 16:37] Tratcher commented on #1129
@davidfowl  https://github.com/aspnet/Security/blob/dev/NuGet.Config#L6

[2015-01-26 17:52] suhasj opened #1132 "'kpm --version' does not return the installed version on Mono"
With the command `k` being renamed to `dotnet` running `dotnet --version` returns `0.0.0.0` instead of the version. Although `k --version` still returns the correct value

[2015-01-26 22:32] ChengTian commented on #1132
What's the runtime version and OS used? Cannot reproduce with `dotnet-clr-win-x86-1.0.0-beta4-10991`.

![capture](https://cloud.githubusercontent.com/assets/1383883/5909705/cac1dbb8-a567-11e4-88b3-caf756d485c2.PNG)

BTW, just a small clarification, k wasn't renamed, klr was renamed to dotnet.

[2015-01-26 22:33] suhasj commented on #1132
Sorry I did not check if for windows. This is happening on Mono with the latest version. I'll update the title

[2015-01-26 22:51] ChengTian opened #1133 ""kpm bundle --no-source" should add generated packages to project.lock.json"
Should be based on @lodejard 's work on lock file.

`kpm bundle --no-source` generates packages from dependency projects. When `locked` is `true` in `project.lock.json`, we should add the generated packages to `project.lock.json`, to make sure they can be picked up during dependency walking.

[2015-01-27 01:45] ChengTian commented on #1132
Checked `dotnet.mono.managed.dll` with reflector. Seems we forget to specify version info when building this dll:
![capture](https://cloud.githubusercontent.com/assets/1383883/5912071/17dcb7fe-a583-11e4-927d-530041b184e2.PNG)

[2015-01-27 02:07] m0sa opened #1134 "HelloMetaProgramming/ICompileModule needs better documentation"
At least on of HelloMetaProgramming.cs or ICompileModule.cs should contain information about the XRE only invoking ICompileModule implementations from paths matching the [preprocess pattern](https://github.com/aspnet/XRE/blob/07fd900f492cea1b285cdbbd5408dbc1d4aab422/src/Microsoft.Framework.Runtime/Project.cs#L29). I just spent way to much time figuring that trivial fact out by browsing through the

[2015-01-27 05:25] davidfowl commented on #1132
It's been that way for a while. We need to change the build process to add an AssemblyInfo file.

[2015-01-27 08:58] Tragetaschen commented on #1048
For me, the [mono PR](https://github.com/mono/mono/pull/1528) fixes the issue.

[2015-01-27 17:21] victorhurdugaci opened #1135 "Change the meanining of kpm install command"
Today, `install` = `add` + `restore`.

Change as follows:

1. `add` becomes today's `install`
1. Add a flag to `add` to not restore if that's what you want (that's what `add` does today)
1. `install-g` becomes the new install (this command is not yet checked in)

cc @ChengTian @davidfowl @loudej

[2015-01-27 18:28] ChengTian commented on #1025
Closing this issue since it's not valid anymore. Any further issue will be filed under the topic `kpm list`

[2015-01-27 18:28] #1025 closed

[2015-01-27 19:46] DamianEdwards opened #1138 "KRE should support loading assemblies for TFMs "net40-client" and "net40-full""
As per http://docs.nuget.org/docs/creating-packages/creating-and-publishing-a-package, the .NET Framework 4.0 shipped in two versions: Client & Full profile. Per that, NuGet supports TFM folders called `net40-client` and `net40-full`. The KRE should be able to load from either of these folders safely when running on .NET Framework.

This is blocking the creating of the SignalR Service Bus scale-ou

[2015-01-28 01:06] victorhurdugaci opened #1140 "Kpm uninstall"
`uninstall` will remove a particular application from the path and purge the dependencies.

Mini spec:
`kpm install` will install an app with one or more commands.

`kpm uninstall` takes as argument the name of a command to uninstall and simply deletes the associated script from the bin folder. After that a `purge` operation runs on all dependencies.

The purge will mark and sweep the dependencies

[2015-01-28 06:27] DamianEdwards opened #1144 "Can't have ANIs that differ only by generic type arguments"
Consider these two ANIs:

[code]

Trying to build projects that consume these interface results in an error like:
[code]

[2015-01-28 06:34] DamianEdwards commented on #1144
:smoking: :gun: https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.Runtime.Roslyn/AssemblyNeutral/TypeCompilationContext.cs#L36

[2015-01-28 15:24] chmontgomery commented on #634
:+1:

[2015-01-28 17:23] damianh commented on #819
Lads, see the recent C# Design Notes https://github.com/dotnet/roslyn/issues/98 , under Componentization - "static linking instead of IL merge"

I think we're getting somewhere, I'm holding my breath :D

[2015-01-28 17:27] davkean commented on #819
@damianh http://blogs.msdn.com/b/dotnet/archive/2014/04/02/announcing-net-native-preview.aspx

[2015-01-28 17:33] damianh commented on #819
@davkean Correct me if I'm wrong, but this is more for end apps (.exes) and not libs, right?

[2015-01-28 17:43] ayende commented on #819
That would be great for libs, if we can do that.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Wed, Jan 28, 2015 at 7:33 PM, Damian Hickey <notifications@github.com>
wrote:

[2015-01-28 18:51] borgdylan commented on #1144
This makes assemblies with backticks in the name like Msft.Frmk.Runtime.ILogger`1? I need to know this so my compiler support is coherent with this

[2015-01-28 19:05] davidfowl commented on #1144
Yes

[2015-01-28 19:20] borgdylan commented on #1144
Ok thanks. I will release a new support package for my compiler that is coherent with roslyn's output.

[2015-01-28 19:35] chmontgomery opened #1146 "kpm cache clean"
New Feature request.

Would be nice to have a single command to clean your entire local cache (think [`npm cache clean`](https://docs.npmjs.com/cli/cache)). As a workaround, I can `kpm install --no-cache` on each dependency individually I need to update, but it would be more friendly to simply run a single command to clear the entire cache.

I first noticed this pain point when pushing new updates

[2015-01-28 19:38] MattGal commented on #692
+1

[2015-01-29 00:00] Tragetaschen commented on #1048
Does this mean the required version of mono will be bumped to master which will become 4.0?

[2015-01-29 01:04] Praburaj commented on #1048
Will be ideal to do that. However a lot of things work on lower versions starting `3.6.1`.

[2015-01-29 11:58] davidfowl opened #1147 "Low hanging fruit performance improvements from profiling session"
- [x] Don't use Tracing system for logging, use Console.WriteLine for now. Trace loads the entire configuration stack.
- [x] Don't use ToObject<T> when parsing global/project.json, that causes the data contract serialization stack to load in JSON.NET which isn't required at all.
- [x]  Don't use `JsonSerializer.SerializeObject<T>` when a simple JObject/JToken can be used. The DesignTime host runti

[2015-01-29 12:54] jrieken opened #1148 "DTH leaks a thread when clients disconnect"
@davidfowl - as discussed and exposed by Omnisharp

[2015-01-29 16:50] damianh commented on #819
https://github.com/dotnet/roslyn/issues/162

[2015-01-29 19:01] MattGal opened #1149 "Using "bin" dependency type in ASPNET*50 framework project.json node throws NRE, needs useful message"
Having content like this in a project.json is totally acceptable today:

    "frameworks": {
        "aspnet50": {
        },
        "net45": {
            "dependencies": {
                "bin": {
                    "assembly": "../../../ClassLibrary3/ClassLibrary3/bin/Debug/YourClassLibrary.dll",
                    "pdb": "../../../ClassLibrary3/ClassLibrary3/bin/Debug/YourClassLibrary.pdb"

[2015-01-29 21:07] conniey opened #1150 "`kpm restore` fails when it cannot parse a NuGet package source URI"
I had a scenario where I had a NuGet.config in D:\src *and* D:\src\Roxel\MyLibrary.  When I did a kpm restore, it just told me that the URI could not be determined.  It turned out that `D:\src\NuGet.config` had a relative path, `.\Tools\My Packages` and it was trying to resolve it as `D:\src\.\Tools\My Packages`.

[PackageSourceUtils.cs:32](https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Fram

[2015-01-29 23:50] jhawk42 opened #1151 "K cold start file-io items"
@davidfowl here is the list of K cold start file io items

- Probe for the *.sha512 file over the network as well and that would not be found.
- Probe for *.nuspec over the network
- Probe for project.json files over the network
- Bunch of folder enumeration over the network
- Bunch of enumeration in the inner folder as well
- Contents of local files from d:\KCache are being read multiple times.
-

[2015-01-30 04:41] davidfowl opened #1152 "Consider changing the application base to the runtime folder"
This would allow us to load things in the KRE into the load context and take advantage of things like native images.

[2015-01-30 05:15] davidfowl opened #1153 "Change ResolveRootDirectory to only look for global.json"

[2015-01-30 19:37] #967 closed

[2015-01-30 19:39] ChengTian commented on #955
We might want to use a different approach to wrap an assembly. @davidfowl 's idea is:
`kpm packages add/make <assembly>`.

We won't have this in beta3.

[2015-01-31 03:00] #964 closed

[2015-01-31 18:06] davidfowl commented on #1149
Yah, any null ref is bad.

[2015-01-31 18:07] #1144 closed

[2015-01-31 18:08] davidfowl commented on #1146
Why didn't you run kpm restore --no-cache so it did it all in one go?

[2015-01-31 18:08] davidfowl commented on #1138
We shouldn't create any packages with those monikers. They are deprecated. Conceptions should work fine but producing them makes no sense.

[2015-01-31 18:10] davidfowl commented on #1133
As part of this work we're going to need to delete the global.json dependencies logic.

[2015-01-31 18:12] davidfowl commented on #1105
No going back in time here. Will be fixed going forward

[2015-01-31 18:12] #1105 closed

[2015-01-31 18:18] DamianEdwards commented on #1138
Agreed, just need to support consuming them

-----Original Message-----
From: "David Fowler" <notifications@github.com>
Sent: ‎1/‎31/‎2015 10:09 AM
To: "aspnet/XRE" <XRE@noreply.github.com>
Cc: "Damian Edwards" <damian@damianedwards.com>
Subject: Re: [XRE] KRE should support loading assemblies for TFMs"net40-client" and "net40-full" (#1138)

We shouldn't create any packages with those monikers. Th

[2015-01-31 20:31] chmontgomery commented on #1146
didn't know that was an option! Is there any documentation on the command's args of kpm anywhere?

[2015-01-31 20:39] davidfowl commented on #1146
kpm -?

[2015-01-31 20:39] davidfowl commented on #1146
kpm [command] -?

[2015-01-31 21:24] chmontgomery commented on #1146
ohhhh. sorry, didn't realize that was an option. My fault

[2015-01-31 21:24] #1146 closed

[2015-02-01 01:41] gulbanana commented on #608
If this is not going to be a first class feature, then what is the supported way to build a system like this:

- common vbproj or csproj containing code that can run on .NET 4.6 or Core CLR
- frontend project.json containing an asp.net 5 library/app
- frontend vbproj or csproj containing a desktop, store, or phone library/app

The obvious way would be to make the common project a PCL, but is there

[2015-02-01 03:50] gulbanana commented on #955
could something like this be used by VS to support 'referencing' non-C# projects from asp.net 5 projects?

[2015-02-01 06:42] davidfowl commented on #608
What doesn't work?

[2015-02-01 16:36] gulbanana commented on #608
Here's a minimal solution demonstrating the scenario:
http://thomascastiglione.com/MultipleFrontends.zip

There are a couple of projects designed for different verticals, each referencing a common library which uses the Debug.WriteLine() api (available on all iterations of .NET). You'll see there's one compile error, from the ASP.NET 5 frontend - it isn't able to reference the project CommonLibrar

[2015-02-01 17:17] davidfowl commented on #608
This actually works fine and compiles for me. I had to add a reference to System.Runtime in the aspnet50 section but adding a reference in visual studio works.

[2015-02-01 17:26] gulbanana commented on #608
Interesting. I'm using VS2015 ctp 5, and the Add Reference dialog brings up an error reading "The following projects are not supported as reference: CommonLibrary". I tried adding it by hand, producing this project.json file:
http://pastebin.com/tShnddcA

The error in that case is CS0103	The name 'CommonLibrary' does not exist in the current context

But if this is going to be supported by whateve

[2015-02-02 06:57] gulbanana commented on #1149
If the second scenario is not going to be supported, does that mean that the transitive closure of aspnet50 dependencies must all themselves be vnext/k projects?

[2015-02-02 06:59] davidfowl commented on #1149
The second scenario doesn't make any sense. When you make an ASP.NET 5.0 project you use the new project type.

[2015-02-02 07:13] gulbanana commented on #1149
Doesn't having a net45 dependency prevent you from running on the core clr?

I'm trying to write code that can be consumed either from an aspnetcore5 application running on .net core, as well as from a desktop application running on .net 4.5 or 4.6. In particular, I'm trying to understand the restrictions I'll have to follow in doing so. If the transitive dependencies must all use new project type

[2015-02-02 07:20] davidfowl commented on #1149
Thats why the project contains more than one target framework by default, it cross compiles. This gives you the greatest flexibility when targeting multiple platforms. Don't conflate the project system with the target framework.

Look at the project system like a nuget package. Today a nuget package can target multiple platforms, and depending on what project you choose (you can even target a PCL)

[2015-02-02 07:27] davidfowl commented on #1149
@gulbanana  BTW if you want to have a conversation about the new project system in real time you can ask questions on https://jabbr.net/#/rooms/AspNetvNext.

[2015-02-02 07:30] gulbanana commented on #1149
I think my conflation stems from not knowing whether the new project system is the *only* way to target certain frameworks. In particular, msbuild based projects do not seem to offer a way to build for core CLR. Therefore, building for core CLR requires using the new project system (and eschewing other languages, etc).

Have I just missed a way to have a csproj target .NET Core?

[2015-02-02 07:31] gulbanana commented on #1149
Oh, thanks for the jabbr suggestion - I'll join it some time soon and ask there instead.

[2015-02-02 17:43] Praburaj commented on #1048
@Tragetaschen's fix to mono has gone into mono right now : https://github.com/mono/mono/commit/46b5b849ae2e6e71326030e3a6806d59cdb0eb4a

This issue should disappear when running on an upcoming mono release or mono built from sources.

[2015-02-02 17:43] #1048 closed

[2015-02-02 18:52] ChengTian opened #1155 "Create 'runtimes' folder in "kpm bundle" output"
Today, when you `kpm bundle` an app with runtime included, runtime is bundled to
[code]
which also contains all other NuGet packages used by the app. It’s not consistent with structure of `$KRE_HOME`, which has
[code]
To be more consistent, `kpm bundle` output should have the same structure:
[code]

[2015-02-02 19:31] #1126 closed

[2015-02-03 00:40] ChengTian commented on #955
@gulbanana , after we have this command, it's possible that VS uses it as an underlying command to implement that.

Hi @PradeepKadubandi , does Tooling team have any plan for the feature mentioned by @gulbanana above?

[2015-02-03 01:45] conniey commented on #1150
I expect it to at least behave like the official (NuGet config file)[http://docs.nuget.org/consume/nuget-config-file] when it fails by ignoring the invalid NuGet.config file and then moving onwards.

Instead, this one doesn't bother restoring packages if the NuGet.config settings in the current directory is correct but the ones further up are not.

[2015-02-03 13:36] borgdylan opened #1156 "Build Regression: Mono KRE is not being built and is missing from feed"

[2015-02-03 18:11] Praburaj commented on #1156
yeah. right.

/CC @suhasj

[2015-02-03 18:17] suhasj commented on #1156
it was deleted since we there were duplicates

/cc @pranavkm who is pushing it. Pranav I still don't see the kre-mono package

[2015-02-03 18:42] suhasj commented on #1156
@borgdylan it is up so you be able to use it

[2015-02-03 19:11] Praburaj commented on #1130
Do we need to set the flag for all the 3 files `klr`, `kpm` and `k` or just `klr` is sufficient? Do we expect anyone to use `kpm` and `k` from the bundle output?

[2015-02-03 19:16] davidfowl commented on #1130
Nobody should be using kpm and k in the bundle output but it doesn't hurt I guess.

[2015-02-03 19:49] bricelam opened #1159 "kpm simplify (Remove transitive dependencies)"
Stretch goal: remove any dependencies that aren't actually used at compile time.

[2015-02-03 19:53] davidfowl commented on #1159
No, this is way too hard, talk to @glennc  :smile:

[2015-02-03 20:30] glennc opened #1160 "Change IApplicaitonEnvironment to return appbase as directoryinfo"
Instead of a string.

[2015-02-03 20:39] davidfowl commented on #1160
Why?

[2015-02-03 22:15] #1130 closed

[2015-02-03 22:43] BillHiebert opened #1161 "Adding unknown nuget package to project.json dependencies shows "Object reference not set to an instance of object" in Error List"
1. Start VS & create an ASP.NET 5 project
2. Add "aaa" : "" to project.json dependencies

Error list shows "Object reference not set to an instance of object"

[2015-02-03 22:57] BillHiebert commented on #1161
Callstack:

 	Microsoft.Framework.Runtime.dll!Microsoft.Framework.Runtime.WalkContext.Resolve(System.Collections.Generic.Dictionary<Microsoft.Framework.Runtime.LibraryRange,Microsoft.Framework.Runtime.WalkContext.Item> resolvedItems, System.Collections.Generic.IEnumerable<Microsoft.Framework.Runtime.IDependencyProvider> providers, Microsoft.Framework.Runtime.LibraryRange packageKey, System.Runtime

[2015-02-03 22:59] bricelam commented on #1159
Isn't `kpm list` most of the way there?

[2015-02-03 23:21] victorhurdugaci commented on #1159
See this PR https://github.com/aspnet/XRE/pull/1154, I am purging all dependencies not used by some specific application. Something similar for simplify?

[2015-02-03 23:52] Praburaj commented on #1132
Currently `k --version` does return the right version on mono. Will revisit this when we rename it to something other than `k`.

[2015-02-04 07:34] #1161 closed

[2015-02-04 09:37] #1156 closed

[2015-02-04 17:12] ChengTian opened #1164 "Loaded module name is incomplete in KRE_TRACE info"
If you turn on KRE_TRACE and then run `klr.exe`, you will see:
![capture1](https://cloud.githubusercontent.com/assets/1383883/6045275/c57b7e24-ac4d-11e4-9584-309e71028c5c.PNG)

Note that “Loaded Module” name is incomplete. It should be
![capture2](https://cloud.githubusercontent.com/assets/1383883/6045285/d02c45a6-ac4d-11e4-8945-8dc4d2dab39e.PNG)
or
![capture3](https://cloud.githubusercontent.com/

[2015-02-04 17:45] victorhurdugaci commented on #1077
Done

[2015-02-04 17:45] #1077 closed

[2015-02-04 18:46] #1164 closed

[2015-02-04 19:03] StefH commented on #560
Same error occurs when using empty string or empty strings.

[code]

or

[code]

[2015-02-04 20:34] Aethon commented on #745
+1 using beta2 in the aspnet Docker container.

[2015-02-05 02:00] ChengTian opened #1170 "Always use the last match line in servicing index file to patch a package"
I made the following index file:
[code]

It’s emulating the scenario where we patch the same package with multiple patches (1.0.0-patch1 and 1.0.0-patch2). However, the result shows that 1.0.0-patch1 gets picked up.

We want to apply a newer patch by simply appending a line to existing index file. So it makes more sense to always use the line nearer to end of file.

[2015-02-05 10:48] fsbahman opened #1173 "PathTooLongException when packing"
Hi,
My project structure is not very long but I guess its Api limitation that path couldn't exceed 260 characters.

[2015-02-05 13:32] cH40z-Lord opened #1174 "Trying to install a new runtime always creates a folder in ~/.k/runtimes/"
Whenever I'm trying to install a new version of the KRE/XRE on my OSX machine a new folder in ~/.k/runtimes will be created and thus make it show up in `kvm list`. So far I haven't tested whether you can reproduce this weird behavior on Windows as well.

Running `kvm install 1.0.0-foobar` will create the following result:

[code]

[2015-02-05 14:51] cH40z-Lord commented on #1174
Nevermind, kvm is no longer part of this repo. Opening a new ticket in aspnet/dotnetsdk.

[2015-02-05 14:51] #1174 closed

[2015-02-05 17:49] #1153 closed

[2015-02-05 18:48] Eilon commented on #1173
Dup of https://github.com/aspnet/XRE/issues/1008 and/or https://github.com/aspnet/XRE/issues/944 ?

[2015-02-05 18:59] Praburaj commented on #1173
@fsbahman meanwhile you could set the pack output to something as small as `c:\test`.

[2015-02-06 09:48] fsbahman commented on #1173
@Eilon root cause is same but it occurs when using "kpm pack"
@Praburaj indeed it will be a temporary solution, but I willl have even longer path.

[2015-02-07 01:12] #884 closed

[2015-02-07 07:23] glennc commented on #1159
Are you talking about determining all packages that are depended on but not used? I'm not sure what we're talking about :)

[2015-02-07 17:21] bricelam commented on #1159
Sorry, I'm asking for two things at once. The first is determining which explicit (listed in project.json) dependencies are already brought in by your other dependencies and are thus redundant. The second is just a pipe dream of being able to determine which explicit dependencies are never actually used.

[2015-02-09 06:11] davidfowl opened #1182 "Support kpm bundle copying all output to a single folder"
This will make it possible to run on app models that don't support loading from anywhere but the location where the runtime resides.

/cc @ChengTian

[2015-02-09 06:23] davidfowl opened #1183 "Remove package created by kpm bundle --no-source"
Today when we `kpm bundle --no-source`, we end up with a nupkg in `bin/{Configuration}`. We should nuke this after extracting it to the target.

[2015-02-09 06:53] StefH commented on #1026
Another question : Is defining the external code files using an **array** supported?

I thought the only support was to use a **;** - separator?
[code]

[2015-02-09 07:10] davidfowl commented on #1026
arrays are supported as well.

[2015-02-09 10:06] StefH commented on #1026
Hi David, in which version form the XRE is this support?

[2015-02-09 10:16] davidfowl commented on #1026
Since beta1 or so

[2015-02-09 18:06] ChengTian commented on #795
We have `kpm list` as a replacement of this feature.

[2015-02-09 18:06] #795 closed

[2015-02-09 18:11] davidfowl commented on #1182
https://github.com/aspnet/XRE/tree/bundle-one-folder I started a prototype here. A few things that we need to consider:
- It should probably fail when you pass multiple frameworks or runtimes
- Copying the minimal runtime required based on what other dependencies were used in the application itself and what is minimally required by the runtime.
- Multiple runtimes should fail as well. Basically an

[2015-02-09 18:12] muratg commented on #1150
/cc: @davidfowl

[2015-02-09 18:16] ChengTian opened #1184 "Use flat list as DSL describing folder structure in functional tests"
Replace current JSON-based DSL with the following approach:
[code]

See discussion at: https://github.com/aspnet/XRE/pull/1175/files#r24285922

[2015-02-09 18:50] ChengTian opened #1185 "Revert previous runtime renaming"
1. `dotnet.exe` -> `klr.exe`
2. `dotnet` in bootstrapper names -> `kre`
3. Use the general term `runtime` in code to make future renaming easier

[2015-02-09 18:51] #1185 closed

[2015-02-09 18:54] ChengTian opened #1186 "Bootstrapper doesn't work with relative appbase"
`klr.exe --appbase <relative_path>` fails.

[2015-02-09 18:54] #1186 closed

[2015-02-09 19:13] troydai opened #1187 "The preprocess files and shared files are not excluded when the search path of codes begins with dot which represents current directory."
[code]
Above `project.json` will not exclude the files under `preprocess` and `shared` folders.

[2015-02-09 19:59] #789 closed

[2015-02-09 22:13] troydai commented on #1184
:+1:

[2015-02-10 17:46] victorhurdugaci opened #1189 "Add a flag to klr to wait for debugger"
Add a flag to `klr` that will block it until you attach a debugger. Something like `klr --debug-wait`.
It would be super useful when debugging startup problems.

[2015-02-10 17:47] davidfowl commented on #1189
+1 maybe just debug

[2015-02-10 19:09] dougbu opened #1190 "Avoid conflicts between parallel `kpm restore` operations"
Builds now (since commit https://github.com/aspnet/XRE/commit/7144ddcb0b43da44b6d18f0ed76244387b512f14) fail fairly frequently due to conflicts between threads attempting to restore the same packages.

@pranavkm let me know reverting that commit solve everything due to potential conflicts when (e.g. on a CI machine) multiple processes execute `kpm restore` at the same time.  We could configure CI

[2015-02-10 19:26] ByteBlast commented on #634
:+1:

[2015-02-10 23:34] muratg commented on #738
@davidfowl rc1?

[2015-02-10 23:36] muratg commented on #744
No ANI's anymore. :/

[2015-02-10 23:36] #744 closed

[2015-02-10 23:38] muratg commented on #708
no ANIs anymore :/

[2015-02-10 23:38] #708 closed

[2015-02-10 23:39] muratg commented on #643
@ChengTian @pranavkm what's the status of this issue?

[2015-02-10 23:41] muratg commented on #572
NO ANIs anymore :/

[2015-02-10 23:41] #572 closed

[2015-02-10 23:42] ChengTian commented on #643
Buggy HttpClient from CoreCLR was preventing this from being done. I will try integrating the latest CoreCLR HttpClient to see whether it usable now.

[2015-02-10 23:43] muratg commented on #534
No ANIs

[2015-02-10 23:43] #534 closed

[2015-02-10 23:45] muratg commented on #532
@davidfowl is this still an issue? putting this into rc1 for now...

[2015-02-10 23:47] muratg commented on #521
@ChengTian @davidfowl closing this.... repoen if more work is needed here

[2015-02-10 23:47] #521 closed

[2015-02-10 23:53] muratg commented on #171
ANI's are no more :/

[2015-02-10 23:53] #171 closed

[2015-02-10 23:54] muratg commented on #71
@davidfowl lock file?  can we close this one?

[2015-02-10 23:54] muratg commented on #62
ANIs are dead :/

[2015-02-10 23:54] #62 closed

[2015-02-10 23:58] muratg commented on #1190
@pranavkm do you have a repro for this issue?

[2015-02-11 00:00] dougbu commented on #1190
@muratg easiest way to repro is to delete your packages directory, clean, and then run `.\build.cmd --quiet default` or `kpm restore --quiet` in an MVC repo.  deleting packages directory just increases opportunities for a conflict -- doesn't cause the problem here.

[2015-02-11 00:22] muratg commented on #1190
Looks like we might need to identify packages which are already is being downloaded by someone else, and skip.  @pranavkm what do you think?  I expect more folks to hit this.

[2015-02-11 01:04] ChengTian commented on #1182
@davidfowl

`Assembly.GetReferencedAssemblies()` is not available in CoreCLR. So we are unable to calculate the minimal runtime assembly closure on CoreCLR.

As a temporary workaround, I am copying all runtime assemblies if current `kpm bundle --one-folder` is running on CoreCLR.

[2015-02-11 05:17] bricelam opened #1191 "kpm list doesn't work for portable targets"
Given a `project.json` like the following.
[code]
I cannot get `kpm list` to work for that framework--neither with nor without the `--framework` parameter.

[2015-02-11 05:25] Praburaj commented on #1191
Dupe of https://github.com/aspnet/XRE/issues/1093?

[2015-02-11 16:24] troydai commented on #1187
This is fixed.

[2015-02-11 16:24] #1187 closed

[2015-02-11 19:44] abpiskunov opened #1192 "Ensure “COM+_Entry_Point” symbol is added to modules to support F10/F11"
There was a pretty long email thread about F10/F11 in console apps don't start debugging on the first line in Program.cs/Main. Debugger team applied a partial fix, but from runtime side we need to make sure that “COM+_Entry_Point” symbol is added to our modules for debugger to find entry point to a module. See TFS bug for more details: 1114153

[2015-02-11 21:23] bricelam commented on #1191
No, it didn't nullref. It just didn't show them.

[2015-02-11 21:53] BrennanConroy opened #1193 "Multiple values for kpm switches not working"
Any switches for kpm subcommands that allow multiple values to be used do not work.

Examples:
kpm pack --framework aspnet50 aspnetcore50
kpm build --configuration debug release

[2015-02-11 21:57] BrennanConroy opened #1194 "Kpm packages push and pull methods leave behind artifacts"
When using the push and pull commands of 'kpm packages' they leave behind a $feed folder in the main packages folder and an $index.json file in each packages folder

[2015-02-11 22:00] Praburaj commented on #1191
I see. It might not be a dup then.

[2015-02-12 00:01] troydai commented on #755
It's done.

[2015-02-12 00:01] #755 closed

[2015-02-12 00:02] troydai commented on #779
Done.

[2015-02-12 00:02] #779 closed

[2015-02-12 01:15] glennc commented on #275
@Alxandr leaving this in the backlog for when you get to it.

[2015-02-12 01:16] glennc commented on #343
@davidfowl I assume we would've found this in our recent profiling efforts. Did anything show up?

[2015-02-12 01:16] glennc commented on #358
@bricelam Is this still an issue?

[2015-02-12 01:23] glennc commented on #460
@davidfowl ping so you consider this in the stuff you are working on at the moment.

[2015-02-12 01:27] glennc commented on #468
@troydai what?

[2015-02-12 01:29] glennc commented on #471
Duplicate: https://github.com/aspnet/XRE/issues/714

[2015-02-12 01:29] #471 closed

[2015-02-12 01:35] glennc commented on #475
I think this is by design. The overwrite command is designed to take overwrite any files that exist in the destination and the application being packed. It doesn't diff things and only overwrite if changes are made. Feel free to disagree and re-open.

[2015-02-12 01:35] #475 closed

[2015-02-12 01:39] glennc commented on #611
@ChengTian @ahmetalpbalkan Have either of you seen this before? Is it a bug that's been fixed?

[2015-02-12 01:41] ahmetalpbalkan commented on #611
@glennc I believe that's still the case unless explicitly fixed. Docker containers die after a while unless a pseudo-tty is attached.

[2015-02-12 03:55] ahmetalpbalkan commented on #611
(amending my previous comment) @glennc nope I'm not aware of this. @colemickens is this still the case?

[2015-02-12 04:20] bricelam commented on #358
Yep, with xunit.runner.aspnet from aspnet.xunit now. I suppose we could move XRE's tests into another repository. The CI workflow would be:
1. Build XRE
2. Build aspnet.xunit
3. Test XRE
4. Cascade, rinse & repeat

[2015-02-12 04:30] troydai commented on #468
Ah, this was filed while building the performance infrastructure. When `kpm bundle`  (then `kpm pack`) it will copy the packages from `.k/packages` folder to the application's app root. It will be helpful to enable skip the copy and just pack the other contents because in performance testing environment all packages are concentrated under `KRE_PACKAGES`.

[2015-02-12 05:37] troydai commented on #1119
@muratg @glennc shall I take a look at this?

[2015-02-12 05:40] troydai commented on #1099
I don't think it's doable. https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.Runtime/NuGet/Utility/VersionUtility.cs#L178

[2015-02-12 05:41] troydai commented on #1098
@davidfowl @glennc @muratg Opinion?

[2015-02-12 05:44] davidfowl commented on #1099
Of course it is. What do you mean?

[2015-02-12 05:53] troydai commented on #1093
No repo. @Praburaj can you give it another try?

[2015-02-12 06:01] troydai commented on #1099
https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.Runtime/NuGet/Utility/VersionUtility.cs#L1140
The `aspnet50` is mapped to `Asp.Net`. But the dictionary is private. When the `DependencyListCommand` consumes the `FrameworkName` the convert is already done. How do I reverse the name back to `aspnet50`?

[2015-02-12 06:11] davidfowl commented on #1099
GetShortframeworkname

[2015-02-12 06:17] troydai commented on #1099
Ah, ok.

[2015-02-12 06:56] troydai commented on #1095
Will be addressed here https://github.com/aspnet/XRE/pull/1198

[2015-02-12 07:04] troydai commented on #1189
:+1:

[2015-02-12 08:27] davidfowl commented on #1098
Opinion about the feature or something else?

[2015-02-12 08:47] troydai commented on #1098
About the feature.

[2015-02-12 08:59] davidfowl commented on #1098
We should do it.

[2015-02-12 09:18] davidfowl commented on #1194
That's by design

[2015-02-12 09:19] davidfowl commented on #1193
That's because you're using them incorrectly :smile: .

[code]

[2015-02-12 09:19] davidfowl commented on #1193
/cc @ChengTian

[2015-02-12 10:02] davidfowl opened #1199 "Bust the resolved dependency cache when rebuild is triggered"
The scenario is that you triggered a package restore outside of the IDE. Today, doing a rebuild won't cause dependencies to be reevaluated. We should fix this.

[2015-02-12 10:39] davidfowl opened #1200 "Mark dependency as unresolved if the nuspec doesn't exist"
The error you get today is along the lines of
`Could not find file 'C:\Users\davifowl\.k\packages\Unity\3.5.1405-prerelease\Unity.nuspec'.`

[2015-02-12 16:31] ChengTian commented on #611
Just verified. It's fixed.

[2015-02-12 16:31] #611 closed

[2015-02-12 16:37] ChengTian commented on #1193
Yeah, we are using this syntax to avoid ambiguity.

Think about usage of `kpm pack`: `kpm [options] [argument]`. `[argument]` is the path to project root. If we support `kpm --framework <framework1> <framework2>`, how do we know whether `<framework2>` is a name of framework, or path to project root?

[2015-02-12 16:37] #1193 closed

[2015-02-12 17:26] Praburaj commented on #1093
Can't repro with latest bits.

[2015-02-12 17:26] #1093 closed

[2015-02-12 18:56] MattGal opened #1202 "Should not swallow unhandled exceptions if debugger is attached."
As an example, in a traditional desktop app, let’s say I have this:

        static void Main(string[] args)
        {
            int zero = 0;
            try
            {
                int foo = 2 / zero;
            }
            catch { }
            int bar = 2 / zero;

        }
If I turn on 1st chance exceptions and F5, I break on foo, and can continue.  If I don’t, it’s caught and I br

[2015-02-12 21:51] victorhurdugaci commented on #1140
Fixed https://github.com/aspnet/XRE/pull/1154

[2015-02-12 21:51] #1140 closed

[2015-02-12 21:51] victorhurdugaci commented on #540
Done https://github.com/aspnet/XRE/pull/1154

[2015-02-12 21:51] #540 closed

[2015-02-12 22:20] davidfowl commented on #358
We're not fixing this. We don't look at the test folder for repo dependencies. I'm sure this problem exists for other repos too

[2015-02-13 00:49] troydai commented on #1096
Fixed.

[2015-02-13 00:49] #1096 closed

[2015-02-13 00:49] troydai commented on #1094
Fixed.

[2015-02-13 00:49] #1094 closed

[2015-02-13 00:52] troydai commented on #1099
https://github.com/aspnet/XRE/pull/1198

[2015-02-13 00:52] troydai commented on #1099
Fixed in e75955245d966eef5d95b8c023af9e9276415a51

[2015-02-13 00:52] #1099 closed

[2015-02-13 02:01] glennc commented on #1159
To do the first you need to take into account all the rules of the dependency walker. EF might be pulled in by a dependency, but is it the same version that the dependency resolver would've picked if you removed it from the apps dependency list? You need to remove the app level one, and then run the dependency walker to see if it changes the result.

Then when you do that you try to generalize tha

[2015-02-13 02:13] glennc commented on #1159
One thing I also tried out was running the dependency walker and drawing the nodes, showing which ones were eclipsed by packages nearer to the app. I made it so that if you highlighted a node it would show you all the packages with the same name, so you could see what was eclipsed and remove anything that was.

Do you think this would give you what you want?

[2015-02-13 05:14] bricelam commented on #1159
Ah, I forgot NuGet had that strategy for reconciling dependency versions. I saw the feature in Paket and found it very useful, but it probably works well there because they always use the newest semantically-compatible version of dependencies.

`kpm list` is probably good enough given the complexities. Drawing the dependency graph would be a great power tool to have. This feature request was just

[2015-02-13 09:58] #1199 closed

[2015-02-13 18:15] glennc commented on #611
Thanks @ahmetalpbalkan and @ChengTian

[2015-02-13 22:25] victorhurdugaci opened #1207 "KLR.exe uses KERNEL32 instead of api-ms-win-*"
I did a comparison of the imports using dumpbin and right when we renamed `dotnet` back to `klr` we stopped building against the `api-ms-win-*.dll` and switched to `kernel32.dll`.

11000 is the last build before rename and still uses `api-ms-win-*.dll`
11004 is the first build after rename and it uses `kernel32.dll`.

Below are the dumpbin results.

I believe the bug was introduced by [this change

[2015-02-13 22:38] troydai commented on #1095
This is fixed.

[2015-02-13 22:38] #1095 closed

[2015-02-14 00:01] muratg commented on #1159
Closing this one based on Brice's last comment.

[2015-02-14 00:01] #1159 closed

[2015-02-14 00:09] muratg commented on #1119
Question from triage: Should we even allow framework not being specified?  Should we throw instead?

/cc: @davidfowl @loudej

[2015-02-14 00:11] muratg commented on #22
https://github.com/aspnet/XRE/issues/464

@KKhurin do you have any proposals/PRs for this?

[2015-02-14 00:14] muratg commented on #358
Closing per last comment

[2015-02-14 00:14] #358 closed

[2015-02-14 00:14] danroth27 opened #1208 "kpm restore should not restore unlisted packages"
If we upload a set of packages as unlisted and the package dependencies are not all fully uploaded then kpm restore can break when a project is configured to use the latest packages. We should exclude unlisted packages when doing a package restore.

[2015-02-14 00:15] muratg commented on #448
@troydai closing this. If there's still an issue around bundle, please reactivate

[2015-02-14 00:15] #448 closed

[2015-02-14 00:29] muratg commented on #621
@GrabYourPitchforks does preprocessing feature solve this?

[2015-02-14 00:34] muratg commented on #642
@Praburaj is this still an issue?

[2015-02-14 00:39] muratg commented on #645
Order is important.  Options come first in the command line.

kpm -v restore works.

@suhasj @Eilon If you guys think we should do be more liberal with ordering please file another bug.

[2015-02-14 00:39] #645 closed

[2015-02-14 00:39] DamianEdwards opened #1209 "Enable CLR feature that flows culture via async local on Core CLR"
Need to set the `AppContext` switch `Switch.System.Globalization.NoAsyncCurrentCulture` to `false` to enable `CultureInfo` to flow across threads on Core CLR.

[2015-02-14 00:44] DamianEdwards opened #1211 "Create a custom HostExecutionContextManager for .NET 4.5.1 host that flows current culture across threads"

[2015-02-14 00:46] muratg commented on #662
@Praburaj Can you clarify the scenario a bit?

[2015-02-14 04:58] GrabYourPitchforks commented on #621
No - none of the scenarios I listed above are covered by the preprocessing feature.

[2015-02-14 05:59] troydai opened #1212 "Use Matcher to exclude files during bundling"
https://github.com/aspnet/XRE/blob/94add15fefff3484f2204bc977bd7373af5dd022/src/Microsoft.Framework.PackageManager/Bundle/BundleProject.cs#L264

There is logic in bundle to exclude specified files from final output. It looks like a proper candidate or matcher consumer.

[2015-02-14 06:52] davidfowl commented on #621
It will be, we just haven't properly implemented the AfterCompileContext. We also need to add an extra event that happens during packaging.

[2015-02-14 09:34] davidfowl opened #1214 "Package restore broken on mono"
[code]

Looks like your change @pranavkm

[2015-02-14 09:37] davidfowl commented on #1067
/cc @BillHiebert

[2015-02-14 15:19] anfomin commented on #1214
Any news when this bug will be resolved? I'm trying to run vNext project from Windows on OS X just now :disappointed_relieved:

[2015-02-14 16:14] #1214 closed

[2015-02-14 16:24] pranavkm commented on #1214
@anfomin Our regular feed needs some sorting out so it'll take a bit for it to appear there. In the meanwhile, you can grab the fixed build of KRE from the volatile feed in ~10 mins.

[code]

[2015-02-14 17:39] davidfowl commented on #1214
@anfomin Are you using beta4 bits? I'm asking because I'd love to know how you're using them on windows. Are you using Visual Studio?

[2015-02-14 19:42] anfomin commented on #1214
@pranavkm I tried `aspnetvolatile` right now but there is no fresh version:
![2015-02-14 23 56 17](https://cloud.githubusercontent.com/assets/1905503/6200692/41a87f7e-b4a5-11e4-8ad3-d7602ba130c5.png)

@davidfowl Yes, we are using latest builds from https://www.myget.org/F/aspnetvnext/ for about 5-6 months on Windows. MVC6 beta4 is great! VS2015 is still very-very slow and buggy. Moreover it often

[2015-02-14 21:09] davidfowl commented on #1214
You might be running an older version of kvm itself.

[2015-02-14 22:54] davidfowl opened #1215 "Intermittent error loading Roslyn in DTH"
[code]

[2015-02-14 22:57] davidfowl commented on #1215
Likely because we need to lock in the LoadContextAccessor on desktop CLR

[2015-02-14 23:07] StefH commented on #867
Hi @Maumar and @davidfowl,

Can you please share the documentation on how to define a PCL in the project.json? (e.g. ".NETPortable,Version=v4.6,Profile=Profile151")

And what's the compiler directive to use in code when dealing with PCL specific statements? Is that **PORTABLE**?

And why is #827 related to this?

[2015-02-14 23:18] davidfowl commented on #867
I wouldn't recommend creating portable class libraries this way. We also don't make compiler directives when you use the PCL targets.

[2015-02-15 05:19] ChengTian opened #1217 "Add package SHA values to lock file"
We need to add the sha to the lock file and it never has to be written to disk in theory

[2015-02-15 06:52] anfomin commented on #1214
@davidfowl @pranavkm I've tried to clear `.k` and start from scratch:
[code]
But with latest kvm from `https://github.com/aspnet/dotnetsdk` I can't upgrade to right kre.

[2015-02-15 17:55] Eilon commented on #645
The command line help is pretty explicit about the ordering... I don't see us changing the design (and I don't think we should).

However, showing a stack trace and "TODO" are unacceptable, and we should fix those.

[2015-02-16 03:15] davidfowl opened #1220 "Lock file validation"
Without automatic restore, we might find ourselves in a situation where project.json has been changed but `kpm restore` wasn't run to generate a new lock file. In these situations, we should fail/warn the user that they need to regenerated the lock file.

/cc @lodejard @ChengTian

[2015-02-16 03:27] davidfowl opened #1221 "Lock entries should be sorted in a consistent manner to avoid conflicts"
To avoid potential merge conflicts, the lock file should have sorted:

- Dependencies
- File list
- Framework assemblies

[2015-02-16 07:35] davidfowl opened #1222 "kpm commands install on project.json should not work"
So I just ran kpm commands install in a directory with a project.json and I have no idea what it did. Shouldn't it require an id at the very least?

It seems like it does the same as kpm restore..

/cc @victorhurdugaci

[2015-02-16 07:38] davidfowl opened #1223 "kpm commands install throws ArgumentNullException when package doesn't exist"
[code]

[2015-02-16 16:02] StefH commented on #867
Is this also not planned for the future release?

[2015-02-16 17:56] victorhurdugaci commented on #1222
Yeah, there was a bug and it was just restoring... Fixed it with #1224

[2015-02-16 18:35] muratg commented on #1183
Assigning to @BrennanConroy.   /cc: @ChengTian for CRs later.

[2015-02-16 21:05] victorhurdugaci opened #1225 "kpm bundle --runtime with current active version"
Can we please make `kpm bundle --runtime` (notice no runtime version specified) bundle with the current active runtime?

[2015-02-16 22:33] troydai commented on #1119
Discussed with @glennc about what framework to fall back when there is no framework listed. To keep inline with other command (`build` `bundle`), the fall back framework will be the KRE on the path.

[2015-02-17 00:03] BrennanConroy commented on #1183
Should we nuke any pre-existing nupkg that are also in that directory? Like the ones left from a successful build.

[2015-02-17 00:21] #692 closed

[2015-02-17 00:27] jeffhandley commented on #1208
Sadly, the logic is obscure and disappointing.

If the Published date value is `1900-01-01T00:00:00`, then the package is unlisted and it should no longer be considered in dependency resolution when versions are being selected, or during initial installs of packages where users are discovering versions.

However, these "unlisted" versions must still be allowed when the user is restoring packages s

[2015-02-17 00:32] glennc commented on #718
@balachir is this still an issue that we need to look at? It's been a while since you created it.

[2015-02-17 00:42] glennc opened #1227 "remove overwrite from kpm"
Overwrite was created for the scenario of packing two applications into the same output directory. In that scenario you would want to copy the output into the folder, but not try and duplicate all the packages.

Given that people aren't trying to do this, and the overwrite command is constantly misunderstood and mislabeled we will remove it.

[2015-02-17 00:44] glennc commented on #856
We are removing overwrite. See: https://github.com/aspnet/XRE/issues/1227

[2015-02-17 00:44] #856 closed

[2015-02-17 00:45] glennc commented on #713
We are removing overwrite. See: https://github.com/aspnet/XRE/issues/1227

[2015-02-17 00:45] #713 closed

[2015-02-17 00:45] glennc commented on #714
We are removing overwrite. See: https://github.com/aspnet/XRE/issues/1227

[2015-02-17 00:45] #714 closed

[2015-02-17 00:55] glennc commented on #773
@GrabYourPitchforks do you think this is related to something similar to https://github.com/aspnet/XRE/issues/600?

[2015-02-17 00:58] glennc commented on #897
close as duplicate

[2015-02-17 00:58] #897 closed

[2015-02-17 00:59] troydai commented on #1067
Is this the project will suppose to look like?
[code]

Questions (and answer I assumed):
1. Non-exist single file path in include, report error? Yes
2. Support wild card in "includeFiles"? No
3. Non-exist single file path in includeFiles, report error? Yes
4. Do `BundleExclude`, `Preprocess`, `Resources`, and `Shared` adopt the same pattern? Yes
5. Can the `pattern` section for each group be omitt

[2015-02-17 01:01] glennc commented on #777
Not sure of all the implications of this, assigning it to RC1 to find out.

[2015-02-17 01:02] glennc commented on #809
@troydai can you investigate this a bit further and see if you can identify a cause?

[2015-02-17 02:04] troydai commented on #809
Got it.

[2015-02-17 15:02] trayburn opened #1229 "'Type' does not contain a definition for 'Assembly'"
### Title
'Type' does not contain a definition for 'Assembly'

### Functional impact
`k run` properly executes
`kpm build` results in a compile error

### Minimal repro steps
Reference the `Assembly` property of a `Type`.
Simple repo project created for your use here: https://github.com/trayburn/kpmBuildIssue

### Expected result
Both versions should compile without error, as `Type` does indeed ha

[2015-02-17 15:21] davidfowl commented on #1229
That's not a bug. Type actually does not contain the member assembly anymore. For more information head over to github.com/dotnet/corefx.

The alternative is to use Type.GetTypeInfo().Assembly

[2015-02-17 15:21] #1229 closed

[2015-02-17 18:32] glennc commented on #1225
Duplicate: https://github.com/aspnet/XRE/issues/694

[2015-02-17 18:32] #1225 closed

[2015-02-17 18:34] victorhurdugaci commented on #694
@glennc can we do this for rc1, please? Deployment for automation is complicated without it...

[2015-02-17 18:44] BrennanConroy opened #1233 "Kpm Restore Fails for FileGlobbing on Mac"
Running kpm restore on the XRE repo on a Mac fails to install the Microsoft.Framework.FileSystemGlobbing package.

Doing the same thing on windows works. @ChengTian

----------
System.IO.FileNotFoundException: Could not find file "/Users/X/.k/packages/Microsoft.Framework.FileSystemGlobbing/1.0.0-beta4-10854/Microsoft.Framework.FileSystemGlobbing.nuspec".
File name: '/Users/X/.k/packages/Microsoft.

[2015-02-17 18:45] abpiskunov commented on #1067
Looks good to me. One question: could folders be added to "include" elements along with individual files?

[2015-02-17 18:47] BrennanConroy commented on #1233
It just started working, didn't change anything

[2015-02-17 18:56] #1194 closed

[2015-02-17 18:59] #1233 closed

[2015-02-17 19:06] davidfowl commented on #1067
That doesn't look good to me. The sections are just expressed in the json file, they were just supposed to be titles.

[2015-02-17 19:07] davidfowl commented on #1067
@abpiskunov no, they can't.

[2015-02-17 19:12] muratg commented on #1150
@anurse please have a look as part of the current work.

[2015-02-17 19:13] glennc commented on #1160
why not? I don't remember why I filed this, but if it's directory info then I can do things like GetFiles as well as get FullName to use the string if that's what I want. Is there a strong reason that it should be a string?

[2015-02-17 19:16] glennc commented on #1135
@victorhurdugaci This is required for `install -g` right?

[2015-02-17 19:18] glennc commented on #1102
@victorhurdugaci Is this still the case?

[2015-02-17 19:39] victorhurdugaci commented on #1135
@davidfowl @lodejard do you still want to do this?

[2015-02-17 19:39] Praburaj commented on #1129
I can't seem to reproduce this issue anymore and our Linux and Mac CI's have gone past this stage. Closing this issue for now.

[2015-02-17 19:39] #1129 closed

[2015-02-17 19:40] muratg commented on #525
@davidfowl Is more investigation needed here, or is this good to close?

[2015-02-17 20:08] muratg commented on #1227
@BrennanConroy Make sure you check with tooling team, MVC and @troydai to ensure this doesn't break them.  They might need to remove this switch from their scripts.  Also check stress CI as well.

[2015-02-17 20:13] muratg commented on #1211
@DamianEdwards if you're planning to do this at the same time as the CoreCLR one, please feel free to self-assign.

[2015-02-17 20:14] davidfowl commented on #1211
@troydai Test out this PR first,https://github.com/aspnet/XRE/pull/953

[2015-02-17 20:18] muratg commented on #1152
@davidfowl you have some cycles?

[2015-02-17 20:20] davidfowl commented on #1152
It's already here in PR https://github.com/aspnet/XRE/pull/1169.

[2015-02-17 20:27] muratg commented on #1066
@troydai @anurse should this be assigned to Troy?

[2015-02-17 20:28] muratg commented on #1062
@pranavkm is this partially implemented already?

[2015-02-17 20:30] davidfowl commented on #1160
I don't see a reason to do it.

[2015-02-17 20:32] muratg commented on #997
@davidfowl is this good to close?

[2015-02-17 20:36] muratg commented on #945
@davidfowl can this be closed?

[2015-02-17 20:41] pranavkm commented on #1062
Yup, this was addressed as part of https://github.com/aspnet/XRE/commit/7144ddcb0b43da44b6d18f0ed76244387b512f14

[2015-02-17 20:46] muratg commented on #547
@lodejard Needed for RC1? And will you have time to do it?

[2015-02-17 20:52] abpiskunov commented on #1067
Ah yes, if so then thingFiles explicitly has only files and my question is irrelevant. One exclusion from pattern will be the exclude section:
  "exclude":[],
  "projectFiles":[]

It does not follow the pattern.

[2015-02-17 20:57] muratg commented on #743
@lodejard @davidfowl do you guys want this for RC1?  do either of you have any cycles?

[2015-02-17 21:12] #1183 closed

[2015-02-17 21:12] victorhurdugaci commented on #1101
A few questions:

1. Should the current process react to *any* change in the servicing index or only if there is an entry that affects what it has loaded?
2. How should the process react when the servicing index notification comes? Does it just kill itself?

[2015-02-17 22:02] troydai commented on #1067
Need better pattern for exclude, of course. So how about
[code]

Also, the compile files using name `codes` now, are we going to retired it?

[2015-02-17 22:05] troydai commented on #1066
I'm going to ask a question every assignees have asked ... what to improve?

[2015-02-17 22:06] victorhurdugaci commented on #1102
Yes, still repros

[2015-02-17 22:11] victorhurdugaci commented on #1066
Just make it better :trollface:

[2015-02-17 22:12] troydai commented on #1227
It is used for once instance in perf infrastructure, The parameter is actually quite handy when we auto-deploy a performance tool, save a delete command. It is not critical though, so I'm ok with removing it.

Reference
https://github.com/aspnet/Perf/blob/751fa4aafc42fc1c03018de49dcee40966cc97d3/tools/KPerf.TestManager/deploy.ps1#L36

[2015-02-17 22:40] troydai commented on #1191
@bricelam `net45+win8` is not regarded as a __supported__ framework therefore not listed in the target frameworks of a project.

[2015-02-17 23:29] #1189 closed

[2015-02-17 23:37] NTaylorMullen opened #1237 "Can't reference two shared source packages that depend on same shared source package. (shared sources should be transitive)"
Right now if I have the following project structure were all projects are shared source projects:
[code]
I'm unable to utilize both package `B` & `C` in the same application like so:
[code]
This is due to the sources of `A` being embedded into both `B` and `C`:
[code]
Which results in duplicate types for the `A.cs` in a test app. Talked with @loudej and @ChengTian about potential fixes for this is

[2015-02-17 23:38] troydai commented on #1066
Talked to @lodejard . This bug is duplicate with #1067 . I'll assign this to me and close as dup.

[2015-02-17 23:39] troydai commented on #1066
I'll close this bug and track the issue with #1067.

[2015-02-17 23:39] #1066 closed

[2015-02-18 00:14] troydai commented on #1102
:+1:

[2015-02-18 00:29] ChengTian commented on #1183
@BrennanConroy , you need to tag an issue as `Done` after you finish it. We will generate release notes based on tags :smile:

[2015-02-18 00:30] BrennanConroy commented on #1183
Done

[2015-02-18 00:30] troydai commented on #694
it will be nice to support kvm alias as well.

[2015-02-18 00:33] troydai commented on #718
@muratg maybe we need to create some performance baseline for common scenario like this?

[2015-02-18 01:13] lodejard commented on #1067
I think it was something like this...

### project.json properties, and their defaults
[code]
### actual files lists, and how they're calculated
[code]
### Usage and example of file lists
[code]
@ChengTian can you take a look at this to see if it breaks any of the things we do today?

[2015-02-18 02:09] davidfowl commented on #1102
This will be handled by the new globbung changes. Specifying a an exclude won't change the built in ones

[2015-02-18 02:38] Praburaj commented on #1191
@troydai Do we have information to print an `unrecognized target framework net45+win8` message in this case?

[2015-02-18 02:41] troydai commented on #1191
No. Not undoable, but the information is not directly feasible. Because the framework is filtered during project loading so the list command can't know about it (https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.PackageManager/List/DependencyListCommand.cs#L24)

[2015-02-18 04:36] anfomin commented on #1214
Updated to latest KRE today and vNext works on OS X. Thanks!

[2015-02-18 06:41] Eilon commented on #960
@muratg @glennc can we close this bug too?

[2015-02-18 06:42] ChengTian opened #1238 "Internalize FileSystemGlobbing into XRE"

[2015-02-18 06:54] Eilon commented on #963
@glennc @davidfowl @bricelam @muratg @lodejard re-opening this based on our recent discussions.

[2015-02-18 06:59] lodejard commented on #1135
I guess not, after all

[2015-02-18 08:20] davidfowl commented on #1135
Nope

[2015-02-18 08:20] #1135 closed

[2015-02-18 17:08] dougbu commented on #1237
@NTaylorMullen what are the symptoms when C has a build-time dependency on B and B shares *.cs (i.e. the B package contains only empty assemblies) and describes a dependency on A in its .nuspec?

[2015-02-18 17:48] muratg commented on #963
:+1:

[2015-02-18 18:05] troydai commented on #1098
13549a6

[2015-02-18 18:05] #1098 closed

[2015-02-18 18:56] #1170 closed

[2015-02-18 19:07] victorhurdugaci commented on #1101
@lodejard @GrabYourPitchforks ?

[2015-02-18 19:10] #1222 closed

[2015-02-18 19:16] MattGal opened #1241 "Project.Lock.Json files can get stale resulting in mystery build errors"
The very first time i set up a fresh hot machine with latest bits and cloned a project that had a project.lock.json, the .NET bits available had changed.  My project.lock.json file contained this:

[code]

... which no longer exists.  this leads to a confusing error (that doesn't currently send me to the .lock.json file)

![image](https://cloud.githubusercontent.com/assets/7862010/6254695/8190c260

[2015-02-18 19:21] davidfowl commented on #1241
It dies update in restore

[2015-02-18 20:58] MattGal commented on #1241
Maybe it died updating in KPM restore, not sure.  Ping me offline if you'd like to see my repro setup.

[2015-02-19 01:54] MattGal opened #1243 "KPM restore behavior needs to accommodate corrupted k package cache"
If the users deletes the package cache folder in most cases, a simple KPM restore will fix this back up.  This seems to be a fairly common scenario when using * versioning to ensure a new version is picked up.

I routinely delete this folder while VS is still running.  When I do that, any DLL that was loaded at the time won't be delete-able due to the file handles open to it.   That means I end up

[2015-02-19 02:58] davidfowl commented on #1243
/cc @ChengTian I ran into this too.

[2015-02-19 04:27] NTaylorMullen commented on #1237
@dougbu C will then have the shared sources from both B & A. Therefore everything will seem to function fine. The problem occurs when C also depends on a separate library in the system that also depends on A.

[2015-02-19 07:22] Tragetaschen commented on #968
The new [`IProjectContext`](https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.Runtime.Roslyn.Interfaces/IProjectContext.cs) from 4a7994d gives the necessary context to run the example correctly.

[2015-02-19 07:22] #968 closed

[2015-02-19 07:35] borgdylan commented on #1237
An issue will also occur if B or C are not shared projects themselves and depend on A's sources being compiled into them.

[2015-02-19 07:43] davidfowl commented on #1237
[code]

Does it mean that sources from A don't end up in B and C? What it does mean to bring in one copy of A.cs? Does it just dedupe based on path?

[2015-02-19 07:56] davidfowl commented on #819
Just a small update on this. We're messing around with internalizing ourselves (very manually) via roslyn magic and git submodules https://github.com/aspnet/XRE/pull/1239/files

[2015-02-19 15:17] avanderhoorn commented on #819
@davidfowl O-O... WOW, talk about force of will. Kinda cool that the XRE "lets" you do things like this. Assuming its proved out a little more, this could totally be made into something a little more supported. At the very least it could be a package that acts as a helper in doing things like this... save everyone writing the same code.

[2015-02-19 18:06] victorhurdugaci commented on #1207
This seems to be fixed after the CI changes.

[2015-02-19 18:06] #1207 closed

[2015-02-19 19:38] troydai opened #1244 "Replace the variables in makefile with constant"
There are multiple places in makefile the string `"aspnet50“` are directly used. In the cases when another renaming exercise is needed this could be error-prone.

[2015-02-19 20:37] NTaylorMullen commented on #1237
Right now it ends up A.cs ends up in both B and C which cause a conflict. The idea @loudej suggested is not necessarily to dedup the dependencies but to rather utilize the dependency chain (what nuget does) to pick only one of them.

[2015-02-19 22:11] ChengTian opened #1248 "Support globbing in global.json"
It's convenient to have
[code]
instead of
[code]

[2015-02-19 22:17] ChengTian commented on #1238
One more change is needed: when this change https://github.com/aspnet/XRE/commit/4a7994d226513397196928fd708780a307c9f5f5 passes Coherence-Signed, we need to update metaprogramming to use `IProjectContext`

[2015-02-19 22:20] ChengTian commented on #1248
WARNING from @davidfowl : if not implemented properly, this globbing can hurt performance. Please remember to expand the pattern at most once in `ProjectResolver`.

[2015-02-19 23:07] #1223 closed

[2015-02-20 01:14] ChengTian commented on #1067
Looks safe to use :+1:

[2015-02-20 07:03] #1152 closed

[2015-02-20 07:05] DamianEdwards opened #1253 "XRE app base change can break .NET APIs that are documented as supporting app-relative paths"
The recent change to change the base path of XRE apps to the XRE folder itself (rather than the application's folder) (#1152) causes some API's in the .NET Framework that are documented as supporting app-relative paths to break, as they now start searching from the wrong location.

e.g. [ResourceManager.CreateFileBasedResourceManager(string baseName, string resourceDir, Type usingResourceSet)](htt

[2015-02-20 07:11] davidfowl commented on #1253
We need to keep an eye out for the number of things that break because of this appbase change

/cc @shhsu @jhawk42

[2015-02-20 08:32] troydai commented on #1208
Fixed in 02d3bc9816e10b97450784ad6aa4846d678be3ec

[2015-02-20 08:32] #1208 closed

[2015-02-20 10:16] davidfowl commented on #1208
@troydai marked bugs as "Done" when you fix them

[2015-02-20 12:26] timothyclifford commented on #1007
Similar issue here https://github.com/aspnet/Home/issues/327

[2015-02-20 15:32] tugberkugurlu commented on #540
Is this in? I was expecting to see `-g` switch for `install` command but I cannot :disappointed:

I am on kpm version 1.0.0-beta4-11117.

[2015-02-20 15:50] victorhurdugaci commented on #540
Use `kpm commands`

Sent from my phone
________________________________
From: Tugberk Ugurlu<mailto:notifications@github.com>
Sent: ý2/ý20/ý2015 7:32 AM
To: aspnet/XRE<mailto:XRE@noreply.github.com>
Cc: Victor Hurdugaci<mailto:victor.hurdugaci@microsoft.com>
Subject: Re: [XRE] Investigate global packages ala npm install -g (#540)

Is this in? I was expecting to see -g switch for install command bu

[2015-02-20 16:08] tugberkugurlu commented on #540
Is there a sample for this feature somewhere or doc? I made `kpm commands install <package-name>` work but I am assuming it doesn't behave as I expected :disappointed:

[2015-02-20 16:17] troydai commented on #1208
Aye aye.

[2015-02-20 16:32] victorhurdugaci commented on #540
Sorry, there are no samples yet.

What package are you trying to install and what are you expecting to happen?

Sent from my phone
________________________________
From: Tugberk Ugurlu<mailto:notifications@github.com>
Sent: ý2/ý20/ý2015 8:09 AM
To: aspnet/XRE<mailto:XRE@noreply.github.com>
Cc: Victor Hurdugaci<mailto:victor.hurdugaci@microsoft.com>
Subject: Re: [XRE] Investigate global packages al

[2015-02-20 16:58] tugberkugurlu commented on #540
@victorhurdugaci I am trying to install **xunit.runner.kre** package. It installs but I cannot use it globally from the command line buy running xunit.runner.kre.

I am expecting for the library I installed available globally for me to use (if it's a console application). For example, when I run `npm install azure -g`, `azure` command is available for me globally.

Did I understand the behavior of

[2015-02-20 17:45] victorhurdugaci commented on #540
If you try to install `xunit.runner.kre` you'll get the following error

   The specified package is not an application. The package was added but no commands were installed.

Here is how the commands work. In project.json you can specify commands. When you pack such an application, we are generating scripts for those commands. If you run `kpm commands install` on a package with commands, it will

[2015-02-20 18:05] #1238 closed

[2015-02-20 18:21] troydai commented on #1191
Close this one as no-supported / by design. @bricelam

[2015-02-20 18:21] #1191 closed

[2015-02-20 18:31] victorhurdugaci commented on #540
I create a bug against xunit to provide the commands required for global install https://github.com/xunit/aspnet.xunit/issues/14

[2015-02-20 19:07] victorhurdugaci commented on #502
@Tratcher @davidfowl can you please give a little more context on this issue?

[2015-02-20 19:57] kalluri-nb commented on #1241
I'm not sure if this is related but Whenever i reopen the solution all the project.lock.json are cleared and   the external dependencies are not propagated to the referenced projects and the build results in errors. For ex If project B references Project A which has a dependency on System.Collections.Immutable. All the code in Project B which depends on System.Collections.Immutable errors out. Thi

[2015-02-20 20:36] glennc opened #1258 "cleanup kre.coreclr.cpp"
AMD64 check needs to be removed: https://github.com/aspnet/XRE/blob/dev/src/kre.coreclr/kre.coreclr.cpp#L232

Always pass full path to coreclr don't try and use relative paths or search around.

/@blowdart

[2015-02-20 22:29] shhsu commented on #1253
this actually sound like a possible deal breaker. Any client uses any BCL library that takes a file path could break due to this

[2015-02-20 22:40] #694 closed

[2015-02-20 23:07] BrennanConroy commented on #1051
![warningcolor](https://cloud.githubusercontent.com/assets/7574801/6311000/89ef277c-b911-11e4-8de9-9e30ed7d052d.PNG)

![remotewarning](https://cloud.githubusercontent.com/assets/7574801/6311059/24534f1e-b912-11e4-87c5-1e51cad4c4ce.PNG)

[2015-02-21 00:26] troydai commented on #1119
Fixed https://github.com/aspnet/XRE/commit/8383656344e33baaafa2f0fa561ed6756745c747

[2015-02-21 00:26] #1119 closed

[2015-02-21 01:03] Praburaj commented on #1051
@BrennanConroy is there a PR for this?

And it would be good to make the word `Warning:` in yellow.

[2015-02-21 01:10] BrennanConroy commented on #1051
No PR yet. Was wanting your feedback first

Sent from my HTC

----- Reply message -----
From: "Praburaj Thiagarajan" <notifications@github.com>
To: "aspnet/XRE" <XRE@noreply.github.com>
Cc: "Brennan Conroy" <brecon@microsoft.com>
Subject: [XRE] Print feed does not exist warning with a different color (like yellow) (#1051)
Date: Fri, Feb 20, 2015 5:03 PM

@BrennanConroy<https://github.com/BrennanCo

[2015-02-23 08:45] troydai opened #1261 "Fail to locate project.json on IIS + Helios"
The same scenario works with kre-clr-win-x86.1.0.0-beta4-11096 + Helios 11091.

[code]

[2015-02-23 09:08] davidfowl commented on #1261
What is KRE_APPBASe set to?

[2015-02-23 18:08] BrennanConroy commented on #1051
If we made ```Warning:``` yellow we would probably need to do that across all repos to be consistent.

[2015-02-23 18:17] #878 closed

[2015-02-23 20:25] muratg commented on #1237
@davidfowl @loudej are we going with Louis' suggestion?

[2015-02-23 21:39] suhasj commented on #1261
+1 can repro this with KRE 1.0.0-beta4-11128. The `kre-app-base` in the web.config in the package created after `kpm bundle` is `..\approot\src\{AppName}`

[2015-02-23 21:55] NTaylorMullen commented on #499
I've gone ahead and completed the `IPlugin` extensibility points to provide `DesignTimeHost` plugins. Next thing that is needed is to provide a way to reference the plugins in `project.json` without causing circular dependencies.

[2015-02-23 21:55] NTaylorMullen commented on #499
Items that added `IPlugin` support:

378a9042bcf1e17c21fae4548346f00794e0bb3b
4b07a60f981a6bcdf0aa8e2e9e429cf5f84ca9a1

[2015-02-23 22:35] Tratcher commented on #502
Open an assembly in ILSpy and look at the names of embedded resources.

[2015-02-23 23:55] muratg opened #1263 "Localization: Loading of loc resources"
- [ ] Satellite assemblies
- [ ] Satellite assembly packages
- [ ] Satellite assemblies in main package
- [ ] Packages

[2015-02-23 23:55] muratg commented on #1263
/cc: @DamianEdwards

[2015-02-24 02:20] #1133 closed

[2015-02-24 02:21] #1217 closed

[2015-02-24 02:29] MattGal opened #1264 "Dependent Projects with mix of "code" and .cs files included fail"
I have the following scenario:

1) ASP.NET VNext Console app referencing VNext Class library
2) Class library has code included in project.json file like so:

    "code": [ "../includespecial/*.cs" ],
3) Class library defines ClassA in its C# code, ClassB is defined in the included code
4) Console app uses type ClassA

Basically what happens here is that Class A does not exist for the user.  They

[2015-02-24 02:59] suhasj opened #1265 "Drop project.lock.json in AppData or some other location"
Can the new project.lock.json be stored in the AppData rather than in the project itself ? AFAIK this should not be tampered by the users right or is there a scope to customize this by the users. If it is auto generated and not supposed to be manually edited, it can be dropped in some other location.

[2015-02-24 03:07] davidfowl commented on #1265
I don't see how appdata makes any sense for something that is per project.

[2015-02-24 04:04] davidfowl commented on #1264
If you override code then you need to specify the defaults, e.g.

[code]
/cc @troydai is working on a change to make it so that you don't have to respecify defaults, but will let you override them when needed.

[2015-02-24 05:20] MattGal commented on #1264
Cool.  Is there also an issue to list all the files found after traversing the paths found in the code property (like in Solution Explorer)?

[2015-02-24 08:16] quintonn commented on #819
Would it not be a good idea to treat different versions of the same library as completely different libraries? I think this is what @ayende was referring to?
I.E, if using log4net v 1.2.10, then it would add a reference to a dll called log4net.1.2.10.dll, which will not be the same as log4net.1.2.11.dll. Or perhaps better would be to prefix the dll's with the name of the package it came with.
Eg.

[2015-02-24 14:54] tugberkugurlu commented on #540
@victorhurdugaci Thanks!

OK, I created a project with a command and packed it. It looks like this:

![image](https://cloud.githubusercontent.com/assets/328122/6351626/f8040d60-bc34-11e4-878e-c7a057846309.png)

I ran the `kpm commands install` as below:

![image](https://cloud.githubusercontent.com/assets/328122/6351573/9183a438-bc34-11e4-95b1-a55c81881215.png)

I still don't have `k-http` under m

[2015-02-24 16:09] tugberkugurlu commented on #540
I guess I figured it out. It strangely installs the script under `C:\Users\tugberk.ugurlu\bin` instead of `C:\Users\tugberk.ugurlu\.kre\bin`. I am assuming it should be `C:\Users\tugberk.ugurlu\.kre\bin` because it is what I have inside `$env:PATH`.

[2015-02-24 16:36] tugberkugurlu opened #1267 "project.lock.json must be loaded before resolving package path"
I installed a package globally using `kpm commands install` and I am getting this when I run the installed command:

![image](https://cloud.githubusercontent.com/assets/328122/6353764/30f2d5d0-bc43-11e4-8357-17685c92bf3e.png)

I am on v1.0.0-beta4-11134.

[2015-02-24 17:08] victorhurdugaci commented on #540
I was able to repro your issue. I'm taking a look

[2015-02-24 17:34] victorhurdugaci opened #1268 "kpm commands install is installing in the wrong folder"
It installs in `%userprofile%\bin` rather than `%userprofile%\.k\bin`

[2015-02-24 17:52] ChengTian opened #1270 "Have earlier lockfile enforcement"
https://github.com/aspnet/XRE/commit/7207b35052b183ef8cdc19d0f79d1598d4702efc#commitcomment-9886494

[2015-02-24 18:17] davidfowl commented on #1270
It might makes sense to do this in the rewrite.

[2015-02-24 18:55] chlowell opened #1271 "Improve KPM error messages when failing to resolve a source"
Using the latest WTE with WPT 22624, package restore fails when a GET from one source returns an error response, even if packages can be retrieved successfully from another source. This happens when a source returns 404 or its URL is invalid, etc. For example, this is the package manager output from a restore on a fresh console app configured with an invalid source URL:

[code]

If the offending s

[2015-02-24 19:21] abpiskunov opened #1272 "Add support for adding a reference to assemblies on disk"
Add support for adding a reference to custom assemblies. For example fo csproj files in Add Assembly reference dialog we can browse for some assembly and add a reference to it. What is the K story for this scenario?

[2015-02-24 19:35] suhasj commented on #1265
on the contrary why in the project unless it is supposed to be customized ? It is one more config file in the project displayed in VS and sometimes users might edit it by mistake.

[2015-02-24 21:05] colotiline opened #1274 "The kpm restore failed if you have private NuGet package source"
**Problem**
When I use `kpm restore` it's failed with the `network path was not found` exception.

**Reason**
I've got 2 private NuGet package sources. One is AppVeyor (required credentials) and one is my job's repository that is accessible only through VPN. `kpm` can't use them.

**Current solution (very bad)**
Remove these package sources.

**Better solution**
`kpm restore` should skip locations

[2015-02-24 21:37] DamianEdwards opened #1275 "DTH null ref in project with Tag Helpers & Razor pre-compilation"
Using latest bits. When building the MVC repo, the TagHelperSample.Web project fails to build due to a null ref in the DTH. Builds fine from the CLI.

[2015-02-24 21:37] DamianEdwards commented on #1275
@davidfowl FYI the issue we were looking at on my machine

[2015-02-24 22:41] Eilon commented on #1272
@sayedihashimi how much of this do we already support? I thought we had some tooling for this no?

[2015-02-24 22:43] sayedihashimi commented on #1272
@eilon we support Add Ref to a system (gac) assembly. This is for loose assemblies.

[2015-02-24 22:43] abpiskunov commented on #1272
There no tooling for this. That's why it came up. How would you do it at runtime side?

[2015-02-24 22:51] Eilon commented on #1272
Oh so this is the feature that @glennc sent the mail out for with the assemblies on disk? I'll change the bug title to say it's assemblies on disk.

[2015-02-24 22:59] victorhurdugaci opened #1277 "Nested folders make everything break"
1. Create a web project
2. Copy the mvc source code **inside** the solution folder so you have something like this

[code]

3.  In the solution's `global.json` file try to reference the mvc\src folder. You can try:

[code]

4. Notice that VS detects that you try to use sources instead of packages (in the reference node)
5. Run and notice that nothing works

It seems that if sources are more that o

[2015-02-24 23:03] davidfowl commented on #1277
when you run what happens exactly?

[2015-02-24 23:05] victorhurdugaci commented on #1277
- If you run it complains that it cannot find the references.
- In VS it cannot resolve the types from those packages

[2015-02-24 23:14] sayedihashimi commented on #1272
@eilon correct

[2015-02-24 23:22] davidfowl commented on #1277
Can you put the exception in here.

[2015-02-24 23:36] BrennanConroy commented on #1274
Have you tried --ignore-failed-sources?

[2015-02-25 00:42] DamianEdwards commented on #1275
I was able to reproduce on a simple Starter Web project. As soon as you reference tag helpers and you have Razor pre compilation configured, it fails.

[2015-02-25 01:45] ninety7 opened #1278 "Exception when publishing web app to Azure Web Sites"
I have a web app on asp.net 5 that used to deploy correctly on beta2, but fails every time when using beta3 (CTP6). It also happens using the kvm bundle command. This is the stack trace:

    C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Web\Microsoft.AspNet.Publishing.targets(121,5): Error : System.IO.PathTooLongException: The specified path, file name, or both are too long. The ful

[2015-02-25 02:20] ninety7 commented on #1278
Never mind. Did not see that project.json changed packExclude to bundleExclude

[2015-02-25 02:20] #1278 closed

[2015-02-25 05:33] troydai opened #1279 "Dnu list: list for project references along with the full closure of assemblies."
* List for project references along with the full closure of assemblies.

[2015-02-25 05:37] troydai opened #1280 "Update tpa list generating"
Build tpa list on `kre.host`. The list should contains `kre.host`.

[2015-02-25 08:53] lucamorelli commented on #1277
you can find a few examples in the picture here
https://github.com/aspnet/Home/issues/334

A few samples
Error	CS0234	The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspNet' (are you missing an assembly reference?)
Error	CS0246	The type or namespace name 'Authorize' could not be found (are you missing a using directive or an assembly reference?)
Error	CS0246	The type or

[2015-02-25 13:18] KevinDockx opened #1281 "k test => not so helpful/wrong error message?"
Yesterday (after upgrading to the latest kvm), I ran k test - it presented me with this error:

[code]

The solution proved to be a to start with a kpm restore, and simply run k test again.  So there was something wrong, but the error message didn't really help :-)  Maybe it's a good idea to clarify the error message?

[2015-02-25 16:42] davidfowl commented on #1281
It's since been fixed

[2015-02-25 16:42] #1281 closed

[2015-02-25 16:54] borgdylan opened #1282 "KPM restore regressed"
If I issue ```kpm restore``` I get an exception instead of the usual behaviour:
[code]

[2015-02-25 16:56] davidfowl commented on #1282
/cc @ChengTian

[2015-02-25 16:58] borgdylan commented on #1282
I am using the latest KRE. I could only get stuff to normal by deleting the lock file.

[2015-02-25 16:58] davidfowl commented on #1282
Can you give the exact version in use.

[2015-02-25 16:58] BrennanConroy commented on #1282
What kre are you using?

[2015-02-25 16:59] borgdylan commented on #1282
[code]

[2015-02-25 16:59] davidfowl commented on #1282
Can you show the project.json file

[2015-02-25 17:00] borgdylan commented on #1282
[code]

[2015-02-25 17:02] davidfowl commented on #1282
I don't get that exception.

[2015-02-25 17:02] davidfowl commented on #1282
Did you lock the lock file or something?

[2015-02-25 17:03] borgdylan commented on #1282
I did not. I had also passed ```---unlock" to make sure but to no avail. Deleting the lock file made it work.

[2015-02-25 17:03] davidfowl commented on #1282
Can you reproduce the bug?

[2015-02-25 17:04] borgdylan commented on #1282
Yes, with every project that had a lock file produced with an older KRE. Will check with lock files made with this KRE.

[2015-02-25 17:04] borgdylan commented on #1282
Did the lock file format change?

[2015-02-25 17:06] davidfowl commented on #1282
Yes, the lock file format changed. This bug can be closed then.

[2015-02-25 17:06] #1282 closed

[2015-02-25 17:07] ChengTian commented on #1282
We added SHA values to lock file in a recent change. Old lock file doesn't have SHAs. Delete all your old lock files and restore to generate new lock files.

[2015-02-25 17:07] borgdylan commented on #1282
So, ideally some message gets displayed that the format changed and that the file should be removed to regenerate a new lock file.

[2015-02-25 17:08] davidfowl commented on #1282
When we actually release a version we'll do this. You're using nightlies.

[2015-02-25 21:10] #1268 closed

[2015-02-25 21:56] troydai commented on #1261
@davidfowl @muratg @glennc anyone investigating this now?

[2015-02-25 22:43] camMCC commented on #1067
Chiming in because I was just dealing with this today in my project.

Since I have done quite a bit of work in the past with grunt.js my first instinct was to use the globbing patterns that are typical in a simple gruntfile.  It would be nice to see the ability to use the negation globbing pattern in the project.json file rather than being forced to have a separate property.

something like:

[cod

[2015-02-25 22:46] davidfowl commented on #1067
If we choose to do excludes via `!foo` that's actually separate from this feature. We're still going to add the extra properties because it can be used by tools to easily edit the json file via UI gestures without having to do set logic on globbing patterns.

[2015-02-25 22:58] MattGal opened #1283 "Need mechanism for including loose files with other binaries"
It seems unlikely that ASP.NET VNext's build mechanism will support build for targets like .NET 3.X, Silverlight, etc any time soon or at all.  Thus, if I want to make a package that works for ASP.NET VNext and these targets, I need to create entries like this:

        "net35": {
            "bin": {
                "assembly": "../../../build/bin/Release/.NET Framework 3.5/NLog.dll",

[2015-02-25 23:50] troydai commented on #1211
#953 works.

[2015-02-26 01:06] MattGal commented on #1241
Another issue I've seen with stale project.lock.json comes from upgrading KRE.  I've seen this on several machines due to changes in format:

C:\GIT\DataPoint\Source\DataPoint.Web>kpm restore
Restoring packages for C:\GIT\DataPoint\Source\DataPoint.Web\project.json
----------
System.ArgumentNullException: Value cannot be null.
Parameter name: source
   at Newtonsoft.Json.Linq.Extensions.Value[T,U]

[2015-02-26 02:26] davidfowl commented on #1271
What's the bug?

[2015-02-26 02:27] davidfowl commented on #1270
This is done right?

[2015-02-26 02:27] davidfowl commented on #1264
That would be in tfs. I'm think there is one

[2015-02-26 02:27] #1264 closed

[2015-02-26 02:28] davidfowl commented on #1241
Closing this a dupe https://github.com/aspnet/XRE/issues/1220

[2015-02-26 02:28] #1241 closed

[2015-02-26 02:29] ChengTian commented on #1270
Done in https://github.com/aspnet/XRE/commit/682efc74c9e32dac4b9055878abef97e448a6c59

[2015-02-26 02:29] #1270 closed

[2015-02-26 02:29] davidfowl commented on #1241
As for the schema changes, lower your expectations as we are in active development and you are using nightly bits

[2015-02-26 02:34] davidfowl commented on #1270
Where is the tag?

[2015-02-26 02:37] ChengTian commented on #1270
Added tag and PR reference

[2015-02-26 04:45] troyschneringer commented on #634
+1

[2015-02-26 06:42] Daniel15 opened #1284 "Setting assembly/package version for ASP.NET 5 Class Library in build"
When building an "ASP.NET 5 Class Library", is there a way to specify the version number as a build parameter rather than having to hardcode it in project.json? I have a project with a build server that builds NuGet packages for dev builds, and uses a version number with the date and time (like "0.1.0-dev-20140403-2203") for the NuGet package. At the moment I have a shared C# file containing the `

[2015-02-26 07:06] davidfowl commented on #1284
Yea, don't do that anymore. Instead use the snapshot feature of project.json.

[code]

Set the env variable K_BUILD_VERSION to something, and the * will be replaced with that variable. We're going to make this more first class so you can also set that via a flag most likely. The assembly version info will come from this as well so you should never have to set it.

[2015-02-26 07:11] Daniel15 commented on #1284
Great, thanks for all your help @davidfowl! The `K_BUILD_VERSION` is the missing piece I was looking for :+1:

With my current .NET projects I like putting the `AssemblyVersion` in a shared C# file since I can set it in one place and all projects use that version, which is handy when there's quite a few assemblies and also to ensure I don't forget to update any of them. With ASP.NET 5 Is there a w

[2015-02-26 07:13] davidfowl commented on #1284
Thats how we build our projects. Everything is * in the project.json and no file on disk changes during build. The env variable is used to fill in the *

[2015-02-26 07:13] Daniel15 commented on #1284
Awesome, thank you so much :D

[2015-02-26 08:28] colotiline commented on #1274
No. Thanks. Will try in this evening (GMT+3).

Why is `--ignore-failed-sources` not default?

[2015-02-26 08:41] davidfowl commented on #1274
Because we decided that it's not great behavior. You want to know when the sources you configured aren't effective. We're looking at changing nuget.config altogether though. Global config hierarchy of sources will likely go away as it causes too many issues in real scenarios.

Your global sources should not be inherited into every project by default.

[2015-02-26 11:18] davidfowl opened #1286 "Lock file should use / instead of \"
Because having to escape `\\` in JSON files sucks.

[2015-02-26 16:34] tugberkugurlu opened #1287 "Cannot resolve dependencies when installing globally using `kpm commands install`"
Getting the following error when I install a project globally using "kpm commands install" and try to use it afterwards:

![image](https://cloud.githubusercontent.com/assets/328122/6396059/43f68db0-bdd4-11e4-9f81-898f32c8366c.png)

I am on kre version 1.0.0-beta4-11143 and I tried this with the following project: https://github.com/tugberkugurlu/k-http/tree/92681b7bbf49c4c55a74f1b418b489cede1dddc1

[2015-02-26 16:46] colotiline commented on #1274
Using `kpm restore --ignore-failed-sources` didn't help.

I've got the same exception for my job's repository. Its uri is  `\\192.168.1.35\Packages`. VPN connection state doesn't matter.

So it looks like `kpm` doesn't support shared folders as NuGet packages source. Am I right? If yes, will it support them in the future?

Full exception:
[code]

[2015-02-26 16:54] troydai commented on #1067
@abpiskunov this change is merged. will appear in next KRE build. you can get it from volatile feed now.

[2015-02-26 16:56] troydai opened #1288 "Add compileBuiltIn property to project.json"
Similar to `excludeBuiltIn`, it includes pattern `**\*.cs* by default. Therefore even user re-write `compile` files' patterns the `*.cs` files are still included. User can overwrite `compileBuiltIn` explicitly.

[2015-02-26 16:57] troydai commented on #1288
@davidfowl @abpiskunov

[2015-02-26 18:37] colotiline commented on #1274
I cloned the repository. `kpm` should support shared folders (class 'PackageSourceUtils`, method `CreatePackageFeed`). But I always get the exception above. I will setup an environment for the XRE and try to debug later.

[2015-02-26 18:50] abpiskunov commented on #1067
Great! thanks

[2015-02-26 18:56] chlowell commented on #1271
An error retrieving packages from one source causes restore to fail despite successful communication with other sources offering the required packages.

[2015-02-26 20:51] nicbourgoin opened #1290 "KPM Bundle fails with PathTooLongException after kpm restore"
Too many nested node_modules files creates a PathTooLongException:

Duplicate of #821 but with KPM Bundle, here is the exception:

System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.
   at System.IO.Path.NormalizePath(String path, Boolean fullChe

[2015-02-26 22:23] troydai opened #1292 "Print warning when deprecated properties are used."
We keep supporting `code` and `resources` in project.json for the sake of compatibility. They should be gradually retired so as to simplify the parsing logic.

[2015-02-26 23:47] davidfowl commented on #1292
Awesome! We need something for design time host

[2015-02-27 05:20] Daniel15 commented on #1284
@davidfowl  I get "`'*' is not a valid version string`" and "`The design time host build failed with the following error: '*' is not a valid version string`" in Visual Studio if I try setting `"version": "*"` in my project.json. Any ideas? I'm on beta3 now. Do I need to set the environment variable in Visual Studio somehow in addition to using it for command-line builds?

[2015-02-27 05:47] davidfowl commented on #1284
Can't do it for VS builds can only do it for command line builds. It only works in the pre tag at the moment:

[code]

[2015-02-27 05:59] Daniel15 commented on #1284
Thanks, do you know if the Visual Studio team have plans for this?

[2015-02-27 06:01] davidfowl commented on #1284
I'll file something to make this a more first class feature.

[2015-02-27 06:04] davidfowl commented on #1284
We're the same team :smile:

[2015-02-27 06:06] Daniel15 commented on #1284
Oh cool, good to know. I thought the ASP.NET team was separate from Visual Studio :+1: :+1:

[2015-02-27 12:43] #1290 closed

[2015-02-27 12:43] nicbourgoin commented on #1290
Needed to change packExclude to bundleExclude.

[2015-02-27 17:11] troydai opened #1295 "kvm dev-install failed on mono because of false assumption"
`kvm dev-install` looks for `kvm.sh` under `~/.k/kvm` which is not necessary true because the homebrew is not updated yet.

[code]

[2015-02-27 17:25] jods4 opened #1296 "Possible parsing bug?"
I was trying to answer a few questions by reading the sources today and noticed:
https://github.com/aspnet/XRE/blob/069dfb964a86ab505dd6df5e5495434072346b6c/src/Microsoft.Framework.Runtime/NuGet/SemanticVersion.cs#L186

`SemanticVersion.TryParseInternal`
It seems that the intent of line 186 is to remove the `"-*"` suffix, by dropping the last 2 chars of `version`. But this is inconsistent with the

[2015-02-27 19:14] troydai commented on #1288
https://github.com/aspnet/XRE/commit/8a923a154c9e8c9616d163d796135132fce9edad

[2015-02-27 19:14] #1288 closed

[2015-02-27 19:56] NTaylorMullen opened #1297 "Need a way to lock dependencies without restoring"
Right now when you type `kpm restore --lock` it restores and then sets `"locked": true,` in the `.lock` file. Problem with this is in the majority of cases (at least for me) I only ever want to lock if I notice dependencies are breaking. This results in me turning off all of my package feeds to force a pull from cache and running `kpm restore --lock`.

For now I'll manually change the .lock file b

[2015-02-27 21:53] abpiskunov opened #1298 "DTH throws exception: The design time host build failed with the following error: Could not load file or assembly 'Microsoft.Framework.Runtime.Roslyn' or one of its dependencies"
Repro:

1. Create new ASP.NET 50 Console App
2. Add a new project to the solution (another console app)
3. Add reference to App1 to App2, right click Add Reference dialog etc
4. build everything
5. Close solution
6. Reopen solution and modify program.cs in App1
7. build

Actual result:
Error		The design time host build failed with the following error: Could not load file or assembly '4cc62e12-20ac

[2015-02-27 22:32] davidfowl commented on #1298
This is a dupe

[2015-02-28 05:57] Daniel15 opened #1301 ""Clean" target on kproj doesn't delete NuGet packages"
`msbuild blah.kproj` on an ASP.NET Class Library generates .nupkg and .symbols.nupkg files, but `msbuild blah.kproj /t:clean` does not delete these files.

[2015-02-28 06:00] davidfowl commented on #1301
/cc @BillHiebert @sayedihashimi

[2015-02-28 06:12] conniey opened #1302 "Add attributes from .nuspec to project.json schema"
project.json seems to unify (packages.config, *.nuspec and dependencies in *.csproj).  But, it is lacking some [.nuspec attributes](http://docs.nuget.org/create/nuspec-reference) that may be useful to enterprise developers.

I am developing a library using ASP.NET vNext but it is a hassle to automate the signing/upload of this package because I have to unzip it, add signed dlls, and re-write the .

[2015-02-28 06:16] davidfowl commented on #1302
We're missing licenseUrl and copyright but the rest are available.

https://github.com/aspnet/XRE/blob/dev/src/Microsoft.Framework.PackageManager/Building/BuildManager.cs#L244

We need to update the project.json schema.

/cc @madskristensen

[2015-02-28 06:28] Daniel15 commented on #1302
Icon appears to be missing as well.

It would be nice to have a way to set the title too. Currently it just sets it to the "raw" name but I usually set a friendly name in my NuGet packages (eg. ID = "React.Web.Mvc4", Name = "ReactJS.NET (MVC 4 and 5)")

[2015-02-28 06:34] davidfowl commented on #1302
I'm not a fan of title but I understand that people do use it.

[2015-02-28 06:45] davidfowl commented on #1302
@conniey I also assume that by signing, you mean strong naming?

[2015-02-28 07:04] conniey commented on #1302
@davidfowl Authenticode and strong name signing. Issue #621 seems to cover the authenticode scenario. Do you have any plans on adding StrongName signing?

[2015-02-28 07:06] davidfowl commented on #1302
We currently have plans to strong name everything by default with a key that cannot be configured. This is mostly to support scenarios where people need to interop with desktop as our CoreCLR loader ignores strong naming.

[2015-02-28 07:11] davidfowl commented on #1284
It is, but the tooling for web stuff is pretty much the same team

[2015-02-28 07:14] davidfowl commented on #1298
I also couldn't repro it with those steps. Is it consistent for you?

[2015-02-28 07:14] davidfowl commented on #1298
/cc https://github.com/aspnet/XRE/issues/1215

[2015-02-28 16:43] sgtfrankieboy opened #1304 "Azure Deployment Issues - Could not load file or assembly / No service for type"
I'm deploying my website using the GIT Deployment feature in Azure.

It will successfully complete the deployment but when I try to visit my website it's still showing the initial "This website has been successfully created" page.

Running `web.cmd` or `kestrel.cmd` manually will give me the following exception when using CoreCLR:

[code]

Running them using CLR will give me this error:

[code]

I

[2015-02-28 21:51] sgtfrankieboy commented on #1304
I found out what the issue is. The deployment script uses the default kvm.ps1 script which means it only fetches from nuget.org (beta1, beta2).

Uploading the dev version of kvm.ps1 manually and setting `SCM_KVM_PS_PATH` to point to the file did manage to download the file, but is now telling that `kpm` is not recognized as an internal or external command.

[code]

however when looking into the bi

[2015-03-01 03:56] #994 closed

[2015-03-01 03:56] davidfowl commented on #994
This mono bug was fixed

[2015-03-01 03:56] davidfowl commented on #938
Not needed anymore

[2015-03-01 03:56] #938 closed

[2015-03-01 03:58] davidfowl commented on #1151
Marking this initial set of items as done.

[2015-03-01 03:58] #1151 closed

[2015-03-01 04:01] davidfowl commented on #913
This was implemented. https://github.com/aspnet/XRE/commit/f0cb65a353922c4ea53c12ad11b6e2a38588b64b

[2015-03-01 04:01] #913 closed

[2015-03-01 04:03] davidfowl commented on #719
/cc @ChengTian

[2015-03-01 04:06] davidfowl commented on #1287
/cc @victorhurdugaci

[2015-03-01 04:07] davidfowl commented on #1271
Thats by design. Use kpm restore --ignore-failed-sources.

[2015-03-01 04:12] davidfowl commented on #1274
Dupe of https://github.com/aspnet/XRE/issues/1274

[2015-03-01 04:12] #1274 closed

[2015-03-01 04:13] davidfowl commented on #1267
/cc @victorhurdugaci

[2015-03-01 04:13] davidfowl commented on #1261
Seems like no...

[2015-03-01 04:14] davidfowl commented on #1237
Yep, but this isn't a fix we can make right now. We need to get our dependency type support up to scratch.

[2015-03-01 04:16] davidfowl commented on #1182
@ChengTian we actually can do that without `Assembly.GetReferencedAssemblies()` (we shouldn't be loading anything anyways). Look at what `kpm list` does to get the assembly closure

[2015-03-01 04:18] davidfowl commented on #1116
Yes

[2015-03-01 04:20] davidfowl commented on #1026
This was fixed.

@troydai can you mark close this bug with the right tags?

[2015-03-01 04:25] davidfowl commented on #985
I believe this works now without having to specify the domain manager as empty string

[2015-03-01 04:27] davidfowl commented on #985
Just tried it and I'm getting a new error:

[code]

We'll have to clean up our AppDomainManager so make it handle this.

[2015-03-01 06:39] davidfowl commented on #985
Fixed in https://github.com/aspnet/XRE/commit/16fd19ac4ce951ee426ee40ee887e32806663436

[2015-03-01 06:39] #985 closed

[2015-03-01 06:46] #1102 closed

[2015-03-01 07:57] victorhurdugaci commented on #1267
@davidfowl and I already talked about this. It seems that the lock file broke the global install :disappointed:

[2015-03-01 08:25] davidfowl commented on #1267
@victorhurdugaci Restore for the commands needs to write a lock file.

[2015-03-01 08:53] davidfowl opened #1306 "Microsoft.Framework.DesignTimeHost.Interfaces.dll should be in the lib/Microsoft.Framework.DesignTimeHost folder"
/cc @NTaylorMullen @troydai

[2015-03-01 16:28] colotiline commented on #1274
@davidfowl, English is not my main language. What does "dupe" mean? I can't understand the reason for closing this issue.

[2015-03-01 16:43] colotiline commented on #1274
Sorry for being annoying. If dupe means duplicate I suppose you should change related issue number. Because now issue #1274 was closed as duplicate of issue #1274.

[2015-03-01 19:00] davidfowl commented on #1274
Wrong bug number https://github.com/aspnet/XRE/issues/1271

[2015-03-01 19:24] davidfowl commented on #1277
So this bug report isn't very accurate. So we need to formalize a repro here.

- Seems like it doesn't have anything to do specifically with nested folders. If it does, can you reproduce this with a simple application? I couldn't.

[2015-03-01 19:27] abpiskunov commented on #1298
I was trying to find a good repro for a while, and with those steps it worked 2 times in a raw ...

[2015-03-01 19:28] davidfowl commented on #1298
Does it repro with the latest bits?

[2015-03-01 19:31] abpiskunov commented on #1298
My machines were updated on last Monday and Tuesday, I will try it again when update my machines next time on next week