[2015-11-04 10:37] olivier-spinelli commented on #3116
After having looked at the Microsoft.Dnx.Tooling source code, this seems to be quite complicated. Palying with project.json versions and dependencies should be done outside.

[2015-11-04 10:37] #3116 closed

[2015-11-04 11:51] evorine commented on #3092
Visual Studio was using beta7 version. So `dnu restore` was unable to run successfully for a beta8+ version.

Tried `dnvm use 1.0.0-beta8` and it worked.

[2015-11-04 11:51] #3092 closed

[2015-11-04 12:23] davidfowl commented on #3092
You need to run dnu restore

[2015-11-04 15:50] cmadrid86 commented on #3034
Hi, I have a similar issue with my project. Currently I am getting the following error:
NU1002 The dependency AA.Core 2.0.41 in project AA.Web.Core does not support framework DNX,Version=v4.5.1.

My project AA.Core 2.0.41 is not a vnext project, but since I created my own nuget server, I started to get this issue. Also, previously I had a local folder as a nuget feed and the AA.Core package was cr

[2015-11-04 16:50] Eilon commented on #3034
@cmadrid86 can you log a new issue for that? Thanks!

[2015-11-04 17:21] ardalis opened #3131 "Provide better error message when errors occur"
It's not helpful when building a project to simply say "Error: One or more errors occurred." You could at least suggest re-running with DNX_TRACE=1 set or some other means of actually seeing what the problems might be.

C:\dev\AspNetMusicStore\src\MusicStore>dnu build
Microsoft .NET Development Utility Clr-x86-1.0.0-beta8-15858

Building MusicStore for DNX,Version=v4.5.1
Error: One or more errors

[2015-11-04 17:49] bricelam commented on #3119
Ok, so I guess this bug is just that it doesn't fallback to "win", I'll switch to "win7" for now.

[2015-11-04 18:24] moozzyk opened #3132 "Unify how paths to native libs are resolved for package and project references"
For package references we now just read the "native" section from the architecture specific target in the project.lock.json file. For project references we try to load native libraries from a project subfolder but we don't use the same mechanism for creating the path to native libs that is used to create architecture specific targets in project.lock.json file. As a result in the case of project re

[2015-11-04 18:25] moozzyk commented on #3119
I opened the issue to track this #3132.

[2015-11-04 19:09] bricelam commented on #3119
Closing this issue. Everything is working with `win7`.

[2015-11-04 19:09] #3119 closed

[2015-11-04 19:16] moozzyk commented on #3119
:clap:

[2015-11-04 19:26] robrich opened #3133 "Consider renaming `project.lock.json` to avoid confusion"
`project.lock.json` is right between `project.json` and `package.json`.  This causes confusion as both `package.json` and `project.json` are very user-centric files edited frequently, and `project.lock.json` is not meant to be edited.  I grant Visual Studio hides this file, but it's not hidden by Visual Studio Code, Sublime, Brackets, or other editors.

Consider renaming this file to `.project.loc

[2015-11-04 20:10] anurse commented on #3091
I'm taking a look at this. It'll simplify RID generation in a few places.

[2015-11-04 20:20] pakrym commented on #3123
@davidfowl https://github.com/aspnet/dnx/pull/3134

[2015-11-04 20:31] pranavkm commented on #2181
@nguerrera, is this still an issue?

[2015-11-04 22:00] Tratcher opened #3135 "Published source projects missing signing key"
https://github.com/aspnet/IISIntegration/pull/28

Is there a way to include the signing key when publishing a project via source?

[2015-11-04 22:16] moozzyk commented on #3135
I was thinking about this after I saw your bug and was wondering how common it is to publish sources for projects that need to be signed - typically people keep their snk private in which case this won't work.I am also wondering if it is possible just to use scripts that run on publish to take care of copying the file in cases you want to publish sources and the snk.

[2015-11-04 22:22] joshfree commented on #2730
@Eilon @coolcsh @danroth27 we need this for rc1

[2015-11-04 22:28] ellismg commented on #2730
FYI, The CLR team is now producing runtime packages for both Ubuntu 14.04 and Centos 7, so it should be possible to suck that into your process for building out DNX packages.

[2015-11-04 23:43] gthuruv opened #3136 "Support for latest stable version of Newtonsoft.Json (7.x.x.x)"
Default dnx451 has dependency on Newtonsoft.Json 6.0.6. Newtonsoft's latest stable version is 7.0.1. Is it possible to update the reference to the latest version of the package?

[2015-11-04 23:51] nguerrera commented on #2181
@pranavkm I believe that it is. We still have --parallel disabled.

[2015-11-05 00:57] Eilon commented on #3136
You can use any version of Newtonsoft.Json 6.0.6 or higher - just specify it in your `project.json` file.

[2015-11-05 01:03] gthuruv commented on #3136
Thanks!

[2015-11-05 01:03] #3136 closed

[2015-11-05 06:53] manastalukdar opened #3137 "Getting wrap error: Unable to find output assembly name for project reference..."
When I run the dnu wrap xyz.csproj command, I get the following error:

Error: Unable to find output assembly name for project reference 'abc' in dumped metadata

abc is another csproj referenced in xyz. I was able to successfully wrap abc. Any pointers?

[2015-11-05 07:17] davidfowl commented on #3137
What's special about abc? Hard to know what's wrong without more information? Can you make a sample that reproduces the problem to put on github?

[2015-11-05 15:27] kcraft commented on #2733
I have the same problem with "dnu restore", BTW. Restarting my computer fixes the "dnu restore" problem 100% of the time. Definitely seems like resources not being released. This could be a serious issue in a production environment since I doubt it only affects these "dnu" commands. There is probably some underlying issue with mono's resource allocation. Makes me nervous to run ASPNET 5 in product

[2015-11-05 16:52] miragejb commented on #2954
I have this exact same problem with Beta8.  Is this problem corrected?  If so, where can I find the fixes?

Thanks.

[2015-11-05 19:40] manastalukdar commented on #3137
abc: https://github.com/manastalukdar/QiTwitterDemo/tree/master/src/QiTwitterDemo.Contract
xyz: https://github.com/manastalukdar/QiTwitterDemo/tree/master/src/QiTwitterDemo.Helper

For some reason, this problem now does not appear to occur from my work machine (has same software as other machine where it was not working earlier).

Going to close this issue for now.

[2015-11-05 19:40] #3137 closed

[2015-11-05 19:54] LauriListak commented on #2875
This is also a problem on Ubuntu 15.10 with libicu-dev and icu-devtools installed, had to manually install libicu52 and then CoreCLR works.

[2015-11-05 21:24] natemcmaster commented on #2615
@cesarbs VS Intellisense doesn't recognized InternalsVisibleTo with a strong name. Compilation still works. Anyway around this in VS?

[2015-11-05 22:08] BrennanConroy commented on #3095
bf1ae43c6bac2b1cdc691ec8aec58a6c154125ae

[2015-11-05 22:08] #3095 closed

[2015-11-05 22:22] moozzyk commented on #2615
@natemcmaster This is a tooling issue that was fixed very recently.

[2015-11-05 22:23] natemcmaster commented on #2615
@moozzyk awesome, thank.

[2015-11-06 01:51] stodolos commented on #1523
I have come across this issue and tried to switch to x64, however, if I launch with IIS Express, it is stuck on the x86 version of beta8.  I've tried many things suggested on the web, but not matter what it seems to be stuck on x86.  If I launch the web command, it launches DNX in x64 mode and everything works fine, but then I am not sure how to set the same routing rules that I have in my web.con

[2015-11-06 01:54] stodolos commented on #1523
I take that back... it *might* be running the DNX in x64 (as I didn't see the *32 next to the task in the task manager), but it still says the following in the error:

"LOG: Appbase = file:///C:/Users/CSpanellis/.dnx/runtimes/dnx-clr-win-x86.1.0.0-beta8/bin
LOG: Initial PrivatePath = NULL"

[2015-11-06 07:11] CallMeLaNN opened #3138 "dnu command uninstall: command is not installed"
I have dnvm `1.0.0-beta5` and `1.0.0-beta8`. `1.0.0-beta8` is default and activated.

I install the 'proabably outdated command' from this doc:

    dnu commands install SecretManager

However I realize it is not the one I should run, because I saw the download URL of some nuget package contain 'beta5'. I supposed to run the below command based on this doc:

    dnu commands install Microsoft.Fram

[2015-11-06 07:37] CallMeLaNN commented on #2872
I got the same here with `beta8`. Initially I got the same issue like OP. [I can't uninstall it. Then I force install the new one](https://github.com/aspnet/dnx/issues/3138) like:

    dnu commands install Microsoft.Framework.SecretManager --overwrite

However still receive this:

    System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Dnx.ApplicationHost' or one of its dep

[2015-11-06 07:54] Tasteful commented on #621
Any progress on this?

[2015-11-06 08:39] CallMeLaNN commented on #2872
This steps works for me:

    dnvm use 1.0.0-beta8
    dnu commands install Microsoft.Framework.SecretManager -o
    dnu restore
    user-secret -h

The `Microsoft.Framework.SecretManager` package or `user-secret` command should be used in `1.0.0-beta8`. I forgot to switch back to `1.0.0-beta8` after using `SecretManager` for `1.0.0-beta5`.

[2015-11-06 14:40] Kieranties opened #3139 "Microsoft.Extensions.PlatformAbstractions - A strongly-named assembly is required"
Since the strong name changes I've been unable to run my dnx apps.

I have a simple command line app that deals with the `ILibraryManager`.  It's been updated to use `PlatformServices.Default.LibraryManager` instead of injecting the instance.

Now when calling `dnx run` I get the following error (runtime: 1.0.0-rc1-16048)

[code]

The packages in play are:

[code]

[2015-11-06 15:16] pranavkm commented on #3139
The runtime version (16048) seems older than PlatformAbstractions (16110). Could you try updating the runtime to see if it fixes the issue?

[2015-11-06 15:25] Kieranties commented on #3139
Ah!  Of course, I've been using packages from the aspnetrelease feed, but hadn't updated `dnvm` to use the same.

Setting `env:DNX_UNSTABLE_FEED` to the correct feed and updated to runtime 1.0.0-rc1-16110 fixed the issue.  Many thanks

[2015-11-06 15:25] #3139 closed

[2015-11-06 15:46] moozzyk commented on #621
Could a prepack script work in this scenario?

[2015-11-06 16:57] BrennanConroy commented on #3138
SecretManager is not the name of the command to uninstall
```dnu commands uninstall user-secret```

[2015-11-06 16:57] #3138 closed

[2015-11-06 17:49] moozzyk commented on #2666
No further details provided. Closing.

[2015-11-06 21:51] brent-russell opened #3140 "dnx.win32.dll could not be loaded. Last error: 126 (system profile)"
Similar to #2666 and #2648 but neither of those has any resolutions documented.

In my case this is happening on a build server, so the commands are being executed under a system profile. Under beta7 everything worked. The issue appeared after moving to beta8. When dnx or dnu commands are run, the error "dnx.win32.dll could not be loaded. Last error: 126" is returned. A powershell build script doe

[2015-11-06 22:36] moozzyk commented on #3140
What is the OS? Also dnx living in the Windows\System32 does not seem right - are you sure you don't get permission issues? Have you tried setting DNX_HOME to move the runtime out of windows folder? I think if you set this machine-wise all profiles will use it so it may be easier to troubleshoot.

[2015-11-06 22:45] brent-russell commented on #3140
OS is Windows Server 2012 R2 x64

It's under system32 because the build process runs as the system user, so .net versions get installed under the "systemprofile" user profile, which lives in system32.

I can't rule out permissions issues, but again the process is running as the system user and using its profile, and dnx was working under beta7.

I currently have DNX_HOME set to C:\Windows\system32

[2015-11-06 23:16] brent-russell commented on #3140
I set the build/script's DNX_HOME environment variable to a path inside the build working directory, and that solved it. I like this location much better.

Thanks.

[2015-11-06 23:16] #3140 closed

[2015-11-07 08:17] cH40z-Lord opened #3141 "Show error message when no global.json or project.json could be found"
When accidentally executing `dnu` restore in a classic .NET project which still uses `packages.config` no error message or hint is printed by `dnu` when trying to restore packages as you can see below.

![dnu restore](http://i.imgur.com/fumzvOr.png)

IMO, to enhance the entire user experience, at least an error including a hint should be printed.

[2015-11-07 19:22] rosieks opened #3143 "Problem with diacritical letters"
I just created new project and it looks like there are some problems with diacritical letters while restoring packages:

[code]

[2015-11-08 14:14] pgrudzien12 opened #3145 "Running DNX on Lego Mindstorms EV3"
It would be great to see Lego Mindstorms EV3 running ASP.NET 5. I would very much like to see it running directly on the brick. Solutions that remote controls lego and needs permanent or temporary connection is out of discussion.

Few things I see here:
- it is cool
- it could serve for educational purposes in schools (which I think is in line with overall MS strategy for ASP.NET 5)
- it would exp

[2015-11-09 05:26] Eilon commented on #3143
@rosieks can you tell us the Unicode code points of these characters? That will help us reproduce the issue.

[2015-11-09 05:32] Eilon commented on #3145
I totally need an excuse to buy the Mindstorms EV3 :smile:

[2015-11-09 07:57] pgrudzien12 commented on #3143
+1

I'm sure it will be ł letter.

Unicode U+hex notation: U+0142

https://r12a.github.io/uniview/?charlist=%C5%82

[2015-11-09 08:17] davidfowl commented on #3128
Yep

[2015-11-09 09:49] pgrudzien12 commented on #3145
It seems that mono-brick and lejos does not need flashing so they work more like (or exactly the same as) ev3dev.

[2015-11-09 16:42] dlech commented on #3145
MonoBrick and leJOS are based on the official firmware for the EV3 from the LEGO Group and are a generic Linux with no type of packaging system and a rather old kernel (2.6.32). ev3dev is Debian Linux (jessie) and has totally different hardware drivers and a contemporary kernel.

It looks to me like getting dnx setup takes massive amounts of RAM. I read on Hanselman's blog that one component takes

[2015-11-09 16:51] #3104 closed

[2015-11-09 17:23] caioproiete commented on #3145
I totally need an excuse to buy the Mindstorms EV3 :smile: [2]

[2015-11-09 18:44] muratg commented on #2954
Could you guys try this out with the current set of vnext packages (RC1-*)

[2015-11-09 19:02] rosieks commented on #3143
Exactly, it's U+0142 (ł)

[2015-11-09 19:03] #2615 closed

[2015-11-09 19:28] miragejb commented on #2954
I would love to test it out for you.  Do you have any instructions on how to get and use the latest rc1 version of vnext?

From: Murat Girgin [mailto:notifications@github.com]
Sent: Monday, November 9, 2015 1:45 PM
To: aspnet/dnx <dnx@noreply.github.com>
Cc: ICSharp <joel.barber@gmail.com>
Subject: Re: [dnx] dnu publish on xproj referencing a csproj fails (#2954)

Could you guys try this out with

[2015-11-09 20:08] victorhurdugaci commented on #3145
@Eilon can we get a few Mindstorms for the team? I mean, you know, for *development* and *testing* purposes...

[2015-11-09 20:16] muratg commented on #2954
Try `dnvm upgrade -u` to install unstable bits.

[2015-11-09 20:18] Eilon commented on #3145
Yeah I'll expense a few... for me :smile:

[2015-11-09 21:00] edmccaffrey commented on #1523
I'm seeing this error on an Azure standard size instance. The Azure instance is set to 32-bit in application settings, and the publish settings is dnx-clr-win-x86.

[2015-11-09 21:44] pgrudzien12 commented on #3145
I need a second set :) - you know someone has to test communication between bricks.

[2015-11-09 22:23] stodolos commented on #1523
I actually figured out my issue...  I had set this config setting a while back when I was first configuring my Angular set up:

<modules runAllManagedModulesForAllRequests="true" />

I narrowed it down to that after seeing as how launching it outside of IIS Express worked fine (aside from my routing settings in my config file), so I then looked at my config file as a possible culprit.  I then star

[2015-11-09 23:02] buuminh commented on #3024
Has anyone managed to repro this issue?

[2015-11-10 08:25] endeffects commented on #3066
Hi Guys,

i have the same problem and was not able to fix this with upgrade above.

dnvm list

  *    1.0.0-rc2-16138   clr     x86          win             default

project.json

    "dependencies": {
        "Microsoft.CSharp": "4.0.1-*",
        "Microsoft.AspNet.Mvc": "6.0.0-*",
        "Microsoft.AspNet.IISPlatformHandler": "1.0.0-*",
        "Microsoft.AspNet.Server.Kestrel": "1.0.0-*",

[2015-11-10 08:56] Codenator81 commented on #3066
@endeffects Try to remove sdk section in global.json
and redo
dnu restore

[2015-11-10 09:19] endeffects commented on #3066
Thanks, i've tried this in the past too without luck. I've cleared my whole library and runtime cache and it seems to work now.

1) Deleting content of following folders
	%USERPROFILE%\.dnx\bin\packages
	%USERPROFILE%\.dnx\packages
	%USERPROFILE%\.dnx\runtimes
2) set DNX_UNSTABLE_FEED=https://www.myget.org/F/aspnetcidev
4) dnvm upgrade
5) dnvm upgrade -u
6) updating NuGet.Config
7) dnu restore

[2015-11-10 09:31] phenixdotnet opened #3148 "dnx throws StackOverflowException when it can't load Microsoft.DiaSymReader.Native.*.dll"
Hi,

Dnx throws StackOverflowException when trying to load Microsoft.CodeAnalysis.dll and when the dependency Microsoft.DiaSymReader.Native.*.dll isn't found.

My Env:
- Windows 10 x64 FR
- DNX x86 Beta 8 on CLR (dnx-clr-win-x86.1.0.0-beta8)
- Projects target .NET 4.6 (dnx46)
- Visual Studio 2015 Pro Update 1 RC (14.0.246227.00 Update 1 RC)

I got this issue only on one project, not sure about the

[2015-11-10 11:55] Kagamine opened #3149 "DNU always timeout with mono"
I have done `export MONO_THREADS_PER_CPU=2000`, it still not works.

In China, our government developed a firewall to forbid us access to foreign websites.

So we need more time to restore the packages, The packages always restore timeouted in mono.

[2015-11-10 15:58] luchen1021 commented on #3047
Is there any update on this issue?  Will there be a fix for this issue in RC1?

Thank you!

[2015-11-10 18:08] ericstj opened #3151 "Move UAP to Generation 5.5"
UAP now supports all contracts in dotnet generation 5.5 and should be moved.

[2015-11-10 20:22] endeffects opened #3152 "Version Restore Issue"
Hi Guys,

i have an issue with the version management of the dnu restore command. I have 2 Solutions, one for a class library (package) and a web applicaton.

The Package has a dependency for:
"Microsoft.Extensions.DependencyInjection.Abstractions": "1.0.0-rc1-*"

When i'm adding the package to my web application and running a package restore the dependency is changing it's version to:
"Microsoft.

[2015-11-10 23:12] andrejg commented on #3032
Same happens on OSX on 1.0.0-rc2-16128. I was just poking around a controller, changing mappings for a viewmodel, when I this started to happen. And it happens on ALL projecs, so it must be a global issue. Restart does not help...

[2015-11-10 23:40] ericstj opened #3153 "DNU chooses latest local package, regardless of feeds, when using '*'"
The scenario is to do some builds on a local machine using myget feeds that have the latest versions of packages (say http://myget.org/f/dotnet-core).  Then build a repo that is only using nuget.org.  Even though nuget.org only contains beta-23409, DNX is picking the local copy, beta-23509, from the cache.  This is incorrect.  In this particular case it was preventing me from building the NuGet re

[2015-11-11 00:01] kcraft opened #3154 "Copying app source to another folder before running "dnu publish --no-source" results in a bogus .dll being published which causes "ambiguous route" errors"
Steps to reproduce (on Mac):

Create a project with a controller called StatusController and a default HttpGet route, then run the following commands in a terminal:

cp $app_src /app_src_copy
cd /app_src_copy
dnu publish --configuration Release --no-source --out /app_dest
cd /app_dest/approot
./kestrel --server.urls http://localhost:5000
curl http://localhost:5000/status

Result: Ambiguous route.

[2015-11-11 01:09] anurse commented on #3154
Currently, the assembly name for a project is always the name of the immediate parent folder of the project.json file. We're looking at changing that, but for now that's the restriction. You could work around this restriction by copying the app code to a new location while preserving the parent folder path. For example:

[code]

[2015-11-11 03:05] davidfowl commented on #3153
That's debatable

[2015-11-11 04:59] ericstj commented on #3153
Sure, but one could argue that the Nuget repo behavior is definitely a bug.  So is the recommendation to always use a local packages folder?  That seems to defeat the purpose of the cache.

[2015-11-11 05:17] kcraft commented on #3154
Thanks for the quick response.

I know my situation doesn't apply to everyone, but I don't actually care what the assembly name ends up being. I just don't want that duplicate .dll to be created which results in ambiguous routes. They seem like separate issues to me. That being said, more control over the assembly name would definitely be a plus.

[2015-11-11 12:53] Lakerfield commented on #2954
@muratg ```dnu publish``` is working with beta8 with the following workaround

Use a beta8 project with publish problem from above
```dnvm upgrade -u``` installs: dnx-clr-win-x86.1.0.0-rc2-16128 (tried to get rc1-* but not succeeded)
```dnu publish --out ... --runtime dnx-clr-win-x86.1.0.0-rc2-16128```
After publish copy dnx-clr-win-x64.1.0.0-beta8 runtime to approot/runtimes
Edit run files to use

[2015-11-11 13:24] rosieks commented on #3143
I just notice that I don't have such directory. DNX is looking for path:
`C:\Users\Sławek\.dnx\packages\System.IO\4.0.0\System.IO.4.0.0.nupkg.sha512`
and I have only such path:
`C:\Users\Sławek\.dnx\packages\System.IO\4.0.0.0\System.IO.4.0.0.0.nupkg.sha512`

So in that case I think that the only issue with ł letter is about displaying it in VS output

[2015-11-11 14:12] tugberkugurlu commented on #2990
@davidfowl does this also mean that `Main` method cannot return `Task` anymore?

[2015-11-11 14:54] ghostkaa commented on #2666
Hi. I have same problem. How you solved it?

[2015-11-11 14:57] davidfowl commented on #2990
That's correct.

[2015-11-11 14:58] davidfowl commented on #3143
Delete your packages folder. Older versions of dnx didn't normalize the version and newer ones do.

[2015-11-11 15:22] rosieks commented on #3143
Thanks @davidfowl
That helps.

[2015-11-11 15:48] danroth27 opened #3155 "dnu install should only install stable packages by default"
When I run `dnu install Newtonsoft.Json` on beta8 it installs the latest prerelease package instead of the latest stable package. It should install the latest stable package by default with an option to install the latest prerelease package.

[2015-11-11 19:03] pgrudzien12 commented on #3145
With a lot of struggles I finally managed to fire up Hello World example on the brick. Compilation still does not work but with publish --no-source program runs.

Does anyone knows if "Could not determine OS" has any repercussions and I should be worry?

[code]

[2015-11-11 19:06] victorhurdugaci commented on #3145
That's awesome!

Probably `IApplicationEnvironment` will give wrong results and anything relying on it (a lot!) will fail.

[2015-11-11 19:06] victorhurdugaci commented on #3145
Did you use mono or coreclr?

[2015-11-11 19:07] dlech commented on #3145
I played around with this a bit as well. I noticed [this](https://github.com/aspnet/dnx/blob/1e32361b54373fa6251e756b7865a04da932afcf/src/Microsoft.Dnx.Host.Mono/EntryPoint.cs#L265). The EV3 is `armv5tejl`, so it will be detected as `x86`.

[2015-11-11 19:10] pgrudzien12 commented on #3145
I used mono

[2015-11-11 19:13] pgrudzien12 commented on #3145
@dlech indeed it is. In every command I run there is this :

[code]

[2015-11-11 19:19] pgrudzien12 commented on #3145
@victorhurdugaci I thought CoreCLR is not supported at all at ARM architecture. When I try to install DNX with ` dnvm upgrade -arch ARM -r coreclr` dnvm prints this `Architecture must be x86 or x64`.

I do not know what is behind that restrictions. Do you think that running CoreCLR is possible?

[2015-11-11 19:46] cesarbs opened #3156 "[Announcement] Assemblies are now strong named"
Discussion for https://github.com/aspnet/Announcements/issues/109

[2015-11-11 20:05] moozzyk commented on #3145
@pgrudzien12 - Have you seen my [comment](http://stackoverflow.com/questions/33541630/dnx-on-lego-mindstorms#comment54974430_33541630)? There is no CoreClr for Linux ARM available as a drop currently. You could try building it from sources. Once you get the CoreClr creating a runtime shouldn't be that bad (it took me a few hours to hack the first version of the ARM dnx for Win10 IoT Core once I fo

[2015-11-11 20:25] MaximRouiller commented on #3156
It was my impression that we were moving away from strong named assemblies. Or maybe I'm just mistaken. The fact that you have to validate an assembly while somebody already has access to your file system seemed a bit redundant.

Are those assemblies for backward compatibility only?

[2015-11-11 22:19] Eilon commented on #3156
There are a number of reasons.

One reason we enabled strong naming is that we have cases where for a variety of reasons something that depends on the code here must be strong named, and so we must be strong named. (Strong naming is viral.)

Another reason (closely related to the first) is that in order to release critical security updates when running on .NET 4.x, we have to be able to install pa

[2015-11-11 22:56] BrennanConroy commented on #2924
This is still an issue in RC1

[code]

[2015-11-12 02:20] MaximRouiller commented on #3156
There you go. I knew it must have been simple.

Thanks!

[2015-11-12 02:57] staff0rd opened #3157 "global.json in project directory breaks dnu publish/dnx dependencies for linux"
I'm not sure this is a bug or more of just a convention that needs to be followed - either/or it's probably pretty edge case anyway.

I have an MVC 6 project, created via New Project in Visual Studio for beta8 and then updated to rc1.  There is no .sln or global.json in this project.  I've set `dnvm` to use 1.0.0-rc1-16048.  Running `dnu publish` causes a global.json to generated in the output dir

[2015-11-12 07:52] pgrudzien12 commented on #3145
@moozzyk Thanks for information. I'll keep that in mind for next time. This seems very advanced as I have no experience with compiling CoreCLR yet. Moreover it would need cross compiling because taking into account size of this machine (in terms of speed and ram) it would take ages to compile on the device. Needless to say that this is not my field of expertise.

For now I think that I'll focus on

[2015-11-12 08:08] voltagex opened #3158 "Hello World / Getting started - "Error: Unable to load application or execute command 'restore'""
When running `dnx restore`, I get

`Error: Unable to load application or execute command 'restore'.`

[code]

[code]

Using strace, the last file it loads before failing is `.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-rc2-16128/bin/System.Text.Encoding.Extensions.dll`

[2015-11-12 09:11] voltagex commented on #3158
Oops, it's `dnu restore`.
DNX_TRACE=1 makes it a little more obvious.

[2015-11-12 09:11] #3158 closed

[2015-11-12 09:27] thecodejunkie commented on #3156
"simple"

:)

[2015-11-12 09:30] phillip-haydon commented on #3156
Sigh. Fail Naming.

[2015-11-12 09:39] davidfowl commented on #3156
As a hater of strong naming I feel your pain. (intensely)

There's a few things that alleviate the pain when using our new toolchain and runtime, and changes to the process:

- You never really have to see binding redirects (we'll handle this either at runtime or by generating the right things on your behalf). If you do however use this with vanilla .NET in existing projects. All of the old proble

[2015-11-12 10:17] endeffects commented on #3156
Hm, It looks like that the rc2 assemblies become incompatible to the rc1 assemblies because of the stronge naming. Which makes it hard to keep things working. Especially because the package restore seems not to respect the dependency versions: https://github.com/aspnet/dnx/issues/3152

[2015-11-12 10:20] davidfowl commented on #3156
@endeffects Package restore absolutely respects dependency versions. You're hitting something else altogether.

[2015-11-12 10:22] davidfowl commented on #3152
That's by design. Take a look at your package sources. Versions are always a minimum unless you specify an upper bound.

1.0.0-rc1-* means, prefer the highest matching the 1.0.0-rc prefix, OR the lowest >= 1.0.0-rc. If your configured feeds doesn't have any RC1 packages then thats the ONLY case where you'll get RC2. BTW the theres tons of warnings (not on restore) on compile when this situation ha

[2015-11-12 10:39] endeffects commented on #3152
Well, i thought the prefix is "1.0.0-rc1-" and not "1.0.0-rc"?
Also, your daily feed has both versions, but i was not able to limit the version to rc1.

project.json of Class Library:

  "dependencies": {
    "Microsoft.CSharp": "4.0.0-beta-23109",
    "Microsoft.Extensions.DependencyInjection.Abstractions": "1.0.0-rc1-*"
  },

project.json of Web Application

    "dependencies": {
        "Micros

[2015-11-12 10:43] davidfowl commented on #3152
Your `project.json` has a mix of `1.0.0-rc1-*` and `1.0.0-*` that will almost never work. Be consistent and choose a single prefix. If you specify that you want rc1-* and it exists, you will get it. You have other dependencies that are likely pulling other transitive dependencies forward.

Here's my advice:

Until we ship stable builds you cannot mix and match versions, it will never work. Be cons

[2015-11-12 10:44] davidfowl commented on #3152
I'd also urge you to read this so that you can learn how to diagnose problems like these when they arise http://davidfowl.com/diagnosing-dependency-issues-with-asp-net-5/

[2015-11-12 10:53] endeffects commented on #3152
Well, i got your point and thanks for your help. But this is hard to handle with beta8, rc1 and rc2 versions out there. And the new strong naming makes it currently impossible to handle this on complex prototyps.

[2015-11-12 11:08] davidfowl commented on #3152
@endeffects It's hard if you mix versions. Stick to a single prefix and things will almost always work. What you *cannot* do is say `oh that feature looks nice` and update one of the ~60 packages we ship. We will get there but pre v1 that will not be possible as everything is currently interdependent. Upgrading one thing requires upgrading all things. Keep that mindset as we approach 1.0 then it'l

[2015-11-12 11:15] endeffects commented on #3152
I totally agree with you and i'm going to downgrade my dependencies as adviced. Thanks :)

[2015-11-12 11:55] reliak opened #3159 "Changing LibraryDependencyType in project.json is not working as expected"
I'm trying to achieve something similar to `devDependencies` in NPM (https://docs.npmjs.com/files/package.json#devdependencies).
In project.json I'm setting the LibraryDependencyType of a dependency as follows:
[code]
The above dependency is only defined in project.json, but not used anywhere in the code of the program.
By setting the type to `build` I expected that this dependency will not be pub

[2015-11-12 12:05] davidfowl commented on #3159
If you have a dependency of type build and you do dnu pack, the package produced will not have that dependency. That's all the build flag does.

[2015-11-12 12:15] reliak commented on #3159
Ok, thanks. But what if I want to use a dependency just for preprocessing as part of the build process?
If it is specified in project.json, it will also be published. Is there a way to use a dependency only in development and ignore it otherwise?

[2015-11-12 13:54] angelsix opened #3160 "RandomNumberGenerator on DNX 5.0"
Is there a plan in the RC to have the RandomNumberGenerator available in DNX50. Right now its only in 451.

[2015-11-12 14:06] smbecker commented on #3160
It already is available for DNX 5...

https://www.nuget.org/packages/System.Security.Cryptography.RandomNumberGenerator

[2015-11-12 14:20] angelsix commented on #3160
Great thanks. I had to add an explicit reference and its fine now.

[2015-11-12 14:20] #3160 closed

[2015-11-12 15:43] woutertenbosch commented on #3127
Having the same issue here :(

[2015-11-12 17:07] Eilon commented on #3156
@endeffects indeed an assembly would have to be recompiled across those versions. But with all the various renames and other changes, it is quite likely that a recompile would have to take place anyway in order to work.

[2015-11-12 17:08] Eilon commented on #3145
@pgrudzien12 we certainly look forward to anything you come up with!

[2015-11-12 17:56] moozzyk commented on #3159
@reliak - you may want to take a look at what we do in the [Kestrel](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/project.json#L73-L81) repo

[2015-11-12 17:59] moozzyk commented on #3145
@pgrudzien12 - out of curiosity what were the problems with compilation?

[2015-11-12 18:25] BillHiebert opened #3161 "Restore errors from the DTH no longer include the line and column number so are not squiggled in project.json"
I verified that the same VS tooling running with Beta8 works fine. Looks like some recent change in DNX broke this feature.

_Updated by Troy_
We narrow down the scenario:
0. Set up a healthy project;
1. Change one reference's name so that the reference can't be resolved.
2. Save, VS restore the project, error message shows correct information.
3. Correct the reference's name. Without saving, chan

[2015-11-12 18:26] davidfowl commented on #3161
Nothing changed here AFAIK. Do you have a repro?

/cc @troydai

[2015-11-12 18:34] troydai commented on #3161
I scanned through the places we created `DiagnosticMessage` and didn't find any obvious change. The format is still [there](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Extensions.PlatformAbstractions/DiagnosticMessage.cs#L19).

[2015-11-12 18:37] davidfowl commented on #3161
Yea sounds like a tooling issue. @BillHiebert can you paste the DTH response.

[2015-11-12 18:43] Tratcher opened #3162 "Adding reference to Class Library issue in ASP.NET 5 beta 7"
_From @AliGonabadi on November 12, 2015 12:22_

I removed `dnxcore50` from project.json and added an empty class library targeted .net framework 4.5.1 to solution. When I add reference to class library, project build correctly but when I want to publish project, I will get this error:

`The expected lock file doesn't exist. Please run "dnu restore" to generate a new lock file`

`dnu restore` comma

[2015-11-12 19:37] JunTaoLuo opened #3163 "Add warning when user specifies delaySigning and useOssSigning"
Currently when both options are specified, useOssSigning will win. Though this behaviour is acceptable, it's best to alert the user that only one of these options should be specified at any one time.

@moozzyk

[2015-11-12 20:11] BillHiebert commented on #3161
"Errors": [
    {
      "ErrorCode": "NU1001",
      "SourceFilePath": "C:\\Users\\billhie\\documents\\visual studio 2015\\Projects\\WebApplication1\\src\\WebApplication1\\project.json",
      "Message": "The dependency Microsoft.Extensions.Configuration.Json >= 1.0.0-rc1-final could not be resolved.",
      "Severity": 2,
      "StartLine": 0,
      "StartColumn": 0,
      "EndLine": 0,
      "En

[2015-11-12 20:46] troydai commented on #3161
The error position is indeed in the formatted message.

[2015-11-12 20:57] reliak commented on #3159
@moozzyk Thanks for the link to the repo.

However, as far as I can tell, the code does not use any dependencies within the scripts block. It only calls `dnx` to a relative project path.

Maybe there is another way for what I'm trying to do, but again, this is my problem:
1. I want to execute some code from a library (e.g. a package from NuGet) in pre- or post-build
2. For that, I need to put this

[2015-11-12 22:15] troydai commented on #3161
Ah, I see what you mean. The value are not set correctly.

[2015-11-12 22:16] troydai commented on #3161
/cc @muratg

[2015-11-12 22:30] pgrudzien12 commented on #3145
@moozzyk You asked for it :D. I tried to be as concise as possible. I am trying to compile almost vanilla version of ConsoleApp from Home repo (with `CoreCLR` removed):

Out of the box after installation of mono 4.0.4 rolsyn compiler from `dnu build` throws `error CS0009: Metadata file '/usr/lib/mono/4.5/mscorlib.dll' could not be opened -- Invalid public key`. This was my initial problem I end up

[2015-11-12 22:59] hjgraca commented on #3127
I had the same issue and to fix it I by adding more nuget feeds to NuGet.config.

<packageSources>

    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="api.nuget.b8" value=" https://www.myget.org/F/aspnetbeta8/api/v2" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="NuGet" value="https://nuget.org/api/v2/" />

[2015-11-13 00:03] JunTaoLuo opened #3164 "Remove Microsoft.Dnx.dll from runtime"
Currently the Microsoft.Dnx project is used during the build process to grab the CoreCLR dependencies. The Microsoft.Dnx.dll generated is not used by anyone and should be removed from the runtime packages, e.g. dnx-clr-win-x86.

cc @Eilon @BrennanConroy

[2015-11-13 03:41] marcind commented on #3050
It would also be great if you could allow a hook to customize what goes into a nuget package (i.e. during the `pack` command enable hooking the moment after the build finishes but before the package contents gets specified).

Specific scenario: I want to customize my primary package (i.e. not the sources package) so that it includes the pdb file, which I want to customize using https://github.com/

[2015-11-13 07:50] roterdam opened #3165 "Can we document how the project.json picks up dll references?"
dnu wrap, unwrap, which folder it picks things up from, etc. all these conventions are overloading my brain.

Why can't I just say in project.json, here is a dll, please reference that.

Ok, fine. You want us to wrap things in another project.json

But how do I place files such that project.json knows where to pick it from,

Documentation will help.

[2015-11-13 08:54] RehanSaeed commented on #2190
+1 for @roji's latest list of requirements. Would really like to build projects in a CI scenario and it's not currently as easy as it should be.

[2015-11-13 09:04] RehanSaeed opened #3166 "dnu publish solution.sln"
I am using `dnu publish` on my continuous integration server to build .xproj projects into NuGet pacakges. It is a little tedious to have to execute the command for every project in the solution.

It would be nice if `dnu publish` or perhaps a new command entirely could be pointed at a solution of .xproj projects and could publish them all together.

[2015-11-13 11:07] davidfowl commented on #3050
Don't we have a prepack event?

[2015-11-13 12:04] Lakerfield commented on #2954
@muratg I found a bug in the workaround publish process with the rc2 bits. If the project wrap a console app instead of a class library. The publish doesn't copy the .exe file to the packages location. The .nuspec and project.json are there, but the lib/net45 directory doesn't exists

[2015-11-13 17:05] muratg commented on #2954
cc @anurse.  We'll be revisiting publish in RC2 and we should look into this.

[2015-11-13 17:06] RehanSaeed commented on #2190
Has anyone been able to get the `DNX_BUILD_VERSION` environment variable to work? Here is my PowerShell script:

[code]

I'm still getting my `.nupkg` files output with a `1.0.0` version.

[2015-11-13 17:25] roji commented on #2190
@RehanSaeed, don't forget the version in your project.json must contain "1.0.0-*" for the `DNX_BUILD_VERSION` to be taken into account.

[2015-11-13 17:26] RehanSaeed commented on #2190
@roji I've done that:

{
  "version": "1.0.0-*",
  ...
}

[2015-11-13 18:08] BillHiebert commented on #3161
Very unfortunate that the squiggle feature is broken in RC1. Obviously we need better test coverage to catch this sooner.

[2015-11-13 18:41] marcind commented on #3050
You do, but the sequence is:
- prepack
- prebuild
- *Compilation*
- *Assembling list of things to go into package* <- not really customizable, at least not based on files in the output directory.
- postbuild
- *Generating package*
- postpack

I could hook postpack, do a bunch of unzipping, munging, and rezipping. I guess this is where having the build process implemented in code makes it less flex

[2015-11-13 18:45] troydai commented on #3161
I can't repo this on the RC1 test build. Talked with @BillHiebert , he's now narrowing down his repo scenario.

[2015-11-13 19:01] BrennanConroy opened #3167 "Dnu publish --runtime is wrong from windows to OSX"
```dnu publish --runtime dnx-coreclr-darwin-x64.1.0.0-version``` will publish using the current OS for RID instead of the --runtime RID because https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Publish/DependencyContext.cs#L101 is parsing for "osx" instead of "darwin"

[2015-11-13 19:08] dougbu opened #3168 "`dnu publish` fails if project has `--lock`ed dependencies"
1. `$env:DNX_Feed='https://www.myget.org/F/aspnetrc1/api/v2'`
2. Update `$env:AppData\NuGet\NuGet.Config` to enable just https://www.myget.org/F/aspnetrc1/api/v3/index.json and https://www.nuget.org/api/v2/. Ex. below.
3. `dnvm install -f 1.0.0-rc1-final`
4. `dnvm use 1.0.0-rc1-final`
5. Create an ASP.NET 5 Web Application using latest RC1 templates
6. Shut down VS
7. Remove all cached packages: `

[2015-11-13 19:43] BrennanConroy commented on #3167
24aad0f395a844d13198c332c3e588212f98900f

[2015-11-13 19:43] #3167 closed

[2015-11-13 20:12] anurse commented on #3050
I think it makes sense to allow everything up to and including postbuild to (in theory) contribute to packaging. Could you use `packInclude` and `prebuild`? Or do you have to generate the files as part of the build?

[2015-11-13 21:23] marcind commented on #3050
I guess there's 2 scenarios here:

1. Customize the build process - the postbuild step is probably sufficient, esp. with the `project:BuildOutputDir` context var.
2. Customize package contents - this is hard, esp. if it's supposed to be based on dynamic content (i.e. the result of the build).

I'll probably stick to an external step that happens after `dnu pack`, since that way I can share the log

[2015-11-13 21:33] peterblazejewicz opened #3170 "`dnx-watch web` results in System.NullReferenceException under rc1-final"
Hi,

When working with https://github.com/aspnet/Templates content in https://github.com/OmniSharp/generator-aspnet I've found that `dnx-watch web` no longer seems to work and I'm not able to debug the problem.
I've tried both Mono and CoreCLR:
Mono:
[code]
Running `dnx-watch web`:
[code]

Under CoreCLR:
[code]
Invoking `dnx-watch web`:
[code]

The errors have different stack trace slightly. I'm u

[2015-11-13 21:44] BrennanConroy commented on #3170
And what version of dnx-watch are you using

[2015-11-13 22:01] peterblazejewicz commented on #3170
Hm, I've tried to re-install, and it looks it still beta8?
[code]
[code]
Does it mean I should simply force install to `rc1` somehow?

[2015-11-13 22:16] BrennanConroy commented on #3170
You need to run ```dnu commands install <package> -s <feed>``` and use the same DNX as the package version installed

[2015-11-14 01:02] moozzyk commented on #3159
@reliak - if you look at Kestrel you will see that libuv is a [build dependency](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/project.json#L16-L23). Then the LibuvCopier operates on these package and copies the contents. So, in a sense it is similar to your scenario with one more level of indirection (the LibuvCopier). It was done mostly like this (inste

[2015-11-14 08:32] reliak commented on #3159
@moozzyk The build dependency type works as @davidfowl mentioned when using `dnu pack`.
The only think that bothers me, is that `dnu publish` creates a package in the output's `packages` folder.

According to https://github.com/aspnet/Home/wiki/DNX-utility#publish-dnu-publish:

a dependency of type `build` should not be in the packages folder, because it is not required by the application.

The ad

[2015-11-14 14:18] peterblazejewicz commented on #3170
@BrennanConroy
Yes, this is it. Sorry for a false flag post.
The command I used:
[code]
Thanks!

[2015-11-14 14:18] #3170 closed

[2015-11-14 19:50] bradwilson opened #3172 "dnu pack should pass developmentDependency from project.json into the .nuspec file"
The DNX runner (among other things) should be considered a development dependency in NuGet terms. This is a valid value in the .nuspec file as of NuGet 2.8, but project.json doesn't seem to respect it or pass it through into the generated .nuspec file.

Related: xunit/xunit#667

[2015-11-14 19:51] bradwilson commented on #3172
Example: https://github.com/xunit/dnx.xunit/commit/bbafa29c1ef39d1c8d7174613c4cf2163b7b30dd

[2015-11-14 21:43] davidfowl commented on #3172
While I agree this should be supported (in some form), why would you need it? Who is using the dnx xunit package in this way?

[2015-11-15 02:16] bradwilson commented on #3172
I was doing it for completeness (marking all the runners with this flag) at the request of a user.

[2015-11-15 03:12] ghost opened #3173 "Feature requests: Ability to import dependency and conditional dependency"
Highly inspired by gyp.
### Scenario 1:

Ability to import a JSON.

`src/project.json`:

[code]

`src/platforms/commons.json`:

[code]

(same thing in `../external/something.json`)
### Scenario 2:

Ability to conditionally do stuff in `project.json`:

[code]
### Scenario 3:

Putting it all together:

[code]

Note the custom flags (the variables used in the conditions) can be set by runtime itself,

[2015-11-15 03:30] davidfowl commented on #3173
Scary. One of the things we set out to do was keep project.json fully declarative. Makes it easy to reasons about. It makes it really easy to write tools that understand the file format because there's no complex processing required.

What we've been successful at though is nailing specific use cases (like multi targeting framworks). So maybe explain what exactly you're trying to do might help des

[2015-11-15 09:40] jasonwilliams200OK commented on #3173
I have a set of dependencies that needs to be incorporated when certain environment condition is met. I want to be able to put those dependencies in a separate file (scenario 1) as well as in the same file (scenario 2). DRY really: currently we would have multiple copies of project.json even for minor differences (e.g. https://github.com/dotnet/corefx/pull/4495/files#diff-6f96638be0e7a224da3e5a163

[2015-11-15 09:50] davidfowl commented on #3173
What condition?

Thats what I don't want though.

Personally I'd rather not tow the line between declarative and imperative, that's what msbuild does already.

Doing something like this will require lots of care and won't happen in the short term. I'm fine experimenting in the short term though. I just don't want this to turn into a full build dsl.

[2015-11-15 10:37] jasonwilliams200OK commented on #3173
Subjective; variables passed to dun process or environment variables in scenarios where multiple dependency choices are available for example.

I agree this would mess up the distinction and make the processing complicated, but on a bright side, we would have powerful semantics with a single point of failure. Once the import walker resolves and validate the chunks and stitch them together, the goo

[2015-11-15 10:44] davidfowl commented on #3173
That's what I'm worried about :smile:

TBH, imports aren't the worry, conditions are.

We do this already actually but kept it declarative. If you look at project.lock.json, there's a targets section there. It has `{tfm}/{rid}` pairs that get evaluated based context. When I said I want to avoid conditions, I mean arbitrary ones that require user input (it generally breaks too many things). So as a

[2015-11-15 11:27] jasonwilliams200OK commented on #3173
Ok I realize that conditions will make things overly complicated.

It would be great to have tokens for OSes, OS versions and architectures. :smile:

Given this scenario: https://github.com/dotnet/corefx/pull/4495/files#diff-6f96638be0e7a224da3e5a163abbaa64, having `src/unix/project.json` and `src/win/project.json` there is no way to exercise DRY. The correct `project.json` is selected based on th

[2015-11-15 11:54] davidfowl commented on #3173
Here is what a runtime id looks like. https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

It's an opaque thing that is defined by a package. OS and arch aren't really first class, but we use it that way. We've done a poor job at explaining how all of this works.

Yes I agree that should go away. When it originally came up I spoke to @ericstj and @stephentoub

[2015-11-15 16:31] davidfowl commented on #3172
That's what I thought 😀

[2015-11-15 19:55] carstenschuette commented on #2385
You've closed this issue. How did you fix it?

[2015-11-16 00:44] pgrudzien12 commented on #3145
I'm proud to announce that ASP.NET 5 is now able to shoot red balls guys !!! https://youtu.be/lCFWwI6eL2g (sorry for bad quality and my accent - I'm working on it) :dancers:

Updated also my blog post so if anyone is interested how to run it here you go: http://bleedingnedge.com/2015/11/08/asp-net-5-on-lego-mindstorms-ev3-using-ev3dev/

Thanks again for your help :+1:

[2015-11-16 00:58] dlech commented on #3145
:heart_eyes:

Now, if we can just get `dnu publish` on the host computer to AOT compile for armv5 we will really have something here!

[2015-11-16 03:31] Eilon commented on #3145
This. Is. Cool. !!!!!!!

@coolcsh @shanselman @richlander check this out - DNX running on Lego Mindstorms EV3 :smile: !!!

[2015-11-16 03:54] jonesopolis commented on #2031
thanks for the fix brice. Was killing me.

[2015-11-16 04:40] jskulavik commented on #3145
So very impressive & exciting @pgrudzien12, bravo!

[2015-11-16 08:49] RehanSaeed opened #3174 "DNX_BUILD_VERSION Environment Variable Not Working"
Following on from [this](https://github.com/aspnet/dnx/issues/2190#issuecomment-156365219) issue, I tried using the DNX_BUILD_VERSION Environment Variable to set the build number of my class library (Package) projects. I wrote the following PowerShell script to test it:

[code]

All my projects have the '*' character at the end of the version where it can be replaced by the build number:

[code]

[2015-11-16 09:45] endeffects commented on #3152
I tried to downgrade all dependencies to a dynamic and fix version lower than rc2, but the restore still upgrades to rc2.

[2015-11-16 13:57] davidfowl commented on #3174
It totally works (that's how we build our own stuff). The only different I see (and it shouldn't make a difference) is this:

[code]

Not sure why you're setting the variable user wide.

[2015-11-16 14:51] RehanSaeed commented on #3174
I'm using Beta 8. I'll try machine wide instead, just in case that makes a difference.

[2015-11-16 15:08] dougbu commented on #3174
@RehanSaeed
[code]
doesn't set `$env:DNX_BUILD_VERSION` in the _current_ process. Change that line to
[code]

[2015-11-16 15:49] RehanSaeed commented on #3174
@dougbu That was it. Thanks!

[2015-11-16 17:10] Eilon commented on #3145
@DamianEdwards FYI too.

[2015-11-16 17:59] muratg commented on #2788
Assigned to @pakrym

FYI @davidfowl

[2015-11-16 19:04] muratg commented on #2788
cc @pranavkm this is related to Razor compilation.

[2015-11-16 19:24] pranavkm commented on #2788
:+1:

[2015-11-16 22:31] AArnott opened #3175 "Switch DNX SDK Version breaks build in 3 ways"
Repro machine: Dev14 Update 1 (14.0.24705.00 vsuvscore.d)

1. Create new "Class Library (Package)" project
1. Build
1. Switch from Solution DNX SDK version 1.0.0-beta5 to 1.0.0-beta8
1. Build

[code]

1. Build again

[code]

Building repeatedly after this point fails with the "dnu restore" error above.

Running "dnu restore" resolves the build break. But IMO I shouldn't need to drop to the command

[2015-11-16 22:33] AArnott commented on #3175
Needless to say (I hope), running "dnu restore" resolves the build break. But IMO I shouldn't need to drop to the command line to run a tool when I've only done things in VS. If "dnu restore" has to be run, then the UI in VS that lets me switch SDKs should run it for me.

[2015-11-17 01:22] davidfowl commented on #3175
@AArnott You need to update the tooling in VS to beta8

[2015-11-17 01:36] AArnott commented on #3175
The build is broken at the command line too. And I have beta8 installed on this box. So what exactly is it I'm missing?

[2015-11-17 03:16] wiltwitt commented on #1008
I am getting this with vs 2015

Severity	Code	Description	Project	File	Line
Error		The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.			0

[2015-11-17 03:19] nguymin4 commented on #3175
@AArnott I think what David meant is besides updating dnx-runtime to beta8, you should update your VS Web Tools to beta8 as well. [https://www.microsoft.com/en-us/download/details.aspx?id=49442](https://www.microsoft.com/en-us/download/details.aspx?id=49442)

I met a similar problem when upgrading from beta5 to beta7

[2015-11-17 05:13] AArnott commented on #3175
I see. Thanks. I'll give that a try. I would have expected that Update 1 would have included this though. Is that a bad assumption?

[2015-11-17 14:12] sirentek commented on #3127
I had the same issue... I use linux mint mate x64.
I use mono runtime.

After I add the dependency EntityFramework7.Npgsql 3.1.0-beta8-2, I cannot restore it.

If I add the feed: <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" /> to my Nugget.config file, it restores.
But this time it cannot build: System.Console is not compatible with dnx core 50

Now I will try with using Co

[2015-11-17 14:32] davidfowl commented on #3175
I'm not sure what's in update 1 /cc @sayedihashimi @barrytang

[2015-11-17 16:34] sayedihashimi commented on #3175
Update 1 should have beta8 installed minus the project templates.

cc @balachir @barrytang

[2015-11-17 16:35] sayedihashimi commented on #3175
@aarnot what's in global.json?

[2015-11-17 17:04] #2897 closed

[2015-11-17 17:25] AArnott commented on #3175
@sayedihashimi I never modify global.json myself. But it seems to follow the settings changes made from VS. For instance, after the step to use beta8, the contents of global.json are:

[code]

[2015-11-17 17:26] sayedihashimi commented on #3175
That looks right to me

[2015-11-17 17:28] davidfowl commented on #3175
@AArnott The version of Update 1 that you have doesn't have the new DNX tooling.

[2015-11-17 18:04] leus commented on #2038
A web application consisting of different class libraries may greatly benefit from this (for example, having dnx commands in a different class library that runs every night loading data, etc. using the same context and configuration than the web application would be a big help)

[2015-11-17 18:54] BrianVallelunga opened #3177 "Running msbuild.exe /m on solution breaks with mixed DNX and classic libraries"
I have a solution that fails to build with msbuild when using the /m switch, but builds fine in VS and without the /m switch. The solution consists of an ASP.NET 5 (beta 8 and RC1) site referencing a classic .NET 4.5.1 project. There's also a unit test project for the site (DNX-based) and a unit test project for the classic .NET 4.5.1 project.
<img width="351" alt="dependencies" src="https://cloud

[2015-11-17 19:54] AArnott commented on #3175
I see. Is there a story for improved errors in VS or at the command line when the user is in this mismatched world?

My *very* limited understanding on this is I can use `dnvm use 1.0.0-beta8` followed by `dnu build` to build with beta8. If I can do this, why doesn't it also work in VS?

[2015-11-17 22:24] hjgraca commented on #3127
@benriordan glad it worked. I also made it work in travis ci, just needed to select Ubuntu OS.

[2015-11-17 23:13] BillHiebert commented on #3175
Update1 should have beta8 tooling so unless you have RC of Update1 one you shouldn't see the failure about  not finding Microsoft.Dnx.PackageManager.  A number or renames occurred after beta5 so tooling which shipped in beta5 doesn't work with Beta8. However, with beta8 tooling installed, it should work correctly with beta5, beta6, beta7 and beta8 as we handle the differences internally.

To do a

[2015-11-17 23:47] AArnott commented on #3175
Thanks, @BillHiebert.
The repro machine is an Update 1 RC (newer than customers have, but older than RTM). The exact version is in my repro steps (first line).

[2015-11-18 00:01] AArnott opened #3178 "project.json's version property should be extensible"
We want the libraries and packages we build with DNX to be stamped with a version as unique as the source code. And we want semver to roughly understand (assuming linear versioning) how to pick newer packages from older ones *independent of a particular build server*. We want reproducible builds, such that if I build a commit locally or in the cloud, the result is exactly the same, including the v

[2015-11-18 00:39] BillHiebert commented on #3175
We pushed beta8 tooling in fairly late so most likely the version you have doesn't include it.

[2015-11-18 00:48] pranavkm commented on #2181
@davidfowl \ @anurse should I investigate this?

[2015-11-18 04:05] caioproiete commented on #2332
Just adding myself to the group that thinks this is crucial before RTM's - and this file should be created by default (!).

A lot of companies host their own local/private NuGet feed exactly to make sure old versions of packages will be available at any point in the future. Also a number of devs will actually commit the NuGet package to source control, for the same reason (which could make a lot o

[2015-11-18 07:52] sirentek commented on #3127
@hjgraca I would like to know which runtime you used to make it run.

I used coreclr-beta7 runtime and built it.
This time there is an exception:
System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.NameResolution,..."

Here is my project.json:
{
    "dependencies": {
        "EntityFramework7.Npgsql": "3.1.0-beta8-2",
        "EntityFramework.Commands": "7.0.0-beta8",

[2015-11-18 09:36] hjgraca commented on #3127
@sirentek I'm using coreclr beta 8. I also got exactly that error System.Net.NameResolution not found.
To fix it I added more feeds to nuget, check my reply above. That worked. Also check my repo https://github.com/hjgraca/AspNet5-Awesome, that is building in travis ci

[2015-11-18 09:58] sirentek commented on #3127
@hjgraca I used coreclr beta 8, added feeds to Nuget.Config file. I restored with success.
But I cannot build it:
The dependency System.Net.NameResolution 4.0.0-rc2-23513 in project SirenTek does not support framework DNXCore,Version=v5.0.

I checked your repo and in project.json file, I couldn't see Ngpsql related dependency. Sqlite was used instead. Do you have a repo which includes both ef7 and

[2015-11-18 10:10] hjgraca commented on #3127
@sirentek sorry no I haven't. but from the error you are getting it seems like npgsql does not support coreclr yet. so you can't build it. try remove "dnx451": { }, from your frameworks. it will probably complain in visual studio dependencies. if that is the case you need to ask to npgsql devs in their repo when is a coreclr version available.

[2015-11-18 10:15] sirentek commented on #3127
If I remove dnx451, it will create an other error. (Tried before) It will try building it while targeting dnx451 although it doesn't have any dependency. Thanks anyway!

[2015-11-18 11:22] Kieranties commented on #2056
Any news on when this issue may move forward?  It's not assigned to a milestone at the moment.

[2015-11-18 15:37] LorenDorez commented on #2546
I am still having issues with it picking up net40-client. Im using a nuget Package for CsvHelper by John Close and Project.json keeps referencing the net20 and not the net40-client

[2015-11-18 15:54] davidfowl commented on #2546
@LorenDorez can you provide more info

[2015-11-18 16:08] LorenDorez commented on #2546
I am working on a new MVC6 Project and when i add the nuget package "CsvHelper":

If i look at the porject.lock.json file it appears DNX is referencing the net20 assemblies for CsvHelper rather than the net40-client one. If i manually edit the project.lock.json file the things work but only until the project.lock.json needs to rebuild

Below is an example of the project.lock.json file for CsvHelpe

[2015-11-18 18:16] tuespetre commented on #2453
dnx-watch has this option for some reason?

https://github.com/aspnet/dnx-watch/blob/dev/src/Microsoft.Dnx.Watcher/Program.cs#L86

[2015-11-18 20:07] SamB commented on #3156
@davidfowl:

Well, *that* certainly eliminates what could have been the main pain point going forwards!

[2015-11-18 22:11] ArlenFeldman commented on #3032
Just installed 1.0.0-rc1-final and created the Web Application Basic (via yo aspnet), running on Windows. I have the same exception. I've not installed any previous versions of ASP.NET 5.0. Any idea on how to get around this?

[2015-11-18 22:57] gpeipman commented on #3066
I get this error when I publish my web application to Azure websites. Any idea what to do on Azure to get rid of this error?

[2015-11-19 01:01] shanselman commented on #3145
HOLY CRAP.

https://twitter.com/shanselman/status/667144339353526272

On Mon, Nov 16, 2015 at 11:11 AM, Eilon Lipton <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-11-19 02:26] humblelistener commented on #1533
:+1:

[2015-11-19 07:09] Eilon commented on #3145
@shanselman you can tweet the YouTube link as well: https://youtu.be/lCFWwI6eL2g (probably can't DoS YouTube as easily).

[2015-11-19 07:30] gpeipman commented on #3066
If you are upgrading your web application from previous version then add the following line to startup class:

public static void Main(string[] args) => WebApplication.Run<Startup>(args);

[2015-11-19 07:43] thatzacdavis commented on #3032
I also just downloaded and installed rc1 via yo and am getting the same error.

[2015-11-19 07:46] andrejg commented on #3032
I managed to get around this. Check your project.json and update ALL the dependecies, that fixed it for me.

[2015-11-19 07:54] davidfowl commented on #3066
@gpeipman Don't forget the emitEntryPoint: true in the project.json file.

[2015-11-19 08:06] thatzacdavis commented on #3032
Thanks to @andrejg -- I am able to run now after doing the famous ``export MONO_MANAGED_WATCHER=false`` fix as well.

[2015-11-19 11:21] RehanSaeed commented on #3174
I'm using the latest version of `nuget.exe` from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe and am getting the following error complaining about the version number when using the `nuget publish` command:

How do you get around this internally?

[2015-11-19 12:09] pgrudzien12 opened #3179 "Why unresolved references are reported as quiet or info instead of warning?"
During build and publish all missing references are reported as quiet or info. I think both of these should be warnings. For example:
#### BuildContext.ShowDependencyInfromation

Although it's bold and red report information level is info. This result in bad parsing for example in TeamCity I would expect it to be at least yellow if not red (this is the reason for my build to break) instead usual g

[2015-11-19 12:25] Antaris opened #3180 "NullReferenceException when running dnu build with compile modules and not targeting matching DNX TFM"
Hi Team

I've encountered an issue since updating to the `rc1-final` bits released yesterday. My particular issue is around compile modules (yay!) and the new target framework moniker changes.

Given I have the following solution:

[code]

When I trigger a build (both in Visual Studio, and manually using `dnu build` on the `ClassLibrary2` project, I get the following output:

Unfortunately no stac

[2015-11-19 14:28] Flavien commented on #3168
I noticed the same, ``dnu restore --lock`` fails:

``
System.IO.DirectoryNotFoundException: Could not find a part of the path '/opt/dnx/approot/packages/System.Diagnostics.Tracing/4.0.0'.
   at System.IO.UnixFileSystem.FileSystemEnumerable`1.OpenDirectory(String fullPath)
   at System.IO.UnixFileSystem.FileSystemEnumerable`1.Enumerate()
   at System.IO.UnixFileSystem.FileSystemEnumerable`1..ctor(S

[2015-11-19 16:15] dontbesorry80 commented on #2872
Can Anyone help me with this. I can't get the secret-manager to work.
My DNX version is 1.0.0-rc1-final.
The SecretManager seems to install correctly using the commands above.
The dnu restore also works.
I've ensured my global.json has the same dnx version.
However when I run user-secret -h I get the following error:

[code]

[2015-11-19 16:17] davidfowl commented on #2872
What version of the secret manager are you using?

[2015-11-19 16:20] dontbesorry80 commented on #2872
Inside the package folder it says 1.0.0-beta8. I just ran the command above I didn't specify a version anywhere. Am I supposed to?

[2015-11-19 16:24] muratg commented on #2872
The new package name for the command is `Microsoft.Extensions.SecretManager`.  Please use that instead.

[2015-11-19 16:30] Antaris commented on #3180
As an update to this, I've run a build after `set DNX_TRACE=1` (cheers @davidfowl), and the following is the build output for a failing build:

[2015-11-19 16:36] dontbesorry80 commented on #2872
Bingo! Thank you SO much for the help.

[2015-11-19 16:53] dougbu commented on #3174
@RehanSaeed am I correct your issue has nothing to do with the `DNX_BUILD_VERSION` environment variable? If so, please close this issue again and comment on or perhaps reopen NuGet/Home#1486.

/fyi @emgarten

[2015-11-19 17:34] muratg commented on #2872
Glad that it helped. I updated the wiki page to reflect the new package name as well.

Closing this one, but if folks hit more issues, please file a new one!

[2015-11-19 17:34] #2872 closed

[2015-11-19 17:42] DiegoZoracKy commented on #3062
+1

[2015-11-19 18:07] RehanSaeed commented on #3174
Would it be possible to allow `"version": "1.0.0.*` versions with a `.` instead of a `-`? I had a look at the source code and it's specifically looking for a dash.

[2015-11-19 19:28] txchen opened #3181 "How to specify http port when using `dnx web`"
I think --port is for compilation server. But how do we use a different port to launch web?
Always 5000 is not cool since I cannot launch multiple sites on local machine.

[2015-11-19 19:54] ArlenFeldman commented on #3032
Turned out that my active runtime was 1.0.0-rc2-16177. I switched it to 1.0.0-rc1-final and that seemed to fix my problem.

[2015-11-19 20:05] thatzacdavis commented on #3032
I got this with 1.0.0-rc1-final as well.

[2015-11-19 20:17] lnu commented on #2875
Same issue on OpenSuse tumbleweed(libicu 55).

[2015-11-19 20:29] ellismg commented on #2875
As a work around, you can build your own copy of System.Globalization.Native.so from the CoreCLR (from source) and then replace the version in DNX with the one you built.  This will link against your correct ICU and things should work.

Note that the ABI between the runtime and this library are under active development, so this should only be done for "well known" releases where you can find a sta

[2015-11-19 20:30] andrejg commented on #3032
I'm on the latest rc2, and everything is fine now...

[2015-11-19 20:30] lnu commented on #2875
Should do the trick :+1:
i'll give it a try
thanks

[2015-11-19 21:50] Eilon commented on #3181
@Tratcher ?

[2015-11-19 21:57] anurse opened #3183 "dnu publish does not honor RIDs"
When using `dnu publish`, we do not scan the correct section in the lock file and as a result we miss most of the `runtime.[rid].[assemblyname]` packages. This causes problems with runtime-specific packages that are not embedded in DNX (for example `System.Data.SqlClient` and `System.Net.Security`)

/cc @DamianEdwards @muratg @Eilon

[2015-11-19 22:03] Tratcher commented on #3181
`--server.url=http://localhost:5000/` or just `--server.url=5000`

[2015-11-19 22:06] txchen commented on #3181
@Tratcher seems not working. I am using rc1 now.

[2015-11-19 22:08] moozzyk commented on #3181
Take a look at your `project.json` file - the port might already be specified there in the `web` command. If this is the case I think you could remove it and specify as the last parameter as @Tratcher showed.

[2015-11-19 22:10] txchen commented on #3181
@moozzyk nope
[code]

[2015-11-19 22:13] Tratcher commented on #3181
Try ` "web": "Microsoft.AspNet.Server.Kestrel --server.urls=http://*:5000/"`

[2015-11-19 22:24] txchen commented on #3181
@Tratcher Thanks! That works, but will this work with azure web apps? I think it would be better to support specify port via env_var or commandline.

I am closing this, thanks!

[2015-11-19 22:24] #3181 closed

[2015-11-19 22:29] Tratcher commented on #3181
FYI: The difference between --server.urls=http://*:5000/ and --server.urls=http://localhost:5000/ is that localhost only listens on loopback addresses (::1), so you can only access it on the local machine.

When you publish to azure web apps don't set this, it will be picked up from the HTTP_PLATFORM_PORT env variable, but again that is only for loopback.

[2015-11-19 23:07] mconnew commented on #3101
:+1:
WCF has a need for this as I need to add a dependency to WinHttpHandler for Windows only.

[2015-11-20 03:20] txchen commented on #3181
@Tratcher thanks for the tip. Maybe you should call it out in your doc, so that others don't have to ask the same question. I think this is a common task.

When we set the `server.urls` and use HTTP_PLATFORM_PORT, looks like it will listen to BOTH.
For me I will use the HTTP_PLATFORM_PORT during my development, because I don't need to change the project.json, and when I deploy to azure websites, i

[2015-11-20 04:43] xanather commented on #2754
Will it ever be possible for DNX to produce a native binary for a target platform (replaces dnx.exe) as a static app-specific bootstrapper? I think that would be pretty cool.

[2015-11-20 05:56] jl32 commented on #2834
In this Dupe of #2790 you said that problem is in Beta8, but I installed 1.0.0-rc1-final and I have the same error:
Can not load type 'Microsoft.Dns.Host.Clr.EntryPoint' the assembly .Dnx.Host.Clr, Version = 1.0.0.0, Culture = neutral, PublicKeyToken = adb9793829ddae60 '.

I put this
"commands": {
    "web": "Microsoft.AspNet.Server.Kestrel --config hosting.ini",
    "ef": "EntityFramework.Command

[2015-11-20 11:41] adamhathcock opened #3184 "dnu publish size increased...use --framework to prune?"
We've been using dnu publish for the past several betas.  Now RC1 has doubled the size of our deployment on DNX 451.

It looks like all of the new packaging targets just adds more unnecessary DLLs in the publish structure.

I was hoping that "--framework dnx451" would prune things out as I thought there were issues that looked like this would make happen.  However, it doesn't seem anything is prun

[2015-11-20 11:42] adamhathcock commented on #3184
Sorry, forgot to mention we're now on RC1

[2015-11-20 15:16] Rishabh-V opened #3185 "Debugging the code injected by ICompileModule"
We are considering to leverage ICompileModule for injecting logging and caching capabilities in our application code. However, while doing a POC, we were unable to debug the assembly code altogether after code injection.Is it supported ? If yes, can we have steps ? If not, are there any plans for supporting this in near future?

[2015-11-20 16:27] #3123 closed

[2015-11-20 18:37] GVX111 opened #3187 "DirectoryServices"
In which assembly exists DirectoryServices?

[2015-11-20 18:53] kichalla commented on #2899
This seems fixed, so closing

[2015-11-20 18:53] #2899 closed

[2015-11-20 20:04] Scorpiion commented on #3007
Hi, I tried to install [ASP.NET 5 On Linux](http://docs.asp.net/en/latest/getting-started/installing-on-linux.html) just now on a Ubuntu 15.10 setup. I also get silent fails.

I don't get any output at all when I run `dnu --verbose restore` in a ASP sample project.

[2015-11-20 20:16] dougbu commented on #3007
@Scorpiion you need to install the `libicu-dev` package for .NET Core to work correctly on Linux. Unfortunately .NET Core is not compatible with the ICU version normally provided for Ubuntu 15.10: You need ICU v5.2. If you get that installed and visible to .NET Core, you're entering uncharted territory because only exactly Ubuntu 14.04 is a supported platform at the moment.

FYI there have been a

[2015-11-20 20:16] #3007 closed

[2015-11-20 20:34] Scorpiion commented on #3007
Okay, thanks for the quick reply @dougbu, appreciate it. I got some samples running with the mono version at least.

Looking forward to try out .NET Core more in the future. :+1:

[2015-11-20 22:30] rjhernandez commented on #3032
Issue still a problem for me on the 1.0.0-rc1-final.  I am unable to run the MvcStore sample on OSX due to this error.

[2015-11-21 02:23] muratg commented on #2927
@davidfowl out of scope now?

[2015-11-21 02:24] muratg commented on #2638
I assume this can be closed now

[2015-11-21 03:34] ericwj commented on #3034
To summarize

    RMDIR /S /Q "%USERPROFILE%\.dnx\packages"

Deletes some 1.6GB !! of packages on my machine. Took a while. Did fix the problem.

Is switching to dev branch and the aspnetmaster feed polluting .dnx\packages machine wide? Would it become a problem again for projects that I'd like to stay on rc1-final and the aspnetrelease feed for a while?

[2015-11-21 06:20] moozzyk commented on #3007
@Scorpiion See #3059

[2015-11-21 06:22] Scorpiion commented on #3007
Thanks for the link @moozzyk. :+1:

[2015-11-21 10:48] couven92 opened #3189 "DocumentationMode compileOptions"
There should be the possibility to assign the documentationMode in the compieOptions element in project.json to set the documentation mode to one of the DocumentationMode enumeration values.

This setting would be similar to setting the documentation warning checkbox in .csproj files.

Currently, setting DocumentationMode to Diagnostic and getting warning about missing documentation for publicly v

[2015-11-21 16:54] pranavkm commented on #3034
@ericwj we had back packages on aspnetmaster which were causing the original issue. You shouldn't see it any more. Pointing to nuget.org should suffice if you only want to point to rc1 bits (unless you depend on our source packages or KoreBuild which are found on `aspnetmaster`).

[2015-11-22 09:19] ankitbko commented on #3174
@RehanSaeed Microsoft uses [semver](http://semver.org/) versioning scheme. Quoting from semver

 Also have a look at number 2 at [NuGet - Top 10 NuGet (Anti-) Patterns](https://msdn.microsoft.com/en-us/magazine/jj851071.aspx) document.

[2015-11-22 19:10] onovotny opened #3190 "Localized resources from CSProj PCL P2P ref not resolved from XPROJ"
I am in the middle of trying to get Humanizer tested under DNX. Humanizer is a regular PCL/Profile 259 as a CSPROJ. It has a ResX file with about 39 localized versions, so it generates about 39 `<locale>\Humanizer.resources.dll` files alongside its main library dll.

In the process, I created a DNX test library for Humanizer and added a reference to Humanizer. VS created a `wrap/Humanizer/project.

[2015-11-22 19:20] Gentlehag commented on #2367
I got this issue now with rc1 - final and .net 4.6.1

[2015-11-22 21:46] flq opened #3191 "Under certain circumstances, the pkg from get.asp.net creates user .dnx folder with wrong owner"
When I installed the package 1.0.0-rc1-15540 for OSX, the folder ~/.dnx seems to have been created with root as owner

This shows then when you do e.g.

    yo aspnet (with empty application)
    cd whatever
    dnu restore

It would fail with something like

    Access to the path [snip]'/.dnx/packages/Microsoft.AspNet.Server.Kestrel/1.0.0-rc1-final' is denied.

Running the command

    sudo chow

[2015-11-23 00:22] salerth commented on #3187
I believe it doesn't (in CoreCLR at least) : https://github.com/dotnet/corefx/issues/2089

[2015-11-23 06:47] davidfowl commented on #3190
/cc @kirthik

[2015-11-23 11:34] ealsur opened #3192 "RC1 and Azure Web Apps Free Tier"
RC1 has a increment on "temp" folder usage than beta8.
Azure Web Apps Free Tier have a [maximun of 300Mb of storage](https://social.msdn.microsoft.com/Forums/en-US/959097d9-6d8d-46c2-9a19-5954946bfc06/kudu-error-no-disk-space?forum=windowsazurewebsitespreview) for "temp" file storage.
It is now quite impossible to publish a simple MVC 6 RC1 Web App on Azure as a Free App (which was possible before

[2015-11-23 13:13] onovotny commented on #3190
So I can confirm that when I switch to a NuGet reference to the same project, the tests execute correctly. This appears to be a local P2P issue.

[2015-11-23 18:01] anurse opened #3193 "Publish --no-source doesn't pull in runtime dependencies"
In order to properly pull in runtime dependencies, a direct dependency on `Microsoft.NETCore.Platforms` is required. However, when we publish with `--no-source`, we create a synthetic outer project that references the compiled project output. This means that we appear to incorrectly handle the reference to `Microsoft.NETCore.Platforms`.

Some solutions:

1. If the project has a dependency on `Micr

[2015-11-23 18:38] anurse commented on #3193
Grah! It's nearest-wins plus our weird embedded `Microsoft.NETCore.Platforms` version. I'm going to remove that weird version and instead manually merge in our runtime data (allowing existing runtime data to override it). We only have that package to ensure that if someone doesn't pull in a package that defines what `win10-x64` (and friends) mean, we still know what they mean.

[2015-11-23 18:45] kirthik commented on #3190
Yes this is a bug. Its a dupe of - https://github.com/aspnet/dnx/issues/3047

[2015-11-23 19:39] ardacetinkaya commented on #3191
Even if I changed the owner for .dnx, I got the same error

[2015-11-23 20:19] anurse commented on #3191
Thanks for the report, we're aware of the issue and are investigating! @BrennanConroy @muratg

[2015-11-23 21:10] muratg commented on #3191
@ardacetinkaya what's the output of `ls -al ~/.dnx`?  (Especially the owner column, and the permissions column)

@BrennanConroy Please close this one too when the internally tracked one is closed as fixed.

[2015-11-23 21:35] ardacetinkaya commented on #3191
@muratg you may find the output. packages do not have permissions I guess.

![screen shot 2015-11-23 at 11 31 12 pm](https://cloud.githubusercontent.com/assets/4550197/11350495/6f2011ba-923a-11e5-9335-64b532c274f9.png)

And this is the upper folder
![screen shot 2015-11-23 at 11 34 07 pm](https://cloud.githubusercontent.com/assets/4550197/11350561/c67ba316-923a-11e5-8bd0-2cfc50f84150.png)

When I

[2015-11-23 21:37] BrennanConroy commented on #3191
```sudo chown -R Arda:group .dnx```

[2015-11-23 21:38] BrennanConroy commented on #3191
That will recurse the folders in .dnx

[2015-11-23 21:58] ardacetinkaya commented on #3191
Thanks a lot, this workaround fixes it.

[2015-11-23 22:46] LorenDorez commented on #2546
@davidfowl Any update?

[2015-11-24 00:03] JunTaoLuo opened #3195 "Flatten AggregateExceptions"
Looking at AggregateException, I recalled that we didn't unpack them previously here https://github.com/aspnet/dnx/blob/8ddcfe9661188784fad37ea8d3b2965d3b4e756f/src/Microsoft.Dnx.Tooling/Program.cs#L96.

Unless we are sure we won't have nested AggregateExceptions we should use something like `foreach (var e in ae.Flatten().InnerExceptions) {...}`

[2015-11-24 03:29] schotime opened #3196 "dnx -p and --appbase"
Is it possible to run both the -p and --appbase options.

The scenario is I want to execute a unit test command from the root directory, but specify the appbase as if I was running from the same location as the project.json file.

I get the error. Could not load file or assembly 'test' when trying to run.

dnx -p .\tests --appbase .\tests test

Thanks.

[2015-11-24 03:33] davidfowl commented on #3196
`-p` alone already does what you want.

[2015-11-24 03:35] moozzyk commented on #3196
No, because `-p` is expanded to `--appbase`. `dnx -p .\tests test` expands to `dnx --appbase .\tests Microsoft.Dnx.ApplicationHost test` so is what you are looking for.

[2015-11-24 03:48] davidfowl commented on #3196
?

[2015-11-24 04:04] schotime commented on #3196
This line in my tests

[code]

does not find the config.json file when running not in the directory itself.
eg. I need to set the running path.

[2015-11-24 04:08] davidfowl commented on #3196
@schotime Did you try: `dnx -p {myfolder} test`

[2015-11-24 04:09] davidfowl commented on #3196
Wait I think I get what you're asking now. That code is in the application you are testing?

[2015-11-24 04:10] schotime commented on #3196
That code is in the test project and yes I did try it.

[2015-11-24 04:11] schotime commented on #3196
https://github.com/schotime/NPoco/blob/dnx/test/NPoco.Tests/Common/BaseDBDecoratedTest.cs#L27

[2015-11-24 07:05] davidfowl commented on #3178
You could just use assembly attributes for this. Specifically `[AssemblyMetadata]`

[2015-11-24 07:06] davidfowl commented on #3175
Closing this out. If the issue persists, file this on aspnet/Tooling

[2015-11-24 07:06] #3175 closed

[2015-11-24 07:36] moozzyk opened #3197 "Impossible to specify the Runtime Id of the target OS the app is published for"
When publishing an app I can specify the target `--runtime`. This will include the runtime with the package along with the project.lock.json file. For windows the project.lock.json will contain however only entries for win7. This breaks when a package contains native dependencies that are OS version specific (in this case I think dlls for OneCore are the best example) because they won't be include

[2015-11-24 07:43] moozzyk commented on #3183
This also breaks when trying to publish for arm. Even though in my project.lock.json I have the `    "DNXCore,Version=v5.0/win10-arm": {` target if I publish with `--framework dnxcore50` the published project.lock.json file contains only targets for `"DNXCore,Version=v5.0/win7-x86": {` and `  "DNXCore,Version=v5.0/win7-x64": `

[2015-11-24 08:22] matizk144 commented on #3193
Additionaly I observed situation, that dnx publish command publish app with depedencies (packages), but finally, when we want to run app (from published folder) published runtime (dnx) still use packages from C:\Users[user]\.dnx\packages, instead from published packages.

Tested in runtime dnx-coreclr-win-arm.1.0.0-rc2-16177, during publish asp.net webapi.

[2015-11-24 09:17] tebeco commented on #3136
I'm not sure how to do that because this is what VS2015 looks like when I try with RC1-Final :
It shows error for all aspnet packages that depends on Newtonsoft 6.0.x (Almost 90%)

What's the proper way to deal with it ?
WebSite (xproj A : bottom project) reference a class library (xproj B : dnx package type) and this one reference a third project (xproj C : dnx package type)

A > B > C
* A is a W

[2015-11-24 09:55] bluemmc opened #3198 "Project is unsupported by current project and can not be referenced (RC1)"
I have created a ASP.NET 5 RC1 web project and specified "dnx451" as the only framework in project.json. This allows me to add a old-style (non-DNX) 4.5.1 C# class library projects as dependencies but when I try to add a similar 4.5.1 F# class library project as a reference to the web project,  I get an error that the "Project is unsupported by current project and can not be referenced". Why does

[2015-11-24 09:58] bluemmc opened #3199 "DNX4.5.1 selected as framework even if I select 4.6 inside VS when creating project (RC1)"
With RC1 in VS2015, I selected 4.6 as .NET framework and created a new ASP.NET 5 project. In the project.json however, "dnx451" is configured as .NET framework instead of "dnx46". Why?

[2015-11-24 13:01] mjeanrichard opened #3200 "Set custom value for AssemblyInformationalVersion"
We currently use the AssemblyInformationalVersion-Attribute to add metadata about the build of this assembly (e.g. what build plan, which commit hash).
As far as I can tell there is currently no way to do this with vNext? Is such a feature planned or is there another way to address this issue?

See also https://github.com/aspnet/dnx/issues/1504#issuecomment-87222972

[2015-11-24 16:22] AArnott commented on #3178
I don't think that resolves the issue. The values for these assembly metadata need to be computed at build time, and DNX (AFAIK) doesn't offer me a way to hook into that pipeline.
Also, that doesn't address the NuGet package version.

[2015-11-24 17:10] GuardRex commented on #3178
@AArnott You can script your way to a new version for each publish operation. You can run a PS script on "prepare" and provide whatever versioning logic you want. I needed a new patch version for each publish, so I whipped this up: https://github.com/GuardRex/net5-autoupdate-version

[2015-11-24 17:44] AArnott commented on #3178
Thanks, @GuardRex. But that requires a source code change to impact the build. Then to ensure the number keeps incrementing you have to check in the change. What I'm looking for is automation that can control the version *without* changing source code every time I build or publish.
And I want build and publish to be effectively the same thing. Every time I build a commit, the result should be the

[2015-11-24 18:14] Eilon commented on #3136
@anurse @davidfowl ?

[2015-11-24 18:17] anurse commented on #3183
There may still be an issue there we can look at. RC1 doesn't officially support `arm`, so the timing is a little less rushed :)

[2015-11-24 18:19] anurse commented on #3193
There are probably some issues with this in `arm`. Right now `arm` isn't formally supported, so we'll try to take a look but this issue is focused on solving the issues with the officially supported flavors of RC1

[2015-11-24 18:20] Eilon commented on #3200
You can add the attribute to your assembly in the normal way and DNX will leave it alone. At least, that's what *should* happen...

[2015-11-24 18:24] anurse commented on #3136
Can you run `dnu restore` for the projects that are showing the error on the command line and post the output?

[2015-11-24 19:28] GuardRex commented on #3183
@anurse I just lost my access to `System.Net.Security` -23405 ...

![capture](https://cloud.githubusercontent.com/assets/1622880/11378078/52f08bf0-929e-11e5-8900-90c526897538.PNG)

The -23405 package was working for me (RC1) while you're working on a perm fix (for RC2?). Is there any way I can get access to that -23405 package back?

[2015-11-24 20:00] GuardRex commented on #3183
@anurse Nevermind ... I found it in one of my project's VS publish output folders, moved a copy of it back to `.dnx\packages`, and was able to reference it again. Whew! ... that was close. I'm going to put that -23405 package on CraigsList ... I'll split the take with you.

[2015-11-24 20:05] GuardRex commented on #3183
@anurse Rats! :rat: :rat: :rat:

![capture](https://cloud.githubusercontent.com/assets/1622880/11379133/84636b9e-92a3-11e5-9354-e1cf0b23cfac.PNG)

... can I force acceptance of that package?

[2015-11-24 20:28] anurse commented on #3183
We have a fix and we're working on getting it out ASAP, so you won't have to wait for RC2. As long as 23405 is either in your local cache or on one of your feeds, the direct reference shouldn't ever bump you up. That warning, in fact, is designed to tell you that it was forced to bump you up because it couldn't find the exact match.

[2015-11-24 20:30] #3193 closed

[2015-11-24 20:40] GuardRex commented on #3183
@anurse Strange ... I have the package (the -23405 one) in `.dnx\packages`. It's still pulling -23409 on a manual package restore. Is there something else I need to do besides just dropping it into the folder?

![capture](https://cloud.githubusercontent.com/assets/1622880/11379917/d81d584a-92a7-11e5-8da5-dc42fdbda7be.PNG)

[2015-11-24 20:50] benaadams commented on #3183
@GuardRex where's your CraigsList item? Though I can probably hold out on a week :)

[2015-11-24 20:55] GuardRex commented on #3183
@benadams I put it here (and hoping not to violate any licenses by doing so!): https://github.com/GuardRex/System-Net-Security-23405

[2015-11-24 21:03] pakrym commented on #2788
https://github.com/aspnet/Mvc/pull/3632

[2015-11-24 21:03] #2788 closed

[2015-11-24 21:55] tebeco commented on #3136
I will in about 10 hours ;)

[2015-11-24 22:00] GuardRex commented on #3183
I'm good ... `"System.Net.Security": "4.0.0-beta-23225",` works in place of -23405 ... at least insofar as `SslStream` is concerned. However, I sent a request to the NuGet owners asking to put -23405 back up.

[2015-11-24 22:32] GuardRex commented on #3183
@ericstj states ...

set DNX_FEED=https://www.myget.org/F/aspnetrc1/api/v2
dnvm upgrade

... and thanks to @joshfree for letting me know that -23405 isn't available on the NuGet feed but at the feed shown above. That explains why I lost it for a sec.

[2015-11-24 23:15] natemcmaster opened #3201 "Project loader throws IndexOutOfRangeException for unmanaged libraries"
This error happens inconsistently on CoreCLR/Linux. Loading SQLite triggers this error from dnx.

[code]
See https://travis-ci.org/aspnet/EntityFramework/jobs/93045776

[2015-11-24 23:15] natemcmaster commented on #3201
cc @moozzyk

[2015-11-24 23:51] moozzyk commented on #3201
Feels like a problem that might occurred if load happens from multiple threads and the hashset is in an inconsistent state

[2015-11-24 23:55] natemcmaster commented on #3201
So, an issue for corefx? Or should we be using a System.Collections.Concurrent here instead?

[2015-11-25 00:04] anurse commented on #3183
Be very careful with using the `aspnetrc1` feed. There's nothing terribly wrong with it, but it is purely designed for internal testing, so we often replace packages there without changing the version. Also, the released version may end up with the same version number. I'd suggest deleting any `1.0.0-rc1-update1` runtimes you got from there and instead use the [https://www.myget.org/F/aspnetcirele

[2015-11-25 00:06] moozzyk commented on #3201
I think we need to use Concurrent in dnx. If the user is trying to use DllImport in multiple threads I don't think clr will/should try serialize it.

[2015-11-25 00:09] GuardRex commented on #3183
@anurse @ericstj After mulling things over a bit and trying to settle on something simple but effective to get me to RC2, I think I'll just give -23225 a go. It's on the NuGet release feed, and dnx isn't trying to upgrade it to anything else (e.g., -23409). I only need `SslStream`, and it seems to be working well out of -23225. Unless you guys think I'm going to break, I'll go forward this way.

[2015-11-25 01:14] anurse opened #3202 "dotnet repl auto-references mscorlib which breaks on CoreCLR"
This may be a Roslyn issue, but I'm starting it off here because that's where I repro'd it.

Do the following:

1. Run `csi` (`dotnet-repl-csi` is broken, I'm fixing that now)
2. Type `System.ConsoleColor.Red`
  1. :+1: `(1,1): error CS0234: The type or namespace name 'ConsoleColor' does not exist in the namespace 'System' (are you missing an assembly reference?)` (this is **expected**)
3. Type `#

[2015-11-25 01:16] anurse commented on #3202
Augh... wrong repo...

[2015-11-25 01:16] #3202 closed

[2015-11-25 04:56] schotime commented on #3196
Thanks to @davidfowl.
You must use the Extension Method `AddJsonFile` like so as it will set the path correctly.

[code]

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Json/JsonConfigurationExtensions.cs#L60

[2015-11-25 04:56] #3196 closed

[2015-11-25 05:54] GuardRex commented on #3029
@moozzyk May I ask about a signing scenario ... I just dropped `Microsoft.Aspnet.Razor` into my app as a project add-in so that I could make some mods to it. Locally when I went to compile and execute, it complained about not having the `Key.snk` file at `C:\tools`. I created that folder and dropped the `Key.snk` file in ... worked great locally. When I published the app, it threw on the server, r

[2015-11-25 05:56] davidfowl commented on #3029
`c:\tools\`? Sounds like `Path.Combine` bug. The key file should be picked up as a relative path from the project file. When you copied Razor did you copy the keyfile from the relative location? One problem might be the fact that we have the key file in the solution root and publish doesn't take that into account. You should publish --no-source and just work around the whole problem.

[2015-11-25 06:05] GuardRex commented on #3029
@davidfowl ... Regarding it being on the relative path (as it's found in the Razor repo download), no, and that's probably what I screwed up not knowing any better. I just took the `Microsoft.AspNet.Razor` folder out of the `Razor-release\src` folder and just dropped it right into my app (into my `src` folder). It was quick to just drop in in that way and add it to `project.json` and `global.json`

[2015-11-25 06:07] davidfowl commented on #3029
@GuardRex you need to tweak this value:

https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNet.Razor/project.json#L6

[2015-11-25 06:10] GuardRex commented on #3029
@davidfowl BRILLIANT! Perfect. Thanks! ... again!!!!

[2015-11-25 08:32] mjeanrichard commented on #3200
Thanks, after some testing I can see that the Problem is a different one. If the attribute is defined in a 'normal' code file then it works indeed as you say.
BUT if the attributes are defined in a liked code file (Visual Studio: "Add as Link") they are not picked up. In order to use the same attributes in every project we create one code file with the attribute in the solution root folder and lin

[2015-11-25 08:40] davidfowl commented on #3200
Sure it does:

e.g.

https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Sqlite/project.json#L16

https://docs.asp.net/en/latest/dnx/projects.html?highlight=working%20dnx#advanced-properties

[code]

[2015-11-25 08:49] mjeanrichard commented on #3200
Ok, thank you. That works fine!

I think it has to do with the way I add linked files. I usually add the linked file for the first project in my solution (which happened to be a conventional class library) and the just copy the links to the other project (which is faster the using the add dialog for every project). This works fine with conventional (old style) projects, but it does not update the

[2015-11-25 09:09] leak commented on #3038
I cannot reproduce the issue on RC1 anymore, seems to be resolved.

[2015-11-25 09:09] #3038 closed

[2015-11-25 09:51] tebeco commented on #3136
Hi again,
FYI : I'm trying to migrate libraries from .net 2/4 to Dnx Compliant package.

Here is here I am :
* I've removed Newtonsoft.Json from all three project.json
* I've still found evidence of it inside Lock file
* I've cleaned project.lock.json (it was corrupted because of the error, i'm guessing there's a bug un VS2015 when you add/remove dependencies sometimes it does NOT CLEAN the lock f

[2015-11-25 14:54] tuespetre opened #3205 "How to depend on a specific target framework of a NuGet package?"
I am trying to use this nifty library from @JoshClose called [CsvHelper](https://www.nuget.org/packages/CsvHelper/) from a dnx console application. However, that package only defines the following folders in lib:
- `net20`
- `net35-client`
- `net40-client`
- `portable-net40+sl5+win8+wpa+wp8`

The project I am working on targets `dnx46`, and the version of the library that gets referenced is the `n

[2015-11-25 15:01] davidfowl commented on #3205
You mean framework not version. If you want to override the nuget selection logic you need to edit the package. I don't see us adding a first class feature for picking a specific framework folder.

[2015-11-25 15:07] tuespetre commented on #3205
Correct, I did mean "target framework version."

I do have to wonder though -- is there an issue with the mentioned 'nuget selection logic' if it selects `net20` instead of `net40` for a `dnx46` project?

[2015-11-25 15:08] JoshClose commented on #3205
@davidfowl Is there a reason it's choosing net20 over one of the client profiles?

If I wanted to add DNX support to CsvHelper, should I follow Marc Gravell's posts? http://blog.marcgravell.com/2015/11/the-road-to-dnxpart-3.html

[2015-11-25 15:12] davidfowl commented on #3205
That could just be a bug in the logic we have.

@JoshClose yes. That's a great guide

[2015-11-25 16:32] GuardRex commented on #3029
@davidfowl Still not working for me. If I setup the project key location like this in `project.json` ...
[code]
... and I have a `tools` folder in the solution (at the same level as the `project.json` file), then it finds the file locally and VS doesn't choke.

When I VS publish and move the bits, the `tools` folder ends up here on the server ...
[code]
... but it chokes to a 500. When I click `we

[2015-11-25 17:05] GuardRex commented on #3029
Workaround ...

Publishing to ...
[code]
... create a PS script (`copy-key-file.ps1`) ...
[code]
... and hook it in `project.json` on ...
[code]
... have this in `project.json` ...
[code]
... and put the `Key.snk` key file in a `tools` folder in the solution (at the same level as the `project.json` file).

... but I'm guessing you will say this is not so good jumping through all of these hoops.

[2015-11-25 17:10] davidfowl commented on #3029
Publish --no-source. What you're seeing is us not preserving or copying enough of the original project structure on publish when replaying source code

[2015-11-25 17:13] GuardRex commented on #3029
Is there a --no-source option for using VS's publish command?

[2015-11-25 17:23] jskeet opened #3206 "Paths in global.json using ".." fail when dnu restore is invoked from parent directory"
Detailed scenario I'm trying to solve is described [on Stack Overflow](http://stackoverflow.com/questions/33919272).

Fundamentally, I'd like to be able to use a dependency on a project in a local "peer solution" - and I thought I'd use `global.json` to do so, like this:

[code]

That appears to work when invoking `dnu restore` from the solution directory (or lower) but not from the _parent_ direc

[2015-11-25 18:07] #3200 closed

[2015-11-25 23:09] GuardRex commented on #3029
Found out that the VS setting for `Compile source files into NuGet packages` adds the `--no-source` flag to the `dnu publish` command. `Key.snk` present in `tools` folder and found in the right spot. I'm good.

[2015-11-25 23:21] ToddThomson opened #3207 "VS2015 with ASP.NET 5 RC1 Class Library DNX Build Error"
When creating a new Class Library (Package) with VS2015 and ASP.NET 5 RC1 Tooling installed, the project.json contains:

[code]

This causes grief when adding razor view precompilation. Changing to "dnx451" is required.

I do not have VS2015 Update 1 installed so that is most likely the cause.

[2015-11-25 23:27] danludwig commented on #3207
I do have vs update1 rc installed, and still creating a new class library project uses net451 instead of dnx451.

[2015-11-26 00:00] stankovski commented on #2967
I'm still seeing a similar issue with `1.0.0-rc2-16177` build.

The issue happens with Portable111 target that attempts to reference a nuget with the following lib folder “portable-net45+win8+wpa81”. If I manually change the folder to “portable-net45+wp80+win8+wpa81+dnxcore50”, dnu happily restores and builds.

Here is a snippet of project.json:

[code]

Here is a content of `C:\Program Files (x86

[2015-11-26 00:25] Flavien opened #3208 "Dnu restore fails with error "Sequence contains more than one element""
Running `dnu restore` on my project on Linux causes an error: `System.InvalidOperationException: Sequence contains more than one element`.

See this gist for more details about the exception: https://gist.github.com/Flavien/daca89e3d0e0c084b033

[2015-11-26 00:29] davidfowl commented on #3208
Happens when you have a dependency duplicated

[2015-11-26 00:34] Flavien commented on #3208
Except I don't, at least not directly. I might be referencing a package that is already referenced by a dependency, but that should be ok, shouldn't it?

Here is the project.json:

[code]

[2015-11-26 00:44] davidfowl commented on #3208
ot could be in one of your other projects. Scan all of your project.json files not just the main one

[2015-11-26 01:09] Flavien commented on #3208
It seems to be coming from this, but it has no duplicates, and no dependency other than .NET Core itself:

[code]

[2015-11-26 01:11] muratg commented on #2967
Reopening this so that @anurse can take another look.

[2015-11-26 01:14] davidfowl commented on #3208
Odd. Will take a look when I get a chance

[2015-11-26 01:31] Flavien commented on #3208
Something I noticed: if I remove the global.json file two levels up, dnu restore works fine. That's strange since there is no reference other than ``Microsoft.Data.SQLite`` in the file.

[2015-11-26 18:26] strohhut commented on #3023
Problem also exists in RC 1.

[2015-11-26 19:59] PinpointTownes commented on #2118
+1 for a Mono TFM! :tada:

[2015-11-26 20:39] GuardRex opened #3209 "Getting the version (patch) incremented prior to build/publish"
The version that matches what we'll see in VS published output matches the version in `project.json`, so starting with ...
[code]
... will lead to folder named `1.0.9` in `<output_folder>/approot/packages/<project_package>`.

If I establish a PS script that would modify the `project.json` version and run that script in `prepare` or `build` ...
[code]
... it does increment the version in `project.j

[2015-11-27 06:29] jskeet commented on #3206
Given the answer on Stack Overflow, it seems the problem isn't that the `projects` property isn't being handled properly - it's that `global.json` isn't being read at all, because I'm calling `dnu restore` from a parent directory.

So, this may be working as intended - but it's pretty confusing :) I had expected that running `dnu restore` would be recursive as if I'd run `dnu restore Common` and t

[2015-11-27 12:32] dazinator opened #3210 "dnu restore - fails when encountering artifacts directory."
I have the following dir structure:

some.sln
artifacts\
someproject\someproject.xproj
someproject\project.json

Now when I do a `dnu restore` within this directory:

[code]

it is discovering the project.json file in this "artifacts" directory - and that project.json file seems to have a dependency on my application - the one I have "published" in the past. dnu tries to resolve this as a package

[2015-11-27 17:41] neilyoung commented on #3170
Still the same exception.

dnu list

* Microsoft.Dnx.Watcher 1.0.0-rc1-final
  Microsoft.Dnx.Watcher.Core 1.0.0-rc1-final

Nevertheless

dnx-watch web
System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Dnx.Watcher.CommandOutputProvider..ctor(IRuntimeEnvironment runtimeEnv)
   at Microsoft.Dnx.Watcher.Program..ctor(IRuntimeEnvironment runtimeEnviron

[2015-11-27 19:13] yanickv commented on #3114
The .NET Core and ASP.NET 5 RC announcement mentions that CrossGen is currently broken under Linux and will be fixed: http://blogs.msdn.com/b/dotnet/archive/2015/11/18/announcing-net-core-and-asp-net-5-rc.aspx

Does this mean that dnu publish --native will be fixed for RC2?

[2015-11-27 22:18] OG84 commented on #3170
try running the command line as administrator

[2015-11-27 22:32] neilyoung commented on #3170
After some back and forth my dnx now has a --watch option, which works...

Microsoft .NET Execution environment Mono-x64-1.0.0-rc1-16202

Usage: dnx [options]

Options:
  --project|-p <PATH>              Path to the project.json file or the application folder. Defaults to the current folder if not provided.
  --appbase <PATH>                 Application base directory path
  --lib <LIB_PATHS>

[2015-11-28 19:42] brijmailid opened #3211 "Error occured to run DNX design time process dnx-clr-win-x86.1.0.0-rc1-final"
I'm getting following error
Error occured to run DNX design time process(dnx-clr-win-x86.1.0.0-rc1-final) No Connection could be made because the target machine actively refused it [ ::ffff:127.0.0.1 ]:49660

[2015-11-28 22:21] kpocza opened #3212 "Linux - DNX Mono rc1 - dnx46 - error on start"
The websites here
https://github.com/kpocza/thriot/tree/asp.net_5_rc1_dnx46/Service
run fine on Windows IISExpress+IIS with dnx rc1-final having dnx46 in the project.json files.
https://github.com/kpocza/thriot/tree/asp.net_5_rc1_dnx46/Service/Management/Thriot.Management.WebApi/project.json

Every class lib targets .NET 4.6.

Previously I've used beta7 with dnx451 which was fine on Linux.

Now, a

[2015-11-29 05:35] kaanoo2904 commented on #2666
Hi, I have this problem too. Windows 7 x64, dnx version 1.0.0-rc1-final.

![image](https://cloud.githubusercontent.com/assets/10462294/11455487/aa58d96a-9695-11e5-821c-83a5d460bac9.png)

[2015-11-29 05:44] kaanoo2904 opened #3213 "dnx.win32.dll could not be loaded. Last error: 87"
Similar to #2666 and #2648 but they're both closed with no resolution.

In my case here:

- Win 7 SP1
- .NET Framework 4.5 , Powershell 3 installed
- No Visual Studio installed ( got DNVM and DNX through cmd)

- I've switched between coreclr and clr , x86 vs x64, still had this issue.

![image](https://cloud.githubusercontent.com/assets/10462294/11455491/e9a957c0-9695-11e5-8729-04d4cbd916cb.png)

[2015-11-29 14:04] JorritSalverda commented on #3166
+1  I would expect dnu build and dnu publish to behave similarly as dnu restore which can use a global.json file to scan multiple subdirs for project.json files.

[2015-11-29 14:30] jincod opened #3214 "What is ASPNET_ENV default value?"
[code]

`Environment: Production`

Production value is default?

[2015-11-29 14:37] jincod commented on #3214
Answer: https://github.com/aspnet/Mvc/issues/3254

[2015-11-29 14:37] #3214 closed

[2015-11-29 16:11] davidfowl commented on #3166
Publish isn't about making packages, you're not using the right command. What you want is `dnu pack`.

You can use globbing patterns with `dnu build/pack` like so:

[code]

[2015-11-29 16:15] GuardRex commented on #3214
Post back if it fails to set the environment per https://github.com/aspnet/Mvc/issues/3254 ... It fails for me, but there was no answer at https://github.com/aspnet/Configuration/issues/342, so I assumed I was doing something wrong myself.

[2015-11-29 16:43] RehanSaeed commented on #3166
Cool, that solves that problem.

[2015-11-29 16:43] #3166 closed

[2015-11-29 16:54] jincod commented on #3214
Solution for me:
[code]

For dev `dnx dev`, for production `dnx web`

[2015-11-29 17:06] GuardRex commented on #3214
@jincod I was hoping to keep my `Startup.cs` logic along the lines of ...
[code]
... the reason being that I like auto-detection of the physical environment to determine if the app should run in dev or prod. I don't like config files all over the place.

This logic started to fail in RC1, so I had to move over to checking the environment directly later in the app (i.e., not using the "ASPNET_ENV"

[2015-11-29 17:13] davidfowl commented on #3214
Startup is too late to set the Environment name. There's a bunch of things that have already read it by that time (like the startup loader itself). That's how it knows to call configure{environment} on your startup class (if specified). You can always change the proper on IHostingEnvironment after the fact but the code that ran before that logic will see older values and might lead to inconsistent

[2015-11-29 17:22] GuardRex commented on #3214
@davidfowl Thanks for telling me about that. I wondered what changed.

Like this in `Startup.cs`? ... in a web app?
[code]

[2015-11-29 22:59] GuardRex commented on #3214
@davidfowl This isn't getting executed (or the env var isn't getting set) (dnxcore50, x64, IIS Express, standard web app pattern, RC1). I tried it inside and outside of the `Startup` class.
[code]

[2015-11-29 23:13] davidfowl commented on #3214
Yes to use main you need to call dnx run. You also need a hosting.json with the default web server

[2015-11-29 23:31] GuardRex commented on #3214
I think I'll stick with a direct machine name check in the `Startup` ctor and save my "environment" in configuration/options. It's not for BCL stuff ... just my own app settings. With the official environment default to Production, I'm fine with that.

I still think there is a slight loss here that the environment is set so early and out of reach of the dev, but I hear you on the startup loader ..

[2015-11-30 00:25] GuardRex commented on #3214
So just for completeness ...

Create an `ExtensionMethods.cs` file with something like ...
[code]
In `Startup.cs` ctor, I have my own env var setup based on the environment (my server environment in this case) ...
[code]
Then, I can do this elsewhere in the app ... I can bring in the namespace of my extension (`using MyApp.Misc;`) and `using Microsoft.AspNet.Hosting;`, inject `IHostingEnvironment

[2015-11-30 01:01] GuardRex commented on #3214
cc: @ardalis @danroth27 Vaguely relevant to https://docs.asp.net/en/latest/fundamentals/configuration.html?highlight=extension%20method#writing-custom-providers ... falls under your "extreme flexibility" in the closing paragraph of your excellent doc on the subject.

You may prefer to do what I did with `IOptions`, and that's entirely understandable, but I just wanted to mention that the concept o

[2015-11-30 08:18] RehanSaeed commented on #3174
Thanks @ankitbko.

[2015-11-30 08:18] #3174 closed

[2015-11-30 10:25] leak opened #3215 "Breakpoint in Main() is never reached"
Env: `1.0.0-rc1-final clr     x86          win             default`
`"emitEntryPoint": true`

Created an empty web application, converted the default Main() line to a method with body. Placed a breakpoint inside the body.

Breakpoint is never hit, yet removing the Main() method results in a compiler error.

[2015-11-30 10:47] uncleyo opened #3216 "Using Microsoft.Dnx.Tooling programmatically?"
For example to restore packages (in another project). Do you see this as valid use case?

Right now it is kept private in runtime "lib" folder. Are there any reasons to not make it available in the feed? Or is there an elegant way to reference it now?

[2015-11-30 11:47] #3024 closed

[2015-11-30 11:47] buuminh commented on #3024
Not having this issue in RC1 anymore.

[2015-11-30 14:25] redowl3 commented on #3207
I also have this issue and have vs update1 rc installed - very annoying.

[2015-11-30 18:03] Eilon commented on #3215
@davidfowl I think we looked at this the other day and weren't sure why it wasn't hitting. Does VS not attach early enough?

[2015-11-30 18:31] moozzyk commented on #3029
@GuardRex - if you publish with `--no-source` you actually should not need the `.snk` at all. If it is copied it is a bug. (`.snk` files are needed only to build assemblies and `--no-source`

[2015-11-30 18:32] davidfowl commented on #3215
To run through the Main code path you need to use DNX run instead of DNX web. You'll also need a hosting.json to specify the sever

[2015-11-30 18:37] #3183 closed

[2015-11-30 18:39] benaadams commented on #3183
@anurse its this resolved; or do we need to use the work around used by @GuardRex ?

[2015-11-30 18:42] anurse commented on #3183
For now, the workaround. There is an update to RC1 with a fix coming soon. You can also use the `aspnetcirelease` feed for your DNX if you want early access to the RC1 update.

[2015-11-30 18:46] benaadams commented on #3183
Ah, if I'm using the unstable RC2 should it be in that also?

[2015-11-30 19:00] anurse commented on #3183
Yes, it should be in the latest RC2 builds. I merged to dev last week.

[2015-11-30 19:02] benaadams commented on #3183
Excellent, thank you!

[2015-11-30 19:15] GuardRex commented on #3029
Ah ... I see. I'll be back in the office this afternoon to confirm as u say
that there is no copy, thus no bug with --no-source. All I know this far is
that --no-source did prevent the exception.
On Nov 30, 2015 10:33 AM, "Pawel Kadluczka" <notifications@github.com>
wrote:

[2015-11-30 22:01] borgdylan commented on #2754
I found it easy to implement this for my own language support. Would this have any application apart from writing DNX hosts or command line tools to have no dependencies that are external to the BCL?

[2015-12-01 03:43] benaadams commented on #3183
Is working great, thank you :+1:

[2015-12-01 04:22] GuardRex commented on #3029
@moozzyk I returned to the office too late today to take a second look. I do want to re-trace my steps to confirm the expected behavior. I should have time tomorrow evening. I'll get back you --

[2015-12-01 05:34] theonlylawislove opened #3217 "What is the story for desktop applications? WPF? Qt? Gtk?"
I know there are plans to support web and cli, but would about the others (non cli)?

If we can get at least an empty project with no console, the community could get started writing Gtk or Qt bindings.

Also, provided their using dnx451, what is stopping someone from referencing PresentationCore/PresentationFramework (WPF) and running a UI thread? I understand that the xaml would have to be compi

[2015-12-01 09:08] adamhathcock opened #3218 "NullReferenceException in RuntimeEnvironmentHelper under .NET 4.5 using Logging"
I've created a repo to reproduce this using RC1: https://github.com/adamhathcock/ConsoleLoggingTest

Basically, the Console logger uses IsWindows off of RuntimeEnvironmentHelper and there is a null reference exception is on this line because PlatformServices.Default is null under non-DNX full frameworks: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime.Sources/Impl/RuntimeEnvironme

[2015-12-01 09:27] oliverw opened #3219 "resx resources get embedded with the wrong resource identifier if the project's default namespace differs from the project name"
The compiler currently embeds resx resources with the wrong resource identifier if the project's default namespace differs from the project name.

**Scenario:**

- Project Name: `ConsoleApp1`
- Default Namespace: `ConsoleApp`
- Resource Name: `Resource.resx`

**Expected behavior:**

The resource would be embedded as `ConsoleApp.Resource.resources`

**Actual behavior:**

The resource is embedded as

[2015-12-01 16:32] BrennanConroy commented on #3191
PKG Fixed with Update1

[2015-12-01 16:32] #3191 closed

[2015-12-01 17:57] moozzyk commented on #3029
@GuardRex - no worries...

[2015-12-01 18:26] natemcmaster commented on #3201
This bug is still causing frequently CI failures for EF on Linux. https://travis-ci.org/aspnet/EntityFramework/builds/94071437

@moozzyk Is native library loading going to part dotnet cli?

[2015-12-01 18:47] moozzyk commented on #3201
@natemcmaster - I don't know where it is going to land. @davidfowl will know. I will try to fix this soon to unblock you.

[2015-12-01 20:04] moozzyk commented on #3201
Fixed in 181910604.

[2015-12-01 20:04] #3201 closed

[2015-12-02 03:25] nuevoalex commented on #2056
This is more or less blocking adoption of DNX for the project I'm currently working on so some response to this would be great.

[2015-12-02 09:25] #3218 closed

[2015-12-02 09:56] davidfowl commented on #3217
No plans for anything but web right now. This might be a better question for corefx (https://github.com/dotnet/corefx). https://github.com/Perspex/Perspex is the only xplat UI stack that seems to have people working on it that I'm aware of.

[2015-12-02 09:56] #3217 closed

[2015-12-02 09:58] davidfowl commented on #3216
Nope, the dnu is just a tool that will go away in favor of nuget. NuGet 3 will have these APIs available (and some already are). Restore is here https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.Commands

[2015-12-02 09:58] #3216 closed

[2015-12-02 09:58] #3215 closed

[2015-12-02 09:59] davidfowl commented on #3211
Any more details? Can you reproduce this on any project? Are you using VS update 1? Did you install the RC1 tooling?

[2015-12-02 10:00] davidfowl commented on #3208
Odd. Can you a simple sample that shows the problem and put it in a repository somewhere?

[2015-12-02 10:20] 010227leo commented on #2666
same problem..

[2015-12-02 16:37] muratg commented on #2666
https://github.com/aspnet/dnx/issues/3213 tracks this with more details.

[2015-12-02 16:37] #2666 closed

[2015-12-02 16:38] muratg commented on #3213
Adding @ghostkaa and @010227leo.

@moozzyk Could you have a look?

[2015-12-02 16:48] Fosol opened #3222 "Unable to Resolve Service for type "IApplicationEnvironment""
With the latest update I am no longer able to start my application.

Here is the error;

It appears to me to be related to the introduction of the static Main method.
[code]
global.json
[code]
I'm only referencing "1.0.0-rc1-final" dependencies.
project.json
[code]
Here is my Startup constructor;
[code]

[2015-12-02 16:53] Fosol commented on #3222
I'm pretty certain it's related to this announcement https://github.com/aspnet/Announcements/issues/113

Is there some example to look at?

[2015-12-02 16:59] Fosol commented on #3222
Looks related to this post too https://github.com/aspnet/dnx/issues/2990

[2015-12-02 17:02] muratg commented on #3222
@Fosol did you change your app according to the announcement post?

cc @pakrym

[2015-12-02 17:04] Fosol commented on #3222
Figuring it out as we speak.

Had to change Startup constructor to
[code]
Or you can use the static implementation
[code]
I think that fixes the issue.

[2015-12-02 17:06] pakrym commented on #3222
You got dependency on old `Microsoft.Dnx.Runtime.Abstractions` somehow, i guess because of beta-4 security packages

[2015-12-02 17:10] #3222 closed

[2015-12-02 17:17] moozzyk commented on #3213
@ghostkaa @010227leo @kaanoo2904 - I think the common thing is that these are non-English Win7/2008R2 OSes. Can you confirm? Also, I assume you have the latest updates/service packs installed.

[2015-12-02 21:15] runxc1 opened #3223 "dnu publish doesn't resolve relative paths in global.json"
So I have a solution with 4 .net 4.5 (classic) projects in one folder and another .net 4.5 project in another folder and a dnx console app in another folder referencing all 5 of theses projects in the solution.

I can run/debug the solution but publishing from VisualStudio as well as the command line always gives me an error - Error NU1001: The dependency XXX.Library >= 1.0.0 could not be resolved

[2015-12-02 21:27] ChaosEngine commented on #3076
The bug still holds true even after 1.0.0-rc1-update1. I'm testing it on latest `microsoft/aspnet:1.0.0-rc1-update1-coreclr` image.

Stacktrace:

[2015-12-03 00:41] GuardRex commented on #3029
@moozzyk Ok ... back ... finally. Crazy week.

Good ... behavior confirmed. When VS publish has the File Publish Option "Compile source files into NuGet packages" checked, `--no-sources` is added to the underlying `dnu publish` command and the `Key.snk` file is *not* requested/required. I'm good. Thanks.

btw- Tooling is going to add something like "`(--no-sources)`" to that VS publish option text

[2015-12-03 00:48] moozzyk commented on #3029
Great! Thanks for confirming!

[2015-12-03 08:45] kaanoo2904 commented on #3213
@moozzyk I use the Windows 7 Professional SP1 64Bit version, ( X17-59186.iso, I downloaded years ago , not remember where)  . I turn off windows update, but have .net 4.5 installed.

[2015-12-03 12:59] 010227leo commented on #3213
@moozzyk I install the latest updates, solve the problem. Thank you!

[2015-12-03 16:20] AArnott opened #3224 "dnu pack ** only works once, then the build breaks"
*\* Repro steps **
1. Create an empty directory with the following project.json file:

[code]

Run `dnu restore`
Run `dnu pack **`

At this point, everything succeeded. But now build again:

`dnu pack **`

This time the build will fail with output ending with this:

[code]

The `dnu pack` command creates a `bin\debug\app` folder with a project.json file in it (but no project.lock.json file). When

[2015-12-03 16:52] GuardRex commented on #3183
Confirmed fixed with runtime rc1-update1. Thanks @anurse and @ericstj :beers:

[2015-12-03 17:48] moozzyk commented on #3213
@kaanoo2904 - try installing latest updates - this apparently helped in  @010227leo to fix the issue. If it does not let me know what language you are using an I will try to repro this on the same version setup (but with latest updates).

[2015-12-03 17:51] moozzyk commented on #2666
@EGrishin - in the other bug the issue was fixed by installing the latest updates. Make sure your system is up-to-date if you are still experiencing it (actually even if you are not experiencing it it is good to have the latest updates).

[2015-12-03 18:41] anurse commented on #2967
Ping @muratg. I don't really have the cycles for this with dotnet-cli work. Can we find someone to take this on?

[2015-12-03 18:43] davidfowl commented on #2967
I can look today.

[2015-12-03 18:46] muratg commented on #2967
Assigned to @davidfowl

[2015-12-03 19:27] a11smiles opened #3226 "System.IO.File Alternative for DNX Core?"
I've written middleware that uses the System.IO.File object (specifically, *.Exists() and *.ReadAllText()).

If, in my _project.json_, I have:

    "frameworks": {
      "net451": {
        "dependencies": {
          "Microsoft.CSharp": "4.0.1-beta-23516",
          "System.Collections": "4.0.11-beta-23516",
          "System.Linq": "4.0.1-beta-23516",
          "System.Runtime": "4.0.21-beta-235

[2015-12-03 19:29] pranavkm commented on #3226
You should be able to reference `System.IO: 4.0.11-beta-23516` from `dnxcore50`.

[2015-12-03 19:43] muratg opened #3227 "Remove IAssemblyLoadContextAccessor and IAssemblyLoadContext from runtime services"

[2015-12-03 19:45] a11smiles commented on #3226
Intellisense keeps telling me that System.IO.File is not available in System.IO.

[2015-12-03 19:54] muratg opened #3228 "Design web publishing model in dotnet CLI"

[2015-12-03 20:16] GuardRex opened #3229 "When the global.json file is out of position in source, published output breaks the runtime"
Starting with this layout (in source on the dev box) ...
[code]
... and merely moving the `global.json` to this layout (manually moving the file on the dev box while VS is closed)  ...
[code]
... results in a project that will run locally in IIS Express but breaks on the server (i.e., after publishing to the filesystem and MSDeploy'ing to the server). The app is unresponsive. The log shows ...
[co

[2015-12-03 20:54] dls314159 commented on #3224
I've seen a similar error output. In my case it happened when I have an empty dnxcore50 property. I worked around it by adding back minimal content there. For me, it's:

[code]

[2015-12-03 22:07] anurse commented on #3226
You want the `System.IO.FileSystem` package. You can use the unofficial "reverse package lookup" site: http://packagesearch.azurewebsites.net/ to look up which packages contain specific types.

That should resolve your issue, but if not please don't hesitate to reopen and let us know!

[2015-12-03 22:07] #3226 closed

[2015-12-03 22:20] pemari-msft opened #3230 "New TFMs (dotnet5.4 and net451) for class libraries not 1:1 with old ones"
``WindowsAzure.Storage`` client library has been supporting all the way back since the days of the `ASPNet5.0` and `ASPNETCore5.0` TFMs.

We currently have an existing `net40` dll that is GA. We also have `dnx451` and `dnxcore50` dlls that are in preview. Now I see the guidance [from here](https://github.com/aspnet/Announcements/issues/98) says that we should be changing our project.json targets t

[2015-12-03 22:27] khellang commented on #3230
You should read through https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md. It should answer some questions :smile:

[2015-12-03 22:32] pemari-msft commented on #3230
I've read through it. It provides some details but I'm not sure how it particularly answers my questions, particularly about the `net451` and `net40` issue. Thanks!

[2015-12-03 22:42] khellang commented on #3230
I'm not sure I understand... If you have a package with `net451` and `net40`, why would "our new 'preview dnx451' dll" be picked? Does the package also contain a `dnx451` target? Besides, I don't think there should be any difference in surface area for `net451` and `dnx451`?

It doesn't, but `dotnet5.2` does. If you look at the document I linked, you'll see that profile 111 corresponds to `netstan

[2015-12-03 22:59] pemari-msft commented on #3230
Let me try to clarify. We have a `net40` and `dnx451` dll today. When customers make a new Console Application targeting .NET 4.5.1 in VS 2015 (a regular one, not a (Package) one), and take a dependency on our library, they currently pull in the dll that exists in the `net40` folder as a reference.

Now, we're retargeting the `dnx451` dll to be -> `net451`. Now the package will have `net451` and `

[2015-12-03 23:28] xblader commented on #2834
some solution to this? I am facing same error.

[2015-12-03 23:45] Eilon commented on #3230
@davidfowl any thoughts?

[2015-12-03 23:48] Eilon commented on #3076
@natemcmaster @divega @anurse ?

[2015-12-04 00:03] davidfowl commented on #3230
net451

[2015-12-04 00:08] troydai commented on #1394
DTH is going away. I'll close this issue for now. Moving forward, performance on large solution will always be a test pivot.

/cc @muratg @Eilon @davidfowl

[2015-12-04 00:08] #1394 closed

[2015-12-04 00:09] troydai commented on #1919
Ping @anurse @davidfowl how do we deal with this in/after rc2?

[2015-12-04 00:10] troydai commented on #2131
/cc @muratg
close and move to cli or nuget?

[2015-12-04 00:11] troydai commented on #2502
Not validate any more. Close.

[2015-12-04 00:11] #2502 closed

[2015-12-04 00:13] troydai commented on #3161
@BillHiebert @muratg
Do we still need to fix this in RC2?

[2015-12-04 00:26] davidfowl commented on #1919
We work on nuget

[2015-12-04 00:27] #1919 closed

[2015-12-04 00:27] csunali commented on #3227
Are we not going to be able to access those anymore?

I was using the IAssemblyLoadContextAccessor to load libraries from custom paths.

Sorry if I got the title wrong.

[2015-12-04 00:37] a11smiles commented on #3226
@anurse Thanks so much for the tip.  Additionally, thanks for the website.  Man, it always takes me a bit of time to "hunt and peck" for those types in the new packages and that site will save me a ton of hours.

[2015-12-04 00:42] smbecker commented on #3227
Will there be a replacement or some other way to access? I also use it quite a bit.

[2015-12-04 00:44] davidfowl commented on #3227
Nope, see https://github.com/dotnet/corefx/issues/4027. Please add your comments there it'll help us push the feature back into the CLR. We can potentially keep exposing these interfaces as a separate library but they will need to be manually added to the container.

[2015-12-04 00:52] csunali commented on #3227
@davidfowl What I understand is that, you are getting rid of these interfaces in favor of providing consistent methods that we can do this on Core CLR? E.g.: `Assembly.LoadFile`?

If this is what you meant, I don't think I have any reason to ask for those interfaces being pushed back into the CLR.

[2015-12-04 01:23] davidfowl commented on #2131
nuget

[2015-12-04 01:23] #2131 closed

[2015-12-04 02:02] jl32 commented on #2834
Yes.
I installed WebToolsExtensionsVS14  and this resolved the problem.
You have to select version of dnx.
https://www.microsoft.com/en-us/search/result.aspx?q=WebToolsExtensionsVS14++&form=dlc
good lucky

[2015-12-04 02:39] YoungjaeKim commented on #2367
I got same problem with `dnx46` and .net framework 4.6 libraries.

[2015-12-04 03:20] davidfowl commented on #2367
@Gentlehag @YoungjaeKim Can you provide *EXACT* repro steps? Do they match the above? Can you reproduce the problem in a new project?

[2015-12-04 03:28] davidfowl commented on #1903
@MichaelKetting Just run restore again

[2015-12-04 03:29] davidfowl commented on #2229
irrelevant with the CLI

[2015-12-04 03:29] #2229 closed

[2015-12-04 03:30] #2638 closed

[2015-12-04 03:31] davidfowl commented on #2683
@pakrym You did this right?

[2015-12-04 03:31] davidfowl commented on #2727
Irrelevant with CLI work

[2015-12-04 03:31] #2727 closed

[2015-12-04 06:34] muratg commented on #3161
Yes, let's decide if this is something we'll need to do in the new DTH.

[2015-12-04 06:36] davidfowl commented on #3161
in the new DTH it should be fixed

[2015-12-04 06:37] muratg commented on #3227
@csunali Let's continue the discussion (and questions) here: https://github.com/dotnet/corefx/issues/4027.  This is basically dotnet CLI prep.

[2015-12-04 06:38] muratg commented on #2131
Do we have a nuget bug filed?  Can we link?

[2015-12-04 06:39] muratg commented on #2638
yay!

[2015-12-04 06:39] muratg commented on #726
Good to close @davidfowl ?

[2015-12-04 06:40] muratg commented on #2683
I think this was done.

[2015-12-04 06:40] muratg commented on #3161
:+1:

[2015-12-04 06:41] davidfowl commented on #2131
https://github.com/NuGet/Home/issues/1811

[2015-12-04 06:41] #726 closed

[2015-12-04 06:48] davidfowl commented on #3128
Doesn't matter anymore

[2015-12-04 06:48] #3128 closed

[2015-12-04 06:48] davidfowl commented on #2927
@pakrym did this

[2015-12-04 07:08] MichaelKetting commented on #1903
Thanks for the update!

[2015-12-04 07:29] victorhurdugaci commented on #2683
@muratg @davidfowl you were supposed to be at the Christmas party... cc @Eilon fyi

[2015-12-04 07:33] davidfowl commented on #3224
Yea that sucks by why are you packing your test project?

[2015-12-04 07:46] muratg commented on #2683
@victorhurdugaci I really wanted to go, but decided to take a nap before going (I had like 3 hours sleep last night) and couldn't wake up. :hankey:

[2015-12-04 07:54] Gentlehag commented on #2367
Yes I was able to reproduce it with a plain new project and just changing the framework version in the project.json

[2015-12-04 11:25] irjinn commented on #3023
Same issue https://github.com/aspnet/dnx/issues/3047

[2015-12-04 14:40] theplastictoy commented on #3007
On 14.04 LTS I get the same error. Looking at the ouptut when export DNX_TRACE=1, I get:

Semaphore: ~ $ dnu
Loaded module: dnx.coreclr.so
Found export: CallApplicationMain

Unhandled Exception: System.ArgumentException: 'utf8' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider method.
Parameter name: name
   at

[2015-12-04 15:26] Fosol opened #3231 "Versioning Questions"
I used to use MsBuild.Community.Tasks to automate versioning.  It doesn't appear to work anymore.  Is this because the move to project.json?

I noticed that in new projects (since update 1) that Class Libraries now include an AssemblyInfo.cs.  How does this work along side the project.json file?  Is there a connection?

I'm missing the connection between Class Library build versioning and NuGet pa

[2015-12-04 19:39] Fosol opened #3232 "DNU Restore - Not Working - rc1-final"
I've upgraded to rc1-final.

dnu restore no longer obeys the packageSources I've listed when you add a network share.

This was working previously.

[2015-12-04 20:58] andschwa opened #3233 "Using DNX for libraries"
I've run into some problems. We're building our application using DNX, and most of the time, when we want to launch the app (i.e. execute a managed `Main` function), we're fine, the DNX host works great.

However, we *also* need to be able to load the managed libraries and create delegates to managed library functions from native code, without ever launching any sort of `Main` function.

This is e

[2015-12-04 21:07] andschwa commented on #3233
For what it's worth, `dotnet-cli` has the same issues, and more (they don't even support the `ILibraryManager` yet).

[2015-12-04 21:12] Fosol commented on #3232
Looks like there is an inconsistency in how configuration is setup and used.  If you disable something in your user profile it will disable the same named value in your local configuration copy.

[2015-12-04 21:30] plitwin opened #3234 "Dnvm error with space in path (RC1)"
![rc1-bug](https://cloud.githubusercontent.com/assets/1145843/11601834/ed210ecc-9a8a-11e5-88bc-d41d7c1f965a.PNG)

After upgrading to RC1 and then installing the updated-1, I still get this error any time I use a DNX command:
'C:\Users\Paul' is not recognized as an internal or external command,
operable program or batch file.
The system cannot find the path specified.

[2015-12-04 23:02] davidfowl commented on #3234
dnx list isn't a thing.

[2015-12-04 23:06] davidfowl commented on #3233
I'm not sure what you're asking for here. You want a way to invoke managed code from native code in the running app domain?

I'm not sure it's major enough to support in a first class way. How did you do this in .NET Framework?

What are you using it for?

Fork DNX.But it's going away anyways so you may not want to do that.

What exactly are you trying to do.

[2015-12-05 01:27] plitwin commented on #3234
Sorry I mistyped. I meant dnvm list! It still produces the error!
Paul Litwin

From:  David Fowler <notifications@github.com>
Reply-To:  aspnet/dnx
<reply+00117bf3b83c91a1ac76de2b97d2f5a13038e0267adb548592cf000000011279dda59
2a169ce072e8792@reply.github.com>
Date:  Friday, December 4, 2015 at 3:03 PM
To:  aspnet/dnx <dnx@noreply.github.com>
Cc:  Paul Litwin <paul@litwinconsulting.com>
Subject:  Re

[2015-12-05 02:41] BrennanConroy commented on #3234
run ```dnvm update-self```

[2015-12-05 03:38] kaanoo2904 commented on #3213
@moozzyk Ok, it's work now . But I think you should include everything needed in dnx installer ? I ( and I believe many other dev also) prefer to turn off this windows update feature.

[2015-12-05 04:40] AArnott commented on #3224
I don't need to. But since tests and product are intermingled in the source tree, and DNU's story for building everything requires that I either build or pack everything, and I do need to pack the product, that leaves me with just two options:

1. `dnu pack **` (easy, but has this bug)
1. Enumerate every product project somehow and `dnu pack` it individually. Then also enumerate every test project

[2015-12-05 04:41] cda-1 commented on #2546
@davidfowl I have a little more info that might help.

My asp.net 5 rc1 project.json has:

[code]

If I copy the "C:\Users[your username].dnx\packages\CsvHelper\2.13.5\lib\net40-client" folder to
"C:\Users[your username].dnx\packages\CsvHelper\2.13.5\lib\dnx451"

...then the project.lock.json file is generated correctly. It's a dirty hack and I am wondering what the root of the problem is.

I gues

[2015-12-05 05:51] moozzyk commented on #3213
@kaanoo2904 I don't know what was missing that dnx couldn't run but it is not a DNX responsibility to provide updates - Windows Update is the mechanism of keeping your machine up to date. I also don't know why devs would prefer to turn off updates and a) be vulnerable b) miss important additions that make it impossible to run some apps (like dnx).

[2015-12-05 05:51] #3213 closed

[2015-12-05 16:30] glennsills commented on #3211
I am seeing the same error. Below is my system info.

Microsoft Visual Studio Community 2015
Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Version 4.6.01038

Installed Version: Community

Visual Basic 2015   00322-20000-00000-AA669
Microsoft Visual Basic 2015

Visual C# 2015   00322-20000-00000-AA669
Microsoft Visual C# 2015

Visual C++ 2015   00322-20000-00000-AA669
Microsoft Visual C++ 20

[2015-12-05 16:59] glennsills commented on #3211
Rebooting solved the problem.

[2015-12-05 17:36] tuespetre opened #3235 "An argument for dnx to set the process name"
Since ASP.NET 5 is aiming to provide a highly scalable, deployable, or otherwise 'cloud-friendly' approach to writing applications, I think it is important to discuss [the 'processes' components of the twelve-factor methodology:](http://12factor.net/processes)

In order to properly identify the running instances of a process, it can be useful for each process to have a distinct name. This allows p

[2015-12-05 17:38] davidfowl commented on #3235
We're not adding any features to DNX since it won't be used past RC1. The good news is this will be the default when using the new CLI. Each app with get a unique process name (matching the application name).

[2015-12-05 17:40] davidfowl commented on #3234
Closing this.

[2015-12-05 17:43] davidfowl commented on #3231
Yes. I assume you're hooking an msbuild event that no longer exists? What does the task do and when does it run?

Just like it used to work. If you use an AssemblyInfo file with attributes, those will be used instead of the `project.json` information.

You can think of the project.json as a nuspec.

[2015-12-05 17:43] davidfowl commented on #3230
Closing this

[2015-12-05 17:43] #3230 closed

[2015-12-05 17:44] davidfowl commented on #3229
/cc @JunTaoLuo Didn't we fix this?

[2015-12-05 17:47] davidfowl commented on #3212
Mono doesn't support .NET 4.6

[2015-12-05 17:47] #3211 closed

[2015-12-05 17:49] davidfowl commented on #3198
Please file this under aspnet/Tooling

[2015-12-05 17:49] #3198 closed

[2015-12-05 17:49] davidfowl commented on #3199
That dialog is never read.

[2015-12-05 17:49] benaadams commented on #3235
w00p! :+1:

[2015-12-05 17:49] davidfowl commented on #3199
Also this is another aspnet/Tooling issue

[2015-12-05 17:49] #3199 closed

[2015-12-05 17:50] davidfowl commented on #3189
This issue was moved to https://github.com/dotnet/cli/issues/312

[2015-12-05 17:50] #3189 closed

[2015-12-05 17:51] davidfowl commented on #3187
Closing

[2015-12-05 17:51] #3187 closed

[2015-12-05 17:52] davidfowl commented on #3180
The error is pretty bad but it is by design. You need to have the right TFMs in order to *run* the compile module.

[2015-12-05 17:53] davidfowl commented on #3184
Can you describe the unneeded ones?

[2015-12-05 17:57] Antaris commented on #3180
This can probably be closed as when RC2 drops compile modules *may* not exist until Roslyn supports then directly.

[2015-12-05 18:23] tuespetre commented on #3235
DNX won't be used anymore? As in, DNX is going away? Also, will the process name account for multiple instances of a running process, or will there be more of a bias to writing an application to use a configurable number of worker threads?

[2015-12-05 18:30] benaadams commented on #3235
@tuespetre is moving to [.NET Command Line Interface](https://github.com/dotnet/cli) was announced at Connect(); // 2015 and should be the way for RTM (as I understand)

[2015-12-05 18:33] davidfowl commented on #3235
Yes.

What does that mean? You get an executable file in your output folder (like the old days).

[2015-12-05 18:37] tuespetre commented on #3235
Ah, the CLI is something I missed entirely. It looks wonderful!

@davidfowl: I am talking about deployment and scalability, like managing multiple instances of the same process on a server. Think queue processors, etc.

[2015-12-05 18:38] davidfowl commented on #3235
@tuespetre What are you asking about that specifically? You want to set each title of your running app?

[code]

Something like that? I'm not sure what feature you are asking for...

[2015-12-05 18:39] plitwin commented on #3234
Sorry but I missed the resolution?

Regards,
Paul

[2015-12-05 18:40] tuespetre commented on #3235
That is correct.

[2015-12-05 18:41] davidfowl commented on #3235
How would you do that if you could do it programmatically?

[2015-12-05 18:42] davidfowl commented on #3234
@BrennanConroy just said it `dnvm update-self`

[2015-12-05 19:22] tuespetre commented on #3235
I would pass the desired process name as a command line argument when instantiating each process.

As I said, this doesn't take much at all to implement within each application that would even need this, so it may just fall under the category of 'other' and not really belong with the 'dnx' or 'dotnet run' commands.

[2015-12-05 20:02] plitwin commented on #3234
David,

I think it would make sense first to check with the bug reporter whether or not the supposed fix actually fixed the bug before closing the issue. It did NOT fix the issue.
![dnvm_3](https://cloud.githubusercontent.com/assets/1145843/11609902/f624f9d0-9b47-11e5-93b6-aeeed8dd2eff.PNG)

[2015-12-05 20:03] plitwin commented on #3234
And if you want more details: This is VMWare fusion VM on a macbook pro. The O/S is Windows 7 in the VM.

[2015-12-05 20:09] BrennanConroy commented on #3234
You'll need to manually update the dnvm then. Replace your dnvm.cmd with https://github.com/aspnet/Home/blob/dev/dnvm.cmd

[2015-12-05 20:16] davidfowl commented on #3234
Either way this bug should be filed on dnvm. I'll leave it open.

[2015-12-05 22:11] kpocza commented on #3212
Meanwhile I've switched back to 4.5.1 and it's working.

[2015-12-06 08:09] adamhathcock commented on #3184
For example: a lot of the Extensions are targeting a dotnet version and net451 while I'm specifying dnx451 on the base application I'm publishing.  I would expect only to have dotnet (I think) in the published package dependency tree.  Not both targets for those Extension packages.

[2015-12-06 12:34] ChaosEngine commented on #3076
I've created Dockerfile for exposing this bug. Hope it will help: https://github.com/ChaosEngine/dockerfiles/blob/master/entityframework/Dockerfile

One can buld it:
`$ docker build -t EF-Bug .`
and test it with:
`$ docker run -it --rm EF-Bug`
`$ docker exec $(docker ps -q -f {ancestor=EF-Bug}) curl http://localhost:5000/Blogs/`
Errors appear in curl-ed response and backround log console of contai

[2015-12-06 13:39] nojaf opened #3236 "Unable to cast object of type 'FSharp.Dnx.FSharpProjectCompiler' to type 'Microsoft.Dnx.Compilation.IProjectCompiler'"
Hi,

I'm trying to fix the FSharp support for DNX from the fsharp-dnx repo.
https://github.com/fsprojects/fsharp-dnx/issues/18

I was able to get the DNX compile project building again but when referenced in another F# project it doesn't compile

The error I get:
[code]

My compiler class
[code]

The ```IProjectCompiler``` is in the new ```Microsoft.Extensions ``` namespace. So I'm a bit puzzled w

[2015-12-06 17:56] davidfowl commented on #3236
The version of that has to match the runtime you're executing.

[2015-12-06 19:37] andschwa commented on #3233
I need a way to create an app domain and invoke managed code, from a native shared library.

The upstream authors (and my way with our custom CoreCLR build system) do this by owning the entire native host: initialize the CLR, create delegates, use them, then shut down the CLR. Things I'd prefer to be able to do via a library, rather than reimplementation.

We are (unfortunately) using it to get a

[2015-12-06 21:19] TimMurphy commented on #3032
@andrejg

For a ASP.NET 5 n00b. How do you update ALL dependencies in project.json?

[2015-12-06 21:23] andrejg commented on #3032
@TimMurphy  Well, you change the dependencies from

 ` "dependencies": {
    "EntityFramework.Commands": "7.0.0-rc1-*",`

to
`  "dependencies": {
    "EntityFramework.Commands": "7.0.0-rc2-*",`

or whatever your target version is.

Then type:

`dnu restore`
in the terminal and hit enter.

[2015-12-07 01:24] tenor opened #3237 "PCLs can't target 'ASP.NET Core 5.0' anymore."
I don't know where best to post this issue as there are numerous components involved.

With Visual Studio 2015 Update 1 and Nuget 3.3.0.212, I can no longer create portable class libraries that target 'ASP.NET Core 5.0' and .NET 4.5 anymore.

I'm working on a DNX class library (targeting dnx45 and dnxcore50) that references a PCL library I'm also working on. That PCL library targets .NET 4.5 and '

[2015-12-07 08:27] davidfowl commented on #3236
/cc @Alxandr

[2015-12-07 08:29] davidfowl commented on #3223
Can you make a sample repro?

[2015-12-07 08:29] davidfowl commented on #3212
Closing

[2015-12-07 08:29] #3212 closed

[2015-12-07 08:31] davidfowl commented on #3197
@anurse  @moozzyk Relevant with the CLI?

[2015-12-07 08:43] roji opened #3238 "dnu restore picks up packages not in NuGet.config"
Packages under .dnx\packages aren't marked with the NuGet feed they came from this leads to some problematic scenarios:
- Work on project A, which has aspnetvnext in its NuGet.config. Restoring some package X downloads the latest unstable rc2 into my .dnx\packages
- Switch to project B, which is stable and only has nuget.org in its NuGet.config. Doing `dnu restore` will now pick up the unstable rc

[2015-12-07 08:52] davidfowl commented on #3238
Are you using -*? If yes then all bets are off. The best way to shield yourself from other repositories when using floating versions is to use a per repository packages folder. You can edit global.json and set a relative path to packages.

We could choose to ignore the local disk when restoring -* versions and instead only used configured feeds (instead of trying to keep track of where things came

[2015-12-07 08:56] davidfowl commented on #3233
Not sure how you can do this other than writing your own host.

This bug is better suited for dotnet/coreclr and dotnet/corefx. If you're looking for a built in way to do something outside of owning a host then thats the place to go.

[2015-12-07 09:01] davidfowl commented on #3132
Not sure this is still relevant for CLI work

[2015-12-07 09:02] davidfowl commented on #3120
I'm not sure what to do with this bug. It's a little vague.

[2015-12-07 09:03] davidfowl commented on #3111
This is now irrelevant given the new standard platform https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md

[2015-12-07 09:04] #3096 closed

[2015-12-07 09:10] #22 closed

[2015-12-07 09:10] davidfowl commented on #22
Irrelevant, new CLI work

[2015-12-07 09:11] davidfowl commented on #122
Irrelevant with the new CLI work

[2015-12-07 09:11] #122 closed

[2015-12-07 09:11] davidfowl commented on #219
CLosing this due to the new CLI work

[2015-12-07 09:11] #219 closed

[2015-12-07 09:12] roji commented on #3238
I'm indeed using -* (I guess otherwise this problem can't occur in the first place).

Specifying a package path in global.json is definitely a workaround, although it's less than ideal in a single project where sometimes you need to switch between stable and unstable branches - you need to switch back and forth both your NuGet.config and your global.json.

Wouldn't ignoring the local disk for -* m

[2015-12-07 09:12] #250 closed

[2015-12-07 09:12] #343 closed

[2015-12-07 09:13] #365 closed

[2015-12-07 09:13] davidfowl commented on #365
watcher dead

[2015-12-07 09:13] davidfowl commented on #451
With the move to nuget this will solve itself.

[2015-12-07 09:13] #452 closed

[2015-12-07 09:13] davidfowl commented on #452
Not anymore!

[2015-12-07 09:15] #462 closed

[2015-12-07 09:15] davidfowl commented on #462
CLI now does this

[2015-12-07 09:15] davidfowl commented on #547
Irrelevant now ish sorta

[2015-12-07 09:15] #547 closed

[2015-12-07 09:16] davidfowl commented on #562
Bye commands

[2015-12-07 09:16] #562 closed

[2015-12-07 09:16] davidfowl commented on #583
CLI mitigates this

[2015-12-07 09:16] #583 closed

[2015-12-07 09:17] davidfowl commented on #621
@moozzyk yep! Closing as the CLI now has to handle this

[2015-12-07 09:17] #621 closed

[2015-12-07 09:17] #634 closed

[2015-12-07 09:17] #636 closed

[2015-12-07 09:18] #603 closed

[2015-12-07 09:19] #681 closed

[2015-12-07 09:19] #710 closed

[2015-12-07 09:20] #696 closed

[2015-12-07 09:20] #721 closed

[2015-12-07 09:20] #719 closed

[2015-12-07 09:20] #757 closed

[2015-12-07 09:20] #768 closed

[2015-12-07 09:22] roji commented on #3111
You're right. So if I understand correctly, in the new standard platform package maintainers decide at publishing time whether they target/support netstandard1.2 or netstandard1.3? In other words it's no longer the package *consumer* which checks compatibility for dependency packages?

[2015-12-07 09:22] #3111 closed

[2015-12-07 09:22] davidfowl commented on #818
There's no such thing as an unused framework. Why is it in there in the first place.

[2015-12-07 09:22] #838 closed

[2015-12-07 09:23] davidfowl commented on #855
CLI mitigates this it's all out of proc

[2015-12-07 09:23] #855 closed

[2015-12-07 09:24] davidfowl commented on #819
This was a great discussion and should be brought up again on either CoreFX or Roslyn or both.

[2015-12-07 09:24] #819 closed

[2015-12-07 09:24] #859 closed

[2015-12-07 09:24] davidfowl commented on #879
Closing this as it could be another command line tool

[2015-12-07 09:24] #879 closed

[2015-12-07 09:25] davidfowl commented on #922
Deprecated

[2015-12-07 09:25] #922 closed

[2015-12-07 09:26] #976 closed

[2015-12-07 09:26] #981 closed

[2015-12-07 09:27] #993 closed

[2015-12-07 09:31] #1019 closed

[2015-12-07 09:31] #1036 closed

[2015-12-07 09:32] davidfowl commented on #1072
/cc @jaredpar

[2015-12-07 09:35] #1121 closed

[2015-12-07 09:35] #1131 closed

[2015-12-07 09:41] #1132 closed

[2015-12-07 09:42] davidfowl commented on #1173
Closing this out as I'm sure there's nothing else we can do here

[2015-12-07 09:42] #1173 closed

[2015-12-07 09:44] #1182 closed

[2015-12-07 09:47] davidfowl commented on #1192
Not required

[2015-12-07 09:47] #1192 closed

[2015-12-07 09:54] davidfowl commented on #1212
@troydai Do we need this?

[2015-12-07 09:54] #1244 closed

[2015-12-07 09:55] davidfowl commented on #1237
irrelevant with nuget3 immutable content support

[2015-12-07 09:55] #1237 closed

[2015-12-07 09:56] davidfowl commented on #1253
Irrelevant with CLI work

[2015-12-07 09:56] #1253 closed

[2015-12-07 09:59] davidfowl commented on #1271
I believe we fixed this

[2015-12-07 09:59] #1271 closed

[2015-12-07 09:59] #1306 closed

[2015-12-07 10:18] #1310 closed

[2015-12-07 10:18] #1311 closed

[2015-12-07 10:18] davidfowl commented on #1326
Closing as nuget suppors this and we're moving it tonuget

[2015-12-07 10:18] #1326 closed

[2015-12-07 10:19] #1379 closed

[2015-12-07 10:19] davidfowl commented on #1391
CLI uses CSC so this should be fixed.

[2015-12-07 10:19] #1391 closed

[2015-12-07 10:19] davidfowl commented on #1400
Irrelevant now with the CLI move

[2015-12-07 10:19] #1400 closed

[2015-12-07 10:21] davidfowl commented on #1431
With the move to the new CLI we've made libraries for the brains of DNX (not the execution part as yet). See https://github.com/dotnet/cli for more information.

[2015-12-07 10:21] #1431 closed

[2015-12-07 10:22] #1446 closed

[2015-12-07 10:22] #1475 closed

[2015-12-07 10:24] #1515 closed

[2015-12-07 10:25] #1526 closed

[2015-12-07 10:25] #1530 closed

[2015-12-07 10:26] davidfowl commented on #1533
Nope, we're going to just use nuget

[2015-12-07 10:26] #1533 closed

[2015-12-07 10:26] #1540 closed

[2015-12-07 10:26] #1543 closed

[2015-12-07 10:27] #1546 closed

[2015-12-07 10:27] #1552 closed

[2015-12-07 10:27] #1570 closed

[2015-12-07 10:27] davidfowl commented on #1587
Won't happen with the CLI

[2015-12-07 10:27] #1587 closed

[2015-12-07 10:28] davidfowl commented on #1604
Can close?

[2015-12-07 10:28] #1623 closed

[2015-12-07 10:28] #1657 closed

[2015-12-07 10:28] #1660 closed

[2015-12-07 10:28] #1670 closed

[2015-12-07 10:32] davidfowl commented on #1679
@bricelam does this work yet?

[2015-12-07 10:32] davidfowl commented on #1681
Should be fixed now

[2015-12-07 10:32] #1681 closed

[2015-12-07 10:33] #1701 closed

[2015-12-07 10:33] #1710 closed

[2015-12-07 10:35] davidfowl commented on #1720
I think this is by design

[2015-12-07 10:35] #1720 closed

[2015-12-07 10:37] davidfowl commented on #1772
Closing this out.

[2015-12-07 10:37] #1772 closed

[2015-12-07 10:37] davidfowl commented on #1772
+1 for gitter as well.

[2015-12-07 10:38] davidfowl commented on #1802
See https://github.com/dotnet/cli/issues/398

[2015-12-07 10:38] #1802 closed

[2015-12-07 10:39] davidfowl commented on #1814
The CLI code uses nuget now

[2015-12-07 10:39] #1814 closed

[2015-12-07 10:39] #1834 closed

[2015-12-07 10:40] #1866 closed

[2015-12-07 10:41] davidfowl commented on #1866
Will be irrelevant

[2015-12-07 10:41] #1890 closed

[2015-12-07 10:42] aaron-hammond commented on #3120
@davidfowl ok, sorry, let me try and be a little more concise.

I've created a test application: https://github.com/aaron-hammond/dnx.foo

its a basic project with one unit test.

When i run the following command in powershell:

dnx test -method "dnx.foo.tests.AddNumbersSpecs.AddSomeNumbersTests.TheResultIs20" -debug

I get the following exception:

![exceptio](https://cloud.githubusercontent.com/

[2015-12-07 10:42] #1903 closed

[2015-12-07 10:42] #1923 closed

[2015-12-07 10:42] davidfowl commented on #1937
Do we still need this?

[2015-12-07 10:44] davidfowl commented on #1975
Closing

[2015-12-07 10:44] #1975 closed

[2015-12-07 10:45] davidfowl commented on #1983
Closing this out

[2015-12-07 10:45] #1983 closed

[2015-12-07 10:46] #1992 closed

[2015-12-07 10:47] #2001 closed

[2015-12-07 10:48] davidfowl commented on #2028
The new CLI fixes this

[2015-12-07 10:48] #2028 closed

[2015-12-07 10:51] davidfowl commented on #2038
Closing this, we can expose a library that does this.

[2015-12-07 10:51] #2038 closed

[2015-12-07 10:52] #2044 closed

[2015-12-07 10:53] davidfowl commented on #2045
@Eilon do we need this?

[2015-12-07 10:53] #2054 closed

[2015-12-07 10:53] davidfowl commented on #2054
Added in rc1

[2015-12-07 10:54] #2062 closed

[2015-12-07 10:55] davidfowl commented on #2063
Do we still need this?

[2015-12-07 10:56] #2071 closed

[2015-12-07 10:57] davidfowl commented on #2071
Move to CLI removes commanding support

[2015-12-07 10:57] #2077 closed

[2015-12-07 10:57] #2084 closed

[2015-12-07 10:57] #2085 closed

[2015-12-07 10:57] #2088 closed

[2015-12-07 10:58] #2089 closed

[2015-12-07 10:58] #2093 closed

[2015-12-07 10:58] #2094 closed

[2015-12-07 10:59] #2100 closed

[2015-12-07 10:59] #2105 closed

[2015-12-07 10:59] #2108 closed

[2015-12-07 10:59] #2109 closed

[2015-12-07 10:59] #2112 closed

[2015-12-07 11:00] davidfowl commented on #2122
Config respects relative paths now.

[2015-12-07 11:00] #2122 closed

[2015-12-07 11:02] davidfowl commented on #2128
It'll be possible (probably) with tthe move to the new dotnet CLI

[2015-12-07 11:02] #2128 closed

[2015-12-07 11:03] #2154 closed

[2015-12-07 11:04] #2188 closed

[2015-12-07 11:06] davidfowl commented on #2195
With the new dotnet CLI this should be possible.

[2015-12-07 11:06] #2195 closed

[2015-12-07 11:08] davidfowl commented on #2238
Was added

[2015-12-07 11:08] #2238 closed

[2015-12-07 11:08] #2235 closed

[2015-12-07 11:08] #2245 closed

[2015-12-07 11:08] #2253 closed

[2015-12-07 11:08] #2256 closed

[2015-12-07 11:09] #2260 closed

[2015-12-07 11:09] #2264 closed

[2015-12-07 11:10] #2278 closed

[2015-12-07 11:10] #2279 closed

[2015-12-07 11:10] #2284 closed

[2015-12-07 11:10] #2285 closed

[2015-12-07 11:11] #2298 closed

[2015-12-07 11:11] #2302 closed

[2015-12-07 11:12] #2303 closed

[2015-12-07 11:13] davidfowl commented on #2311
Moving ASP.NET to the new dotnet CLI this will be implemented over there.

https://github.com/dotnet/cli/issues/83

[2015-12-07 11:13] #2311 closed

[2015-12-07 11:14] #2314 closed

[2015-12-07 11:16] #2325 closed

[2015-12-07 11:16] davidfowl commented on #2327
Closing this, if it's still happening with rc1 update 1. Let me know

[2015-12-07 11:16] #2327 closed

[2015-12-07 11:16] #2330 closed

[2015-12-07 11:17] #2337 closed

[2015-12-07 11:17] #2349 closed

[2015-12-07 11:18] #2358 closed

[2015-12-07 11:20] #2386 closed

[2015-12-07 11:20] #2410 closed

[2015-12-07 11:21] davidfowl commented on #2415
Was fixed

[2015-12-07 11:21] #2415 closed

[2015-12-07 11:21] davidfowl commented on #2416
Feature was cut

[2015-12-07 11:21] #2416 closed

[2015-12-07 11:21] #2433 closed

[2015-12-07 11:21] #2441 closed

[2015-12-07 11:23] #2458 closed

[2015-12-07 11:23] #2462 closed

[2015-12-07 11:23] #2463 closed

[2015-12-07 11:24] davidfowl commented on #2472
It'll be back post RC2

[2015-12-07 11:24] #2472 closed

[2015-12-07 11:25] #2485 closed

[2015-12-07 11:25] #2492 closed

[2015-12-07 11:26] davidfowl commented on #3232
yea bad nuget behavior

[2015-12-07 11:26] #3232 closed

[2015-12-07 11:33] tugberkugurlu commented on #1326
@davidfowl how will global installs work in dotnet CLI world as the commands will be removed?

[2015-12-07 11:49] MartinJohns commented on #2195
@davidfowl Please don't close tickets because something **should** be possible. Close it when it either **is** possible, or it was decided that this is not supported.

[2015-12-07 11:51] xanather commented on #2195
@MartinJohns Your right, his wording is slightly off, but yes this is possible in CLI (which is due to replace DNX in the next RC release I think).

[2015-12-07 12:33] Maxwe11 commented on #2302
@davidfowl why this closed?

[2015-12-07 16:38] dougbu commented on #3120
@aaron-hammond looks like the `-debug` switch is doing exactly what's required to start the debugger. Choose the debugger you want in that dialogue and hit `Yes`.

[2015-12-07 16:55] aaron-hammond commented on #3120
@dougbu if that's the case then so be it, but, i would suggest that: "An unhandled Microsoft .Net Framework exception occurred in dnx.exe" isn't a very good explanation of whats going on IMO.
It looks like, to me, that the command has failed in what i'm expecting it to do and it wants me to debug dnx.exe and not my code.

I don't know how easy it is to change something like this but; "Please choos

[2015-12-07 17:02] davidfowl commented on #3120
Can't really change that. We don't control it.

[2015-12-07 17:03] aaron-hammond commented on #3120
@davidfowl OK, no worries, thanks for the feedback.

[2015-12-07 17:03] #3120 closed

[2015-12-07 17:08] muratg commented on #986
@davidfowl where will this change happen?  FYI, you haven't modified the milestone (Backlog).

cc @anurse

[2015-12-07 17:08] davidfowl commented on #986
I don't know if we have a place to do this anymore.

[2015-12-07 17:16] muratg commented on #1890
@davidfowl new publish should still support this IMO.

[2015-12-07 17:18] davidfowl commented on #1890
I'm not sure we need a publish step anymore.

[2015-12-07 17:26] anurse commented on #3197
Probably still relevant, but @moozzyk can confirm

[2015-12-07 17:39] muratg commented on #1326
@tugberkugurlu That's under discussion currently :)

[2015-12-07 17:41] muratg commented on #986
Wherever publish code will live in?

[2015-12-07 17:42] Eilon commented on #2045
Probably not. None of this stuff will exist, right?

[2015-12-07 17:43] anurse commented on #3076
I love the idea of using docker to share the repro! I'm working on investigating it now. Thanks!

[2015-12-07 17:46] aggieben commented on #1400
There's still an app-hosting model that differs from .NET 4.6 and before, right?  Wouldn't the move to CLI just mean that instead of `DNX_ANY`, it would need to be `DOTNET_ANY` or something?

[2015-12-07 17:50] pakrym commented on #2683
@davidfowl yes, there is not IApplicationShutdown anymore

[2015-12-07 17:51] jumpinjackie opened #3239 "P/Invoking a method that throws a .net exception from within a natively invoked callback crashes the running application with SIGABRT on Linux"
Preface: I'm not sure if this is a DNX or a CoreCLR issue, so re-assign as required.

I'm currently looking at porting the .net API for [MapGuide](http://mapguide.osgeo.org/) over to run on ASP.net 5/CoreCLR in a cross-platform scenario

The code itself is in C++, but we use [SWIG](http://swig.org/) to generate a .net interop layer around our C++ code. I've been able to get this interop layer to w

[2015-12-07 17:52] andschwa commented on #3233
What I'd like is a hosting library from DNX or dotnet-cli or CoreFX, so I don't have to redo all the setup work, and just call some functions. The CLR, DNX, dotnet-cli, and my internal project all have individual forks of what amounts to the same native host code.

More than that, however, is that to use `PlatformServices.Default.LibraryManager`, DNX does preliminary work in managed code that, aga

[2015-12-07 17:52] anurse commented on #3076
Looks like `dnu restore` is not properly honouring the `DNX_RUNTIME_ID` environment variable that we use to override the OS detection (since DNX technically only supports Ubuntu, but we use Debian). This would be a bug in DNX (but would be fixed in NuGet for RC2 rather than here). As a workaround though, you can get your scenario working by changing your `dnu restore` call to `dnu restore --runtim

[2015-12-07 17:53] anurse commented on #3076
Note I do still get an exception after this change, but it appears to be something more specific to your configuration:

[code]

[2015-12-07 17:55] natemcmaster commented on #3076
@anurse the "Integrated Security is not supported on non-Windows" error just means you need to use a UserID/Password in the connection string instead of relying on Windows authentication. On the bright side, the appearance of this error indicates `System.Data.SqlClient.dll` is actually loaded.

[2015-12-07 18:00] davidfowl commented on #2683
@pakrym Well close da bug :smile:

[2015-12-07 18:01] davidfowl commented on #1400
Not really. DOTNET_ANY IMO isn't that valuable to have.

[2015-12-07 18:01] davidfowl commented on #2045
Nope

[2015-12-07 18:01] #2045 closed

[2015-12-07 18:12] bricelam commented on #1679
Haven't tried. @natemcmaster?

[2015-12-07 18:16] natemcmaster commented on #1679
No.

[code]

[2015-12-07 18:20] davidfowl commented on #1679
Try with the CLI

[2015-12-07 18:30] natemcmaster commented on #1679
What's the cli incantation I need? Whatever I try for `DOTNET_REFERENCE_ASSEMBLIES_PATH` I get the same error:

[code]

[2015-12-07 18:36] Fosol commented on #3231
I have a number of custom tasks.
One of them is supposed to automate versioning prebuild, but it no longer works with the new project.json files.

Another after build copies the nugget packages to a local share so our internal NuGet Package server has access to it.

Another aftercleanup does additional cleaning.

At some point I'll add DNX commands to the list.

Question - If the AssemblyInfo file

[2015-12-07 18:42] anurse commented on #3076
Yeah, I figured it was just something in the connection string for the repro project.

[2015-12-07 18:59] JunTaoLuo commented on #3229
Should have been fixed in #2656 I'll take a look why this is happening.

[2015-12-07 19:07] JoshClose commented on #3205
@davidfowl Would you be able to confirm if this is a bug in your logic? I've had a few people reporting this. If it's an issue with with package structure or something, that should be a quick fix for me. I won't have to do the dnx work for a while still.

This same thing happened in VS/NuGet previously too. Here is the ticket for the NuGet issue from before. http://nuget.codeplex.com/workitem/2502

[2015-12-07 19:30] #2683 closed

[2015-12-07 19:41] davidfowl commented on #3239
This belongs on dotnet/coreclr

[2015-12-07 20:12] GuardRex commented on #3229
I haven't checked with RC2. If u want me to check with RC2, I'll be back in
the office in a few hours and will check.
On Dec 7, 2015 11:00 AM, "John Luo" <notifications@github.com> wrote:

[2015-12-07 21:06] moozzyk commented on #1604
This was fixed.

[2015-12-07 21:06] #1604 closed

[2015-12-07 21:08] moozzyk commented on #1937
Probably not. Most of it was done anyways...

[2015-12-07 21:08] #1937 closed

[2015-12-07 21:12] moozzyk commented on #2063
Possibly - depending on what happens with `LoadContext` and if ARM is going to be officially supported.

[2015-12-07 21:23] amirv92 commented on #2844
same problem. running rc1.

[2015-12-07 21:39] factormystic commented on #2337
Why'd this get closed @davidfowl? I assume dnx will be packaged with more than just "DMG/PKG for OSX", and yet, no updates......

[2015-12-07 22:37] pakrym commented on #3227
Usages of `IAssemblyLoadContextAccessor`
[code]

[2015-12-07 22:42] muratg commented on #2337
@factormystic because we'll be moving away from DNX to dotnet CLI.

[2015-12-07 22:46] davidfowl commented on #2418
This feature was cut

[2015-12-07 22:46] #2418 closed

[2015-12-07 23:01] TJSoftware commented on #2337
@factormystic https://channel9.msdn.com/events/ASPNET-Events/ASPNET-Fall-Sessions/Introducing-the-dotnet-CLI

@muratg I was able to download an exe that got me going with the DOTNET commands, I am unable to find that site now.  Can you provide a link on how to get this going or is this supposed to wait for RC2?

![image](https://cloud.githubusercontent.com/assets/4823412/11642554/a3e30558-9cfb-11e

[2015-12-07 23:30] muratg commented on #2337
@TJSoftware Sure, you can get it from https://github.com/dotnet/cli

[2015-12-07 23:42] #2500 closed

[2015-12-07 23:42] #2522 closed

[2015-12-07 23:43] #2527 closed

[2015-12-07 23:44] davidfowl commented on #2532
Closing this

[2015-12-07 23:44] #2532 closed

[2015-12-08 00:06] Alxandr commented on #3236
Yeah. This is definitely a version mismatch

[2015-12-08 00:08] ChaosEngine commented on #3076
@anurse Great, it behaves exactly as you predicted, thanks!
However now, after changing connection to something more sane:
`var connection = @"Server=192.168.0.55;Database=testDB;User Id=user;Password=P@ssw0rd;"`
I still get FileNot found for `System.Net.Security`. Stack trace:

[2015-12-08 00:22] natemcmaster commented on #3076
@ChaosEngine it's a known bug in `dnu restore` in rc1.  See https://github.com/aspnet/EntityFramework/pull/3689#issuecomment-158201904

[2015-12-08 01:10] factormystic commented on #2337
@muratg ok thx. might want to add that to the readme or something

[2015-12-08 01:39] jumpinjackie commented on #3239
Moved to: https://github.com/dotnet/coreclr/issues/2263

[2015-12-08 01:39] #3239 closed

[2015-12-08 03:17] JunTaoLuo commented on #3229
@GuardRex what is in your `project.json`?

We ignore `global.json` by default if it's in your project directory. However, if your `project.json` has a non-empty section for `publishExclude` it will overwrite our defaults and publish any existing `global.json`. If you don't have a section for `publishExclude`, please attach your project so I can debug further.

If you did have a non-empty section f

[2015-12-08 03:50] GuardRex commented on #3229
Yes, all of my projects' `project.json` files have a non-empty `publishExclude` sections. I use them to keep stuff like `node_modules`, `gulpfile.js`, etc. out of my `output` folders.

I see, so this is "by design" in that you would want someone to add `global.json` to the `publishExclude` if they happen to have `global.json` at that folder level in their project. Cool. I get you on that.

The rea

[2015-12-08 03:50] #3229 closed

[2015-12-08 07:52] hungphongbk opened #3240 "dnu restore - failed due to curl error "Peer certificate cannot be authenticated with given CA certificates""
Currently I'm using MacOS El Capitan 10.11.2 beta and curl installed with Homebrew. I have attemped to run `dnu restore` so many times but still receive below output :(

[code]

[2015-12-08 08:44] ChaosEngine commented on #3076
@natemcmaster Thanks, it worked; have to harden my github search skills.

[2015-12-08 11:03] Flavien opened #3241 "DNX doesn't seem to handle the SIGTERM signal on Linux"
DNX should wind down and gracefully exit upon receiving a SIGTERM signal on Linux. It seems it is not currently the case.

A simple use case for this: The ``docker stop`` command sends a SIGTERM to the process in the container. Dockerized DNX apps can't gracefully shut down.

[2015-12-08 11:25] Tasteful opened #3242 "Question: CallContextServiceLocator"
Regarding to https://github.com/aspnet/Announcements/issues/106 point 4 it says

Do you have any example on how I can get out the ```IServiceProvider``` from any of ```PlatformServices``` or ```CompilationServices```?

I'm using ```CallContextServiceLocator``` in my (integration) test to fetch services that is registrated in my ServiceProvider, the services is registrered for my ```Microsoft.AspNe

[2015-12-08 12:01] leak commented on #3047
This issue is still unresolved on RC1.

This problem basically prevents you from using `Microsoft.AspNet.Localization` because as soon as you reference a 3rd library and the processing thread's culture is not Invariant you will get a FileNotFoundException for non-existing resources.

[2015-12-08 12:47] nojaf commented on #3236
Ok, not sure how to proceed to be honest. How would I know which runtime I'm executing?
Is it the thing in my dnvm or not?
If so why is there no 1.0.0 rc 1  packages of ```Microsoft.Framework.Runtime``` on https://www.nuget.org/packages/Microsoft.Framework.Runtime/

[2015-12-08 15:04] TJSoftware commented on #2337
@muratg Ahh, thank you, that makes sense that it is under dotnet and not under aspnet repo.  :smile:

[2015-12-08 16:38] muratg commented on #2337
You're welcome guys and @factormystic we'll be updating the roadmap on Home repo with this information soon.

[2015-12-08 18:04] anurse commented on #2337
FYI: It's definitely going to be a very bumpy road on the dev channel for a while. We have ASP.NET apps running on `dotnet` but it requires a lot of in-depth knowledge right now :). We'll be updating things as we smooth them out but feel free to explore and try things out!

[2015-12-08 18:04] #3076 closed

[2015-12-08 18:05] anurse commented on #3076
Cool! If anyone is still encountering issues, please feel free to reopen!

[2015-12-08 18:10] TJSoftware commented on #2337
@anurse Certainly understandable, I am sure everyone looks forward to things being smoothed out by Junber :wink:

[2015-12-08 18:13] Tragetaschen commented on #3241
That policy is too specific DNX (think "cleanup"). The Hosting infrastructure would be the right place and there, SIGINT is used graceful shutdown. In addition, you can always register a signal handler that ‘IApplicationLifetime‘.

[2015-12-08 18:31] Flavien commented on #3241
How do you register a signal handler?

[2015-12-08 19:00] #2927 closed

[2015-12-08 19:58] Tragetaschen commented on #3241
I do it with Mono.Posix against the full framework profile. On Core, I don't know, Posix signal handlers have a couple of restrictions.

[2015-12-08 19:59] davidfowl commented on #3241
@Flavien File this bug on aspnet/Hosting.

[2015-12-08 19:59] #3241 closed

[2015-12-09 00:36] prafullbhosale opened #3243 "Reloading an application in process"
For tools that modify project files like appsettings.json / project.json etc, is there a way to reload the application in process?

For instance, Scaffolding needs to install dependencies before it can generate code. In this case since the dnx gen command is already loads the project, the new dependencies do not get reflected in the process.

[2015-12-09 00:41] victorhurdugaci commented on #3243
There's no way to do that. Can you spin off a new process? That's what `dnx-watch` does

[2015-12-09 04:46] Alxandr commented on #3236
@nojaf First of all. The F# master branch is intended to run against the dev branches of DNX (and libraries), which is not hosted on nuget but on myget. You install this using `dnvm upgrade -u` (`-u` for unstable). Second, dnvm version does not really matter (as long as it's new enough to get the newest DNX), however DNX version does matter. To see which DNX versions you have installed do `dnvm li

[2015-12-09 07:46] nojaf commented on #3236
Hi @Alxandr, thanks for the info.
I'll look at my dnx version when I can, if I have follow-up questions I'll reach out on IM.
My goal is indeed to use F# in DNX.

[2015-12-09 07:46] #3236 closed

[2015-12-09 17:44] andschwa commented on #3233
Just FYI @davidfowl we got what we needed with respect to this issue using dotnet-cli. We still have to own the host, but the result of a `dotnet publish` was much easier to work with, especially without DNX's managed shim host.

[2015-12-09 19:41] chemitaxis commented on #3032
I have the same problem using the last version, 1.0.0-rc1-update1

[2015-12-09 19:54] andrejg commented on #3032
type 'dnvm list' into the terminal to check what runtime you are using

[2015-12-09 21:02] chemitaxis commented on #3032
I'm using last version... 1.0.0-rc1-update, Core...

It happens when I am executing MusicStore official example ASP.NET 5...

Any ideas? Thanks!

[2015-12-09 21:06] andrejg commented on #3032
You have to consolidate the versions of your project and the runtime. Also, samples change from version to version. Check here https://github.com/aspnet/Home/tree/dev/samples

[2015-12-09 21:12] chemitaxis commented on #3032
Ok, thanks... I will check... but all dependencies are updated, revised code, frameworks, etc. Any tips? Thanks again!

[2015-12-09 21:16] andrejg commented on #3032
Sorry, my best bet was that you'd be using the wrong runtime. Would you paste the output of dnvm list?

[2015-12-09 22:40] muratg commented on #3210
@dazinator What's the DNX version you're using?  Also, it would be helpful to paste your full directory structure (dir * /s > dir.txt) and project.json files.

cc: @yishaigalatzer

[2015-12-09 22:42] muratg commented on #3208
@flavien Could you create a simple repro app and share with us?  We can make the error output such that it shows you where the problem is.

cc @yishaigalatzer

[2015-12-09 22:50] muratg commented on #3149
@Kagamine How about CoreCLR?  We have multiple issues with Mono, and I suspect this is also a Mono issue.

[2015-12-09 22:52] muratg commented on #3141
dnu and nuget cmd line will be merged, and hence you'll be able to say `nuget restore` to restore for both DNX project.json, .csproj + project.json, and packages.config.

[2015-12-09 22:52] #3141 closed

[2015-12-09 22:53] tuespetre opened #3244 "'dnu publish' does not play nicely with wrapped projects using default output path"
Using `1.0.0-rc1-final`, I'm noticing that if I publish my project without supplying the output path, it uses the `bin/output` folder within the project, and the resulting `project.lock.json` for the project in the publish output folder does not point to the proper folders for the wrapped projects.

The workaround is to specify a different output folder outside of the folder of the project you are

[2015-12-09 22:59] muratg commented on #3094
Let's sit down and talk about possible options here.

[2015-12-09 23:27] tuespetre commented on #3244
Note: I also have to add the version (1.0.0-*) to each of the references in the project.json and NOT lock the project.lock.json file for it to work.

[2015-12-09 23:32] Flavien commented on #3208
I just tried to reproduce the issue from an empty project, but the issue doesn't repro in that situation.

[2015-12-10 06:30] emgarten opened #3245 "DNX_BUILD_KEY_FILE is ignored in RC1"
DNU is no longer using the environment variable DNX_BUILD_KEY_FILE in RC1.

Steps
1. Set the environment variable DNX_BUILD_KEY_FILE to the full path of a signing key
2. Build with DNU

Expected:
The output will be signed

Actual:
[code]

See also: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Compilation.CSharp.Common/CompilerOptionsExtensions.cs#L98-L104

[2015-12-10 07:21] reliak opened #3246 "Is there a repository for Microsoft.Framework.CommandLineUtils.Sources?"
Is there a git repository for Microsoft.Framework.CommandLineUtils.Sources?
Because I'm using the latest version (https://www.nuget.org/packages/Microsoft.Framework.CommandLineUtils.Sources/) and I think I found a bug in the handling of commandline arguments.

[2015-12-10 07:21] moozzyk commented on #3245
/cc @cesarbs

I guess it should be:

` keyFile = Path.GetFullPath(Path.Combine(projectDirectory, keyFile));`

[2015-12-10 07:28] davidfowl commented on #3246
/cc @muratg we should move this out.

[2015-12-10 08:32] chemitaxis commented on #3032
Active Version              Runtime Architecture OperatingSystem Alias
------ -------              ------- ------------ --------------- -----
  *    1.0.0-rc1-final      coreclr x64          darwin          default
       1.0.0-rc1-final      mono                 linux/osx
       1.0.0-rc1-update1    coreclr x64          darwin
       1.0.0-rc1-update1    mono                 linux/osx

Here you h

[2015-12-10 10:16] davidfowl commented on #3242
What services are you looking for? They need to be manually registered using the TestServer overload that specifies the service collection

[2015-12-10 10:17] davidfowl commented on #3237
/cc @Pilchie This look familiar?

[2015-12-10 10:33] andrejg commented on #3032
Well, there is your problem. :) You see that 1.0.0-rc1-final coreclr x64 darwin is indicated as default? Now, when you run "dnx run" or however you run your app, it will use tthat instead of 1.0.0-rc1-update1 coreclr x64 darwin. So you need to set the default dot net version using the "dnvm use" command.
Guessing that
`dnvm use 1.0.0-rc1-update1`
would do it for you. Let me know.

[2015-12-10 10:41] Tasteful commented on #3242
I'm using the ```ActivatorUtilities.CreateInstance<T>(CallContextServiceLocator.ServiceProvider)``` in a entity that is mapped from an EF with AutoMapper. So the service I'm looking for is the ```IServiceProvider``` that is registered in the TestServer.

The testserver is configured with an startup-class that has the ```ConfigureServices(IServiceCollection):IServiceProvider``` method. In the start

[2015-12-10 11:00] davidfowl commented on #3242
There's no more static service provider (also the CallContextServiceLocator only ever had the runtime services which are exposed as individual statics). If you want to get at the concrete service provider constructed then you need to assign `IApplicationBuilder.ApplicationServices` to something and access it that way.

Can you show your code or some pseudo code with all of the moving parts?

[2015-12-10 11:05] Tasteful commented on #3242
I will see if I can refactor away my static usage. I will close this issue for the time and if I need more help I will setup a POC and reopen this issue.

[2015-12-10 11:05] #3242 closed

[2015-12-10 11:13] chemitaxis commented on #3032
Hi, thanks... I have changed it, I add captures... But the same error, changing it for all options... no way...

![captura de pantalla 2015-12-10 a las 12 11 13](https://cloud.githubusercontent.com/assets/1420409/11714025/5e3d8ce2-9f37-11e5-8a29-ef5bf50f1b08.png)
![captura de pantalla 2015-12-10 a las 12 11 24](https://cloud.githubusercontent.com/assets/1420409/11714026/5e3f417c-9f37-11e5-8412-bae

[2015-12-10 11:17] andrejg commented on #3032
But now you have switched to mono instead of coreclr?

[2015-12-10 11:21] chemitaxis commented on #3032
I have switched just for test... Actual environment:

![captura de pantalla 2015-12-10 a las 12 18 52](https://cloud.githubusercontent.com/assets/1420409/11714134/43391956-9f38-11e5-95d2-0fc1132fbaee.png)

Same error:
![captura de pantalla 2015-12-10 a las 12 19 21](https://cloud.githubusercontent.com/assets/1420409/11714136/4ad497f8-9f38-11e5-8132-2d0a688a32c3.png)

project.json file:

{
    "aut

[2015-12-10 16:41] andrejg commented on #3032
Hmm, I have it set like that:
    "EntityFramework.MicrosoftSqlServer": "7.0.0-rc1-*",
    "Microsoft.AspNet.Authentication.Cookies": "1.0.0-rc1-*",
    "Microsoft.AspNet.Authentication.Facebook": "1.0.0-rc1-*",
    "Microsoft.AspNet.Authentication.Google": "1.0.0-rc1-*" ...

You might be getting rc2 versions if you are on the nightlies?
Also, if you don't care, I'd switch to mono version for now,

[2015-12-10 16:44] muratg commented on #3246
@davidfowl To Common repo, or create a new repo for this (cc @Eilon)?

[2015-12-10 17:05] davidfowl commented on #3032
This is by design as these services are being deprecated. See https://github.com/aspnet/Announcements/issues/125. You need to add those services back to the DI container if you're using rc2 bits.

[2015-12-10 17:13] chemitaxis commented on #3032
Hi @davidfowl thanks for your response... how can I add these services again?

[2015-12-10 17:14] davidfowl commented on #3032
You're using RC2 right? Just to confirm.

[2015-12-10 17:16] davidfowl commented on #3032
[code]

These services are going away https://github.com/aspnet/dnx/issues/3227

[2015-12-10 17:19] chemitaxis commented on #3032
Nop, same error...

fail: Microsoft.AspNet.Diagnostics.ExceptionHandlerMiddleware[0]
      An unhandled exception has occurred: Unable to resolve service for type 'Microsoft.Extensions.CompilationAbstractions.ILibraryExporter' while attempting to activate 'Microsoft.AspNet.Mvc.Razor.Compilation.RoslynCompilationService'.

[2015-12-10 17:22] andrejg commented on #3032
So whaht does 'dnu restore' produce?

[2015-12-10 17:29] Eilon commented on #3246
Common seems fine to me for now.

[2015-12-10 17:32] chemitaxis commented on #3032
dnu restore works fine... all OK, cache and OK... all green... this is crazy :(

[2015-12-10 17:33] chemitaxis commented on #3032
With dnvm list:
  *    1.0.0-rc1-update1    mono                 linux/osx       default

[2015-12-10 17:33] andrejg commented on #3032
Yeah, but could you paste the output, of dnu restore, so I can have a look at the versions?

[2015-12-10 17:33] davidfowl commented on #3032
If you're expecting a specific version and you use `1.0.0-*` you're going to have a bad time.

[2015-12-10 17:35] andrejg commented on #3032
:) Indeed...

[2015-12-10 17:35] chemitaxis commented on #3032
Hi @davidfowl I will change manually it... to use rc1

Hi @andrejg, here you have DNU restore ouput:

[code]

[2015-12-10 17:36] davidfowl commented on #3032
@chemitaxis The lock file would be better to look at.

[2015-12-10 17:38] chemitaxis commented on #3032
dnu build output:
´´´
Microsoft .NET Development Utility Mono-x64-1.0.0-rc1-16231

Building MusicStore for DNX,Version=v4.5.1
  Using Project dependency MusicStore 1.0.0
    Source: /Users/chemitaxis/Downloads/MusicStore-dev/src/MusicStore/project.json

  Using Package dependency EntityFramework.Core 7.0.0-rc2-16514
    Source: /Users/chemitaxis/.dnx/packages/EntityFramework.Core/7.0.0-rc2-16514

[2015-12-10 17:38] andrejg commented on #3032
Yep, that's it. You're on rc2.

[2015-12-10 17:44] chemitaxis commented on #3032
Yes! Thanks! Changed to that solved my problem...

[code]

[2015-12-10 17:45] chemitaxis commented on #3032
Thanks to @all for your time... I love ASP.NET 5... ;)

[2015-12-10 17:50] andrejg commented on #3032
Oh, good, this was really starting to bug me ;)

[2015-12-10 21:57] victorhurdugaci commented on #3246
Do we plan to replace this with `System.CommandLine`?

[2015-12-10 22:05] Eilon commented on #3246
@victorhurdugaci can you compare & contrast those and we can discuss?

[2015-12-10 22:05] Eilon commented on #3246
(Not necessarily in this bug, but we can discuss offline.)

[2015-12-11 01:10] Pilchie commented on #3237
Plus @rchande and @ericstj

@tenor how are you building the nuget package/nuspec file.

We changed the registration of ASP.Net Core 5.0, because the old registration was breaking installation of packages into PCLs, but I wouldn't have expected any changes to package generation.

@yishaigalatzer: does `nuget pack` of a .csproj generate a portable folder based on what the profile is registered as ta

[2015-12-11 01:11] csunali commented on #3227
I am not sure if it is related to these bits you are discussing here but I am curious as to how may I access referenced assemblies of an Assembly object in Core CLR.

Full CLR provides the `assembly.GetReferencedAssemblies` method but I have no luck finding one for Core CLR.

Any help would be highly appreciated.

Cheers

[2015-12-11 01:12] csunali commented on #3227
And unfortunately using `ILibraryManager` is not an option since the assembly is loaded manually using `IAssemblyLoadContextAccessor.Default.LoadFile`.

[2015-12-11 04:52] tenor commented on #3237
@Pilchie I dug around some more and found what's causing the problem:

JSON.Net targets profile259. My project targets Profile75.

The \v4.5\Profile\ folder listings for those targets are:
[code]

If I rename `ASP.NET Core 5.0.frameworkxml` to just have a `.xml` extension and run `nuget pack`, Nuget builds a nuget package with a `lib\portable-net45+dnxcore50+win+wpa81+wp80` folder for JSON.Net (Pr

[2015-12-11 05:38] davidfowl commented on #3237
2. You should never build s portable package with a dotnet or net standard moniker m. That's defeats the purpose of it.

[2015-12-11 13:48] tenor commented on #3237
@davidfowl I'm confused, how about [Announcement/98](https://github.com/aspnet/Announcements/issues/98)?
Aren't we supposed to target **dotnet5.4** in project.json for DNX class libraries?

[2015-12-11 14:08] GeroL opened #3248 "Question: Why CompilationServices.Default.LibraryExporter is null?"
Hi,

there is no LibraryExporter defined in WebApplication. DefaultHost does register them.
I try to use the code form DefaultHost but I always run into EntryPointNotFoundException when I use LibraryExporter.GetExports() or even MethodNotFoundException

Maybe it has something to do with: #2984

Background:
I need to pass MetadataReferences from Packages to OrleansClient from Asp.Net WebApplication

[2015-12-11 15:02] ericstj commented on #3237
If you're looking for net45 + dnxcore50 that'd be dotnet5.2 (5.4 is for net46 and later).  You can create a nuspec that constructs the portable- moniker including dnxcore50, but that portable- syntax isn't something that's recommended going forward since it's a closed/fixed set of frameworks (as opposed to dotnet* which is open).

I think your concern here is that nuget.exe pack no longer does the

[2015-12-11 17:16] mattfraley1 commented on #3003
I have run into the same problem with dnx46. However with dnx46, I received almost no information from the compiler, so tracking down the cause was a pain. This is easily reproducible:
1. Create an empty asp.net 5 app
2. Change dnx451 to dnx46 (Note I also removed core)
3. Create folder Compiler\PreProcess
4. Create file RazorPreCompilation.cs

After this, you would typically create a class that i

[2015-12-11 17:17] davidfowl commented on #3003
Yep, you need to keep both frameworks around.

[2015-12-11 17:17] tenor commented on #3237
@ericstj I don't think I'm describing the bigger picture properly.
The project I'm working on is [RestBus](https://github.com/tenor/RestBus) and it consists of a bunch of class libraries, as illustrated below:

[code]

RestBus.Others are other regular (non-portable) .NET 4.5 class libraries in the project that depend on RestBus.Common.
RestBus.AspNet is a DNX class library that depends on RestBus.

[2015-12-11 17:41] davidfowl commented on #3237
RestBus.Common needs to target a dotnet platform standard (like Eric was saying dotnet5.2) in order to be consumed by a library that specifies another platform standard (dotnet5.4 in this example)

[2015-12-11 17:42] mattfraley1 commented on #3003
Holy fast response batman! Thanks, adding dnx451 back in fixed it. Is this temporary? Will dnx46 support the precompilation module at some point, or do we just need to leave dnx451 in there?

[2015-12-11 19:29] tenor commented on #3237
@davidfowl That worked! :smile: I added a project.json file that targets dotnet5.2 in RestBus.Common and RestBus.AspNet didn't complain anymore.

Thanks to everyone that looked into the issue.

Should I close this issue? Is the +dnxcore50 folder issue something that needs to be reported? or is it a good thing, since it will lead anyone in the same boat to this thread so they can fix their project

[2015-12-11 19:32] sklose opened #3249 "DNU build error / dependency resolution"
I am seeing some weird behavior when I run 'dnu build' manually from the command line (all rc1-update1 with official Nuget feed).

[code]

I noticed in my code I always reference the latest stable version of System.Xyz for the dnxcore50 build target (which in this case is 4.0.10 for System.Reflection). The Autofac package references the latest beta version of each System.Xyz package though (in thi

[2015-12-11 20:06] pgrudzien12 commented on #3003
I think that plans are to move precompilation from dnu to roslyn. @davidfowl am I right that precompilation modules will not be avaliable for RTM?

@mattfraley1 above exception is not available normally - you have to compile your own debug version of dnx.

[2015-12-11 21:41] muratg commented on #3245
Are we doing this as part of DNU -> nuget merger?

[2015-12-11 22:44] twsouthwick opened #3251 "DNU wrap uses version 1.0.0-* for all assemblies when csproj is already using a project.json"
I have  a project that I'm upgrading from WebApi 2.2 to ASP.NET 5. There are a few csproj projects that should migrate with no problem - nothing ASP.NET specific in them. I have been using project.json in those projects already instead of packages.config. When I tried to reference the project from the ASP.NET 5 project in VS, it created some "wrapped" project files and amended the already existing

[2015-12-12 13:19] Kagamine commented on #3149
I don't know why I cannot use dnu with coreclr.

[2015-12-12 23:07] davidfowl commented on #3248
I need more context. What are you doing exactly? CodeGen? Runtime compilation?

[2015-12-12 23:25] davidfowl commented on #3227
@csunali you mean loaded assemblies right? https://github.com/dotnet/corefx/issues/1784

[2015-12-12 23:26] davidfowl commented on #3233
Great! Will close this.

PS: I'd be interested to see what you're doing (if that is ever possible)

[2015-12-12 23:26] #3233 closed

[2015-12-12 23:29] csunali commented on #3227
@davidfowl, yes. The issue you shared seems to be the right place to subscribe for notifications :)

Thank you!

[2015-12-13 01:53] shaneholder commented on #1952
I just ran into this also.  It might be nice if dnu printed that option on this error.  I have a work repository configured in my Nuget.config file and was just starting to work with dnx and ran into this issue on a hello world project which would never have pulled any assemblies from that repo.

[2015-12-13 02:06] csunali commented on #3032
@davidfowl, I previously asked you if it was a good idea to use `PlatformServices.Default` static for ASP.NET apps and you said "no" in your comment at https://github.com/aspnet/dnx/issues/2990#issuecomment-152046852

Now we all end up being have to use `PlatformServices.Default` if we need to access `ILibraryManager` and `IAssemblyLoadContextAccessor`.

Do I get it wrong that we have to use `Plat

[2015-12-13 02:09] csunali commented on #3032
Sorry for posting my previous comment here by mistake. Just re-posting it at https://github.com/aspnet/Hosting/issues/514

[2015-12-13 05:46] andschwa commented on #3233
I've talked a bit to @anurse of `dotnet-cli`, and if/when I get the time, I'd like to port the work I've done internally over to their native host, and just consume it from there. Will keep you updated.

[2015-12-13 14:49] GeroL commented on #3248
Orleans generates and compiles code at runtime. For detecting references to this code it uses AppDomain.Current.GetAssemblies() and filters out every Assembly without Location because Roslyn loads the Metadata from physical or in-memory files only.

Unfortunatlely I need these dnx assemblies without location as references.
So I get the metadata using the ILibraryExporter. Call EmitReferenceAssembl

[2015-12-13 16:52] davidfowl commented on #3248
Are you using RC1? OR Post RC1 bits? For RC1 you should be able to use the ILibraryExporter as Razor is doing today. See https://github.com/aspnet/Mvc/blob/6.0.0-rc1/src/Microsoft.AspNet.Mvc.Razor/Compilation/RoslynCompilationService.cs.

Post RC1 we're going to be moving away from this interface, see:

- https://github.com/aspnet/Mvc/issues/3633
- https://github.com/dotnet/cli/issues/392
- https:

[2015-12-13 22:00] GeroL commented on #3248
I use nightly builds for the web part. The console app uses RC1
After reading the links you provided it seems to me that there is a huge construction site. Did not expect that from a RC2.
I can't just switch back to RC1 because there are other issues then. I will have to create some sort of proxy.

Thanks for your help and the infos!

[2015-12-14 10:35] tim-cools opened #3254 "The current runtime target framework is not compatible (mono docker image)"
Hi, I try to deploy a dnx46 application to a docker container (microsoft/aspnet:1.0.0-rc1-update1). But when I run the dnx I always get the 'The current runtime target framework is not compatible' error. Even when I specify the framework explicity.

[code]

And I do target dnx46 in project.json

[code]

How can I set the correct current runtime target framework? Or can this have another cause?
FYI

[2015-12-14 10:38] davidfowl commented on #3254
Mono doesn't support .NET 4.6.

[2015-12-14 10:39] tim-cools commented on #3254
Ok, thanks for the feedback

[2015-12-14 10:41] tim-cools commented on #3254
Will dnx451 work?

[2015-12-14 10:45] #3254 closed

[2015-12-14 11:22] endink opened #3255 "about RC2 assembly"
when i upgrade my project to 1.0.0-rc2-16294, threre is a complie error:

Assembly 'Microsoft.AspNet.Authentication.OAuth' with identity 'Microsoft.AspNet.Authentication.OAuth, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' uses 'System.Security.Principal, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' which has a higher version than referenced assembly 'Sys

[2015-12-14 12:48] muratg commented on #3149
@Kagamine What's the Mono version you're using?

Also, what's your issues with using DNU with CoreCLR?  It should work in general, so if there's an exception or a problem, we'd like to know :)

[2015-12-14 12:50] muratg commented on #1952
@shaneholder Would you rather not fix your nuget.config?  Or did you mean just displaying the error, and also giving a helpful suggestion of using this option?

[2015-12-14 13:14] muratg commented on #3235
This issue was moved to dotnet/corefx#4970

[2015-12-14 13:14] #3235 closed

[2015-12-14 13:15] muratg commented on #1897
This issue was moved to dotnet/corefx#4971

[2015-12-14 13:15] #1897 closed

[2015-12-14 13:18] muratg commented on #1134
This issue was moved to dotnet/roslyn#7466

[2015-12-14 13:18] #1134 closed

[2015-12-14 13:19] muratg commented on #1072
This issue was moved to dotnet/roslyn#7467

[2015-12-14 13:19] #1072 closed

[2015-12-14 13:21] Kagamine commented on #3149
In coreclr, I have excuted `dnu restore`, but it cannot restore anything, and it outputed nothing. It just exited when I typed `dnu restore` & enter.

[2015-12-14 14:00] muratg commented on #3149
Can you put your dnvm list output? What's the DNX version you tried?

Also, can you try `dnu -v restore` (for verbose) for the same project to see what the output is?

[2015-12-14 14:02] AlexChesser opened #3256 "RC1 does not build from VisualStudioOnline Continuous Integration into an Azure Web App"
Apologies if this is the wrong place, with so may inter-related systems it's difficult to figure out exactly where this goes.

I took a stock RC1 template as created by VisualStudio's new project command.
I set a VSO git code repository
I created an Azure web app and set continuous deployment
On code checkin - the resulting error is as follows:

[code]

Note that I can use a "publish" profile in v

[2015-12-14 14:43] endink commented on #3255
fixed with this:
https://github.com/aspnet/Security/issues/615

[2015-12-14 14:43] #3255 closed

[2015-12-14 14:49] Gentlehag commented on #2367
Tried it again. Create a new project, change project.json to 461 , doesnt start

so any news on this?

[2015-12-14 15:56] shaneholder commented on #1952
The nuget.config I was looking at is scoped to my user, not the project (I set  it in VS2015) %AppData%\Roaming\Nuget.config.  So, IMHO there is nothing to "fix" but I meant to display the error and give a helpful suggestion.

[2015-12-14 16:16] muratg commented on #1952
Reactivating based on @shaneholder's suggestion to give a helpful suggestion when there's a problem with one of the package sources in nuget.config, and adding it to the list of bugs that can be potentially moved to nuget.

cc @yishaigalatzer @emgarten

[2015-12-14 20:46] cesarbs commented on #3245
I need a decision on whether to merge or close https://github.com/aspnet/dnx/pull/3247

[2015-12-14 23:46] muratg commented on #3245
Feel free to merge it (or ping @emgarten first), but I think it's possibly throwaway work if it's not going to be useful in the merger.

[2015-12-15 00:06] Tratcher opened #3259 "Dnu publish drops httpPlatform/environmentVariables from web.config"
Dnu publish automatically re-writes the web.config to resolve %DNX_PATH%, etc.. However in the process it will drop the environmentVariables node if there was one.
Input:
[code]
Output:
[code]
(It also strips the ?xml header.)

[2015-12-15 00:08] shirhatti commented on #3259
Isn't that just a dupe of https://github.com/aspnet/dnx/issues/3062 ?

[2015-12-15 00:09] Tratcher commented on #3259
Ah, yes.

[2015-12-15 00:09] #3259 closed

[2015-12-15 00:20] emgarten commented on #3245
This isn't part of DNU it changes how the key is applied during compilation. I would expect this to be needed for CLI also.

The scenario here is: NuGet has a private key that is used by the CI. It's not public so we can't check it into source control. The current alternative to this env var is to set the path in the project.json file, however the path is only needed on the CI. There's no way to d

[2015-12-15 01:17] artemgrygor commented on #3001
Any updates here? Still have the same issue.

[2015-12-15 01:30] GuardRex commented on #3001
@artemgrygor You're not on the Free tier, correct?

[2015-12-15 01:33] artemgrygor commented on #3001
@GuardRex I was on Shared tier. On Basic it's fine, so I'm going with Basic one. Thanks

[2015-12-15 01:36] GuardRex commented on #3001
That's cool ... then it's not simply a footprint size (i.e., https://github.com/aspnet/dnx/issues/3192).

I have the mostly known Azure issues with Azure Apps in my comment. It's mostly updated, but I'll update all of the issue links within a week or two. https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-12-15 08:09] yuezhongxin opened #3260 "Application startup exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation."
Exception message:

[code]

global.json:

[code]

project.json:

[code]

After the release of the file errors.

![](http://images2015.cnblogs.com/blog/435188/201512/435188-20151215160725381-635897067.png)