[2015-07-10 16:39] anurse commented on #2243
Great info, thanks! I think I have an idea what the underlying problem is, I'll try some things on my end and see what I find out.

[2015-07-10 16:41] Eilon commented on #2241
Hmm yeah that might be it... I changed the setting back on the `aspnetvnext` feed and am working on re-uploading the packages.

Does MyGet do package retention based on what SemVer defines as "oldest" as opposed to the packages that were the oldest ones uploaded in terms of time? That might affect this. (Not saying MyGet is wrong, but it might not be exactly what we want.)

[2015-07-10 16:42] davidfowl commented on #2242
Please open issues like these on aspnet/Home.

[2015-07-10 16:42] #2242 closed

[2015-07-10 16:50] kirthik commented on #2086
Yes instructions don't talk about including `run` or `.` options so its confusing when you type the command according to instructions and you get back the help content. As @anurse mentioned, instructions and error message should be improved.

[2015-07-10 16:54] muratg commented on #402
@moozzyk

[2015-07-10 17:16] maartenba commented on #2241
SemVer indeed

[2015-07-10 17:36] muratg commented on #2243
@anurse we can move it out if the fix turns out to be not straightforward

[2015-07-10 17:38] anurse commented on #2243
Ok, the issue is `System.IO.Compression.ZipFile`. It is not compatible with `dnx451`. If it worked previously, this was a bug at that time. I would expect it depends upon new functionality in the .NET 4.6 framework, but someone from the CLR team (cc'd below) can confirm that.

You could try switching to the latest `beta6` builds and change your app to target `dnx46` which would mean you are target

[2015-07-10 17:38] #2243 closed

[2015-07-10 17:40] anurse commented on #2243
I confirmed that upgrading to `beta6-12207` or higher (which is on the `aspnetvnext` feed) and changing to `dnx46` no longer reproduces the error in my test. I don't have your full code so if that doesn't work for you, let me know what you are seeing.

[2015-07-10 17:45] #2177 closed

[2015-07-10 17:46] ChengTian commented on #2231
I am adding a functional test for `dnu restore` in this PR: https://github.com/aspnet/dnx/pull/2232/files#diff-edbeb3b05a45a6c482241e1d17d0c4d1R153

In new functional test infrastructure, we should add some utils for creating some fake packages and put them to a local feed.

[2015-07-10 18:01] muratg commented on #2239
DNX bits are installed under user profiles. Does the service account have a user profile?

Are you able to create a proper user on the machine and run agent under that user?

[2015-07-10 18:10] ericstj commented on #2243
Net46 is where all the new contracts light up, on net451 you can use a framework assembly ref to System.IO.Compression.Filesystem.

[2015-07-10 18:23] CuddleBunny commented on #2243
Interesting. I've been using ZipFile in 451 since like April, it only just broke this week I think. I tried changing targets to 452 and 46 earlier this week because I saw them in some of the commit notes and it seems to build error free. I could not however, figure out how to get a dnx46 compatible version of the runtime, running the app gives me the following runtime error:

	Server Error in '/'

[2015-07-10 18:30] Eilon commented on #2241
Ok the old packages should be uploaded again.

I think the issue was that these packages have a mix of `4.0.0-*`, `4.0.10.*`, and `4.0.20-*`, and we kind of want the most recent of each of these.

[2015-07-10 18:47] anurse commented on #2243
There was an issue in `Microsoft.AspNet.Server.IIS` that was exposed by recent DNX changes. That's been fixed in `1.0.0-beta6-12044` of `Microsoft.AspNet.Server.IIS`. Versions later than that have already been published to `aspnetvnext` so can you try re-restoring and see if you get a new enough version? You can find the exact version you got by running `dnu list` after the restore.

[2015-07-10 18:48] anurse commented on #2243
As @ericstj said you can also go back to `dnx451` by changing the `System.IO.Compression.ZipFile` reference to a framework assembly (you still need to get the updated IIS Server package as I mentioned above)

[2015-07-10 18:54] #2180 closed

[2015-07-10 19:48] CuddleBunny commented on #2243
Alright, I would definitely prefer to be on 4.6. My project currently has `Microsoft.AspNet.Server.IIS (1.0.0-beta6-12057)` so I don't think that is the problem. I don't see any target framework settings in the project properties or if I open the xproj in a text editor.

When I went back to 4.5.1, I also had to remove `System.Xml.XmlDocument` in addition to `System.IO.Compression.ZipFile` to get i

[2015-07-10 20:19] jochenvanwylick commented on #2239
Hi - sure I can do that. I think the service account which the agent defaulted to - doesn't. But in a CI server scenario, is that desirable?

[2015-07-10 20:56] pranavkm commented on #2239
@jochenvanwylick, you could consider setting the`DNX_HOME` environment variable to change where dnx is installed.

[2015-07-10 21:14] yishaigalatzer opened #2245 "Package restore in VS 2015 does not work against a server with Windows Authentication"
Customer has setup a private nuget server using windows authentication. And reported that restore does not work for him.

@feiling investigated and we figured out NuGet deal with it properly, but DNU doesn't yet support it.

[2015-07-10 21:52] anurse opened #2246 "Support publishing any 'dnx' framework with a CLR runtime"
Right now, if you `dnu publish --runtime [some CLR variant]` and your project has `dnx452` and `dnx46` as the only target framework, you will get this error:

[code]

We should change this code so that publish will accept `dnx452` and `dnx46` as well. I almost have a fix ready for this. It is blocking some Helios work.

[2015-07-10 21:53] davidfowl commented on #2246
/cc @muratg

[2015-07-10 22:19] #1243 closed

[2015-07-10 23:07] vijayrkn commented on #1502
We have made the change in VS to delete the temp folder every time before publish. This should take care of this issue.

[2015-07-10 23:08] #1502 closed

[2015-07-10 23:21] pranavkm opened #2249 "project.json should support a way to specify that a dependency must be resolved as a project \ source."
I ran into this issue as part of the version pinning. `Microsoft.AspNet.Http.Core` had been renamed, but the rename was not captured in a test project (https://github.com/aspnet/HttpAbstractions/blob/release/test/Microsoft.AspNet.WebUtilities.Tests/project.json#L5). This should have caused the test to fail compilation. However since earlier builds of this package are available on nuget.org, the pa

[2015-07-10 23:23] davidfowl commented on #2249
Dupe of https://github.com/aspnet/dnx/issues/438

[2015-07-10 23:23] #2249 closed

[2015-07-10 23:24] muratg commented on #2239
Yup, that should work too.  Closing for now, @jochenvanwylick please reactivate if you still see issues.

[2015-07-10 23:24] #2239 closed

[2015-07-10 23:25] muratg commented on #2246
:+1:

[2015-07-10 23:36] abpiskunov opened #2250 "when global.json has erro we receive global errors event, when error fixed - don't"
Repro is add a typo in global.json and see errors in the list and References say Errors - see Error List). Undo your chnages and save - nothing happens.

I debugged it and we do send same outgoing events to DTH when global.json is modified, but don't receive anything back.

[2015-07-10 23:40] davidfowl commented on #2250
https://github.com/aspnet/dnx/issues/2060

[2015-07-10 23:40] #2250 closed

[2015-07-11 19:40] anfomin commented on #2241
Now I'm getting restore error for each project:
[code]

However there are 3 versions installed after the restore:
[code]
And I can build & run my projects.

[2015-07-12 00:01] causer commented on #1913
+1

[2015-07-12 07:52] troydai commented on #2241
The problem is that _System.Resources.ResourceManager/4.0.0-beta-23110_ dependes on _System.Reflection/4.0.0_ which looks for _System.Reflection.Primitive/4.0.0_ and it's missing.

We need to retired 23110 series of CoreCLR packages from vNext feed.

[2015-07-13 07:41] anfomin commented on #2241
@Eilon any news when **System.Reflection.Primitive/4.0.0** will be restored?

[2015-07-13 07:46] xanather commented on #402
Right now using native libraries on the DNX (which is packaged based) is a pain without this.

[2015-07-13 07:53] davidfowl commented on #402
@xanather CoreCLR right? What happens if you drop the native binary in the application root? (just curious)

[2015-07-13 08:01] xanather commented on #402
@davidfowl Yes I am using CoreCLR. When debugging it works fine in the app root, however last time I tried when the app was published (by using DNU) I needed to put the native library in the runtime folder.

[2015-07-13 08:02] davidfowl commented on #402
@xanather Nope, there's always an application root, when you publish it's just somewhere different. Doesn't it copy all files from your application root anyways?

[2015-07-13 08:17] xanather commented on #402
Yes it copies everything, but DNX is unable to load native libraries unless I move them to the runtime folder of the published app

[2015-07-13 08:28] xanather commented on #402
Pretty sure it just has something to do with windows probing the current directory. Debug would have the correct current directory while running it from the published .cmd won't.

[2015-07-13 08:30] davidfowl commented on #402
At the very least we should probably set this https://github.com/aspnet/dnx/blob/dev/src/dnx.coreclr/dnx.coreclr.cpp#L236 to the appbase.

[2015-07-13 08:32] xanather commented on #402
Just tested, I can confirm it is because of the current directory.

[2015-07-13 16:09] troydai commented on #2241
Hi @anfomin, sorry for the trouble. I'm working on this right now. Hopefully we can solve this today.

[2015-07-13 17:12] muratg commented on #2224
@ChengTian load balancing this to you.

[2015-07-13 17:12] muratg commented on #2222
@ChengTian Load balancing this one to you as well :)

[2015-07-13 17:22] muratg commented on #1704
Load balancing to @BrennanConroy

[2015-07-13 17:25] muratg commented on #1263
@davidfowl Move further?

[2015-07-13 17:39] DamianEdwards commented on #1263
Put in beta 7

[2015-07-13 17:44] muratg commented on #2245
@davidfowl

[2015-07-13 17:53] muratg commented on #2230
Dup: #1590.

Closing this one.

[2015-07-13 17:53] #2230 closed

[2015-07-13 18:07] ChengTian opened #2253 "VS gives incorrect line information when indirect dependencies are incompatible"
When some incompatible dependencies come in transitively, we show `line 1 column 1 in project.json` as the location of error. That is the default value we use when an error cannot be located in `project.json`.

Information is good but maybe we should fix the line number to show from which direct dependency it came from. For example, in the app below, the dependency Mvc 3 introduces some incompatib

[2015-07-13 18:52] victorhurdugaci opened #2254 "Dnu install fails"
Run this on a project:

`dnu install Microsoft.AspNet.Hosting 1.0.0-beta5 --source "https://www.myget.org/F/aspnetvnext/api/v2" --source "https://nuget.org/api/v2/" --no-cache`

Result:

[code]

[2015-07-13 19:14] anurse commented on #2225
@davidfowl Remind me why we want `OpenRead` on ISourceReference? It seems to be useless since we already need to try-cast in all the cases we use it to get the Path for file watching.

[2015-07-13 19:15] victorhurdugaci commented on #2149
I did some investigations and it turns out that the issue is by design. Here's what happens:

Your package references "1.0.0-beta5-11672" (https://github.com/tugberkugurlu/k-http/blob/0.1.0-beta-003/src/k-http/project.json#L9). That package doesn't exist on any of the two feeds that you are passing as sources. So, our code looks for the closest package to that one.

Since `1.0.0-beta5 < 1.0.0-beta

[2015-07-13 19:15] #2149 closed

[2015-07-13 19:18] tugberkugurlu commented on #2149
I am curious: if the versions were locked (I am not sure if this is possible with the project.lock.json file but let's say it is), would I see the same behavior or would it fail during install?

[2015-07-13 19:19] victorhurdugaci commented on #2149
It would fail because the package doesn't exist

[2015-07-13 19:23] tugberkugurlu commented on #2149
Awesome, that's way better than failing on runtime IMO.

Do you guys consider eventually adding the feature to pack the commands with lock file? I am not sure if there are going to be any side effects but seems like the safest bet.

[2015-07-13 19:33] victorhurdugaci commented on #2149
We have a few things on our backlog:

1. Pack with runtime or allow the command to be pinned to a particular runtime
2. Pack with particular dependencies (that includes your suggestion)

[2015-07-13 19:34] tugberkugurlu commented on #2149
:+1: awesome, thanks for the update! I know the 1st one but do you have an issue number for the 2nd one that I can track?

[2015-07-13 20:45] giggio commented on #2192
@davidfowl @troydai Any workarounds at this point to work with these packages and `beta5`?

[2015-07-13 21:20] ChengTian commented on #2231
Some utils and a `dnu restore` functional test was added to new functional test infrastructure prototype: https://github.com/davidfowl/DnxTestingPrototype/commit/71e1dc99de1ba223b3432d4abd9ab6b5a17ae8a6

[2015-07-13 21:20] troydai commented on #2241
@anfomin please clean your packages cache and try https://www.myget.org/F/aspnetvnext/api/v2 feed again. We unlisted the wrong packages. If you're sure about what's the local cache to clear up, you use this script https://github.com/troydai/k.toolkit/blob/master/clean-packages.py.

[2015-07-13 22:18] muratg commented on #2155
We won't be doing this for now.

[2015-07-13 22:18] #2155 closed

[2015-07-13 22:51] victorhurdugaci commented on #1122
Design meeting result: ETW is complicated and it doesn't work cross platform. The solution is to have en environment variable that one can set. If that variable is set, `dnx` will not start if servicing is not possible.

[2015-07-13 22:54] muratg commented on #438
Current decision from the design meeting:

[code]

[2015-07-13 23:23] blowdart commented on #1122
Then, obviously, as you expected, on OSes where we support servicing startup should stop by default.

Then environment variable should be an indication the machine administrator is opting out of caring about updates.

[2015-07-13 23:45] ChengTian commented on #2231
We can add more functional tests for `dnu restore` when new test infrastructures are in use later. However, that will happen after beta 6.

Talked to @troydai , we can still add `dnu restore` tests with old test infrastructures. So this is not a blocking issue, moving to beta 7.

[2015-07-14 03:20] yangyang80 opened #2255 "build failed when embedding the js files which locate outside of the current project folder."
When I create a VNext classlibrary project based on the released beta5 via vs2015rc, if I embed some special js files which locate outside of the current project folder, the build would fail.  It is fine in beta4.
Steps to reproduce:
1.create a classlibrary project.
2. create a folder "resources" which locates in the same folder where the folder of the classlibrary solution locates.
In "resources"

[2015-07-14 05:50] davidfowl commented on #2197
@muratg I think we need to do this for beta6

[2015-07-14 06:59] davidfowl commented on #2255
/cc @victorhurdugaci

[2015-07-14 11:47] anfomin commented on #2241
Thank you! Restore works without error now.

[2015-07-14 12:12] mbharodia opened #2256 "dnx command fails while regenerating migration template while mirgration from beta 4 to beta 5"
As per announcement https://github.com/aspnet/Announcements/issues/35#issuecomment-120981504 I have tried regenerating the migration but it fails. The following was an error message generated.

![image](https://cloud.githubusercontent.com/assets/10344641/8649479/f79c17e0-2927-11e5-8828-0a804ab13f70.png)
Any idea to fix it ?

I am running this command at a location where project.json file exists as

[2015-07-14 12:12] lukemurray opened #2257 "Issue running dnz after installing Mac OS X 10.11 public beta"
Have run dnvm upgrade, it tells me I have this version dnx-mono.1.0.0-beta5.

If I try "dnx . test" (or the web command) I get the following:
[code]

I couldn't find a new issue for this, and google didn't bring up much. Have I missed something, or is this known at least?

[2015-07-14 15:08] davidfowl commented on #2257
Looks like a mono bug. I'd suggest reporting it on their issue tracker

[2015-07-14 15:20] smbecker commented on #2257
dup of #2217

[2015-07-14 15:56] #2257 closed

[2015-07-14 15:57] muratg commented on #2197
@victorhurdugaci has found a potential issue that we'll need to discuss. Tentatively putting in beta 6.

[2015-07-14 16:27] muratg commented on #1527
I couldn't reproduce with dnu publish --no-source with the current bits either. I'll be testing with the final bits and close. Assigning to myself.

[2015-07-14 16:47] troydai commented on #2241
Cheers.

[2015-07-14 16:47] #2241 closed

[2015-07-14 17:14] muratg commented on #2256
Can you paste your project.json?

[2015-07-14 17:24] muratg commented on #2254
@ChengTian any ideas?

[2015-07-14 17:39] anurse commented on #2225
![image](https://cloud.githubusercontent.com/assets/7574/8680190/8009ca90-2a14-11e5-8e50-8f487252daa0.png)

?

:trollface: (I'm going to use `CompilationTarget` for now)

[2015-07-14 17:52] ChengTian commented on #2254
Looks like a regression. Investigating.

[2015-07-14 18:36] victorhurdugaci commented on #2255
it's a known limitation. Resources outside of the project folder are named using the file name. If two files have the same name, you'll get a naming conflict.

Use named resources to solve the conflict
https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Commands/project.json#L12

[2015-07-14 18:54] anurse commented on #2224
Looks like I'll take this on in #2225 anyway. Merging with that.

[2015-07-14 18:54] #2224 closed

[2015-07-14 18:55] anurse commented on #2222
I'll roll these in to #2225, and just get it done in one big batch of renames.

[2015-07-14 18:55] #2222 closed

[2015-07-14 19:08] ChengTian commented on #2254
This regression makes `dnu install` unusable, should be fixed ASAP.

[2015-07-14 19:10] muratg commented on #2254
Agreed

[2015-07-14 20:29] adamreeve commented on #1590
I'm still seeing this issue with Mono 4.0.1 and the latest beta6 (1.0.0-beta6-12226). It definitely looks like it's still trying to download packages in parallel.

[2015-07-14 22:13] troydai opened #2260 "Find the right API to detect if the file system is case sensitive then take different approach."
Stage two of #1645

[2015-07-14 22:13] troydai commented on #2260
/cc @muratg please triage.

[2015-07-14 23:05] #2254 closed

[2015-07-14 23:34] anurse commented on #1847
Ok, so is this the new desired behavior? If so, DNU needs to be updated to get in sync with it.

[2015-07-15 00:06] #2246 closed

[2015-07-15 01:11] yangyang80 commented on #2255
@victorhurdugaci  thanks for your reply. When I open the link you provided, it reported the page is not found. Please confirmed whether the link is correct.

[2015-07-15 02:54] victorhurdugaci commented on #2255
@yangyang80 here's an updated link. The other one didn't work because the EF packages got renamed: https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework7.Commands/project.json#L13-L14

[2015-07-15 08:19] davidfowl commented on #1101
We decided not do do this

/cc @muratg @moozzyk

[2015-07-15 08:19] #1101 closed

[2015-07-15 10:56] #1974 closed

[2015-07-15 11:15] mbharodia commented on #2256
Here it is. Thanks a lot for looking into this.
{
  "webroot": "wwwroot",
  "userSecretsId": "aspnet5-CCClientWeb-8bbc0c70-ab78-4053-a5bf-492342d52f2a",
  "version": "1.0.0-*",

  "dependencies": {
    "EntityFramework.SqlServer": "7.0.0-beta5",
    "EntityFramework.Commands": "7.0.0-beta5",
    "Microsoft.AspNet.Mvc": "6.0.0-beta5",
    "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-beta5",
    "Micro

[2015-07-15 11:39] Ph47 opened #2264 "Dependancy version conflicts solving"
Good day!

In my project i have two dependencies what have another dependencies both to same package but different version.

For example EntityFramework and Lucene.Net.Linq:
EntityFramework (7.0.0-beta5-13549)
EntityFramework.Commands (7.0.0-beta5-13549)
EntityFramework.Relational.Design (7.0.0-beta5-13549)
EntityFramework.Relational (7.0.0-beta5-13549)
EntityFramework.Core (7.0.0-beta5-13549)
Rem

[2015-07-15 16:01] BrennanConroy commented on #1601
677d6c3c45a92171cf92a68ee6eefd55d4fe91a3

[2015-07-15 16:01] #1601 closed

[2015-07-15 16:10] troydai commented on #1645
Keep the remaining task being tracked in #2260.

This one is fixed.

[2015-07-15 16:10] #1645 closed

[2015-07-15 16:28] davidfowl commented on #2264
Is there an actual conflict? What are you trying to resolve?

[2015-07-15 16:45] muratg commented on #2256
Looks fine to me, not sure why it may be throwing.  @troydai any ideas?

[2015-07-15 17:44] BrennanConroy opened #2265 "First Chance Exception on Windows when finding which OS user is on"
Throwing line: https://github.com/aspnet/dnx/blob/dev/src/dnx.host/NativeMethods.cs#L16

@muratg @davidfowl

[2015-07-15 17:46] davidfowl commented on #2265
This is the cause https://github.com/aspnet/dnx/blob/dev/src/dnx.host/RuntimeEnvironment.cs#L28

[2015-07-15 18:01] troydai commented on #1722
Adding additional category information representing the framework is deemed difficult. The conversion from roslyn `Diagnostic` to an error message is a black box implemented in `CSharpDiagnosticFormatter`.

I'm researching if I can replicate the `Diagnostic` and put additional information into it so that when it is converted to error message, __framwork__ information is in it.

[2015-07-15 18:11] moozzyk commented on #1403
@davidfowl @shanselman @DamianEdwards @anurse @muratg - in my PR I kept the [ability to specify a folder (including `.`)](https://github.com/aspnet/dnx/pull/2263/files?diff=unified#diff-c6b566f7546118bf1810a8069541a006R151) for backwards compatibility. If we don't want to keep this (or just special case `.`) this is the time to speak up (@anurse already did :)).
Note that to keep this behavior we

[2015-07-15 18:18] shanselman commented on #1403
Since we can't break tooling, I think we need to keep it.

On Wed, Jul 15, 2015 at 11:11 AM, Pawel Kadluczka <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-07-15 18:39] anurse commented on #1403
We may be OK from the tooling perspective. Last I heard the tooling was always specifying `--appbase` which would continue to work even if we took the break-the-world approach. /cc @BillHiebert @PradeepKadubandi

[2015-07-15 18:39] anurse commented on #1403
Of course we should verify this :)

[2015-07-15 19:08] Ph47 commented on #2264
I am trying to allow EntityFramework use version 2.0.0-alpha-002 of Remotion.Linq and Lucene.Net.Linq - 1.13.183.0. But i cant find a way to make this move.

DNX compile silently my project with one version of this package if i add direct dependency to project.config. Without direct dependency DNX silently substitutes version for Lucene.Net.Linq with newer one from EntityFramework.

This is not go

[2015-07-15 19:54] BrennanConroy commented on #2187
Can you check this? Should be fixed in latest.

[2015-07-15 20:21] mpiroc opened #2266 "Command-line build fails for DNX projects when global.json is empty."
When a vanilla DNX project is created, a `global.json` file containing the `sdk.version` property is generated. When a Service Fabric DNX project is created, an empty `global.json` file is generated (see https://github.com/aspnet/dnx/issues/1654).

If `global.json` is missing the `sdk.version` property, command-line builds fail. This is because the `GetRuntimeToolingPath` task (`$/DevDiv/Offcycle/

[2015-07-15 21:09] sklose opened #2267 "FileNotFoundException when publishing"
Since a couple of days I am getting a FileNotFoundException when I run 'dnu publish'. It seems to be related to commit https://github.com/aspnet/dnx/commit/cae8aab5b38e0039f03eb87a8d994e3035179206 where the file paths were canonicalized.

[code]

The package acutally exists on disk, but the path is /root/.dnx/packages/AWSSDK/2.3.47/AWSSDK.2.3.47.nupkg (without the .0)

[2015-07-15 21:14] anurse commented on #2267
Looks related to https://github.com/aspnet/dnx/issues/2192 (cc @troydai)

We recently did some work to clean up the way we convert version numbers to strings (in order to make them more uniform). Can you try re-running `dnu restore` on your project to write the packages into the correct paths and see if you can publish after that?

[2015-07-15 21:39] sklose commented on #2267
This actually happens in a clean docker container I use for builds on my CI system. All packages are restored from scratch on each build. Restoring, compiling, running unit tests works fine, just the publish step is failing.

[2015-07-15 21:53] sklose commented on #2267
I might have found the issue:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.PackageManager/Publish/PublishPackage.cs line 28 ... there is no call to GetNormalizedVersionString() like in https://github.com/aspnet/dnx/commit/cae8aab5b38e0039f03eb87a8d994e3035179206

[2015-07-15 23:00] troydai commented on #2267
Hi @sklose. You code you point out may cause the issue, I need to take a look. In the meantime, I believe if you clean your packages folder and restore again this issue will go away.

[2015-07-15 23:09] troydai commented on #2267
/cc @muratg I think I can fix this in beta6 time frame.

[2015-07-15 23:14] muratg commented on #2267
Looks like a regression, @troydai we probably try to fix it.

[2015-07-15 23:16] muratg commented on #1722
If we can't decide/agree on a reasonable fix, I propose postponing it to beta 7

cc @mayurid

[2015-07-15 23:18] muratg commented on #1403
Based on a talk with @davidfowl early this morning, postponing this to beta 7.  We'll also start integrating with tooling on a much higher frequency soon so we'll find any breaking issues ASAP.  It's just late to check this in beta 6.

[2015-07-15 23:41] troydai commented on #1722
I have a fix now. I'm sending a private build for @BillHiebert to test.

[2015-07-16 01:45] ChengTian opened #2270 "NuGet-related paths/files should be case-sensitively consistent"
`NuGet.Config` or `NuGet.config`?
`NuGet.redirect.config` or `NuGet.Redirect.config`?
We should enforce consistency in `PackageManager` (specifically under `NuGet` namespace) as part of cross-plat efforts.

[2015-07-16 08:06] IRooc commented on #2187
still fails on CoreCLR-x64-1.0.0-beta6-12232 is this the latest?

dnu build output:
[code]

[2015-07-16 08:47] davidfowl commented on #2264
@Ph47 That's actually not how any of this works. You should take a look at this documentation https://github.com/aspnet/Home/wiki/Dependency-Resolution and after, show the `project.json` and the *exact* problems you're running into and I'll be able to show you how to fix it.

[2015-07-16 09:17] Ph47 commented on #2264
I understand how it work now. But is a mistake here. Looks at figure 3 at this document. I have this situation at Remotion.Linq - low version dependency silently replaced with high version. Nobody cares about version compatibility.

Because of this approach, I spent two hours to understand exactly where the error is. Nor DNU nor runtime displays actual error ("Version conflict"). Instead of this a

[2015-07-16 09:23] davidfowl commented on #2264
It's not silent, it's how NuGet works. Versions are a minimum so they float when another dependency requires a higher version. That's actually how most systems work. Exact versions are terrible to use and stop things from working most of the time.

Again, it's not a bug, it's absolutely by design and intentional. Seems like you have a true incompatiblity and you need to talk to the package owners

[2015-07-16 09:50] borgdylan commented on #2240
When publishing nupkgs are created with versions like ```1.0.0.0``` in yet the publish process looks for ```1.0.0```.

[2015-07-16 09:56] davidfowl commented on #2264
@Ph47 So you actually want side by side loading (which has its own problems). That doesn't work and will not work for the forseeable future. You are at an impass and need to use compatible dependencies.

[2015-07-16 10:39] Ph47 commented on #2264
So make at least an error or warring message about conflicts at build time. It is quiet now.

[2015-07-16 10:50] davidfowl commented on #2264
You'd need to talk to the package owners about that. We can have a greater discussion about jumping past major versions triggering a warning.

[2015-07-16 11:48] onovotny commented on #1837
During the design of this, please keep Xamarin support (MonoTouch, Xamarin.iOS and MonoAndroid) in mind whatever the solution winds up being.

Thanks

[2015-07-16 13:46] yangyang80 commented on #2255
Thanks a lot. It works.

[2015-07-16 13:46] #2255 closed

[2015-07-16 15:34] BrennanConroy commented on #2187
This is a known issue, please track it at #1793

[2015-07-16 15:34] #2187 closed

[2015-07-16 15:48] roji commented on #2190
Any ideas on the questions above?

[2015-07-16 16:23] troydai commented on #2240
@borgdylan yes. Thanks for reminding. It is tracked in https://github.com/aspnet/dnx/issues/2267. I'm working on a fix.

Thanks!

[2015-07-16 16:24] troydai commented on #2240
I'll close this issue, through. The dnu restore is fixed.

[2015-07-16 16:24] #2240 closed

[2015-07-16 16:31] muratg commented on #2265
@BrennanConroy were you already looking into this one?

[2015-07-16 16:36] muratg commented on #2229
:watch:

[2015-07-16 16:47] troydai opened #2273 "Dnu publish should use IPackagePathResolver to resolve package path"
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.PackageManager/Publish/PublishPackage.cs#L28

[2015-07-16 16:53] natemcmaster opened #2274 "Make CLI error messages less verbose"
Error responses are too verbose. For example, misspelling a command name leads to this massively ugly stack trace.

<img width="716" alt="screen shot 2015-07-16 at 10 50 04 am" src="https://cloud.githubusercontent.com/assets/2696087/8729441/80c74c92-2ba8-11e5-8941-f0485ac971d8.png">

What if instead it was simplified to something like:

[code]

[2015-07-16 17:04] anurse commented on #1847
I haven't gotten a clear answer yet, we need to push this to beta7 /cc @muratg

[2015-07-16 17:16] muratg commented on #1847
@yishaigalatzer @davidfowl we have to decide on this asap, and do the changes in either place early in beta 7.

[2015-07-16 17:23] borgdylan commented on #2240
Yes the dnu restore is completely fixed.

[2015-07-16 18:26] IRooc commented on #2187
Just to make sure, this is the dnx . run output: Seems the same but different callstack
[code]

[2015-07-16 18:27] ChengTian opened #2278 ""dnu restore" doesn't load machine-wide settings"
The constructor of `NuGet.CommandLineMachineWideSettings` only checks `%CommonAppData%/NuGet/Config/*.config`. However, to find all machine-wide settings, it should go recursively because my `%CommonAppData%/NuGet/Config` has the following structure:
[code]

[2015-07-16 19:47] ChengTian opened #2279 "Figure out a better way to test "dnu commands install""
Currently we redirect `USERPROFILE` to some temporary folder and install to that fake home dir. However, if later we change the approach to resolve home dir by using `Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)` here:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.PackageManager/Install/AppCommandsFolderRepository.cs#L149
changing value of `USERPROFILE` can no

[2015-07-16 20:57] victorhurdugaci commented on #2279
We can probably add an environment variable to specify where global commands are installed

[2015-07-16 20:58] ChengTian commented on #2279
:+1:

[2015-07-16 20:59] victorhurdugaci commented on #2279
However... that is a little flaky because the folder specified in that env var must be on the path

[2015-07-16 21:43] BillHiebert commented on #1722
I verified Troy's changes along with a small tooling change fixes this issue.

[2015-07-16 22:05] #1813 closed

[2015-07-17 06:14] Ph47 commented on #2264
At Least major version conflict needs a warring. It is really hard to find problem if you don't think about versions of subdependencies. I know none of developers who investigate entire tree of dependencies before installing package. May be level 1 or 2 no more.

Package owner already notified: https://github.com/themotleyfool/Lucene.Net.Linq/issues/86

No more discussion from me because as you he

[2015-07-17 15:39] dougbu opened #2284 "`dnx . test` and other "implicit build" commands hide compilation warnings"

[2015-07-17 15:42] adamhathcock commented on #2267
I updated to beta6-12234 which fixes the dnu restore issue (https://github.com/aspnet/dnx/issues/2240) which is similar to this.  However, I still seem to have dnu publish problems.  Just FYI.

"System.IO.FileNotFoundException: Could not find file 'C:\Users\hathcoa\.dnx\packages\Unity\3.5.1404\Unity.3.5.1404.0.nupkg'.

[2015-07-17 15:47] dougbu commented on #2284
For example,
1. Change a test class to include something like
[code]
(MVC repo has an example of this as we speak: `MutableObjectModelBinderTest` in test/Microsoft.AspNet.Mvc.Core.Test includes `PersonWithNoProperties` which looks like the above sample.)
2. `dnu build --quiet`
3. observe following (expected) warning in the output
[code]
4. `dnx . test`

Expected: To see same warning in addition to

[2015-07-17 16:44] troydai commented on #2267
@adamhathcock thanks for letting us know. The fix was checked in recently. Please try a build newer than 12251. Thanks.

[2015-07-17 16:46] #2267 closed

[2015-07-17 17:04] anurse opened #2285 "Create a unified "RuntimeInfo" class"
It would be nice to have a central class to retrieve information about a specific DNX runtime:

* CLR Flavor
* OS
* Architecture
* Version
* Supported Frameworks
* etc.

/cc @davidfowl @muratg Suggest for beta7 (and I'm happy to take it on).

[2015-07-17 17:46] #1722 closed

[2015-07-17 17:55] BrennanConroy commented on #2265
1d23ce503d5a2b305320cd1c7c607d5e5e4efc03

[2015-07-17 17:55] #2265 closed

[2015-07-17 18:13] moozzyk commented on #1970
When doing this we should also pass OS, Architecture etc. from the native layer to managed code.

[2015-07-17 18:14] moozzyk commented on #2285
#1970 is kind of related - OS, Architecture etc. should be passed from the native layer.

[2015-07-17 18:26] dougbu opened #2286 "Regression in `dnu restore --quiet` noise level with corrupted (??) feeds"
`dnu restore --quiet` now displays many unnecessary warnings when a feed is corrupted, none of which seem relevant. Doubt this information is useful even to those who don't use `--quiet`.

For example
1. Remove all `dnx` packages: `rd -r $env:UserProfile\.dnx\packages`
2. Clean the `dnu` cache: `rd -r $env:LocalAppData\dnu\cache`
3. Select the `volatile` feed: `Use-Volatile`
4. `cd` to the `src` f

[2015-07-17 19:14] lleraromero opened #2287 "How to uninstall DNX and DNVM?"
Hi,

I would like to know how to uninstall dnvm and dnx, so I could manage the runtimes myself. How should I do it?

Thankk

[2015-07-17 20:02] anurse opened #2288 "dnu publish doesn't exclude output folder"
I was seeing a weird recursive behavior with dnu publish when I did the following:

1. Create a project
2. In the project directory, run `dnu publish -o output`

Expected: dnu publish finishes and publishes the app properly

Actual: dnu publish crashes with a "path too long" error because it got into a recursive loop continually publishing the `output` subdirectory.

I need to sanity check that th

[2015-07-17 20:55] #654 closed

[2015-07-17 20:55] #725 closed

[2015-07-17 21:01] anurse commented on #1283
Dupe on #848

[2015-07-17 21:01] #1283 closed

[2015-07-17 21:08] #2207 closed

[2015-07-17 21:38] barrytang commented on #1717
@davidfowl, where are we at with the runtime change?

[2015-07-17 21:49] davidfowl commented on #1717
@barrytang This bug isn't in a milestone and so it doesn't exist :smile:

[2015-07-17 21:59] barrytang commented on #1103
Adding @Eilon and @DamianEdwards. Can we fix this?

[2015-07-17 22:32] anurse commented on #2226
In this, we should also split the LibraryManager implementation class

[2015-07-17 22:44] barrytang commented on #1717
@BillHiebert, can you update it? I don't seem to have permission to.

[2015-07-17 22:57] anurse commented on #1464
This is covered in #2225

[2015-07-17 22:57] #1464 closed

[2015-07-17 23:39] BillHiebert commented on #1717
How do I do that?

[2015-07-17 23:43] BillHiebert commented on #1717
Looks like I don't have permission either. I assume it is because this is in the Dnx project

[2015-07-18 00:12] anurse commented on #2285
It is related, but (and I should have called this out clearer in the bug) this is more about asking for this information for a **different** runtime (i.e. given the name of the runtime), not for the currently executing runtime. Right now we have some string parsing code in multiple places.

[2015-07-18 00:17] anurse commented on #2287
DNX **is** the runtime, so if you just want to manage the runtimes yourself, you shouldn't remove it :). You can delete the ones installed by DNVM by emptying the `C:\Users\[username]\.dnx\runtimes` folder.

DNVM can be removed by simply deleting the `dnvm.cmd` and `dnvm.ps1` files from `C:\Users\[username]\.dnx\bin`.

Out of curiosity, why do you want to manage the runtimes yourself? Do you have

[2015-07-18 01:24] lleraromero commented on #2287
Thank you very much for you answer.

I'm actually building an application on top of .NET Core, but right now there are no plans to include DNX as a dependency in my deployment. So basically, I wanted to be sure that my environment is not aware of CoreCLR unless I explicitly specify it.

So far, you have being doing a great job :).

[2015-07-18 01:24] #2287 closed

[2015-07-18 05:19] davidfowl commented on #2284
There's no good way to show warnings at runtime.

[2015-07-18 05:20] davidfowl commented on #2273
@troydai Why isn't this issue closed and tagged and put in a milestone?

[2015-07-18 05:22] barrytang commented on #1717
@davidfowl, what kind of tool is this? :)

Can you set the milestone?

[2015-07-18 05:26] davidfowl commented on #1717
/cc @muratg This needs to go through triage.

[2015-07-18 07:48] #2273 closed

[2015-07-18 08:33] davidfowl commented on #2273
@troydai problems here:

- No bug or enhancement tag
- No assigned person
- Fix not linked to commit

/cc @muratg

[2015-07-20 15:46] muratg commented on #2285
Seems like a nice to have to me. I'm OK to do it in beta 7 though with lower pri than other items.

[2015-07-20 16:02] anurse commented on #2284
Plus, warnings are for compilation/development-time only, not runtime. That's what `dnu build` is for.

[2015-07-20 16:04] anurse commented on #2284
At best, this sounds like a feature that xunit could add. The runtime could help out, but it's an application level feature here.

[2015-07-20 16:27] Eilon commented on #1103
@muratg

[2015-07-20 16:29] dougbu commented on #2284
Our build system only executes test projects, never runs `dnu build` on them. But warnings in test projects show up in VS. For example the warning described in my first comment would be visible in the Error List. This is an annoying inconsistency I was hoping we could correct within `dnx . test`.

But :ok: perhaps its better to think of this as a `Universe` (`KoreBuild`) gap... Of course we'd have

[2015-07-20 16:29] muratg opened #2289 "We need to close on options design"
http://stackoverflow.com/questions/31485311/configure-a-component-in-asp-net-5

[2015-07-20 16:47] anurse commented on #2284
In the DNX repo I believe we `dnu build` tests, but that is extra, somewhat wasted, work. I could maybe buy a Runtime feature that allows an application to retrieve any diagnostics related to a dependency (compilation errors/warnings, etc.) so it can render it. That could possibly be a way for xunit to get this data.

In short, it sounds like a useful feature for `dnx . test` specifically, but we

[2015-07-20 16:58] anurse opened #2290 "Move HashCodeCombiner to Common repo"
We should move the `HashCodeCombiner` class to the Common repo as a Sources package to avoid duplication.

[2015-07-20 17:11] dougbu commented on #2284
Filed aspnet/Universe#248. Given that work, probably fine to put this issue on the backlog.

[2015-07-20 17:20] anurse commented on #2284
/cc @muratg @glennc - This can go on the post-1.0 backlog now. We can move it back if aspnet/Universe#248 doesn't solve the immediate issue.

[2015-07-20 17:21] anurse commented on #2284
The proposal in this enhancement is basically to consider exposing compilation issues in a way that xunit can retrieve.

[2015-07-20 17:41] muratg commented on #2274
Dup: https://github.com/aspnet/dnx/issues/1923

[2015-07-20 17:41] #2274 closed

[2015-07-20 17:54] muratg commented on #2266
@mayurid @PradeepKadubandi this should probably go into Tooling repo.

[2015-07-20 18:34] troydai commented on #1501
To keep up with the progress check out branch https://github.com/aspnet/dnx/tree/trdai/1501

[2015-07-20 18:40] natemcmaster commented on #2107
+1 I'm seeing this issue too on CoreCLR for OS X

[2015-07-20 18:42] Tragetaschen commented on #1041
Ok, this (or something very similar) bit me again when moving from beta4 to beta5.

The change to `ICompileModule` was to remove the 'I's from both Before- and AfterCompileContext, so my compile modules needed to change. The net effect when running `dnu build` on a command line was several errors because my generated classes weren't present (and also a test `Console.WriteLine` didn't make it).

So

[2015-07-20 18:50] ChengTian opened #2291 ""dnu restore" caching behavior regression"
`dnu restore` doesn't cache anything after you delete `%userprofile%/AppData/Local/dnu/cache`

![capture](https://cloud.githubusercontent.com/assets/1383883/8784126/2b132a84-2ed5-11e5-9247-4e01de305447.PNG)

[2015-07-20 20:52] #2291 closed

[2015-07-20 20:54] Tragetaschen opened #2294 "Errors in ICompileModule classes don't show anywhere"
I had the same (or something very similar) opened and closed in #1041, but apparently, I cannot reopen that one.

That issue bit me again when moving from beta4 to beta5.

The change to ICompileModule was to remove the 'I's from both Before- and AfterCompileContext, so my compile modules needed to change. The net effect before the necessary change when running dnu build on a command line was sever

[2015-07-20 21:07] #2223 closed

[2015-07-20 21:18] muratg commented on #2193
Closing this, as this is covered in https://github.com/aspnet/dnx/issues/402.

[2015-07-20 21:18] #2193 closed

[2015-07-20 22:09] anurse commented on #848
I prefer putting the destination on the left, and I'd like to see if we can get globbing in there. We'll be talking about this in the design meeting today.

[2015-07-20 22:36] bricelam commented on #848
W00t! We have workarounds [in EntityFramework](https://github.com/aspnet/EntityFramework/blob/dev/makefile.shade#L58-L104) and [in Microsoft.Data.Sqlite](https://github.com/aspnet/Microsoft.Data.Sqlite/blob/dev/makefile.shade#L30-L60) for this...

[2015-07-20 22:37] abpiskunov opened #2296 "beta6: manual restore fails to find package System.Reflection in the feed with 404"
There is an exception in the dnu output:

Warning: FindPackagesById: System.Reflection
  Response status code does not indicate success: 404 (The specified blob does not exist.).
  GET https://api.nuget.org/v3/index.jsonFindPackagesById()?id='System.Reflection'

[2015-07-20 22:38] abpiskunov opened #2297 "beta6: when dnu can not find package in the feed, restore fails but there no errors sent via DTH and all references are resolved"
-	When I manually trigger restore for just created Console app I can see:
Warning: FindPackagesById: System.Reflection
  Response status code does not indicate success: 404 (The specified blob does not exist.).
  GET https://api.nuget.org/v3/index.jsonFindPackagesById()?id='System.Reflection'
What is wrong with that package? Why it is not in the feed?

-	Dnu returns error exist code, however there

[2015-07-20 22:42] ChengTian commented on #2296
@abpiskunov , could you please list all feeds you are using here? Please also attach your `project.json` if possible. Thanks!

[2015-07-20 22:45] abpiskunov commented on #2296
Here is the full dnu output:
PATH=.\node_modules\.bin;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\External;%PATH%;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\External\git
C:\Users\antonpis\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta6\bin\dnx.exe "C:\Users\antonpis\.dnx\runtimes\dnx-clr-win-x86.1.0.0-

[2015-07-20 22:45] abpiskunov commented on #2296
Here is project.json:
{
  "version": "1.0.0-*",
  "description": "ConsoleApp8 Console Application",
  "authors": [ "antonpis" ],
  "tags": [ "" ],
  "projectUrl": "",
  "licenseUrl": "",

  "dependencies": {
  },

  "commands": {
    "ConsoleApp8": "ConsoleApp8"
  },

  "frameworks": {
    "dnx451": { },
    "dnxcore50": {
      "dependencies": {
        "System.Collections": "4.0.10-beta-23109",

[2015-07-20 22:45] ChengTian commented on #2296
One more thing, what's the version of DNX you are using?

[2015-07-20 22:46] ChengTian commented on #2296
Never mind. I can see it is beta6 DNX in the output

[2015-07-20 22:47] abpiskunov commented on #2296
Latest checked in to WTE Beta6 (dnx-clr-win-x86.1.0.0-beta6)

[2015-07-20 23:16] anurse commented on #848
Initial design notes. We're going to iterate on it tomorrow. /cc @davidfowl

[code]

I think that the "source" file specifier needs to be able to be an array. Basically, if the thing on the right ends up evaluating to multiple file names, the thing on the left is a folder. Otherwise, the thing on the left is a file and must have the full name of the file. Because the body of this property is a JSO

[2015-07-20 23:22] ChengTian commented on #2296
Because there is an exception thrown during access to HTTP cache, “dnu restore” mistakenly recognized V3 feeds as V2 feeds. The root cause is https://github.com/aspnet/dnx/issues/2291 and I already pushed fix this morning. Please wait for next build of DNX available later.

[2015-07-20 23:22] #2296 closed

[2015-07-20 23:25] ChengTian commented on #2297
Root cause is explained in https://github.com/aspnet/dnx/issues/2296. When `dnu restore` fails because of an exception, it doesn't get a chance to update lock file, so you still have leftover from previous restore and it gives DTH the illusion that all dependencies are correctly resolved.

All those issues should be fixed after next build of DNX is available.

[2015-07-20 23:25] #2297 closed

[2015-07-20 23:26] MiguelAlho commented on #848
This is just about how to add files to the generated nupkg, but not about how they will be consumed, right?

[2015-07-20 23:31] davidfowl commented on #848
@MiguelAlho That's correct.

[2015-07-20 23:32] ChengTian commented on #2296
Dup of https://github.com/aspnet/dnx/issues/2291

[2015-07-20 23:32] ChengTian commented on #2297
Dup of https://github.com/aspnet/dnx/issues/2291

[2015-07-20 23:37] ChengTian opened #2298 "Give a better error message when we find lock file version mismatch"
The current message is
[code]
Turns out lock file version is not a familiar concept to users. We should rephrase this and make the error  clearer.

[2015-07-21 02:23] weitzhandler opened #2299 "No IsValueType property in System.Type."
Hi,

I just migrated a project from full .NET and discovered this property is missing.
Neither does `IsAssignableFrom` work.

[2015-07-21 07:16] davidfowl commented on #2229
Pretty sure this wont' make it for beta6. Can we make this an escrow bug? /cc @muratg @danroth27 @DamianEdwards

[2015-07-21 07:18] davidfowl commented on #2299
All of those methods have moved to Type.GetTypeInfo(). For further details file an issue on https://github.com/dotnet/corefx

[2015-07-21 07:18] #2299 closed

[2015-07-21 08:23] davidfowl commented on #1589
/cc @jkotas Is there a runtime setting to allow this? How does the bootstrapper in .NET Framework handle this?

[2015-07-21 08:24] #1619 closed

[2015-07-21 08:24] davidfowl commented on #1603
@moozzyk is this still relevant with all of your refactorings?

[2015-07-21 08:53] jkotas commented on #1589
The shutdown sequence for standalone desktop apps is different from shutdown sequence of hosted apps. DNX on Windows is always hosted that explains the behavior you are seeing. Once main method exits, the DNX hosts tells CoreCLR to shutdown the appdomain and then exits the process.

I do not think that the current desktop or CoreCLR hosting APIs expose an easy way to make the shutdown work like st

[2015-07-21 09:16] AvelineAwad commented on #1590
accroding to https://github.com/aspnet/Home/wiki/Configuring-the-feed-used-by-dnu-to-restore-packages

this is what I do on my production server:

    nano ~/.config/NuGet/NuGet.config
add this content:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>
        <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
        <add key="nuget.

[2015-07-21 09:21] weitzhandler commented on #2299
I can't find `Type.GetTypeInfo`. Here's a snippet from the `Type` metadata:

    #region Assembly System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
    // C:\Users\weitz\.dnx\packages\System.Runtime\4.0.20-beta-23019\ref\dotnet\System.Runtime.dll
    #endregion

    namespace System
    {
      public abstract class Type
      {
        public static readonly Type[

[2015-07-21 09:22] weitzhandler commented on #2299
@davidfowl I can't find `Type.GetTypeInfo`. Here's a snippet from the `Type` metadata:

    #region Assembly System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
    // C:\Users\weitz\.dnx\packages\System.Runtime\4.0.20-beta-23019\ref\dotnet\System.Runtime.dll
    #endregion

    namespace System
    {
      public abstract class Type
      {
        public static rea

[2015-07-21 09:34] jcansdale commented on #122
This confused me as well. Even when my 'Main' method is static, the containing class must have a public constructor and a new object is created (when not required).

[2015-07-21 10:17] Grinderofl opened #2300 "beta7: Microsoft.DNX.PackageManager.dll could not be found"
DNX: 1.0.0-beta7-12255, x86, coreclr & clr both

Using Visual Studio 2015 REL

*Steps:*
Set DNX to beta7-12255
Run Visual Studio
Create new project -> Choose ASP.NET Console project.

*Expected:*
Project is loaded, Program.cs is opened, there are no errors, warnings, red keywords/identifiers or squigly lines. "Build" should build the project. "Start" should run the project.

*Actual:*
Project is l

[2015-07-21 10:18] davidfowl commented on #2300
See https://github.com/aspnet/Announcements/issues/44

[2015-07-21 10:18] #2300 closed

[2015-07-21 10:20] davidfowl commented on #2299
That's because it's an extension method brought in by System.Reflection

[2015-07-21 10:29] weitzhandler commented on #2299
Thank you!

[2015-07-21 10:31] weitzhandler commented on #194
@divega where is the EF repo that belongs to DNX?

[2015-07-21 13:53] hardvain opened #2301 "How to run F# scripts with dnx?"

[2015-07-21 15:28] troydai commented on #1501
Fixed in 33eccd43e5fa250c2650744b6d28140cd42096a7

[2015-07-21 15:28] #1501 closed

[2015-07-21 15:46] moozzyk commented on #1603
@davidfowl - yes. Most of the occurrences are being fixed in https://github.com/aspnet/dnx/pull/2263 which has not been merged yet. I will need to do a final sweep after #2263 is merged since fixing this was not the main goal there.

[2015-07-21 16:46] bricelam opened #2302 "Support uap10.0 Framework"
I'm trying to update EF's use of `netcore50` to `uap10.0`, but dnu gives me this error.

[2015-07-21 16:47] davidfowl commented on #2302
Hey, at least you get an error now :smile:

[2015-07-21 16:48] bricelam commented on #2302
BTW, what's with the `uap10.0`? Wouldn't the NuGet thing to do be `uwp100`?

[2015-07-21 16:50] davidfowl commented on #2302
NuGet actually supports version numbers. It's 10.0 to avoid ambiguity. 100 -> could be 1.0.0

[2015-07-21 17:56] #2225 closed

[2015-07-21 18:11] DamianEdwards opened #2303 "dnu publish should handle --out pointing to an existing directory better"
Right now, `dnu publish --out` doesn't do anything to explicitly handle the case where the out directory already exists. It just outputs the content into the existing folder, meaning it might contain files from a previous publish action, which can result in errors.

I suggest that it should fail if the specified out directory already exists. You could then use `--force` to have publish delete the

[2015-07-21 18:36] Eilon commented on #2303
BTW `--force` isn't logically the same as `--delete-target` or whatever. Specifying `--force` just means "go make a mess and I don't care".

[2015-07-21 18:56] tillig commented on #2267
Happens with Moq, too - [version 4.2.1502.911](https://www.nuget.org/packages/Moq/4.2.1502.911) gets an extra `0` added to the last part of the version and it fails to find `C:\Users\appveyor\.dnx\packages\Moq\4.2.1502.0911\Moq.4.2.1502.0911.nupkg.sha512` when using DNX `1.0.0-beta5` as released with VS 2015. Would love to know of a workaround.

[2015-07-21 19:03] natemcmaster opened #2304 "`dnu restore` hangs indefinitely"
Running `dnu restore` on Linux and OS X frequently hangs. It hangs indefinitely. SIGINT (`ctrl+c`) doesn't kill the task. Instead I have to send SIGKILL for the mono-sgen process.

This bug is inconsistent and produces no error message. Sorry I cannot provide more info to reproduce. Anyone else seeing this problem? Is this a myget.org problem?

[2015-07-21 19:10] DamianEdwards commented on #2303
Yeah fair point. Perhaps we have two switches then, e.g. --delete-target

[2015-07-21 19:44] NotMyself commented on #451
I just ran into this issue with a clean install of VS2015 RTM and @delloncba's solution got me moving again.

[2015-07-21 20:43] ChengTian opened #2305 ""dnu restore" shouldn't always fallback to v2 feed if the given URI is not v3 feed"
Today if `dnu restore` gets some errors when it's trying to detect whether a feed is v3 or not, it is going to assume the feed is v2:
(See the try-catch logic in `NuGetv3Feed.DetectNuGetV3`)
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.PackageManager/Restore/NuGet/NuGetv3Feed.cs#L59

However, if the the feed is not a valid v2 feed either, users get some confusing error message be

[2015-07-21 20:53] natemcmaster opened #2306 "PathUtility causes UriFormatException on xplat"
Because of a limitation in CoreClr (see https://github.com/dotnet/coreclr/issues/1268), `NuGet.PathUtility.GetRelativeUri()` throws UriFormatException on OS X/Linux.

**Implication:** `dnu build` fails!

Example:

[code]

`Path1: /Users/namc/Developer/Microsoft.Data.Sqlite/src/Microsoft.Data.Sqlite/`
`Path2: /Users/namc/Developer/Microsoft.Data.Sqlite/src/Microsoft.Data.Sqlite/Strings.resx`

[2015-07-21 20:59] aggieben commented on #2118
What's the motivation behind this?

[2015-07-21 21:15] troydai commented on #2267
Hi @tillig It is fixed a newer beta6 DNX build.

[2015-07-21 21:30] tillig commented on #2267
@troydai Yeah, but if I want to ship something that works against beta 5 (shipped with VS) then I'm stuck. Is there a workaround? Or do I just not get to support beta 5?

[2015-07-21 21:44] anurse opened #2308 "Remove test dependency on Windows Phone tools"
For the longest time I haven't been able to get a totally clean `build verify` on my machine, yet the CI works fine. Finally, I tracked it down, I generally don't install the Windows Phone 8 tools on my dev machines, and there are dnu wrap tests that require MSBuild targets provided in that installer. We should remove those tests and stick to just the bare minimum VS stuff.

/cc @davidfowl @ChengT

[2015-07-21 21:55] muratg commented on #2267
@tillig The plan is to ship beta 6 by next Monday (see https://github.com/aspnet/home/wiki/roadmap). Unfortunately I don't know a workaround for beta 5.  I think your best bet would be to ship against beta 6.

[2015-07-21 21:57] tillig commented on #2267
@muratg OK. I'll hold off until beta 6. Thanks for letting me know - I do appreciate it!

[2015-07-21 22:12] natemcmaster commented on #2304
Update: this is not limited to Mono. It also happens on CoreCLR on OS X (latest dev branch)

[2015-07-21 22:50] anurse commented on #848
Additional design notes:

* We want the project to be able to fully behave like a package, so any files specified in this section should be available when referencing the project. For example, if a native binary is specified using this property, that binary should be placed in the correct lock-file section.

[2015-07-21 22:52] ChengTian commented on #2308
That test case is for the scenario where we wrap multiple csprojs with a single `project.json`. We have 3 frameworks in the test case, I guess removing wp8 framework and testing with 2 frameworks is still acceptable.

[2015-07-22 04:35] anurse commented on #2118
In my mind, the main motivation is to make it easier to conditionally compile code for Mono. This would allow packages to, in theory, provide a more appropriate implementation of their assembly on Mono (in case of differences between the Mono BCL and the .NET BCL, among other things).

If we did this, it would be compatible with the regular `dnx` framework applicable to the Mono version, so say `d

[2015-07-22 04:38] davidfowl commented on #2118
It's to avoid things like this https://www.nuget.org/packages/Ninject.Mono/

[2015-07-22 08:36] davidfowl commented on #2306
/cc @BrennanConroy this is a dupe right?

[2015-07-22 09:02] davidfowl commented on #1020
What work is left here?

[2015-07-22 09:18] davidfowl commented on #2301
DNX only supports C#. The next language we'll support will be VB and we'll have extensibility for other languages. In the mean time you can use https://github.com/YoloDev/YoloDev.Dnx.FSharp

[2015-07-22 09:18] #2301 closed

[2015-07-22 11:16] radenkozec opened #2310 "Project.Lock.JSON not updating on upgrade from beta 4 to beta 5"
I am in process of migration from beta 4 to beta 5 and project.lock.json is not updating.
Old beta4 references are still in project.lock.json and when I click restore packages nothing happens.

I am in big problem here because I cannot upgrade to beta 5

See StackOverflow for project.json and more info:
http://stackoverflow.com/questions/31563564/upgrading-from-asp-net-5-beta-4-to-beta-5-project-l

[2015-07-22 14:25] #1403 closed

[2015-07-22 15:37] BrennanConroy commented on #2306
This is being tracked by #1793

[2015-07-22 16:29] BrennanConroy commented on #2304
We run restore many times a day on both Linux and OS X on mono and it doesn't hang. We don't use myget.org though, so maybe it is related to that.

[2015-07-22 17:23] muratg commented on #2306
@BrennanConroy Please add http://github.org/dotnet/coreclr/issues/1268  to the tracking list and close this one as dup.

[2015-07-22 17:24] muratg commented on #2302
@anurse

[2015-07-22 17:25] #2306 closed

[2015-07-22 18:25] ChengTian commented on #1020
I guess there is no further work needs to be done

[2015-07-22 18:25] #1020 closed

[2015-07-22 18:59] muratg opened #2311 "Implement Analyzers"
~~Min bar is dev dependencies~~

Design below

[2015-07-22 19:00] moozzyk commented on #1855
dnx.clr.managed  must not be merged with anything. It is a domain manager for full Clr which has to have a real strong name. This is the reason why it does not have any dependencies and we use reflection to call Bootsrapper methods - the dependencies would have to be strong named too.

[2015-07-22 19:09] davidfowl commented on #2310
It is updating you should be able to determine what package is bringing in beta4 packages by looking at the lock file. Just because your `project.json` states beta5 doesn't mean you'll get it. If beta5 of that package doesn't exist, or your feeds are misconfigured means you'll get errors.  Did you read the https://github.com/aspnet/Announcements/issues repository?

[2015-07-22 19:27] radenkozec commented on #2310
@davidfowl Take a look at http://stackoverflow.com/questions/31563564/upgrading-from-asp-net-5-beta-4-to-beta-5-project-lock-json-has-old-values
There is a screenshot my issue.
I am getting all packages in project as beta4 and not beta5 like is in project.json.

I already run PowerShell run: $env:DNX_FEED="https://www.nuget.org/api/v2"
to set-up URL of feeds.
Not sure how to resolve this?

[2015-07-22 19:28] davidfowl commented on #2310
That doesn't affect package restore. The NuGet.config does. What NuGet sources do you have configured

[2015-07-22 19:29] muratg opened #2312 "Project references: Allow referencing with a name different than the containing folder"

[2015-07-22 19:40] borgdylan commented on #2304
I observe such hanging with beta4 while restoring omnisharp. I do not observe this with teh latest bet7 bits from the unstable feed.

[2015-07-22 21:21] kichalla opened #2314 "Kestrel repo.json doesn't have commit hash which is throwing exception when doing 'dnu sources get Kestrel'"
![image](https://cloud.githubusercontent.com/assets/6559784/8837661/473c1466-307c-11e5-8f46-298927da0be2.png)

![image](https://cloud.githubusercontent.com/assets/6559784/8837757/e025490e-307c-11e5-870f-8300043c1297.png)

![image](https://cloud.githubusercontent.com/assets/6559784/8837771/fbce36fc-307c-11e5-8fa8-af9583931484.png)

[2015-07-22 21:33] kichalla commented on #2314
Some other packages are also missing this info...probably we can do a search of all the packages we ship and verify this:

![image](https://cloud.githubusercontent.com/assets/6559784/8838059/ad39a04c-307e-11e5-8e30-ae44179af19b.png)

[2015-07-22 21:53] anurse commented on #1855
Ok, how about this:

* `dnx.clr.managed` -> `Microsoft.Dnx.DomainManager`
* `dnx.coreclr.managed` + `dnx.host` -> `Microsoft.Dnx.Host`

/cc @victorhurdugaci

[2015-07-22 22:08] moozzyk commented on #1855
`Microsoft.Dnx.DomainManager` does not convey the information that this is a domain manager for Clr only. Dnx.coreclr.managed contains a domain manager for CoreClr.  Note that dnx.coreclr.managed is loaded by CoreClr when bootstrapping CoreClr from native code. I don't know if what currently is in dnx.host will be available if the new host dll is being loaded when (before?) AppDomain is created an

[2015-07-22 22:18] anurse commented on #2311
Dev dependencies are a much more complicated feature and aren't necessary to do this. We can do it with regular dependencies just fine.

[2015-07-22 22:24] kichalla opened #2315 "'dnu feeds list' shows an unknown/duplicate entry"
![image](https://cloud.githubusercontent.com/assets/6559784/8838941/9f5e5de4-3085-11e5-836b-d81ec0340419.png)

[2015-07-22 22:24] anurse commented on #2311
@davidfowl @troydai and I talked and Fowler wants Troy to take a look at this. /cc @muratg

[2015-07-22 22:44] anurse commented on #1855
Ok, how about a straight name change for now then. The exact structure of this is completely uninteresting to users so we should do whatever makes it easier for us to develop/service/etc. :)

* `dnx.clr.managed` -> `Microsoft.Dnx.Host.Clr`
* `dnx.coreclr.managed` -> `Microsoft.Dnx.Host.CoreClr`
* `dnx.host` -> `Microsoft.Dnx.Host`

[2015-07-22 23:12] moozzyk commented on #1855
I would prefer:
-  dnx.clr.managed  ->  Microsoft.Dnx.DomainManager.Clr
-  dnx.coreclr.managed  ->  Microsoft.Dnx.DomainManager.CoreClr

but don't really feel very strong about this.

[2015-07-22 23:51] anurse commented on #1855
Sure. I did notice that even though there is a class called `DomainManager` in `dnx.coreclr.managed.dll`, it is not actually an AppDomain Manager, it is just a static class to hold an entry point. I still kinda feel like it could be merged in to the CoreCLR version of `dnx.host`. CLR is a different story because, for servicing purposes, we need a separate assembly.

Regardless, these are completel

[2015-07-22 23:53] muratg commented on #2311
@anurse yes, thanks. It was to be assigned to @troydai, but I was waiting before we get a priority on Friday's design meeting.

[2015-07-22 23:54] anurse commented on #2311
Fair enough, @troydai was just wondering why he hadn't been assigned :).

[2015-07-22 23:55] muratg commented on #1855
I assume these recent changes in naming do not have any tooling impact. If there's any impact, we'll need to talk to the tooling team and sort out the schedule.

[2015-07-23 00:04] anurse commented on #2314
We should definitely fix the missing hashes, but we should also ensure we don't throw here and instead display a useful error message (something like `The package '{ID}' does not contain valid source code repository information`)

[2015-07-23 00:06] anurse commented on #1855
The ones @moozzyk and I are discussing will have **no** tooling impact, but definitely good to check :). I think we're all happy with the names for the assemblies that do have tooling impact.

[2015-07-23 00:08] muratg commented on #1855
Cool, sounds good.

[2015-07-23 00:09] anurse commented on #2312
Thoughts (just a bit of a brain dump to facilitate discussion/design):
* We could allow a `path` property under the dependency. That starts to smell a lot like `HintPath` though...
* We could allow a project.json to have an **optional** `name` property to change the name of the project. This would mean someone has to scan all the project.json files in scope in order to determine the name of each p

[2015-07-23 01:35] MattGal opened #2317 "ArgumentNullException thrown attempting to add auto-wrapped references to new Portable Class libraries"
I may be among the first people trying to do this.  When I add project-to-project references with PCLs, I consistently see this in the package manager output window:

Wrapping project 'ProjectName' for '.NETPortable,Version=v5.0'
  Source c:\Users\mattgal\Documents\Visual Studio 2015\Projects\ReferenceKPCLWithDifferentName\SameName\SameName.csproj
  Target c:\Users\mattgal\Documents\Visual Studio

[2015-07-23 03:08] anurse commented on #2317
It's definitely expected that this combination (`dnu wrap` and `dotnet`) would be a little broken. Thanks for the report though!

[2015-07-23 03:32] davidfowl commented on #2317
Net portable 5.0 is what's broken. We read the tfm from he project file.

[2015-07-23 04:18] aggieben commented on #1590
I tried looking into this somewhat and haven't really been able to reproduce any obvious issues like observed by the OP.  On Gentoo hardware with mono 4.3 + dnx 1.0.0-beta6-12256, I'm seeing total restore times typically around 1 minute.  On a Ubuntu VM with mono 4.0.3 + dnx-1.0.0-beta6-12256, I'm seeing much the same thing.

One problem I had on the Gentoo box was a lack of CA trust which caused

[2015-07-23 06:17] radenkozec commented on #2310
Here is NuGet.config from  %AppData%/NuGet/NuGet.Config:
[code]

[2015-07-23 10:21] spaget opened #2318 "Dependencies errors with beta7-12264"
Hello,

I got an error when i try to launch my project from Visual Studio (IIS Express or custom target). I'm on the last version of dnx (beta7-12264) since this morning.

Notes
* if i launch the project from command line it works fine
```"Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --server.urls http://*:5001"```
* I have restore all packages

Here is the stacktrace:
[co

[2015-07-23 11:43] radenkozec commented on #2310
Managed to fix issue. Problem was Microsoft.Framework.ConfigurationModel.UserSecrets. This package and few others don't exists anymore.
This cause my issues with package restore with no smart error info.
After I removed these packages I managed to restore beta5 packages.
I will close this issue now.

[2015-07-23 11:43] #2310 closed

[2015-07-23 12:08] marcuslindblom opened #2319 "Assembly name is different on Windows/Visual Studio vs Visual Studio Code on OS X"
This issue is based on the discussion here: [ Deserialization issue on mono/OS X #2754](https://github.com/aspnet/Mvc/issues/2754)

On my Windows machine the assembly name is the one I have set on the project level.

<img width="394" alt="screen shot 2015-07-20 at 20 57 55" src="https://cloud.githubusercontent.com/assets/319720/8784391/27e58bd4-2f22-11e5-86b9-318a87225931.png">

When I create and

[2015-07-23 12:51] Grinderofl commented on #2318
I'm experiencing a similar issue, but with console. Visual Studio refuses to launch any projects, console or web, while using beta7-12264. I started experiencing it yesterday, but seeing as there was a lot of renames going on, I decided to wait a little while until the other packages got updated. I've cleared out my package cache as well.

[code]

=> InnerException:
[code]

=> InnerException
[code

[2015-07-23 13:08] evorine commented on #2318
I have same problem here.
May be this is related with https://github.com/aspnet/Announcements/issues/45.

[2015-07-23 15:36] borgdylan opened #2320 "Mono: System.IO.Compression facade chosen over System.IO.Compression.dll on dnx451"
When using mono and referencing System.IO.Compression (not the PCL facade) I end up with with the facade dll instead of what I actually need. By any chance do facades have a higher priority than normal framework assemblies?

[2015-07-23 16:00] kichalla opened #2321 "Install 'latest' version of DNX by default when using 'dnvm install'"
We should install the `latest` version by default when someone types in `dnvm install`

If this is required, we should probably fail with a proper error message, currently it creates a folder with name like `dnx-mono.` under runtimes.

![image](https://cloud.githubusercontent.com/assets/6559784/8855265/2aa444f2-3119-11e5-899d-66ef8d81bd6e.png)

[2015-07-23 16:03] kichalla opened #2322 "Fix help text of 'dnvm upgrade'"
Change 'clr' to 'mono'
![image](https://cloud.githubusercontent.com/assets/6559784/8855353/99c9ccf8-3119-11e5-82c6-5d98b6e2405c.png)

[2015-07-23 16:26] natemcmaster commented on #2304
More testing - this is not exclusive to myget.org.   Nuget.org sometimes triggers the same deadlock.

[2015-07-23 16:45] kichalla opened #2324 "DNX's '--packages' falls back silently to '.dnx\packages' folder"
I am not sure if this is by design, but based on the available help information I was guessing that the `--packages` option says where to look for packages when executing an application.

Here the '--packages' path doesn't exist but I do not get any error
![image](https://cloud.githubusercontent.com/assets/6559784/8856376/513426fe-311f-11e5-852b-d67f91390d94.png)

BTW, if i the packages folder doe

[2015-07-23 17:01] MattGal commented on #2317
OK, will bug it on their side of things.   There are quite a few challenges with trying to make this work currently.

[2015-07-23 17:12] davkean commented on #2317
This is by design; we no longer have profiles in the "dotnet" world.

[2015-07-23 17:43] kichalla opened #2325 "Fix help text of 'dnu sources'"
![image](https://cloud.githubusercontent.com/assets/6559784/8857591/6a553bde-3127-11e5-8392-635f50f4f8ec.png)

'related managing' -> 'related to managing'
'packages source code' -> 'source code of packages' OR 'packages' source code'?

[2015-07-23 17:51] Eilon commented on #2325
How about: `Commands for managing source code of packages.`

[2015-07-23 18:01] kichalla commented on #2325
Sounds good to me.

[2015-07-23 18:04] troydai commented on #2260
@glennc can you help me find the right person on CLR team to ask about this?

[2015-07-23 18:14] troydai commented on #2162
Fixed in 587a4a562d8356b7f8af8a98f2247d5ba88473ba

[2015-07-23 18:14] #2162 closed

[2015-07-23 18:32] ganeshran commented on #1590
facing same issue on Arch Linux. Finally got all packages to install after running dnu restore at least 5 times.

[2015-07-23 18:32] troydai commented on #1548
Fixed in https://github.com/aspnet/dnx/commit/a486da1669280f1f46ea3e11cf5e6f42c9a00133

[2015-07-23 18:32] #1548 closed

[2015-07-23 19:19] CarlosFreire commented on #1298
Please Help, error in VS 2015 RTM, MVC 6 beta 7

System.IO.FileLoadException
Could not load file or assembly 'Cross2Business.Administrador' or one of its dependencies. Invalid pointer (Exception from HRESULT: 0x80004003 (E_POINTER))
at System.Reflection.RuntimeAssembly._nLoad(AssemblyName fileName, String codeBase, Evidence assemblySecurity, RuntimeAssembly locationHint, StackCrawlMark& stackMark,

[2015-07-23 19:21] CarlosFreire opened #2327 "Issue in run debug web application"
System.IO.FileLoadException
Could not load file or assembly 'ApplicationMVC' or one of its dependencies. Invalid pointer (Exception from HRESULT: 0x80004003 (E_POINTER))
at System.Reflection.RuntimeAssembly._nLoad(AssemblyName fileName, String codeBase, Evidence assemblySecurity, RuntimeAssembly locationHint, StackCrawlMark& stackMark, IntPtr pPrivHostBinder, Boolean throwOnFileNotFound, Boolean f

[2015-07-23 20:20] kichalla opened #2328 "'dnu sources' end to end experience with our repos fails due to missing 'common' repo related files"
Since we do not ship Common repo's stuff as releasable packages, the end to end experience of using `dnu sources` with any of our repos using this Common repo would fail when compiling.
1. Create a simple Web API application in VS (in my case Beta6)
2. Run `dnu sources get Microsoft.AspNet.Mvc`. With this step you should see MVC repo's source code added to your solution
3. Build your Web API appli

[2015-07-23 20:37] natemcmaster commented on #251
@glennc Can we revisit this? For big projects (such as EF), dnu restore leads to hundreds of lines (seems like thousands when it has to get all the dependencies too.)

By default, I don't think users care to see every HTTP request made. Instead, I think users care:

1. that restore is making progress, and
2. that it worked or didn't. And maybe a summary of what happened.

`dnu restore` today looks

[2015-07-23 20:50] muratg commented on #1793
@BrennanConroy Do we have a bug on `Restore hangs with more than a couple concurrent requests (investigating)` item on the CoreCLR side?  Main Beta 7 theme is cross plat so we'll need to move forward with this.

cc @danroth27

[2015-07-23 20:51] Eilon commented on #2328
:crying_cat_face: this is tricky...

[2015-07-23 20:55] dougbu commented on #251
@natemcmaster does `dnu restore --quiet` not work for you?

[2015-07-23 20:55] kichalla commented on #2328
Can we ship all the sources as part of a package like `Microsoft.Framework.Internal` or something? (was the original motivation of Common repo that we avoid creating such public packages?)

[2015-07-23 20:57] kichalla commented on #2328
yeah ignore my previous comment...you could have non-internal shareable code too..

[2015-07-23 21:05] dougbu commented on #2328
Perhaps but that only works short term. As soon as something else depends on two assemblies / packages containing the `public` shared code, the class names become ambiguous.

[2015-07-23 21:06] natemcmaster commented on #251
@dougbu It works, but even if we made --quiet default, this is still not the right UX. Because of #2304, I can't tell when it has hung or is just going slow.

I still believe the better experience is to be less verbose by default.  As evidence, I just ran `dnu restore` on EF. It produced about **8,550 lines** in my terminal. [see log here](https://gist.github.com/natemcmaster/c4e765d0a2eeb0ef7cbd)

[2015-07-23 21:24] BrennanConroy commented on #2322
Move to dnvm repo please

[2015-07-23 21:24] #2322 closed

[2015-07-23 21:25] BrennanConroy commented on #2321
Move to dnvm repo please

[2015-07-23 21:25] #2321 closed

[2015-07-23 21:27] BrennanConroy commented on #2318
Fixed in dbbac90b850ac5f329167e89c3a88b8e868b22f8
Use a different dnx version for now or wait until a new build is out.

[2015-07-23 21:27] #2318 closed

[2015-07-23 22:10] BrennanConroy commented on #1793
I don't think so. We have an email thread with them.

[2015-07-23 22:12] BrennanConroy commented on #1704
https://github.com/projectkudu/kudu/issues/1623 (Read architecture and runtime from global.json) [fixed]

[2015-07-23 22:15] troydai commented on #2312
If the scope of the problem is limited to "Allow a different project reference name to be used other than folder name". The solutions are simple:

__Solution 1.1__

_Move the folder name to a "localName" property and assign the new name as the key of the reference._

[code]

__Solution 1.2__

_Load in dependency project's project.json and use "id" or other property to determine the actual name. Do

[2015-07-23 23:23] muratg commented on #1298
@CarlosFreire what's the dnx version that you're using? Can you try a build newer than 12265?

[2015-07-23 23:32] cherrydev commented on #1912
Ahh, found this before making my own bug report.  I guess this barely missed the mark for making into beta5 actual?  That's a shame, I had automatically re-running unit tests all set up and working in beta4!

[2015-07-23 23:41] muratg commented on #1793
Can we file a bug to track it and add the bug number to the list?  Thanks.

[2015-07-23 23:42] muratg commented on #2312
I like the second option, although I'm sure @davidfowl will have some (probably reasonable) perf concerns.

[2015-07-23 23:51] victorhurdugaci commented on #1855
Just FYI, there is not such thing as `Microsoft.Framework.Runtime.Compilation`. There is only `Microsoft.Framework.Runtime.Caching` which contains `Microsoft.Framework.Runtime.Compilation.xproj`

[2015-07-23 23:56] troydai commented on #2312
Proposal 1: Lock file based project reference map

The motivation behind this change is to allow referencing different projects under folders with same name. With that been said, when referenced projects are indeed identical or different version/iteration of same projects the ambiguous should still be treated as an exception.

Key pillars:

__Project Name__
Refine the concept of project name. Add

[2015-07-24 00:11] halter73 opened #2329 "Dnu wrapping a class library targeting an incompatible framework version gives unclear error"
Trying to add a project reference to a classic 4.5.2 or 4.6 class library from a dnx451 project fails with an unclear error message.

Repro steps (All using VS 2015 RTM w/ WTE beta 6):

1. Create a new ASP.NET 5 beta 6 application (I used the default web application template)
2. Add a classic class library project to your solution (This defaults to framework 4.5.2)
3. Add a reference to the class

[2015-07-24 00:37] moozzyk opened #2330 "Path in dnx should not be sensitive on windows"
If my app is in folder HelloDNX and I run: `dnx -p Hellodnx run` I get this:

[code]

This is a bit unexpected since -p indicates path to a project and paths on windows are case insensitive. Also throwing the stack trace at the user's face is a bit scary (and I don't think the stack trace is actually very helpful to the user).

[2015-07-24 01:32] tinganho opened #2331 "Why specify path when running dnx command?"
I'm just curious why I need to specify the path everytime I run `dnx`? Like `dnx . kestrel`. Why not just `dnx kestrel`?

[2015-07-24 01:40] smbecker commented on #2331
I think that's the point of these two pull requests

https://github.com/aspnet/dnx/pull/2263
https://github.com/aspnet/dnx/pull/2316

[2015-07-24 01:44] tinganho commented on #2331
@smbecker thanks.

[2015-07-24 01:44] #2331 closed

[2015-07-24 03:08] moozzyk commented on #2331
Yes!

[2015-07-24 03:46] tinganho commented on #248
I'm still getting this error in your MusicStore application: https://github.com/aspnet/MusicStore/issues/514

[2015-07-24 07:50] borgdylan commented on #2320
Ping

[2015-07-24 08:15] Mpdreamz opened #2332 "Split project.lock.json into *.lock.json and *.cache.json"
I've read [this gist on checking in project.lock files](https://gist.github.com/brunomlopes/97b433593d61e5481788) a couple times over and I really feel the current locking design feels optimized for the wrong scenario: finding breaking changes in moving targets.  Whereas the more important default scenario should be repeatable builds.

To the best of my understanding the current project.json.lock

[2015-07-24 09:11] Kieranties opened #2333 "DNX always chooses the highest framework"
**Scenario**: I have a console application that may be ran in both dnx451 and dnx46

When running `dnx . run` the application is always ran as a dnx46 application.  In the code base there has been an explicit decision  to always run against the highest discovered framework version: https://github.com/aspnet/dnx/blob/90d2bdb75f4576ed4eff4be6511c3011b47d0cad/src/dnx.clr.managed/DomainManager.cs#L97

[2015-07-24 09:24] davidfowl commented on #2333
This is actually part of the intended design. You should be able to pass in the framework for quirking and compilation on the command line.

/cc @anurse

[2015-07-24 09:30] davidfowl commented on #2320
Are you asking about loading or compilation?

[2015-07-24 09:35] Kieranties commented on #2333
@davidfowl It's still to do then?

[2015-07-24 09:38] davidfowl commented on #2333
Yes

[2015-07-24 09:40] borgdylan commented on #2320
I am asking about both. I experienced the issue while trying to compile some C#. I replicated the issue with my compiler (that spews a file with the references) and noticed that the facade was referenced by mistake. I ended up deleting the facade from the installation directory to get stuff compiling.

[2015-07-24 09:49] Kieranties commented on #2333
Super!

[2015-07-24 10:03] borgdylan commented on #2320
Given this project file for a project named 'useless':
[code]

I get the following passed in (list of references are as the DNX gives them to me):
[code]

[2015-07-24 10:04] borgdylan commented on #2320
In line 2 I expected ```#refasm "/usr/local/lib/mono/4.5/System.IO.Compression.dll"```

[2015-07-24 10:08] borgdylan commented on #2320
I have checked that the non-facade Sys.IO.Compression does exist on disk at that location.

[2015-07-24 10:17] radenkozec opened #2334 "Build error : The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0"
I am getting this error: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0
when I try to build .NET Core Class Library Project.

My project.json:

    "dependencies": {
    "Heu.Model": "1.0.0-*",
    "Microsoft.Framework.Configuration.Abstractions": "1.0.0-beta5",
    "Microsoft.Framework.Configuration.Json":

[2015-07-24 10:59] davidfowl commented on #2333
/cc @muratg this needs to go into beta7

[2015-07-24 11:27] davidfowl commented on #2334
Under dnx451 add:

[code]

[2015-07-24 12:27] radenkozec commented on #2334
@davidfowl Thanks. It seams that helps but now I am receiving another issue:

I have tried to move "System.Data.Common": "4.0.0-beta-23019" to dnxcore50 with no success...

[2015-07-24 12:55] davidfowl commented on #2334
Move these all to dnxcore50:

[code]

and remove dotnet

[2015-07-24 13:41] radenkozec commented on #2334
@davidfowl I cannot remove dotnet because I need to consume this class library from both classic .net framework project and ASP.NET 5 project.
Even If I remove dotnet section and move these all to dnxcore50 I am getting exception:

I am working with ASP.NET 5 from CTP6 and always have problems with resolving these kind of issues.

[2015-07-24 16:13] moozzyk commented on #2333
Related to #1970. We need to find a way passing arguments (this, DNX_DEFAULTLIB, OS, architecture) to the app domain manager without using environment variables.

[2015-07-24 16:25] troydai commented on #1103
Can't repo. Need to confirm with @PradeepKadubandi if this is still an issue.

[2015-07-24 16:39] moozzyk opened #2336 "Servicing follow up items"
- [x] we should not fallback to ProgramFiles if DNX_SERVICING is set
    - [x] +Helios
- [x] when DNX_SERVICING is set it must point to a location that contains a readable index.txt file or the application will not run
    - [x] +Helios
- [x] do not allow using network shares in DNX_SERVICING variable
    - [x] +Helios
- [x] if reading the index.txt fails (sharing violation etc.) we should retry a

[2015-07-24 16:43] muratg opened #2337 "Implement DNX acquisition story"
- [ ] MSI for Windows (cc @joeloff)
- [x] DMG/PKG for OSX
- [ ] Automate Man and Changelog pages
- [ ] Signing PKG
- [ ] Linux installers (.deb, more?)
- [ ] Signing Deb

[2015-07-24 17:11] anurse commented on #1855
Oof. We should reconcile those names. Use `Caching` as the name since it looks like it only contains Caching stuff.

[2015-07-24 17:13] anurse commented on #2312
This is my biggest concern but I don't see a better way if we want to support this.

Looks like a reasonable first pass at design to me. We'll discuss in the meeting :+1:

[2015-07-24 17:22] troydai commented on #2312
I'm not absolutely sure about the `path` in locks file, either.

[2015-07-24 17:23] anurse commented on #2290
Now just waiting on Common build 10608 to pass Coherence

[2015-07-24 17:27] muratg commented on #2336
@victorhurdugaci will be helping with some of the items.

@joeloff we'll need to create an MSI to test servicing E2E in the Beta 7 milestone.

[2015-07-24 17:51] muratg commented on #2332
@davidfowl

[2015-07-24 18:12] anurse commented on #1149
I'm not seeing an exception (at least not any more), when I do the following

[code]

Note that unlike the original example, the `bin` property actually has to be a **peer** to `dependencies`, not a child node.

I'm going to close this since it looks like it has been fixed or isn't reproducible any more. Feel free to re-open if you're still encountering this issue!

[2015-07-24 18:12] #1149 closed

[2015-07-24 19:53] anurse commented on #2332
Note: We need to be extremely careful what we do here now that NuGet 3 and MSBuild for UWP apps are using `project.json` and `project.lock.json`

[2015-07-24 21:27] MattGal commented on #1149
It definitely fails much more nicely now.

[2015-07-24 21:54] MattGal opened #2339 "Upgrading / Downgrading package versions on ASP.NET 5 Class libraries doesn't cause package restore."
Originally filed in [this Nuget issue](https://github.com/NuGet/Home/issues/990) but they suggest this is a DNX issue.

Basically, when you upgrade or downgrade using Nuget UI the packages referenced in a ASP.NET 5 class library, package restore never happens.  The .json is updated correctly, and on explicit restore it does work.

Interestingly, adding a new package in this scenario DOES kick off

[2015-07-24 23:12] dougbu commented on #2325
This problem is more general than that one-liner. Help for `dnu sources` has a number of issues:
1. Output of `dnu sources --help` mentions "Use "sources [command] --help" for more information about a command." but does not list any (sub-)commands. Where should the user go from here?
2. `dnu sources get --help` (should you be so lucky as to discover that sub-command) doesn't work. Instead it throw

[2015-07-25 02:57] wholroyd opened #2342 "The project.json beta5/beta6 schemas are missing properties from beta4"
According to https://github.com/aspnet/dnx/issues/45, it appeared that at one point the `project.json` file wouldn't do anything that the `.nuspec` file did. About a year later in  https://github.com/aspnet/dnx/issues/1302 it seems there was a change in heart and those NuSpec properties were added in.

It looks like they are defined in the [beta4](http://json.schemastore.org/project-1.0.0-beta4) s

[2015-07-25 04:03] davidfowl commented on #2342
Everything possible in the nuspec should be possible in project.json. It is indeed a replacement when dealing with dnx/xproj projects.

[2015-07-25 05:41] NoralK opened #2343 "Failed to initalize runtime (80131522) on Beta6/Beta7 x64"
I received this error on a new clean installation.
Windows 7 Enterprise x64 - SP1 VM with UAC turned off (NO PATCHES)
.Net v4.5.2
PowerShell v4.0 x64
Internet Explorer 11 x64 with the patches it installs
Node.js v0.12.7 x64
VS Code v0.5.0

Environment Variable
[code]
Installed DNVM
[code]
Installed Beta6 x64 package by:
[code]
DNVM List
[code]
closed command prompt
opened command prompt
[code]
How

[2015-07-25 06:21] NoralK commented on #2343
I think this might be related.  I build a simple MVC project, compiles fine for Beta5, and I get this error:
[code]
Noral

[2015-07-25 08:11] IRooc opened #2344 "dnx folder web fails on beta7-12274 coreclr x64"
When you run dnx outside the web projectfolder you recieve this error:
[code]

So ```dnx websitefolder web``` fails but going into the websitefolder (c:\projects\test\websitefolder) and running ```dnx . web``` works fine.

I checked with clr and x86 runtimes but they fail also.
It worked correctly from outside the folder in the previous version 12264

EDIT: also fails on Mac with same runtime

[2015-07-25 08:23] ciznx commented on #2127
@cnblogs-dudu  What mistake did you make? I suffered the same problem when restoring my project...why didn't you write more detail about your solution?

[2015-07-25 08:42] cnblogs-dudu commented on #2127
@ciznx
It's a natural problem. Up to now, restoring packages from myget.org is always timeout in China.

[2015-07-25 10:49] davidfowl commented on #2344
/cc @moozzyk

[2015-07-25 12:13] ciznx commented on #2142
I also get this problem today. I am working on a Ubuntu 14 server, with mono 4.0.2 installed. I am working on an Azure VM located in "east Asia".
Unfortunately, the *nscd restarting* solution doesn't help with my case.
But from [a post writen by @cnblogs-dudu](http://www.cnblogs.com/dudu/p/4614842.html), I found a v3 nuget entry point, and after this source added to NuGet.Config, the DNU starts to

[2015-07-25 12:19] ciznx commented on #2127
@cnblogs-dudu Thank you for your reply.
Yes, I found it too that restring packages on a Linux from China will always timeout. (But how a Windows PC works perfectly...)
It's such a pity.

[2015-07-25 12:36] cnblogs-dudu commented on #2142
@ciznx
If `service nscd restart` does not work, try 'service nscd stop'.

[2015-07-25 19:08] NoralK commented on #2343
Some more information:

On clean installation of:
 Windows 8.1 Enterprise with Update x64 VM with UAC turned off (NO PATCHES)
 .Net v4.5.2
 Node.js v0.12.7 x64
 VS Code v0.5.0

I am able to compile both Beta6 and Beta7.

[2015-07-26 01:40] wholroyd commented on #2342
I'll submit a PR over in SchemaStore to fix the beta5 and beta6 file because they're missing.

[2015-07-26 02:06] Eilon commented on #2325
@dougbu Re 1. it does list a command `get`:

[code]

Getting help for that command does indeed crash, and that's obviously a bug, which you mention in 2. Please log a new bug for this (unless there's a dup).

I disagree with 3. because even if there's only one sub-command now, we need to think about adding future commands.

As far as the naming of `feeds` vs. `sources` that's a good point - please

[2015-07-26 02:15] dougbu opened #2347 "Getting help for `dnu feeds` and `dnu sources` sub-commands doesn't work"
1. Execute `dnu sources get --help` or `dnu feeds list --help`

Expected: Displays useful information about this sub-command.
Observed: Command throws a `System.Exception: TODO: Error: unrecognized argument '--help'` and shows a useless stack trace.

[2015-07-26 02:19] dougbu opened #2348 "`dnu feeds` should be renamed `dnu sources`; `dnu sources` should be renamed something else"
A command named `dnu sources` should do what `dnu feeds` does today. Changing NuGet terminology while in the midst of a grand unification is counter-productive.

I'd expect a command such as `dnu fetch-sources` to do what the current `dnu sources get` does today.

[2015-07-26 02:20] dougbu commented on #2325
:ok: new issues
- for 2.: #2347
- for naming side issue: #2448

[2015-07-26 03:35] davidfowl commented on #2342
Thanks!

[2015-07-26 03:46] victorhurdugaci opened #2349 "Expose the repository information used by dnu sources"
Glimpse might use that information. From here: https://github.com/aspnet/Announcements/issues/46#issuecomment-124931622

Maybe expose it as a `Dictionary<string, string>`?

[2015-07-26 04:11] avanderhoorn commented on #2349
Thanks!

[2015-07-26 19:04] dougbu opened #2350 "`dnu sources get` should not unconditionally result in `global.json` reference to cloned repo"
Copied from aspnet/Tooling-Internal#429 because it's DNX that changes `global.json`.

Changing `global.json` should be an off-by-default option. When on, the result is permanent changes to the solution file, at best longer package restoration and builds, and at worst failed builds.

I expected `dnu sources` to do what its help says -- "Retrieves the source code for packages used by projects". Then

[2015-07-26 20:23] Jonas82 commented on #2016
Running beta5 I get the same issue when publishing.

[2015-07-27 01:48] davidfowl commented on #2350
Yea no this isn't that feature. This is about getting source code that you can edit. Symbols is a whole different feature. Dnu symbols get or something

[2015-07-27 03:12] ChengTian opened #2351 ""Unable to resolve dependency" errors are duplicated during build"
https://github.com/aspnet/dnx/commit/2fb96f80d5b0c12059b54aa529a65afcfcffbd80#commitcomment-12356822

[2015-07-27 03:31] dougbu commented on #2350
My example was just to show debugging working _without_ changing the `global.json` file. The symbols part of it was only a detail.

The feature I expected is the one that just downloads the source matching a reference in a given project.

If that's the case, why change the current solution? The downloaded repo comes with its own `.sln` file, at least if it's one of the aspnet repos.

[2015-07-27 04:40] ChengTian opened #2352 ""dnu publish" should restore for wrapper projects before building them"
@davidfowl

Today when doing `dnu publish`, we implicitly "no-source" wrapper projects. That is, for a `project.json` wrapping a csproj, we always build nupkg from it, no matter `--no-source` option was given or not.

However, there is no `dnu restore` being done before we call `dnu publish`. So when you `dnu publish` a project referencing a wrapped csproj, building the wrapper project will be fai

[2015-07-27 04:44] ChengTian commented on #2016
@Jonas82 , thanks for reporting. The issue was partially fixed and the remaining part is filed at: https://github.com/aspnet/dnx/issues/2352

[2015-07-27 06:49] Eilon commented on #2350
SLN doesn't work outside of VS.

This is a general purpose DNX feature. It has nothing to do with VS, SLN, ASP.NET, GitHub, or anything else.

The purpose of this feature is to swap a NuGet reference with source code. That's literally all this feature does, and it does exactly that.

[2015-07-27 08:24] rkorsun commented on #1590
same here. Debian 7.8

[2015-07-27 11:31] sandeepbassi opened #2354 "TypeloadException VS CTP 2015, Windows 8"
I have dnx version 1.0.0-bet7-11762 and i'm using Microsoft.Net.Http.Client 1.0.0-beta6-10093 and i am encountering the below exception.

Unhandled Exception: System.TypeLoadException: Could not load type 'Microsoft.Fr
amework.Runtime.IRuntimeServices' from assembly 'Microsoft.Framework.Runtime.Abs
tractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.
   at Microsoft.AspNet.Hosting.We

[2015-07-27 12:16] simonech opened #2355 "Bad IL format when running on CoreCLR if project folder is named "coreclr" or "dnx""
i've been following the getting started tutorial (http://dotnet.github.io/core/getting-started/), but I'm facing an issue:
when I run on CoreCLR I get the error:

[code]

if I switch to the full framework it works fine.

These are the versions I installed

[code]

[2015-07-27 12:25] simonech commented on #2355
Same error happening also on  1.0.0-beta5       coreclr x86

[2015-07-27 12:31] simonech commented on #2355
Found the problem: my folder was named `coreclr`... renamed to `coreclrsamples` and now it works :)

[2015-07-27 14:39] davidfowl commented on #2354
You should update your packages to beta7 if you plan to use the beta7 dnx

[2015-07-27 14:39] #2354 closed

[2015-07-27 15:13] wholroyd commented on #2342
Why is the Id property from the NuSpec not used? Should it be?

One of the issues I'm having is trying to get the DNX packaging to produce a NuSpec with the proper ID set in it. It's supposed to take it from `project.Name`, but if the name is dotted, it somehow only uses the last octect. For example, if the project is something like `Company.Group.Library` it comes out as `Library` in the NuSpec.

[2015-07-27 16:03] Eilon commented on #2342
I'm guessing it's using the folder name and not the `id`. I believe there's a bug somewhere in this repro to allow the folder name to be different from the package id.

[2015-07-27 16:04] Eilon commented on #2342
I think I'm thinking of https://github.com/aspnet/dnx/issues/2312, but perhaps that's a slightly different issue...

[2015-07-27 16:12] wholroyd commented on #2342
You're right on the folder name, quick search and found this comment not matching up with following code.

https://github.com/aspnet/dnx/blob/master/src/Microsoft.Framework.Runtime/Project.cs#L139-L140

[2015-07-27 16:28] anurse commented on #2348
We had this exact discussion and decided `dnu feeds` was the better way to align these. /cc @davidfowl @muratg @yishaigalatzer

An anecdotal survey indicates that most people already call them NuGet Feeds.

[2015-07-27 16:53] #2308 closed

[2015-07-27 17:01] sandeepbassi commented on #2354
Hi David,

Could you please refer me to the package for Microsoft.Net.Http.Client that is compliant to beta7

Thanx
Sandeep

[2015-07-27 17:13] wholroyd commented on #2342
I think the original issues I wanted to cover are now complete, closing issue. Thank you @Eilon and @davidfowl

[2015-07-27 17:13] #2342 closed

[2015-07-27 17:22] muratg commented on #2350
Closing this one as by design.

[2015-07-27 17:22] #2350 closed

[2015-07-27 18:16] troydai commented on #2311
__Recognize analyzer assemblies in library__
* Add property to `LibraryExport` for analyzers
* Update `ProjectExportProviderHelper.GetExportsRecursive` to compile analyzers from the lock file.
* Feed analyzers list to `RoslynCompiler`

__Drive the analyzing process__
* Extract `DiagnsoticAnalyzer` from the analyzers references
* Update `RoslynCompiler` to create compilation with analyzer and get d

[2015-07-27 18:25] #1469 closed

[2015-07-27 18:26] anurse commented on #2311
Note: make sure that the analyzer assemblies are loaded in a separate `IAssemblyLoadContext`

[2015-07-27 18:29] ChengTian opened #2356 "Port more compatibility check from NuGet"
Proposed by @davidfowl :

So we need to port some NuGet codez

https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Commands/CompatilibityChecker.cs#L76
to solve issues like these:

https://github.com/aspnet/Tooling-Internal/issues/420

Wei actually ported some of this logic already but we need to go further. The sad part is, having some of this logic actually shows that our default class library te

[2015-07-27 18:33] muratg commented on #2355
@troydai

[2015-07-27 18:36] anurse commented on #1970
Also the framework name selected using the `--framework` switch specified in #2333. Right now I'm going to be using `DNX_FRAMEWORK` to do this.

This one might be tricky since it needs to get to the Domain Manager. Possibly a P/Invoke callback could be used?

[2015-07-27 18:41] wholroyd opened #2357 "Defining alternative NuGet feeds for DNU"
According to the [ASP.NET wiki](https://github.com/aspnet/Home/wiki/Configuring-the-feed-used-by-dnu-to-restore-packages), the config files are per-machine. What is the proper way to do this per-project or per-solution?

[2015-07-27 18:42] sandeepbassi opened #2358 "Unable to update Microsoft.Net.Http.Client from 1.0.-beta 6 to beta -7"
I am encountering the below exception and found that dnx is pointing towards 1.0.0-beta7-11762, however Microsoft.Net.Http.Client is still referring to 1.0.0-beta6-10093

I tried updating the references but unfortunately all the references updated except Microsoft.Net.Http.Client.

Any help appreciated on how to move Microsoft.Net.Http.Client to beta 7.

Below is the exception i am encountering be

[2015-07-27 19:03] anurse commented on #2357
NuGet actually walks up from the current directory up to the root of the drive searching for NuGet.Config files, so you can place a NuGet.Config file next to your project.json or at a higher folder to affect only projects/solutions in or below that folder.

[2015-07-27 19:03] #2357 closed

[2015-07-27 19:09] #1150 closed

[2015-07-27 20:23] ChengTian commented on #2352
I suggest that we restore during `dnu publish` instead of `dnu wrap` because only the publishing scenario needs a lock file.

[2015-07-27 20:34] MisterJames commented on #2329
@halter73 Agreed, this was a bit of a rabbit hole to figure out.

Also, what about for class libraries on 4.6? And how does one source a list of compatible frameworks?

[2015-07-27 21:19] rowanmiller commented on #2107
+1 for this. This actually seems to have got worse recently too. I used to be able to have a NuGet.config in my folder structure that had relative paths, provided I cleared the sources for the one in my dnx project. But now it errors out if any of the config files it finds have a relative path, even if those relative paths are later cleared from the source list.

[2015-07-27 21:50] kpocza opened #2360 "dnu publish - runtime identification issue"
There is a pet project (an IoT platform) of mine: https://github.com/kpocza/thriot/tree/aspnet5
This branch (which is for porting to ASP.NET 5) has several ASP.NET 5-based REST API projects like "Service\Messaging\Thriot.Messaging.WebApi" and many other ending with WebApi.

default/active runtime: dnx-clr-win-x64.1.0.0-beta6
global.json, project.json files can be seen in the above mentioned branch

[2015-07-27 21:59] anurse commented on #2107
Dupe of #1150

[2015-07-27 21:59] #2107 closed

[2015-07-27 22:00] anurse commented on #2107
This should be fixed in DNX versions higher than `1.0.0-beta7-12276` (not currently released to the `aspnetvnext` feed but coming soon)

[2015-07-27 22:06] muratg commented on #2181
@pranavkm will you be able to have a look at this one?

@Eilon for prioritizing with the rest of Pranav's items.

[2015-07-27 22:08] muratg commented on #2145
This is tracked here: https://github.com/aspnet/dnx/issues/2311

[2015-07-27 22:08] #2145 closed

[2015-07-27 22:08] davidfowl commented on #2107
Do relative paths still fail @anurse ?

[2015-07-27 22:17] anurse commented on #2107
No, they work in the upcoming fixed version.

[2015-07-27 22:34] troydai commented on #2311
Open questions:
1. Do we want to run all the analyzers in a closure to all the projects?
2. A switch to the analyzing?

[2015-07-27 22:43] davidfowl commented on #2311
Consider the impact on design time as well. He language service needs the list of analyzer assemblies

[2015-07-27 22:44] glennc commented on #2311
@davidfowl should either come to design meetings or stay on vacation.... ;)

[2015-07-27 22:46] lodejard opened #2361 ""build" dependencies should affect other projects through p2p dependencies"
For example, in a solution if project `A` depends on project `B`, and project `B` has a "build" dependency on package `C` and a "build" dependency on project `D`, then from the point-of-view of `A` the `B` project does not depend on `C` or `D`.

This makes p2p "build" on `B` works the same way as if it was a nupkg reference to package `B`.

[2015-07-27 22:49] davidfowl commented on #2361
Sounds good. Makes build for p2p deps sound like private dependencies

[2015-07-27 22:56] giggio commented on #2311
You also need to somehow allow users to enable and disable specific diagnostic ids. On .csprojs this is done through the Rules Editor window, I suggest this goes into project.json, on something like `compilationOptions`. Integration with the Rules Editor window (or a window that looks like it) is nice to have but not at all a "must have" IMO. Also, are you going to consider .ruleset files at all?

[2015-07-28 00:28] Eilon commented on #2181
@pranavkm please have a stab at this when you have a chance.

[2015-07-28 01:07] wholroyd commented on #2357
Thanks!

[2015-07-28 04:21] anurse commented on #2357
No problem at all!

[2015-07-28 16:23] AlekseyMartynov opened #2364 "Error loading System.Runtime.Serialization.Primitives with CoreCLR runtime after updating from beta5 to beta6"
Steps:

1. Switch to beta6/coreclr: `dnvm use 1.0.0-beta6 -r coreclr -p`
2. In Visual Studio 2015, create new Web Application with "No Authentication" option
3. Replace beta5 -> beta6 in project.json and global.json
4. Set runtime "coreclr" in global.json
5. Fix compilation errors by removing BrowserLink and `if(env.IsDevelopment())` branch in Startup.cs

Run the app:

     dnu restore
     dnx .

[2015-07-28 18:06] #1855 closed

[2015-07-28 18:27] muratg commented on #1253
@moozzyk

[2015-07-28 19:25] DamianEdwards commented on #2364
We believe that's caused by an issue with the JSON.NET package (https://github.com/JamesNK/Newtonsoft.Json/issues/618).

Can you try adding `System.Runtime.Serialization.Primitives ` to you project.json file directly?

[2015-07-28 19:41] MisterJames opened #2365 "Cannot Run MVC6 App with dnx46 as a Framework with Reference to 4.6 Library"
However, I am trying to use a project that was created with :
 1. Updated global.json
 1. Updated project.json (bumped all assemblies to Beta6)
 1. Deleted/regenerated project.json.lock
 1. Corrected EF errors (namespace moves, ValueGeneratedOnAdd, etc)
 1. Removed ErrorPageOptions.ShowAll from middleware config

The app runs at this point. But I have the need to consume a 4.6 library, so, I:
 1.

[2015-07-28 19:44] MisterJames commented on #2365
Looks like the wrap was correctly generated:

[code]

Solution layout looks like the following:
![image](https://cloud.githubusercontent.com/assets/1197383/8941761/297a3088-3537-11e5-9c4a-da2da801c9e7.png)

[2015-07-28 20:35] muratg opened #2366 "DNU restore fails with V3 feed"
[code]

[2015-07-28 20:53] ChengTian commented on #2366
This was fixed before beta6 release: https://github.com/aspnet/dnx/issues/2291

`1.0.0-beta6-12254` is not final beta6 build, please update your WTE, clear your `%userprofile%\.dnx\runtimes` folder and WTE should install `1.0.0-beta6-12254` as beta6 runtime for you

/cc @yishaigalatzer

[2015-07-28 20:53] #2366 closed

[2015-07-28 21:47] MisterJames commented on #2365
Closing because I have a way easier repro.

[2015-07-28 21:47] #2365 closed

[2015-07-28 21:52] jtbennett commented on #2343
I get the same error when deploying to an Azure web site via GitHub.  It's a one-page MVC app that works and deploys to Azure just fine using beta 5.  I changed all instances of "1.0.0-beta5" to "1.0.0-beta6" in global.json and project.json.  Global.json specifies "clr" and "x64". Azure website is set to x64. Project builds and runs fine locally (on OS X).

Here's the log file from the Azure deplo

[2015-07-28 21:55] MisterJames opened #2367 "After Beta 6 Install, New MVC6 Project Fails to Start with "Incompatible Runtime Target Framework""
I have installed Beta 6, dnvm is updated and `dnvm upgrade` has been called. My active/default runtime is 1.0.0-beta6. I installed the Visual Studio Beta 6 tooling and rebooted.

I create a new MVC 6 project in VS 2015. Run it...works.

I modify the project.json to the following:

[code]

When I save, all the packages happily restore. If I attempt to debug, I get a 500. I get the following error w

[2015-07-28 22:06] anurse commented on #2367
It's expected that you would see that issue in the web application scenario. There is a Known Issue that the VS Tooling has where it doesn't set an environment variable needed to tell IIS what to launch as. @danroth27 is working on documenting it. Until that is fixed in the tooling you can use the workaround I posted in this [StackOverflow question](http://stackoverflow.com/a/31687529/29813) to la

[2015-07-28 22:10] MisterJames commented on #2367
@anurse Thanks for looking into this.

When I run `dnx . web` from the command line work, not sure why I had used `run` (other than habit from console apps).

But, `dnx . run` does give the error above :) It's the same error message I get in the browser when I run without debugging.

I'm going to try your workaround now. Thanks again.

[2015-07-28 22:13] MisterJames commented on #2367
@anurse Setting the environment variable `DNX_IIS_RUNTIME_FRAMEWORK` to `dnx46` worked here as well.

I *knew* that there was something along these lines, because everything else seemed to align. Thanks for these tips.

[2015-07-29 04:11] victorhurdugaci opened #2368 "[ci] Darwin and Linux builds use non volatile dnx build"
The Darwin and Linux builds use the non volatile dnx build while the Windows one using volatile. It makes bootstrapping a pain because you have to manually update packages.

[2015-07-29 07:06] Tasteful commented on #2190
@davidfowl @roji Any news about this request?
In my situation I have about 20 projects in the solution that all should have the same version number when it is built so any progress regarding this will be lovely.

[2015-07-29 07:52] glatzert opened #2369 "DNX in VS will not reference .net4.6"
Probably I am missing something - but I see no chance to figure out what exactly:

The situation:
* ASP.NET Beta 6 Project (Frameworks: dnx46)
* Legacy Library Project (Targeting 4.6)

Referencing the Library Project from the ASP.NET Project will print the following warning - and lots of errors about references to the .NET4.6 Project:

[2015-07-29 08:54] AlekseyMartynov commented on #2364
@DamianEdwards yes adding this helps:

      "dependencies": {
        "System.Runtime.Serialization.Primitives":  "4.0.10-*"
      }

[2015-07-29 11:19] davidfowl commented on #2368
Does it require a change to the dnx source code? If not, then why file it here? We usually use universe for that

[2015-07-29 13:04] Jabe commented on #1704
Successfully deployed beta6 app to Azure after adding a global.json.

[2015-07-29 15:32] muratg commented on #1704
Thanks @Jabe!

[2015-07-29 15:32] #1704 closed

[2015-07-29 15:53] anurse commented on #2194
I'm going to need more context on this before I can do anything. @davidfowl does this App.config file need to be different for each framework (probably...)? Do we need to put anything in it or just have it there and point the SetupInformation at it so that configuration works?

[2015-07-29 16:25] MiguelAlho commented on #2190
Something that comes to my mind when considering this situation:

I'm a fan of the global version for the solution - normally changes are done in the context of a solution, builds in CI are in the solution's context, etc. So versioning at the solution makes it easy to relate changes to the set of projects as a cohesive unit. Cognitive load is reduced when managing the dependencies. Nonetheless, by

[2015-07-29 17:41] jods4 commented on #2194
I can speak for my use-case, which was what prompted @davidfowl to create this issue (but he didn't include the context).

I run ASP.NET 5 on top of IIS and .NET 4.6 (Core is not a target). In this context I use some libraries that rely on things found in `web.config` and can't be configured otherwise.

Example right from Microsoft: EF6 + Oracle. It _needs_ the Oracle provider to be configured in

[2015-07-29 18:29] anurse commented on #2194
Ah, that helps. Thanks!

[2015-07-29 20:48] Fosol commented on #45
It's my experience that don't include a half feature unless you provide a simple way to override it.  What's the simple way to configure what is packaged from our project?

How do I have the project build and place files to the output folder but lets me do the actual nuget package stuff?

[2015-07-29 21:33] borgdylan opened #2370 "DNU: Would it make sense to add an option where any new installed package gets AOT'ed when on mono?"
Similar to https://github.com/aspnet/dnvm/issues/345 , it may be useful to some people to run mono --aot on newly installed packages. I do not know if ngen can be called on any library. If yes this would be extensible to using ngen when on Windows. The main use case may be when using compilers that do not come with the DNX itself.

[2015-07-29 21:35] victorhurdugaci opened #2371 "[Announcement] Breaking DNX renames"
Discussions for https://github.com/aspnet/Announcements/issues/51

[2015-07-29 22:00] ChengTian commented on #1248
Our `FileSystemGlobbing` package doesn't support globbing directories. Although we can implicitly append ·/*/project.json·, this workaround leads to suboptimal performance that we want to avoid.

I filed an issue for adding directory globbing: https://github.com/aspnet/FileSystem/issues/118

[2015-07-29 22:46] anurse commented on #45
You can always use `dnu build` to compile assemblies and then use the traditional `nuget pack` command.

[2015-07-29 23:08] #2351 closed

[2015-07-29 23:55] NoralK commented on #2343
@danroth27 do you have any insights/thoughts to why this is happening?

[2015-07-29 23:56] avanderhoorn commented on #2371
I've just done the Beta6 VS update in my RC version of VS and now I'm getting a whole bunch of the following when I try and open my solution:

[code]

I'm running DNX 12290 and if I use dnx from the command line using weblistener the app still runs.

[2015-07-30 00:45] dmetzgar commented on #2129
@gazzyt I'm having the same problem. Where did you get a version of vcruntime140.dll that is built for onecore?

[2015-07-30 01:30] #2169 closed

[2015-07-30 01:53] aggieben commented on #1590
Are any of you running in a docker container?

[2015-07-30 02:47] NoralK commented on #2343
Sorry @danroth27 - I initially thought about sending this to you since you are on MVC but you were not a contributor on dnx.  I had already copied your name to the clipboard when I thought I had copied @davidfowl since he is on both projects.  Guess I needs better proofreaders.

David - do you have any insights/thoughts to why this is happening?

[2015-07-30 07:04] SamuelFisher commented on #1590
I'm having this problem using the microsoft/aspnet:1.0.0-beta5 Docker container

[2015-07-30 07:44] borgdylan opened #2372 "Package names from project.json should be normalized to match the actual package name (cross plat)"
When publishing the following message pops up:

[code]

I added the package but it will still not work due to the fact that the package is called ```Microsoft.Dnx.Compilation.CSharp.Common``` with the capital 'S' not with a lowercase 's'.

[2015-07-30 08:11] ganeshran commented on #1590
I tried both on a natively installed Linux and a VM. Same issue on both.

[2015-07-30 09:30] Kieranties commented on #2344
Just hit this issue with beta7-12290.  `dnx . test` works fine, `dnx .\test\Project.Tests test` fails when running from project root folder.

Last working dnx I have locally is beta6-12256

[2015-07-30 10:45] gazzyt commented on #2129
I found it in artifacts\bin\{ProjectName}\Release\Publish\approot\runtimes\dnx-coreclr-win-x64.1.0.0-beta6-12120\bin under my project folder.

[2015-07-30 13:48] kplett commented on #1590
@ganeshran Are you using Mono 4.3? I've experienced similar issues until I switched to Mono JIT compiler version 4.0.1 (tarball Mon Apr 27 01:00:48 PDT 2015).

[2015-07-30 14:19] ganeshran commented on #1590
@kplett i am using Mono 4.0.2.

[2015-07-30 14:49] MiguelAlho opened #2373 "Solution file based builds fail due to missing DNX props and target files"
This is similar to what is at https://github.com/aspnet/dnx/issues/2207

I ran in to this moments ago on my build server( TFS 2015 with the new build system). Building the projects in the repo is generally done through the solution file and the easy way to get to that is to use the MSBuild task. Since VS does create project (xproj) and solution files, it makes sense that it should work.

xproj fil

[2015-07-30 15:56] jods4 commented on #2367
I have exactly the same problem.
Running from the command line and `dnx . web` works.
Running in IISExpress from VS 2015 does not (with the exact error message above).
I tried to set the environment variable `DNX_IIS_RUNTIME_FRAMEWORK` to `dnx46` but it makes no difference at all. I checked that the env. variable is set properly using Process Explorer:
![capture](https://cloud.githubusercontent.co

[2015-07-30 17:49] victorhurdugaci commented on #2372
Is your project referencing the package with a lower case `s` or one of our packages?

[2015-07-30 17:50] stephenrjohnson commented on #1533
Has there been any movement on this, as I'm having to use nuget for this at the moment.

[2015-07-30 17:59] borgdylan commented on #2372
Initially I did not reference it all. I had to reference it just to carry out a workaround. The reference I added is with the upper case 'S' and thats the actual package name according to the myget feed.

[2015-07-30 17:59] #2333 closed

[2015-07-30 18:02] borgdylan commented on #2372
Publish is currently plagued by issues where I have to apply workarounds including the now 'normal' issue where  Package.1.0.0.0.nupkg is made while Package.1.0.0.nupkg is expected.

[2015-07-30 18:22] borgdylan commented on #2372
I think the case is that this package is needed while publishing and since the publish code was written on Windows, the spelling mistake went unnoticed. I am on Linux and the filesystem is 100% case sensitive!

[2015-07-30 18:25] matra774 commented on #2355
I had the same problem. Renaming folder helps.

[code]

[2015-07-30 18:28] victorhurdugaci commented on #2372
We should normalize the reference package names to match the original package name. cc @troydai @ChengTian

[2015-07-30 18:33] borgdylan commented on #2372
Also, remember that the package in question, was not referenced at the beginning with the error still happening. Something in the ASP.NET 5 package ecosystem has the bad reference.

[2015-07-30 18:34] #2290 closed

[2015-07-30 18:34] victorhurdugaci commented on #2372
I'll look for it

[2015-07-30 18:36] borgdylan commented on #2372
The violation is here https://github.com/aspnet/Mvc/blob/e96b4d7b94112fd087628544e3f9a3f1f3f3b08d/src/Microsoft.AspNet.Mvc.Razor/project.json

[2015-07-30 18:38] victorhurdugaci commented on #2372
thanks! will send a pr for it

[2015-07-30 18:54] anurse commented on #2367
Have you installed the Beta6 Tooling package? (see http://blogs.msdn.com/b/webdev/archive/2015/07/27/announcing-availability-of-asp-net-5-beta-6.aspx)

[2015-07-30 19:09] anurse commented on #2344
The current syntax for running in a different folder is `dnx --appbase [path\to\other\folder] Microsoft.Dnx.ApplicationHost run ...`.

We are **totally** aware that this suck and is bad and terrible and no-good :). See #2316 :)

[2015-07-30 19:10] anurse commented on #2344
Closing this as we basically cover the underlying issue in #2316 and the workaround above works for now. Feel free to continue discussion or re-open if you have further comments! :)

[2015-07-30 19:10] #2344 closed

[2015-07-30 20:08] jods4 commented on #2367
@anurse Yes I did.

[2015-07-30 20:29] shawnwildermuth opened #2375 "dnu.exe should support init to create a minimum project.json file"
To have parity with other projects, we should support an init call (dnu or other tool) to create a minimum project.json like "bower init", "npm init", and other tools do. Yeoman is great, but when you want full control, this would be a nice set of parity with other web toolkits.

[2015-07-30 20:43] anurse commented on #2375
I like this. It doesn't have to be a full template, just a base project.json.

[2015-07-30 20:50] ChengTian opened #2376 "Polish "dnu publish" output"
Reported by @DamianEdwards

![capture](https://cloud.githubusercontent.com/assets/1383883/8994074/fd8e17cc-36bd-11e5-83dd-b8487f663004.PNG)

The information in red rectangles should be removed, to make it less noisy and less confusing.

@muratg , I can work on this issue.

[2015-07-30 22:19] anurse commented on #2226
/cc @davidfowl @lodejard

I'm going to do this in phases (but all still in beta7, though some phases could be bumped if necessary for time).

## Phase 1

Split `LibraryExporter` out of `LibraryManager` (to match the interfaces), but keep it in the runtime. Also some small renames/renamespacing. Mostly just `Microsoft.Dnx.Compilation.Caching` -> `Microsoft.Dnx.Compilation\Caching` (i.e. rename the

[2015-07-30 22:55] aggieben opened #2379 "dnu restore fails with an exit code of 0"
Obviously things are better if dnu doesn't fail, but I have a `dnu restore` operation that is affected by #1590.  This happens during a CI-invoked docker build, but the build continues and creates an image (a broken one) because it doesn't know that `dnu restore` failed.  Here's why:

[code]

Can we get a non-zero exit code in the case of failures?

For anyone dealing with this same thing: my curr

[2015-07-30 22:56] goblinfactory commented on #1772
+1 for gitter

[2015-07-30 23:06] muratg opened #2380 "DNU should default to V3 feed instead of V2 if it can't find any feed"

[2015-07-30 23:26] anurse commented on #2379
:+1: any time we fail we should return a non-zero code

[2015-07-30 23:47] ChengTian commented on #2380
Updating title. Following previous behavior, the newly created NuGet.Config should always be empty. We should fallback to v3 feed directly, without writing it to disk first.

[2015-07-31 00:37] muratg commented on #2380
:+1:

[2015-07-31 00:46] NoralK commented on #2343
Hello ... anyone?

[2015-07-31 00:52] #2380 closed

[2015-07-31 02:19] ryanvgates commented on #2373
I'm experiencing a similar issue to what @MiguelAlho has pointed out.

As an aside, it's always been really frustrating when VS and msbuild did things differently like with the way that nuget packages are handled. I'm disappointed to see that this paradigm is moving forward with DNX as well.

[2015-07-31 03:16] JamesNK commented on #1894
What's the plan here?

I'd like to switch over. It would simplify my build scripts, reduce the likely-hood of errors such as https://github.com/JamesNK/Newtonsoft.Json/issues/618 and I could improve the features offered by Json.NET on vnext by using IL gen instead of expression trees for reflection.

[2015-07-31 08:08] max-vasin opened #2383 "Shared project resources"
Add support for sharing project embedded resources among multiple dependent projects (like "shared" project.json property for code files).

[2015-07-31 16:15] jods4 commented on #2367
@anurse My project was created in VS Code before VS 2015 RTM, so I figured that maybe there was
some default value somewhere in the official template that I hadn't gotten right.

And with a brand new ASP.NET project created from VS it worked.

So I spent a lot of time trying to figure out what was different... not much! In the end, inside `project.json` I changed all my references from `X.0.0-beta

[2015-07-31 16:41] anurse commented on #2367
Ah yeah, I think there is a small issue there that `beta6-*` means you'll only get releases from the dev feed (because the released version is `1.0.0-beta6` which is treated as **lower** than `1.0.0-beta6-[anything]`). We've talked about adjusting our versioning scheme to try and make that easier, but for now it's just something to be aware of.

So, it sounds like you've figured out what was wrong

[2015-07-31 16:41] #2367 closed

[2015-07-31 17:05] anurse commented on #1894
I think we can do this. It's just a matter of expanding our set of known frameworks and reference assembly folders. I'll leave it to @muratg to schedule, but we can try to do it in beta7. It may not make it, but I think it'll be fairly straightforward so I'm OK trying to take it on for b7.

[2015-07-31 17:49] glennc commented on #2379
@ChengTian I am assuming this is a fairly trivial fix. Let me know if that's not the case.

[2015-07-31 17:52] glennc commented on #2375
We've talked about this a whole lot, but never actually implemented it. I wouldn't be against it, but I don't know that it fits into the roadmap for 1.0 as it stands right now. If someone wanted to grab this and work through the design of it with us we would probably accept it though :).

[2015-07-31 17:54] glennc commented on #2373
@sayedihashimi What do you think the right way to go about fixing something like this is? Is what we have right now as good as it gets or would a NuGet package or something make sense?

[2015-07-31 17:57] danroth27 commented on #2343
@glennc

[2015-07-31 18:07] ChengTian commented on #2356
@davidfowl @anurse @Eilon

Adding more explanation before I send out PRs to fix a bunch of `project.json` in our repos:

**Compatibility check we are adding here**
For some CoreCLR packages (e.g. `System.Globalization.4.0.0-beta`), they provide dnxcore50-compatible assemblies for compile-time in `ref` folder (e.g. `ref/dotnet/System.Globalization.dll`), but they don't provide run-time assemblies f

[2015-07-31 18:17] mpseidel commented on #1590
having the same issue when trying to run inside docker on digitalocean (german datacenter) following this tutorial http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx

building and running a node container with an express app only takes a few seconds in the same environment

[2015-07-31 20:10] git-naili opened #2384 "DNX can't execute windows service application using mono runtime"
I have a windows service application. It's running perfectly on linux ( ubuntu 14.04.2 ) using the command mono-service . Which seems impossible for dnx. The execution fails always with the mono error message :

<b> Use mono-service to start service processes </b>

[2015-07-31 20:52] yhax opened #2385 "Issue upgrading from beta 5 to beta 6 with System.Runtime"
I am trying to upgrade my solution to beta 6. I did a dnvm upgrade, as well as a dnvm update-sellf.

Active Version           Runtime Architecture

------ -------           ------- ------------
       1.0.0-beta5       clr     x64
       1.0.0-beta5       clr     x86
       1.0.0-beta5       coreclr x64
       1.0.0-beta5       coreclr x86
       1.0.0-beta5-12103 clr     x86
  *    1.0.0-beta6

[2015-07-31 21:10] troydai opened #2386 "[Research] Should the emit methods in IMetadataProjectReference be async?"
Some of the methods called in `RoslynProjectReference.EmitAssembly` is async. For example:
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs#L67

[2015-07-31 22:00] ericstj opened #2387 "DNX does not select a runtime or resolve runtime assets"
Packages can have runtime specific assets.  Currently our .NET packages define a set of runtime IDs with a heirarchy that are used by our packages.  This works fine for UWP, PCL, and Desktop where the MSBuild task uses an active RID when resolving runtime assets, but not on DNX.

This is going to become even more important as we use the RID more in the upcoming release to distinguish between linux

[2015-07-31 22:07] anurse commented on #2387
Going to capture some of the results of our previous design discussions on this:

1. DNX will have a built-in "runtime.json" that will define DNX-specific runtime IDs. For example `dnx-win8-x64`, `dnx-linux-x64`, etc. These will inherit from base RIDs to join in the general RID ecosystem

2. At runtime, it's pretty clear what RID we are using. OS Version detection might get a bit tricky, but at th

[2015-07-31 22:12] ChengTian commented on #2379
I cannot reproduce this with
`dnx-mono.1.0.0-beta7-12290` on `Mono JIT compiler version 4.0.1` (and simulating HTTP request timeout with some bandwidth throttling tools)

Also tried `dnx-mono.1.0.0-beta6`, `dnu restore` returns 1 after timeout error.

@aggieben , could you please try the latest version of dnx by running `dnvm upgrade -u`?

[2015-07-31 22:24] MattGal opened #2388 "Cannot run a DNX Web project from VS without dnx451 (beta6), or at all on beta5: gives strange build # in error."
I'm seeing two peculiar issues here.  These may be related to the automatic choices made when selecting runtime due to what Eric describes in issue #2387

1) On VS 2015 RTM bits:

- Web Tools Extensions (WTE) includes all needed beta5 stuff, and all the packages I could find from it are non-timestamp.
- If I create a new beta5-templated web project, simply change the frameworks entry from dnx451 t

[2015-07-31 22:30] davidfowl commented on #2388
/cc @anurse This is a known issue

[2015-07-31 22:31] MattGal commented on #2388
Any workarounds?

[2015-07-31 22:59] anurse commented on #2388
Re 1, `dnx452` is not supported on `beta5`. The version number is expected, every DNX build has a build number, regardless of the actual version number, and we keep the build number in when reporting that version so that it's clear what build is in use.

Re 2, This is due to IIS starting up before DNX has a chance to set the framework version. We have a VS feature coming to smooth this out, but fo

[2015-07-31 23:03] anurse commented on #2388
I think these issues are resolved (and related issues are tracked). Please re-open if you are still seeing issues.

[2015-07-31 23:03] #2388 closed

[2015-07-31 23:05] MattGal commented on #2388
Glad there's a workaround, but can you clarify why I see beta5/beta6 versions with timestamps attached when hitting either issue?  Seems as if a non-final package were being used when doing this despite trying to keep my machine clean with "final" beta5 + 6 bits.

[2015-07-31 23:11] wholroyd opened #2389 "DNU has a nasty exception stack on failure to restore package due to timeouts"
As seen in the gist https://gist.github.com/wholroyd/00644841a8d5fc000beb for my https://github.com/wholroyd/fake-dnx project.

While I get there are so many retries you could do until it's just not worth it anymore, the exception stack is horrible and could use a better message in it's place. The number of packages it tries to download all at once I wish was smaller. Lower bandwidth, unreliable n

[2015-07-31 23:14] davidfowl commented on #2389
What mono version?

[2015-07-31 23:22] wholroyd commented on #2389
The one defined in the microsoft/aspnet docker image tagged latest for beta6 - appears to be based on mono:4.0.1.

Also if you notice in the gist, some of the packages that had timed out were previously and successfully retrieved, but it attempts to retrieve it again. For instance, look at the Microsoft.AspNet.Diagnostics* packages. I think it would be more efficient to use what was already retrie

[2015-07-31 23:30] davidfowl commented on #2389
This bug is a dupe of other bugs:
- https://github.com/aspnet/dnx/issues/452
- https://github.com/aspnet/dnx/issues/1590

If the versions are not wildcarded that that's the case. If you use * then it'll always try to hit your configured feeds to find the latest package.

[2015-07-31 23:30] #2389 closed

[2015-07-31 23:36] wholroyd commented on #2389
I did not see those, thanks!

[2015-08-01 06:28] anurse commented on #2388
Are you seeing **packages** with the timestamped versions or just the error message you showed above? The latter is not because it's "unreleased", the final version still has a timestamp and we leave it in those errors to ease bug reporting. If `dnvm list` says you're running `1.0.0-beta6` or `1.0.0-beta5`, then you should be on the final release for that preview, regardless of that version number

[2015-08-01 15:10] davidfowl commented on #2235
This is pretty important to do. Any exception that happens before the application boots up shows:

![image](https://cloud.githubusercontent.com/assets/95136/9022279/b28c7d14-3824-11e5-8270-b14b513a7c5d.png)

[2015-08-01 16:22] Eilon commented on #2388
No current plans to change the version strategy...

[2015-08-01 20:45] dromanchenko opened #2390 "Setting the version to 1.0.0.0 makes dnu throw a FileNotFoundException"
I am getting this when setting the version to 1.0.0.0 in project.json:
...
Microsoft .NET Development Utility CLR-x86-1.0.0-beta6-12256
Copying to output path C:\Users\Dima\AppData\Local\Temp\PublishTemp
System.IO.FileNotFoundException: Could not find file 'D:\Projects\My\Test\src\TestProject\bin\Release\TestProject.1.0.0.nupkg'.

It seems dnu not picking up the last zero from the version number a

[2015-08-01 21:55] JamesNK opened #2391 "Types from an indirect dependency creating conflicts."
For some reason types from a dependency that I'm not directly referencing - System.Reflection.TypeExtensions - are accessible in my project and are generating conflicts with my own types with a matching name. Is this new behavior? I don't remember having this problem in the past. I'm using beta 6.

---

I'm referencing Microsoft.CSharp. Microsoft.CSharp references System.Reflection.TypeExtensions.

[2015-08-01 23:19] mikeandersun opened #2392 "Could not load file or assembly 'Microsoft.Dnx.Host.Clr' or one of its dependencies."
After update package to last version on https://www.myget.org/gallery/aspnetvnext I get this error during running the project!
What is my mistake? Is there any breaking changes?

Could not load file or assembly 'Microsoft.Dnx.Host.Clr' or one of its dependencies. The system cannot find the file specified

Thanks in advance

[2015-08-01 23:56] aggieben commented on #2379
Hmm, I also can't reproduce this when simulating timeouts.  However, whenever the restore fails as in #1590, the exit code is 0.

[2015-08-02 00:02] MisterJames commented on #2376
@ChengTian I could take this one if you're open to it.

[2015-08-02 00:06] aggieben commented on #1590
I feel inclined to think this is a problem with Mono's `ThreadPool` implementation.  Setting `MONO_THREADS_PER_CPU` to a high number (say, 2000) allows previously problematic restores to succeed.  Here are the `ThreadPool` defaults: `ThreadPool, Min/Max Threads: {worker: 200, io: 4}/{worker: 200, io: 8}`.  With `MONO_THREADS_PER_CPU=2000`: `ThreadPool, Min/Max Threads: {worker: 200, io: 4}/{worker

[2015-08-02 02:52] anurse commented on #2392
Have you also updated your DNX to `1.0.0-beta7-12290` or higher? There were some breaking changes (announced here: https://github.com/aspnet/Announcements/issues/51) in the DNX runtime. Try running `dnvm upgrade -u default` to get the latest version from the dev feed.

If you are running a recent DNX and still having this issue, please re-open this to comment further, but upgrading the DNX should

[2015-08-02 02:52] #2392 closed

[2015-08-02 06:19] Eilon commented on #2390
NuGet uses SemVer, which has only 3 segments: http://semver.org/

Having said that, there should be a proper error for this.

[2015-08-02 12:21] borgdylan commented on #2390
This is due to the new versioning code which requires the fourth number only if it is not zero. Set it to 1.0.0 instead and you will no problems publishing etc.

[2015-08-02 16:09] jasonwilliams200OK commented on #442
@davidfowl, does this mean we will have support for tilde (`~`) and circumflex accent (`^`) etc. like npm in dnx world sometime in future? Is there an issue tracking it?

From npm docs - https://docs.npmjs.com/files/package.json#dependencies:

* version Must match version exactly
* >version Must be greater than version
* >=version etc
* <version
* <=version
* ~version "Approximately equivalent to

[2015-08-02 16:10] davidfowl commented on #442
It's possible but no promises for v1. NuGet v3 supports putting * anywhere in the version and we'll adopt that logic in dnu so 1.*, 1.0.* will be possible at some point.

[2015-08-02 16:21] davidfowl commented on #2391
Can you make a repo project? It's hard to know what conflict means without seeing version numbers and compilation errors.

[2015-08-02 16:31] jasonwilliams200OK commented on #442
Thanks. The npm folks added every possible option in there. If NuGet and dnx go with the same approach, it may be left some corner cases little buggy (hard to test all possibilities without community feedback), but over time reliability can be assured. While going about it the most defensive way as always (hesitate adding new stuff) only slows down such enhancement opportunities IMO.. and it will

[2015-08-02 19:53] anurse commented on #2390
We should still be properly normalizing input. You should be able to type `1.0.0.0` in any input field (version number in project.json, dependencies, etc.) and we should normalize it to `1.0.0`

[2015-08-02 20:10] borgdylan commented on #2390
Currently if I do not type 1.0.0 i get many issues on publish. i ended up normalizing them by hand as it was getting too tedious to publish apps.

[2015-08-02 20:38] mholo65 commented on #2375
What should be supported? How should it work?

1. Should it be interactive, should it accept params? Or both? (-i / --interactive)
2. Should it also support generation of global.json file? (-g / --global)
3. Should it support modifying an existing project.json/global.json? I.e. try to load if exist in dir?
4. What should be modified? Version, Authors, Description?
5. Default frameworks? dnxcore50

[2015-08-02 22:58] JamesNK commented on #2391
What I'm seeing is types from System.Reflection.TypeExtensions being available in a project even though it is not a dependency. A new default class library references Microsoft.CSharp. System.Relfection.BindingFlags resolves even though System.Reflection.TypeExtensions is not a dependency.

[2015-08-02 23:00] davidfowl commented on #2391
Dependencies are transitive by default.

[2015-08-02 23:01] davidfowl commented on #2375
This shouldn't be a dnu command but instead should be a standalone global command.

[2015-08-02 23:06] JamesNK commented on #2391
Isn't that dangerous? If Json.NET depends on System.ComponentModel.TypeConverters and an application or library depends on Json.NET and uses TypeConverters without directly depending on it, what happens if I then remove the dependency to System.ComponentModel.TypeConverters? Won't the application now fail to compile and break?

[2015-08-02 23:08] davidfowl commented on #2391
Dangerous? It's the way nuget always worked. When you install a package today you get the full closure added to your project. It's no different with `project.json`. That said, there is a plan to allow for private dependencies but it's not implemented as yet and probably won't be for v1.

[2015-08-02 23:20] JamesNK commented on #2391
Today a dependency's dependency will explicitly be added to a csproj's references and packages.config.

e.g. PayPalCoreSDK uses Json.NET. Adding the PayPal package will add both the paypal and Newtonsoft.Json dll to the csproj's references and packages.config

If PayPal stops using Newtonsoft.Json in a future version, upgrading to the newer package won't remove Newtonsoft.Json from the csproj or p

[2015-08-02 23:32] davidfowl commented on #2391
Correct, assemblies are non transitive but the act of installing via nuget will make it transitive. In the project.json world, this happens by default by just referencing the top level dependency.

It will if no other package is using Newtonsoft.Json.

That's correct. If the application didn't depend on Newtonsoft.Json directly, it will break.

[2015-08-02 23:42] JamesNK commented on #2391
Doesn't it prompt you? I just tested uninstalling and I got a prompt asking whether to also uninstall Newtonsoft.Json.

That seems pretty dangerous. Any app or library that uses BindingFlags out of TypeExtensions but doesn't have an explicit dependency would break if Microsoft.CSharp was refactored to no longer depend on it.

[2015-08-03 01:52] anurse commented on #2375
I disagree for simple project.json scenarios. Complex templating and scaffolding should be separate but almost all other package managers/build tools have been successful with a simple initialization system (`npm init`, Maven Archetypes, `cargo new`, etc.). Initializing a simple new project shouldn't require a completely separate set of tools.

I like `cargo`'s approach to this (http://doc.crates.

[2015-08-03 01:53] anurse commented on #2390
@troydai Hey look, more normalization issues :P

[2015-08-03 09:34] weitzhandler opened #2393 "Preprocessor directive to determine if current compilation is DNX?"
Hi,

Is there a preset flag that determines if current compilation is under DNX?

I tried `#if dnx451` but it didn't seem to be set.

[2015-08-03 10:16] smbecker commented on #2393
The directives are in all caps. So it should be DNX451

[2015-08-03 10:24] maartenba commented on #2022
Think this one can be closed?

[2015-08-03 11:12] davidfowl commented on #2375
This should totally be outside of dnu. Scaffolding can get complex really quickly (just look at our yeomen templates) and we shouldn't couple this to dnu (which is already doing too much).

[2015-08-03 11:20] davidfowl commented on #2391
It's by design. Private dependencies will allow you to do what you want but that's not the default.

[2015-08-03 15:08] piyey commented on #451
I try @delloncba solution and it worked for me too. Thanks!

[2015-08-03 15:42] dougbu opened #2394 "Workaround `HttpClient` (??) to improve `dnu restore` warning"
With latest DNX (`1.0.0-beta7-12290`) and a wireless connection, I just got a fair few of the following meaningless warnings when executing `dnu restore --lock --parallel --quiet`. This output is not useful and should be removed or improved.
[code]

TL;DR
According to [one forum thread](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/ee685fb9-d2aa-44c0-bd17-ea615e838aa6/httpclient-only-

[2015-08-03 15:53] #2393 closed

[2015-08-03 15:54] dougbu opened #2395 "Remove "already exists" messages from `dnu restore --quiet` output"
Repeating `dnu restore --quiet` commands relatively close together leads to lots of output like

[code]

Since this command already outputs messages like "Installing Microsoft.AspNet.FileProviders.Physical.1.0.0-beta7-11666", the above information can be inferred from  the absence of the "Installing" messages. Definitely not necessary in the `--quiet` output.

[2015-08-03 16:04] dougbu opened #2396 "Question: Why aren't dependency mismatches detected during `dnu restore`?"
When building the MVC repo at the moment, we see expected messages such as

[code]

The above messages are output during `dnu pack` commands. Why isn't the information provided when executing `dnu restore`?

[2015-08-03 16:36] anurse commented on #2375
Which is why this is essential that it is not scaffolding. It's why I'm not really sure a "Web Project" initializer is useful. In the other two cases (Console and Class Library) I envision it only creating a very simple project structure with absolutely no dependencies.

Right now, creating a DNX project from outside Visual Studio requires a lot of extra tools and I don't like that. We should be b

[2015-08-03 17:06] anurse commented on #2022
It looks like you are correct.

If anyone still has this issue, feel free to continue commenting or re-open this issue.

[2015-08-03 17:06] #2022 closed

[2015-08-03 19:03] danroth27 commented on #2387
@Eilon @lodejard We need to figure out what to do here for beta7

[2015-08-03 20:02] bradwilson commented on #2371
That package name is pretty much the exact opposite of what I asked you to do. :angry:

[2015-08-03 20:07] ajaybhargavb opened #2398 "dnu commands install does not work when passing relative packages path"
This command works,
`dnu commands install --source http://www.myget.org/F/some-feed/api/v2 SomePackage --packages C:\Users\myprofile\Documents\SomeRepo\SomeFolder`

But this doesn't
`dnu commands install --source http://www.myget.org/F/some-feed/api/v2 SomePackage --packages .\SomeFolder`

When I try to run the command it says,
`The system cannot find the path specified.`

cc' @victorhurdugaci

[2015-08-03 20:19] victorhurdugaci commented on #2371
We already had a zpatch-0003 on the feed. It's been uploaded earlier so I had to upload a higher version... Sorry about that. I can delete both of them, upload the version that you told me. Then we can tell people to delete the previous version, if they have it

[2015-08-03 20:21] victorhurdugaci commented on #2398
@BrennanConroy

[2015-08-03 20:24] ChengTian commented on #2376
@MisterJames , thank you, community contribution is very welcome :smile:

Please remember to mention me in your PR, I can help merge changes in after code review.

[2015-08-03 20:55] BrennanConroy commented on #2398
Works for me, do you not have permission to add .\SomeFolder?

[2015-08-03 22:34] ajaybhargavb commented on #2398
Spoke offline. The error shows up when running the command that was installed from the package. Not when running the install command.

[2015-08-03 22:51] anurse commented on #2337
@glennc is driving the design on this. Looks like we're close to ready to call the design done, Glenn just needs to get sign offs from CLR.

[2015-08-03 22:55] akoeplinger commented on #2337
@anurse can you share a bit more about the plans here?

[2015-08-03 22:56] victorhurdugaci commented on #2371
@bradwilson Changed to 2.1.0-beta5-aspnet-2 and removed the other packages.

[2015-08-03 22:59] anurse commented on #2337
Certainly, once we have them :). @glennc is almost finished a draft design

[2015-08-03 23:00] akoeplinger commented on #2337
Thanks :)

[2015-08-03 23:44] DamianEdwards opened #2401 "Add a dnu command to clear the HTTP cache"
`dnu` caches results for the various categories of HTTP requests it makes (e.g. feed check, list package, v3 feed check, etc.) for various amounts of time.

While it's possible to run a `dnu restore` at any time with the cache disabled via `--no-cache`, there isn't a way to clear the cache completely, other than just deleting the folder in the user profile.

Propose we add a command to clear the H

[2015-08-03 23:55] ChengTian commented on #2379
Tried on Ubuntu with `Mono JIT compiler version 4.1.0` and I can repro the issue https://github.com/aspnet/dnx/issues/1590. However, the exit code is still non-zero (, which means I still cannot repro current issue):

![capture](https://cloud.githubusercontent.com/assets/1383883/9049971/1c12e988-39fd-11e5-9c8a-68f7f170568a.PNG)

It is very likely a sporadic Mono issue because when you get an unhan

[2015-08-03 23:55] #2379 closed

[2015-08-04 00:11] ChengTian commented on #2379
My bad, the timeout exception is not an unhandled exception. We are handling all possible exceptions here:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Restore/RestoreCommand.cs#L225

But as you can see, if you have
[code]
in `dnu restore` output, it should be going through the code path in the catch statement and eventually return `false`, which leads to a non-zero exit code.

[2015-08-04 00:25] aggieben commented on #2379
Yeah, no problem.  I'll resurrect if I can narrow a repro, but realistically speaking I don't think I'll have time for all that.

[2015-08-04 00:51] MisterJames commented on #2376
Great, I'll get started on this tomorrow. Thanks @ChengTian, cheers.

[2015-08-04 01:33] bradwilson commented on #2371
Thanks. :+1:

[2015-08-04 06:00] davidfowl opened #2402 "It's possible to resolve the wrong dependency version"
http://stackoverflow.com/questions/31770106/dependency-specified-was-microsoft-aspnet-mvc-6-0-0-beta6-but-ended-up-with-m/31777542

[2015-08-04 13:51] #2385 closed

[2015-08-04 17:17] glennc commented on #2401
Assigning to beta8 for at least the clear-cache command, we will talk about clearing a specific URL but we might punt that part to beta8

[2015-08-04 17:49] glennc commented on #2384
@BrennanConroy Can you investigate this a bit more see if you can see what's going on?

[2015-08-04 17:52] glennc commented on #2398
@victorhurdugaci Can you see what the issue here is?

[2015-08-04 17:56] glennc commented on #2394
@ChengTian can you investigate this and tell me if there is anything obvious we should be doing?

[2015-08-04 17:57] glennc commented on #2372
@victorhurdugaci Can this be closed?

[2015-08-04 17:58] victorhurdugaci commented on #2398
@ajaybhargavb isn't this PR fixing this issue? https://github.com/aspnet/dnx/pull/2399

[2015-08-04 17:59] victorhurdugaci commented on #2372
Nope. I only fixed the casing of the package but the root problem is still there

[2015-08-04 18:05] ajaybhargavb commented on #2398
No. That only fixes the issue mentioned here https://github.com/aspnet/dnx/pull/2399#issue-98851638.  After that fix you still need to pass in full path for it to work. Otherwise it creates a bad cmd file.

[2015-08-04 18:09] BrennanConroy commented on #2384
Can you provide an example of your application?

[2015-08-04 18:21] sayedihashimi commented on #2373
We don't have a good story for CI today when Visual Studio is not installed. For ASP.NET 5 there is some work that we can do to simplify this, but we are not likely to get to that until later on. In about a week I'll be posting a roadmap to the [tooling repo](https://github.com/aspnet/tooling), there should be an item for this feature on that when it's posted.

With that said even if we are able t

[2015-08-04 19:38] abpiskunov opened #2405 "When csproj project reference can not be resolved, it still should be sent as project reference"
When Project A references project B - a wrapped csproj which can not  be resolved by some reason, project B is not sent as project reference to project A, however exist as unresolved dependency. This make its is hard for tooling to show it correctly in Add Reference dialog.

However if you look at dependency info, it can be determined that Project B is actually a project, since it has a path to wr

[2015-08-04 19:39] abpiskunov commented on #2405
It still should be unresolved in Dependencies message though.

[2015-08-04 19:39] abpiskunov commented on #2405
It would be nice if it could be beta7 issue.

[2015-08-04 21:37] kirthik opened #2408 "Add support for satellite resource assemblies"

[2015-08-04 23:01] tillig opened #2409 "Specifying keyFile causes assembly load error under CoreCLR"
Say I have an assembly (like [Autofac](https://github.com/autofac/Autofac)) that is built to support multiple platforms (`dnx451`, `dnxcore50`, etc.) and needs to be strong named. Previous to beta 6, the `project.json` file just allowed you to specify `"strongName": true` and a default strong name key would be used. [With the release of beta 6](http://blogs.msdn.com/b/webdev/archive/2015/07/27/ann

[2015-08-04 23:11] tillig commented on #2409
Potentially related: the [code gist](https://gist.github.com/csharpfritz/d66017d22d7a534ea44c#file-project-json) on [the release announcement blog entry](http://blogs.msdn.com/b/webdev/archive/2015/07/27/announcing-availability-of-asp-net-5-beta-6.aspx) shows specifying both `strongName` and `keyFile` like this:

[code]

I wasn't able to do that - I can only specify `strongName` **or** `keyFile`,

[2015-08-04 23:31] r2musings opened #2410 "Beta 6 no longer recognizes dependency"
See this SO post:
http://stackoverflow.com/questions/31750350/vnext-beta6-deployment-error-the-dependency-entityframework-6-1-2-could-not

[2015-08-04 23:33] kichalla opened #2411 "dnu publish not excluding folders"
From here: http://stackoverflow.com/questions/31820294/exclude-folders-on-publish-project-using-dnu-publish

I tried doing the following, but this doesn't seem to work...is this syntax ok?
[code]

[2015-08-05 00:00] NoralK commented on #2343
Installed beta7-12302 clr x64 on the Windows 7 Enterprise machine and I am still getting:
[code]
Thoughts?

[2015-08-05 00:20] moozzyk commented on #2343
@NoralK - can you turn on tracing (`set DNX_TRACE=1`), run `dnu` and show the output?

[2015-08-05 00:26] NoralK commented on #2343
Here you go:
[code]
These directories Microsoft DNX on down and the file index.txt are not in C:\Program Files (x86) nor in C:\Program Files.

[2015-08-05 00:29] moozzyk commented on #2343
This does not seem to be beta7 - can you show 'dnvm list' ?

[2015-08-05 00:32] NoralK commented on #2343
It is beta7.  Here is the output:
[code]
I have tried cleaning out all runtime, on another machine, and get the same output with just 1.0.0-beta7-12302.

[2015-08-05 00:34] moozzyk commented on #2343
Thanks. I need one more thing (hopefully the last one) - what does it show when you do `where dnx` from your command prompt?

[2015-08-05 00:35] NoralK commented on #2343
Here you go:
[code]
Thank you for the help.

[2015-08-05 01:00] NoralK commented on #2343
Take a look at this separate issue - https://github.com/aspnet/Scaffolding/issues/106  at the dump from setting DNX_TRACE=1.

Dnx also has the issue, but on Windows 8.1 (where issue #106 occurs) I can run dnu and dnx without "Failed to initalize runtime (80131522)".

[2015-08-05 01:04] moozzyk commented on #2343
Do you actually have .NET Framework 4.5.1 installed on your Windows 7 box?

[2015-08-05 01:07] NoralK commented on #2343
From the #106 error I found this reference:
`C:\ProgramData\Microsoft DNX\BreadcrumbStore` but in reality it is located here `C:\ProgramData\Microsoft\NetFramework\BreadcrumbStore` on Windows 8.1 and Windows 7.  There is no folder called `Microsoft DNX`

[2015-08-05 01:09] NoralK commented on #2343
I have .Net Framework 4.5.2 installed on both Windows 7 (having issue) and Windows 8.1.

[2015-08-05 01:20] moozzyk commented on #2409
I believe that because you run tests like this - `ForEach-Object { Test-Projects $_.DirectoryName }` you actually don't run tests against what you build but you run tests against the project and therefore you compile the project again when the tests are being run. Therefore you try sign with a private key after switching to CoreClr. However, signing assemblies with private keys is not supported on

[2015-08-05 01:22] moozzyk commented on #2343
You don't need to worry about missing `C:\ProgramData\Microsoft DNX` and/or breadcrumbs. It's not a problem here. I will try to create a clean Win7 OS with .NET Framework 4.5.2 to see if I can repro this.

[2015-08-05 01:25] NoralK commented on #2343
From my initial post I listed all of my steps - Window 7 Enterprise x64 has no patches, except what IE 11 installed.

[2015-08-05 02:17] tillig commented on #2409
Basically that test logic is:
[code]

I don't see it rebuild, it just goes right into testing. How would I change my script to run tests successfully in both runtimes?

[2015-08-05 06:31] ghuntley commented on #1507
https://twitter.com/davkean/status/628456517205823492

[2015-08-05 06:47] bitcrazed commented on #1507
If only GitHub issues had a voting mechanism. I'd give this 100 thumbs up.

[2015-08-05 06:55] Suchiman commented on #1507
I asked this in a ASP.NET Community Standup and this is unlikely to happen http://blogs.msdn.com/b/webdev/archive/2015/07/07/asp-net-community-standup-july-7-2015.aspx see Q&A or the video

[2015-08-05 07:10] shiftkey commented on #1507
:thumbsup: to this change. Here's the [MSDN reference](https://technet.microsoft.com/en-us/library/cc749104(v=ws.10).aspx) about %USERPROFILE% (well, it's alias %CSIDL_PROFILE%)

<img width="835" alt="screen shot 2015-08-05 at 5 08 25 pm" src="https://cloud.githubusercontent.com/assets/359239/9080170/aabe3686-3b94-11e5-9dab-26cb4b71ccfb.png">

[2015-08-05 07:23] RichiCoder1 commented on #1507
Agree with all the above. I'm all for cross uniformity, but this is explicitly AppData.

[2015-08-05 10:22] anfomin opened #2412 "IIS startup: method not found"
After `ILibraryManager` methods renaming I can't start project with IIS. Exception occurs on start:
[code]

Project starts normal with WebListener. It seems that `Microsoft.AspNet.Server.IIS` should react to renaming...

[2015-08-05 11:32] luisrudge commented on #1507
:+1:

[2015-08-05 11:42] IRooc commented on #1793
Seems like since ```1.0.0-beta7-12290``` the dnx . kestrel on a coreclr target does nothing anymore on a Mac and linux.

[2015-08-05 12:38] onovotny commented on #1507
This also applies to NuGet v3. Has anyone filed a bug there?

[2015-08-05 14:12] vbfox commented on #1507
:+1: If it is a cache it should be in local-appdata and if it is settings it should in in roaming-appdata.

If the same things was done the other way (Applying windows folder conventions on unix) it would have been patched by the person doing the port / package.
They often maintain patches to adapt software to their OS/Distribution when the maintainer doesn't want to conform to their platform conv

[2015-08-05 15:35] BrennanConroy commented on #1793
Fixed with https://github.com/aspnet/dnx/pull/2397

[2015-08-05 15:49] IRooc commented on #1793
@BrennanConroy thanks, any idea how I can see on which version the issue #2397 will be available?

[2015-08-05 15:54] BrennanConroy commented on #1793
The next version of dnx after 12302

[2015-08-05 16:27] bricelam commented on #634
I found similar commands in other package managers:
* [npm prune](https://docs.npmjs.com/cli/prune)
* [bundle clean](http://bundler.io/v1.10/bundle_clean.html)

[2015-08-05 16:30] davidfowl commented on #634
Except this is shared packages folder so it's a bit different.

[2015-08-05 16:38] dougbu commented on #2412
@anfomin see aspnet/Home#798 for more on the Microsoft.AspNet.Server.IIS status.

[2015-08-05 16:41] carstenschuette opened #2415 "System.ArgumentException: preprocessorSymbols when using net40-client framework"
I am trying to add a target for net40-client to project.json. VS2015 recognized this as valid .NET Framework 4 reference, but compiling this results in:

[code]

project.json:
[code]

[2015-08-05 16:47] bricelam commented on #634
(That's why I was careful to use the word *similar* :wink:)

[2015-08-05 16:50] bricelam commented on #634
:trollface: Can't we just keep maintain a `repositories.config` file in there that points back to the individual projects?

[2015-08-05 16:57] moozzyk commented on #2343
Good news: I was able to reproduce this issue.
Bad news: this seems to be a bug in CLR. 0x80131522 is COR_E_TYPELOAD meaning the CLR could not load a type. To investigate this I turned on fusion logging but then suddenly everything started to work and there is no error. As soon as I turn fusion logging off dnx will fail with COR_E_TYPELOAD.

[2015-08-05 17:29] moozzyk commented on #2343
I installed .NET Framework 4.6 (http://www.microsoft.com/en-us/download/details.aspx?id=48130) and this fixed the issue.

@NoralK Can you try this and let me know if it works for you?

[2015-08-05 17:30] glennc commented on #2415
@anurse can you investigate this and let us know what you think?

[2015-08-05 17:31] glennc commented on #2412
Closing as dupe of  aspnet/Home#798

[2015-08-05 17:31] #2412 closed

[2015-08-05 17:33] glennc commented on #2411
@troydai Do you have to put glob patterns in here or do we exclude folders?

[2015-08-05 17:36] glennc commented on #2410
@r2musings Is there any chance of seeing the project? Publish to GItHub maybe?

[2015-08-05 17:50] anurse commented on #2415
Will do :+1:

[2015-08-05 17:54] glennc commented on #2369
Can we see your project.json?

/cc @anurse

[2015-08-05 17:54] glennc commented on #2368
@victorhurdugaci Can you close this if it doesn't actually require DNX changes?

[2015-08-05 17:55] anurse commented on #2369
It sounds like an issue with `dnu wrap`. To be clear @glatzert , the library is a standard csproj?

[2015-08-05 18:00] #2368 closed

[2015-08-05 18:11] tillig opened #2416 "Provide better error message when "commit" is missing from repo.json"
When you package your project with support for `dnu sources get` you can end up with a `repo.json` file that looks something like this:

[code]

In a build server environment where the code is checked out and then pushed to the build agent (e.g., AppVeyor) there's no working copy, so the `repo.json` looks like this:

[code]

You get no error message during the packaging step that this is happening

[2015-08-05 18:14] xavierdecoster opened #2417 "Ensure DNU sends a User-Agent HTTP header"
Moved from https://github.com/aspnet/Home/issues/801

[2015-08-05 18:14] Eilon commented on #2031
Hmm but is this actually correct? Isn't the reference needed? Is the package itself just broken?

[2015-08-05 18:15] tillig opened #2418 "Allow git commit for dnu sources to come from an environment variable"
Related to #2416 and https://github.com/aspnet/Announcements/issues/46:

If you're in a build server environment where the code is cloned and shipped to the agent (e.g., AppVeyor), the `commit` in `repo.json` will always be empty. There needs to be another way to specify what that value is so `dnu sources get` can be made to work for projects built in these environments.

[2015-08-05 18:50] davidfowl commented on #2031
The unfortunate thing about this is that the msbuild based projects fail instead of noop. I would love to get that fixed instead of mimicking that behavior in the dnx

[2015-08-05 18:52] r2musings commented on #2410
Hi Glenn, we already have this in a private repo.  I'll get you access.

[2015-08-05 18:53] victorhurdugaci commented on #2418
:+1: yes, we'll add this soon. It's been requested by multiple people

[2015-08-05 19:06] glennc opened #2419 "Publish removes assemblies that aren't listed in references"
The ServiceFabric.Data package (https://www.nuget.org/packages/Microsoft.ServiceFabric.Data/) contains several assemblies, only one of which is listed in the references section of the NuSpec.

This is deliberate on their part and is an attempt to provide a single assembly to use that then has some helper assemblies.

Currently when you publish an application that has a package of this type we copy

[2015-08-05 19:12] carstenschuette commented on #2415
Feel free to contact me at c.schuette (at) neusta.de, I can send you the sample project/solution, additional logs etc. if you need.

[2015-08-05 19:13] tillig commented on #2418
Sweet. I just didn't see an issue or anywhere else to track it, so... I figured this was as good as any. Thanks!

[2015-08-05 19:16] davidfowl commented on #2419
This must be a general issue with restore then? What does the lock file entry have for this package? Does it list all of the assemblies

[2015-08-05 19:32] NoralK commented on #2343
I installed .Net 4.6 and I can launch dnu and dnx.  Does this mean the requirements will change or will this be investigated further?

[2015-08-05 19:57] moozzyk commented on #2343
Thanks for confirmation. I am glad it is now working.

At this point the issue seems to affect only Windows 7 x64. IIS hosted apps are not impacted by this. I guess if people hit this the workaround will be to either upgrade to .NET Framework 4.6 or run the app with the x86 runtime.

/cc @danroth27 @davidfowl

[2015-08-05 20:08] NoralK commented on #2343
If that is the case then I would suggest that the Readme.md in all the projects should reflect the minimum .Net version as 4.6.

Maybe the root of the problem can be fixed eventually.

[2015-08-05 20:10] moozzyk commented on #2409
If you turn on tracing (`set DNX_TRACE=1`) and run `dnx . test` you will see:

[code]

One way to avoid compilation is to publish the application with no sources and then you can run it using different runtimes, e.g. run the following command from your DnxOnly.Test folder:

`dnu publish -o c:\temp\app --no-source`

and then you can run it using different runtimes:

[code]

[2015-08-05 21:06] tillig commented on #2409
:smiley_cat: **YES YES YES** This works perfectly. Somewhat unintuitive, but it works like a charm. Thanks!

[2015-08-05 21:06] #2409 closed

[2015-08-05 21:24] r2musings commented on #2410
Gave you access, @glennc.  Let me know if you have any problems getting to it.

[2015-08-05 21:34] pranavkm commented on #2368
Think it might need a `build.sh` change. But

[2015-08-05 21:36] davidfowl commented on #2197
Reopening this /cc @muratg @glennc

[2015-08-05 21:42] anurse commented on #2419
The problem is that we use the References section to filter **both** `runtime` and `compile`. To mirror NuGet 2's behavior, it should only filter `compile`, since the purpose of filtering out these assemblies is to avoid compiling against them, but to have them present at runtime.

[2015-08-05 21:43] anurse commented on #2419
see `src\microsoft.dnx.tooling\utils\lockfileutils.cs:174`

[2015-08-05 21:44] anurse commented on #2197
/cc @avanderhoorn (I think this is what you were talking about ;)). Only covers one direction (packages **later** than runtime) though.

[2015-08-06 00:34] avanderhoorn commented on #2197
@anurse thanks, better than nothing!

[2015-08-06 03:53] davidfowl commented on #2152
We need to fix this

[2015-08-06 05:19] DamianEdwards commented on #1507
Appreciate the feedback on this item. We'll take another look at this.

[2015-08-06 05:25] Lenne231 opened #2420 "Rename project.json to dnxconfig.json"
TypeScript has "tsconfig.json", VS Code has "jsconfig.json" and there are many other technologies with other configuration files that could be part of a DNX application.

It would be nice if DNX would not choose such a general name for the configuration file. There will be projects with many different technologies so "project.json" seems a little bit confusing. "netconfig.json" should be ok as wel

[2015-08-06 06:00] shiftkey commented on #1507
Thanks @DamianEdwards!

[2015-08-06 07:32] XiaoweiJia opened #2421 "Error when targeting dnx451 with MVC 5 nuget packages"
I tried to target dnx451 in project.json and reference asp.net mvc 5. when I run an error says: my project is not compatible with the target framework dnx45. Any ideas? Do I have to use asp.net 5 when targeting dnx451?
Can I target net46 when using mvc 5?

Thanks

[2015-08-06 08:19] radenkozec commented on #2334
@davidfowl Managed to fix issue by removing entire section :  "dnx451" from project.json.
Similar issues happens after upgrading to Beta6.
I am getting lot of errors like this: 	*Predefined type 'System.Object' is not defined or imported*
Tried add Under dnx451 :
[code]
no help.
After I remove entire section "dnx451" all error are fixed.
Any tips about this?

[2015-08-06 09:56] davidfowl commented on #2334
I don't know what state your project is in at this point.

[2015-08-06 09:57] radenkozec commented on #2334
I will close this issue.

[2015-08-06 09:57] #2334 closed

[2015-08-06 10:07] radenkozec opened #2422 "Problem with compiling ASP.NET 5 project beta 6 with dnx451 section Error: Predefined type 'System.Object' is not defined or imported"
When I want to compile my project I am getting over 2000 errors like this:
*Predefined type 'System.Object' is not defined or imported*
If I remove dnx451 section from my project.json config all issues are resolved.
My project.json:
[code]

[2015-08-06 10:08] davidfowl commented on #2422
I'm guessing the problems have to do with your project references. What are in those projects?

[2015-08-06 10:14] radenkozec commented on #2422
My ASP.NET 5 project is referencing 3 smaller .NET Core class library projects:
"Project1.Data": "1.0.0-*",
"Project1.Model": "1.0.0-*",
"Mandrill.Client": "1.0.0-*"

Project1.Data which needs to be referenced also from .NET Framework Project so it has dotnet section:
[code]
Project1.Model
[code]
And Mandrill.Client which also need to be used from .NET Framework project
[code]

[2015-08-06 10:17] davidfowl commented on #2422
Avoid using the System.* packages in places where dnx451 exist and instead should prefer frameworkAssemblies. Use them in dotnet and in dnxcore50 but not in dnx4x targets. You should also introduce dnx45x targets if you don't have them in your class lib (Project1.Data as an example).

[2015-08-06 10:28] radenkozec commented on #2422
I had dnx45x targets in Project1.Data but removed them because compilation errors received above.
So you are saying for Project1.Data I should:
1) Add dnx451 section
2) Inside that section add frameworkAssemblies
3) Leave everything else as it is.

Can you please give me the example how to refactor only Project1.Data project.json?

[2015-08-06 10:31] davidfowl commented on #2422
[code]

[2015-08-06 12:02] radenkozec commented on #2422
I will try this and post update later. I don't understand why I don't need dnxcore50 section? Does this mean that my project will not support .NET Core?

[2015-08-06 12:46] radenkozec commented on #2422
@davidfowl

**Managed to make it work.**
My ASP.NET 5 project project.json now looks like this:
[code]
And in Project1.Data used your project.json just added  "System.Data": ""  in dnx451 section.
**Thank you very much.**
But I still do not understand how can I have project without dnxcore50 section in Project1.Data?
Does it mean that my project will not support .NET Core?

[2015-08-06 14:58] jtbennett commented on #2343
I'm getting this error deploying a beta 6 asp.net site to Azure Web Apps (details earlier in this thread).  That's IIS-hosted and (presumably) not Win 7.

Does this mean I need to wait for Azure to put .net 4.6 on those machines?

[2015-08-06 15:43] davidfowl commented on #2422
Read this http://blogs.msdn.com/b/mvpawardprogram/archive/2015/06/18/demystifying-pcls-net-core-dnx-and-uwp-redux.aspx

[2015-08-06 15:43] #2422 closed

[2015-08-06 16:05] mikeandersun opened #2423 "Method not found: 'Microsoft.Dnx.Runtime.Library Microsoft.Dnx.Runtime.ILibraryManager.GetLibraryInformation(System.String)'."
Method not found: 'Microsoft.Dnx.Runtime.Library Microsoft.Dnx.Runtime.ILibraryManager.GetLibraryInformation(System.String)'.
Dnx :1.0.0-beta7-12302
project packages are updates to latest version on aspnetvnext

What is my mistakes.
Please help me

[2015-08-06 16:22] Eilon commented on #2421
To use ASP.NET MVC 6 you need to use ASP.NET 5.
To use ASP.NET 5 you must use DNX.
To use ASP.NET MVC 5 you can use .NET 4.5 and newer (including .NET 4.5.1, 4.5.2, and 4.6).
ASP.NET MVC 5 does not work on ASP.NET 5 or DNX.

[2015-08-06 16:25] anurse commented on #2423
Does this error only happen when you host via IIS? Can you try using WebListener or a console application? There is a bug currently in the IIS host that has just been fixed but is working it's way through our build system (/cc @Tratcher @troydai)

[2015-08-06 16:26] anurse commented on #2343
We should definitely make sure we work without .NET 4.6 installed, @moozzyk was just providing a possible workaround. Obviously there is a bigger issue to resolve here given than Azure only provides earlier versions of .NET

[2015-08-06 16:27] anurse commented on #2152
Given that NuGet does the same thing though, we need to coordinate the fix with them /cc @yishaigalatzer

Both should definitely be showing a warning at the very least when an invalid settings file is encountered.

[2015-08-06 16:33] mikeandersun commented on #2423
I only use IIS.
If it is a bug I can wait for next build.

[2015-08-06 16:38] Tratcher commented on #2423
It's all fixed, we're just waiting on the next build. Should be sometime today.

[2015-08-06 16:44] akoeplinger commented on #1507
Setting DNX_HOME like [shown here](https://github.com/aspnet/Announcements/issues/5#issuecomment-125660908) works for the command line, but seems to break VS. @DamianEdwards is that env var supposed to work for VS?

[2015-08-06 17:29] moozzyk commented on #2343
@jtbennett - I suspect that the issue was introduced in this change https://github.com/aspnet/dnx/commit/05ee5b3045ede6bc8334f7bf3213d027c04f40e7 where we changed the way we load the domain manager. However in case of IIS hosted apps we don't bootstrap CLR ourselves and therefore this code is not executed. I believe that in your case this is not the app itself that fails but one of the steps in th

[2015-08-06 17:38] CarlosFreire opened #2426 "Beta7-12302 System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.DNX.PackageManager' or one of its dependencies. The system cannot find the file specified"
[code]

[2015-08-06 17:54] victorhurdugaci commented on #2426
Is this a command that you are running or is it called by some script?

`Microsoft.Framework.PackageManager` was renamed to `Microsoft.Dnx.Tooling` as described in [this announcement](https://github.com/aspnet/Announcements/issues/51). I don't think we ever had a file name `Microsoft.DNX.PackageManager` (that looks like a combination of the old and new name)

[2015-08-06 18:46] tillig commented on #2409
For posterity, I updated the [posted reproduction solution](https://github.com/tillig/DnxStrongNameIssueRepro) to include both an incorrect build script and a fixed one illustrating the updated process. Folks interested in seeing it in action can check it out.

[2015-08-06 18:55] pranavkm commented on #2181
Will do.

[2015-08-06 19:04] ChengTian commented on #2419
Thanks for pinpointing the location in code. Just sent a PR for it.

[2015-08-06 19:29] abpiskunov commented on #2405
Please let me know when fix is checked in and I will verify that tooling works with it as expected.

[2015-08-06 19:38] vijayrkn opened #2428 "Dnu publish should have an option to prune packages when the runtime flag is not passed."
Currently, when the runtime flag is not passed dnu publish bundles the packages for both core and clr. Need an option in dnu publish to target the packages for a specific framework even when runtime is not specified.

This is needed to decrease the payload during Azure publishing.

[2015-08-06 19:49] vijayrkn opened #2429 "Dnu Publish Performance optimization"
Currently, dnu publish takes about 40 sec to bundle the VS 2015 starter web template project. Most of the time is spent in copying the NuGet packages. Can we optimize this (may be running this in parallel)?

Log:
The servicing index file at: C:\Program Files (x86)\Microsoft DNX\Servicing\index.txt does not exist or could not be opened.
Loaded module: dnx.clr.dll
Found export: CallApplicationMain
I

[2015-08-06 19:56] vijayrkn commented on #2429
/cc @ChengTian  @davidfowl  @sayedihashimi

[2015-08-06 19:57] vijayrkn commented on #2428
/cc @ChengTian  @davidfowl  @sayedihashimi

[2015-08-06 20:49] barrytang opened #2430 "Adding reference to a class library project with a common (say, default) name in ASP.NET 5 can result it resolving that assembly from nuget instead"
Affected Branch:
Affected Build:
Affected Product Language:
Steps to reproduce:
1.  Create new ASP.NET 5 Console application
2. Add a default PCL targeting NET 4.6, UAP 10, and ASP.NET COre 5.0 to the solution.  Make sure its name is ClassLibrary1
3. Right click on References, Add Reference, add reference to the PCL from the console app.
4. Build the solution.

Expected:  Either it works, or gives

[2015-08-06 20:50] barrytang commented on #2430
![image](https://cloud.githubusercontent.com/assets/1648865/9123079/0a464726-3c42-11e5-868e-4cc81db5d0fe.png)

[2015-08-06 20:56] ChengTian commented on #2428
@davidfowl , we can have
[code]
and report error when the following configuration is specified
[code]

[2015-08-06 21:13] anurse commented on #2419
:+1:

[2015-08-06 21:48] glennc commented on #1103
@troydai Did you confirm with @PradeepKadubandi?

[2015-08-06 22:06] #2423 closed

[2015-08-06 22:13] davidfowl commented on #2312
See https://github.com/aspnet/dnx/issues/1559

[2015-08-06 22:13] #1559 closed

[2015-08-06 22:19] ChengTian commented on #2394
We don't set any `HttpClient.BaseAddress` and always leave it empty. So looks like [the forum thread](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/ee685fb9-d2aa-44c0-bd17-ea615e838aa6/httpclient-only-works-when-using-httprequestmessage-explicitly?forum=winappswithcsharp) is irrelevant.

I also tried intentionally setting `HttpClient.BaseAddress` to URIs without trailing slash but sti

[2015-08-07 02:50] davidfowl commented on #2430
Dupe of https://github.com/aspnet/dnx/issues/438

[2015-08-07 02:50] #2430 closed

[2015-08-07 02:50] davidfowl commented on #2429
What?

[2015-08-07 05:40] moozzyk commented on #2343
Fixed in  31093b2

[2015-08-07 05:41] #2343 closed

[2015-08-07 07:09] IRooc commented on #1793
Tried ```dnx . kestrel``` on coreclr version beta7-12321 on a mac but still it returns to the prompt immediately without any output.

```dnx --h``` says ```Trace/BPT trap: 5```

[2015-08-07 07:44] davidfowl commented on #2375
I'm against this being in dnu itself.

[2015-08-07 07:46] davidfowl commented on #2415
This is a bug but do you really need to target net40-client? Just target net40. The client profile doesn't even exist anymore in later versions of .NET Framework.

[2015-08-07 07:49] davidfowl commented on #2369
Seems like a tooling bug. Can you show your `project.json`? How many frameworks do you have listed?

[2015-08-07 07:57] davidfowl commented on #2369
Yep, it's a tooling issue. We seem to hard code this in the DNX.props file:

[code]

It makes msbuild complain constantly

[2015-08-07 07:57] davidfowl commented on #2369
/cc @BillHiebert

[2015-08-07 07:59] davidfowl commented on #2369
Moving to the tooling repository

[2015-08-07 07:59] #2369 closed

[2015-08-07 08:02] davidfowl commented on #2405
This is actually a bigger change than it looks like. We'd need to add a new field that determines if the dependency is resolved or not so we can preserve the original type.

[2015-08-07 08:03] davidfowl commented on #2405
See https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.DesignTimeHost/Models/OutgoingMessages/DependencyDescription.cs

[2015-08-07 08:04] davidfowl commented on #2396
It should be but we currently don't show diagnostics during restore.

[2015-08-07 08:05] davidfowl commented on #2391
Closing this issue out as its by design.

[2015-08-07 08:05] #2391 closed

[2015-08-07 08:05] #2364 closed

[2015-08-07 08:08] davidfowl commented on #2372
No the casing should just be correct is all.

[2015-08-07 08:08] #2421 closed

[2015-08-07 08:11] davidfowl commented on #2339
https://github.com/aspnet/dnx/issues/2402

[2015-08-07 08:11] #2402 closed

[2015-08-07 08:21] davidfowl commented on #2329
beta6 you'll get an error like this on build:

![image](https://cloud.githubusercontent.com/assets/95136/9131649/6b99b214-3ca2-11e5-9954-dff296190915.png)

We could do a better job at runtime though:

![image](https://cloud.githubusercontent.com/assets/95136/9131678/9e3c2800-3ca2-11e5-889b-9b56f3d7385b.png)

We should show a different message for incompatible deps at runtime (similar to build time

[2015-08-07 08:38] davidfowl commented on #2329
I believe we also don't show the search locations anymore.

[2015-08-07 08:42] davidfowl commented on #2315
/cc @anurse

[2015-08-07 08:57] per-samuelsson commented on #2287
@anurse

You guys should consider putting those lines somewhere in the basic docs, like in the overview or (possibly better) in some Getting Started context. It's the kind of stuff that is trivial to you, and once you get to know it, but probably in the heads of quite a few developers learning dnx.

Furthermore, it is also good in a marketing kind of way, since it really shows this great new stuff

[2015-08-07 08:59] per-samuelsson commented on #2287
Maybe [here](http://docs.asp.net/en/latest/getting-started/installing-on-windows.html#install-asp-net-standalone) (for Windows), or just some hint / link to a section about it at least.

[2015-08-07 09:00] davidfowl commented on #2361
We need to figure out if this is a build time trick or if we make `dnu restore` aware of build time dependencies listed in `project.json`

[2015-08-07 09:41] carstenschuette commented on #2415
Well, I'm trying to create multi-target nuget packages. I have a project that uses net40-client profile. If this is removed in newer versions of .net, I will check if I can remove it from the application.

[2015-08-07 09:57] aliveli186 opened #2433 "Dependency hell"
The so called simplified dependency feature is a big problem.
It's not simple, it's not functional, not self explanatory, not well documented.
It adds unnecessary complexity from the beginning.
What is simple is add the dependency and write your code. Which was so until that new "simplified dependency" feature was invented.
Now it's add the dependency and figure it out why it doesn't work. Edit so

[2015-08-07 10:03] davidfowl commented on #2433
Yep, we're working on better diagnostics. Sometimes it's hard to know upfront unless you know what the package supports. The errors will get better when things are incompatible. What version of System.Data.SqlClient are you using?

[2015-08-07 10:12] aliveli186 commented on #2433
"frameworks": {
    "dnx451": { },
    "dnxcore50": {
      "dependencies": {
        "System.Data.SqlClient": "4.0.0-beta-23019"
      }
    }
  }

[2015-08-07 11:17] radenkozec opened #2434 "Dependency issue : Could not load file or assembly 'System.Data.SqlClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies."
I have a project called "Project1.Data"  which is .NET Core class library project.
Here is a project.json:
[code]
When I reference "Project1.Data" dll from artifacts / dotnet folder in my unit test projects and in unit test try to call method from this project  I am getting this exception:
[code]
even I have referenced System.Data in dnx451 section.
All projects successfully build.
Any help to res

[2015-08-07 13:56] NoralK commented on #2343
@moozzyk As of beta7-12321 the problem still persists with .Net Framework v4.5.2:
[code]
Was your commit in this build?  Can we keep the ticket open until both of us have resolution.

I also just noticed this - can the spelling of "initalize" be changed to "initialize".

[2015-08-07 14:09] moozzyk commented on #2343
No the build with the fix is not out there yet. I will fix the spelling next time I touch this code - thanks for pointing this out.

[2015-08-07 14:22] egorpavlikhin commented on #2371
VS 2015 Community Edition has a reference to the old names even after installing updated tooling.

    1>  C:\Users\Egor\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta7-12302\bin\dnx.exe --appbase "G:\Projects\New\Bestla.Website\src\Bestla.Website" "C:\Users\Egor\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta7-12302\bin\lib\Microsoft.Framework.PackageManager\Microsoft.Framework.PackageManager.dll" pack "G:\Pr

[2015-08-07 14:44] CarlosFreire opened #2435 "Beta7-12321 Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1': Microsoft.CodeAnalysis.CSharp 2.0.0-beta1-20150805-03 System.Reflection.Metadata 1.1.0-alpha-00008"
Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1':
  Microsoft.CodeAnalysis.CSharp 2.0.0-beta1-20150805-03
  System.Reflection.Metadata 1.1.0-alpha-00008

Current runtime target framework: 'DNX,Version=v4.5.1 (dnx451)'
Version:      1.0.0-beta7-12321
Type:         CLR
Architecture: x86
OS Name:      Windows
OS Version:   6.2.9200.0

Description: An unhandled ex

[2015-08-07 15:29] moozzyk opened #2436 "[Announcement] dnx now implicitly uses current folder as the appbase"
Discussion for https://github.com/aspnet/Announcements/issues/52

[2015-08-07 15:34] BrennanConroy commented on #1793
Sorry, I fixed the breaking change to version 12302 but then another breaking change came in. I'll be fixing it and trying to get a build out soon.

[2015-08-07 15:41] victorhurdugaci commented on #2371
@egorpavlikhin

1. Did you apply [this workaround](https://github.com/aspnet/Announcements/issues/44) described by any chance?
2. What VS version do you have?
3. What tooling version do you have? (that's in the VS about page: ASP.NET and Web Tools)

[2015-08-07 15:43] victorhurdugaci opened #2437 "[Announcement] dnu sources"
Use this thread to discuss the announcement [here](https://github.com/aspnet/Announcements/issues/46).

[2015-08-07 15:48] egorpavlikhin commented on #2371
@victorhurdugaci well turned out I had WEBPROJ_ENABLEBETA7RENAMES set up, although I never did it manually. Everything working now, so the updated tooling does work.

[2015-08-07 15:52] mikeandersun commented on #2435
I Have the issue too. :(

[2015-08-07 16:20] kichalla commented on #2433
Modify your `dnx451` to like below and try again

[code]

[2015-08-07 16:33] davidfowl commented on #2435
Sounds about right. Those packages failed to restore right?

[2015-08-07 16:41] Daniel15 commented on #2437
Ideally this should pull the exact version of the source code used to build the module, rather than just pulling the master branch. This could be done through tags (for projects that always tag their releases) or by embedding the commit hash when packaging. Pulling master means the source code you get is most likely **not** the source code used to build the package, which limits its usefulness.

[2015-08-07 16:44] davidfowl commented on #2437
It uses the exact commit not the master branch

[2015-08-07 16:46] Daniel15 commented on #2437
Oh awesome, thanks! It might be worth clarifying that in the announcement? It wasn't mentioned anywhere.

[2015-08-07 17:15] ChengTian commented on #2073
Punting this because it actually hurts restore performance

[2015-08-07 17:15] #2073 closed

[2015-08-07 17:16] glennc commented on #2434
Why is this a dll reference? Is your test project a csproj?

[2015-08-07 17:28] glennc commented on #2429
Assigning to Wei to see if there's anything that can be done to reduce it from 40 seconds.

[2015-08-07 17:31] #2329 closed

[2015-08-07 17:41] glennc commented on #2420
At this point I don't think dealing with the breaking changes of renaming project.json is something we would want to do.

So a rename would have to have a large amount of value. So far I haven't seen a huge number of downsides to the name, it could perhaps be better, but I haven't seen a suggestion so far that seems significantly better. Better enough to go and reset all the tooling and documentat

[2015-08-07 17:41] #2420 closed

[2015-08-07 18:00] IRooc commented on #1793
No problem. Thanks for this all!

[2015-08-07 18:16] sayedihashimi opened #2440 "Add diagnostic monikers for DNX messages"
It would be helpful if dnx errors/warnings each had their own unique error codes. This will be helpful in case Visual Studio needs to de-duplicate errors and it also enables a help link for each error message.

cc @glennc @BillHiebert @davidfowl @DamianEdwards

[2015-08-07 18:36] radenkozec commented on #2434
@glennc Yes my test project is csproj. There are few reasons and explanation is complicated. One reason is that I need to run some tests in STAThread environment which was not supported in .NET Core projects and there are few more reasons.
So test project is csproj with xUnit and I reference .NET Core Class Library project from dotnet folder.

[2015-08-07 18:41] halter73 opened #2441 "Garbled output from the dnu restore step when running build.cmd"
Repro steps:

1. Set the `DNX_TRACE` environment variable. This may or may not be important.
2. Run the `build.cmd` script from [KestrelHttpServer](https://github.com/aspnet/KestrelHttpServer). I think this will repro for other projects as well.

Result:

![image](https://cloud.githubusercontent.com/assets/54385/9143240/f7888730-3cf9-11e5-9614-cf927edf6d0c.png)
![image](https://cloud.githubusercon

[2015-08-07 21:11] moozzyk commented on #2343
@NoralK - this issue no longer reproes in 12325

[2015-08-07 21:11] Eilon commented on #2440
What kind of DNX errors/warnings is this specifically in reference to?

[2015-08-07 21:46] ChengTian commented on #1590
:+1: @aggieben 's workaround (setting `MONO_THREADS_PER_CPU` to 2000) does help me get rid of the timeout errors on our Linux CI machine.

[2015-08-07 22:12] bradwilson commented on #1590
:+1: It feels indistinguishable from restore on Windows now. Thanks!

[2015-08-07 22:51] kirthik commented on #2408
It looks like we already have an issue logged for this - https://github.com/aspnet/dnx/issues/1263. So closing this one.

[2015-08-07 22:51] #2408 closed

[2015-08-07 22:53] akoeplinger commented on #2436
This is really great :+1:

Question: If I'm reading https://github.com/aspnet/dnx/pull/2263 correctly, then the old format with `.` was removed and will start breaking, right? I think this should be called out more prominently in the post.

[2015-08-07 23:02] NoralK commented on #2343
I can confirm that beta7-12325 does solve the issue obviously it will not be solved on beta6.   @jtbennett  - I am not using Azure Web Apps so I cannot comment on that.

Thank you @moozzyk and @anurse

[2015-08-07 23:07] moozzyk commented on #2436
@akoeplinger I updated the post.

[2015-08-07 23:09] moozzyk commented on #2343
Thanks for confirmation @NoralK. You are correct beta6 won't be fixed. @jtbennett - stay tuned for beta7 or use the unstable feed.

[2015-08-07 23:11] akoeplinger commented on #2436
@moozzyk Thanks!

[2015-08-07 23:36] natemcmaster opened #2442 "CallContextServiceLocator.Locator is null on CoreCLR x-plat"
CallContextServiceLocator.Locator is not set by the time applications have been bootstrapped and launched. This only happens coreclr + {linux, darwin}, not Mono or any Windows runtime.

Versions: dnx beta7-12328
(See the full [dnu list](https://gist.github.com/natemcmaster/892b690f1962122f4337)).

### Repro

Make the following small project.

[code]

[code]
### Results
[code]

[2015-08-08 01:39] jtbennett commented on #2343
Thanks! Will give beta 7 a try when it's released.
-JB
On Aug 7, 2015 7:09 PM, "Pawel Kadluczka" <notifications@github.com> wrote:

[2015-08-08 03:28] mykebates commented on #2436
+ 10

[2015-08-08 03:35] damccull commented on #2436
Woo! About time :D Good job.

[2015-08-08 05:30] davidfowl commented on #2441
@halter73 does it repro on cmd?

[2015-08-08 05:36] davidfowl commented on #2339
/cc @anurse @ChengTian

[2015-08-08 05:36] davidfowl commented on #2440
Similar to how CSC has CS1034 etc

[2015-08-08 05:37] Eilon commented on #2440
I got that; I'm wondering for which cases it's interesting.

[2015-08-08 05:39] davidfowl commented on #2440
Ah! We have a few:

- Unresolved dependency
- Incompatible dependency
- Unexpected version resolved

[2015-08-08 06:07] davidfowl commented on #1559
We're discussing this issue here https://github.com/aspnet/dnx/issues/2312

[2015-08-08 06:11] davidfowl commented on #2312
Lock file is the way to go here.

[2015-08-08 06:14] mikeandersun commented on #2435
yes. Unable to locate them!

[2015-08-08 14:14] bastianeicher opened #2444 "Interoperability with Zero Install"
I hope a ticket here is the right place for this kind of high-level idea, otherwise I'm happy to repost if somebody can point me to a suitable mailing list or similar.

I work on [Zero Install for Windows](http://0install.de/), a package manager written in C#. It has a lot of design commonalities with DNX:

* packages are installed per-user
* multiple versions can exist side-by-side
* "installing"

[2015-08-08 17:01] borgdylan commented on #2435
Add these sources to your nuget config file
[code]

[2015-08-08 20:09] PinpointTownes opened #2445 "Support extern aliases in DNX"
![image](https://cloud.githubusercontent.com/assets/6998306/9151979/bf283e20-3e17-11e5-924a-dc403b560d46.png)

Though not very popular, extern aliases are useful to work around `CS0433 Type 'X' already exists in both 'A.dll' and 'B.dll'` compilation errors, specially since we can't exclude transitive dependencies yet.

[2015-08-09 16:24] davidfowl commented on #2434
You can't reference a csproj -> xproj yet. The support isn't there.

[2015-08-09 21:27] GramozKrasniqi commented on #2355
thanks god i found it here that the folder name is the problem.

[2015-08-09 22:49] davidfowl commented on #1431
@mkosieradzki Are you still interested in doing any of this work? I think it would be interesting as a community experiment to produce an implementation of https://github.com/aspnet/dnx/tree/dev/src/Microsoft.Dnx.Runtime.Abstractions and https://github.com/aspnet/dnx/tree/dev/src/Microsoft.Dnx.Compilation.Abstractions on vanilla .NET.

[2015-08-09 23:37] mkosieradzki commented on #1431
@davidfowl From my point of view it is still worth consideration as I haven't implemented the separate process hosting stuff yet. It's in the design phase and I can still reconsider going back to in-process runtime rehosting approach. I can see performance benefits coming from hosting DNX in vanilla .NET as well as I can see benefits allowing people to integrate ASP.NET 5 and ASP.NET 4.6 applicati

[2015-08-10 02:25] anurse commented on #2315
Yep, it shouldn't be a hard fix. Happy to take it on, but my beta7 load is probably too high right now.

[2015-08-10 02:26] anurse commented on #2287
https://github.com/aspnet/Docs/blob/master/aspnet/getting-started/installing-on-windows.rst :wink: just sayin'

Feel free to at least log an issue on https://github.com/aspnet/Docs, but if you feel so inclined, you can send a pull request and fix it yourself! (speaking of wonderful things in this new world!)

[2015-08-10 02:31] anurse commented on #2375
Well if you're going to get all tautological about it :stuck_out_tongue: ...

If we have the ability to produce (`pack`, `wrap`, `build`, etc.) and consume (`restore`) packages in dnu then I don't see a problem with a simple command to initialize a project (which is how we expect people to create packages anyway). We shouldn't do scaffolding here, I entirely agree, but to argue that we shouldn't d

[2015-08-10 02:31] anurse commented on #2375
Personally I think DNU itself shouldn't be in the runtime but that's a discussion for a different thread :)

[2015-08-10 02:34] anurse commented on #2312
Yeah, it's pretty much the only option, which is what we landed on. It's unfortunate that it makes the lock file no longer portable, but I think that was inevitable (and wasn't really something you could rely on anyway).

[2015-08-10 04:36] davidfowl commented on #2375
This is better served as a global command. Maybe some of the others will be moved out as well.

I agree. We planned to move it out but it's more trouble than it's worth at this very moment. When things are more stable it'll be more realistic. We even made a repository for dnu at some point.

[2015-08-10 05:18] xanather commented on #2054
This is closely related to https://github.com/aspnet/dnx/issues/402. Is there any chance this will be implemented anytime soon, how far away is 1.0.0 release? Anyway, I think for now I will create a lightweight native library loader class and retrieve function pointers as this will work on all platforms http://stackoverflow.com/questions/13461989/p-invoke-to-dynamically-loaded-library-on-mono, not

[2015-08-10 06:29] davidfowl commented on #2054
I'm not sure if this will be implemented for v1, we'll see how it goes. We're already using the technique you posted in several (if not all) of our libraries that pinvoke into native components.

[2015-08-10 07:04] per-samuelsson commented on #2287
Couldn't agree more. Most def will! :+1:

[2015-08-10 07:40] borgdylan commented on #1815
This seems to be resolved for me. Stuff works ok.

[2015-08-10 07:40] #1815 closed

[2015-08-10 08:24] radenkozec commented on #2434
@davidfowl I din't try to do that. I have just checked produce output on build and referenced xproj dll in dotnet folder from my csproj.
That worked great in CTP 6 without any issues.

[2015-08-10 08:25] davidfowl commented on #2434
The problem is that dependencies of the package won't be copied. This never worked, not even in CTP6, you just got lucky. If you want to include the dependencies, of the class library then you'll need to manually include them in the csproj file.

[2015-08-10 08:33] radenkozec commented on #2434
@davidfowl  My xproj class library project had only 2 other class library dependencies. I have just referenced them also from csproj proj (xunit test project) and everything worked at least in CTP 6.
You think that message
*Could not load file or assembly 'System.Data.SqlClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.*
is somehow related to th

[2015-08-10 09:17] Jetski5822 commented on #2054
+1 - This would certainly help cleanup some of the plumbing in Orchard VNext.

[2015-08-10 12:57] abpiskunov commented on #2405
I see, sounds good.

[2015-08-10 14:13] migueldeicaza commented on #1590
While we have replaced Mono's thread pool with Microsoft in recent versions of Mono (4.2 and github/mono/mono master), it is unlikely that the issue is related to the threadpool implementation and even with that implementation, these issues will likely surface.

The sources are likely rooted here (while this information is old, chances are, some of the scenarios that made this bad are present in a

[2015-08-10 16:16] davidfowl commented on #2434
Does your class library use System.Data.SqlClient?

[2015-08-10 17:13] glennc commented on #2442
@davidfowl Any idea why it would be null in this case?

[2015-08-10 17:23] glennc commented on #2435
@CarlosFreire and @mikeandersun Looks like this is because of missing MyGet feeds, the aspnetvnext feed no longer has copies of the corefx or roslyn packages. Reopen if adding the feeds doesn't help. We're looking for a way to make this experience better in the future.

[2015-08-10 17:23] #2435 closed

[2015-08-10 17:28] halter73 commented on #2441
@davidfowl Yes it does.

[2015-08-10 17:30] glennc commented on #2426
@CarlosFreire If you update all your packages to a consistent version (all beta6 with the beta6 dnx for example) does this go away?

[2015-08-10 17:53] glennc commented on #2394
Closing until we can consistent repro

[2015-08-10 17:53] #2394 closed

[2015-08-10 17:54] glennc commented on #2384
Closing because its been a while. If you want to provide some more info then feel free to reopen and we will look at it.

[2015-08-10 17:54] #2384 closed

[2015-08-10 17:55] #643 closed

[2015-08-10 17:59] glennc commented on #2373
Closing this, @sayedihashimi can you try and remember to link this to a relevant tooling bug? That's the best we can do for now I think

[2015-08-10 17:59] #2373 closed

[2015-08-10 18:03] glennc commented on #2372
Closing. Package names are case sensitive. We fixed our broken package references.

[2015-08-10 18:03] #2372 closed

[2015-08-10 18:42] ChengTian opened #2447 "DNU should allow absence of "versions" property in v3 index.json"
That means we also consider unlisted packages during restore. It can also fix the exception thrown by `dnu restore` when restoring package like https://az320820.vo.msecnd.net/v3-flatcontainer/classlibrary1/index.json

@davidfowl  agrees that this can be assigned to me.

[2015-08-10 19:40] pranavkm commented on #2447
cc @yishaigalatzer Might be something that needs to be ported to nuget.

[2015-08-10 19:44] DamianEdwards opened #2448 "Suggestions to improve publish performance to Kudu"
Publish time to Azure using Kudu isn't awesome right now. Here's some suggestions of things we can try to make it better:

- [x] Make 'dnu publish' copy already unzipped package contents rather than copy then unzip at destination. This should help speed up deployments as there will be significantly less IO on the durable (slow) drive.
- [x] `dnu build` (called by `dnu publish`) on project with com

[2015-08-10 19:46] per-samuelsson commented on #2355
+1.

I've struggled this for hours today. I thought it was a joke when I found an issue with this title :smiley:

This issue looks like that kind of thing that, on the surface, I'd just put into the backlog and count on that I'd never see it again. But seeing that in fact a few of us over a rather short time period hits the same thing, it might be an idea to put it higher up the queue. Especially