[2015-03-01 19:38] davidfowl commented on #1277
I can reproduce the issue and it looks like it's because projects aren't added to the solution. It's a tooling issue

[2015-03-01 19:39] #1277 closed

[2015-03-01 23:35] giggio opened #1307 "Add Microsoft.Framework.PackageManager to nuget.org feed"
Currently it is not there, and there is no way we can reference it. Any chance this could be made available? It would be nice to be able to reason programatically about a package dependency.

My specific scenario is: I have installed chromedriver, I want to run it, and I need to find the executable. I could read project.json, but it is not installed directly, but on another dependency. I would nee

[2015-03-02 00:09] davidfowl commented on #1307
We're not going to do this. We're already working on merging NuGet and kpm. You should eventually be able to use reason about dependencies using the nuget libraries.

[2015-03-02 00:09] davidfowl commented on #1307
If you want to figure out where a package is at runtime then there's another runtime API for that.

[2015-03-02 01:01] giggio commented on #1307
Great! What API is this?

[2015-03-02 01:24] davidfowl commented on #1307
ILibraryManager: https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/KestrelEngine.cs#L17

[2015-03-02 04:36] victorhurdugaci commented on #1277
Did you open a tooling bug?

[2015-03-02 05:03] davidfowl commented on #1277
Yes I did

[2015-03-02 05:25] victorhurdugaci commented on #1277
Thanks!

Sent from my phone
________________________________
From: David Fowler<mailto:notifications@github.com>
Sent: ý3/ý1/ý2015 9:03 PM
To: aspnet/XRE<mailto:XRE@noreply.github.com>
Cc: Victor Hurdugaci<mailto:victor.hurdugaci@microsoft.com>
Subject: Re: [XRE] Nested folders make everything break (#1277)

Yes I did

—
Reply to this email directly or view it on GitHub<https://github.com/aspnet/X

[2015-03-02 16:01] BillHiebert commented on #1301
We currently don't have a clean target at all. There is an item on the backlog to fix this.

[2015-03-02 18:35] jodavis opened #1308 "'kpm restore' needs to report errors more clearly"
When a package can't be found during 'kpm restore', it is reported in the middle of the output, in the same dark gray color as all the other standard messages. It is then unclear why the restore command returned a failed error code.

There should be a summary of errors at the end of the command output, so the important messages are easy to find. Error messages should be reported on stderr as well,

[2015-03-02 18:45] ullasprabhu opened #1309 "Unable to add Nuget package from an Internal Nuget source in ASP.NET 5.0"
This works on VS 2013 but not on VS 2015. Here is the error I get –
I tried deleting all the corrupt files mentioned below but still no luck.

[code]

[2015-03-02 19:38] chlowell commented on #1271
Ah, I see. ```kpm restore --ignore-failed-sources``` does work here. Is the plan to change the messaging in future, replacing stack trace with usage instructions?

[2015-03-02 23:24] ChengTian opened #1310 "Add functional tests for lockfile"
Need to figure out how to `kpm restore` for functional tests.

One possible approach proposed by @davidfowl is that we check in a bunch of sample/test projects, make nupkgs from them and make feed with the nupkgs.

[2015-03-02 23:27] ChengTian opened #1311 "Command line parser perf"
Reported by @davidfowl :

![untitled](https://cloud.githubusercontent.com/assets/1383883/6453195/8642fb44-c0f0-11e4-8c4c-1363f4b46191.png)

@lodejard 's thoughts:

The underlying runtime itself should probably work by taking known switches from the front of the args[] without using a full-blown options API.

[2015-03-03 00:09] ChengTian opened #1313 "kpm bundle should generate lockfile when the original project doesn't have one"
Reported by @anurse :
Given a project that doesn't have any dependency, user should be able to run it without `kpm restore`. So the project may not have lockfile. In this case, `kpm bundle --no-source` should generate lockfile in the output.

[2015-03-03 08:56] #1307 closed

[2015-03-03 21:37] muratg commented on #1261
@Praburaj could you have a look?

[2015-03-03 22:08] Praburaj commented on #1261
@muratg sure.

[2015-03-03 22:11] suhasj commented on #1261
The issue does not repro for me with the latest bits. @troydai can you check if this still repros for your scenario

[2015-03-04 01:20] Praburaj commented on #1261
@troydai confirmed this does not reproduce anymore. Closing this down.

[2015-03-04 01:20] #1261 closed

[2015-03-04 05:33] #1220 closed

[2015-03-04 05:54] davidfowl commented on #1220
@ChengTian Does this affect kpm bundle? Does the lock file become invalid when you bundle?

[2015-03-04 16:22] abedon commented on #1278
thx ninety7 for your sharing.

[2015-03-04 19:55] MattGal opened #1315 "XRE gives poor experience when multiple users log into the same machine"
I've encountered this issue multiple times... generally when using VMM servers that only I have access to to create a VM, then share it with latest ASP.NET VNext and VS appropriately set up, with partner teams.

If I have done KVM upgrade and have a project that depends on some specific version of XRE, generally due to the build of VIsual Studio I'm using or the versions of packages I'm using, the

[2015-03-04 20:01] davidfowl commented on #1315
Isn't this a dupe of #1030.

[2015-03-04 20:11] abpiskunov opened #1316 "kpm wrap to wrap a custom assemblies in the same way as csproj to allow referencing them"
To allow reference custom (loose) assemblies in project.json we decided to use kpm wrap in the same way it works for project dependencies. This issue is to track that work item. As soon as it is done , we will enable Browse button/tab in Add Reference dialog.

[2015-03-04 20:23] abpiskunov commented on #1316
@ChengTian fyi

[2015-03-04 20:35] MattGal commented on #1030
You're welcome to track it that way.  I view them as different as this is another user on the same identical machine where I was using it, versus someone trying to restore a solution from source control.  As long as it gets easier for the user experiencing the situation to know it has happened, I don't mind if you close this as dupe.

[2015-03-04 20:38] #1030 closed

[2015-03-04 21:51] MattGal opened #1317 "CallContextServiceLocator static can fail to provide IAssemblyLoadContext"
For users of ASP.NET VNext console and Web apps, they can use startup dependency injection to get, for example, an instance of IAssemblyLoadContext.  Trying to do this from a Class Library, I understand I need to use something like this:  (My scenario was trying to get Assembly.LoadFile()-like behavior running on Core profile)

    IAssemblyLoadContext loadContext = (IAssemblyLoadContext)CallConte

[2015-03-04 21:57] troydai opened #1319 "Need investigation: Crossgen coreclr KRE will break the IIS hosted scenario"
OS: Windows Server 2012 R2

[code]

[2015-03-04 22:17] ChengTian commented on #1184
@davidfowl , it's better to finish this before adding new tests. Tests for `kpm bundle --no-source` will come after this today.

[2015-03-04 22:19] MattGal commented on #1317
Closing.  My snippet should have been:
    var loadContext = (IAssemblyLoadContextAccessor)CallContextServiceLocator.Locator.ServiceProvider.GetService(typeof(IAssemblyLoadContextAccessor));
    var asm = loadContext.Default.LoadFile(path);

[2015-03-04 22:19] #1317 closed

[2015-03-04 23:38] glennc commented on #1309
@anurse Will this be a problem once we finish all the work you guys are doing?

[2015-03-04 23:55] glennc commented on #1304
@troydai Can you check on the state of our Kudu integration, and perhaps see why setting the path appears to be failing?

[2015-03-04 23:57] glennc commented on #1301
Closing this, the issue is tracked in the tooling repositories.

[2015-03-04 23:57] #1301 closed

[2015-03-04 23:58] Daniel15 commented on #1301
Thanks! Is there a public issue I can watch or is it only in an internal tracker?

[2015-03-05 00:00] glennc commented on #1296
@anurse Is this code we temporarily borrowed from NuGet?

[2015-03-05 00:02] glennc commented on #1284
@davidfowl closing this if it's filed in the tooling repo. Reopen it if you disagree.

[2015-03-05 00:02] #1284 closed

[2015-03-05 00:04] glennc commented on #1272
Duplicate. Closing in favor of https://github.com/aspnet/XRE/issues/1316

[2015-03-05 00:04] #1272 closed

[2015-03-05 00:07] glennc commented on #1271
We can investigate making it easier to discover `ignore-failed-sources` with some polishing of the the error or something. Changing the title to reflect that and assigning it to a milestone.

[2015-03-05 00:19] glennc commented on #863
Duplicate of issue in the logging repo: https://github.com/aspnet/Logging/issues/46

[2015-03-05 00:19] #863 closed

[2015-03-05 00:20] #871 closed

[2015-03-05 00:23] #944 closed

[2015-03-05 00:25] glennc commented on #1097
I think we are going to pivot on how we do breadcrumbs. Come talk to me about it.

[2015-03-05 06:31] troydai commented on #600
This issue still can be repo today.

[2015-03-05 06:32] hfjallemark commented on #928
Any updates on this?

[2015-03-05 16:22] troydai commented on #1026
@akoeplinger this bug is fixed. When individual file references for codes listed in `compileFiles` property is missing, exception will be raised. https://github.com/aspnet/Home/wiki/Project.json-file

[2015-03-05 16:22] #1026 closed

[2015-03-05 16:24] troydai commented on #831
@glennc @muratg we have --debug option on `klr` now. This can be closed.

[2015-03-05 16:24] #831 closed

[2015-03-05 16:24] troydai commented on #876
@dougbu is this issue fixed?

[2015-03-05 16:28] troydai commented on #1043
@glennc @muratg If we're not going to fix it, should we just close it?

[2015-03-05 16:29] troydai commented on #1091
@davidfowl Will this be solved in recent runtime rewrite?

[2015-03-05 16:29] troydai commented on #1212
@glennc @muratg need triage. I think we need this.

[2015-03-05 17:09] ChengTian commented on #991
Here is an example marking a dependency as dev component: https://github.com/aspnet/Signing/blob/abe67b657b1d0306976d9ddbe77136f9ab5a82a8/src/Microsoft.Framework.Signing/project.json#L4

[2015-03-05 17:55] StefH commented on #1302
The **owners** property is also not supported. Currently the value from **authors** is copied into this field when the nuget package is created.

Other non-supported fields are:
**summary**
**releaseNotes**

[2015-03-05 17:58] dougbu commented on #876
the issue is not fixed.  for example, if I add
[code]
to a project.json and `kpm build --quiet` in the containing folder, the output is
[code]

has this bug been triaged and assigned to a milestone?

[2015-03-05 19:42] victorhurdugaci commented on #1101
@blowdart, Levi suggested to run this by you. He thinks that we might not need this for v1 because we do not have a safe way of stopping a running app that we know nothing about. What do you think?

[2015-03-05 20:10] davidfowl commented on #1101
We shouldn't need this for v1.

[2015-03-05 20:52] blowdart commented on #1101
If the patches trigger a reboot we have parity with the existing poor behaviour. Improvements can come later.

[2015-03-05 22:11] #1313 closed

[2015-03-05 22:18] #532 closed

[2015-03-05 22:18] davidfowl commented on #532
This doesn't repro anymore

[2015-03-05 22:19] #758 closed

[2015-03-05 22:19] davidfowl commented on #997
Closing this and opening a new bug about framework references being treated as packages

[2015-03-05 22:20] #997 closed

[2015-03-05 22:21] davidfowl opened #1322 "Framework Assemblies and Packages are treated the same"
PackageA -> FrameworkAssemblyB -> PackageB is seen as a cycle

[2015-03-05 22:21] #1058 closed

[2015-03-05 23:44] sayedihashimi opened #1323 "When there is a P2P reference to a project that doesn't build we should get a build error"
Consider this scenario.

MyWebProject (ASP.NET 5 web project) references MySharedProject (ASP.NET 5 class library). If there is a compile error in MySharedProject when you execute ```kpm biuld``` on ```MyWebProject``` we should get a build error that ```MySharedProject``` doesn't build. Instead we get ``build succeeded```.

cc @davidfowl @danroth27 @glennc @BillHiebert @barrytang

[2015-03-05 23:51] troydai commented on #1304
@sgtfrankieboy,  you don't need to carry `kvm.ps1` with your side any more. Windows Azure Websites now carries the last `kvm.ps1`. Also, the parameter `SCM_KRE_VERSION` is retired. __Kudu__ do not read from it anymore, instead it reads `global.json`'s `sdk` property`

[code]

[2015-03-05 23:54] #1304 closed

[2015-03-06 00:00] muratg commented on #1316
@ChengTian Do you have time to look into this? It's blocking a tooling scenario as described above.

[2015-03-06 04:24] davidfowl commented on #963
We can do this now everywhere thanks to https://github.com/dotnet/roslyn/commit/f591db040a09b0d958b628a4183a332bea6834c1

[2015-03-06 04:25] muratg commented on #963
YAY!

[2015-03-06 08:57] davidfowl commented on #1323
Dupe of  https://github.com/aspnet/XRE/issues/583

[2015-03-06 08:57] #1323 closed

[2015-03-06 16:42] troydai commented on #1319
It only happens with CI when the build is run by build agent service.

[2015-03-06 17:57] victorhurdugaci opened #1326 "kpm install should provide an option to specify what version of KRE to use"
Today, the commands run in the context of the current active framework. If the app doesn't support the active framework, it fails.

There should be an option to "lock" the app on a particular framework version.

Disadvantage: if you remove that framework, the app will fail.

[2015-03-06 17:59] davidfowl commented on #1326
Talk to Louis about this before doing anything. We had a discussion about this a while back.

[2015-03-06 18:07] troydai commented on #1292
Developing on this branch. Feature scope:

1. Returns warnings on Build and Bundle command;
2. Shows warnings in VS.

[2015-03-06 18:58] muratg commented on #643
@glennc do we need this in RC1?

[2015-03-06 19:29] ChengTian commented on #1316
I'll start to work on this item today.

[2015-03-06 20:08] muratg commented on #831
:+1:

[2015-03-06 20:10] muratg commented on #773
@troydai Does the work you did with carrying Culture across threads solve this one and #600?

/cc: @DamianEdwards

[2015-03-06 20:11] muratg commented on #1062
Closing this one.  If there's still work to be done, feel free to reopen.

[2015-03-06 20:12] muratg commented on #1227
@barrytang is Tooling team OK with this?

[2015-03-06 20:13] muratg commented on #718
:+1: Changing title to make this a perf. test item.

[2015-03-06 20:19] muratg commented on #1043
@davidfowl @lodejard What are your thoughts on this one?

[2015-03-06 20:19] glennc opened #1327 "Specify the sha algorithm used in lock file"
Should be "SHA512" not just "SHA"

@blowdart

[2015-03-06 20:20] muratg commented on #1212
@ChengTian Would Matcher be applicable for this case?

[2015-03-06 20:21] muratg commented on #991
Looks like this is doable.  Closing this one.

[2015-03-06 20:21] #991 closed

[2015-03-06 21:33] troydai opened #1329 "Fail the build (or related operations) when the project.json still contains deprecated properties."
A few properties in project.json have been renamed. The old names are supported for compatibility for now but should be rejected by RTM/RC.

[2015-03-06 21:34] troydai opened #1330 "Make VS show warning messages for depreciated properties."

[2015-03-06 21:34] troydai commented on #1292
Change of scope: item 2 will be traced on https://github.com/aspnet/XRE/issues/1330
PR related to this issue will only impact _build_ and _bundle_ command.

[2015-03-07 03:06] barrytang commented on #1227
@vijayrkn?

[2015-03-07 09:38] conniey opened #1333 "`k build` does not work in beta3"
I have a library that I want to build in ASP.NET vNext, but when I run [`k build`](https://github.com/aspnet/Home/wiki/Command-Line#k-command), it gives me an InvalidOperationException saying that it can't execute the command `build`.
The sample code I tried to build was the sample from XRE:  https://github.com/aspnet/XRE/tree/dev/samples/HelloShared

[code]

[2015-03-07 09:49] davidfowl commented on #1333
k build hasn't worked since 0.1-alpha3, it's kpm pack now.

[2015-03-07 09:49] #1333 closed

[2015-03-07 09:50] conniey commented on #1333
Is the wiki going to be updated? https://github.com/aspnet/Home/wiki/Command-Line#k-command says that it should

[2015-03-07 10:15] davidfowl commented on #1333
Tweaked it /cc @glennc

[2015-03-07 19:36] muratg commented on #1097
@victorhurdugaci let's get this prioritized. Fundamentals team has started testing these things already. :)

[2015-03-07 20:19] ChengTian opened #1336 "Add support for full name and version display in command line utils"
To support the help information described at https://github.com/aspnet/Coherence-Signed/issues/19

[2015-03-08 09:17] davidfowl opened #1340 "Split runtime interfaces into smaller assemblies"
Possibly grouped by purpose and re-namespaced for the runtime rewrite:

- Dependency management
 - ILibraryManager (with a different shape and less methods)
- Compilation
- Core
- Assembly Loading

/cc @anurse

[2015-03-08 13:28] lefb766 opened #1341 "*.sh requires bash at /bin/bash"
*.sh specify `/bin/bash` as the path where bash resides. However, there can be systems don't have bash located at /bin/bash, so we can't run k nor kpm run on such systems.

### Problem factors
* Bash location could be /bin, /usr/local/bin or wherever.
* Some Linux systems (e.g. Debian-based ones) may not have bash installed.
* *sh includes some bash-specific code which can be avoided.

This issue

[2015-03-08 17:43] davidfowl commented on #1341
Moved to https://github.com/aspnet/Universe/issues/172

[2015-03-08 17:43] #1341 closed

[2015-03-08 19:45] anurse opened #1342 "Add support for new TFMs"
* dnx46 - DNX on Desktop .NET Framework 4.6
* core50 - Assemblies targeting the broader ".NET Core 5.0" platform

Support needs to be added for:
* Pulling the right framework reference assemblies (dnx46 only)
* Framework Compatibility Matrix (i.e. dnxcore50 and dnx46 projects can reference core50, etc.)
* Project Target Frameworks
* Parsing of new framework names (FrameworkNameUtility, VersionUtil

[2015-03-08 19:46] anurse opened #1343 "Remove hard-coded framework mappings in FrameworkReferenceResolver"
Now that we have a 1:1 mapping of "dnx" framework version directly to .NET Framework version, we don't need the weird version number mapping (5.0 => 4.5.2). We can just use the version number of the targetted DNX framework to look up reference assemblies.

[2015-03-08 19:47] anurse opened #1344 "Ensure proper behavior when "dnxcore" and "aspnetcore" are both provided"
Honestly, I'm not even 100% sure what the correct behavior should be :). But we need to figure that out and make sure we do the right thing.

I think an error would be best, since if you know about dnxcore, you should never need to use aspnetcore.

[2015-03-08 23:26] anurse opened #1346 "Fix post-build scripts"
Many still copy to "kre-..." instead of "dnx-...". Just a simple find-replace :)

[2015-03-09 01:34] anurse opened #1348 "Fix use of TargetFramework property in dnx.vcxproj"
We shouldn't use the TargetFramework property any more. The split is actually by runtime, not framework. Instead of building the dnx.exe bootstrapper in "dnx451" and "dnxcore50" flavors, we should use "clr" and "coreclr_[platform]" as the names.

[2015-03-09 15:34] troydai opened #1351 "kpm bundle generates web.config with deprecated target framework name"
[code]

[2015-03-09 15:35] troydai commented on #1351
This is blocking IIS host scenarios.

[2015-03-09 15:44] #1351 closed

[2015-03-09 15:44] troydai commented on #1351
It looks like an issue in Helios.

[2015-03-09 16:42] anurse commented on #1344
No longer relevant now that we're not using them as aliases to each other.

[2015-03-09 16:42] #1344 closed

[2015-03-09 17:22] danroth27 opened #1352 "Support exclusion syntax with globbing"
See https://github.com/aspnet/Home/issues/248.

Can we support ! for exclusion?:

[code]

[2015-03-09 17:57] bricelam commented on #849
The new `core50` framework resolves this issue.

[2015-03-09 17:57] #849 closed

[2015-03-09 18:06] #960 closed

[2015-03-09 18:06] davidfowl commented on #960
RIP

[2015-03-09 19:30] #1346 closed

[2015-03-09 21:25] ChengTian commented on #955
Talked to @davidfowl , we the generated wrapper `project.json` should be in `<rootDir>/wrap/<assemblyName>`. `<rootDir>` should be resolved using `Directory.GetCurrentDirectory()` as a start point.

[2015-03-09 22:26] BrennanConroy commented on #1227
ping

[2015-03-09 23:52] muratg commented on #600
@troydai Can you try this with your hacked up code to pass Culture across threads?

/cc: @DamianEdwards

[2015-03-09 23:52] muratg commented on #621
@davidfowl do you want this in RC1?

[2015-03-09 23:55] muratg commented on #642
@Praburaj Do we still have this issue on CoreCLR?

[2015-03-10 00:00] muratg commented on #768
@davidfowl/@lodejard ping.  Want to get this in RC1 or is it OK to backlog? Please assign the milestone accordingly.

[2015-03-10 00:00] troydai opened #1358 "Long coreclr home and application base path cause errors in CoreCLR"
https://github.com/aspnet/XRE/blob/dev/src/dnx.coreclr/dnx.coreclr.cpp#L463

The size of the buffer to store coreclr path and app path is set to `MAX_PATH`, which can be easily exceeded when both paths are long. It happens in the case of IBC build on CI.

Which makes it worse is that the error is swallowed. Not trace or exception to be captured.

[2015-03-10 00:03] muratg commented on #823
@lukewaters Does this still repro?

[2015-03-10 00:05] muratg commented on #828
What's the error/warning output of other similar tools with "quiet" option?

/cc: @lodejard @davidfowl

[2015-03-10 00:07] muratg commented on #840
Removing duplicate label since we have decided to keep this one open.

[2015-03-10 00:07] Praburaj commented on #642
I can validate and update the bug.

[2015-03-10 05:27] bojanrajkovic opened #1360 "kpm restore fails when writing lock file"
Using KRE 1.0.0-beta4-11203, trying to restore, get the following:

[code]

Tried blowing away lock file, no dice.

[2015-03-10 05:30] bojanrajkovic commented on #1360
project.json file is very vanilla:

[code]

[2015-03-10 05:36] davidfowl commented on #1360
I'm assuming this has something to do with the rename. The newer packages are targeting a new target framework that won't work with the existing kre. You need to update:

kvm => dnvm
kre => dnx

[2015-03-10 05:36] #1360 closed

[2015-03-10 05:37] davidfowl commented on #1352
Wrong repo

[2015-03-10 05:37] #1352 closed

[2015-03-10 05:42] danroth27 commented on #1352
https://github.com/aspnet/FileSystem/issues/71

[2015-03-10 14:34] dougbu opened #1361 "Make `kpm` case-insensitive on Windows"
`kpm` commands are currently case-sensitive even on Windows.  For example,
1. build repo to ensure everything is restored and up-to-date
2. change the case of a folder used elsewhere e.g.
 - Microsoft.AspNet.Razor -> Microsoft.AspNet.Razor2
 - Microsoft.AspNet.Razor2 -> Microsoft.AspNET.Razor
3. (note `git status` shows nothing has changed at this point)
4. `kpm restore` in a project depending on

[2015-03-10 15:15] dougbu commented on #828
@muratg the normal `--quiet` behaviour is to display minimal information but still warnings and errors.  this makes those errors and warnings much more visible.

many tools support distinct `--nologo`, `--quiet`, and `--silent` options for different output levels.  e.g. the latest xUnit runner has [two](https://github.com/aspnet/aspnet.xunit/blob/dev/src/xunit.runner.aspnet/Program.cs#L154-L155) o

[2015-03-10 15:55] aguacongas opened #1362 "Could not load file or assembly Microsoft.Framework.Runtime.IAssemblyLoaderEngine"
Hi,

using the beta3 I've this issue on a web project:

    klr Information: 0 : [LoaderContainer]: Load name=Microsoft.Framework.Runtime.IAssemblyLoaderEngine
    System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Framework.Runtime.IAssemblyLoaderEngine, Ver
    sion=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file

[2015-03-10 16:12] BrennanConroy commented on #1358
Should be [(MAX_PATH + 1) * 2] unless CreateAppDomainWithManager expects a certain sized string.

We should also print the value of errno in the CHECK_RETURN_VALUE_FAIL_EXIT_VIA_FINISHED macro and possibly include the line number __LINE__ and file just in case __FILE__

[2015-03-10 16:32] aguacongas commented on #1362
oups, wrong repo !

[2015-03-10 16:32] #1362 closed

[2015-03-10 17:14] BrennanConroy commented on #1227
Tooling team has made a fix on their side.
What do we want to do in bundle now as far as overwriting files, never overwrite, or always overwrite?

[2015-03-10 17:49] vijayrkn commented on #1227
Bundle should always overwrite files.

[2015-03-10 17:59] ChengTian opened #1364 "Add advanced authentication for kpm restore proxy"
Reported by @sleemer in https://github.com/aspnet/DNX/pull/324

For example, `kpm restore --proxy` cannot handle credentials with domain usernames like:
`company.com\username:password` or `username@company.com:password` because you cannot construct an URI like `http://company.com\username:password@proxyaddress.com` with `UriBuilder`.

[2015-03-10 18:02] davidfowl commented on #1364
We shouldn't out any more effort into making kpm work with proxies. We're just going to merge with nuget and use the code that's in there (which pretty much handles all/most cases)

/cc @emgarten

[2015-03-10 18:45] #1364 closed

[2015-03-10 19:56] ChengTian opened #1366 "Fix sporadic exception thrown during "kpm restore""
Directory.Move() sporadically throws exceptions.

[2015-03-10 21:15] ChengTian commented on #1366
Found a problem after pushing to CI.

The fix #1324 doesn't work because when `kpm restore` to a remote folder, `Directory.Move()` the temp folder from current machine to the remote machine throws exception:
[code]

[2015-03-10 21:28] davidfowl commented on #1366
Nice

[2015-03-10 21:28] cherrydev opened #1367 "kpm no longer installs transitive dependencies"
Since upgrading to dnx/dnvm I can no longer get my 'k' commands to run because kpm restore no longer installs the transitive dependencies of the direct dependencies listed in my project.json.
[code]

The project.json.lock file seems correct, listing the transitive dependencies correctly, but it does not install them.  If I list a direct dependency in my project.json, it correctly installs it in my

[2015-03-10 21:31] davidfowl commented on #1367
It does, your project.json should have dnx451 instead of aspnet50

[2015-03-10 21:31] #1367 closed

[2015-03-10 21:34] cherrydev commented on #1367
Thanks.  It would be fantastic if there was some sort of article or document somewhere that explained everything that we need to do to move from k/kpm/kvm to dnx/dnvm.

[2015-03-10 21:36] BrennanConroy commented on #1367
There is a nice chart near the beginning that shows all the name changes
https://www.youtube.com/watch?v=-qt0POsiAF8

[2015-03-10 21:39] ChengTian opened #1368 "Do lockfile validation before following locked lockfile in kpm restore"
Users may add new dependency to `project.json` after they lock the lockfile.

[2015-03-11 00:08] ChengTian opened #1371 "Lockfile validation should handle parsing erros properly"
Reported by @davidfowl

If the lockfile is not a valid JSON, don't throw exception. We should treat it as a out-of-date lockfile and give error messages reminding users to do `kpm restore`

[2015-03-11 05:12] davidfowl commented on #1089
@djanosik do you want to code this up and send a pull request?

[2015-03-11 05:40] lefb766 opened #1372 "`kpm build` executes `postBuild` scripts even if the build failed."
This behaviour is not intuitive and may cause unexpected side-effect.

Here's simplest steps to repro:
1. Create project.json described below and a .cs file with random content (which doesn't compile).
2. Run `kpm build`.

project.json:
[code]

Dnx version: 1.0.0-beta4-11244

[2015-03-11 05:53] davidfowl commented on #1372
Agreed that's unexpected. Do you want to send a PR to fix it?

[2015-03-11 06:16] lefb766 commented on #1372
Yes, I'd love to. I'm not familiar with the code base however, so it might take long to find where to fix.

[2015-03-11 06:19] davidfowl commented on #1372
Here's the line of code:

https://github.com/aspnet/DNX/blob/dev/src/Microsoft.Framework.PackageManager/Building/BuildManager.cs#L195

There's a variable called success that you can check before executing the scripts

[2015-03-11 06:25] lefb766 commented on #1372
Thanks.

[2015-03-11 07:06] lodejard commented on #1368
Yep, if the file is locked=true, and validation fails, then restore should exhibit the same behavior as if it has been run with "kpm restore -lock"

[2015-03-11 08:39] davidfowl opened #1374 "project.json is being used by another process"
[code]

/cc @PradeepKadubandi @ChengTian

[2015-03-11 08:49] davidfowl opened #1375 "Lock file isn't updated when a dependency can't be resolved"
The problem with not writing the lock file is that all dependencies turn look unresolved since the lock file provider isn't used if the lock file out of date. This makes it harder to figure out what dependency is actually missing since it makes it seems like all are missing.

[2015-03-11 08:56] #1375 closed

[2015-03-11 09:00] davidfowl opened #1376 "Print summary of restore errors when kpm restore runs on multiple projects"
This hits *everyone*. Run kpm restore at the solution root, if one of the projects fail to restore something you need to search the restore log (which can be huge) to figure out what the package is.

[2015-03-11 11:17] djanosik commented on #1089
No I don't ;)

[2015-03-11 15:52] victorhurdugaci opened #1377 "If dnvm is not installed, you cannot build twice"
On a clean machine, without dnvm, clone dnx and build.
Everything works fine the first time. However, if you try to do that again, it fails complaining the `kpm` cannot be found.

This is because of this `goto` https://github.com/aspnet/DNX/blob/dev/build.cmd#L18 Basically, if KoreBuild is there, then it skips the DNX install too.

[2015-03-11 16:37] PradeepKadubandi opened #1378 "kpm restore fails when project.json is readonly"
I am using the new dnx drop after rename : dnx-clr-win-x86.1.0.0-beta4-11235

Create a new console app and running 'kpm restore' from the app's folder works.

After that make 'project.json' file read only (attrib +R project.json) and then run 'kpm restore' and it fails saying UnauthorizedException.

[2015-03-11 17:02] troydai opened #1379 "Retire the legacy property names in project.json"
`code`, `resources` and `files` should be retired.

[2015-03-11 17:14] troydai commented on #1292
Fixed in 41ae546c87337413138ee5c75bd32255a7bf0f1d
Moving on to #1330

[2015-03-11 17:14] #1292 closed

[2015-03-11 17:22] PradeepKadubandi commented on #1378
Here's the stack trace:

Restoring packages for C:\Users\pradeek\Documents\Visual Studio 2015\Projects\TestConsoleApp\src\TestConsoleApp\project.json
  CACHE https://www.myget.org/F/aspnetvnext/api/v2/FindPackagesById()?Id='System.IO'
  CACHE https://www.nuget.org/api/v2/FindPackagesById()?Id='System.IO'
  CACHE https://www.myget.org/F/aspnetvnext/api/v2/FindPackagesById()?Id='System.Text.Encoding

[2015-03-11 19:29] #1378 closed

[2015-03-11 20:39] bricelam commented on #952
Re-openeing; @barrytang says it's a runtime issue.

[2015-03-11 22:14] ChengTian commented on #1374
Dup of https://github.com/aspnet/DNX/issues/1378

[2015-03-11 22:14] #1374 closed

[2015-03-11 22:59] troydai commented on #600
Current status:

Test application:
https://github.com/troydai/dnx-issue600

The full comparison across DNX451, DNXCORE50 and Desktop .Net 4.5.1:

[code]

[2015-03-11 23:30] muratg commented on #600
@troydai was this with your hack?  in other words, does it still fail to the proper comparison with your hack?

[2015-03-11 23:30] troydai commented on #600
It's not hacking. I'm working on the results after apply #953 changes.

[2015-03-12 00:23] muratg commented on #1138
@victorhurdugaci please sync up with Justin from nuget team on this one.

[2015-03-12 01:54] dbreshears opened #1383 "kpm restore fails with recent versions of kestrel - Can not add property Microsoft.AspNet.Hosting to Newtonsoft.Json.Linq.JObject"
<pre>

Trying to run kpm restore on a web project I get an error with any recent Kestrel package that I add to the project.json file.

Seems to happen with all versions of Kestrel > 1.0.0-beta4-11222.

Installing Kestrel 1.0.0-beta4-11252
Writing lock file <projectPath>\bin\output\approot\src\WebApplication4\project.lock.json
----------
System.ArgumentException: Can not add property Microsoft.AspN

[2015-03-12 03:28] davidfowl commented on #1383
See https://github.com/aspnet/Home/issues/368

[2015-03-12 03:28] #1383 closed

[2015-03-12 04:58] ChengTian opened #1385 ""kpm wrap" should automatically wrap dependency assemblies of an assembly if they are in the same dir"
In current `kpm wrap`, if ProjectA.csproj references AssemblyB.dll and AssemblyC.dll is a dependency of AssemblyB.dll.

When `kpm wrap ProjectA.csproj`, although it also automatically wraps AssemblyB.dll, AssemblyC.dll is not automatically wrapped even it's in the same dir as AssemblyB.dll.

[2015-03-12 08:01] troydai commented on #1330
extension: supporting multiple versions. VS will sends DTH the protocol version.

[2015-03-12 08:02] davidfowl commented on #1330
Related to #1061

[2015-03-12 08:03] troydai commented on #1330
The current incoming message for initialization is not modeled to accept version: https://github.com/aspnet/DNX/blob/dev/src/Microsoft.Framework.DesignTimeHost/Models/IncomingMessages/InitializeMessage.cs

[2015-03-12 08:19] lefb766 commented on #173
I can build DNX successfully with beta4 and mono 3.10.0. Can anyone else confirm this issue remains?

[2015-03-12 09:30] davidfowl opened #1386 "Add lock file version check"
We have a version property in the lock file so that clients can fail and regen the lockfile when the format changes (or fail with an error message).

The reading should take in a required version.

/cc @anurse

[2015-03-12 16:09] #1051 closed

[2015-03-12 18:16] deepakaravindr opened #1388 "'kpm restore' fails when api.nuget.org (a nuget v3 feed) is enabled"
'kpm restore' fails when api.nuget.org (a nuget v3 feed) is enabled

Either
1) We need 'kpm restore' to understand and consume nuget v3 feeds OR
2) skip nuget v3 feeds and not fail restore

[2015-03-12 21:05] ChengTian commented on #393
This is not true any more after we reduce scripts in this commit https://github.com/aspnet/DNX/commit/29e6e8a10f4dfff004da9510d4f634070a6d6430

[2015-03-12 21:05] #393 closed

[2015-03-12 21:40] feiling opened #1391 "The pdb file info in DLL is not full path"
You can run `dumpbin /headers <the dll>` to get the path to the pdb file associated with an assembly, under section "Debug Directories".

For an assembly generated by csc, the path of the pdb file is the full path. This is why I can move the file to another place on the same machine and the debugger can still locate the source files.

For an assembly generated by k, the path of the pdb file is not

[2015-03-12 21:52] dsplaisted commented on #1271
This failure also occurs if the package source is available but it returns a 404 for any of the packages.  That means if I were to set up a private feed I would have to re-host all of the packages that I depend on from the public feed, instead of just putting the private packages I've built on that feed.

Is this the intended behavior?  This is quite a big change from how multiple feeds have worke

[2015-03-12 22:50] okletsgo commented on #706
Same to me. Bug I have just only English characters.

[2015-03-12 23:03] #1368 closed

[2015-03-12 23:19] muratg commented on #1391
@lodejard, re: discussion this morning in the nuget standup.

[2015-03-12 23:41] Praburaj opened #1393 "Restore failed as lock file is accessed by another process"
While saving the `project.json` file from VS I ran into this issue. I cannot reproduce this issue consistently, but filing a bug to just see if others run into this as well.

I was using this XRE while I ran into this:
[code]

[code]

[2015-03-13 00:39] muratg commented on #1393
@Praburaj were you running kpm restore while saving the file or was that kicked off by VS?

[2015-03-13 02:28] PradeepKadubandi opened #1394 "DTH performance issues for large solution load"
_Updated_

- [ ] `JsonDeserializer.Deserialize` is invoked 155 times and count for 40% of the time.
- [ ] Serializing the payload on the way out takes over 2.49% of the time.

_Expired_
- [ ] - TryGetProject called over and over
- [x] -  Microsoft.Framework.Runtime.NuGetDependencyResolver.GetSharedSources() should never touch the disk
- [ ] -  Microsoft.Framework.Runtime.Hosting.PatternGroup.Searc

[2015-03-13 04:23] MattGal opened #1395 "ArgumentException can be thrown on KPM restore due to duplicate properties"
I have gotten into the habit of deleting project.lock.json whenever anything goes wrong during package restore or after updating runtime, but in this case it does not work.

The error mode is this.  Regardless of how I got there (I have preserved the package cache folder and project folder for inspection by the team), this is a very poor error experience:

Writing lock file C:\GIT\...\project.lock

[2015-03-13 04:26] davidfowl commented on #1395
See https://github.com/aspnet/Home/issues/368

[2015-03-13 04:26] #1395 closed

[2015-03-13 04:45] MattGal opened #1396 "ArgumentException thrown from KPM restore that I can't work around"
(Apologies if this is a dupe... I just typed this whole issue up, found more details, then can't find it again.)

I have hit an issue with the specific dependencies of my project that somehow survives both deleting the entire package cache as well as deleting every project.lock.json file.  I can help members of the DNX team to see it on my local machine, and have also stored off the proj folder an

[2015-03-13 04:50] davidfowl commented on #1396
I'm sure I just closed this bug and pointed you to the issue on home so I'll do that here and write the short version.

https://github.com/aspnet/Home/issues/368#issuecomment-78107172

TL;DR

We renamed the TFMS and kre is now broken against the latest packages. The fix is to update everything. kvm -> dnvm. k -> dnx

[2015-03-13 04:50] #1396 closed

[2015-03-13 05:04] Praburaj commented on #1393
I just saved project.json in VS and there was no `kpm restore` running from command line at that time. But as I said I can't reproduce this consistently. It just happened once.

[2015-03-13 15:34] cnblogs-dudu opened #1397 "Build fails on Linux"
Change `#!/bin/sh` to `#!/usr/bin/env bash` in build.sh and build on Ubuntu. But get the following failure.
[code]

[2015-03-13 16:08] #1227 closed

[2015-03-13 16:36] troydai commented on #1211
Update: quirk won't work on Desktop when the app domain info's target framework name is set to .net framework 4.5.1. It only fixes culture flow issue on 4.6.

[2015-03-13 16:39] troydai commented on #1211
Update: change target framework name to 4.6 won't fix the async culture flow issue on Desktop.

[2015-03-13 16:52] troydai commented on #773
It doesn't seems to be related to #600. #600 will be fixed when quirk switch for TFM is added. But this is not.

[2015-03-13 17:04] suhasj commented on #1397
@cnblogs-dudu On the shell if you run `dnx --version` what is the output ?

[2015-03-13 17:05] glennc commented on #1361
In general case sensitivity is by design in order to provide some level of consistency across the platforms. Case sensitivity matters in non-windows platforms, and works on Windows. So we are case sensitive.

If I understand this you are saying that changing the case of a folder and then building fails, that would be by design as well given that we are case sensitive. Running `kpm restore` would p

[2015-03-13 17:08] glennc commented on #1319
@shhsu is this something you know about already?

[2015-03-13 17:14] glennc commented on #642
@Praburaj Did you see if this was still an issue?

[2015-03-13 17:17] shhsu commented on #1319
I have not seen this.
Is this crossgen after IBC data?
The error message above is a symptom not the root cause.

"Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

@troydai I assume this is not the "path too long" problem? (return code seems different

[2015-03-13 17:19] troydai commented on #468
It is not needed by Perf automation any more. I'll close it.

[2015-03-13 17:19] #468 closed

[2015-03-13 17:22] sayedihashimi opened #1399 "Add a summary of errors/warnings when restore is completed"
Today if there is an error during ```kpm restore``` (```dnx restore```) you have to search through the log to find the error. It would be nice if the command had a summary like msbuild at the end clearly showing errors/warnings.

[2015-03-13 17:35] glennc commented on #888
Assigning to 1.0 milestone. We will take it sooner if @borgdylan sends a PR for it though :)

[2015-03-13 17:42] troydai commented on #1319
Yup. This can be closed. It is the path too long issue.
https://github.com/aspnet/DNX/pull/1363

[2015-03-13 17:45] BrennanConroy commented on #1376
Thoughts?
![restoreerror](https://cloud.githubusercontent.com/assets/7574801/6644008/0a759108-c96e-11e4-9e93-79b3a8cfe0ce.PNG)

[2015-03-13 17:52] shhsu commented on #1319
Will do

[2015-03-13 17:52] #1319 closed

[2015-03-13 18:00] GrabYourPitchforks opened #1400 "Add a "DNX_ANY" compilation constant when the target framework is any DNX"
I've found that I have `#if DNX451 || DNXCORE50` in a few places in my code base. Unfortunately this pattern is fragile, as if a DNX452 target is added then this #ifdef will evaluate to false and the code that it surrounds won't be compiled.

Spoke with @Eilon about this, and we think that it might be good to define a handful of meta compilation constants like DNX (any DNX version on desktop CLR),

[2015-03-13 18:12] borgdylan commented on #888
With Mono 4.0+ the color improves automatically i.e. it is consistent enough. This issue might  be an expired one then with no PR needed.

![screenshot from 2015-03-13 19 11 53](https://cloud.githubusercontent.com/assets/7761010/6644515/de59b1ac-c9b4-11e4-84ae-c791c88cd382.png)

[2015-03-13 18:14] borgdylan commented on #888
To make stuff work in general with the latest bits Mono 4.1 or later is needed anyway.

[2015-03-13 18:15] rustd commented on #777
We met and we want to do this for Beta4. VS would set it to Development

[2015-03-13 18:16] dougbu commented on #1361
@glennc main issue is that errors don't show up when I expect; `kpm restore` appears to work but `kpm build` fails when project.json and actual folder don't exactly match.

[2015-03-13 18:16] blowdart commented on #777
Security win!

[2015-03-13 18:45] troydai commented on #1330
@BillHiebert the diagnostic message looks like this
[code]

[2015-03-13 18:55] glennc commented on #1399
Dup? https://github.com/aspnet/DNX/issues/1376

[2015-03-13 19:02] glennc commented on #1393
So for this to occur you need to be running restore and then kick off a restore in VS and have them happen to hit the same projects lock file at the same time. Seems rare, and the error message for it doesn't seem terrible. We could perhaps catch the error and retry, but I'm not sure that's any better.

Closing unless this hits someones main flow consistently, or commonly. I'm not against the retr

[2015-03-13 19:06] dougbu commented on #1393
see also aspnet/DNX#1190.  it only takes one process and a large-ish repo for problems to occur at least some of the time.

[2015-03-13 19:07] glennc commented on #1379
@troydai Is this all done? Can this be closed?

[2015-03-13 19:14] Praburaj commented on #642
I can't validate this issue right now because basic apps are broken on coreclr. Will update as soon as that's working.

[2015-03-13 19:16] glennc commented on #1295
@troydai Was this fixed in the recent rename pass?

[2015-03-13 19:24] glennc commented on #1265
Users can edit the file, to set locked to true if nothing else. I'm not against some tooling support to special case the file in VS, but moving it away from the project doesn't seem to add anything and it splits up my view of the world too much. So I don't think we should move it out of the project.

@davidfowl have we had any discussions about tooling features for lock files?

[2015-03-13 19:33] #1160 closed

[2015-03-13 19:44] Praburaj commented on #1393
I ran into this today again on a different repo.

[code]

[2015-03-13 20:36] troydai commented on #1379
No. It's not done. It's tracking bug.

The legacy names are still supported, but warnings are printed when they're used. They should be eventually retired by RTM, which means sending errors (fail the build) when old names are used.

[2015-03-13 20:46] OliDow commented on #1278
Thanks for sharing also

[2015-03-13 21:04] sayedihashimi commented on #1399
@glennc #1376 is specifically for multiple projects. I'd like this for a single project as well.

[2015-03-13 21:35] ChengTian opened #1401 "Lock file generated by "kpm bundle --no-source" has wrong contents"
Looks like regression introduced recently. The broken functional test was "fixed" by changing expected contents to wrong value.

This is blocking me from adding functional tests for https://github.com/aspnet/DNX/issues/1385, so I have to fix it first.

[2015-03-13 22:02] lodejard opened #1403 "dnx requiring "run" can be improved a bit"
`dnx path-to-project.json run` is a bit redundant - if you name the project file or folder, and there are no arguments, it can be implied.

On the other hand, if `dnx run` can use the current directory as the project then that does make sense, and looks cleaner than `dnx . run ` or `dnx project.json run`

[2015-03-13 22:59] NTaylorMullen opened #1405 "Enable DTH plugins to recover."
Right now if a user attempts to register a DTH plugin and it fails no more work occurs. We need to notify the caller that the plugin couldn't be registered and add the potential plugin to a recovery state mechanic where it could potentially come online.

[2015-03-14 00:22] muratg commented on #1376
Looks much better to me.

[2015-03-14 00:54] ChengTian commented on #955
Dup of https://github.com/aspnet/DNX/issues/1316

[2015-03-14 00:54] #955 closed

[2015-03-14 01:17] cnblogs-dudu commented on #1397
@suhasj If use `#!/bin/sh`, get the following output.
[code]

[2015-03-14 01:44] suhasj commented on #1397
sure it is preferable if you use bash. From the error looks like the installation of dnx mono was not as expected. How did you install dnx ?

[2015-03-14 02:28] cnblogs-dudu commented on #1397
@suhasj
`dnx --version` gets `No command 'dnx' found`. I follow these steps:
* git clone DNX repo
* install mono
* run ./build.sh

`mono --version` gets `Mono JIT compiler version 3.2.8 (Debian 3.2.8+dfsg-4ubuntu1)`

[2015-03-14 04:52] davidfowl commented on #1397
/cc @troydai @victorhurdugaci

[2015-03-14 05:53] cnblogs-dudu commented on #1397
From [stackoverflow answer](http://stackoverflow.com/questions/13702425/source-command-not-found-in-sh-shell):

[2015-03-14 06:49] gulbanana commented on #955
Nice, that new issue will definitely meet a use case for my project

[2015-03-14 07:08] davidfowl commented on #955
@gulbanana bare in mind that you cannot publish nuget packages that reference assemblies to nuget.org. This is mainly for apps.

[2015-03-14 10:15] tugberkugurlu commented on #1326
:+1: for the issue.

Is it possible to distribute the framework stuff along with the command installation? E.g. when you install commands of the **foo** package, install the framework 1.0.0 in a place where only this app knows. Sounds like a bad idea but what do you guys think?

Also, what does nodejs do with global installs?

[2015-03-14 19:21] davidfowl commented on #1403
And if there's a folder called run. We can just ignore it? What about the other commands?

[2015-03-14 19:50] gregoryyoung opened #1408 "Profiling"
is there any eta or design documents on a profiling api?

Greg

[2015-03-14 20:08] davidfowl commented on #1408
Is this a core clr question? If so file this on dotnet/coreclr

[2015-03-14 20:16] #1408 closed

[2015-03-15 00:41] dougbu opened #1409 "`kpm packages add ...symbols.nupkg` appears to succeed but ignores the package content"
should either provide an option to include .pdb files in the regular NuPkg archives or allow symbol packages to add files to existing packages folders.

example failure:
1. `build --quiet install` in the MVC repo
2. `cd artifacts/build`
3. `ls *symbols*|% { kpm packages add $_.Name }`
4. observe for example
[code]

5. (should be step 5) `ls -r $env:userprofile\.dnx\packages\*.pdb`
6. observe very

[2015-03-15 00:50] davidfowl commented on #1409
There's no support for this yet but I agree that this should be a "thing". For now skip symbol packages because it'll just mess things up.

[2015-03-15 03:13] gulbanana commented on #955
No equivalent of 'copy local' for the assemblies, then? Presumably we can just use a manual build script and the old nuget.exe to create the package as a workaround.

[2015-03-15 03:18] davidfowl commented on #955
Copy local assemblies for what? The nuget package? Like I said, for applications it's fine because there is an equivalent of copy local (a local file system publish) for deployment.

For a class library, there isn't an equivalent. The sharing mechanism is NuGet and we don't generate packages with multiple assemblies. So MyProject -> Foo.dll, you'll end up with a package that depends on a another p

[2015-03-15 03:25] gulbanana commented on #955
I mean that once the dlls are built, having referenced them via this mechanism, we'll just manually combine them into a single package rather than using kpm pack. (Though it is indeed for internal distribution).

[2015-03-15 03:27] davidfowl commented on #955
If this is a library, just make each assembly a package.

[2015-03-15 16:04] lefb766 opened #1410 "ApplicationHost2 won't build with beta4-11271 on Linux and OS X."
`kpm build` under src/Microsoft.Framework.ApplicationHost2 gives me bunch of compile errors. Each of the errors is labelled with one of two common messages shown below.
- `error CS0234: The type or namespace 'Internal' does not exist in the namespace 'Microsoft.Framework' (are you missing an assembly reference?)`
- `error CS0246: The type or namespace 'NotNull' could not be found (are you missing

[2015-03-15 17:13] lefb766 commented on #1410
It goes ok with beta4-11257 and fails with beta4-11268.

[2015-03-15 18:50] davidfowl commented on #1410
I'm seeing the same.

[2015-03-15 18:56] davidfowl commented on #1410
Found the issue.

[2015-03-15 21:03] justkao opened #1412 "Problem with dynamic assembly loading"
I am trying to write little code generation tool as ASP .NET 5 console app

Problem:
AssemblyA
AssemblyB that depends on AssemblyA

Using IAssemblyLoadContext.LoadFile I load both assemblies into memory, but upon accessing AssemblyB.ExportedTypes the FileNotFoundException is thrown (complaining about AssemblyA not found).

ActualCode:
https://github.com/justkao/Bolt/blob/Bolt_ASPNET5/src/Bolt.Cons

[2015-03-15 21:42] davidfowl commented on #1412
Dependent assemblies aren't loaded by default from the side by side location.

You can add a custom IAssemblyLoader that handles that.

[2015-03-15 21:44] davidfowl commented on #1412
See thus sample https://github.com/aspnet/Entropy/tree/dev/samples/Runtime.CustomLoader

[2015-03-15 22:19] davidfowl commented on #1412
I took a look at your code and you can totally implement that alot more efficiently by using a custom loader implementation.

[2015-03-15 22:31] davidfowl commented on #1410
@ChengTian can you make sure this bug gets fixed with #1299?

[2015-03-15 22:58] justkao commented on #1412
Thanks for pointing me into the right direction. I basically used the code from your example and it's working fine. I will deal with performance later, currently I am just experimenting with the new runtime ... i like it quite a lot, good job ;)

[2015-03-15 22:58] #1412 closed

[2015-03-16 00:12] #1401 closed

[2015-03-16 06:26] ChengTian opened #1415 "Add functional tests for "kpm wrap <assembly>""

[2015-03-16 09:26] jsacapdev opened #1417 "cl.exe crash on DNX solution build"
Environment: Windows Server 2012 CTP6 Azure Visual Studio template

I have done a clean pull/clone, and the build.cmd fails with the following dialogue:

![untitled](https://cloud.githubusercontent.com/assets/10151920/6663437/85a3f2f0-cbbe-11e4-8ce2-ffcc7ee84209.png)

The crash happens on attempting to build the DNX project.

Time elapsed 00:00:02.3209329
info: Copying dnx.coreclr.managed.1.0.0-t1

[2015-03-16 09:46] jsacapdev commented on #1417
UPDATE:

FYI - the following are installed:

Microsoft Visual C 2015 CTP Redistributable (x64) - 14.0.22609
Microsoft Visual C 2015 CTP Redistributable (x86) - 14.0.22609

[2015-03-16 17:26] anurse commented on #1400
What about splitting up a bit:

DNX - "'dnx' TFM, regardless of CLR"
CORECLR - "CoreCLR is present, regardless of DNX (i.e. core50)"

Then you can compose the necessary conditions yourself:

[code]

[2015-03-16 18:01] BrennanConroy opened #1418 "--debug passes argument on, resulting in unrecognized option"
After attaching debugger get the below error message.

Waiting for the debugger to attach...
Debugger attached.
Specify --help for a list of available options and commands.
System.Exception: TODO: Error: unrecognized option '--debug'
at Microsoft.Framework.Runtime.Common.CommandLine.CommandLineApplication.HandleUnexpectedArg(CommandLineApplication command, String[] args, Int32 index, String argTyp

[2015-03-16 22:08] BrennanConroy commented on #721
Currently we are modifying the project.json file to have the correct path for wwwroot.
We generate the web.config with application specific values.
And we make the global.json file with relative path information.

It seems like there would be a lot of performance hits if we added the logic to parse these files and see if everything is correct inside them.
@muratg

[2015-03-16 23:51] GrabYourPitchforks commented on #1400
@anurse I like the composability offered by your proposal.

[2015-03-17 00:50] ChengTian opened #1422 "Kpm functional tests should show info of the runtime in use when they fail"
Thanks @davidfowl for pointing out the pain point.

[2015-03-17 01:55] ChengTian commented on #1410
I checked in #1299 , however, that PR doesn't fix this issue. Need further investigation in this issue.

[2015-03-17 01:55] #1286 closed

[2015-03-17 02:22] davidfowl commented on #1410
Did you modify the shared file logic in the nuget resolver?

[2015-03-17 04:00] #1410 closed

[2015-03-17 06:08] bitcrazed opened #1424 "'dnvm setup' results in 'Cannot overwrite the item ... with itself' error"
When running 'dnvm setup' (v1.0.0-beta4-10346) from PowerShell console (on Win 10 9926), the following error is returned:

[code]

[2015-03-17 07:03] glennc commented on #1424
Did you expect it to work or is this just for us to add a check so that it doesn't crash?

[2015-03-17 07:07] davidfowl commented on #1424
I want self update!

[2015-03-17 07:23] glennc opened #1425 "Add serviceable property to lock file"
We should add a flag to the lock file if a package we restore has an assembly with an appropriate AssemblyMetadata attribute. The attribute would be like this:

[code]

[2015-03-17 15:59] BrennanConroy commented on #405
dupe of #1376 even though this came first :P

[2015-03-17 15:59] #405 closed

[2015-03-17 16:41] christianarg commented on #257
This exactly is happening with the Nuget Server, even with the latest version. Any chance it can be fixed over there? (worth trying)

[2015-03-17 17:11] davidfowl commented on #257
File the bug on codeplex

[2015-03-17 17:13] BrennanConroy commented on #1418
I made a fix for this just now

[2015-03-17 17:14] victorhurdugaci commented on #1418
@anurse said he will address this as part of the work he's doing to dnx

[2015-03-17 17:16] christianarg commented on #257
I did, but I found that someone already did it about 2 months ago (https://nuget.codeplex.com/workitem/4426) and didn't even get a reply. I was posting this just in case you were sitting next to some Nuget developer :P Thanks anyway

[2015-03-17 17:18] muratg commented on #1399
@BrennanConroy this will work for a single project too, right?

[2015-03-17 17:18] BrennanConroy commented on #1399
Pretty sure I tested that.

[2015-03-17 17:19] muratg commented on #1391
@lodejard are we doing this for RC?   /cc @davidfowl

[2015-03-17 17:27] anurse commented on #1418
I'm not actually working on the dnx native code right now, so feel free to push that change @BrennanConroy

[2015-03-17 17:28] #1386 closed

[2015-03-17 17:28] muratg commented on #1342
@anurse let me know if you are not able to spend time on this one.

[2015-03-17 17:29] anurse commented on #1424
This is separate from self-update, but we should add a catch and just do nothing. Self-update is also a good idea, but a separate feature :).

[2015-03-17 17:30] muratg commented on #1326
Putting to 1.0 milestone for now. We can update later once Victor syncs up with Louis

[2015-03-17 17:31] muratg commented on #1315
Moving to 1.0.0 milestone for now. We'll retriage in RTM timeframe.

[2015-03-17 18:23] Praburaj commented on #1393
I'm seeing this often now. Reopening.

[2015-03-17 20:39] #1267 closed

[2015-03-17 20:39] #1287 closed

[2015-03-17 20:52] lodejard opened #1427 "The aliases made by "build dev-install" don't work"
it's calling `dnvm alias {0} {1}` where the `{1}` is given a full runtime name instead of just the version.

This results in an `alias\clr-win-x86-dev.txt` file containing `dnx-clr-win-x86.dnx-clr-win-x86.1.0.0-dev` instead of `dnx-clr-win-x86.1.0.0-dev`

correct syntax is `dnvm alias {0} {1} -runtime {2} -arch {3}` where `{1}` is the version, `{2}` is the runtime, and `{3}` is the alias

alternat

[2015-03-17 21:16] #1376 closed

[2015-03-17 23:37] ChengTian opened #1428 "Rename kpm and subcommands"
`kpm` -> `dnu`
`kpm bundle` -> `dnu publish`
Cut `kpm add` (need to notify Tooling team, I think they are using it)

[2015-03-17 23:51] ChengTian commented on #1428
Just got suggestion from @davidfowl , we will keep `kpm.cmd` and add `dnu.cmd` to have a gradual adoption of `dnu.cmd`. This can make the transition easier.

[2015-03-18 00:47] anurse commented on #1427
Dupe of https://github.com/aspnet/dnvm/issues/174

[2015-03-18 01:01] anurse commented on #1427
Well, maybe not a dupe, but I've got a fix for the other one anyway. This was a regression in dnvm from kvm, so it's probably good to fix.

[2015-03-18 01:06] mkosieradzki opened #1431 "Expose Microsoft.Framework.Runtime.Hosting to .NET 4.5"
Scenario: I would like to use KRE based apps as extensibility point for my system utilizing .NET Framework 4.5+.

There are multiple loaders for native environment, but I am unable to find proper, developer-friendly :) loader for the full .NET Framework.
Of course there is Helios loader - but it is quite tied to the IIS.
kre.clr.managed.dll alone - is not really well documented and is not the most

[2015-03-18 01:50] muratg commented on #721
@davidfowl is it worth the potential perf penalty to read the files, and check if they're correct and not update them if not needed?

[2015-03-18 01:51] muratg commented on #1399
@sayedihashimi have a look at latest builds as #1376 is checked in. Closing this one.

[2015-03-18 01:51] #1399 closed

[2015-03-18 02:23] davidfowl commented on #1431
This isn't something we're currently aiming to make a first class API in the short term. We are working on a rewrite that will allow this https://github.com/aspnet/dnx/tree/dev/src/Microsoft.Framework.Runtime.Hosting, but the first goal is to making it efficient rather than making it a nice public API.

What behaviors do you want to use exactly?

[2015-03-18 02:37] mkosieradzki commented on #1431
Thank you very much so quick answer.

I wanted to use automatic Roslyn Loaders, Nuget Loaders and proper assembly neutral types support and project.json. But it looks like I have it up and running even without separate AppDomain (a lot of source code reading behind me).

The problem I faced was that assemblies for neutral types must be extracted to a directory where fusion can find them, while I w

[2015-03-18 02:40] davidfowl commented on #1431
Microsoft.Framework.Runtime is going to be phased out in favor of the other dll I posted. Assembly neutral interfaces were also removed. As for adding the net45 target, that's possible we'll see if it makes sense.

[2015-03-18 02:50] mkosieradzki commented on #1431
I think I understand why :) - they are kinda nightmarish to use while bridging .net 4.5 with asp net 5 (from the .NET side). But they sounded like a great idea in asp.net 5 alone. OK. So if there are so important changes in-progress/ahead I will limit my development against those assemblies and try to keep up with the latest developments including the assembly you have mentioned.

Thank you very m

[2015-03-18 04:30] dougbu commented on #1409
fyi I've been using the following workaround, updating the target version each time
[code]

[2015-03-18 04:43] NTaylorMullen commented on #1405
a8ad36225706eb0972f5695a3ad8fe0fef1c176f

[2015-03-18 04:43] #1405 closed

[2015-03-18 14:51] #1417 closed

[2015-03-18 16:06] victorhurdugaci commented on #1427
It is a dupe and that's a bug in dnvm.

[2015-03-18 16:50] #1385 closed

[2015-03-18 16:59] ChengTian commented on #1316
@abpiskunov  @sayedihashimi  @BillHiebert  @muratg

This feature is checked in. Tooling team can integrate it with VS based on next build of DNX. Usage:

`kpm wrap <path_to_assembly> --framework <target_framework_name>`

This command assumes its work dir is in the solution, in which we want to reference the wrapped assembly.

The command also automatically wraps dependency assemblies of the wrappe

[2015-03-18 16:59] #1316 closed

[2015-03-18 17:05] MattGal opened #1434 "kpm bundle writes empty entries in web.config"
I've been experimenting with publishing latest ASP.NET 5 applications to places I can publish them to... IIS, Windows Azure, and most recently WIndows Azure Pack.

Due to some funkiess with the publish profile for Windows Azure Pack (entirely could be my fault), I ended up trying to publish via FTP to my hosted site.  Seems reasonable.  To do this I expected I could just run KPM bundle, and if it

[2015-03-18 17:08] davidfowl commented on #1434
/cc @ChengTian

[2015-03-18 17:20] ChengTian commented on #1366
This can be frequently reproduced with a VM with following configuration:
OS: Windows 7 Enterprise (EN-US)
Hardware: CPU=2, RAM=3584, Arch=AMD64

[2015-03-18 17:35] MattGal opened #1435 "Active XRE version does not persist across console windows"
I have a bleeding edge setup with the following output from dnvm list:

C:\>dnvm list

Active Version           Runtime Architecture Location                       Alias
       1.0.0-beta4-11257 clr     x64          C:\Users\mattgal\.dnx\runtimes
       1.0.0-beta4-11257 clr     x86          C:\Users\mattgal\.dnx\runtimes
       1.0.0-beta4-11257 coreclr x64          C:\Users\mattgal\.dnx\runtimes

[2015-03-18 18:02] davidfowl commented on #1435
Wrong repository, file this on aspnet/dnvm.

[2015-03-18 18:02] #1435 closed

[2015-03-18 18:13] conniey opened #1437 "`kpm restore` not using other packageSources on Ubuntu"
I have a project that uses a feed from MyGet.org.  This project works on Windows.  When I try to restore packages on Ubuntu 14.04, it can't resolve my dependency `Microsoft.Fx.Portability`.

I looked at the output from `kpm restore` and it doesn't seem to be querying feeds other than the official one: https://www.nuget.org/api/v2/FindPackagesById()

[Script Output](https://gist.github.com/conniey/

[2015-03-18 18:20] davidfowl commented on #1437
Can you push this to a repository somewhere so I can see the layout in the project.

[2015-03-18 19:21] conniey commented on #1437
Here is a minimal repro: https://github.com/conniey/webrepo

[2015-03-18 21:24] glennc commented on #888
Ok, I am going to close this then. We can always re-open or create a new one if it makes sense to.

[2015-03-18 21:24] #888 closed

[2015-03-18 21:58] davidfowl opened #1439 "Add RefreshDependencies message to DTH"
To separate rebuilding from refreshing dependencies.

[2015-03-18 22:30] #1089 closed

[2015-03-19 00:16] #979 closed

[2015-03-19 00:29] #1422 closed

[2015-03-19 00:29] #1371 closed

[2015-03-19 01:08] #1439 closed

[2015-03-19 05:27] davidfowl opened #1444 "Design time host marks all dependencies as unresolved when the lock file is out of date"
This might be a bit too aggressive for dependency resolution. It makes changing any dependency a very heavy operation.

[2015-03-19 05:50] davidfowl commented on #737
This works fin

[2015-03-19 05:50] davidfowl commented on #737
This is fixed now /cc @troydai right?

[2015-03-19 06:44] #1424 closed

[2015-03-19 06:44] davidfowl commented on #1424
Move this to aspnet/dnvm

[2015-03-19 06:59] bitcrazed commented on #1424
Thanks for moving @davidfowl - didn't realize DNVM was in its own repo! :flushed:

[2015-03-19 07:05] bitcrazed commented on #1424
@glennc

Erm ... well, I kinda expected that if I ran `dnvm setup` that it'd do so without :rage: shouting :rage: at me in big red, unhelpful text that make me wonder whether something went wrong in the setup and maybe I should expect the setup to have failed in some way.

A gentle, polite message saying *"DNVM is already installed and ready for use. Setting up your paths..."* would have more than

[2015-03-19 07:19] #71 closed

[2015-03-19 07:20] #173 closed

[2015-03-19 07:23] #379 closed

[2015-03-19 07:25] davidfowl commented on #455
Parsing has been improved in NuGet itself. The new runtime should take care of this

[2015-03-19 07:25] #455 closed

[2015-03-19 07:26] #466 closed

[2015-03-19 07:27] davidfowl commented on #466
We have `kpm list` now

[2015-03-19 07:27] #516 closed

[2015-03-19 07:29] #596 closed

[2015-03-19 07:29] davidfowl commented on #499
We did this for razor.

[2015-03-19 07:29] #499 closed

[2015-03-19 07:40] davidfowl commented on #743
I did this already

[2015-03-19 07:41] davidfowl commented on #743
4a7994d226513397196928fd708780a307c9f5f5

[2015-03-19 07:41] #743 closed

[2015-03-19 09:35] davidfowl opened #1446 "Reduce Allocations in the runtime startup path"
![image](https://cloud.githubusercontent.com/assets/95136/6727612/837089ac-cde0-11e4-9828-407bdb8c3331.png)

Pivots:

## Lock file memory consumption
- [ ] Cache strings
- [ ] Parsing lock file lazily

## Cache common metadata
- [ ] Versions strings, SematicVersion
- [ ] Path strings
- [ ] Library names

## File globbing
- [ ] Dispose the matchers
- [ ] Cache strings

[2015-03-19 09:46] davidfowl commented on #1446
Another thing we can do is reduce the amount of duplicate strings:

![image](https://cloud.githubusercontent.com/assets/95136/6727803/2627eb30-cde2-11e4-9800-f394981ef3df.png)

[2015-03-19 14:59] mgravell commented on #1134
Is this still as represented here? https://github.com/aspnet/dnx/issues/39

(waits patiently for documentation...)

[2015-03-19 15:38] stimms commented on #1173
Incidentally the command for this is

    kpm bundle --out c:\test --runtime  dnx-clr-win-x86.1.0.0-beta3

Obviously replace the runtime with whatever you're using.

[2015-03-19 15:47] troydai commented on #737
Yup. Verified locally.

[2015-03-19 15:47] #737 closed

[2015-03-19 16:04] troydai opened #1447 "Offer more information in dnx --version"
This is what we have today:
[code]

It would be nice to print the full name so as to know what platform, arch and target framework the current dnx is for.

[2015-03-19 17:17] muratg commented on #1427
Closing as dup. Victor will be doing more ET on dnvm and fix remaining regressions.

[2015-03-19 17:17] #1427 closed

[2015-03-19 17:40] muratg commented on #773
Troy, can you file this one on CoreCLR repo?

[2015-03-19 17:44] muratg commented on #1061
I believe @troydai was working on this.

[2015-03-19 18:06] muratg commented on #1263
Is @lodejard doing this?

[2015-03-19 18:10] victorhurdugaci commented on #1377
This is actually a `dnvm` bug and it got fixed https://github.com/aspnet/dnvm/issues/181

[2015-03-19 18:10] #1377 closed

[2015-03-19 18:10] troydai commented on #1061
https://github.com/aspnet/dnx/pull/1440

[2015-03-19 18:12] victorhurdugaci commented on #1122
Moving this to `1.0.0` because by then we should have logging in XRE.

[2015-03-19 18:26] rubenprins commented on #1068
Any update on this issue?

Because, isn't the scenario much broader here: if you're publishing **any** .dll (from a project reference, nuget package, no source publish) without completely stopping the hosting process (such as IIS).

If that's true, that's pretty much a show stopper when you're hosting from Azure or IIS (and solved by ASP.NET vCurrent over a decade ago in v1.0).

Having to stop the

[2015-03-19 20:33] troydai commented on #773
Filed CoreCLR issue https://github.com/dotnet/corefx/issues/1181

[2015-03-19 21:39] kichalla opened #1449 "In CoreClr, Type.GetType() throws exception with 'throwOnError' set to 'false'"
Repro:
- Set your DNX to use CoreClr.
- Create a new DNX console app.
- Paste the following code
[code]
- Do a `k run`
- You should see the following exception:
[code]

Note that this exception is not thrown if `System.Data.Common` package is referenced in project.json, but I think this api shouldn't be throwing when `throwOnError` is set to `false` irrespective of whether the package is reference

[2015-03-19 21:42] kichalla commented on #1449
Looks like this issue is in CoreCLR: https://github.com/dotnet/coreclr/pull/516

[2015-03-19 21:42] #1449 closed

[2015-03-19 21:54] muratg commented on #1061
#1440 captures this so closing this one.

[2015-03-19 21:54] #1061 closed

[2015-03-19 23:04] ChengTian commented on #1434
It is actually an expected behavior.

When you do `kpm bundle` without `--runtime` option, you mean you are going to deploy the bundled output to somewhere that already has DNX installed. In this case, we leave `dnx-clr` and `dnx-version` blank and bootstrapper will look for the DNX installed in your environment.

If you are deploying to an environment that doesn't have DNX installed, for example

[2015-03-19 23:05] #1434 closed

[2015-03-20 00:02] glennc commented on #1424
@bitcrazed Yeah, that's what I thought. Which is fine, and something we should do. Are you interested enough to send a pull request for the dnvm repo? It's just a powershell script. If not that's fine and we will probably fix it in one of the polish pushes we do where we cleanup issues like this.

[2015-03-20 00:25] ChengTian commented on #898
@troydai , do you have time to look at this issue? I guess we can fix it with your nice file globbing library :smile:

[2015-03-20 00:45] 0xdeafcafe opened #1452 "'System.Reflection.TargetInvocationException' being thrown on app initalization through IIS Express"
I did a fresh install of Windows 10 Technical Preview - the one that came out yesterday - and now none of my ASP vNext applications are debugging when I run them in visual studio using IIS Express.

The exact exception is
[code]

My call stack is:
![](http://i.imgur.com/YkzG1VH.png)

Is there anything else I should provide?

[2015-03-20 01:11] 0xdeafcafe commented on #1452
Upon further investigation, this is only thrown on CLR, if I use CoreCLR, it executes perfectly. Could this be to do with corrupted runtimes? My .k folder looks like this:
![](http://i.imgur.com/GwkiLBs.png)

[2015-03-20 03:49] bitcrazed commented on #1424
Yep, happy to do so 😉 Will send tonight.

Sent from my Windows Phone
________________________________
From: Glenn Condron<mailto:notifications@github.com>
Sent: ‎3/‎19/‎2015 17:02
To: aspnet/dnx<mailto:dnx@noreply.github.com>
Cc: Rich Turner<mailto:rich@bitcrazed.com>
Subject: Re: [dnx] 'dnvm setup' results in 'Cannot overwrite the item ... with itself' error (#1424)

@bitcrazed Yeah, that's what

[2015-03-20 06:29] davidfowl commented on #1452
File this on aspnet/Home.

[2015-03-20 06:29] #1452 closed

[2015-03-20 07:13] bitcrazed commented on #1424
Hey Glenn.

Just submitted DNVM PR #187 for your review: https://github.com/aspnet/dnvm/pull/187

Let me know if you need additional changes.

Rich.

From: Glenn Condron
Sent: ‎Thursday‎, ‎March‎ ‎19‎, ‎2015 ‎17‎:‎02
To: aspnet/dnx
Cc: Richard Turner

@bitcrazed Yeah, that's what I thought. Which is fine, and something we should do. Are you interested enough to send a pull request for the dnvm rep

[2015-03-20 13:03] 0xdeafcafe commented on #1452
Good idea. Re-posted in Home.

[2015-03-20 14:08] tparnell8 commented on #634
:+1:

[2015-03-20 16:12] nathanaeljones commented on #402
Is there any documentation of this model? If I submit a PR to paket that enables this workflow, I'd like to keep the nuget syntax compatible or consistent with what you guys are doing.

[2015-03-20 17:28] victorhurdugaci commented on #1097
@ChengTian please resolve this when you merge the serviceable changes

[2015-03-20 18:57] anurse commented on #1391
I've done some initial investigation. We are definitely passing the full path for the desired PDB to Roslyn. However, the generated DLL has a relative path in the Debug Directory. I verified that using Roslyn's `csc.exe`, the absolute path to the PDB **is** embedded in the Debug Directory, but I can't figure out where we're going wrong in passing the right data to Roslyn.

That's about all the inv

[2015-03-20 19:48] #1388 closed

[2015-03-20 21:12] PradeepKadubandi opened #1456 "Cloning this repository is not working"
I just cloned this repository fresh using --recursive flag, and I am getting an older version of submodules (ex : Logging) that still references 'xunit.runner.kre' in their test projects.

Doing 'git submodule update' doesn't help either. Can someone let me know if I am missing anything?

[2015-03-20 21:33] PradeepKadubandi opened #1457 "Unresolved references when I open Dnx.sln in VS"
When you clone this repository and open it in VS, I see that Nuget.Versioning submodule is unable to resolved Microsoft.Framework.Runtime.Interfaces as a reference. See the image:

![submodules-globaljson](https://cloud.githubusercontent.com/assets/1424265/6761039/21867008-cf0c-11e4-8a4a-c17e5103a1dc.jpg)

Any idea why this is happening?

[2015-03-20 21:50] lodejard opened #1458 "PackageAssemblyLoader needs to use service table also"
between these lines

[code]

should it be calling the thing that NuGetDependencyResolver is calling?

[code]

[2015-03-20 23:36] troydai commented on #809
Talked with @DamianEdwards. Told that this bug has been observed for a while. I'll close this one for now.

[2015-03-20 23:36] #809 closed

[2015-03-20 23:36] troydai commented on #600
Fixed.

[2015-03-20 23:36] #600 closed

[2015-03-21 09:33] djanosik commented on #860
I believe this bug still exists. I have an application called *WebSite* and I use the following command to bundle / publish it.
[code]
First time it works as expected and the `kre-app-base` setting has a correct value. But second time, the value is empty. It seems it is because the *C:\Bundles\WebSite\approot\packages\WebSite\1.0.0* folder already exists.

When I delete this folder, the package is

[2015-03-21 18:54] ChengTian commented on #860
Cannot reproduce with latest version of `kpm`. Seems fixed.

[2015-03-21 18:55] ChengTian commented on #860
BTW, `kpm bundle` doesn't read output folder, so existence of a certain folder in output shouldn't affect behavior of `kpm bundle`

[2015-03-21 21:10] bradwilson opened #1460 "Missing NUPKG metadata: iconUrl"
There is no way to set the `iconUrl` value for your package. (https://github.com/xunit/aspnet.xunit/issues/19)

[2015-03-21 21:11] bradwilson opened #1461 "Missing NUPKG metadata: licenseUrl"
There is no way to set the `licenseUrl` value for your package. (https://github.com/xunit/aspnet.xunit/issues/19)

[2015-03-21 21:11] bradwilson opened #1462 "Missing NUPKG metadata: title"
There is no way to set the `title` value for your package. (https://github.com/xunit/aspnet.xunit/issues/19)

[2015-03-21 21:19] davidfowl commented on #1460
These were all added in the latest builds

[2015-03-23 17:07] anurse commented on #1458
It absolutely should be. I just hadn't gotten to integrating Servicing into the new runtime yet.

[2015-03-23 17:40] #1425 closed

[2015-03-23 17:41] #1097 closed

[2015-03-23 17:58] anurse commented on #1456
I'll update the submodules shortly. That should improve the experience a little.

[2015-03-23 18:01] anurse commented on #1343
This is actually already done in the new runtime!

[2015-03-23 18:01] #1343 closed

[2015-03-23 18:04] anurse commented on #1342
This will be in the new runtime. I assume @davidfowl will be too busy to implement it now :)

[2015-03-23 18:04] troydai commented on #1211
3a62febd2923fa556a31c80bc574feccdb32c061
https://github.com/aspnet/Helios/commit/7078090f7fc0f8288db4b1e2a881da19f2d525bd

[2015-03-23 18:04] #1211 closed

[2015-03-23 18:04] anurse commented on #1072
This will likely be part of dev-dependencies work in the New Runtime.

[2015-03-23 18:44] troydai commented on #898
I'm assigning this issue to @victorhurdugaci. The code in question will be removed eventually, and it deals with code searching incorrectly. Today the `ProjectFilesCollection` already returns the correct set of resources file. @victorhurdugaci will begin using it in the upcoming changes. Therefore the bug will be fixed naturally in the process.

/cc @muratg

[2015-03-23 18:45] #1456 closed

[2015-03-23 19:05] ChengTian commented on #1428
The first stage is done. We are supporting both `kpm` and `dnu` now. This should allow a non-breaking transition.

However, we should force adoption of `dnu` and remove support of `kpm` at some point later.

@muratg , moving to next milestone.

[2015-03-23 19:18] anurse opened #1464 "Revisit ICompilationProject after new runtime merge"
An upcoming refactoring of Compilation will be introducing an `ICompilationProject` interface to abstract between the old and new versions of the `Project` class. We should revisit this after we get rid of the old runtime and have just a simple `Project` poco we can share around.

[2015-03-23 19:22] anurse commented on #1464
Ditto `IProjectFilesCollection`

[2015-03-23 21:55] muratg commented on #945
@PradeepKadubandi is this OK to close?

[2015-03-23 22:19] muratg commented on #1366
Looks like we're still looking for the right fix. Moving to Beta 5.

[2015-03-23 22:20] davidfowl commented on #1366
Nooooooo

[2015-03-23 22:42] victorhurdugaci commented on #1366
We should fix this as soon as possible. The cross plat CI machines are affected by this all the time. The runs are very unstable.

[2015-03-23 22:50] muratg commented on #1366
adding @pranavkm in case he has some ideas..

[2015-03-23 23:33] davidfowl commented on #1462
Done in
https://github.com/aspnet/dnx/commit/dd88a6ee46c98e1276270e887dd2eaf6ea42458d
https://github.com/aspnet/dnx/commit/cdad86f30495d970ab6fb61682892662195b1c3d

[2015-03-23 23:33] #1462 closed

[2015-03-23 23:33] davidfowl commented on #1461
https://github.com/aspnet/dnx/commit/dd88a6ee46c98e1276270e887dd2eaf6ea42458d
https://github.com/aspnet/dnx/commit/cdad86f30495d970ab6fb61682892662195b1c3d

[2015-03-23 23:33] #1461 closed

[2015-03-23 23:33] davidfowl commented on #1460
https://github.com/aspnet/dnx/commit/dd88a6ee46c98e1276270e887dd2eaf6ea42458d
https://github.com/aspnet/dnx/commit/cdad86f30495d970ab6fb61682892662195b1c3d

[2015-03-23 23:33] #1460 closed

[2015-03-23 23:34] davidfowl commented on #1457
No project.lock.json?

[2015-03-24 00:30] #801 closed

[2015-03-24 01:03] pranavkm commented on #1366
I'll spend some time looking at this - if we can't find a reasonable solution for this we can consider reverting the parallel restore behavior until we have something more reliable.

[2015-03-24 01:31] troydai commented on #1330
Changes on runtime part has been done in ac2f43377f961292ceb195a8e06654708eb28ae9

/cc @BillHiebert

[2015-03-24 01:59] #1330 closed

[2015-03-24 02:00] troydai commented on #275
Addressed in ac2f43377f961292ceb195a8e06654708eb28ae9

[2015-03-24 02:00] #275 closed

[2015-03-24 02:35] ChengTian opened #1466 "DTH should help Tooling to avoid unnecessary restore"
We should come up with a smarter algorithm (smarter than `LockFile.IsValidForProject()`) that asks VS to do `kpm restore` only when there is real dependency change.

[2015-03-24 04:54] #1444 closed

[2015-03-24 05:47] davidfowl opened #1467 "Improve error message at runtime where there is no runnable target framework defined"
If there is no runnable target framework in project.json, throw an explicit exception at runtime. Something along the lines of:

`
Currently running on "DNX Core, 5.0", but {path to project.json} only supports {comma separated list of target frameworks supported by project.json}
`

[2015-03-24 06:16] ChengTian opened #1469 "Give more error info when lockfile is invalid"
We should report the version mismatch/missing lockfile
Basically the exception can be the same, but it needs more information:
If the lock file dependencies are out of date, it should add that to the error message;
if the lock file version is too new and the runtime can’t understand it, it should fail and say why

Basically, always add extra information if you know why.

[2015-03-24 06:48] ChengTian commented on #1428
@muratg , @davidfowl decides that we do this now. Moving back to beta4 and working on it.

[2015-03-24 07:59] ChengTian opened #1470 "Fix casing of package IDs in lockfile"
https://github.com/aspnet/dnx/issues/581

Current `dnu restore` behavior is:
When restoring a package with wrong id casing, for example restoring package `XYZ.1.0.0` by having `"xyz": "1.0.0"` in `project.json`, it shows `Unable to resolve xyz.1.0.0, do you mean XYZ.1.0.0?` and doesn't install the package.
It prevents users from using some NuGet packages (see cases below).

New behavior should be:

[2015-03-24 08:06] davidfowl commented on #1470
[code]

Results in

[code]

[2015-03-24 08:15] davidfowl commented on #1470
Seems innocent at first, but when it happens via a transitive dependency:

[code]

[code]

This is because some nuspec way down the chain says Nuget.Core and this harder to fix:

[code]

[code]

Nearest wins makes it work, but if packages end up having mixed casing in the same dependency tree, it might get confusing quickly.

[2015-03-24 13:21] jskeet commented on #122
Could we at least make the error message more specific?

(And is there any restriction on namespace here?)

[2015-03-24 15:04] davidfowl commented on #122
I thought it was specific enough? https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Common/Impl/EntryPointExecutor.cs

[2015-03-24 15:13] jskeet commented on #122
No, because it requires the type to be called Program, with no indication of that within the error message.

To put it another way: I was banging my head against this error for a while before I found this bug entry, at which point it was really easy to fix. If the error message had specified that it was looking for a type called Program, I'd have fixed it immediately.

(It looks like this requires

[2015-03-24 15:33] ChengTian opened #1472 "Remove "kpm-package-path" from web.config"
Looks like nobody is reading it except for `Stress`:
https://github.com/search?q=kpm-package-path+user%3Aaspnet&ref=simplesearch&type=Code&utf8=%E2%9C%93

@troydai

[2015-03-24 15:45] BillHiebert commented on #1330
I opened TFS bug 1144827 to get the VS side completed

[2015-03-24 16:05] ChengTian opened #1473 "Remove k.cmd and only use dnx"
parent https://github.com/aspnet/Coherence-Signed/issues/19

@muratg , @davidfowl thinks we should do this in beta4. Working on it.

[2015-03-24 16:12] ChengTian opened #1474 "Remove "dnu bundle" and only use "dnu publish""
https://github.com/aspnet/dnx/issues/1428

@davidfowl , seems we also need to change `bundleExclude` to `publishExclude`. Do we want to keep support for `bundleExclude`? My suggestion is "No".

@muratg , we need to coordinate with Tooling team before making this change. So this will get in after release branching. I'll ask for approval before checking in.

[2015-03-24 16:23] Praburaj opened #1475 "Give project.json data to the hosting/application layer"
Currently hosting and secretmanager has to read `wwwroot` and `usersecretsId` values from `project.json`. So they end up reading the `project.json` again at their own layers. It will be nice to give the project.json data to the layers above so that they can avoid reading the project.json again.

@glennc @davidfowl

[2015-03-24 16:42] davidfowl opened #1476 "Regression with latest dnx"
File new project in visual studio shows this error in DTH:

[code]

Haven't debugged it yet but it's either @troydai 's change or @ChengTian 's change is my guess.

[2015-03-24 16:42] davidfowl commented on #1476
/cc @muratg

[2015-03-24 17:15] muratg commented on #1474
@ChengTian yup, publishExclude makes more sense than bundleExecute to me.

Also, /cc: @mayurid

[2015-03-24 17:43] ChengTian commented on #1476
It's introduced by this change: https://github.com/aspnet/dnx/commit/7ea973d046f07b3d0bea018f86d07a286aa43961

I'll fix it

[2015-03-24 17:51] ChengTian opened #1477 "No-source bundle returns zero exit code even there are build errors"

[2015-03-24 17:52] #1477 closed

[2015-03-24 18:17] ChengTian commented on #1473
Cannot get this in before beta4 release branching. Will ask for check-in approval later after release branching.

[2015-03-24 18:33] #1476 closed

[2015-03-24 18:49] Praburaj opened #1479 "dnu commands install prints a duplicate message"
[code]

@victorhurdugaci

[2015-03-24 19:07] #1336 closed

[2015-03-24 20:04] Praburaj opened #1482 "Add host flag to disable transparency checks in CoreCLR"
React to change : https://github.com/dotnet-bot/coreclr/commit/725d6a91fffdf4603c8a9c74e15cbc83ebf0e3d6

There needs to be a new flag passed in the hosting interface (APPDOMAIN_DISABLE_TRANSPARENCY_ENFORCEMENT) to enable it.

[2015-03-24 21:04] kichalla opened #1484 "Improve experience of debugging into source code"
My scenario: I wanted to debug into source code which is across repos (`routing` references `logging`). I had both these repos cloned on my machine and updated the `routing` repo's global.json to have the src path of `logging`. When I open routing solution in VS, all the projects load fine but when I debug I see errors like below:
- `The type or namespace name 'Internal' does not exist in the name

[2015-03-24 22:35] muratg commented on #945
Looks like Dependencies issue is also fixed after Fowler's check-ins.  Closing this one.

[2015-03-24 22:35] #945 closed

[2015-03-24 22:54] #1472 closed

[2015-03-24 23:13] Praburaj commented on #1482
Merged : https://github.com/aspnet/dnx/commit/70e42c539a988786327420a29c3c9a6302037038

[2015-03-24 23:13] #1482 closed

[2015-03-24 23:22] BrennanConroy opened #1487 "Mono command line arguments not working same as Windows"
If you do 'dnx -? . run' on an app, on Windows it will display the help info
On Mac you get the below error:

![screen shot 2015-03-24 at 4 22 32 pm](https://cloud.githubusercontent.com/assets/7574801/6815008/e2f3e224-d241-11e4-89e6-191a18cd62ff.png)

[2015-03-24 23:32] ChengTian opened #1488 "Appbase passed to dnx cannot have trailing slash if there is no global.json"
Repro steps:
(1) git clone `Home` repo
(2) cd `Home/samples/ConsoleApp`
(3) `dnu restore`
(4) `dnx . run`, works well
(5) `dnx ./ run`, fails with the following exception:
[code]
(6) Add a `global.json` to root of `Home` repo with the following contents:
[code]
Then `dnx ./ run` works.

@davidfowl , looks like a project dependency resolver bug? Need to investigate why there is difference between u

[2015-03-24 23:35] ChengTian commented on #1488
/cc @muratg

[2015-03-24 23:37] davidfowl commented on #1488
Is this a regression?

[2015-03-24 23:56] ChengTian commented on #1488
Yes, I remember I was able to run `klr ./ run` in `KRE/samples/HelloWorld`

[2015-03-25 03:21] troydai commented on #773
@JamesNK, I'm going to close this issue as by design. Please see the coreclr team's response here:
https://github.com/dotnet/corefx/issues/1181#issuecomment-85752670

[2015-03-25 03:21] #773 closed

[2015-03-25 03:27] troydai commented on #1330
Thank you @BillHiebert

[2015-03-25 05:55] DamianEdwards commented on #1067
This is reproing again. See repro project at https://github.com/DamianEdwards/BundleExcludeLongPaths
Clone that and try to `dnu publish` it from the command line.

[2015-03-25 06:08] hishamco commented on #1473
@ChengTian you can apply the fix into Security repo

[2015-03-25 06:13] hishamco commented on #1473
@ChengTian can we apply the fix into Diagnostics repo

[2015-03-25 06:16] troydai commented on #1275
@DamianEdwards can this issue be reproduced by this sample https://github.com/aspnet/Mvc/tree/dev/samples/TagHelperSample.Web?

[2015-03-25 06:17] davidfowl commented on #1275
This isn't a bug in the runtime. It was a bug in MVC

[2015-03-25 06:17] #1275 closed

[2015-03-25 06:21] troydai commented on #1067
Looks like a regression. I'll look into it and add tests to guard this scenario.

[2015-03-25 06:21] hishamco commented on #1473
@ChengTian can we add the fix into SignalR-ServiceBus repo

[2015-03-25 08:05] davidfowl opened #1492 "Running dnu commands on mono null refs"
[code]

/cc @victorhurdugaci

[2015-03-25 08:05] davidfowl opened #1493 "Remove dnu add"
It's mostly pointless

[2015-03-25 08:08] davidfowl opened #1494 "dnu restore should not recurse by default"
Remove this behavior as it's pretty unexpected and tools don't usually do this

[2015-03-25 08:12] davidfowl opened #1495 "dnu restore/build/pack should allow globbing patterns"
dun build/restore/pack should should support globbing patterns so make recursive restore/build easier and more efficient.

[code]
By default, these commands should only work on the current project or allow passing in a target project.

[2015-03-25 12:59] yhax commented on #1298
@abpiskunov any update?

[2015-03-25 15:34] ChengTian opened #1496 "Functional tests should dump stdout and stderr when app exit code is non-zero"

[2015-03-25 16:15] ChengTian commented on #1473
@hishamco , thanks for the reminder, I'll add fix to them with my automation script

[2015-03-25 16:17] hishamco commented on #1473
@ChengTian all the best

[2015-03-25 16:37] BrennanConroy commented on #1487
BootstrapperOptionValueNum() in EntryPoint.cs for Mono had incorrect string checks for -? and -h
Fixing as part of --debug flag #1426

[2015-03-25 16:57] troydai commented on #1067
In both scenarios the errors are caused by the long path under `node_modules` folder.

[2015-03-25 17:04] muratg commented on #1067
@troydai is it a regression?

[2015-03-25 17:06] #1473 closed

[2015-03-25 17:08] muratg commented on #1190
@pranavkm are you looking at this for beta4? (i guess there are 3 or so bugs tracking this.. we should leave only one and close the others as dups)

[2015-03-25 17:17] troydai commented on #1067
I'm not sure, the scenario is not covered in the automation case. Base on @DamianEdwards 's experience, it sounds like a regression.

[2015-03-25 17:24] anurse commented on #1473
Something I noticed: If you happen to have two DNXes on your path "New;Old", where _Old_ is one with `k.cmd` and _New_ is one without it and you accidentally run `k`, you will get the old runtime (whereas running `dnx` gives you the newer one). Not a bug or something technical to correct, just something to put in release notes or other docs.

[2015-03-25 17:30] davidfowl commented on #1067
Yes it looks like a regression:

[2015-03-25 17:42] troydai commented on #1067
I'm replacing all the `DirectoryInfo` and `FileInfo` instances with `Directory` and `File` static methods calling.

[2015-03-25 18:13] Praburaj commented on #745
On Mono mac I see this exception on `kpm restore`.

[code]

[2015-03-25 18:36] victorhurdugaci commented on #1492
It happens both on mono and windows and it caused by [this fix](https://github.com/aspnet/dnx/commit/5d8ab2b1eb5c0a702a73a27034b0f19cda8a96ca).

Particular, [this line](https://github.com/aspnet/dnx/commit/5d8ab2b1eb5c0a702a73a27034b0f19cda8a96ca) because `VersionGetter` is null.

@BrennanConroy can you please take a look?

[2015-03-25 18:37] davidfowl commented on #1492
@victorhurdugaci I can't repro on windows

[2015-03-25 18:39] BrennanConroy commented on #1492
I can, using dnx v11360

[2015-03-25 18:39] victorhurdugaci commented on #1492
![untitled](https://cloud.githubusercontent.com/assets/5921642/6832417/8bc46698-d2e3-11e4-8916-29d0cc9adae9.png)

[2015-03-25 18:40] davidfowl commented on #1492
Ah hah, I was using 51

[2015-03-25 18:41] davidfowl commented on #1492
So these kinds of regressions are bad. We need to beef up our testing. Manual and automated.

[2015-03-25 18:42] victorhurdugaci commented on #1492
I agree, we should have more tests for scenarios that are not hit everyday

[2015-03-25 18:42] davidfowl commented on #1492
Possibly unit testing more?

[2015-03-25 22:24] BrennanConroy commented on #1492
I will write unit tests for dnu and dnx commands after fixing this issue.

[2015-03-25 22:32] victorhurdugaci opened #1499 "The appbase should not be required"
Since the `k` script was removed, now you have to type `dnx . <command>` instead of simply `dnx <command>`.

Why can't `dnx` infer the app base from the first argument? If the first argument is a folder assume it is the app base, otherwise `appbase = .`.

[2015-03-25 22:32] davidfowl commented on #1499
This is a dupe of a bug Louis filed

[2015-03-25 22:32] #1499 closed

[2015-03-25 22:33] davidfowl commented on #1496
Omg yes!!!!

[2015-03-25 23:04] Praburaj commented on #1492
`user-secret` feature is also affected by this issue.

[2015-03-25 23:06] Praburaj commented on #1492
@rustd

[2015-03-26 00:22] troydai opened #1500 "kpm bundle fail for project contains long path"
Move from https://github.com/aspnet/dnx/issues/1067

@DamianEdwards reports:

Exception details:

[code]

[2015-03-26 00:25] troydai commented on #1067
I'll close this issue. Bug is being tracked by https://github.com/aspnet/dnx/issues/1500

[2015-03-26 00:25] #1067 closed

[2015-03-26 01:22] vijayrkn opened #1501 "Kpm bundle with configuration as 'release' is not honored when built from source."
Runtime does not honor the configuration passed to kpm bundle when built from the source.

Repro:
kpm.cmd bundle "C:\WebApplication2" --out "C:\Temp\AspNetPublish\WebApplication2-89" --configuration Release --runtime dnx-clr-win-x86.1.0.0-beta4-11296 --wwwroot-out "wwwroot" --quiet

[2015-03-26 01:27] vijayrkn opened #1502 "kpm bundle does not delete the src folder under approot when we pass 'no-source' option' to an existing folder"
If i run kpm bundle to an existing folder with source files, kpm bundle does not delete the src folder.

Repro:
kpm.cmd bundle "C:\WebApplication2" --out "C:\Temp\AspNetPublish\WebApplication2-89" --configuration Release --no-source --runtime dnx-clr-win-x86.1.0.0-beta4-11296 --wwwroot-out "wwwroot" --quiet

Issue:
Runtime always builds from source if the src folder is present.

'No-source' option

[2015-03-26 06:11] conniey commented on #1437
Any updates on this? Were you able to reproduce it?

[2015-03-26 06:31] davidfowl commented on #1437
What version of mono?

[2015-03-26 09:49] davidfowl opened #1503 "Move design time compilation to another assembly"
Treat it like the roslyn compiler and get it out of the runtime itself.

/cc @anurse

[2015-03-26 11:06] davidfowl commented on #1470
Another test case:

[code]

[code]

[2015-03-26 15:56] ChengTian commented on #1474
Tracking issue in Tooling repo: https://github.com/aspnet/Tooling-Internal/issues/216

[2015-03-26 15:57] davidfowl commented on #1474
+1

[2015-03-26 16:12] ChengTian commented on #1470
great, will test my fix against all of those cases

[2015-03-26 16:18] conniey commented on #1437
Mono JIT compiler version 3.12.1 (tarball Fri Mar  6 19:12:47 UTC 2015)

[2015-03-26 16:55] joeloff opened #1504 "Add AssemblyFileVersion attribute to all assemblies"
Assemblies do not currently contain an AssemblyFileVersion attribute. This attribute is used by Windows Installer to determine whether or not a file can be upgraded.

We should add something like  DNX_ASSEMBLY_FILE_VERSION

Any installer that consumes these will be broken when doing upgrades from one build to the next as files could be skipped.

[2015-03-26 17:30] muratg commented on #777
I believe tooling and runtime changes required are still pending for this change. Based on this, moving to Beta5.

[2015-03-26 17:32] muratg commented on #1190
@pranavkm Were you able to look into this?

[2015-03-26 17:47] pranavkm commented on #1190
Not as yet. I might be able to spend some time with it today - however if this is critical for beta4, we should undo this feature and revisit this in beta5.

[2015-03-26 18:45] anurse commented on #1475
I'd rather avoid giving arbitrary project.json data from the runtime to the application. It means the runtime has to provide some kind of interface to this arbitrary data, which means we end up with gross things like `IDictionary<string, object>` where the type of "object" is mostly arbitrary, or grosser things like `IProjectConfigurationPropertyElementProvider`

Here's my personal preference, @da

[2015-03-26 18:58] anurse commented on #1503
:+1: I noticed how much was in the runtime and was a bit surprised.

[2015-03-26 20:39] muratg opened #1506 "Crossplat CoreCLR DNX"
- [ ] Create projects
- [ ] Enable MacOS build with basic "Hello World" test
- [ ] Enable Linux build with basic "Hello World" test
- [ ] ...

[2015-03-26 20:40] muratg commented on #1506
@davidfowl Feel free to update the list. We should get started with this soon.

[2015-03-26 21:14] #1487 closed

[2015-03-26 21:14] #1418 closed

[2015-03-26 21:41] #502 closed

[2015-03-26 21:54] pranavkm opened #1507 "Consider moving the .dnx directory on Windows to a subdirectory of %AppData%"
On Windows, everything under the `Users` directory with the exception of the `AppData` sub directory is indexed. Consequently restoring packages kicks off the search indexer. It doesn't look like it's actually indexing package contents, but it does index the file names. Moving it would avoid all the extra work.

[2015-03-26 22:06] #1488 closed

[2015-03-26 23:05] troydai opened #1508 "Add resourcesBuiltIn, contentBuiltIn properties in project.json"

[2015-03-27 01:33] davidfowl commented on #1502
Simple fix to this would be to remove the sources/projects entry from global.json

[2015-03-27 05:40] abpiskunov commented on #1298
Does not repro any more, we can close it

[2015-03-27 07:55] troydai opened #1513 "Add a detailed mode to kpm list --assembly"
To help track the source of new dependencies.

[2015-03-27 10:23] davidfowl commented on #1503
I'm going to take a look at this.

[2015-03-27 16:13] #1492 closed

[2015-03-27 20:33] Praburaj opened #1515 "--no-source and DNX_PACKAGES does not work together"
When I do a `dnu bundle --no-source` of an app and deploy it on a machine with `DNX_PACKAGES` environment variable set, I see the web application package fails to load with a FileNotFound exception

[code]

[2015-03-27 20:34] Praburaj commented on #1515
@ChengTian @davidfowl

[2015-03-27 20:54] ChengTian commented on #1515
Nice catch :+1:

Yes, `DNX_PACKAGES` overrides the packages path in `global.json`. So if you deploy a bundled app to an environment that has `DNX_PACKAGES` set. The bundle will be broken because it won't use `approot/packages`, which contains nupkgs built from dependency projects.

@davidfowl , should we reverse the priority of `DNX_PACKAGES` and `global.json.packages`? Seems "local wins" rule mak

[2015-03-27 21:01] davidfowl commented on #1515
Feels like we should do both. Instrument calls to the LoadContext so every call to LoadFile on both CLRs prints the path being loaded.

Lets also change the priority the env var and see what breaks.

/cc @troydai

[2015-03-27 21:34] victorhurdugaci opened #1516 "Cannot build dnx on the release branch"
Some packages are missing from the feed:

![untitled](https://cloud.githubusercontent.com/assets/5921642/6877437/55b8a576-d48e-11e4-81fe-b28fd42e7da5.png)

[2015-03-27 22:29] victorhurdugaci commented on #1516
Package uploaded

[2015-03-27 22:29] #1516 closed

[2015-03-27 22:56] victorhurdugaci opened #1518 "DNX (still) cannot build in the release branch"
[code]

cc @anurse

[2015-03-27 22:58] victorhurdugaci opened #1519 "The git submodules are pointing to the aspnetvnext feed"
The git submodules in `dnx` release branch are pointing to the `aspnetvnext` myget feed. Things will start breaking...

cc @anurse

[2015-03-27 23:12] anurse commented on #1519
We'll need to create a `dnx-release` branch in the NuGet submodules and make the change there. The `release` branch on the NuGet repos are completely different from the code we're trying to build.

Ideally, we should try to remove the new runtime from beta4 entirely...

[2015-03-27 23:42] anurse commented on #1519
The NuGet ones actually aren't interfering so I won't change them in this fix. I will request a separate beta4 fix to remove the new runtime build from the release branch

[2015-03-27 23:42] anurse opened #1520 "Remove new runtime build in 'release' branch"
We shouldn't build the new runtime in the release branch. It's not ready and isn't intended to go out. It should be straightforward and if it is, we should cut it.

[2015-03-27 23:42] anurse commented on #1518
https://github.com/aspnet/dnx/issues/1520

[2015-03-27 23:44] anurse commented on #1518
Fixed by @pranavkm - He uploaded the correct version of HttpClient.

[2015-03-27 23:44] anurse commented on #1518
@victorhurdugaci can you verify now and close?

[2015-03-28 00:12] ChengTian opened #1523 ""dnu publish --no-source" doesn't run on IIS Express"
Reported by @Praburaj

I verified `dnu publish` with:
Runtime: dnx-coreclr-win-x86.1.0.0-beta4-11390 (latest release branch)
MusicStore: latest release branch
AspNet.Loader: 1.0.0-beta5-11379

Running `web.cmd` works well. However, running the bundled app with IIS Express gives:
![capture](https://cloud.githubusercontent.com/assets/1383883/6878921/6294f040-d4a4-11e4-8fc8-766242942999.PNG)

@muratg

[2015-03-28 00:26] ChengTian commented on #1523
It also happens with CLR. I tested with dnx-clr-win-x86.1.0.0-beta4-11390 (latest release branch). `web.cmd` works fine, IIS Express gives:
![capture](https://cloud.githubusercontent.com/assets/1383883/6878995/53e9a192-d4a6-11e4-961f-d608c3943f55.PNG)

[2015-03-28 02:05] victorhurdugaci commented on #898
This is fixed, not sure why GitHub didn't resolve it.

[2015-03-28 02:05] #898 closed

[2015-03-28 02:22] davidfowl commented on #1523
Odd.

[2015-03-28 08:55] davidfowl opened #1524 "Rename Microsoft.Framework.Runtime.Roslyn to Microsoft.Framework.Compilation.CSharp"
We should rename the Roslyn assembly to CSharp, we could turn Roslyn assembly the CodeAnalysis assembly if we wanted that to be the base class for Roslyn based on compilers.

[2015-03-28 10:43] davidfowl opened #1525 "Rethink native image loading"
Right now the native image loading is hacked into the AssemblyLoadContext. It would be great to rethink how we do this so that it ties more into the nuget graph walk etc.

[2015-03-28 10:46] davidfowl opened #1526 "Some native images aren't being loaded"
For some reason some of the native images aren't being loaded:

![image](https://cloud.githubusercontent.com/assets/95136/6880699/05c62218-d4fd-11e4-8320-6a727520d38d.png)

[2015-03-28 11:00] davidfowl commented on #1457
/cc @anurse

[2015-03-28 11:01] davidfowl commented on #1361
See https://github.com/aspnet/dnx/pull/1511

[2015-03-28 11:02] davidfowl commented on #1361
Closing this bug out. See https://github.com/aspnet/dnx/issues/1470

[2015-03-28 11:02] #1361 closed

[2015-03-28 11:05] davidfowl commented on #1074
We have this

[2015-03-28 11:05] #1074 closed

[2015-03-28 11:14] davidfowl commented on #993
/cc @anurse

[2015-03-28 11:15] davidfowl commented on #1020
/cc @anurse we should detect errors cases like this with the new runtime if possible.

[2015-03-28 11:23] davidfowl opened #1527 "Failed publish/bundle returns 0 for exit code"
[code]

[2015-03-28 11:24] davidfowl commented on #1527
/cc @wendywei345 @troydai

[2015-03-28 11:31] davidfowl commented on #602
@ChengTian it does now right?

[2015-03-28 11:31] #625 closed

[2015-03-28 12:41] pranavkm commented on #1504
There's also the `AssemblyInformationalVersion` which might need something similar.

[2015-03-28 12:43] davidfowl commented on #1504
We already infer that from the version in project.json

[2015-03-28 12:46] pranavkm commented on #1504
Doesn't help if I want to use build time information to set it (for instance it would be nice to set the commit shas in the binaries we produce)

[2015-03-28 15:48] TheDarkTrumpet opened #1528 "Installation on MacOSX has problems/doesn't work"
Hello all,

I'm not sure if this is an issue with how I did things, but it seems like most things should be in place.

Steps To Reproduce:
1) Installed Mono through brew: (brew install Caskroom/cask/mono-mdk)
2) Installed dnx/dnvm (curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh from https://github.com/aspnet/Home)
3) Upg

[2015-03-28 17:10] victorhurdugaci commented on #1504
Here is a proposal that's not for the two PRs that I sent because they go in the release branch. It is for the dev branch.

I don't think that the Roslyn compiler should have this logic embedded in it.The file version and the commit hash should be compiler preprocess steps added by the app. But, instead of adding the preprocess step to each project, we could either add it to `global.json` (does th

[2015-03-28 17:25] ChengTian commented on #602
@davidfowl , yes. One subarea not covered is `kpm wrap <assembly>`, which has a corresponding issue here: https://github.com/aspnet/dnx/issues/1415

[2015-03-28 17:25] #602 closed

[2015-03-28 18:12] #1470 closed

[2015-03-28 18:33] davidfowl commented on #1528
Use the dev branch

[2015-03-28 18:44] TheDarkTrumpet commented on #1528
I actually checked out the source code for dnx, and am on the dev branch.  I followed the directions on https://github.com/aspnet/dnx, including the command to create the symlinks, and switched the environment to the dev environment.  I verified the same problem occurs.  I went into the build directory (where the symlinking was done to) and verified dnx was in there.

MacBookPro:HelloMvc dthole$ d

[2015-03-28 18:45] davidfowl commented on #1528
dev branch of the Home repository for samples

[2015-03-28 18:46] davidfowl commented on #1528
You never really have to build your own dnx ever, unless you want to work on it.

[2015-03-28 18:52] BrennanConroy commented on #1528
:+1: and even then you can usually get away with just building parts of it and replacing those parts in the version you have installed.

[2015-03-28 18:57] TheDarkTrumpet commented on #1528
Yeah, I've been at this for something like 7 hours now, so that's why I started building my own dnx.  At least I got back to the original difficulty I was at (server starts, but no connections, and little information posted) is was the same as I was having with k, so it looks like switching to dev worked.  I think I'll fork the Home documentation, and try to add something to the beginning that if

[2015-03-28 18:58] #1528 closed

[2015-03-28 18:59] davidfowl commented on #1528
http://davidfowl.com/diagnosing-dependency-issues-with-asp-net-5/ Check out this awesome blog post (that I wrote) :smile:

[2015-03-28 19:05] TheDarkTrumpet commented on #1528
That is a useful post.  I think it was one of your posts, I came across, that originally got me setup some months ago using this.  I recall being to your website a few times so far.  I'll definitely read through this post to see if I can get "dnx . web" actually working

[2015-03-28 19:14] TheDarkTrumpet commented on #1528
and I got it working.  I really hope I can document this in a way that others won't have to battle quite as much as I did for getting this to work.

[2015-03-28 19:20] ChengTian commented on #1474
Got reminder from @davidfowl , we can show warning for deprecated `bundleExclude` in Tooling now. We should remember to use this feature when renaming

[2015-03-28 19:38] davidfowl commented on #1523
Where did this repro? The music store tests or by hand?

[2015-03-28 19:41] ChengTian commented on #1523
By hand. We don't have coverage for dnu publish in MusicStore. @Praburaj just found the root cause of a blocking issue (https://github.com/aspnet/dnx/issues/1515) and he is going to add coverage for dun publish.

[2015-03-28 19:43] ChengTian opened #1530 "Leave 'dnx-version' and 'dnx-clr' out when no --runtime is provided to "dnu publish""
Today we have items with empty value in `web.config` in this case. It confuses a lot of people.
[code]

[2015-03-28 20:43] davidfowl opened #1531 "dnu list does not differentiate unresolved dependencies"
The output of `dnu list` shows unresolved dependencies but gives no indication that they are unresolved:

[code]

[2015-03-28 20:44] davidfowl commented on #1531
/cc @troydai

[2015-03-28 20:44] davidfowl opened #1532 "dnu list should be renamed to dnu list-dependencies"
/cc @lodejard thoughts?

[2015-03-28 20:48] #1503 closed

[2015-03-28 21:43] lodejard commented on #1532
Are there other things it would list? It seems a lot to type, tbh

[2015-03-29 00:50] davidfowl commented on #1532
bah

[2015-03-29 01:39] #1532 closed

[2015-03-29 02:11] davidfowl commented on #1434
@MattGal We're revisiting this https://github.com/aspnet/dnx/issues/1530

[2015-03-29 02:15] davidfowl commented on #1435
Also this is fixed now

[2015-03-29 02:24] davidfowl opened #1533 "Add support for dnu push"
Add the ability to push to a nuget feed using dnu

[2015-03-29 04:37] davidfowl commented on #1457
@PradeepKadubandi @abpiskunov Why is it that dependencies are unresolved after opening? I thought we had logic that does a solution level restore (or per project) on projects with unresolved dependencies.

[2015-03-29 04:39] davidfowl commented on #649
Closing this as by design. The new NuGet 3 API s required to open packages now :smile:

[2015-03-29 04:39] #649 closed

[2015-03-29 04:42] davidfowl commented on #1302
This is all done in beta4. ReleaseNotes haven't been added because it's weird :smile:

[2015-03-29 04:42] #1302 closed

[2015-03-29 06:48] davidfowl commented on #1121
I feel like we should do this in beta4 since we changed the command name and changed how it's supposed to be run.

[2015-03-29 11:24] davidfowl opened #1535 "Rename ICompilationMessage to IDiagnosticMessage"
We're using it for more than just compilation errors across the stack now.

[2015-03-29 15:23] TheDarkTrumpet opened #1538 "Running of demos (in dev branch) fails within Microsoft.AspNet.Cryptography.Internal"
Hey all,

I tried searching for the repository this is part of, and couldn't find it.  This may be the wrong place for this bug report, and if there's a better place, please let me know.  Yesterday, the demos worked fine, but today, on a new mac, I was trying to duplicate all the stuff I did yesterday so I can make sure my documentation updates are right.  When I got to running this, I got the err

[2015-03-29 15:34] davidfowl commented on #1538
See https://github.com/aspnet/DataProtection/issues/55.

[2015-03-29 15:34] #1538 closed

[2015-03-29 15:35] davidfowl commented on #1538
In the future, file bugs on the home repository if you aren't sure where they belong.

[2015-03-29 15:47] TheDarkTrumpet commented on #1538
k, I'll be sure to do that, and thanks for the link.

Do you know of a possible reason why it would work one day, but not the next?  Seems odd since I didn't modify Mono at all between yesterday and today.

[2015-03-29 15:49] davidfowl commented on #1538
Doesn't the issue explain it? DataProtection took a dependency that doesn't exist on older versions of mono

[2015-03-29 16:50] abpiskunov commented on #1457
I just debugged that and this issue should be resolved along with starting restore when project load completed. I will check it on Monday.

[2015-03-29 16:58] davidfowl commented on #1457
@abpiskunov Can you link to an issue here. I'm gonna close this out.

[2015-03-29 16:58] #1457 closed

[2015-03-29 17:00] abpiskunov commented on #1457
Tracked now with this issue: https://github.com/aspnet/Tooling-Internal/issues/241

[2015-03-29 17:58] TheDarkTrumpet commented on #1538
It does, but considering this happened a few weeks ago, and was working for me yesterday, that's what kinda confused me.  Like, it fixed the dependency issue, then took it again over night.  Building the github version of mono will be a fine fix..

[2015-03-30 06:24] davidfowl commented on #1508
We don't need sharedBuiltIn

[2015-03-30 09:43] davidfowl opened #1539 "Print out summary after dnu restore"
Here's the kind of information the summary should have

- How many packages were downloaded
- What feeds were considered
- What nuget.config files were used (might be tricky)
- Where packages were install to
- How long everything took (I think we have this already)

[2015-03-30 09:48] davidfowl opened #1540 "Remove logic that parses global.json twice"
It gets parsed here:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime/ApplicationHostContext.cs#L35

And also here:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime/ApplicationHostContext.cs#L39

[2015-03-30 15:14] davidfowl commented on #1394
/cc @troydai

[2015-03-30 15:26] davidfowl opened #1542 "Replicate performance optimization done in csc in Roslyn compiler"
https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Desktop/CommandLine/CSharpCompiler.cs#L187

[2015-03-30 16:26] davidfowl commented on #1063
@MattGal This is by design.

[2015-03-30 16:58] BrennanConroy opened #1543 "Coreclr bad argument not same as Desktop"
On coreclr if you do something like ```dnx . glhf```` it gives the "Try running 'dnu restore'." error message with the failed dependencies list.

Same command on desktop clr has the "Unable to load application or execute command 'glhf'." error.

[2015-03-30 17:50] anurse opened #1544 "Set NuGet minClientVersion to 2.8.5 when using dnx* TFMs"
Older versions of NuGet will be unhappy with these TFMs :). Our packages should require this minimum version of NuGet.

/cc @yishaigalatzer

[2015-03-30 17:52] Praburaj commented on #1515
And it will also be good to review the impact of any other environment variables like `DNX_PACKAGES_CACHE` with `bundle --no-source`.

[2015-03-30 17:59] davidfowl commented on #1515
That one has no negative effects

[2015-03-30 20:55] muratg commented on #1543
Ugh

[2015-03-30 20:56] anurse opened #1546 "Use a proper User-Agent when talking to Nu/MyGet"
We should have a proper user agent for KPM. Right now, all the K-related stuff is showing up on the stats as "Other" because we don't have a distinctive User Agent.

[2015-03-30 21:36] troydai commented on #1500
Fixed on both release and dev branch.

[2015-03-30 21:36] #1500 closed

[2015-03-30 22:17] BrennanConroy opened #1547 "Make Unit Tests work on CoreCLR"
Should be easy for most tests. i.e. CommandLineUtils.Tests just needed to target dnxcore50.

[2015-03-30 22:20] Praburaj opened #1548 "Need a more descriptive message when an incorrect file globbing pattern is entered"
For example if I accidentally put a `*` in a globbing pattern that does not allow `*` e.g:
[code]

All we show in the error is this without any line number information, or pointers on what's wrong etc. We should print out a more descriptive error with some information on what exactly is wrong.

![image](https://cloud.githubusercontent.com/assets/2294732/6908138/2215bcae-d6f0-11e4-9d0e-a8488583aa19

[2015-03-30 23:02] #1474 closed

[2015-03-30 23:34] #1504 closed

[2015-03-30 23:53] troydai commented on #1548
We may exam the 'literal' patterns more carefully while parsing project.json.

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Hosting/PatternGroup.cs#L80

[2015-03-31 02:26] barrytang commented on #1103
@glennc, so this is not a bug level fix and that's why it got moved to the backlog? I am pretty you have seen the experience and it is quite ugly. Ideally, we should fix this for VS RC but probably too late?

[2015-03-31 04:31] jskulavik opened #1551 "dnx . [command] Cannot resolve packages"
Run dnu restore as suggested, "Installed *" successfully, then dnx . [command] to receive missing packages:
![dnx_dependencies](https://cloud.githubusercontent.com/assets/2044176/6912292/b45adb22-d72b-11e4-85b1-61a384c275ac.png)

project.json:
[code]

[2015-03-31 04:33] davidfowl commented on #1551
Beta3 packars aren incompatible with the DNX. If you're using the Home samples, use the dev branch with the dnx.

[2015-03-31 04:33] #1551 closed

[2015-03-31 05:21] jskulavik commented on #1551
Thanks @davidfowl.  I'm not using the Home samples though.  My process:  Latest VS2015->build simple ASPNET5 app->deploy local file system->xcopy to 2012 server->run *.cmd to activate WebListener->error: kre.host cannot be added due to security (loadFromRemoteSources)->execute dnvm/dnu upgrade, kpm restore->dnx . [command]->your answer.  So, what's the deployment story for dnvm & beta3 following V

[2015-03-31 05:22] davidfowl commented on #1551
beta3 is incompatible with dnx (which is >= beta4). Read this http://davidfowl.com/diagnosing-dependency-issues-with-asp-net-5/.

The first tip is the one to be most aware of.

[2015-03-31 05:28] jskulavik commented on #1551
Thank you sir!  "Learnt" huh?  You've been hanging out with @DamianEdwards a bit too much it seems ;-).  Thanks again.

[2015-03-31 10:10] davidfowl opened #1552 "Should unresolved dependency errors supersede compilation errors?"
Walking up to a project where `dnu restore` was never run and type `dnu build`. Here's an example of the output:

[code]

Everything is buried in the compile errors and it makes it hard to know what to do next.

[2015-03-31 11:35] davidfowl commented on #1397
I see this too on ubuntu:

[code]

[2015-03-31 12:14] #1397 closed

[2015-03-31 17:14] BrennanConroy opened #1553 "--dependencies unused argument in dnu pack"

[2015-03-31 17:43] #1428 closed

[2015-03-31 18:03] davidfowl commented on #1553
Yep it's been there for a while but we never did anything with it.

[2015-03-31 18:18] kirthik opened #1554 "Deploying a project (packed using dnu publish) to IIS fails"
Rutime version: `dnx-clr-win-x86.1.0.0-beta4-11431`
`dnu publish -o C:\ProjectK\PackedProj1 --runtime dnx-clr-win-x86.1.0.0-beta4-11431` to pack the project.
Create a new site in IIS and point its physical location to `wwwroot` of packged project (`C:\ProjectK\PackedProj1\wwwroot`)
Browse to the site and I see following error
![image](https://cloud.githubusercontent.com/assets/1267650/6925859/5beb

[2015-03-31 18:18] kirthik commented on #1554
cc @wendywei345, @davidfowl , @muratg

[2015-03-31 18:37] davidfowl commented on #1554
Dupe of https://github.com/aspnet/dnx/issues/1523?

[2015-03-31 18:42] ChengTian commented on #1554
No, this is on **IIS** and there is **no** `--no-source` used

[2015-03-31 18:43] davidfowl commented on #1554
The exception message is the same. I think it's fair to say it's the same bug.

[2015-03-31 18:46] ChengTian commented on #1554
Makes sense. Will add a reminder to test this scenario after #1523 is fixed.

[2015-03-31 18:46] #1554 closed

[2015-03-31 18:47] ChengTian commented on #1523
Reported by @kirthik
Need to verify `dnu publish` (without `--no-source`) and deploy to IIS

[2015-03-31 19:28] borgdylan opened #1556 "Publish Regression"
When publishing a package, dependencies still list all their requirements even for the non needed frameworks yet not all of these requirements are deployed with the bundle. This is leading to an inconsistent deployment bundle.

[2015-03-31 19:29] davidfowl commented on #1556
Can you be more specific about what used to work, and what is failing now?

[2015-03-31 19:31] davidfowl opened #1557 "Do over makefile.shade"
It's gotten pretty complicated and can be simplified. It should also work on osx, nix and windows.

[2015-03-31 20:17] BrennanConroy commented on #1518
Works for me now

[2015-03-31 20:22] davidfowl commented on #1518
+1 Me too

[2015-03-31 20:22] #1518 closed

[2015-03-31 20:36] ChengTian commented on #1523
@kirthik , if you see `Could not load file or assembly 'dnx.clr.managed' or one of its dependencies`, it's by design. You should either `dnu publish` with x64 runtime, or turn on `Enable 32-Bit Applications` for your application pool.

[2015-03-31 20:38] kirthik commented on #1523
There is nothing in the error message that tells the user that. How would a user figure it out?

[2015-03-31 20:54] kirthik commented on #1527
:+1:  Saw the same issue today on beta4 release bits. This is blocking publish scenario in VS if project is created at default path that VS suggests.

[2015-03-31 21:41] Praburaj opened #1558 "Change excludeBuiltIn default from kproj -> xproj"
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Hosting/ProjectFilesCollection.cs#L18

Change kproj -> xproj

@troydai

[2015-03-31 21:54] ChengTian commented on #1523
@kirthik , if you follow instructions on the error page and turn on assembly binding logging, you can figure it out.

@davidfowl , do we want to give more friendly error message when a architecture-mismatch is detected in `AspNet.Loader`? (For example, when a x86 runtime is needed but there is only a x64 runtime bundled)

[2015-03-31 22:03] davidfowl commented on #1523
That would be great!

[2015-03-31 22:45] andyalm opened #1559 "Setting project name in project.json"
Forgive me if someone has already asked about this. I tried searching through the issue history and couldn't find mention of it. Are there plans to provide a way to set a projects name/id in the project.json file? Right now, it seems to be a requirement that the name come from the parent directory name. While I think that is a fine default, I find the inability to override that to be very limiting

[2015-03-31 22:58] davidfowl commented on #1559
We had it in earlier versions and removed it. The reasoning was that forcing the folder name to be the project name was to make things more DRY. The other reason was that project references were found via project name on disk. This makes it very quick to check for `/folder/{project}/project.json` without having to crack open any JSON files upfront. Moving the name into the `project.json` means tha

[2015-03-31 23:02] PradeepKadubandi opened #1560 "DTH should return the package paths which don't exist on disk as unresolved."
This is coming from the TFS bug : 1145196
"Unable to build StarterWeb if I delete the %Userprofile%\.dnx folder and then re-open VS"

Can DTH improve the error message in the above scenario?

[2015-03-31 23:04] andyalm commented on #1559
@davidfowl Thanks for the quick response. I definitely understand the performance benefit here. Putting it in the global.json feels a little weird to me, because something as important as the identity of a project feels like it belongs with the project's own manifest.

I'm very excited about this new project system as it addresses so many of the frictions of the current csproj system. However, thi

[2015-03-31 23:08] BrennanConroy opened #1562 "Passing * in version doesn't work for commands install"
i.e. dnu commands install SecretManager 1.0.0-*

@victorhurdugaci

[2015-03-31 23:14] ChengTian commented on #1523
Filed an issue for more friendly error message: https://github.com/aspnet/Helios/issues/127

[2015-03-31 23:32] davidfowl commented on #1559
Lets brain storm some more then. Let's talk about all of the names:

- Name to use for a project reference
- Name to use for the generated package
- Name to use for the assembly name within the package

I assume you want all of them to be in sync right?

[2015-03-31 23:51] andyalm commented on #1559
I think it makes sense for them to be in sync. That said, the two that are most important are the name of the generated package and assembly. We have to preserve them for backwards compatibility for downstream consumers.

[2015-04-01 00:43] alexgav opened #1563 "Restore failed: TODO: Circular dependency references not supported. Package 'EntityFramework.Commands'. on opening a project"
Getting the error in the title on open of a test project that was previously working. The project sources are checked in into WebToolsExtensions at src\editors\json\package\test\webs\websites.sln. There is a corresponding TFS bug 1143923. This is blocking some of the JSON nightly tests.

[2015-04-01 00:44] davidfowl commented on #1563
Can you make a simplified repro? Or at least show the error message?

[2015-04-01 00:53] muratg commented on #1523
Closing this one as this is by design.  Error message improvements are tracked in the Helios bug 127

[2015-04-01 00:53] #1523 closed

[2015-04-01 01:10] ChengTian opened #1564 ""dnu publish --no-source" with coreclr dnx doesn't work when IIS Express is started programmatically"
Reported by @Praburaj when he was adding test coverage for "dnu publish --no-source" in MusicStore

To reproduce, change this test case: https://github.com/aspnet/MusicStore/blob/dev/test/E2ETests/PublishAndRunTests.cs#L16
to use CoreCLR and run it. It shows an error page with exception:
[code]

**When you start IIS Express manually, it works well**. So looks like this only happens when you start

[2015-04-01 01:19] borgdylan commented on #1556
Before the packages for the unused framework were not copied yet still required by the dnx to let you run. Before you could copy the packages manually and manage to run. The latter is no longer the case.

[2015-04-01 01:39] davidfowl commented on #1556
I don't understand

[2015-04-01 05:58] troydai commented on #1531
Assign to myself.

[2015-04-01 05:58] troydai commented on #1531
@muratg I plan to fix this in beta5

[2015-04-01 06:10] troydai commented on #1508
Yup.

[2015-04-01 06:39] davidfowl opened #1565 "Microsoft.Framework.Runtime.FunctionalTests don't work on *nix"
Globbing is causing the majority of the failures

[2015-04-01 06:45] borgdylan commented on #1556
I have a site that depends on a library. This library has a net40 only dependency. This dep is not being copied in the packages folder on a publish. However the runtime still expects that dependency to be present. Before I used to fix this issue by copying the dependency myself, but now that does not work.

[2015-04-01 06:46] borgdylan commented on #1556
I will try to patch the project.json in the published image and see if I can fool the runtime since I am targeting dnx451 with the site.

[2015-04-01 06:48] davidfowl commented on #1556
net40 is compatible with dnx451 so I don't quite understand why it isn't copied. If you can make a repro site that would be great. We can add it as a test case.

[2015-04-01 06:50] borgdylan commented on #1556
Also, why does the runtime ask for the presence of dependencies not meant for the current target framework when I run? I would expect that the runtime checks for what is needed for the chosen TFM only.

[2015-04-01 06:52] borgdylan commented on #1556
This library is rather special in that it provides async support for my language. It only needs this package i.e. Microsoft.Bcl.Async on net40. It supports later versions using built in types.

[2015-04-01 06:54] davidfowl commented on #1556
We'll make progress when you provide a sample.

[2015-04-01 06:55] borgdylan commented on #1556
The library source code is here: https://github.com/borgdylan/dylandotnet/tree/master/vnext-stuff/dylan.NET.Tasks

[2015-04-01 06:55] davidfowl commented on #1556
Can you provide a minimal repro with steps on how to reproduce the problem. The goal is to put this as a test case so we don't regress it again.

[2015-04-01 06:57] borgdylan commented on #1556
Would a c# project that does a simple app.Run using the library for async be ok? It should make the runtime behave in the same way.

[2015-04-01 06:57] davidfowl commented on #1556
Whatever you want, the less dependencies the better.

[2015-04-01 09:32] davidfowl commented on #1559
Ok I'm leaning towards the `global.json` solution. If you override the project name in `project.json` you have to go to global.json and specify the mapping from name to location (relative to the global.json of course).

`root/src/ComponentA/project.json`

[code]

`/root/src/ComponentB/project.json`

[code]

`root/global.json`

[code]

I'm torn between reusing projects (formerly sources) or creatin

[2015-04-01 13:31] roji commented on #1229
Sorry if I'm misunderstanding something, but Type doesn't have the `GetTypeInfo()` either in my setup. This happens both in VS CTP6 and building cmdline (CLR 1.0.0-beta5-11446 x86). Am I missing something?

[2015-04-01 13:44] david-driscoll commented on #1559
I think the global.json solution makes sense, it places the responsibility in a single file.

I think the question comes in, what happens when I as a library consumer try to reference this as source code.  I believe referencing the global.json is how things currently work today in beta3.

Something like... `projects: ["src", "test", "../path/to/source"]` which I references the global.json in the f

[2015-04-01 16:08] victorhurdugaci opened #1567 "The code that injects the version information should not be part of the runtime"
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Roslyn/RoslynCompiler.cs#L226-L282 <- this should be part of the build script and only added to the projects that need it

[2015-04-01 17:15] rynowak commented on #1229
@roji it's an extension method in `System.Reflection` make sure you have the `using`.

[2015-04-01 17:29] #1558 closed

[2015-04-01 17:51] roji commented on #1229
Thanks @rynowak!

[2015-04-01 17:54] davidfowl commented on #1567
What?

[2015-04-01 18:38] glennc commented on #1559
@BillHiebert  if we did this can we make it so that if I ever rename a project in VS it automatically adds the right entries to global.json and project.json?

I'm not sure I like having to change two files. Will think about it more though.

[2015-04-01 18:38] davidfowl commented on #1559
@glennc YES we can!! Just discussed that with @DamianEdwards

[2015-04-01 18:40] davidfowl commented on #1559
### Option 1

[code]

### Option 2

[code]

### Option 3

[code]

[2015-04-01 18:40] victorhurdugaci commented on #1567
Synced offline with @davidfowl . Closing for now

[2015-04-01 18:40] #1567 closed

[2015-04-01 18:47] davidfowl commented on #1559
I'm leaning towards 3. In general explicit name mappings override search locations.

[2015-04-01 19:01] davidfowl commented on #1559
### Option 4

[code]

[2015-04-01 19:02] david-driscoll commented on #1559
Will 4 still allow the array syntax by default?

[2015-04-01 19:03] davidfowl commented on #1559
The idea is to change the array syntax to key value pairs instead.

[2015-04-01 19:13] glennc commented on #1559
I like 4

[2015-04-01 19:13] glennc commented on #1559
I like 4

[2015-04-01 19:22] kijanawoodard commented on #1559
4 seems like it could be a problem with standard json libraries because of the relevant RFCs.

http://stackoverflow.com/a/23195243/214073

[2015-04-01 19:22] bradwilson commented on #1559
4 isn't, strictly speaking, legal JSON, because keys must be unique in objects.

[2015-04-01 19:23] bradwilson commented on #1559
I like a slightly modified version of 3 to make it clearer that the strings are patterns, not project names:

[code]

[2015-04-01 19:24] david-driscoll commented on #1559
Then 3 might make more sense if the idea is to use the same property.

[2015-04-01 19:24] bradwilson commented on #1559
Or, an alternative 4 that is legal JSON (let's call this `4a`):

[code]

[2015-04-01 19:28] davidfowl commented on #1559
I like that one @bradwilson

[2015-04-01 19:36] DamianEdwards commented on #1559
I vote for `4a` so far

[2015-04-01 19:40] davidfowl commented on #1559
Yah +1

[2015-04-01 19:41] Bartmax commented on #1559
4a is pretty clever!

[2015-04-01 19:49] Tragetaschen commented on #1559
`4a`, because it's easy to describe how the ordering/overriding works.

(and it extends nicely with upstream `global.json`-include)

[2015-04-01 19:50] davidfowl commented on #1559
Names will *always* override * as a rule

[2015-04-01 19:55] bradwilson commented on #1559
If ordering is an issue, you should be drawn and quartered. :stuck_out_tongue_winking_eye:

[2015-04-01 20:09] david-driscoll commented on #1559
What we had a common prefix such as `Microsoft.Framework`?

    {
        "projects" : {
            "*": ["src", "test"],
            "Microsoft.AspNet.Framework.*" : "src/*",
            "Microsoft.AspNet.Framework.*.Tests" : "test/*"
        }
    }

[2015-04-01 20:10] davidfowl commented on #1559
Feature creep. That's not a bad suggestion but I'm going to say maybe in v5 :smile:

[2015-04-01 20:11] congiuluc commented on #1559
Me too 1vote for 4a

[2015-04-01 20:16] akoeplinger commented on #1559
+1 to 4a, although I think it'd be clearer if the pattern was explicit like in @bradwilson modified version 3 (which also makes a future extensions like @david-driscoll proposed more consistent):

[code]

[2015-04-01 20:53] BillHiebert commented on #1330
This has been fixed.

[2015-04-01 21:09] Bartmax commented on #1559
On references (dependencies), should/can use foo or somethingelse or both?

This would also work as an alias for External nugets? Like "mvc" : "Microsoft.AspNet...." ??

Are there any difference when dealing with local projects or Nuget ?

[2015-04-01 21:49] cherrydev opened #1569 "Why is CommandLineApplication internal & shared instead of public?"
I haven't been able to find any discussion upon why CommandLineApplication is internal and source-shared with dependent projects instead of public.  Is this just as an insurance policy against breaking changes?

[2015-04-01 22:20] MattGal commented on #1559
I'd vote for #1 or #3, as I am skeptical that the * naming system will add much value to users, and doesn't exactly match the "wildcard" interpretation that asterisk has carried for some years.   #1 makes it slightly more obvious that it's a mapping, but may be confusing because it's a mapping and not a project name-wise... so it might not be obvious whether one puts the project name in both place

[2015-04-01 22:42] victorhurdugaci opened #1570 "Main method with multiple args does nothing"
[code]

1. Create a console app with the code above.
2. Run
3. Notice the app exits without any error message and nothing gets written to the console.

[2015-04-01 22:43] davidfowl commented on #1570
Should show an error

[2015-04-02 01:01] ChengTian opened #1572 "Rename k-crossgen tool"
Reported by @moozzyk

This is the last k-*.cmd we have. It's mainly an internally used tool, so the renaming is not urgent.

@muratg @davidfowl  Do we want to rename it to `dnx-crossgen`? Or you have some better names for it

[2015-04-02 01:02] davidfowl commented on #1572
merge it into dnu or make it another global command /cc @loudej

[2015-04-02 01:07] ChengTian commented on #1572
I guess merging it into dnu is better.

`dnvm` is using `k-crossgen` and assumes `k-corssgen` comes with dnx. Making `k-crossgen` a global command means `dnvm` will need to install this global command first. It's very different from the current approach.

[2015-04-02 01:37] davidfowl commented on #1572
Ah hah! Yes lets merge it in

[2015-04-02 06:43] ErikSchierboom commented on #1559
+1 for 4a. Seems easy to grasp.

[2015-04-02 18:29] troydai opened #1576 "Normalize the path used in Functional Test to enable xplat testing"

[2015-04-02 20:13] kichalla opened #1577 "Chagne DNU usage text for help"
This works: `dnu help publish`
but the following do not
`dnu --help publish`
`dnu -h publish`
`dnu -? publish`

![image](https://cloud.githubusercontent.com/assets/6559784/6972570/83ae7ba4-d939-11e4-89d6-8f6dad2d0560.png)

[2015-04-02 21:21] BrennanConroy opened #1578 "dnx -h and -? don't work correctly on mono"
```dnx -h``` and ```dnx -?``` show ```Please specify the command to run``` instead of showing help.

Using dnx 1.0.0-beta4-11448 on mono

[2015-04-03 00:05] troydai commented on #1576
PR: https://github.com/aspnet/dnx/pull/1580

[2015-04-03 00:05] #1576 closed

[2015-04-03 03:27] davidfowl commented on #1565
/cc @troydai

[2015-04-03 04:27] #1565 closed

[2015-04-03 10:24] davidfowl opened #1586 "Bootstrapper tests are failing on appveyor"
https://ci.appveyor.com/project/aspnetci/dnx/build/1.0.47

@ChengTian can you take a look at this?

[2015-04-03 10:29] #1560 closed

[2015-04-03 10:29] davidfowl commented on #462
I'll work on this now.

@borgdylan Maybe somebody

[2015-04-03 18:14] ChengTian commented on #1586
Looking at it

[2015-04-03 22:12] moozzyk opened #1587 "Can run an app but cannot build it (assemblies used for internal purposes leak to the user's code)"
A stock "Hello World" app can be executed successfully but cannot be built if it contains types pre-loaded by bootstrapping.

Consider this app:
[code]
with the following dependencies:
[code]

You can run this app with `dnx . run` without any problem
Trying building it with VS (or from command line: `dnu build --out c:\temp\`) results in:

C:\Users\pawelka\Documents\Visual Studio 2015\Projects\DNX

[2015-04-03 22:15] ChengTian commented on #1586
This commit (https://github.com/aspnet/dnx/commit/a3729ddb5eb85f7f5c63ba0ca37971b7b50c573f) fixes bootstrapper tests but more tests are failing because of the line ending issue.

Looks like AppVeyor is using improper git line ending configuration on Windows. Working on a workaround.

[2015-04-03 23:23] akoeplinger opened #1588 "A big number of patterns in project.json will increase the file globbing time dramatically."
Repro code: https://github.com/akoeplinger/dnx-globbing-loop

Tested with 1.0.0-beta5-11469 coreclr x86 on Windows 8.1

Repro steps:
1. Run dnu restore
2. Go to src\sample\TestAppWrapper
3. Run `dnx . run`

Watching via procmon shows it loops endlessley in the directories:
![repro](https://cloud.githubusercontent.com/assets/1376924/6990262/1b812442-da69-11e4-9d8e-5d946a13d289.png)

/cc @davidfowl

[2015-04-03 23:36] troydai commented on #1588
Looks like I can repo it. I'm at the crime scene.

[2015-04-04 00:27] akoeplinger commented on #1588
In case you missed it on JabbR: moving the relative paths from `compile` into `compileFiles` fixed the "loop" as you suspected.

[2015-04-04 00:40] troydai commented on #1588
@akoeplinger thanks for the confirmation!

Here's a brief explanation to the issue:

Every string listed in `compile` is treated as a `pattern` no matter whether if contains wildcard. Therefore when a big number of patterns exist the matcher will process every one at each level of the search path. It is not a __infinite__ loop but a extremely long process.

There is solutions to it:

Short-termly,

[2015-04-04 00:41] troydai commented on #1588
/cc @lodejard @loudej

[2015-04-04 00:42] akoeplinger commented on #1588
Yep, thanks for the explanation, sounds good!

[2015-04-04 00:43] davidfowl commented on #1588
@troydai Can we use the new diagnostics system to warn/error when absolute paths are used in compile?

[2015-04-04 00:46] ChengTian commented on #1586
Fixed: https://github.com/aspnet/dnx/commit/bd29db2bdbe8481fa5e75eb8a860d0e06dcb8732
Also fix the same problem in all other repos.

[2015-04-04 00:46] #1586 closed

[2015-04-04 02:20] akoeplinger opened #1589 "Shutdown behavior with Thread that has IsBackground=false is different on DNX/Windows than DNX/Mono and Desktop .NET"
Take this code snippet:

[code]

On Desktop .NET and DNX/Mono, this will not exit until the thread is finished (i.e. never).
On DNX on Windows (both CoreCLR and CLR) however, this just exits after printing "finished", which seems like a bug.

/cc @davidfowl

[2015-04-04 21:07] davidfowl opened #1590 "Package restore on mono super slow and tons of requests end up being cancelled"
![image](https://cloud.githubusercontent.com/assets/95136/6994588/d916882a-dad3-11e4-96d1-13e8a59379d7.png)

This was on mono 3.12.0.

We might be better off reducing the concurrency on mono and seeing if that helps. HttpClient has a default timeout and that's what is causing requests to be cancelled. It seems like there's an underlying queue limit being hit somewhere on mono and ServicePointManag

[2015-04-05 05:22] #1520 closed

[2015-04-06 02:55] Garciat opened #1591 "[dnx mono runtime] Assembly manifest resource resolution unexpected behavior"
The following program should fail with `MissingManifestResourceException`. However, it fails with "ArgumentException: Invalid path".

Compiling and running with Mono tools (master/199cc80) results in expected behavior.

Is DNX somehow making `ManifestBasedResourceGroveler` take a different execution path [here](https://github.com/mono/referencesource/blob/mono/mscorlib/system/resources/manifestbas

[2015-04-06 02:56] davidfowl commented on #1591
Can push a repository to github with instructions on how to reproduce the problem?

[2015-04-06 03:08] Garciat commented on #1591
@davidfowl of course. Here it is https://github.com/Garciat/dnx-mono-resources-bug

[2015-04-06 03:13] davidfowl commented on #1591
Looks like a mono regression. Here's what I get with 3.12.1:

[code]

[code]

Running the latest dnx

[code]

/cc @migueldeicaza

[2015-04-06 03:16] Garciat commented on #1591
Mono changed resource resolution behavior here: mono/mono@52003dc6f73976aa422804ea4a3761bb2bfb5e9a

[2015-04-06 03:28] davidfowl commented on #1591
@Garciat do me favor, run dnu build on that source and compare the IL (Program.dll from dnu build to Program.exe from mcs)

[2015-04-06 03:45] Garciat commented on #1591
@davidfowl here's the IL from both: https://gist.github.com/Garciat/b8b364234d89d8079a4a

[2015-04-06 07:53] davidfowl commented on #1366
Whats the state of this issue?

[2015-04-06 07:55] davidfowl commented on #1280
This was done already

[2015-04-06 07:55] #1280 closed

[2015-04-06 07:56] davidfowl commented on #1209
This was done.

[2015-04-06 07:57] #1209 closed

[2015-04-06 08:01] davidfowl commented on #1557
Started this on https://github.com/aspnet/dnx/tree/build-script-doover

[2015-04-06 08:10] davidfowl commented on #388
@victorhurdugaci should this be closed?

[2015-04-06 08:12] davidfowl commented on #462
This change was made to mimic xbuild on mono https://github.com/aspnet/dnx/commit/60f381f2598ac14e0afb8ce831581ed91fbebba2. We should improve the error when frameworks aren't supported.

[2015-04-06 12:30] davidfowl opened #1594 "Writing lock file fails on StyleCop.KRules"
[code]

[2015-04-06 14:18] pranavkm commented on #1366
I'll close this one and use https://github.com/aspnet/dnx/issues/1190 to track the issue.

[2015-04-06 14:18] #1366 closed

[2015-04-06 15:20] troydai commented on #1588
@davidfowl two pivots about sending warning here:
1. The files globbing is a black box, we didn't leave API to return a non-fatal error information. Of course we can change the interface to allow that.
2. What's the threshold of "too many paths" since this is not a simple black and white case, we need to find a point value beyond which we return warning.

I'm working on one solution to prevent fil

[2015-04-06 15:52] victorhurdugaci commented on #388
The default path is still under `compiler/resource`. Do you want it to be `/resources/` without `compiler`?

[2015-04-06 16:35] victorhurdugaci opened #1595 "The NuGet projects in submodules cannot be opened"
It seems that @dougbu 's change for xproj's did not include the submodules in DNX.
The latest tooling cannot open those projects.

@anurse I think you are one of the few who can checkin in the NuGet repo to update

[2015-04-06 16:45] troydai commented on #1595
@anurse will update the project files.

[2015-04-06 17:30] anurse commented on #1595
#1597

[2015-04-06 18:47] muratg commented on #1190
@pranavkm beta4 or beta5?

[2015-04-06 18:49] #1519 closed

[2015-04-06 18:51] pranavkm commented on #1190
We don't have parallel restores on by default as part of beta4. The fix would be for beta5.

[2015-04-06 19:18] #1595 closed

[2015-04-06 19:35] danroth27 opened #1598 "Add System.Private.ServiceModel to DNX"
If you reference types in any of the following packages from a DNX-coreclr app you’ll get a load exception:
- System.ServiceModel.Duplex.4.0.0-beta-22802.nupkg
- System.ServiceModel.Http.4.0.10-beta-22802.nupkg
- System.ServiceModel.NetTcp.4.0.0-beta-22802.nupkg
- System.ServiceModel.Primitives.4.0.0-beta-22802.nupkg
- System.ServiceModel.Security.4.0.0-beta-22802.nupkg

[2015-04-06 23:19] muratg opened #1600 "Servicing: Add Servicing attribute to all the assemblies"

[2015-04-06 23:26] muratg commented on #1600
https://github.com/aspnet/dnx/issues/1425 has the attribute information

[2015-04-06 23:40] muratg commented on #1598
Approved for Beta4.

[2015-04-06 23:41] muratg opened #1601 "Remove System.Private.* from the runtime"
Essentially reverting https://github.com/aspnet/dnx/issues/1598 work being done for Beta4.

[2015-04-06 23:42] muratg commented on #1598
https://github.com/aspnet/dnx/issues/1601

[2015-04-07 00:11] PradeepKadubandi opened #1602 "When dnu is run from solution directory, post restore scripts will not work"
This is logged from investigating TFS bug 1152758. (http://bung/#/DevDiv/search/table?q=CID%3DDevDiv.1152758)

When VS opens a project, we do a solution level restore by setting the working directory to solution directory. The gulp and npm tools set the path gulp/npm exes relative to project.json but since dnu interprets the paths from relative to solution level directory, restore fails saying gul

[2015-04-07 00:24] moozzyk opened #1603 "Rationalize type and function usage in native parts of DNX"
Currently we mix different aliases of types across the code e.g. `WCHAR*`, `LPWSTR`, `LPTSTR` are used all over the place (e.g. bool GetTrustedPlatformAssembliesList(WCHAR* szDirectory, bool bNative, LPWSTR pszTrustedPlatformAssemblies, size_t cchTrustedPlatformAssemblies))
even though they are basically the same type.

Similarly we mix usage of `_T` and `L` macros and also mix string functions li

[2015-04-07 00:26] moozzyk opened #1604 "Review string operations in native parts of dnx."
We do quite a few string operations in native parts of dnx/dnx.clr etc. In some cases they are not safe and may lead to memory corruption and other serious issues - we should review what we do and fix or move to STL and use built-in functions.

[2015-04-07 00:27] moozzyk commented on #1604
Related #1603

[2015-04-07 11:02] davidfowl opened #1608 "Speed up functional tests by reusing unzipped dnx"
The build script should unzip the dnx and the functional tests should just use the unzipped versions. The temp folder should be used as a fallback if the well known unzipped folder can't be found.

[2015-04-07 12:53] #1598 closed

[2015-04-07 15:51] anurse commented on #1603
:+1: :+1: :+1:

[2015-04-07 15:55] BrennanConroy commented on #1603
Biggest concern with STL is if we are concerned about speed. Otherwise I'm all for it
@davidfowl

[2015-04-07 18:58] phenning opened #1612 "dnu pack fails when project.json is readonly."
When running dnu pack on a project where the project.json is a read-only file, the following exception and callstack is generated. This impacts SCC (TFS) scenarios where the project.json is not checked out.

[code]

[2015-04-07 20:27] troydai commented on #1508
/cc @muratg I assign it as a beta5 bug. Let me know if triage has different opinion.

[2015-04-07 21:56] #1600 closed

[2015-04-07 22:22] ChengTian opened #1616 "dnx cannot run on Win7 Enterprise"
OS: Windows 7 Enterprise (EN-US) RTM
Hardware: CPU=2, RAM=3584, Arch=AMD64

Repro:
(1) Grab `dnx-clr-win-x64.1.0.0-beta4-11492.nupkg` from artifacts of `Coherence-Signed/release`
(2) Unzip the nupkg and run `dnx.exe` inside. `DNX_TRACE` shows `Failed to load: dnx.clr.dll`
(3) Can reproduce with CoreCLR version of dnx as well (shows `Failed to load: dnx.coreclr.dll`)

[2015-04-07 22:24] victorhurdugaci commented on #1616
Is it just on Enterprise or does it happen on other versions?

[2015-04-07 22:24] pranavkm commented on #1616
Are you using release builds?

[2015-04-07 22:26] ChengTian commented on #1616
@victorhurdugaci , I didn't test on other versions. But surprisingly it works on the Win7 used by Azure CI.

[2015-04-07 22:26] ChengTian commented on #1616
@pranavkm , yes, I grabbed the dnx build from `Coherence-Signed/release`

[2015-04-07 22:27] ChengTian commented on #1616
BTW, I have .NET Framework 4.5.2 installed on my Win7 VM.

[2015-04-07 22:27] victorhurdugaci commented on #1616
Yeah, seems to work there. I just kicked off a new build now.

[2015-04-07 22:31] victorhurdugaci commented on #1616
Do you have the latest updates and services packs?

[2015-04-07 23:18] davidfowl commented on #1591
It's likely something to do with the fact that these are in memory assemblies. @Garciat can you file a bug on mono?

[2015-04-08 00:32] muratg opened #1619 "project.json.lock improvements"
- [x] Introduce some deterministic ordering on the items
- [ ] Remove unused sections (Looks like "file" section is not being used)

[2015-04-08 00:34] davidfowl commented on #1619
The first one is a dupe of a bug I filed.

[2015-04-08 01:16] GuardRex opened #1620 "Improving NullReferenceException: Reporting what was null?"
@davidfowl Following a comment made by [Joel Kauffman](https://www.linkedin.com/pub/joel-kauffman/10/390/100) @ifranto on [.NET Rocks!](http://dotnetrocks.com/default.aspx?showNum=1122) today, is it possible for NullReferenceException to report more detail on the source of the exception? I think everyone has had a few "object reference not set to instance of object" head scratchers. Can it throw w

[2015-04-08 01:19] Eilon commented on #1620
This sounds like more of a scenario for either [Roslyn](https://github.com/dotnet/roslyn) or [Core CLR](https://github.com/dotnet/coreclr). Not much we would do in the DNX.

BTW I experimented with something like this a while ago by plugging in a Roslyn syntax tree rewriter. I'd scan for all places where exceptions are explicitly thrown (i.e. `throw <something>`) and rewrite it to inject extra dat

[2015-04-08 01:20] GuardRex commented on #1620
Yes, I posted in the wrong place. I'll move this.

[2015-04-08 01:20] #1620 closed

[2015-04-08 04:21] Garciat commented on #1591
It seems so. I reduced the test case over at [Garciat/dnx-mono-resources-bug](https://github.com/Garciat/dnx-mono-resources-bug) to reflect this.

dnx is not the cause.

Filed a bug on mono: https://bugzilla.xamarin.com/show_bug.cgi?id=28876

[2015-04-08 11:49] davidfowl commented on #1612
/cc @muratg @ChengTian

[2015-04-08 13:23] Krizzzn commented on #860
The `kre-app-base` is set as expected when using the `--overwrite` switch. Without `--overwrite` the key is empty when the target directory exists.

[2015-04-08 21:21] muratg commented on #1508
:+1:

[2015-04-08 21:43] davidfowl opened #1622 "Use whatever clang is on the path"
/cc @ellismg

[2015-04-08 22:44] ChengTian opened #1623 "Refactor dnu to use new NuGet libraries"

[2015-04-09 09:01] davidfowl commented on #1587
Thinking about this some more it actually makes sense and the only reason it's running is because we also have default CLR (dnx451) compilation references. Otherwise it would fail the same way as `dnu build`.

[2015-04-09 17:53] #738 closed

[2015-04-09 17:53] #668 closed

[2015-04-09 17:54] #388 closed

[2015-04-09 17:57] troydai commented on #1588
Fixed.

[2015-04-09 17:57] #1588 closed

[2015-04-09 18:40] ChengTian commented on #1616
After upgrading to Win7 SP1 and installing several important updates after upgrade, dnx works on my WIn7 VM. Closing this because users are supposed to have latest updates installed. It's not a bug.

[2015-04-09 18:41] #1616 closed

[2015-04-09 18:41] victorhurdugaci commented on #1616
We should add this info in the release notes

[2015-04-09 18:45] ChengTian commented on #1616
/cc @muratg @glennc

[2015-04-09 20:41] cherrydev opened #1626 "LoadContext support for reflection only?"
With LibraryManager now being the way of discovering dependencies and LoadContext being the way of explicitly loading them into the AppDomain, there does not seem to be any way of loading assemblies into the reflection only context.  Is this still going to be a supported "thing" in DNX?

An example:

I have a core (PCore) project that needs to search its dependencies on startup for classes that ma

[2015-04-09 21:26] #1591 closed

[2015-04-09 22:33] Eilon opened #1629 "UI for Errors stemming from Project.Lock.json files are confusing and do not lead to the real source of the problem"
From @MattGal from a TFS bug.

## Steps to reproduce:

I had a project that depends on 4.0.20-beta-22516 of System.RUntime.dll.  This was removed from the feed and is no longer available.  This had left some cruft in the project.lock.json file

You'd expect one of two behaviors from this.

Roll forward, to next available version ( 4.0.20-beta-22605 ) and hope they're compatible.  Bonus points if y

[2015-04-09 22:46] davidfowl commented on #1626
You should consider using a combination of `ILibraryManager` and `System.Reflection.Metadata` to read metadata.

[2015-04-09 22:52] Eilon commented on #122
Reopening, this message is quite lame.

[2015-04-09 22:52] Eilon commented on #1570
The codes are in here: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime.Common/Impl/EntryPointExecutor.cs

[2015-04-09 23:15] cherrydev commented on #1626
`System.Reflection.Metadata`, the package whose documentation appears to consist entirely of a title and a short list of release notes on an MSDN blog page?  http://blogs.msdn.com/b/bclteam/p/metadata.aspx

Yes, since it appears that I can, for example, call GetCustomAttributes() on a TypeDefinition, it seems exactly what I'm looking for, but while LibraryManager provides ILibraryExport objects wh

[2015-04-09 23:18] victorhurdugaci opened #1630 "Add IRuntimeEnvironment"
with helpers for OSVersion, OSType and Framework info

[2015-04-09 23:36] ChengTian opened #1631 "Trim the nupkg generated by "dnu publish --no-source""
Today `dnu publish --no-source` builds dependencies projects for all frameworks specified in `project.json`.

When `--runtime` is specified, we can trim generated nupkg by only building for given runtimes

[2015-04-09 23:45] davidfowl commented on #1630
See #310

[2015-04-10 00:10] ellismg commented on #310
.NETCore will bring by Environment.OSVersion, fwiw.  It will let you get the PlatformID of the OS.

[2015-04-10 02:16] davidfowl commented on #310
Yay! We'll expose that information via this interface and more :smile:

[2015-04-10 02:16] davidfowl commented on #1630
Closing this as dupe

[2015-04-10 02:16] #1630 closed

[2015-04-10 09:14] davidfowl commented on #1629
@MattGal This experience is improved in later builds.

[2015-04-10 23:18] troydai commented on #1531
Fixed.

[2015-04-10 23:18] #1531 closed

[2015-04-11 11:05] davidfowl opened #1634 "Random issue with resource location on Ubuntu + mono (3.12.1) when running dnu restore"
Super weird, and it only happened once

[code]

[2015-04-11 11:05] davidfowl commented on #1634
/cc @victorhurdugaci

[2015-04-11 18:16] BrennanConroy commented on #1634
I'm getting a similar error on my Win8.1 laptop. But I get it consistently when I use dnu commands uninstall ...

[2015-04-11 18:18] victorhurdugaci commented on #1634
From the call stack, I believe it might be a resource in the Nuget submodules that wasnot updated

Sent from my phone
________________________________
From: BrennanConroy<mailto:notifications@github.com>
Sent: ‎4/‎11/‎2015 11:16 AM
To: aspnet/dnx<mailto:dnx@noreply.github.com>
Cc: Victor Hurdugaci<mailto:victor.hurdugaci@microsoft.com>
Subject: Re: [dnx] Random issue with resource location on Ubun

[2015-04-11 18:19] BrennanConroy commented on #1634
Ah, I probably didn't update my submodules

[2015-04-11 18:21] davidfowl commented on #1634
dnu isn't using any submodules yet

[2015-04-12 08:57] davidfowl opened #1635 "dnu commands install doesn't respect NuGet.Config"
[code]
/cc @victorhurdugaci

[2015-04-12 08:59] davidfowl opened #1636 "Typing dnu commands install prints error message twice"
[code]

/cc @victorhurdugaci

[2015-04-12 09:11] davidfowl opened #1637 "Regression in dnu list"
It prints garbage now :smile:

[code]

/cc @troydai

[2015-04-12 18:22] davidfowl commented on #1608
This is done

[2015-04-12 18:22] #1608 closed

[2015-04-13 04:53] davidfowl commented on #1634
dnu commands uninstall is broken as well:

[code]

[2015-04-13 05:14] #1064 closed

[2015-04-13 05:14] davidfowl commented on #1064
The build script requires bash

[2015-04-13 06:01] Kukkimonsuta opened #1638 "Support for background services"
I'd like to ask whether there will be supoort for background services, meaning an application that doesn't have to run within web server and runs on background without anyone logging into the computer while utilizing the .net core and libraries written as "asp.net vnext class library"?

If there won't be explicit support, what is the recommended approach to run continuous tasks in background?

Tha

[2015-04-13 06:01] davidfowl commented on #1638
@Kukkimonsuta Can you open this on aspnet/Home?

[2015-04-13 06:01] #1638 closed

[2015-04-13 10:27] davidfowl commented on #93
I believe the replacement for this will be global commands (tools). Basically turning each of the things that were single file generators and turning them into command line tools.

[2015-04-13 10:27] #93 closed

[2015-04-13 10:28] davidfowl commented on #93
<script>alert('testing')</script>

[2015-04-13 10:29] davidfowl commented on #93
<script>alert('testing')</script>

[2015-04-13 10:30] davidfowl opened #1640 "<script>alert('testing')</script>"

[2015-04-13 10:30] #1640 closed

[2015-04-13 15:05] atheken commented on #1635
I think this is related and may help people getting going with dnx:

On OS X, I need to call `dnu restore` with the following sources in order to get the nightly bits, YMMV.

`dnu restore -s https://www.myget.org/F/aspnetvnext/ -f https://www.nuget.org/api/v2/`

[2015-04-13 15:19] pranavkm opened #1641 "DNX list prints the text LibraryDescription instead of useful information"
[code]

[2015-04-13 15:45] BrennanConroy commented on #1641
dupe of #1637

[2015-04-13 15:45] #1641 closed

[2015-04-13 16:00] davidfowl commented on #1635
This has nothing to do with restore, that fine

[2015-04-13 16:17] wangkanai opened #1642 "The system cannot find the path specified."
[code]

[2015-04-13 16:17] davidfowl commented on #1642
File this on aspnet/dnvm

[2015-04-13 16:17] #1642 closed

[2015-04-13 16:25] troydai commented on #1637
oh, my. looking into this.

[2015-04-13 16:30] wangkanai commented on #1642
How to install `DNX` Can't seem to find any solution anywhere.
Thanks

[2015-04-13 17:30] troydai opened #1644 "Add functional test for dnu list."

[2015-04-13 17:30] davidfowl commented on #1642
See https://github.com/aspnet/dnvm/issues/190

[2015-04-13 18:01] rene-poulsen commented on #1528
Did you ever get to that documentation part? :-)
I'm having the same problems as you mention - so before I start using hours on it I hope that you might be able to point me in the right direction.

[2015-04-13 18:37] atheken commented on #1635
@davidfowl Is it possible to set default feeds for dnu?

[2015-04-13 19:07] aggieben commented on #1635
You can do this in %AppData%\NuGet\NuGet.config.  Here's mine:

[code]

[2015-04-13 19:14] atheken commented on #1635
@aggieben Hmm, on OS X here, do you happen to know the default location for OS X?

[2015-04-13 19:19] aggieben commented on #1635
`~/.config/NuGet/NuGet.Config`, I think.

[2015-04-13 20:21] aggieben commented on #1400
Is there such a thing as `!DNX && CORECLR`?

[2015-04-13 20:26] Eilon commented on #1400
Not at this time. Just wishful thinking :smile:

[2015-04-13 20:45] BrennanConroy commented on #1622
Done with #1627?

[2015-04-13 20:46] ellismg commented on #1622
Yes.

[2015-04-13 20:46] #1622 closed

[2015-04-13 21:04] borgdylan commented on #1631
Can it be trimmed for given frameworks? Like dnx451 only which would trim net40 specific stuff together with dncxore50 etc?

[2015-04-13 21:29] pranavkm opened #1645 "DNU file globbing is case sensitive on Windows"
It looks like DNX was changed recently that made paths to be case sensitive (See https://github.com/aspnet/xunit/commit/91d7568fb13201f3f3f427edbc0e07cf36982102). This is not very intuitive on Windows (or other platforms where paths are case insensitve) since `ls`-ing these paths return results, but DNU fails to match these paths. E.g.

[code]
with the file on disk being named `foo.cs` does not in

[2015-04-13 22:19] #1637 closed

[2015-04-13 23:02] troydai commented on #1645
The file globbing is indeed case sensitive. But the second part of the issue is not a bug. It is because the `compileBuiltIn` is not override.

[2015-04-14 04:35] davidfowl commented on #1559
I coded this up and I don't like it. We're working on a way to make project parsing 0 cost at runtime by putting project information inside of the `project.lock.json` file

[2015-04-14 04:39] davidfowl commented on #1265
We're not going to move this file. In some cases it can be checked into source control.

[2015-04-14 14:58] aggieben commented on #1559
I like option 3 better, and I agree with @MattGal: the additional syntax introduced by option 4 seems confusing and inconsistent to me.

[2015-04-14 16:31] vijayrkn opened #1647 ""Dnu Publish" should include symbols when debug configuration is passed."
Currently, Dnu publish excludes the symbols while packing the contents for both debug and release configurations. For Debug configuration dnu publish needs to include the symbols.

[2015-04-14 17:40] victorhurdugaci commented on #1635
Global install uses only the global `NuGet.config` file. Otherwise, could get different results based on where you run it from.

[2015-04-14 17:40] #1635 closed

[2015-04-14 18:46] weidazhao commented on #1647
I suggest add a new flag such as 'includeSymbols' instead of replying on debug|release.  People should be able to debug release bits as well.

[2015-04-14 18:53] davidfowl commented on #1647
Agreed @weidazhao

[2015-04-14 21:20] troydai opened #1651 "[Test] Unzip the dnx runtime in a persist location during functional test to improve test performance"
https://github.com/aspnet/dnx/blob/dev/test/Microsoft.Framework.FunctionalTestUtils/TestUtils.cs#L109

/cc @davidfowl @ChengTian @muratg

[2015-04-14 21:24] BrennanConroy commented on #1651
?

[2015-04-14 21:25] troydai commented on #1651
we unzip to a temp folder and delete after every tests. unzipping and file copy is time consuming and tax the hard disk heavily.

[2015-04-14 21:26] victorhurdugaci commented on #1636
cc @troydai @BrennanConroy

[2015-04-14 21:29] BrennanConroy commented on #1651
https://github.com/aspnet/dnx/blob/dev/test/Microsoft.Framework.FunctionalTestUtils/TestUtils.cs#L91

[2015-04-14 21:43] troydai commented on #1651
good catch. but it doesn't work if you're not running test in batch. for example `dnx . test -method <name>` will still trigger a unzip. plus the logic you pointed out relies on makefile to establish the cache.

[2015-04-14 22:15] pemari-msft opened #1653 "Building Portable111 target fails"
I'd like build a PCL target for our library so we can use it on Xamarin.iOS and Xamarin.Android. Using -beta1, our dll built for aspnet50 (not core) works fine with Xamarin. However, from what I understand, I need to use one of the Portable targets in order for the Xamarin/Nuget scenario to be supported.

I add the following to my project.json:
//// under the portable include the aspnetcore50 and

[2015-04-15 00:14] glennc opened #1654 "wrap command should create global.json if it doesn't exist"
If running wrap and there is no global.json then we could create one. Possibly predicated on the existence of a .sln file.

Specific scenario is that i create a csproj, then try and add a web project to the solution and reference it. In this scenario there is no global.json and wrap fails.

[2015-04-15 05:10] davidfowl opened #1655 "Changes to ICompileModule"
- Make IAfterCompileContext and IBeforeCompileContext poco objects instead of interfaces
- Add the list of IMetadataReferences to the BeforeCompileContext

[2015-04-15 05:14] #1636 closed

[2015-04-15 05:43] Eilon commented on #1653
Do you need to add a package reference to `System.Runtime`? I'm wondering if this is the issue where historically PCL projects had an implicit reference to the entire framework, but in `project.json` all references are explicit...

[2015-04-15 06:24] davidfowl commented on #1653
Yes you need to add the references manually

[2015-04-15 10:33] davidfowl opened #1657 "Make a bunch of interfaces in Microsoft.Framework.Runtime.Interfaces pocos"
- ILibraryKey
- ILibraryInformation
- IRuntimeOptions (potentially)
- ILibraryExport
- IDiagnosticResult

[2015-04-15 10:41] davidfowl opened #1658 "Get rid of EmitReferenceAssembly on IMetadataProjectReference"
It's not useful and is hard to implement generically. If we ever get it implemented we can bring it back.

[2015-04-15 16:43] troydai opened #1659 "Using DispoableDir in FileGlobbing related functional test."

[2015-04-15 16:55] troydai opened #1660 "[Experiement] Using a baseline/snapshot to verify output of dnu list in functional test"
Testing `dnu` commonly relies on its output. A mechanism to quickly take snapshot of output as baseline and used in test is helpful.

[2015-04-15 17:16] #1547 closed

[2015-04-15 19:16] Praburaj commented on #1393
I'm not seeing this issue these days. Closing it.

[2015-04-15 19:16] #1393 closed

[2015-04-15 20:27] victorhurdugaci opened #1661 "DNX tests running on CoreCLR use wrong runtime version"
[code]

See that for CoreCLR, it picks the default version.

cc @davidfowl

[2015-04-15 20:28] victorhurdugaci commented on #1661
This means that any change to runtime that adds CoreCLR tests will fail if they test the new code

[2015-04-15 21:11] #1634 closed

[2015-04-15 21:15] #310 closed

[2015-04-15 21:35] victorhurdugaci commented on #1479
Fixed

[2015-04-15 21:35] #1479 closed

[2015-04-15 22:13] BrennanConroy commented on #1661
Thanks for catching that.

[2015-04-16 01:01] ellismg opened #1663 "Update dnx.coreclr.dll on *NIX to handle coreclr PAL changes"
Recent builds of CoreCLR on *NIX now depends on a shared library (libcoreclrpal.[so|dylib]).  We need to update DNX to load the PAL first, otherwise loading coreclr itself will fail.

[2015-04-16 01:54] davidfowl commented on #1663
Why doesn't core clr load them?

[2015-04-16 02:22] ellismg commented on #1663
You can't even load coreclr.so, since the imports can't be resolved, so it can't run code and do it on its behalf.

[2015-04-16 16:58] pemari-msft commented on #1653
Yep, that fixed it. Sorry, thanks for the help!

[2015-04-16 18:44] #1644 closed

[2015-04-16 18:46] #1513 closed

[2015-04-16 22:09] GuardRex opened #1665 "What does this DNU exception mean?"
I ran into this exception trying to jockey my runtimes to only have only the CoreCLR x64 runtime installed on my Win7 box. Calling `dnu restore` triggers this.
[code]

[2015-04-16 22:10] davidfowl commented on #1665
Means @victorhurdugaci caused a regression

[2015-04-16 22:10] victorhurdugaci commented on #1665
Ugh... that's my change from yesterday. I'll take a look

[2015-04-16 22:16] pemari-msft commented on #1653
Reopening because of a lack of understanding on my part -- here's my confusion.

When I said "that fixed it" before, I was finally able to get it to compile by adding this to my project.json:

        ".NETPortable,Version=v4.5.1,Profile=Profile111": {
            "dependencies": {
                "System.Collections": "4.0.10-beta-*",
                "System.Collections.Concurrent": "4.0.0-beta-*

[2015-04-16 22:22] victorhurdugaci commented on #1665
Sent a PR with a fix

[2015-04-16 23:48] Eilon commented on #1653
Running on Mono currently uses DLLs built for "aspnet50" and not "aspnetcore50" because Mono is based on the API set of .NET Framework, not .NET Core (Core CLR).

Also adding @ericstj to see if he knows more about the relationship between these packages and Portable111.

[2015-04-17 00:13] pemari-msft commented on #1653
Yep, agreed -- hence my confusion as to why it would require all the aspnetcore50 dependencies. Thanks! Hopefully @ericstj can help.

[2015-04-17 00:23] ericstj commented on #1653
Profile111 is Net45 + NetCore45 + WinPhone.  It's effectively a subset of aspnetcore50.

Normally PCL will add-ref everything in the profile, however I don't think DNX does this.  That's why you have to add all the packages.  Some of those packages you are adding are not even in Profile111 so you're library would fail if it happened to use types from them. Have a look at "C:\Program Files (x86)\Re

[2015-04-17 04:38] davidfowl commented on #1653
The logic to produce a managed assembly is the same regardless of what framework you build against. Some frameworks have reference assemblies and some don't. The DNX takes the framework name and it computes the set of  reference assemblies to compile against. It also understands how to produce a nuget package from that profile name.

Today PCL project types add the entire framework behind the scen

[2015-04-17 06:41] #1663 closed

[2015-04-17 15:41] #1661 closed

[2015-04-17 17:24] BrennanConroy commented on #1578
This only happens on beta4 dnx, beta5 works.

[2015-04-17 17:32] BrennanConroy commented on #1543
This error only occurs when using a dnx framework that isn't supported in the application. i.e. dnx-coreclr with a project.json that only has dnx451 as a target framework.

[2015-04-17 18:01] ChengTian opened #1670 "Change dnu to use Microsoft.Framework.Logging instead its own ILogger interface"
We can do this after we extract dnu from dnx

[2015-04-17 18:08] #1578 closed

[2015-04-17 19:02] #1665 closed

[2015-04-17 20:31] muratg opened #1671 "Changing default templated ASP Web project over to CoreClr produces totally bogus build error"
Repro:
1. New aspnet web Application
2. Build, all is good
3. Remove dnx451
4. Build. You get an error in RazorPrecompilation.cs
5. To make sure it is not a DTH|VS thing, change the build option to produce outputs
6. Build. Get the same errors from the command line build.

There's a corresponding bug on WTE issue tracker for the Tooling side of the fix.

[2015-04-18 00:47] jsinh opened #1673 "Running K / DNX - ASP.NET 5 application as a background service on Linux"
I am stuck and out of options.

I am trying to create a generic script / util that will help LINUX users (especially for people who SSH) to run web application as service.

This happens when we have a SS entry in `/etc/init.d` with allowed run specified.

Repo where I am pushing this changes is at:
https://github.com/jsinh/dnx-app-startup

I was able to get all other bits working expect this one:

[2015-04-18 03:10] bricelam commented on #1253
This caught me off guard. I was calling `AppContext.BaseDirectory` expecting it to be the value of `IApplicationEnvironment.ApplicationBasePath`, but it was the runtime directory instead since it just uses the value of `AppDomain.CurrentDomain.BaseDirectory` internally.

[2015-04-18 08:35] ppumkin commented on #1538
@TheDarkTrumpet  You solved this issue by compiling Mono from source? I see that bug on Mono was closed 2 months ago but still not in the main repo.

[2015-04-20 15:32] #1659 closed

[2015-04-20 18:53] blowdart opened #1677 "Compiler Free DNX"
In certain government, banking and HBI scenarios it is desirable to remove all compilers from secured machines due to security and reliability requirements (for example DISA http://iase.disa.mil/stigs/Pages/index.aspx)

Currently DNX ships with Roslyn and there is no way to detach it. This excludes DNX from these secured environments. We should look at decoupling all runtime compilers.

[2015-04-20 19:09] davidfowl commented on #1677
I'm assuming you mean having it in the same zip is a problem?

[2015-04-20 19:10] blowdart commented on #1677
Yes. Having a compiler present anywhere is a problem.

[2015-04-20 19:11] davidfowl commented on #1677
Can't it just be deleted?

[2015-04-20 19:13] blowdart commented on #1677
You tell me. If it can be deleted why ship it in the first place? :p

[2015-04-20 19:20] davidfowl commented on #1677
I'm not sure this even makes sense. What happens when razor views need to compile? How did you do this before with System.Web?

[2015-04-20 19:21] blowdart commented on #1677
You precompiled views. Just like you precompiled WCF serialization proxies too.

This makes perfect sense. You don't want compilers willy nilly in case of exploit. There's no sense in making it easier for an attacker, and it's a requirement in a lot of secure environments.

[2015-04-20 20:35] bricelam commented on #848
Ping... [our workaround](https://github.com/aspnet/DataCommon.SQLite/blob/dev/makefile.shade#L37-L75) depends on an external-to-DNX solution that leverages `WindowsBase.dll`. This means you can't build a valid `Microsoft.Data.Sqlite` package without Desktop .NET/Mono.

[2015-04-20 23:43] #1508 closed

[2015-04-21 02:29] BrennanConroy commented on #1577
If we want to support this what should the behavior be for:
```dnu --help . <some dll>```
The current behavior is that we just display the help and ignored all other arguments, but if we want --help and friends to take ```[command]``` that won't work

[2015-04-21 03:51] Eilon commented on #1677
Didn't csc.exe ship in the .NET Framework?

[code]

[2015-04-21 04:58] blowdart commented on #1677
@Eilon yes, but with precompilation and some PITA work you could remove it. It wasn't very stable.

This is a chance to help improve that story for properly secured environments.

[2015-04-21 15:33] bricelam opened #1679 "Can't compile against Xamarin.iOS"
Given the following `project.json`...
[code]
...build succeeds, but there is no assembly for the Xamarin.iOS framework.

[2015-04-21 15:41] bricelam opened #1680 "Can't compile against MonoTouch/MonoAndroid"
Similar to #1679, but it get's a bit further:

    Building Microsoft.Data.Sqlite for MonoTouch,Version=v0.0
      Using Project dependency Microsoft.Data.Sqlite 1.0.0
        Source: C:\Projects\DataCommon.SQLite\src\Microsoft.Data.Sqlite\project.json

      Unable to resolve dependency framework/mscorlib

[2015-04-21 16:16] davidfowl commented on #1680
I assume you have those frameworks installed?

[2015-04-21 16:42] bricelam commented on #1680
Yes, they're installed.

[2015-04-21 17:29] anurse commented on #1673
The problem is that DNX can't find the packages folder. Normally, it looks like ~/.dnx/packages, but it looks like the HOME environment variable is empty in your init.d context.

The easy solution is to find a place to put your packages, and set the DNX_PACKAGES environment variable during your init script. If you want, you can just point it at `/home/[username]/.dnx/packages`. Wherever you put it

[2015-04-21 20:19] bricelam opened #1681 "Installing Xamarin disrupts portable package resolution"
Given the following `project.json`...
[code]
...and the following code...
[code]
...it builds fine without Xamarin installed.

But, when I install Xamarin, it fails:

    Loaded Module: dnx.clr.dll
    Found DLL Export: CallApplicationMain
    Information: [LoaderContainer]: Load name=Microsoft.Framework.PackageManager
    Information: [PathBasedAssemblyLoader]: Loaded name=Microsoft.Framework.Pac

[2015-04-21 21:54] ericstj opened #1682 "Concurrent restore of project.json contention on lock.json"
Our build happens to try to restore project.json from two separate threads/processes.  This can result in an IOException when trying to write the .lock.json.

[2015-04-21 23:55] danroth27 opened #1683 "DNU restore should still restore unlisted packages"
If the Published date value is  1900-01-01T00:00:00 , then the package is unlisted and it should no longer be considered in dependency resolution when versions are being selected, or during initial installs of packages where users are discovering versions.

However, these "unlisted" versions _must still be allowed_ when the user is restoring packages so that the version doesn't disappear out from

[2015-04-21 23:57] davidfowl commented on #1683
What? https://github.com/aspnet/dnx/issues/1208

[2015-04-22 01:35] ChengTian opened #1685 "Run both CLR and CoreCLR version of dnx in tests to get better coverage"
In some tests, we need to invoke the newly built dnx to do some tasks like `dnu pack` or `dnu restore`. Currently we just pick an arbitrary flavor of dnx to run and it doesn't have good coverage.

An example is: https://github.com/aspnet/dnx/blob/dev/test/Microsoft.Framework.PackageManager.Tests/LockFileUtilsFacts.cs#L25

`TestUtils.GetRuntimeComponentsCombinations().Last()` returns a CLR version

[2015-04-22 04:51] BrennanConroy commented on #1685
The functional tests test all the CLR versions of dnx, and they should have coverage of things like dnu pack and dnu restore, so the non-functional tests just need to grab any dnx and use it.

[2015-04-22 05:06] GuardRex opened #1686 "Runtime failing now in IIS8: 'Module could not be found' or 500: Internal Server Error"
Following everything I did to get a new app running outlined in https://github.com/aspnet/Home/issues/452 (which worked before), I can't get this one going.
[code]
This is the x64 runtime. I did a `dnu publish --runtime active --no-source`. I used WebDeploy to shoot the bits up to IIS 8 on a WS2012 Azure VM. There were no exceptions along the way.

With the AppPool setting `Enable 32-Bit Applicati

[2015-04-22 05:09] GuardRex commented on #1686
It might be related to my issues with config.json described at https://github.com/aspnet/Home/issues/474. I'll run a test tomorrow removing the config file from the project to see if that is the source of my issue ... unless anyone else has a tip.

[2015-04-22 05:34] GuardRex commented on #1686
Confirmed the issue is related to the path to a config file. See https://github.com/aspnet/Home/issues/474

[2015-04-22 05:34] #1686 closed

[2015-04-22 07:31] tugberkugurlu opened #1687 "dnu commands uninstall error: The directory is not empty."
I have installed a global package called `k-http`. Then, I got the below error when I ran `dnu commands uninstall k-http`:
[code]

[2015-04-22 07:48] davidfowl commented on #1687
/cc @victorhurdugaci

[2015-04-22 10:06] gurunathancs1991 opened #1688 "How to load specific version assembly from GAC in ASP Net vNext"
I can load the assembly from GAC in ASP.Net 5 application. but i couldn't load the specific version. please have a look on my codes.

[project.json]

    "frameworks": {
    "aspnet50": { },
    "aspnetcore50": { },
    "net45": {
        "frameworkAssemblies": {
            "System.Web.Mvc": "5.0.0.0"
        }

    }
}
In above code in project.json file, i have tried to load MVC 5.but it doesn't

[2015-04-22 13:00] tugberkugurlu opened #1690 "Cannot push a package to symbolsource.org"
I am getting the below error while trying to push a package which is generated through `dnu pack`, under dnx 1.0.0-beta5-11593 (CLR):

[code]

![image](https://cloud.githubusercontent.com/assets/328122/7274780/ac5378e8-e8f7-11e4-9769-a9fc01f965a8.png)

[2015-04-22 13:22] tugberkugurlu commented on #1690
**Unsupported,Version=v0.0** thing is there because I modified the nupkg file with NuGet Package Explorer. I generated a new package, it pushed it to nuget.org again but symbol sources push failed again.

[2015-04-22 15:48] danroth27 commented on #1683
Yes, did you read Jeff's comment in #1208?

[2015-04-22 15:55] BrennanConroy commented on #1687
This might be related to #1568
If you uninstall it uses the current directory and relative paths from current directory, that PR fixes it.

[2015-04-22 16:46] ChengTian commented on #1685
Great. @pranavkm , then we can pick an arbitrary flavor of dnx in LockFileUtilsFacts

[2015-04-22 16:46] #1685 closed

[2015-04-22 21:08] #1279 closed

[2015-04-22 23:55] ericstj opened #1693 "DNU should support -ConfigFile"
nuget.exe supported it and we rely on this functionality in our build.

[2015-04-23 06:10] rynowak opened #1695 "Using dnx with an unsupported framework gives an error about package restore"
Create a console project that only targets dnx451

Try to run at the commandline with coreclr dnx

You get this error, instead of being told that the framework isn't supported for the project:
[code]

[2015-04-23 07:14] davidfowl commented on #1695
Dupe of https://github.com/aspnet/dnx/issues/1467

[2015-04-23 07:14] #1695 closed

[2015-04-23 09:16] jkyadav commented on #591
How to install all the necessary packages by kpm if necessary packages are not install on the machine and nor  present in \User\userName\.kpm\packages folder.

[2015-04-23 17:18] ChengTian commented on #591
@jkyadav , simply do `kpm restore` for your project. You can check the usage of `kpm restore` with `kpm help restore`. BTW, `kpm` was renamed to `dnu` recently, so if you find `kpm` is unavailable, use `dnu` instead.

[2015-04-23 17:33] muratg commented on #1693
/cc: @davidfowl @anurse

[2015-04-23 17:37] muratg commented on #1690
@tugberkugurlu Looks like push to nuget.org was successful (http://www.nuget.org/packages/k-http/0.1.0-beta-002) but symbols failed to push. Changing the title to reflect this. Please revert if I'm mistaken.

I think @davidfowl was talking about issues with the symbol source.

[2015-04-23 17:45] muratg commented on #1683
@davidfowl we need to close on the decision here, and perhaps implement it as part of the ongoing nuget work.

[2015-04-23 17:57] muratg commented on #1688
@gurunathancs1991 I believe ```frameworkAssemblies``` section is for specifying .NET Framework assemblies.  Instead of using GAC, I recommend using ```dnu wrap``` to wrap the particular assembly you'd like with your project.  This would give you the option to use CoreCLR in the future, and also potentially go cross platform.

That being said @davidfowl do we support version info for frameworkAssem

[2015-04-23 18:14] tugberkugurlu commented on #1690
@muratg yes, that's correct. Thx!

[2015-04-23 20:56] troydai commented on #1645
/cc @davidfowl @lodejard need you import. It is universal case sensitive today. If we make if case insensitive on Windows, it may cause trouble when a project is copied to *nix environment.

[2015-04-23 21:19] GuardRex commented on #1688
@muratg

Does this mean that `dnu wrap` could be used to roll `System.Net.Mail` into a `dnxcore50

[2015-04-23 21:52] davidfowl commented on #1688
@GuardRex nope

[2015-04-23 22:25] troydai commented on #1688
I can repo this issue. Investigating ...

[2015-04-23 23:00] troydai commented on #1688
It's a bug in `GacDependencyResolver`, it takes the first gac assembly which matches the reference name but doesn't compare the version.
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime/DependencyManagement/GacDependencyResolver.cs#L61

I'm working on the fix.

[2015-04-24 04:30] troydai commented on #1645
@pranavkm I've talked to multiple people including @victorhurdugaci @davidfowl @NTaylorMullen all thing case sensitive universally is better.

Given that, I think a better output warnings will be the best second options. Thoughts?

[2015-04-24 14:33] pranavkm commented on #1645
Seems like a terrible choice, but we should probably make sure we're consistent in behavior with the one in the tag helpers in Mvc \ other places that specify globbing paths. cc @DamianEdwards

[2015-04-24 15:33] troydai commented on #1645
Talked with @NTaylorMullen regarding this topic. Seems to be the case.

[2015-04-24 16:31] BrennanConroy commented on #1687
@tugberkugurlu
I haven't been able to repro this yet. Can you do this consistently? Do you have multiple commands installed globally? Could you run dnu -v commands uninstall k-http?

[2015-04-24 16:36] troydai opened #1701 "Seems incorrect output in dnu build"
Looks like the type name instead of actual values are printed.

[code]

[2015-04-24 16:37] troydai commented on #1701
I'll take a look at it.

[2015-04-24 16:37] troydai commented on #1701
/cc @muratg

[2015-04-24 17:06] muratg opened #1703 "Remove/Internalize Json.NET dependency"
We don't want to enforce customers to use a specific version of Json.NET.

/cc: @davidfowl @troydai

[2015-04-24 17:08] muratg opened #1704 "Verify Kudu support"
- [x] Find out how Kudu figures out SDK version for their build scripts.
- [ ] Ensure we can deploy ASP.NET 5 apps with different DNX versions to Antares

[2015-04-24 17:27] NTaylorMullen commented on #1645
Talked with @pranavkm and I feel that if we can only choose 1 (case sensitive or case insensitive) case pattern I feel like case sensitive is the right/broader approach.

However, in my opinion the 100% best approach is to auto-detect the current platforms case-sensitivity and use that. This would also involve allowing a flag to be passed in to specify one way or the other to override the default

[2015-04-24 17:46] davidfowl commented on #1703
This bug already exists

[2015-04-24 18:00] muratg commented on #1703
Dup: https://github.com/aspnet/dnx/issues/30

[2015-04-24 18:00] #1703 closed

[2015-04-24 18:14] troydai commented on #1645
_Auto-detect_ will suffer from the incompatible search path across platform. A project compiled on Windows but fail on other OS because of missing file. I generally against the auto-detect approach because it hides the assumption from user.

My suggest is to offer a _loosen_ mode, in which file searching detects current OS to decide if case-sensitive or not. The _loosen_ mode is not the default op

[2015-04-24 18:40] muratg opened #1706 "VB support"

[2015-04-24 19:20] Tragetaschen commented on #1645
I'm reminded of [aspnet/Home#225](https://github.com/aspnet/Home/issues/225) and my list of suggestions. I'm sure glad to see things improving considerably :relaxed:

I'd like to :+1: a default of _loosen_ mode, so possible future problems when developing with VS on Windows can surface early. As mentioned in the Home bug, things like Razor precompilation won't run when the folders don't follow the

[2015-04-24 21:45] ChengTian opened #1708 "Don't use console color with CoreCLR on Linux/Darwin"
Because CoreCLR temporarily doesn't support console color on those platforms.

We should bring tests back on those platforms when this issue is done: https://github.com/aspnet/dnx/commit/7b297209f2031a0343a346719345e7db1eac0bfd

[2015-04-24 21:46] davidfowl commented on #1708
/cc @ellismg

[2015-04-24 21:46] ChengTian opened #1709 "Bring console color back after CoreCLR supports it on Darwin and Linux"
That is reverting issue https://github.com/aspnet/dnx/issues/1708

[2015-04-24 21:51] muratg commented on #1400
Moving to backlog

[2015-04-24 21:53] NTaylorMullen commented on #1645
@troydai Loosen should definitely be the default. I understand your concern with copying a project on windows and moving it over to another platform causing issues but this inherently is already the case (going back to my other example of `Environment.NewLine`). In essence if it's already going to be a problem I'd much rather make the 99% case where users are developing on a single platform (wheth

[2015-04-24 21:54] ellismg commented on #1708
There's no way to get the current foreground or background color of the terminal in *Nix.  We are hesitant to try to lie because given the default settings for different terminals, there's no good initial value we can use.

Changing the color and resetting both work, it's just getting the current color that throws PlatformNotSupported exception.  I do not expect this will change.

[2015-04-24 22:01] ChengTian opened #1710 "Deduplicate error messages shared by different frameworks"
Today, an error message is duplicated if it happens to multiple frameworks.

![capture](https://cloud.githubusercontent.com/assets/1383883/7329323/b0cca27c-ea92-11e4-8943-68262e1259a8.PNG)

We should merge identical error messages if they only differ in the aspect of framework and have something like

[code]

[2015-04-24 22:03] troydai commented on #1645
All right. So looks like the consensus is:
1. Add a _loosen_ mode, in which the file searching is case-insensitive on Windows (but always case-sensitive on other OS);
2. _loosen_ mode is the default mode.

[2015-04-24 22:48] NTaylorMullen commented on #1645
:+1:

[2015-04-24 22:50] #1709 closed

[2015-04-24 23:41] ChengTian commented on #1710
I think the easiest way to do it is asking Tooling team to do a `GroupBy()` on error messages. Then we can have
[code]

@davidfowl , do you like this approach?

[2015-04-25 15:54] ErikSchierboom commented on #1706
Any chance for F# support too?

[2015-04-25 17:52] georgesimms commented on #1064
Ok. It now  has a proper shebang

[2015-04-25 21:49] Eilon commented on #1706
@ErikSchierboom not currently planned but that would be a good project for the community to start up.

[2015-04-25 21:52] davidfowl commented on #1706
VB, F#, dylan.NET (yes this is a real language) support will all be via the same mechanism. This is a generic extensibility point. The real problems come when tooling support is added (intellisense support in Visual Studio etc.)

[2015-04-25 22:02] troydai commented on #1658
81b7e8a5b11d5b8be313d23eef32f921e0969d90

[2015-04-25 22:02] #1658 closed

[2015-04-26 02:58] davidfowl commented on #1710
We want the errors to look the same across DTH and command line. Talk to @BillHiebert and come up with a consistent scheme for showing errors like that. I like what you have there (grouping by error location). We need to see if the error list in VS supports this.

[2015-04-26 07:01] ErikSchierboom commented on #1706
@davidfowl So the VB support will be like a template for how to do F# integration?

[2015-04-26 07:04] davidfowl commented on #1706
Yes and just FYI this isn't new https://github.com/YoloDev/YoloDev.FSharp.AspNet. https://github.com/davidfowl/vNextLanguageSupport. Language support was refactored a while ago so that we can add more languages. That's not really the big problem, though it still needs to be cleaned up.

[2015-04-26 07:10] ErikSchierboom opened #1714 "F# support"
I'd love to see F# support, similar to how [VB support will be added](https://github.com/aspnet/dnx/issues/1706).

[2015-04-26 07:12] ErikSchierboom commented on #1706
That looks promising! Will there be any kind of documentation on how new languages can be added, or will we be able to infer that from the added VB support?

[2015-04-26 07:14] davidfowl commented on #1706
There'll be something documented once the churn ends. Talk to @Alxandr, he's spent a considerable amount of time experimenting with F# and the dnx compilation system (even got it working with in memory assemblies).

[2015-04-26 07:18] davidfowl commented on #922
We need this for CTP5 since we removed the reference assembly emit. This should replace that. You should be able to emit without putting anything on disk. This Emit should support producing an assembly stream and a symbol stream.

[2015-04-26 07:41] Alxandr commented on #1706
Yes, and then, when I started looking at it again like 5 hrs ago, everything has blown up xD.

Well, unstable APIs and all that. I'll try to get F# support working again against beta5 soon~ish.

[2015-04-27 07:43] jkyadav commented on #591
Hi @ChengTian  I have kpm I tried to restore packages with kpm restore but it throws exception.

[2015-04-27 07:54] jkyadav commented on #591
See this even this failing for System.IO as well..

 CACHE https://www.nuget.org/api/v2/FindPackagesById()?Id='System.Collections.Immutable'
  GET https://api.nuget.org/v3/index.json/FindPackagesById()?Id='System.Collections.Immutable'.
  CACHE https://www.myget.org/F/aspnetvnext/api/v2/FindPackagesById()?Id='System.Collections.Immutable'
  CACHE https://www.nuget.org/api/v2/FindPackagesById()?Id=

[2015-04-27 07:55] davidfowl commented on #591
Disable the api.nuget.org feed.

[2015-04-27 07:57] jkyadav commented on #591
Thanks @davidfowl , its worked but failing now for this ..

kpm : 'npm' is not recognized as an internal or external command,
At line:1 char:1
+ kpm restore
+ ~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: ('npm' is not re...ternal command,:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

operable program or batch file.

What is wrong with this..

[2015-04-27 07:58] davidfowl commented on #591
You need to install node and npm

[2015-04-27 08:04] davidfowl opened #1715 "Runtime compilation performance regression"
Since https://github.com/aspnet/dnx/commit/be5bb7b77550bc2297b1827687206341c3fb0ec2 commit, we've changed the runtime compilation logic to be consistent when building projects . That is, compile projects the same way no matter who is asking. Previously we were using the context of the asking project, to determine the compilation references:

A (project) -> B (project) -> C (package)

[2015-04-27 08:06] davidfowl opened #1716 "System.Runtime needs to be unified for compilation"
It seems like there are some cases where System.Runtime needs to be unified (version wise) for compilation. No PIA references seem to fail when this is violated.

[2015-04-27 15:06] BillHiebert opened #1717 "Need a setting in project.json to enable xml doc comments"
This option is needed to allow generation of xml doc comments. It would also be picked up by tooling to provide diagnostics for broken or missing comments.

[2015-04-27 17:04] pranavkm commented on #1682
@ericstj, do you have the stack trace for the error?

[2015-04-27 17:21] conniey commented on #1437
@davidfowl: This issue still persists, even with the latest dnx (1.0.0-beta5-11624).

I followed the instructions from [Getting Started Debian](https://github.com/aspnet/Home/blob/dev/GettingStartedDeb.md).

Is it by design to __only__ use the NuGet.config from `~/.config/NuGet`?

[2015-04-27 17:31] conniey opened #1718 "Inconsistent DNX install behaviour on Windows and Ubuntu"
I followed the instructions to get started using this: [Getting Started Debian](https://github.com/aspnet/Home/blob/dev/GettingStartedDeb.md)

When I execute `dnvm upgrade`, it cannot find DNX to install.

[code]

However, the same command works on Windows and it will install the "unstable" version 1.0.0-beta5-11624 from `https://www.myget.org/F/aspnetvnext/api/v2` even though I did not pass the `

[2015-04-27 18:40] ericstj commented on #1682
Here you go.  I forced it by dropping 6 projects in the same directory with different csproj's and same project.json.
[code]

[2015-04-27 19:16] victorhurdugaci opened #1719 "dnu publish breaks the build"
On a project that is correct and compiles (I tried with MusicStore) do:

[code]

Publish fails. Then the second build should work. It actually fails and you are no longer able to build the project until you delete the `bin` folder

cc @davidfowl

[2015-04-27 19:39] vijayrkn opened #1720 "dnu publish should fail if xproj has a dependency to csproj and csproj binaries are not available"
dnu publish should fail if xproj has a dependency to csproj and csproj binaries are not available

Repro steps:
1. Create an xproj.
2. Add reference to a csproj.
3. delete all the csproj outputs (bin , obj, from wrap etc)
4. Run dnu publish for the xproj project.

expected:
dnu publish fails because csproj output is not available.

actual:
dnu publish succeeds. The output folder does not contains

[2015-04-27 21:53] troydai opened #1721 "Dependencies of a build type dependency project are not correctly restored."
For instance:
`Microsoft.AspNet.Mvc.Common` dependents on `System.ComponentModel.TypeConverter` (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Common/project.json):
[code]

All the MVC packages reference to `Microsoft.AspNet.Mvc.Common` as a build type dependency (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/project.json):
[code]

While restore a project d

[2015-04-27 21:53] troydai commented on #1721
/cc @davidfowl @muratg

[2015-04-27 23:09] muratg commented on #1721
/cc: @ChengTian

[2015-04-27 23:16] BillHiebert opened #1722 "Duplicate errors in the error list window when produce outputs on build checked."
Extra errors are shown when you enable produce outputs on  build. Without this checkbox set, the design time host builds returns us the framework that the error belongs to and we format the error message to include this in the msbuild subtype field. This is later picked up by our project system and we push those errors into the corresponding language service which will unify it with existing error

[2015-04-28 04:43] Eilon opened #1726 "dnu packages add doesn't overwrite destination if it already exists"
**Repro:**
1. Create a NuGet package (doesn't matter what's in it)
2. Run `dnu packages add MyPackage.1.0.0.nupkg c:\pkgs`
3. Modify the original NuGet package in some verifiable way (e.g. change something in the nuspec, add a file, etc.)
4. Run `dnu packages add MyPackage.1.0.0.nupkg c:\pkgs` *again*

**Result:**
Step (4) does nothing, though there's no warning of any sort. That is, the original

[2015-04-28 04:43] Eilon commented on #1726
@danroth27 @davidfowl

[2015-04-28 04:47] barrytang commented on #1722
Adding @davidfowl and @balachir.

[2015-04-28 05:14] davidfowl commented on #1726
Ugh, we should fix that.

[2015-04-28 06:57] troydai commented on #1655
46fa4afc233c01ea7192beb0c182c5ea41c28cff

[2015-04-28 06:57] #1655 closed

[2015-04-28 17:20] MFFoX commented on #1309
Having this problem as well with a nuget-hosted package.  It fails with:

Full log output:

[code]

[2015-04-28 18:54] ChengTian commented on #1722
@davidfowl , I am working on it.

[2015-04-28 20:29] blowdart opened #1730 "Set the global regex timeout to a suitable value (and allow for easy dev changes)"
Default regex timeout is infinite. For web apps this is a bad idea.

Set it to a more sensible value (https://msdn.microsoft.com/en-us/library/system.text.regularexpressions.regex.matchtimeout%28v=vs.110%29.aspx)

[code]

Expose a setting to allow devs easier access that the monstrous code above.

[2015-04-28 20:45] PradeepKadubandi opened #1731 "Improve package restore times"
Package restore times regressed a lot in RC and that needs to be improved. Fowler was part of restore discussion and he said he will take a look at it this week.

[2015-04-28 20:46] PradeepKadubandi opened #1732 "Restore should take multiple project.json paths as command line parameter"
This is so that tooling can kick off restores for different projects with one dnx process. (Came up as part of restore discussion)

[2015-04-28 21:22] shanselman commented on #857
This seems to have regressed? @muratg