[2015-09-09 20:18] #2444 closed

[2015-09-09 20:28] moozzyk commented on #2387
#402?

[2015-09-09 20:29] ealsur commented on #2656
Sure, here is the link the exact site with the problem: https://github.com/ealsur/meetup

Here is a site that has Continuous Integration on Azure Web Apps pointed to that repo: http://gitgit.azurewebsites.net/

[2015-09-09 20:50] JunTaoLuo opened #2664 "Testing Infrastructure Improvements"
Following up on #2617

Some of the changes that I plan to add into the testing framework:

1 Organize environment variables for the test environment in Microsoft.Dnx.Testing.TestEnvironmentNames
- This will be similar to Microsoft.Dnx.Runtime.EnvironmentNames
- Prefix test specific names with DNX_TEST_*

2 Trace
- Set DNX_TEST_TRACE=1
- When enabled, test headers ("running test DnuPublishTest.Publ

[2015-09-09 20:52] davidebbo commented on #2656
Thanks, I can repro with your repo, though I don't know what's wrong. The packages are all there under `D:\home\site\approot\packages`.

Here is the full error. @davidfowl, any idea why it's failing to find packages?

[InvalidOperationException: Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1':
   Microsoft.AspNet.Antiforgery 1.0.0-beta7
   Microsoft.AspNet.Au

[2015-09-09 21:55] bricelam commented on #2387
Yep

[2015-09-09 21:55] #2387 closed

[2015-09-09 22:35] davidfowl commented on #2663
Not hard likely impossible unless you are precompiled. There's literally no way to make that work that I'm aware of.

[2015-09-10 05:04] davidfowl commented on #2656
Found the issue, we have a bug where having the project.json and global.json in the same folder causes problems.

[2015-09-10 05:59] Rwing commented on #2607
[code]
on Centos

[2015-09-10 06:40] EGrishin opened #2666 "dnx.win32.dll could not be loaded. Last error: 87"
Hello. I have this error after 'dnvm upgrade'. Windows 7 x64

[2015-09-10 08:04] Anderman opened #2667 "DNU build give a error about missing namespace on command line, but VS2015RC does not display the error in the Error List"
DNU build give this error:
`C:\git\DBC\src\DBC\Controllers\UserController.cs(77,24): DNX,Version=v4.5.1 error CS0118: 'DataTables' is a namespace but is used like a type`

for this line
[code]
This can be fixed with adding a namespace
[code]
[code]

This bug is in  my repro see the commits in [DBC](https://github.com/Medella/DBC/commits/master)
`3cedf0de134730f7213f756b5ed650acb45ee8fc`
and
'a1613

[2015-09-10 10:02] ealsur commented on #2656
@davidfowl Glad you found it :) Is there anything I can do to help with it?

[2015-09-10 10:03] davidfowl commented on #2656
@ealsur How did you create the project?

[2015-09-10 11:29] ealsur commented on #2656
@davidfowl manually using VS Code, originally I had the problem that Kudu was detecting beta6 (https://github.com/projectkudu/kudu/issues/1663) when pulling the deployment script, @DamianEdwards recommended me to use the global.json, which worked (Kudu pulled beta7) but generated this other problem.

[2015-09-10 12:08] danroth27 opened #2668 "dnu install can only add top level dependencies"
If I use `dnu install` to install a package, then the package is added in project.json as a top level dependency, which might not be what I want. For example, some dependencies are framework specific.

[2015-09-10 12:22] hoetz commented on #2656
In my case, I created the project with VS2015 and VS added the global.json into my Web project, probably to select the proper dnx version. After removing the global.json on my azure web app everything started to work again.

[2015-09-10 12:32] davidebbo commented on #2656
What I found in VS is:

- if I check *Create directory for solution*, I get a global.json at the root (so not same folder as project.json).
- if I don't check it, project.json is at the root, but I don't get a global.json at all!

The second case looks broken. @hoetz it's strange that it works differently for you. I have Azure tools v2.7 for VS 2015.

[2015-09-10 12:35] ealsur commented on #2656
@davidebbo project.json can be on other folder other than the root and Kudu/VS will parse it? All the examples I've seen on the MVC repo (https://github.com/aspnet/Mvc/tree/dev/samples/MvcSample.Web) use it on the root.

[2015-09-10 12:40] davidebbo commented on #2656
@ealsur correct, it does *not* have to be at the root. See https://github.com/davidebbo-test/AspNet5Beta7, which is an unmodified VS-create project, with *Create directory for solution* checked. It works fine in Kudu.

[2015-09-10 12:47] ealsur commented on #2656
@davidebbo Problem is that it works when using a Solution, if you create the web app using VS Code or pulling from Yeoman or the MVC sample repo there's no SLN file to specify that the project is on another folder, so your project.json ends up in the same folder than the global.json :(

[2015-09-10 12:48] hoetz commented on #2656
@davidebbo probably because I opened the project.json directly with Visual Studio 2015.

[2015-09-10 13:49] jchannon commented on #2416
I see the same issue with `Microsoft.AspNet.Authentication.Twitter` but had no clue why it threw that error

[2015-09-10 15:57] muratg commented on #2667
Is there a class `DataTables` at all? Not sure why you call new with `DataTables()`

[2015-09-10 16:05] Anderman commented on #2667
Yes there is. I use a different project for datatables. See [Datatables](https://github.com/Anderman/Mvc.JQuery.Datatables/blob/dev/src/Mvc6.JQuery.Datatables/DataTables.cs)
Do you have problems with the source?

[code]

[2015-09-10 16:28] davidfowl commented on #2656
Yes, it's a bug with publish but it's only happens when these websites are hand crafted manually. Customers end up with 2 global.json files in their published artifacts and one of them end up pointing to a packages folder that doesn't exist. It happens when you have a global.json and a project.json in the same folder.

We'll fix this in the next release but the work around is the get rid of the gl

[2015-09-10 17:22] Eilon commented on #2666
@moozzyk can you investigate?

[2015-09-10 17:31] ealsur commented on #2656
@davidfowl If I get rid of global.json I end up with Kudu not detecting Beta7 and thinking it's Beta6.
![capture](https://cloud.githubusercontent.com/assets/1633401/9794744/4713597c-57c3-11e5-894f-747dffa4c6c2.PNG)

![capture](https://cloud.githubusercontent.com/assets/1633401/9794798/7e01deb8-57c3-11e5-815b-881099f90d06.PNG)

In the meantime, I rollbacked the whole web app to Beta6 (no global.jso

[2015-09-10 17:35] davidfowl commented on #2656
You can use the other suggestion. Change the site structure to look like this:

[code]

[2015-09-10 17:45] moozzyk commented on #2666
@EGrishin - what version of runtime you are using when you get this (i.e. what dnvm list shows). Do you have dnx.win32.dll in the runtime folder you are using (the folder is in `%USERPROFILE%\.dnx\runtimes` - e.g. for beta7 coreclr it will be in: `%USERPROFILE%\.dnx\runtimes\dnx-coreclr-win-x64.1.0.0-beta7\bin\`)

[2015-09-10 17:56] pranavkm opened #2670 "ILibraryExport.GetAllExports returns null if the library is a package"
Regression introduced in https://github.com/aspnet/dnx/commit/a029ba08bff3db455afc199c2be4b6984f3333b8#diff-dc23ef9358b336d8adbc80f7beba699aR76 and is affecting Razor compilation in Mvc: https://github.com/aspnet/Mvc/issues/3071.

Speaking to @davidfowl this change was an optimization - we could revive the general case from before while keeping the optimization

[2015-09-10 18:07] moozzyk commented on #2666
(FWIW - I installed all the beta7 runtimes on my Win7 x64 machine (which does not have any dev bits) and was not able to repro this issue).

[2015-09-10 18:23] ealsur commented on #2656
@davidfowl Wouldn't I need an SLN / Xproj file for that? Thinking on the no-VisualStudio scenario and going on VS Code, does Kudu / DNX realize that my structure is different?

[2015-09-10 18:23] davidfowl commented on #2656
You don't need an xproj or solution for that. It's simply moving the project file from the root of the repository as a workaround for a bug that exists in beta7.

[2015-09-10 18:43] ealsur commented on #2656
@davidfowl Did it (https://github.com/ealsur/meetup) and it works locally and deploying it to Azure, I didn't know that the project.json file got detected even if it was on a subfolder, learning something new everyday :) You rock.

[2015-09-10 18:47] PradeepKadubandi opened #2671 "Updating search path in global.json won't invalidate lock in case where a package reference can change to a project reference."
I showed Troy the issue.

When we send 'RefreshDependencies' message to DTH, we are not getting the dependency message back. This is the log from DTH events:

[code]

[2015-09-10 18:50] davidfowl commented on #2671
Did dependencies change?

[2015-09-10 18:51] troydai commented on #2671
Dependencies doesn't change, just adds a search path in `global.json`. The expectation is that the project references will be sent back to VS can act. The scenario works for beta-6 as I just tried seconds ago. I'm trying this on beta8 now.

[2015-09-10 19:02] troydai commented on #2671
Yeah, it's a regression from beta7. I'll investigate after lunch.

[2015-09-10 19:03] troydai commented on #2671
@muratg @glennc This looks like a DTH related issue, I assign this to myself for now. Please advice otherwise.

[2015-09-10 19:07] troydai commented on #2260
https://github.com/dotnet/corefx/issues/3156

There isn't such API at this point. But CLR team is discussing the possibility of adding one.

[2015-09-10 19:08] troydai commented on #2260
@muratg @glennc I suggest to move this issue to backlog and pending on CLR team's action.

[2015-09-10 19:16] mfilippov opened #2673 "Redirect StandartOutput isn't work on Mac."
I have test program:
[code]
With dependency: "System.Diagnostics.Process": "4.0.0-beta-23109",
$dnvm list
[code]
I got error:
$ dmx run

[code]

[2015-09-10 19:23] Anderman commented on #2667
The problem is a little different. VS2015 'Error list' window doesn't give any errors when rebuild te solution. But the VS2015 'output' window give the same error. So I think it is more VS2015 related.

![image](https://cloud.githubusercontent.com/assets/1858745/9798539/df304bf0-5801-11e5-8b21-f99686347763.png)

![image](https://cloud.githubusercontent.com/assets/1858745/9798552/fc748e7e-5801-11e5

[2015-09-10 19:25] BrennanConroy commented on #2673
This looks like a CoreCLR issue not dnx

[2015-09-10 19:43] #2632 closed

[2015-09-10 19:48] mfilippov commented on #2673
Ok I move it issue in coreclr.

[2015-09-10 19:48] #2673 closed

[2015-09-10 19:50] Eilon commented on #2046
@ajaybhargavb this is ever-so-slightly related to the Package Verifier work you're doing. These assemblies have been renamed since I logged this bug, but please make sure when you enable the package verifier in this repo that we don't miss any assemblies.

[2015-09-10 19:54] Eilon commented on #2104
Related: https://github.com/aspnet/Announcements/issues/52

@moozzyk thoughts on this? Anything to do here?

[2015-09-10 19:58] davidfowl commented on #2104
Closing this out nothing to do heee

[2015-09-10 19:58] #2104 closed

[2015-09-10 20:56] troydai commented on #2671
Cause:
After the refractory the dependency resolving purely depends on the lock file. The lock file is not updated in this case, therefore updating global.json won't update the dependencies of projects.

[2015-09-10 21:42] anurse opened #2674 "DNX not properly loading transitive dependencies of shared source packages?"
The scaffolding repo has a weird glitch and I'm not sure exactly what's going on. I'm not really able to dive deep into investigating right now so I'm filing this.

Repro steps:
1. Clone aspnet/Scaffolding
2. `cd` to "src" directory of Scaffolding
3. `cd` to "Microsoft.Framework.CodeGeneration.Templating"
4. `dnu restore`
5. `dnu build --framework dnxcore50`

Expected: It builds
Actual:

[code]

I

[2015-09-10 22:50] #2440 closed

[2015-09-10 23:27] anurse opened #2678 "Discussions for DNX Beta7 renames"
See https://github.com/aspnet/Announcements/issues/44

[2015-09-10 23:36] Eilon commented on #2674
@lodejard ur dependencies rnt transitive?!

[2015-09-11 00:01] troydai commented on #2671
Ping @davidfowl

[2015-09-11 00:36] davidfowl commented on #2671
We're going to need to force a restore in this case so that the lock files update

[2015-09-11 00:38] davidfowl commented on #2674
Did you try restoring the entire solution.

[2015-09-11 01:58] CarlosFreire opened #2680 "DNX x64 version 1.0.0-beta8-15596 publish on IIS Microsoft.AspNet.Mvc.Razor.Compilation.RoslynCompilationService.GetApplicationReferences Object reference not set to an instance of an object."
When publish on IIS the following error appears
System.NullReferenceException
Object reference not set to an instance of an object.
at Microsoft.AspNet.Mvc.Razor.Compilation.RoslynCompilationService.GetApplicationReferences()
at System.Lazy<T>.CreateValue()
at System.Lazy<T>.LazyInitValue()
at Microsoft.AspNet.Mvc.Razor.Compilation.RoslynCompilationService.Compile(RelativeFileInfo fileInfo, String

[2015-09-11 02:03] davidfowl commented on #2680
This is a duplicate of https://github.com/aspnet/dnx/issues/2670

[2015-09-11 02:03] #2680 closed

[2015-09-11 02:14] davidfowl commented on #2674
Will look into it.

[2015-09-11 03:16] KodrAus commented on #1714
+1 for F# support

[2015-09-11 03:22] davidfowl opened #2681 "OOM when using MVC solution in VS"
Seems we're holding onto a bunch more library descriptions. This can easily be fixed by caching more strings, versions, package ids, paths.

[2015-09-11 05:59] davidfowl opened #2682 "[HttpPlatformHandler]: Publish changes to web.config for IIS based hosting"
We need to change the web.config that publish generates to be based on httpplatformhandler based hosting.

Here's what a typical web.config looks like today for Helios:

[code]

Here's what the new `web.config` (tentative) would look like:

[code]

The .cmd file also has to be updated to take variable into account:

Few notes:
- We're waiting on the httpplatformhandler to support relative paths. T

[2015-09-11 06:17] muratg commented on #2667
OK thanks. So build was actually failing on VS as well. Could you file a bug on the http://github.com/aspnet/tooling repo?

[2015-09-11 06:53] davidfowl commented on #2667
We need to look at drh

[2015-09-11 07:06] borgdylan commented on #2682
Wren the switch to the http platform handler happens, would newly published projects work on the versions of IIS that Helios runs on today?

[2015-09-11 07:12] Anderman commented on #2667
Ok, I also made a new issue on [tooling](https://github.com/aspnet/Tooling/issues/175)

[2015-09-11 07:12] davidfowl commented on #2682
No Helios will be dropped completely

[2015-09-11 07:30] borgdylan commented on #2682
My question was, would the new technique work on IIS 8.1+ even if it means that I have to make the process path absolute by hand?

[2015-09-11 08:01] davidfowl commented on #2682
The module needs to be installed on IIS severs that want to run ASP.NET 5

[2015-09-11 08:13] GuardRex commented on #2682
Will these changes lead to being able to run .NET 5 without a .NET 4.x framework on the server?

[2015-09-11 08:27] davidfowl commented on #2682
.NET 5 doesn't exist, you mean .NET Core? Yes. You'll install the [HttpPlatformHandler](http://www.iis.net/downloads/microsoft/httpplatformhandler) and you'll be able to use it without installing .NET or ASP.NET for that matter on the server.

[2015-09-11 09:41] davidfowl opened #2683 "React to externalized file watcher changes"
- Delete IApplicationShutdown and merge it with IApplicationLifetime (see https://github.com/aspnet/Hosting/pull/264)
- Remove IFileWatcher interfaces from the runtime

[2015-09-11 11:01] borgdylan commented on #2682
@davidfowl so the module is available as an MSI/EXE/MSU?

[2015-09-11 15:18] muratg commented on #2667
@troydai

[2015-09-11 15:33] BrennanConroy opened #2684 "Add Linux and Darwin to postbuild scripts for copying dlls"

[2015-09-11 15:33] davidfowl commented on #2682
That's what I linked to

[2015-09-11 15:38] TheBlueSky commented on #2646
@moozzyk, I have what you asked for ready on [OneDrive](https://onedrive.live.com/redir?resid=C50EEEC1AD648A17!116772&authkey=!ANBJG2mA8v-74tY&ithint=file%2c7z)... but, where do cool kids upload their 24MB stuff to these days? :)

The 7-zip file contains (1) `dnu publish` output in "01.output" folder, (2) a screen-shot, "dnx.png", is the error dialog when I ran "kestrel.clr.cmd" on Server 2012 R2,

[2015-09-11 16:56] moozzyk commented on #2646
I believe the issue here is the kestrel and not the dnx. If you go to either of runtime directory you published and you just run `dnx.exe` it runs correctly (i.e. you don't see the popup) right? With @halter73 we found that libuv used by kestrel is not built correctly and depends on things it should not (including the forwarder you mentioned):

[code]

This will be fixed as part of https://github.

[2015-09-11 16:56] #2646 closed

[2015-09-11 17:07] troydai commented on #2502
More work planned.

[2015-09-11 17:27] muratg commented on #2663
What's the workaround? Launch another process and do IPC?

[2015-09-11 17:31] muratg commented on #1602
Is this still an issue? @PradeepKadubandi @victorhurdugaci

[2015-09-11 17:33] davidfowl commented on #2663
Use core clr 😀 or yes launch another process

[2015-09-11 17:36] muratg commented on #1626
@cherrydev Thanks... adding discussion label to this and closing as there doesn't seem to be a need for a code change on dnx.  Feel free to continue discussing this here, or on Jabbr.

[2015-09-11 17:36] #1626 closed

[2015-09-11 17:38] victorhurdugaci commented on #1602
@moozzyk

[2015-09-11 17:40] muratg commented on #1631
@borgdylan Yup.  See https://github.com/aspnet/dnx/issues/2428 where this was fixed.

[2015-09-11 17:40] #1631 closed

[2015-09-11 17:43] muratg commented on #1679
Do we need more TFMs? @anurse

[2015-09-11 17:45] muratg commented on #1680
@anurse.

Are we supporting this (and #1679) in V1?

[2015-09-11 17:46] muratg commented on #1693
@ericstj Do you still need this?

[2015-09-11 17:47] muratg commented on #1653
Closing since there wasn't a lot of recent discussion on this one.

[2015-09-11 17:47] #1653 closed

[2015-09-11 17:49] muratg commented on #1720
@vijayrkn Is this still a problem?

[2015-09-11 17:54] muratg commented on #1734
Didn't repro with my basic smoke level testing.  Closing.  Please reopen if you still hit this @vijayrkn

[2015-09-11 17:54] #1734 closed

[2015-09-11 17:57] muratg commented on #1774
@sawilde Looks like Roslyn folks require some more info from your side to proceed. I'm closing the bug on the DNX side since it does look like a Roslyn problem. If it turns out DNX needs investigation as well, please feel free to file a bug here. Thanks.

[2015-09-11 17:57] #1774 closed

[2015-09-11 18:49] troydai commented on #2405
__Proposal__

_Solution 1_
Adding a new boolean property `Resolved` to the `DependencyDescription` model to indicate if the dependency resolved. And the `Type` property accept the `LibraryDescription`'s `Type` value.

_Solution 2_
Reuse the `Type` property but append the `LibraryDescription.Type` with a string indicate if it is resolved or not. So it will look like:
- `Project`
- `Package`
- `Proj

[2015-09-11 18:50] troydai commented on #2405
/cc @davidfowl @abpiskunov

[2015-09-11 18:50] anurse commented on #1680
It shouldn't be too hard, but to do it right we'll want a CI that has the frameworks installed so we can test it

[2015-09-11 18:59] troydai commented on #2671
@PradeepKadubandi

[2015-09-11 19:12] abpiskunov commented on #2405
Both of the would require tooling changes in parsing messages we receive from DTH, but Solution1 looks more neat.

[2015-09-11 19:15] #2617 closed

[2015-09-11 19:24] teamneusta opened #2687 ""dnx restore" will modify/update lock files and remove "uap10.0" target"
We are creating a Windows 10 universal app and plan to compile it on a Teamcity server. To make this run, we figured out that it is neccessary to run the following commands:

[code]

Unfortunately, this ends up in an error that platform uap10.0 is not supported, because dns "dnu restore" command rewrites the project.json.lock files. The "uap10.0" target is removed and a "dnx" target is added.

Any

[2015-09-11 19:25] cherrydev commented on #1626
A discussion sort of needs more than one participant and I feel like my questions have been pretty clear (or at least no clarification has been asked of me).  I'd be happy to continue the conversation if someone will step up and participate in it, thanks!

[2015-09-11 19:44] troydai commented on #2405
Either way it's a breaking change requires tooling coordination. Data in solution 1 will be easier to be consumed. ping @davidfowl

[2015-09-11 20:34] abpiskunov opened #2690 "Send loose assemblies along with other dependnecies from DTH"
For feature "Show assemblies under NuGet packages" (see spec https://github.com/aspnet/specs/blob/master/tooling/sln-explorer-show-assemblies.md ) I would need loose assemblies to be sent to us by DTH along with other dependencies. For example: for EntityFramework.Commands package there is an assembly: C:\Users\antonpis\.dnx\packages\EntityFramework.Commands\7.0.0-beta8-15666\lib\dnx451\EntityFram

[2015-09-11 20:42] abpiskunov commented on #2690
Chatted with David - we have FileReferences  thatDTH sends and can use that info. Closing.

[2015-09-11 20:42] #2690 closed

[2015-09-11 20:55] BrennanConroy commented on #2616
89176054260b6b249d0a1b7c523c9ffcad85886d

[2015-09-11 20:55] #2616 closed

[2015-09-11 20:58] muratg commented on #2687
What's the DNX version you're using?  I believe we're currently raising errors instead of silently changing the target.

[2015-09-11 20:59] muratg commented on #2687
https://github.com/aspnet/dnx/issues/2302

[2015-09-11 21:10] #887 closed

[2015-09-11 21:13] anurse commented on #2302
It's not even ambiguous: ). `uap100` is interpreted as `1.0.0`

#2677 adds support for uap10.0

[2015-09-11 21:17] muratg commented on #1495
@davidfowl Are there any usage patterns you'd like that's not supported with the Wei's explanation above?  To me, it seems to cover all the important cases.

It's not the same syntax as build but I feel that's fine.

[2015-09-11 21:22] muratg commented on #1589
@davidfowl file a bug on CoreCLR to expose this functionality?

[2015-09-11 21:22] muratg commented on #1589
@danroth27

[2015-09-11 22:21] troydai commented on #2667
I'll take a look

[2015-09-11 23:05] muratg commented on #2094
New link to the validation list: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Install/CommandNameValidator.cs#L21

[2015-09-11 23:06] sig9 commented on #2607
'apt-get install libcurl4-openssl-dev'
on ubuntu 14.10

[2015-09-11 23:07] muratg commented on #2086
@victorhurdugaci

[2015-09-11 23:08] muratg commented on #2044
Is there still issues with this? @troydai

[2015-09-11 23:15] BrennanConroy commented on #2596
8ec9f73835f801f7ee880e611bf45ef80688b5dd

[2015-09-11 23:15] #2596 closed

[2015-09-11 23:35] victorhurdugaci commented on #2086
This will not be needed anymore once we have `dnx-watch`

[2015-09-11 23:35] #2086 closed

[2015-09-12 00:46] pranavkm commented on #2455
I'm still seeing this. This hangs my local builds for 3+ minutes per project.

[2015-09-12 01:48] davidfowl commented on #2094
Why?

[2015-09-12 02:04] davidfowl commented on #2405
Solution 1 is better 😁

[2015-09-12 02:08] davidfowl commented on #1626
We don't expose the assemblt paths in the library manager but we could. It would allow you to use the API to open a file stream to get the metadata

[2015-09-12 02:39] sawilde commented on #1774
It seems that some people got it working by using the `--lib` option from dnx (https://github.com/OpenCover/opencover/issues/327)

e.g.

    OpenCover.Console.exe
      -target:C:\users\jbruun.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta6\bin\dnx.exe
      -targetargs:"--lib c:\projects\cpip\src\website\bin\debug\dnx451 c:\projects\cpip\test\Website.Tests test"
      -output:coverage.xml
      -filter:

[2015-09-12 02:49] davidfowl commented on #1774
Ohhhh hacky. We might be able to run in a compatibility mode that drops the dll and pdb on disk. This would be for existing tools to consume

[2015-09-12 06:12] cherrydev commented on #1626
I think that was exactly what I was originally trying to accomplish and is cleaner than the solution that I ultimately came up with.

[2015-09-12 09:15] Daniel15 opened #2693 "Add ability to ignore particular build warnings"
Moved from https://github.com/aspnet/Home/issues/900

---

In csproj files, you can ignore particular build warnings with the `<NoWarn>` element (labelled as "Suppress warnings" in Visual Studio). For example, to ignore CS7035, you can either add `<NoWarn>7035</NoWarn>` to the csproj or pass it to MSBuild via `/p:NoWarn=7035`.  This does not appear to be possible with `project.json`

cc @Eilon @do

[2015-09-12 14:33] muratg commented on #2094
Is it going to be just "web" defaulting to kestrel only from now on?  If we plan to keep "web" for httpplatformhandler module + kestrel, then it kinda makes sense to reserve "kestrel" (or some other word) for runs wihout httpplatformhandler.

[2015-09-12 14:43] muratg commented on #2046
@ajaybhargavb is Caching pending the change?

[2015-09-12 16:22] davidfowl commented on #2094
I'd actually prefer to call to web but I don't know what damage that will cause to people's brains :smile:

[2015-09-12 16:35] muratg commented on #2094
Perhaps we can default "web" to kestrel only, and have an additional one "iis" (or something)?

[2015-09-12 17:09] ajaybhargavb commented on #2046
No. That package no longer exists. It was merged into something else.

[2015-09-12 17:10] #2046 closed

[2015-09-12 18:17] smbecker commented on #2693
Duplicate of #2042?

[2015-09-12 20:08] giggio commented on #2657
@davidfowl Ok, per the latest comment by @emgarten on the nuget repo (https://github.com/NuGet/Home/issues/1360#issuecomment-139814966) nuget already dupports that with `1.*`, which will take the highest dependency available, not the lowest. So if an app specify dependency `A` as `1.*` and versions `1.0` and `1.1` are available, using nuget today, `1.1` would be chosen.
Is this coming to dnu? I ex

[2015-09-12 20:10] davidfowl commented on #2657
@giggio no promises but we do want to eventually use the nuget code base and have been slowly moving in that direction.

[2015-09-12 20:16] giggio commented on #2657
Ok, at least we know that this will be supported on dnu at some point.

[2015-09-12 21:19] glennc commented on #2560
@muratg we should put this in a milestone.

[2015-09-12 22:18] davidfowl commented on #2693
Yes it is!

[2015-09-12 22:18] #2693 closed

[2015-09-13 02:18] giggio commented on #2311
This was expected for beta7, and is now back to the backlog. Should we expect this on beta8? If I understand correctly, features that don't make to beta8 won't make to RTM, as beta8 is supposed to be feature complete, right? So the question follows: is this expected to be present on RTM?

[2015-09-13 03:18] Eilon commented on #2042
Moving this out of backlog so we can reconsider.

[2015-09-13 05:12] danroth27 opened #2694 "Removing a dependency should not be a breaking change"
Currently dependencies are transitive which means that removing a dependency is a breaking change. If my app depends on A and A depends on B then my app depends on B, even if B is just an implementation detail of A. My app might use some type in B even though my app doesn't directly declare B as a dependency and this will currently work fine. If A later removes it's dependency on B then my app wil

[2015-09-13 05:33] davidfowl commented on #2694
This would be insane.

https://github.com/aspnet/dnx/issues/2391#issuecomment-127199095

It should also be a compile error if you marked a dependency as private and something was exposed in public API from that dependency.

[2015-09-13 05:46] davidfowl commented on #2311
@giggio Nope, it's been cut. See the roadmap https://github.com/aspnet/Home/wiki/Roadmap

[2015-09-13 07:36] roji commented on #2190
@davidfowl, @glennc or others, can we have a quick discussion on the design questions I asked above? After that I can work on a PR.

[2015-09-13 17:23] danroth27 commented on #2694
Why would this be insane? I think it's actually a good practice to be explicit in your project what you directly depend on. It makes inspecting your project dependencies easier and you get more control over the version that your project uses. If the runtime had this behavior it would help you make sure you did this correctly.

[2015-09-13 17:25] davidfowl commented on #2694
@danroth27 do it and tell me if you can figure out the 50 BCL package dependencies that you *actually* need in your application then let's talk :smile:

[2015-09-13 18:40] giggio commented on #2311
:( :( :(

[2015-09-13 22:12] benaadams opened #2696 "Cache not caching?"
Looking at the allocations across a couple hundred repeated requests; same as in non-selected front part of trace:

![image](https://cloud.githubusercontent.com/assets/1142958/9839232/f86ab3d8-5a6a-11e5-97c2-ac25ddcd2f7b.png)

There are a enormous amounts of string allocs going on in dnx

![image](https://cloud.githubusercontent.com/assets/1142958/9839253/81f30c7c-5a6b-11e5-93ef-1f9f3b51f5d2.png)

[2015-09-13 23:20] sawilde commented on #1774
@davidfowl perhaps you could expand - I haven't really had the time recently to get up to date with dnx et al (I work with fat clients mainly) - why would this be consider hacky?

[2015-09-13 23:24] antiufo opened #2697 "A non-portable project cannot reference a portable one. Type exists in both + fx/System.Runtime could not be resolved"
See this example project: https://github.com/antiufo/exists-in-both
It contains a portable class library, and a dnxcore50/dnx46 project that references it.

Compilation fails with the following errors:
- Unable to resolve dependency fx/System.Runtime 4.0.0 (for the netcore50 version)
- The type 'AssemblyFileVersionAttribute' exists in both 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToke

[2015-09-13 23:43] davidfowl commented on #1774
It circumvents dependency resolution

[2015-09-14 06:31] GuardRex commented on #2682
Rats! .NET 4.x is so woven into WS2012/WS2012R2 that it's impossible to live without it (especially in an Azure VM situation). The Core Team Blog says, 'Don't even think about it!'

http://blogs.technet.com/b/askcore/archive/2014/04/24/removing-net-framework-4-5-4-5-1-removes-windows-2012-2012r2-ui-and-other-features.aspx

[2015-09-14 12:49] Mpdreamz commented on #2540
Huge +1 to this, would reduce the number of needed ifdefs.

[2015-09-14 15:20] muratg commented on #2560
@BrennanConroy Is this still needed after your change?

[2015-09-14 15:24] BrennanConroy commented on #2560
Like Chris said, we should do this but it's not as bad after my change

Sent from my HTC

----- Reply message -----
From: "Murat Girgin" <notifications@github.com>
To: "aspnet/dnx" <dnx@noreply.github.com>
Cc: "Brennan Conroy" <brecon@microsoft.com>
Subject: [dnx] We never dispose HttpClient in restore (#2560)
Date: Mon, Sep 14, 2015 8:20 AM

@BrennanConroy<https://na01.safelinks.protection.outloo

[2015-09-14 15:33] Mpdreamz opened #2698 "dnu restore fails when restoring a project reference"
This happens as soon as I add this project reference here:

https://github.com/elastic/elasticsearch-net/blob/vnext/dnx-support/src/Nest/project.json#L21

Which is this project: https://github.com/elastic/elasticsearch-net/blob/vnext/dnx-support/src/Elasticsearch.Net/project.json

[code]

[code]

[2015-09-14 15:49] spencerwi commented on #1714
Another +1, as F# is the whole reason that I'd try to do .NET work (as a Linux/OSX dev)

[2015-09-14 15:50] itajaja commented on #1714
yay! +1

[2015-09-14 16:20] muratg commented on #2696
@troydai Any thoughts?

[2015-09-14 16:24] benaadams commented on #2696
Note this was running from source; running packaged --no-source didn't exhibit these issues

[2015-09-14 16:29] muratg commented on #2687
@teamneusta Can you try the latest dnx (`dnvm upgrade -u`)?  This should work now with: https://github.com/aspnet/dnx/commit/18d404167451b6fd256700f4c903b7f43af3278f

[2015-09-14 16:56] pranavkm opened #2699 "Remove dnu sources"
At this point, we don't feel the feature is ready to be shipped at v1. We'll bring it back in the future once we feel it is ready.

[2015-09-14 16:56] pranavkm commented on #2699
Related: https://github.com/aspnet/dnx/issues/2455

[2015-09-14 17:00] #2455 closed

[2015-09-14 17:15] tillig commented on #2699
Will the removal cause warnings during build if the `repo` information is left in `project.json` or will it just be ignored?

[2015-09-14 17:16] davidfowl commented on #2699
Ignored.

[2015-09-14 17:17] muratg commented on #2698
Thanks for the report. We'll investigate.

[2015-09-14 17:18] muratg commented on #2698
@JunTaoLuo Could you investigate please.

[2015-09-14 17:24] muratg commented on #2694
It doesn't look like we'll do this. Closing.  @danroth27 If you end up finding the right way to do it, please reopen. :)

[2015-09-14 17:24] #2694 closed

[2015-09-14 17:26] muratg commented on #2697
@anurse Could you have a look please?

[2015-09-14 17:29] muratg commented on #2666
@EGrishin Does this still repro for you? If so, can you provide the runtime information @moozzyk has asked?

[2015-09-14 17:29] muratg commented on #2663
@rowanmiller OK to close this?

[2015-09-14 17:33] davidfowl commented on #2698
Looks like https://github.com/aspnet/dnx/issues/2554

[2015-09-14 17:38] Mpdreamz commented on #2698
I think so too deleting this line:

https://github.com/elastic/elasticsearch-net/blob/vnext/dnx-support/src/Elasticsearch.Net/project.json#L7

Fixes the dnu restore.

[2015-09-14 17:38] #2698 closed

[2015-09-14 17:38] muratg commented on #1431
Putting this one in the Backlog.

[2015-09-14 17:42] muratg commented on #1589
This is horrible, but not sure if there's anything we can do about it at the moment. Putting it into Backlog for now.

[2015-09-14 17:43] muratg commented on #1590
Thanks everyone!  Closing this one.

[2015-09-14 17:43] #1590 closed

[2015-09-14 17:44] muratg commented on #1602
:watch:

[2015-09-14 17:45] akoeplinger commented on #1590
For the record, the workaround of setting `MONO_THREADS_PER_CPU` was put directly in `dnu` with https://github.com/aspnet/dnx/pull/2620, so users shouldn't need to set it themselves in the future.

[2015-09-14 17:47] muratg commented on #1681
@davidfowl What was the outcome of your investigation?

[2015-09-14 17:49] victorhurdugaci opened #2700 "dnx-watch"
The new dnx-watch

[2015-09-14 17:50] muratg commented on #1714
Language support (including VB.NET) is not in scope for V1. Putting this one to Backlog as well.

[2015-09-14 17:50] muratg commented on #1716
Closing. Reopen if it's still needed.

[2015-09-14 17:50] #1716 closed

[2015-09-14 17:56] muratg commented on #1757
Closing this one as #1494 tracks the work needed.

[2015-09-14 17:56] #1757 closed

[2015-09-14 18:06] PradeepKadubandi commented on #2671
Logged a tooling issue : https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems#_a=edit&id=144563&fullScreen=false

[2015-09-14 18:08] troydai commented on #2671
Thanks @PradeepKadubandi. I'll close this issue as it doesn't need work on runtime side.

[2015-09-14 18:15] #2670 closed

[2015-09-14 18:35] moozzyk commented on #1602
@victorhurdugaci #887 has not changed how we run scripts but only when we run scripts so I assume it is not fixed.

[2015-09-14 18:37] davidfowl commented on #2671
I have some second thoughts about this.

[2015-09-14 18:39] david-driscoll commented on #2699
This also doesn't prevent us from doing something similar using the global.json today, correct?  It's just we won't have a way using `dnu` to do it automatically.

[2015-09-14 18:42] moozzyk opened #2702 "Fix postbuild/postpack scripts in dnx repo"
After fixing #887 the {post|pre}pack scripts are run before/after pack and the {pre|post}build scripts are run after build. We have a few project.json files in the dnx repo that use scripts. Currently they have hardcoded paths copying files from Debug folder. Since build is always Release this is no-op on the CI. However on dev boxes where we typically build Debug we would copy too much some of th

[2015-09-14 18:44] davidfowl commented on #2697
I'm looking into this assign to me

[2015-09-14 18:51] pranavkm commented on #2699
The parsing code does not have a strict schema that it validates these files against and simply ignores keys that it doesn't know about.

[2015-09-14 18:59] jskulavik commented on #1714
@davidfowl [pointed out how this could be achieved long ago](https://github.com/aspnet/dnx/issues/1706), @Alxandr already gave it a go, and we've now got beta 7+ to work with possibly using [this](https://github.com/davidfowl/vNextLanguageSupport) as a spring board.  Given that ASPNET5 is an OSS project, why shouldn't the 'community,' in this case the outstanding F# community, contribute?  The new

[2015-09-14 19:07] troydai commented on #2671
Per discussion with @davidfowl, we decide to reopen this issue and explore a new solution.

We can log the search paths (from global.json) in lock file. As a result, we can invalidate the lock file when global.json is updated. It helps tooling mitigate the performance hit. And also make the console solution more reliable.

[2015-09-14 19:08] troydai commented on #2671
/cc @muratg @PradeepKadubandi

[2015-09-14 19:25] spencerwi commented on #1714
@jskulavik As you pointed out, @Alxandr did already give it a go. This issue is, as I understand it, about *official* support for F# (a Microsoft language) on Microsoft's own .NET language runtime, using *stabilized* APIs, rather than *unofficial* support against *beta* APIs.

Trust me, I've tried quite a bit using and digging into Alxandr's YoloDev work, but the problem right now is that aspnet/v

[2015-09-14 20:30] sawilde commented on #1774
Okay - so is there another way this can be done currently or would something else have to be done - have other profiler tools experienced the same/similar issues?

[2015-09-14 20:34] jskulavik commented on #1714
@spencerwi Great point!  My only real point was that the community could help out and ideally shorten the development time associated making the *official* support come to life.  Pull requests are a beautiful thing, and I'm sure the ASPNET5 team would love to exercise the out-of-band development approach.

[2015-09-14 20:54] muratg commented on #1714
Thanks folks, as @jskulavik pointed out, the team is overloaded with V1 so had to cut some features to make room for core features + stability. These were hard cuts to make, and we're planning to bring most of these back post V1. (That's why these issues are not closed.)

That being said, I personally love F# and hope to see some community supported F# support in the meantime.

[2015-09-14 21:12] troydai commented on #2696
Well we do have work items to track the duplicate allocation of various things https://github.com/aspnet/dnx/issues/1446. And we're working on reducing the amount of string and duplicate data used in lock file reading.

Thanks @benaadams

@muratg I link this issue to our other performance bugs.

[2015-09-14 23:05] Tratcher opened #2703 "Not picking up linux binary for System.Net.Http.dll"
https://github.com/aspnet/Security/issues/415

Dnx embeds the coreclr binaries for linux/mac, including System.Net.Http.  Security also uses System.Net.Http, but the package only contains the windows binaries. @davidfowl said that dnx should load the linux binary for you, but that the directory structure is wrong so it doesn't work right now. Fix it.

Eventually the coreclr packages will contain b

[2015-09-14 23:36] anuchandy commented on #2565
+1

[2015-09-15 01:02] davidfowl commented on #1774
Do you know what the requirements are? Is it the pdb files and dlls Beinf on disk?

[2015-09-15 04:16] sawilde commented on #1774
what we found was that the dll being loaded had been modified from the original dll supplied and no longer aligned with the PDB as such the instrumentation that was using the PDB to align IL with source code no longer worked.

[2015-09-15 04:52] rowanmiller commented on #2663
Yeah I was just raising it as a scenario that is easy under full .NET and hard (or impossible) under DNX. If we don't care about the scenario then that's fine... just wanted to make sure we knew about it and made a conscious decision :smile:. Consider it more "feedback from using DNX" rather than a request to make it work.

BTW the scenario came up as we use AppDomains as a way to run cold start b

[2015-09-15 05:02] davidfowl commented on #2663
Yep, it's one of those things that are a limitation if you don't publish before running. I'm looking running in a mode where things are put on disk so that scenarios like this are possible.

[2015-09-15 06:44] EGrishin commented on #2666
@moozzyk, i have dnx.win32.dll in runtime folder.
![default](https://cloud.githubusercontent.com/assets/9007132/9869635/488cf5d2-5b8e-11e5-91a9-e25788f72f42.png)

[2015-09-15 08:53] davidfowl commented on #2700
@victorhurdugaci If there are refactorings you need to do as part of this change to make it easier to consume code shared by the runtime please make those changes in separate PRs.

[2015-09-15 12:51] filipw opened #2704 "DNU restore fails on OS X with ZIP exceptions"
I'm trying to restore packages using `dnu restore` on OS X and a bunch of packages report `Unknown header` and then follow by a ZIP exception stacktrace

[code]

[2015-09-15 14:31] BrennanConroy commented on #2704
Mono 3.12.1? Upgrade mono

[2015-09-15 14:47] anurse commented on #2704
Is there a way for us to detect the Mono version and fail fast? Heck, we could even do it in the `dnx` shell script

[2015-09-15 15:37] jonesnc commented on #2607
Also seeing this error on Fedora 22 on version `1.0.0-beta8-15616` after following this guide http://dotnet.github.io/core/getting-started/

[2015-09-15 15:50] davidfowl commented on #2704
Would be nice wouldn't it.

[2015-09-15 16:01] anurse commented on #2704
Honestly it can kinda be as simple as some `mono --version | grep` action. Maybe I'll play with it later.

[2015-09-15 16:09] filipw commented on #2704
thanks, Mono upgrade indeed fixed it. Feel free to close it

[2015-09-15 16:23] muratg commented on #2663
Putting this into Backlog instead of closing per @davidfowl's last comment.

[2015-09-15 17:09] muratg commented on #2704
Thanks @filipw

[2015-09-15 17:09] #2704 closed

[2015-09-15 17:10] muratg commented on #2703
Where would this assembly be loaded from instead?  Is it special casing for Linux?  And for OS X too?

[2015-09-15 17:12] muratg commented on #2702
@moozzyk Need to do this in Beta 8?

[2015-09-15 17:14] muratg commented on #2687
Closing this one. If you still have the issue please feel free to file another bug. Thanks!

[2015-09-15 17:14] #2687 closed

[2015-09-15 17:17] moozzyk commented on #2702
@muratg - this is polish. can be done as part of sign off..

[2015-09-15 17:17] muratg commented on #2666
@EGrishin do you get this error when you run a dnx or dnu?

[2015-09-15 17:23] muratg commented on #2639
This seems to work for me
[code]

[2015-09-15 17:28] muratg commented on #1770
@troydai Does something like this exist currently?

[2015-09-15 17:33] muratg commented on #1776
The current bug that tracks this is here: https://github.com/aspnet/dnx/issues/2332.  Closing this one.

[2015-09-15 17:33] #1776 closed

[2015-09-15 17:43] muratg commented on #1821
Feel free to send a PR.  BTW, this is now a sources package. :)

[2015-09-15 17:44] muratg commented on #1819
Feel free to send a PR.  BTW, this is now a sources package. :)

[2015-09-15 17:44] muratg commented on #1820
Feel free to send a PR.  BTW, this is now a sources package. :)

[2015-09-15 17:58] muratg commented on #1753
@fals Let us know if you're still hitting this issue with beta7/beta8 bits.

[2015-09-15 17:58] #1753 closed

[2015-09-15 18:01] muratg commented on #1921
https://github.com/aspnet/dnx/issues/2332 is tracking the changes coming in for the lock file. Closing this one.

[2015-09-15 18:01] #1921 closed

[2015-09-15 18:01] bricelam commented on #1820
The help command (but not the help option) was removed in #2139. As far as I'm concerned, this issue can be closed.

[2015-09-15 18:01] #1820 closed

[2015-09-15 18:03] bricelam commented on #1821
@anurse Do you know if these are generally supported? I know bash supports them...

[2015-09-15 18:06] bricelam commented on #1819
I'm on it... as soon as I find the time.

[2015-09-15 18:28] moozzyk opened #2706 "ef command does not work with user secret"
When running ef migrations commands the settings from the secrets file are not picked up. I am filing this in the dnx repo since I see that the `Startup` ctor is actually executed but the Environment is always set to `Production` - even if I set `ASPNET_ENV` env variable to `Development`. I did not investigate it beyond checking that Enviornment is not what `ASPNET_ENV` says.

[2015-09-15 18:36] moozzyk opened #2707 "Don't return -1 exit code from managed code"
Follow up to https://github.com/aspnet/dnx/pull/2691 but in managed code - on non-windows valid exit codes are 0-255. However, in several places we return `-1` which is then converted to 255 which is wrong. We should return 1.
(Especially review all `return -1` and `Task.FromResult(-1)` occurrences)

[2015-09-15 18:41] EGrishin commented on #2666
@muratg 'dnx' and 'dnu' get one error: dnx.win32.dll could not be loaded. Last error: 87

[2015-09-15 18:42] anwalkers opened #2708 "DNX Environment Variable for wwwroot local and deployed to Azure"
I have a API controller that discovers JavaScript/HTML/CSS/locale plugin modules, using a json metadata file in a folder under wwwroot and then adds them to the DOM when the service returns. I can use Startup.Configuration["DNX_APPBASE"] on my localhost since the "wwwroot" is under the "src/<app name>/wwwroot" directory structure. But when I publish to Azure "wwwroot" moves to "D:\home\site\wwwroo

[2015-09-15 18:44] pranavkm commented on #1770
It's not the same thing but any `DiagnosticMessages` added to the compile context should show up in VS.

[2015-09-15 18:50] moozzyk commented on #2666
@EGrishin - can you share your runtime directory? I am wondering if this is related to the runtime itself or the environment/machine. Also a few more questions:
- does this happen only on runtime 15594 or also on other runtimes you have installed (like beta7, 15548 etc.)
- have you tried the same runtime on a different machine (ideally win7 english, non-win7 russian (I think it's russian an not uk

[2015-09-15 19:48] troydai commented on #1770
@pranavkm is correct.

[2015-09-15 20:21] anurse commented on #1821
I have no idea ;). I believe it is always parsed and converted to ConsoleColor (meaning it's weirdly round-tripped on *nix), but if you want to adjust `AnsiConsole` to pass the escape sequence through on *nix, I'd be happy to see that ;)

[2015-09-15 22:11] davidfowl commented on #2708
Use IHostingEnviornment.WebRoot.

[2015-09-15 22:11] #2708 closed

[2015-09-15 22:11] bricelam commented on #1821
@anurse Per @BrennanConroy's PR #1724, it *does* pass-through outside of Windows. :wink:

[2015-09-15 22:14] BrennanConroy commented on #1821
We'd need to update the parsing in Common Testutils too

[2015-09-15 22:30] dougbu commented on #2661
Our tracking bug is aspnet/External#33. Lower-level problem of interest is now dotnet/corefx#3258.

[2015-09-15 22:40] victorhurdugaci opened #2711 "[Announcement] dnx minimum version check"
Discussions for https://github.com/aspnet/Announcements/issues/68

[2015-09-15 23:07] anurse commented on #1821
Ooh, cool. I hadn't seen that PR. Yeah, we should update the Windows parsing then.

[2015-09-15 23:08] moozzyk commented on #2706
/cc @bricelam

[2015-09-15 23:31] troydai commented on #2667
Hi @Anderman , I'd like to point out you're using the VS2015 RC. Can you try the same scenario with VS 2015 RTM?

[2015-09-16 00:55] JunTaoLuo commented on #2564
This is fixed by @davidfowl in 9b710db84a917260eac368f7f5c272e4d26e984f

[2015-09-16 00:55] #2564 closed

[2015-09-16 01:07] tmds opened #2712 "AppVeyor build fails to resolve dnx451 dependencies"
When I build.cmd my project on my local machine, it works fine.
On AppVeyor executing the tests throws an exception:
[code]
My NuGet.Config looks like this:
[code]
On AppVeyor and on my local machine I set the following environment variables:
[code]

[2015-09-16 03:29] xanather commented on #2190
Is there any chance this could get looked at @davidfowl or anyone who works on DNX?

[2015-09-16 03:31] davidfowl commented on #2190
Sure @glennc can we setup a design meeting for this?

[2015-09-16 04:14] NeelBhatt commented on #2711
I like this :+1:

[2015-09-16 06:48] Antaris commented on #2711
What is a use case for disabling this check as I can't really think of any myself?

[2015-09-16 06:50] victorhurdugaci commented on #2711
Outside of our team it might not be very common but for us it's extremely useful for us because we can have multiple builds per day and it makes it hard to keep everything in sync on the dev box.

[2015-09-16 09:39] Alxandr commented on #1714
I'd just like to point out that the API used to implement the F# compiler on top of DNX has been mostly stable for months. I've had to make a few, really small changes, due to refactorings in DNX, but nothing that has taken any major effort or rewrite. I'm not saying go use my YoloDev F# support in production or anything (I mean, the name should give you that hint if anything), but all in all it's

[2015-09-16 10:12] KodrAus commented on #1714
I'm wondering what 'F# support in DNX' should look like idealy. Is a plug to the F# compiler sufficient, or should support for F# go down to Roslyn?

[2015-09-16 10:13] roji commented on #2190
If you guys need any more input on usage scenarios etc. let me know!

[2015-09-16 10:14] davidfowl commented on #1714
Roslyn supporting F# really has nothing to do with the DNX. The compiler API in DNX is separate from roslyn itself. It just happens to be our default experience.

[2015-09-16 10:17] KodrAus commented on #1714
@davidfowl I get that, I'm trying to be philosophical

[2015-09-16 10:58] xasx commented on #2607
Just verified that the guide actually works as written in a `ubuntu:latest` Docker container.

Maybe `mono` or other libs' installation differs slightly on platforms?

At first sight I cannot see any difference in `~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta8-15618/bin/lib/Microsoft.Dnx.Tooling` at least.

[2015-09-16 14:35] muratg commented on #2712
Are you trying to build the dev branch?

[2015-09-16 15:15] jonesnc commented on #2607
I was able to get it working by following [this](https://github.com/dotnet/coreclr/issues/1502#issuecomment-138003654).

[2015-09-16 15:23] bricelam commented on #2706
I noticed that it was set to Production yesterday too... @HaoK?

[2015-09-16 15:27] bricelam commented on #1821
Cool. I did a prototype a while ago at https://gist.github.com/bricelam/39d8cf65f3da684657c9 I also tried to fix some of the strange behavior around bolding.

[2015-09-16 15:43] BrennanConroy commented on #2607
System.Security.Cryptography.Native.so was already in the bin folder

[2015-09-16 15:45] BrennanConroy commented on #1821
That wont work Cross-Plat, you can do a get on the console color :(

[2015-09-16 15:45] bricelam commented on #1821
Hence *prototype* :wink:

[2015-09-16 15:47] tmds commented on #2712
I am building a project of my own: https://github.com/tmds/Tmds.SockJS
The master branch should work in a beta7 enviroment. It works fine on my machine, but for some reason the tests don't run on AppVeyor.
The error message is talking about missing dependencies (4.0.0.0), but I don't know what to do about it. Any pointers on what I should change or how I can debug are welcome.

[2015-09-16 16:09] janpieterz commented on #2467
I have replicated this using a normal file system publish as well, so it seems like it's not purely an Azure publish.

[2015-09-16 16:11] BrennanConroy opened #2714 "Fix duplicates in restore summary"
Nuget config files are repeated when multiple projects passed into a single restore, also installed packages count is odd

[2015-09-16 16:14] #2714 closed

[2015-09-16 16:27] marcind commented on #2682
To round out the story of loading the runtime from the cache, it would be great to make it easier to use dnvm to install dnx runtimes into a machine-wide location.
The reason for this is when the app runs in IIS it will run in the context of a specific identity (tied to the app pool) which might not have the dnx installed (i.e. DNX_HOME and PATH set properly).

[2015-09-16 16:29] davidfowl commented on #2682
@marcind That's already been done in the latest dnvm. There's a global install location now and it is appended to DNX_HOME.

[2015-09-16 16:44] muratg commented on #2712
Beta 7 is already released, so you shouldn't need the aspnetmaster feed, everything a regular app needs is on nuget.org (beta7.)

Are you depending on an exact version of `System.Reflection.Extensions` package?

Sorry, I'm unable to look at your repo due to its license, but if you paste your project.json here, we can try to see what the problem may be.

[2015-09-16 16:54] marcind commented on #2682
@davidfowl will using `-Global` and `-Persistent` apply to the whole system or just the user running the command?

[2015-09-16 16:56] davidfowl commented on #2682
Whole system.

[2015-09-16 17:01] marcind commented on #2682
Hmm, can't see `[EnvironmentVariableTarget]::Machine` being used anywhere in the dnvm.ps1 source. Only `[EnvironmentVariableTarget]::User`.

[2015-09-16 17:02] anurse commented on #2682
We don't support `-Persistent` at the machine level. You can install to the machine location but can't modify the global PATH in dnvm right now.

[2015-09-16 17:08] marcind commented on #2682
So I havn't thought about the new process model when hosting in IIS, but assuming you're running multiple app pools with different identities, setting the machine location would be necessary to make the global dnx location work.

[2015-09-16 17:28] muratg commented on #2707
@moozzyk If simple to do and not risky, we can pull back to beta 8.

[2015-09-16 17:40] anurse commented on #2682
If you're running multiple app pools, do you really want them all to share the DNX version? We didn't find much use case for `dnvm use -persistent` because generally you want an app to be able to control it's DNX version, but let us know if we're wrong there.

There is definitely a use for a globally-defined `DNX_HOME` defining search paths, and I think we've got that. The batch file used to boots

[2015-09-16 17:45] muratg commented on #2706
Question from triage: Is this a specific thing that only prevents EF migrations command (because it loads Hosting from a command) or can it impact any user scenario?   If former, is there a possible workaround in EF migrations implementation?

[2015-09-16 17:45] anurse commented on #2682
FYI, it does look like the DNVM install script does **not** set `DNX_HOME` globally so that might be a gap in our strategy there. I believe the MSI **does** set that variable though.

[2015-09-16 17:46] muratg commented on #2703
:watch:

[2015-09-16 17:48] muratg commented on #2702
:+1: Let's do it while doing the sign-offs.

[2015-09-16 17:49] muratg commented on #2642
@ddobric Did you try using matching runtimes with the packages that you use?  Is this resolved for you?

[2015-09-16 17:50] anurse commented on #2703
Since at the moment we embed System.Net.Http in the DNX, we'd place it in the DNX runtime folder.

[2015-09-16 17:51] BrennanConroy commented on #2703
This could probably be fixed if we copy the dll to the bin folder as well as keep it in the Tooling folder

[2015-09-16 17:53] davidfowl commented on #2682
Fail! 😀

[2015-09-16 17:55] anurse commented on #2682
I believe it was removed because it means DNVM setup has to be run elevated (at least it does in order for this to work). We can review that decision, it's super easy to put back in.

[2015-09-16 18:10] marcind commented on #2682
I don't want all the app pools to share the DNX version. I want all the app pools to share the DNX runtime cache location. If I happen to have multiple apps targeting the same DNX version, then those binaries should be loaded from the same place.

I agree that `dnvm use` wouldn't be of much use when configuring a deployment target, because I want the application to explicitly define which runtime

[2015-09-16 18:11] bricelam commented on #2706
Looks like we (EF) could explicitly call `UseEnvironment(EnvironmentName.Development)`.

[2015-09-16 18:17] bricelam commented on #2706
There may be a separate issue with Hosting not honoring `ASPNET_ENV`.

[2015-09-16 18:19] tmds commented on #2712
I updated the license of my project to MIT, so you can have look now.
I am not depending on an exact version of the Extensions package. I think there is an issue resolving 'any' 4.0.0.0 package.
The project.json of the Tests looks like this:
[code]
Feel free to point out improvements to the project.json files in the solution.

[2015-09-16 18:28] moozzyk commented on #2706
This is what I am thinking - we should investigate and do the right thing if we don't it will pop up in random places.

[2015-09-16 18:30] phenning opened #2715 "Flow additional project.json properties into the assembly"
Currently the following project.json settings only flow into the nupkg:

[code]

We should flow these into the Assembly attributes as well..

[code]

[2015-09-16 18:32] tmds commented on #2712
LOL, AppVeyor seems to prefer an MIT License, now the project is building fine.
This build wasn't okay: https://ci.appveyor.com/project/tmds/tmds-sockjs/build/1.0.0-beta7-73
This build is: https://ci.appveyor.com/project/tmds/tmds-sockjs/build/1.0.0-beta7-74

[2015-09-16 18:40] natemcmaster commented on #2302
With #2677 "uap10.0" is recognized, but `dnu build` fails. Is this a separate issue?

[code]

[2015-09-16 18:41] anuraj opened #2716 "Runtime error - [Microsoft.AspNet.Server.WebListener.MessagePump] ProcessRequestAsync"
While running ASP.NET MVC App, I am getting an error like this.

error   : [Microsoft.AspNet.Server.WebListener.MessagePump] ProcessRequestAsync
System.MissingMethodException: Method not found: 'Microsoft.CodeAnalysis.Emit.EmitResult Microsoft.CodeAnalysis.Compilation.Emit(System.IO.Stream, System.IO.Stream, System.IO.Stream, System.IO.Stream, System.Collections.Generic.IEnumerable`1<Microsoft.Cod

[2015-09-16 19:26] muratg commented on #2712
LOL...  i guess AppVeyor was just being unreliable.

Your project.json looks fine BTW.   Closing this issue, let us know if you hit other issues.

[2015-09-16 19:26] #2712 closed

[2015-09-16 19:45] bricelam commented on #2706
Oops, sorry, automatically closed by merge. Re-opening for you guys to track.

[2015-09-16 20:09] davidfowl commented on #2716
Can you provide a sample that reproduces the problem with instructions on how to reproduce the problem?

[2015-09-16 23:14] anurse commented on #2302
Thats #2546, which I am currently fixing

[2015-09-17 00:17] anurse commented on #2682
Yeah, that should be fine. We're absolutely targeting that scenario. The script that is used to launch your app would search `DNX_HOME` to find the desired runtime, so as long as we ensure that the global install directory is on `DNX_HOME` we should be set. I'll file a bug on dnvm to look at this.

[2015-09-17 00:19] anurse commented on #2682
aspnet/dnvm#439

[2015-09-17 00:20] anurse commented on #2682
FYI, you'd just be installing the one MSI (the DNVM MSI), not an MSI per runtime. I agree that we should have an MSI-less option though.

[2015-09-17 01:44] anuraj commented on #2716
I just created a Basic Web Application with Yeoman generator.

Here is my dependencies in project.json

"dependencies": {
    "Microsoft.AspNet.Diagnostics": "1.0.0-*",
    "Microsoft.AspNet.Mvc": "6.0.0-*",
    "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-*",
    "Microsoft.AspNet.Server.IIS": "1.0.0-*",
    "Microsoft.AspNet.Server.Kestrel": "1.0.0-*",
    "Microsoft.AspNet.Server.WebListener": "1.

[2015-09-17 03:25] ShaneCourtrille commented on #2547
I started running into this on Windows 7 as well.  It occurred after I did a dnvm upgrade -r coreclr.  Oddly enough I was able to resolve by doing a dnvm upgrade -r clr.  I then did a 2nd dnvm upgrade -r coreclr and now everything is good again...

[2015-09-17 03:29] muratg opened #2720 "*.Sources packages should not have assemblies in them"
These are Source only assemblies. The packages currently contain assemblies inside `lib` folder.

[2015-09-17 07:16] davidfowl commented on #2716
What version of the DNX are you using? What are you using 1.0.0-* in your project.json? What actual versions exist in your project.lock.json

[2015-09-17 15:32] Eilon commented on #2720
Is that the full problem, or is the problem that despite there being a DLL in the package, it shouldn't get copied to the output directory of the consuming package?

I suppose fixing just this would likely solve the entire problem though.

But I'm mostly concerned about the .Sources.dll file appearing in the output of the consuming project.

[2015-09-17 16:11] troydai commented on #2671
New solution:
1. At runtime, stop validating lock file, let it run as is.
2. Validating lock file at compile time and design time (DTH). In terms of the project paths scan the disk.

[2015-09-17 16:16] daviatorstorm commented on #2574
I have the same problem.

VS 2015 Community
NuGet 3.2.0

Current package source https://nuget.org/api/v2

[2015-09-17 16:51] danroth27 opened #2723 "Create distro specific NET Core DNXs for Linux"

[2015-09-17 16:53] anurse opened #2724 "Add support for .NET Generations"
Add support for the .NET Generation TFMs (`dotnet5.1`, `dotnet5.2`, etc.)

[2015-09-17 16:53] anurse commented on #2724
Fixed in #2677

[2015-09-17 16:53] #2724 closed

[2015-09-17 16:57] anuraj commented on #2716
DNX Beta 7

![image](https://cloud.githubusercontent.com/assets/276411/9940057/07c97a12-5d8b-11e5-9c7d-4e0ef7add439.png)

Project.lock.json - contains Beta 8 references. (Microsoft.AspNet.Mvc/6.0.0-beta8-15793)

Is that creating problem?

[2015-09-17 17:06] angelsix opened #2725 "dnx kestrel. InvalidOperationException. Unable to resolve project '' from."
I have an ASP.Net 5 application that runs and works on Windows, Mac and Linux in desktop environments.

I can also run it on a Rasp Pi 2 with an ARM version of Arch Linux.

However, trying to run it on a custom board running ARM version of Ubuntu 15.04, no matter what runtime I used (beta 2,3,4,5,6,7) and mono 4.1.0.1738 whenever I run dnx kestrel I get.

[code]

I have no info to go off to help m

[2015-09-17 17:08] davidfowl commented on #2725
@angelsix Can you provide some better repro steps? What did you run?

[2015-09-17 17:16] davidfowl commented on #2683
@victorhurdugaci assigned to you

[2015-09-17 17:20] angelsix commented on #2725
1. Installed a fresh ubuntu ARM 15.04.

2. Installed all packages required and everything from here like dnvm, the runtimes and libuv etc... http://docs.asp.net/en/latest/getting-started/installing-on-linux.html

3. Built mono from tar file here 4.1.0.1738 http://download.mono-project.com/sources/mono/nightly/
 - Installed pre-reqs sudo apt-get install git autoconf libtool automake build-essential

[2015-09-17 17:21] #2656 closed

[2015-09-17 17:26] kirthik opened #2727 "Support dnx resources workflow with DTH"
https://github.com/aspnet/dnx/issues/2408 added support to resources from command line. We should add support for getting the flow working from VS too.

[2015-09-17 17:27] anurse opened #2728 "Assemble CoreCLR DNX from packages"
Use a project.json and runtime.json restore to assembly the CoreCLR DNX from packages.

Open Question: Where is `mscorlib.dll` and could we get `crossgen.exe` from a package? It's essential that these binaries and `coreclr.dll` be in sync AFAIK.

/cc @BrennanConroy @moozzyk @muratg @davidfowl

[2015-09-17 17:29] troydai opened #2729 "Unresolved project path from lock file cause NullRef in ApplicationHostContext"
When a relative project path from lock file can't locate the project reference, the `ProjectDependencyProvider` returns a `null`. It then cause a _NullRef_ later in `ApplicaitonHostContext` initialization.

Instead it should be marked as unresolved.

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime/DependencyManagement/ProjectDependencyProvider.cs#L22

https://github.com/aspnet/dnx

[2015-09-17 17:29] troydai commented on #2729
@muratg @glennc for triage
/cc @davidfowl

[2015-09-17 17:29] anurse opened #2730 "Create and test distro-specific DNXes"
We likely won't be able to ship a generic linux binary version of DNX for RTM due to CoreCLR incompatibilities. Until we work that out, we will create separate DNXes for our two officially supported distros: Ubuntu and CentOS.

We will REMOVE the `dnx-coreclr-linux-x64` package and ADD `dnx-coreclr-ubuntu-x64` and `dnx-coreclr-centos-x64` packages.

/cc @moozzyk @BrennanConroy @muratg @davidfowl

[2015-09-17 17:29] troydai commented on #2729
/cc @rynowak

[2015-09-17 17:39] angelsix commented on #2725
Just created a new fresh project on Windows in Visual Studio 2015, an ASP.Net Web Application. Built and run ok on windows.

Run on the ARM linux board:

 - dnu restore gives the following errors sometimes (did it on the above project too). But re-running dnu restore a few times it runs fine and completes ok. Seems like its an random bug.

Microsoft .NET Development Utility Mono-x86-1.0.0-beta7-15

[2015-09-17 17:39] davidfowl commented on #2725
2 More questions:

1. Are you using the beta5 dnx or the beta7 dnx?
2. Are you running `dnx kestrel` from the correct folder?

[2015-09-17 17:47] troydai commented on #2729
@muratg I'll assign this to me for now.

[2015-09-17 17:48] angelsix commented on #2725
Exact same output for both beta5 and beta7

Ooops. Yep went into the sub-folder where the json files are and run dnu restore and dnx . kestrel.

Now I get for the main project the following error:

System.Exception: Error -13 EACCES permission denied
  at Microsoft.AspNet.Server.Kestrel.Networking.Libuv.Check (Int32 statusCode) <0xb1fabbf8 + 0x00044> in <filename unknown>:0
  at Microsoft.AspNet.S

[2015-09-17 18:06] davidfowl commented on #2725
I'm closing out this bug. If you have a specific kestrel issue please file it on that repository

[2015-09-17 18:06] #2725 closed

[2015-09-17 19:29] bgeihsgt opened #2733 "[beta7] (Mono 4.0.4, Ubuntu 14) Running dnu publish hangs then crashes."
On an Ubuntu machine, I'm running `dnu publish` using beta7 on Mono 4.0.4.  It consistently hangs for a while and then mono crashes with a SIGSEGV.

Here's the output I'm getting:

[code]

[2015-09-17 20:57] #2546 closed

[2015-09-17 21:09] #2197 closed

[2015-09-17 21:46] #2405 closed

[2015-09-17 21:48] troydai commented on #2729
/cc @victorhurdugaci who hits this issue today as well.

[2015-09-17 22:18] victorhurdugaci opened #2735 "dnx writes to stderr when it shouldn't"
All the information below that's written by dnx ends up in stderr

[code]

[2015-09-17 22:27] moozzyk commented on #2735
I don't see it in the code - native code writes just to:
[code]
where `xout` is defined like this
[code]
on windows
and like this
[code]
on other platforms.

Maybe you need to add more context?

[2015-09-17 22:38] cheers00 opened #2736 "dnu publish"
I am using ```dnu publish``` and it is creating output folder with packages and src folder with source files. How to publish dlls instead of source files?

[2015-09-17 22:41] davidfowl commented on #2736
Use `--no-source`

[2015-09-17 22:46] muratg commented on #2736
`dnu publish --no-source --out ..\artifacts` should do it.  Closing as this was a question, and let us know i you hit issues.

[2015-09-17 22:46] #2736 closed

[2015-09-18 03:57] muratg commented on #2733
Have you seen this issue @BrennanConroy?

[2015-09-18 04:07] BrennanConroy commented on #2733
Might be https://bugzilla.xamarin.com/show_bug.cgi?id=30018

[2015-09-18 05:43] muratg commented on #2733
It looks like @bgeihsgt is seeing this consistently though.

[2015-09-18 05:57] JamesNK opened #2740 "dnu build error"
I get an error when building Newtonsoft.Json.Tests/project.json with dnu build

Since the errors come from files related to dependency injection I'm going to guess it is caused by Autofac.

Autofac 3.5 has "net40" and "portable-net4+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1" files. Maybe DNX is choosing the PCL over the net40 and getting confused?

And no errors are reported in Visual Studio

[2015-09-18 06:00] muratg commented on #2740
Yeah, it does look like `PCL` is being chosen... @anurse?

[2015-09-18 06:01] BrennanConroy commented on #2733
Ya, if its the same issue then that was also consistent.

[2015-09-18 07:00] JamesNK commented on #2740
FYI upgrading to Autofac 4.0.0 beta 7 fixed this error. It has a net45 folder.

[2015-09-18 07:22] leak opened #2741 "sqlite3.dll in Microsoft.Data.Sqlite is not copied to the output folder during dnu publish"
Tested on: `1.0.0-beta8-15618`

[code]

[2015-09-18 12:50] grahamehorner commented on #2442
was this fixed in the beta7 release; I'm still seeing the issue with aspnet console applications?

[2015-09-18 14:27] BrennanConroy commented on #2442
Could you give some details please

Sent from my HTC

----- Reply message -----
From: "Grahame Horner" <notifications@github.com>
To: "aspnet/dnx" <dnx@noreply.github.com>
Cc: "Brennan Conroy" <brecon@microsoft.com>
Subject: [dnx] CallContextServiceLocator.Locator is null on CoreCLR x-plat (#2442)
Date: Fri, Sep 18, 2015 5:50 AM

was this fixed in the beta7 release; I'm still seeing the issue with

[2015-09-18 15:09] muratg commented on #2741
Could you paste your project.json?  And is it copied when you test with beta7 DNX?

[2015-09-18 15:10] davidfowl commented on #2741
This is a bug in our publish

[2015-09-18 15:12] leak commented on #2741
@muratg You can simply create an empty project, add `Microsoft.Data.Sqlite` and publish to see the effect. This is also the case on beta-7.

[2015-09-18 15:18] muratg commented on #2716
@anuraj That could be a problem as there have been differences in Roslyn bits between beta7 and beta8 DNXs.  Could you try with a beta8 DNX as well?

[2015-09-18 16:07] roji commented on #2190
Here are some input thoughts on what is needed and how to achieve it. Some common versioning scenarios (bumping refers to all version bumps, not just prerelease tags):

* Manual version bumping per project: update each project.json's version by hand (currently supported)
* Manual version bumping for all projects in a solution: update global.json by hand once
* Solution-wide automated versioning (e

[2015-09-18 16:42] pranavkm commented on #2190
Should the variable be named `DNX_ASSEMBLY_VERSION`? `DNX_VERSION` sounds like something you'd use to specify the DNX version, not the application being built.

[2015-09-18 17:01] roji commented on #2190
@pranavkm good point. `DNX_ASSEMBLY_VERSION` sounds a bit misleading to me since it seems to imply that the `AssemblyVersion` attribute is affected, which I don't think is the case (that could be a feature on its own). Maybe `DNX_PROJECT_VERSION`...

[2015-09-18 17:02] pranavkm commented on #2190
`DNX_PROJECT_VERSION` sounds good to me.

[2015-09-18 17:10] muratg commented on #2735
@victorhurdugaci What's the repro? Did you run DNX directly or through some script or something? Perhaps something else is writing to stderr?

[2015-09-18 17:13] muratg commented on #2703
Yes, I think we should do that.

[2015-09-18 17:27] #2475 closed

[2015-09-18 17:27] anurse commented on #2475
Closing and NOT tagging Done as @davidfowl has been mostly working on this and should have most of it done now.

[2015-09-18 17:37] moozzyk commented on #2735
(or redirecting standard streams)

[2015-09-18 19:01] abpiskunov opened #2743 "need an explicit “link” between dependency diagnostic warning/error and a dependency"
In order to implement this spec (see bottom for dependencies tree): https://github.com/aspnet/specs/blob/master/tooling/proj-json-missing-dep.md we also need an explicit “link” between dependency diagnostic warning/error and a dependency.

Warnings/errors that we receive now, don’t have a code we could reference (even if they would , how do we parse it to determine which dependency it is related t

[2015-09-18 19:02] abpiskunov opened #2744 "need DTH send us a new property saying which dependency in the dependency graph wins and it’s version is used elsewhere"
: In order to implement this spec: https://github.com/aspnet/specs/blob/master/tooling/different-package-versions.md we would need DTH send us a new property saying which dependency in the dependency graph wins and it’s version is used elsewhere. I checked DTH log and in the graph we receive I don’t have info I could use.

[2015-09-18 19:06] anurse commented on #2467
It looks like this is caused by a combination of https://github.com/aspnet/Tooling/issues/193 and a real issue in publish. I was able to get a repro of the publish issue in the latest dev code by creating a new xproj and a csproj, adding a reference, restoring the wrapper proj (to work around the tooling issue), and then publishing. Both command-line and VS publish fail with ` is not specified in

[2015-09-18 21:08] troydai commented on #2744
We will add a boolean property to the type representing the dependency to indicate if this dependency overrides other dependency.

[2015-09-18 21:09] troydai commented on #2744
/cc @muratg this is a beta-8 task suggested by tooling team. Please triage.

[2015-09-18 21:38] bgeihsgt commented on #2733
I don't think that is the issue.  We aren't caching any DNS on this box.  And that error message in the bug is different than ours.  Our error message has no stack trace and is a SIGSEGV instead of a SIGABRT

[2015-09-18 22:17] troydai commented on #2743
Proposed new error/warning entity (or may be reuse existing `DependencyDiagnosticss`)
[code]

[2015-09-18 22:18] troydai commented on #2743
/cc @muratg this is a tooling team proposed beta 8 task

[2015-09-18 22:48] NTaylorMullen opened #2747 "Need to handle multiple cases of "NuGet.config"."
I did a partial fix to updating DNX to understand the new NuGet.config (required by nuget.exe v3). You typically won't see issues until you go cross plat where file systems are case sensitive.

For context on this issue see the comment I left on the [commit](https://github.com/aspnet/dnx/commit/4cb916d2e0f88d6a62fa5224dbb5e65e77523068).

[2015-09-18 22:59] jeremymeng commented on #2733
I am hitting this too, with a nullRef though

[code]

[2015-09-18 23:43] Flavien opened #2748 "(Ubuntu) dnu and dnx not working when running as unprivileged user"
I'm installing the DNX (1.0.0-beta7) on Ubuntu using this, as seen in the asp.net dockerfile.

[code]

Then if I call `dnu` or `dnx` when running as root, it works as expected, however when running as an unprivileged user,  they just return (error code 5) with no output.

Any idea what's happening?

[2015-09-19 01:25] troydai commented on #2729
Fixed in 6944973dd0b2b1e2a6ca942b92180a9751d1688e

[2015-09-19 01:25] #2729 closed

[2015-09-19 02:10] anuraj commented on #2716
I tried dnx beta 8 and it started working. I deleted all the existing ones and reinstalled Beta 7 and Beta 8.

[2015-09-19 02:58] muratg commented on #2716
Sounds good. Closing. :)

[2015-09-19 02:58] #2716 closed

[2015-09-19 04:55] #2565 closed

[2015-09-19 05:16] moozzyk commented on #2565
@Eilon @muratg: Managers dream come true : moozzyk added this to the 1.0.0-beta8 milestone just now

[2015-09-19 06:00] muratg commented on #2565
@moozzyk :musical_note:

[2015-09-19 06:31] moozzyk commented on #2565
:clap:

[2015-09-19 10:31] davidfowl opened #2750 "PackInclude broken for recursive wildcards"
I tried to use packInclude on kestrel to package native binaries (specifically everything in here https://github.com/aspnet/KestrelHttpServer/tree/3470c6206a0a9c7a4ba5b22e00a03567409cbe27/src/Microsoft.AspNet.Server.Kestrel/native)

I modified `project.json` in `Microsoft.AspNet.Server.Kestrel` to have the following

[code]

Expected it to preserve the layout:

[code]

But actual

[code]

Somehow

[2015-09-19 11:26] louislewis2 opened #2751 "Referencing dll's with same name."
I found an issue today as I was developing our solution. The project does not handle this as expected.

To reproduce.
1. Create 2 class library projects (Acme.Wrapper.600, Acme.Wrapper.700)
2. From Acme.Wrapper.600 reference dll from disk called Acme.dll (V6.0.0)
3. From Acme.Wrapper.700 reference dll from disk called Acme.dll (V7.0.0)
4. Note that both now contain "Acme": "1.0.0-*" in project.jso

[2015-09-19 16:11] ddobric opened #2752 "dnu restore/pack/build etc throws a NullReferenceException when project.json is in the root directory of a drive"
I created an application in folder "C:\temp\netcoreapp\src\netcoreapp".
After  executing subset q: "C:\temp\netcoreapp\src\netcoreapp" following fails:
q:\dnu restore

Exception:

[code]

[2015-09-19 16:12] muratg commented on #2744
Tentatively putting this in Beta8, though if it doesn't fit, we'll need to move.

[2015-09-19 19:38] Eilon commented on #2565
:smile:

[2015-09-19 19:42] davidfowl commented on #2565
@moozzyk but it isn't marked as done

[2015-09-19 19:52] davidfowl opened #2753 "Find entrypoints at compile time instead of runtime"
This will remove all of the searching we do at runtime. We can look for the entry point in the roslyn compiler and mark the assembly with an attribute [DnxEntryPoint] or something similar. We can still do the scan as a fallback.

[2015-09-19 20:32] Eilon commented on #2753
Fascinating. Do you envision allowing a user to manually mark a method with `[DnxEntryPoint]`?

[2015-09-19 20:36] davidfowl commented on #2753
Yes, although I'm trying to reduce the dependency on DNX itself. So maybe we look for that attribute by name instead of by type. An alternative would be to make an assembly with a real ECMA compliant entrypoint (public static void Main) and move some of our bootstrapping logic into the assembly itself:

[code]

There are some issues with this like how does DI work, do we need to inject in the gene

[2015-09-19 20:47] davidfowl opened #2754 "Add support for producing ecma compliant "exe""
This will allow us to use dnx to produce the host as well.

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Host.Mono/EntryPoint.cs

[2015-09-19 20:50] davidfowl opened #2755 "Remove design time host plugin model"

[2015-09-20 01:01] davidfowl commented on #2032
/cc @anurse

[2015-09-20 01:01] #2584 closed

[2015-09-20 08:20] davidfowl opened #2759 "Support DTH mode that drops assemblies on disk"
The host would pass the output path on the Initialize message. If the path was set then assemblies would be output at this location.

ApplicationHost would also support this mode and the host would launch dnx with the correct output location to load project dlls.

[code]

The runtime doesn't connect to DTH in this case, it finds assemblies on disk using `Path.Combine(projectPath, projectName, targ

[2015-09-20 08:23] davidfowl opened #2760 "Rename the --port flag"
--compilation-server-port Need to leave in the port flag for older versions of Visual Studio but will eventually remove it.

[2015-09-20 09:25] davidfowl opened #2762 "Build mono entrypoint like the other projects"
Don't special case mono's entrypoint in the makefile anymore. Relies on #2754

[2015-09-20 14:12] ddobric commented on #2642
All worked fine, after I used following references:
"System.Collections": "4.0.10-beta-23019",
"System.Console": "4.0.0-beta-23019",
"System.Linq": "4.0.0-beta-23019",
"System.Threading": "4.0.10-beta-23019",
"Microsoft.CSharp": "4.0.0-beta-23019"

I obviously have used some libraries, which are right now not supported at ARM: dnx-coreclr-win-arm.1.0.0-beta7-12364

But after all, it still remain f

[2015-09-20 16:49] #2754 closed

[2015-09-20 17:09] davidfowl commented on #22
@moozzyk With the recent refactoring is it easy to add command line options in the native code?

[2015-09-20 18:13] akoeplinger commented on #2747
Can we please just make it "nuget.config" and be done with all the casing shenigans :smile:

[2015-09-20 19:09] moozzyk commented on #22
Yes, if they are shown in the host options.

[2015-09-20 19:39] MartinJohns opened #2763 "NodeJS fails to call "dnu restore" with CoreCLR"
I created a very simply script `test.js`:

    var exec = require('child_process').exec;
    exec('dnu restore', function(err, stdout, stderr) {
        console.log('stdout: ' + stdout);
        console.log('stderr: ' + stderr);
        console.log('err: ' + JSON.stringify(err, null, 4));
    });

Now calling this code like this:

    node test.js

Results in this output:

    stdout:
    stderr:

[2015-09-20 19:42] Jetski5822 commented on #2747
yeah, I kind of agree, you have packages.config all lowercase for example.

[2015-09-20 19:44] davidfowl commented on #2743
We need to do a few things:

- DiagnosticsMessage should have a Source property that's of type object
- When we make dependency diagnostics we should set the source to be the library description.
- DTH can cast the source and return the appropriate data. I think you only really need the name.

[2015-09-20 19:51] davidfowl commented on #2763
/cc @stephentoub

[2015-09-20 20:22] teamneusta commented on #2687
msbuild still fails on our build server. Problem now is that packages are restore in .dnx\packages\, but msbuild searches for packages in .nuget\packages directory.

[2015-09-20 20:23] davidfowl commented on #2687
@teamneusta We'll be unifying that in a later release, you can override it with by setting the NUGET_PACKAGES environment variable.

[2015-09-20 23:05] pranavkm commented on #2747
This should be already fixed - https://github.com/aspnet/dnx/commit/9dca281a9594eec292c0bb502e31535900a23223. Similar changes need to happen on NuGet's side to ensure the casing behavior is unified.

[2015-09-20 23:55] NTaylorMullen commented on #2747
@pranavkm your changes don't account for this do they? https://github.com/aspnet/dnx/blob/9dca281a9594eec292c0bb502e31535900a23223/src/Microsoft.Dnx.Tooling/NuGet/Core/Configuration/Settings.cs#L177-L178

[2015-09-21 00:40] jderus opened #2764 "Xproj unable to locate a referenced 4.5.1 Project"
I have the Beta7 Tooling.

Repro:
1) Create a Class Library (Package) Project
2) Create a Class Library Project (4.5.1)
3) Go to Project in Step 1, RClick->Add Reference
4) Select Solution and check the project from Step 2

Result:
Project.json is updated, but Output shows "Unable to locate"

Expected:
Project is located and referenced correctly, or is not selectable in the first place.

[2015-09-21 00:41] stephentoub commented on #2763
Thanks for the details, @MartinJohns.  I have as hunch what the issue is and that it's manifesting due to how node is redirecting the standard descriptors. I'll try to repro what you're seeing and get back to you.

[2015-09-21 02:39] akoeplinger commented on #2754
I presume this fixes https://github.com/aspnet/dnx/issues/1997 as well?

[2015-09-21 02:40] anurse commented on #2032
`win81` is the correct normalized short-form name for `.NETCore, Version=v4.5.1`... The tooling should be using long-form names everywhere since they are unambiguous.

[2015-09-21 06:52] borgdylan commented on #2754
With this option, a compiler will still have to use the ".dll" extension when ordered to spit out files to disk?

[2015-09-21 06:53] davidfowl commented on #2754
@akoeplinger Hah, didn't even see that.

[2015-09-21 06:54] davidfowl commented on #2754
@bojanrajkovic You can do what you want to really. We're not changing the .dll extension.

[2015-09-21 06:54] davidfowl commented on #1997
We added support for emitting an entrypoint https://github.com/aspnet/dnx/issues/2754

[2015-09-21 06:54] #1997 closed

[2015-09-21 06:55] davidfowl commented on #2754
Makes me wonder if we should call it emitEntryPoint so we don't confuse people when the output isn't an exe.

[2015-09-21 07:18] MartinJohns commented on #2763
@stephentoub Great to hear, thanks!

In the meanwhile, if anyone runs across this issue, this is my temporary solution:

    var exec = require('child_process').exec;
    var spawn = require('child_process').spawn;
    var fs = require('fs');
    var tmp = require('tmp');

    var myExec = function (command, params, callback) {
        var isWin = /win/.test(process.platform);
        if (isWin) {

[2015-09-21 07:49] davidfowl commented on #2754
Done, the compiler option is emitEntryPoint

[2015-09-21 08:19] angelsix opened #2766 "Visual Studio Restore packages uses wrong runtime"
Not sure if its linked directly to VS or to dnx, but if you create a new web project, change project.json to only target the coreclr ("frameworks": { "dnxcore50": { }}), and right click on the Restore Packages in Visual Studio, the error output shows its always trying to restore from a clr runtime not a coreclr runtime.

PATH=.\node_modules\.bin;C:\Program Files (x86)\Microsoft Visual Studio 14.0\

[2015-09-21 08:20] davidfowl commented on #2766
Visual studio always uses the non .NET Core dnx to restore packages and it doesn't really matter that it does.

[2015-09-21 08:21] davidfowl commented on #2766
The issue you're running into is that you need to update your tooling to beta7. See http://www.microsoft.com/en-us/download/details.aspx?id=48738&fa43d42b-25b5-4a42-fe9b-1634f450f5ee=True

[2015-09-21 08:21] #2766 closed

[2015-09-21 08:23] #1715 closed

[2015-09-21 08:24] davidfowl commented on #1715
Closing this because it has to be done. We're going to look at caching this in DTH. Will file a specific issue for doing that across the solution.

[2015-09-21 10:37] akoeplinger commented on #2754
Great :clap:

[2015-09-21 14:36] abpiskunov commented on #2032
How do we get this correct-long-form name for each framework moniker ? We take monikers that runtime sends us and don't have our own name resolution logic.

[2015-09-21 14:37] abpiskunov commented on #2032
In any case , runtime should be consistent with the info it sends us.

[2015-09-21 15:21] davidfowl commented on #2032
We should fix this

[2015-09-21 17:42] bojanrajkovic commented on #2754
@davidfowl Heh, I think you meant @borgdylan. Was wondering what I'd gotten myself into this time.

[2015-09-21 17:45] anurse opened #2768 "Refactor publish to work entirely through the lock file"
The lock file should have everything needed by `dnu publish`, now that it contains projects. Let's refactor publish to use that.

/cc @davidfowl

[2015-09-21 17:47] borgdylan commented on #2753
Automatic injection of an attribute would mean that specialized compiler forks would be needed just for use with DNX as specific logic would be needed just like with "static <type> main". Using an attribute from a package or using a naming convention would be best.

Also why would specific searching be carried out apart from looking for Program.Main in the project that dnx run gets invoked on?

[2015-09-21 17:54] davidfowl commented on #2754
Oops! 😀

[2015-09-21 17:55] borgdylan commented on #2720
If the assemblies will be removed consider changing some of those projects to normal ones. There are utilities like the CommandlineUtils that get used by people that are not necessarily on c#. In that case they cannot use the shared source code so they would need to reference the compiled library instead.

[2015-09-21 17:57] borgdylan commented on #2754
@davidfowl I thought the answer was not meant for me. Thanks for clearing this. Now I can implement the right behaviour in my provider.

[2015-09-21 18:45] anurse commented on #2545
Moving to RC, this is a bug and shouldn't require design changes. /cc @muratg

[2015-09-21 18:56] #2467 closed

[2015-09-21 19:03] zhangxin511 commented on #2703
Hey gentles,
With helps from @Tratcher and our architecture, I am able to get some response using HttpClient in Linux:
We upgraded dnvm to coreclr beta8-15618, and copied System.Net.Http.dll and System.Net.Http.Native.so from ~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta8-15618/bin/lib/Microsoft.Dnx.Tooling/ to ~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta8-15618/bin/, and use HttpClient met

[2015-09-21 19:14] anurse commented on #2720
Well, the problem with that is that the dll would be completely empty. We auto-exclude "shared" files from compilation. If a binary package is needed, we'd produce a separate non-Sources build.

[2015-09-21 19:17] borgdylan commented on #2720
That would be the right thing to do. Do you make a non-sources build for anything that is non-internal and useful to the DNX ecosystem in general?

[2015-09-21 19:20] anurse commented on #2720
We do not at the moment because those packages aren't really designed for "official public consumption" (which is a major reason they are Sources packages). Others have and do use them and that's OK, but they are only officially supported as Sources packages.

We could discuss making official binary distributions but I'm not sure we are prepared to do that for 1.0.0. In the interim, you could tota

[2015-09-21 19:30] Tratcher commented on #2703
Is the response compressed? I wonder if the Linux client isn't auto-decompressing.

[2015-09-21 19:46] muratg commented on #2545
:+1:

[2015-09-21 20:48] divega commented on #2289
I don't think there is anything actionable left here. For DI, we decided to remove the `ConfigureXyz()` methods and have the `AddXyz()` methods take `Action<TOptions>` more consistently. We are still working on making the usage in middleware more consistent and simple. That is tracked at https://github.com/aspnet/Options/issues/78.

cc @HaoK

[2015-09-21 20:48] #2289 closed

[2015-09-21 20:58] muratg commented on #2594
@anurse @moozzyk @BrennanConroy

Any ideas on this one guys?

[2015-09-21 21:01] moozzyk commented on #2594
We don't own `System.Runtime.InteropServices.RuntimeInformation` don't we? It's probably on CoreClr. We have `IRuntimeEnvironment`.

[2015-09-21 21:01] BrennanConroy commented on #2594
Ya, this is because the dll in the nupkg was windows specific.

[2015-09-21 21:03] BrennanConroy commented on #2594
Later versions of this package have a runtime.json with osx and Linux targets defined

[2015-09-21 21:26] muratg commented on #2594
@BrennanConroy So is this fixed now?

[2015-09-21 21:28] BrennanConroy commented on #2594
It might be once Coherence passes.

[2015-09-21 21:31] davidfowl commented on #1063
Closing as dupe of https://github.com/aspnet/dnx/issues/726

[2015-09-21 21:31] #1063 closed

[2015-09-21 22:12] zhangxin511 commented on #2703
Yes, the response is compressed. The header returns when GetAsync to google.com:
  Content-Type: text/html; charset=ISO-8859-1
  Content-Encoding: gzip
  Content-Length: 50309

But I still not get anything after decompress.
The source code is:
using System;
using System.IO;
using System.IO.Compression;
using System.Net;
using System.Net.Http;
using System.Threading.Tasks;

namespace TestClient
{

[2015-09-21 22:41] muratg commented on #2594
@BrennanConroy Please test this once we have Coherence.

[2015-09-21 22:47] anurse commented on #2594
This will still be broken after Coherence, it looks like the `runtime.json` for it refers to `osx` (version-less) but we fallback directly from `osx.10.10` to `unix`. Instead we should fall through `osx`. @BrennanConroy or I can fix that fairly easily.

[2015-09-21 22:48] anurse commented on #2594
The same should probably be done for `ubuntu.14.04` -> `ubuntu`

[2015-09-21 22:49] BrennanConroy commented on #2594
Should also update the NetCore.Platforms list too

[2015-09-21 22:51] anurse commented on #2594
I'll take this and also ping the necessary folks about updating that package.

[2015-09-21 23:35] ericstj opened #2771 "Batch restore on a directory re-locks entire directory after first invalid lock file"
When restoring for a single project the following line of code updates the lock state for the entire command.
https://github.com/aspnet/dnx/blob/a0af28b330f858c0ddc2063adfbd0ad18225c4ee/src/Microsoft.Dnx.Tooling/Restore/RestoreCommand.cs#L256

This causes the remaining lock files all to be rewritten, and their \* dependencies re-evaluated to latest.

/cc @weshaggard

[2015-09-22 00:23] moozzyk opened #2773 "We need logic to translate non-Windows OS, OSName to RID"
Currently we create a valid RuntimeId only for Windows. For other OSes we just concatenate os and os version (https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime.Internals/RuntimeEnvironmentExtensions.cs#L106). This kind of worked before we started passing actual OS details but now in my branch that provides the details we get:

`darwin10.9-x64`
`linuxUbuntu 12.04-x64`

Also note that

[2015-09-22 00:23] moozzyk commented on #2773
/cc @anurse

[2015-09-22 00:26] anurse commented on #2773
Yeah, this is going to get a bit hairy. We can do fairly simple processing of the OS name to get it in to a RID.

The Travis issue is concerning. I'm not sure right now what the best option is... /cc @davidfowl

[2015-09-22 00:28] moozzyk commented on #2773
I am just hacking it - will show you soon...

[2015-09-22 00:30] moozzyk commented on #2773
Yes, creating a RID should be simple. For now I am just working around this issue since I don't want to make the PR any bigger.

[2015-09-22 00:32] stephentoub commented on #2763
This should be fixed with https://github.com/dotnet/corefx/pull/3352

[2015-09-22 03:24] davidfowl commented on #2681
@rynowak let me know if you see the problem still. The changes drop the memory that is being held onto. There's another issue to just reduce allocations in general which will be submitted later.

[2015-09-22 04:54] #2763 closed

[2015-09-22 05:06] Tratcher commented on #2703
@BrennanConroy have you seen any issues like this? Are there any similar corefx bugs outstanding?

[2015-09-22 05:12] BrennanConroy commented on #2703
I haven't tried anything like this, the client may have more features now, especially since we haven't tried a new one in a couple weeks. We should try this when we grab the new bits.

[2015-09-22 06:38] davidfowl opened #2776 "[Regression]: DTH loses references when lock file invalid"

[2015-09-22 08:42] per-samuelsson opened #2778 "Debug.Assert crash the host (dnx.exe has stopped working)"
Yo,

Chasing a deadline, so I haven't done any real investigation, but on my env, `Debug.Assert(false)` produce the following:

![image](https://cloud.githubusercontent.com/assets/2902045/10013898/ce9ba3f8-6115-11e5-8b66-9a10609812e7.png)

Env:

[code]

Project.json
[code]

Program.cs:

[code]

Let me know if u can not repro it on your end, and I'll try allocate some time to assist if you want tha

[2015-09-22 08:52] per-samuelsson commented on #2778
Oh, and I don't have VS 2015 installed, all work done from CLI and the standard tools.

[2015-09-22 15:12] muratg commented on #2502
Remaining work can be done in RC1.

[2015-09-22 15:15] muratg commented on #2337
Postponing rest of the work to RC1 for now. If CoreCLR issues are ironed out quickly, we can return back to this this week.

[2015-09-22 15:22] muratg commented on #2615
Moving this to RC1. @moozzyk feel free to bring it back if you have time at the end of the week.

cc: @rowanmiller

[2015-09-22 15:24] muratg commented on #402
@moozzyk I think you wanted to do this in beta 8, but let me know if it won't fit.

[2015-09-22 15:25] muratg commented on #2123
Higher pri items in Beta 8, moving to RC1.

[2015-09-22 15:39] ericstj commented on #2771
Just to be clear, I'd only expect regeneration of the 'invalid' lock files, not the entire repo.

[2015-09-22 15:48] moozzyk commented on #402
Let's leave it for now. This is small so I might be able to get this in.

[2015-09-22 17:13] #2594 closed

[2015-09-22 17:52] tugberkugurlu opened #2781 "IApplicationEnvironment.ApplicationBasePath comes wrong"
`IApplicationEnvironment.ApplicationBasePath` comes as *C:\Users\tugberk.ugurlu.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta8-15618\bin\lib\Microsoft.Dnx.Tooling* for me on build when I tried to use it inside an `ICompileModule`. Here is the build log:

[code]

Here is the `ICompileModule`:

[code]

I am on 1.0.0-beta8-15618.

[2015-09-22 17:59] davidfowl commented on #2781
You shouldn't be using IApplicationEnvironment (which is actually correct in this case). If you want the context of the project being compiled then use the project context. The application context represents the runtime environment not the target compilation. Think of it as the information of the executable hosting the compiler.

[2015-09-22 18:07] moozzyk commented on #2615
:+1:

[2015-09-22 18:12] tugberkugurlu commented on #2781
If that is the case, I think `IApplicationEnvironment` is a bad name to use here:disappointed:

Also, What is the `IRuntimeEnvironmet` is for then? And why would I ever want to get the `dnx-clr-win-x86.1.0.0-beta8-15618\bin\lib\Microsoft.Dnx.Tooling` path (which is the assembly that runs the build I assume)?

[2015-09-22 18:18] anurse opened #2782 "Performance regression in dnu restore"
Restore has a major perf regression. Prior to (and including) DNX 1.0.0-beta8-15641 Microsoft.AspNet.Mvc.FunctionalTests would restore in ~70 seconds, now it takes over 15mins.

I have a fix ready (just doing final correctness checks); I'm filing this to track the work. A PR will be coming for review, but I'll be merging it immediately to unblock builds.

/cc @dougbu @davidfowl @rynowak

[2015-09-22 18:20] davidfowl commented on #2781
Nope it's correct. IRuntimeEnvironment gives you DNX information. It's not about what you want to get it's what's correct. In this cause vs is launching design time host (that's the application), you need to use the project context to get info about the project. It's a property of the compilation context.

[2015-09-22 19:18] ellismg opened #2784 "dnu restore fails on latest 1.0.0-beta8-15618"
Via (@ahmetabdi) [here](https://github.com/dotnet/coreclr/issues/1599).

[code]

[code]

Same happends on coreclr x64

[2015-09-22 19:36] BrennanConroy commented on #2784
They are using an old version of dnvm most likely. Upgrade dnvm and reinstall the dnx

[2015-09-22 19:38] anurse commented on #2782
Reopened just to track my final clean-up work.

[2015-09-22 20:00] moozzyk commented on #2723
@danroth27 @muratg
Is it a dup of  #2730? (They are in different milsteones though)

[2015-09-22 20:19] #2781 closed

[2015-09-22 20:19] #2723 closed

[2015-09-22 20:21] muratg commented on #2730
CentOS will be in Beta8.

[2015-09-22 20:26] moozzyk commented on #2730
Do we have CentOS CoreClr packages? I thought we did not...

[2015-09-22 20:52] muratg commented on #2730
Just checked, you're right it's not going to be in Beta 8. It'll be in early RC1.

[2015-09-22 22:33] ericstj commented on #1693
We've worked around it by explicitly specifying all sources.  It might be nice to have for folks migrating from a nuget based system to DNX but it isn't a must have for us.

[2015-09-22 22:44] moozzyk commented on #1970
Fixed in commits: e87f53dd 9a75ce07 c4bb3092 e466998c f4ec7582 7168520e c68fbfb0 a8f5cd44 85f82f9d 777019b6 255999f7 ac0e8301 f3599e46 af50ad10 4904307c 5689e883 05767f40

[2015-09-22 22:44] #1970 closed

[2015-09-23 01:33] JunTaoLuo commented on #2664
I'll open a PR once the features listed here are completed (or marked as deferred). In the meantime, the related changes will be tracked by https://github.com/aspnet/dnx/tree/johluo/2664-testing-infra-improvements

[2015-09-23 02:42] davidfowl commented on #1970
This must have the record for most commits associated with bugs

[2015-09-23 05:20] davidfowl opened #2788 "Remove Configuration from IApplicationEnvironment"
It's a compilation specific concept so we should expose it via Microsoft.Dnx.Compilation.Abstractions

/cc @pranavkm @anurse

[2015-09-23 05:22] davidfowl commented on #2534
@moozzyk We should do this now

[2015-09-23 05:56] davidfowl commented on #2229
Back logging this. We made some attempts to fix this but it was messy so punting.

[2015-09-23 06:02] troydai opened #2789 "Integrate DTH integration test infrastructure into Microsoft.Dnx.Testing.CommonUtils"

[2015-09-23 06:34] troydai commented on #2743
Fixed in 5db0890391be3ec34cee776c789431263055fce0

[2015-09-23 06:34] #2743 closed

[2015-09-23 06:50] muratg commented on #2743
Cool, hopefully @abpiskunov will be able to finish the tooling side as well. It'll be a nice feature!

[2015-09-23 07:48] ahmetabdi commented on #2784
I fixed by chmod 777 the dnu bin

[2015-09-23 08:05] KoKuToru commented on #2748
We had the same problem, using the Dockerfile from github worked (Dockerfile from dockerhub didn't).

The github-version does not include `-r coreclr`. Removing the parameter worked for us.

[2015-09-23 08:06] #2784 closed

[2015-09-23 08:06] davidfowl commented on #2784
@BrennanConroy write the 3 lines of code that @ahmetabdi should do

[2015-09-23 09:25] mikeandersun opened #2790 "Where is 'Microsoft.Dnx.Host.Clr.EntryPoint' type?!"
After update the runtime to 1.0.0-beta8-15653 I encourage with this error when run my application on IIS:
`Could not load type 'Microsoft.Dnx.Host.Clr.EntryPoint' from assembly 'Microsoft.Dnx.Host.Clr, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.`

[2015-09-23 09:26] davidfowl commented on #2790
See https://github.com/aspnet/Announcements/issues/70

[2015-09-23 09:26] #2790 closed

[2015-09-23 09:51] tushargupta51 commented on #2547
Can this be related? I am running a coreclr web application on mac using coreclr runtime. It builds fine using "dnu build" but when I start the application using "dnx kestrel" and loads the url (localhost:5002), it gives this exception:
    Tushars-MacBook-Pro:WebApplication6 tushargupta$ dnx kestrel
Application started. Press Ctrl+C to shut down.

Unhandled Exception: System.DllNotFoundException:

[2015-09-23 11:58] tugberkugurlu commented on #2781
I see and fair enough. However, I still think it's confusing. Just my £0.02.

So, if I use `IApplicationEnvironment` inside the my project (e.g. getting it injected into `Startup` class), is it going to get me the path of the application? If not, what is the way to get project context injected? I wasn't able to find something like `IProjectEnvironment` or anything similar.

[2015-09-23 13:03] prasannavl opened #2791 "dnxw.exe: DNX loader sibling that starts without spawning a console."
DNX loader, while designed primarily for the server applications, can very well be used with WPF/WinForms or just plain background tasks. But DNX always spawns up a console (i.e, it never uses the Win32 class directly which will not create a console window). Provide a switch to suppress the console in supported platforms where a console may be hidden optionally or never created in the first place

[2015-09-23 15:16] abpiskunov commented on #2743
Awesome, thanks for quick change!

[2015-09-23 15:32] tstar commented on #2790
And how to run the project in IIS Express now? Any ideas?

[2015-09-23 15:45] BrennanConroy commented on #2784
Run ```dnvm update-self``` then ```dnvm install 1.0.0-beta8-15618 -f``` to reinstall the "bad" dnx. If the update-self doesn't work its possible you got a broken build of dnvm in which case you should delete it and reinstall following the instructions at https://github.com/aspnet/Home/blob/dev/GettingStartedDeb.md#get-dnvm

[2015-09-23 16:01] Flavien commented on #2748
I believe that if you don't use `-r coreclr`, you get the mono version, don't you? I'm trying to use specifically the CoreCLR version.

[2015-09-23 16:18] davidfowl commented on #2790
Wait until beta8 ships or downgrade your runtime

[2015-09-23 16:28] mikeandersun commented on #2790
@davidfowl  I use beta8 nightly builds,why can't run? What you means "wait until beta8 ships"?

[2015-09-23 16:43] davidfowl commented on #2790
beta8 nightly builds will not work on IIS express anymore. There are several changes that we are working on to make it work again. If you read the link I sent you'll see we're making changes to the IIS hosting model. As a result, IIS express will be broken.

When I said wait until beta8 ships, I mean is released and complete. Using ci builds will get you in a broken state sometimes, this is one of

[2015-09-23 17:04] anurse commented on #2788
:+1:

[2015-09-23 17:05] factormystic commented on #2337
At least for Windows, could dnx be delivered via powershell package management? I'm sure someone somewhere enjoys manually downloading and double clicking msi's, but I sure don't. I'd much rather set up your package source once and then do `install-package aspnet.dnx`

[2015-09-23 17:08] BrennanConroy commented on #2728
64c8d50eab71d884cd53e432b1b64e0cf432200

[2015-09-23 17:08] #2728 closed

[2015-09-23 17:10] glennc commented on #2337
@factormystic I haven't actually looked at that myself yet. But it is definitely something we will investigate. We've mentioned it before, but not put the time into it yet.

[2015-09-23 17:11] mikeandersun commented on #2790
I can use web OR Kestrel command to run my web application for now. Am I correct?

[2015-09-23 17:11] davidfowl commented on #2790
Yep

[2015-09-23 17:19] mikeandersun commented on #2790
I have this code in my startup.cs file :
`  services.Configure<OpenIdConnectOptions>(options =>
            {
                  options.SignInScheme = "Cookies";
             });`
with web or Kestrel  commands i get an `method ...` . But by commenting the code it run fine with web command and with Kestrel `Can't load libuv`

[2015-09-23 17:20] davidfowl commented on #2790
Try updating your packages.

[2015-09-23 17:21] anurse commented on #2664
I have an additional suggestion that I started prototyping a bit once (unfortunately the prototype is gone but it was pretty simple).

First: Rename `DnxSdk` to `DnxTestContext` and hang the `GetTestFolder`/`GetSolution`/etc. methods off of it.

Then: Replace the use of `InlineDataAttribute` with a new custom `DnxSdkTestAttribute` (inheriting from XUnit's `DataAttribute`) which provides instances

[2015-09-23 17:21] moozzyk commented on #2547
@tushargupta51 looks like you are hitting this https://github.com/aspnet/KestrelHttpServer/issues/180. The underlying issue is https://github.com/dotnet/corefx/issues/2155 where CoreClr is trying to load a windows .dll on non-windows OS.

[2015-09-23 17:22] anurse commented on #2337
As far as I know, PowerShell's package management can integrate smoothly with MSIs. So using the MSI route will not hinder our ability to integrate there. Good idea!

[2015-09-23 17:33] muratg commented on #2791
This would require some architectural changes which are not straightforward. Not something we can realistically get in V1. Putting it in the backlog.

[2015-09-23 17:41] muratg commented on #2789
Looks like you already have a PR out for this.  If it looks like you'll be able to check in we'll put this in beta 8 otherwise RC1 is fine.

[2015-09-23 17:58] anurse commented on #2789
Actually this is different, this is merging the DTH functional test tools into the common test framework. The existing PR is just for converting DTH tests to use the common framework as well as the DTH tools.

[2015-09-23 18:06] tushargupta51 commented on #2547
Thanks @moozzyk. Thats the exact issue I am hitting.

[2015-09-23 18:13] muratg commented on #2778
After updating your repro code but I was able to repro this on: ` *    1.0.0-beta8-15618 coreclr x64          win`

project.json
[code]

program.cs
[code]

[2015-09-23 18:29] davidfowl commented on #2791
Actually sounds like it would be a good pill request. Let's make this up for grabs

[2015-09-23 18:31] anurse opened #2792 "Change usage of "darwin" in package names/etc. to "osx""
The CLR team has decided on using `osx` as the name for the OS in Mac OS X platform-specific packages. We previously used `darwin` for this purpose, for example `dnx-coreclr-darwin-x64`. We should probably get in sync with them and change our names to match. Here is an incomplete list of places I can think of, please feel free to add more!
- [ ] DNX package name should be `dnx-coreclr-osx.10.10-x6

[2015-09-23 18:36] BrennanConroy commented on #2792
DNVM already accepts both, we'll just have to invert the behavior of changing osx to darwin

[2015-09-23 18:37] davidfowl commented on #2792
Ugh renames

[2015-09-23 18:40] anurse commented on #2791
One side note before unleashing the world on it :). As far as I know, the only way to achieve this right now is to build a separate `dnx.exe` that is marked as a Windows Application instead of a Console Application. That's certainly how Java handled it (`java` vs `javaw`). If that's the case, we'd want to discuss this further before accepting a PR.

Feel free to explore the options and get back to

[2015-09-23 18:45] prasannavl commented on #2791
@anurse - just thinking out loud here - would having dnx.exe as a Win32 application attaching itself to a console with AttachConsole manually for console applications be completely crazy - I'm a little unsure on the consequences of the internal dynamics to figure out it its a clean way to do it.

[2015-09-23 18:48] davidfowl commented on #2791
dnxw.exe

[2015-09-23 19:08] anurse commented on #2791
@prasannavl If that model works everywhere, it would probably be ok. My initial concern would be Nano Server where most of the Win32 APIs are gone.

@davidfowl If we have to... I guess :)

[2015-09-23 19:17] prasannavl commented on #2791
On second thought it does seem like `dnxw` would make life easier in all aspects. Intent would be much clearer, straight forward and well, less typing for quick invocations! :)

[2015-09-23 19:32] rynowak commented on #2681
This is still happening. There's too much stuff rooted - I get into this state working with either MVC solution for about an hour.

![image](https://cloud.githubusercontent.com/assets/1430011/10056255/2a3dd4f4-61ef-11e5-8d03-4b0c47d934ac.png)

Dump is available on corpnet.

[2015-09-23 19:51] troydai opened #2793 "Consolidate the similar logic of search path collecting"
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.DesignTimeHost/ProjectStateResolver.cs#L139
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/ProjectResolver.cs#L62

Related: https://github.com/aspnet/dnx/issues/2794

[2015-09-23 19:52] troydai opened #2794 "Create a project to support sharing common code among projects."
We have similar code in sibling projects like DNU and DTH. However they won't reference each other. There is no common project to host reusable code.

[2015-09-23 19:55] anurse commented on #2791
My only concern is that I've never been a big fan of `javaw` because it creates confusion (which do I use and why?). If it's the only way to get it to work, then maybe we'll have to go that way.

[2015-09-23 20:00] dagood opened #2796 "dnu restore with encrypted packageSourceCredentials in NuGet.config throws System.NotImplementedException"
When restoring from a simple project.json, if I have an encrypted `packageSourceCredentials` entry on a used feed a `System.NotImplementedException` is thrown:
[code]

### Repro
This is where I got the package: https://www.nuget.org/packages/dnx-coreclr-win-x86/1.0.0-beta7

My NuGet.config:
[code]

My project.json:
[code]

The command: `bin\dnu.cmd restore project.json`

### Workarounds
The comman

[2015-09-23 20:02] davidfowl commented on #2796
Unrelated:   You shouldn't be depending on `Microsoft.Dnx.Runtime`. Secondly, yes it's a know problem there's no DPAPI on CoreCLR

[2015-09-23 20:04] per-samuelsson commented on #2778
Sorry my `Program.cs` was a bit sloppy, a bit of pseudo-code-ish. Yours is spot on.

I don't have the `System.Diagnostics.Debug": "4.0.0-beta-*` reference in my `project.json` though. The posted `project.json` is authentic. But never mind I guess, "good" that you've been able to repro it.

Let me know if I can be of any help.

[2015-09-23 20:12] dagood commented on #2796
Didn't know that, thanks. I just trimmed a (possibly old) random project.json for the sake of an example.

[2015-09-23 20:25] muratg commented on #2789
:+1:

[2015-09-23 20:29] muratg commented on #2778
If you didn't have a reference to `System.Diagnostic.Debug` where did your `Debug` class come from?

[2015-09-23 20:30] BrennanConroy opened #2797 "Stop publishing unnecessary packages"
We don't need to publish packages like Microsoft.Dnx, we should get a list of all the unneeded ones and stop publishing them on the CI.

[2015-09-23 21:09] muratg commented on #2778
This runs fine with CLR by the way.  Fails on both X64 and X86 CoreCLRs.

[2015-09-23 21:12] muratg commented on #2792
@davidfowl You think we should get CoreCLR to use "Darwin" instead?

cc @Eilon

[2015-09-23 21:22] muratg commented on #2796
Thanks @dagood.  Closing this one as this is not supported on CoreCLR as of yet.

[2015-09-23 21:22] #2796 closed

[2015-09-23 22:05] muratg commented on #2752
Got a repro:

[code]

[2015-09-23 22:06] muratg commented on #2752
Additionally `dnu pack`, `dnu build` etc also fail with an `NullReferenceException` on `NuGet.PathUtility.GetDirectoryName`

[2015-09-23 22:10] muratg commented on #2752
This also repro's when you have a project.json on the root of any drive. I.e. if you had a `c:\project.json`, and try `dnu restore` there, it would fail as well.

@ddobric You can `subst q: C:\temp\netcoreapp\src\` and try `dnu restore` under `q:\ netcoreapp` instead.

[2015-09-23 22:22] muratg commented on #2740
@JamesNK Cool!

We should look into the error spew to see if we can make it more helpful.

[2015-09-23 22:28] muratg commented on #1937
@moozzyk I think most of this is done, no?

[2015-09-23 22:31] moozzyk commented on #1937
I need to go over `pal.*.cpp` to call it done

[2015-09-23 22:39] Eilon commented on #2792
`osx` seems like the more user-friendly one. Not sure which is more correct though.

[2015-09-23 22:47] muratg commented on #1957
@danroth27 Are we documenting Servicing feature?

cc @glennc

[2015-09-23 22:48] mikeandersun opened #2798 "Where are these packages?!"
I ran `dnu restore` it seams  some packages not exits!
Unable to locate Microsoft.Framework.Caching.Abstractions >= 1.0.0-beta8-15627
Unable to locate Microsoft.Framework.Caching.Memory >= 1.0.0-beta8-15627
Unable to locate Microsoft.Framework.DependencyInjection >= 1.0.0-beta8-15615
Unable to locate Microsoft.Framework.DependencyInjection.Abstractions >= 1.0.0-b
eta8-15615
Unable to locate Micros

[2015-09-23 22:50] davidfowl commented on #2798
on some feed somewhere. If you ever end up in that situation it's caused by one of 2 things:
- We messed up and pushed incomplete things
- You're using the wrong feed

Anyways, please file general questions on aspnet/Home

[2015-09-23 22:50] #2798 closed

[2015-09-23 22:56] muratg commented on #2270
@pranavkm IIRC, you had a check-in related to this. Is this fixed and good to close?

[2015-09-23 23:04] muratg commented on #1937
:+1:

[2015-09-23 23:09] mikeandersun commented on #2798
These are the feeds . these feeds work for previous builds(v1.0.0-beta8-15653)
I think you messed up and pushed incomplete things or some feeds has been changed.
Feeds used:
    https://www.nuget.org/api/v2/
    https://www.myget.org/F/aspnetvnext/api/v3/flatcontainer/
    https://www.myget.org/F/azureadwebstacknightly/api/v2/
    https://nuget.org/api/v2/

[2015-09-23 23:22] CarlosFreire opened #2799 "dnx-clr-win-x64.1.0.0-beta8-15654 unable to locate packages"
[code]

[2015-09-23 23:22] ericstj commented on #2796
AFAIK we aren't going to be adding support for that API on CoreCLR /cc @bartonjs.  Even so, the source of this exception is a stub in your own code that throws the NotImplementedException, it isn't coming from any crypto package.

You shouldn't be crashing due to something valid in someone's nuget.config which is ambient state on the user's machine.  If you can't handle it you need to either ignor

[2015-09-23 23:25] davidfowl commented on #2796
@ericstj we opted to throw that exception during the initial port because we didn't want to fake it.

Sure. This is just old crusty code that hasn't been touched in a long time. As we end up using more NuGet3 API this will all go away.

[2015-09-23 23:28] jruckert commented on #2799
Getting the same issue here. Looks like only a few packages got updated on the myget feed (some 4 hrs ago, the dependencies 16 hrs ago)

[2015-09-23 23:29] anurse commented on #2792
We picked `darwin` because it tends to be more common:

* `https://static.rust-lang.org/dist/rust-1.3.0-i686-apple-darwin.tar.gz`
* `https://nodejs.org/dist/v4.1.1/node-v4.1.1-darwin-x64.tar.gz`
* `https://storage.googleapis.com/golang/go1.5.1.darwin-amd64.pkg`

And it matches the value returned by `uname`.

Having said that, I'd rather just align with the CLR team, so if they have a reason for pi

[2015-09-23 23:32] BrennanConroy commented on #2799
This should be fixed in ~1 hour

[2015-09-23 23:33] mikeandersun commented on #2798
Microsoft.Dnx.Loader v1.0.0-beta8-15654 not exits on (https://www.myget.org/gallery/aspnetvnext)

[2015-09-23 23:34] jruckert commented on #2799
@BrennanConroy Many thanks.

[2015-09-23 23:35] pranavkm commented on #2799
Sorry about that. We had a build issue with the CI which caused half the packages to be uploaded. We're working on fixing it now.

[2015-09-23 23:35] anurse commented on #2798
See https://github.com/aspnet/dnx/issues/2799 - We had an issue on our build server, it should be resolved shortly.

[2015-09-24 01:35] BrennanConroy commented on #2799
Should be fixed

[2015-09-24 01:35] #2799 closed

[2015-09-24 04:46] victorhurdugaci opened #2800 "Expose the project, the project reader and the lock file reader from runtime"
Because we don't ship Microsoft.Dnx.Runtime, no one outside of the Dnx can consume our readers.
We need this for things like the dnx watch

[2015-09-24 05:27] muratg commented on #2800
Good point, though not sure if we want to have a supported API like that or not.  cc @davidfowl

Also, does this mean that we'll need to ship `Microsoft.Dnx.Runtime` for Beta 8?  cc @danroth27

[2015-09-24 05:29] davidfowl commented on #2800
We do just not right now. It needs design.

[2015-09-24 06:19] per-samuelsson commented on #2778
Beats me - I just have no idea. But since you asked, I had to double-check my `project.json`, and here's the exact copy:

[code]

Maybe some transitive dependency thing going on? But then again, I was under the impression that I really must specify all the bits I was to use.

Some way I can see how it was made available? `project.json.lock` maybe?

[2015-09-24 06:23] muratg commented on #2778
Yeah, `project.lock.json` should have that information.

[2015-09-24 06:24] muratg commented on #2778
BTW, thanks to transitive dependencies, you don't need to specify all the assemblies that you use. :)

[2015-09-24 06:26] per-samuelsson commented on #2778
What about `dnu list --details`? That give any clues?

[code]

[2015-09-24 06:28] muratg commented on #2778
Yup, `System.Linq` seems to bring it in. :)

[2015-09-24 06:29] per-samuelsson commented on #2778
Ah, so it works like that by design? Yeah, now I remember, thats one of the changes in package management > DNX. So then this dependency "subissue" is demystified and resolved, right? :+1:

[2015-09-24 06:30] muratg commented on #2778
Correct :)

[2015-09-24 07:11] btrepp opened #2801 "xunit test runner fails to find fx/System.Xml"
[code]

[code]

[code]

I followed the instructions on the xunit test runner repo. I'm super new to using dnx, but what is it telling me to do. Adding dependencies on fx/System.XML fails because thats invalid, adding dependencies on system.xml seems to do nothing, adding frameworkassemblies of system.xml also didn't help.

[2015-09-24 09:03] kirthik opened #2802 "Loading multiple satellite assemblies of same project fails in coreclr"
In the current code, we are not preserving the culture information during satellite assembly creation. So if app tries to load multiple satellite assemblies of same project, first one succeeds but subsequent ones fails with error `Assembly with same name is already loaded`.

To fix this issue, we need to add `AssemblyCultureAttribute` during satellite assembly compilation

[2015-09-24 09:36] tstar commented on #2790
I can not run the project with web command. If I run the project from the studio, I only see a black window, which immediately closes. If I run the project from the command line in root project folder, then I get an exception: System.InvalidOperationException: Unable to resolve project from C:\Test. If I publish project to the folder and run web.cmd, then I get an exception: System.InvalidOperatio

[2015-09-24 09:37] davidfowl commented on #2790
What does your project.json look like?

[2015-09-24 09:39] davidfowl commented on #2790
and what feeds are you using.

[2015-09-24 09:40] tstar commented on #2790
.NET Version Manager v1.0.0-beta8-15518
Current feed settings:
Default Stable: https://www.nuget.org/api/v2
Default Unstable: https://www.myget.org/F/aspnetvnext/api/v2

[2015-09-24 09:49] tstar commented on #2790
My project.json file is very large. Can I publish it here entirely?

[2015-09-24 09:51] tstar commented on #2790
I find this line in the file that refer to the version 15665:
      "Microsoft.AspNet.DataProtection.Abstractions/1.0.0-beta8-15617": {
        "type": "package",
        "dependencies": {
          "Microsoft.Dnx.Runtime.Abstractions": "1.0.0-beta8-15665"
        },

[2015-09-24 10:55] mikeandersun commented on #2790
[Here](https://github.com/OrchardCMS/Brochard/issues/43) is the same issue

[2015-09-24 11:58] angelsix opened #2803 "Cannot use System.Xml.XmlDocument"
Using dnx451 and dnxcore50 I cannot use XDocument at all.

Whenever I reference "System.Xml.XDocument" I get 1000+ errors in the project, System.Object cannot be found, and multiple dual references such as:

Severity	Code	Description	Project	File	Line
Error	CS0433	The type 'IEnumerable<T>' exists in both 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' and 'System.Runt

[2015-09-24 12:02] NickCraver commented on #2803
Can you post your `project.json` file?

[2015-09-24 12:03] angelsix commented on #2803
{
  "version": "1.0.0-beta7",
  "description": "Class Library",
  "authors": [ "" ],
  "tags": [ "" ],
  "projectUrl": "",
  "licenseUrl": "",

  "dependencies": {
    "Microsoft.Framework.DependencyInjection": "1.0.0-beta7",
    "Microsoft.Dnx.Runtime.Abstractions": "1.0.0-beta7",
    "System.Xml.XDocument": "4.0.11-beta-*"
  },

  "frameworks": {
    "dnx451": {
    },
    "dnxcore50": {
    }

[2015-09-24 12:43] angelsix opened #2804 "Embedded resources"
Do they exist any more in a DNX class library?

I have noticed there are no build actions anymore so no idea what happens when I place a file in the solution that used to be embedded such as an XML file.

Even if it now were embedded, how would I load that embedded resource as GetExecutingAssembly and GetManifestResourceStream are both missing too:

var assembly = Assembly.GetExecutingAssembly();

[2015-09-24 13:03] pranavkm commented on #2804
To embed resources, use the `resource` node in project.json. See https://github.com/aspnet/dnx/blob/5bbb84bea40d8835da0c3eefd5a2343b50347084/misc/ResourcesTestProjects/testproject/project.json#L19-L26

`typeof(SomeTypeInYourAssembly).GetTypeInfo().Assembly` would be equivalent to `GetExecutingAssembly` and it has a `GetManifestResourceStream` method on it.

[2015-09-24 13:27] angelsix commented on #2804
Thanks thats done it :+1:

[2015-09-24 13:27] #2804 closed

[2015-09-24 13:56] pranavkm commented on #2270
For most parts - there's one missing piece that I'll have a look at: https://github.com/aspnet/dnx/issues/2747

[2015-09-24 13:56] pranavkm commented on #2270
Dup of https://github.com/aspnet/dnx/issues/2747

[2015-09-24 13:56] #2270 closed

[2015-09-24 14:48] anurse commented on #2803
`System.Xml.XDocument 4.0.11` requires `net46` or higher. You need to reference `System.Xml.XDocument 4.0.0` in your `dnx451` target.

[2015-09-24 14:50] anurse commented on #2800
At most we would ship a separate package for project/lock file reading and that needs design. For now, `dnx-watch` could copy code (though of course that is a little brittle).

[2015-09-24 15:09] kdaveid commented on #2706
Hi there!
Yes, default fallback is production environment. It would be nice to specify different "ef" commands in project.json to trigger migrations to different targets. Or do I miss something?

[2015-09-24 15:12] rynowak commented on #2801
I think we've seen this issue before with the casing of `System.Xml` on mono.

Either way, `xunit.runner.aspnet` is our bad internal fork of xUnit that we keep up to date with the bleeding edge of DNX. Be really careful using `*`You should use

[2015-09-24 15:15] angelsix commented on #2803
I reference 4.0.0 and I get the exclamation stating System.Xml is Not Availabel in 451, but only in core 5.0

[2015-09-24 15:16] rynowak commented on #2801
Ooops hit send too soon.

[2015-09-24 15:38] BrennanConroy opened #2805 "Rename Microsoft.Dnx.Runtime.Internals"
Rename it to Microsoft.Dnx.Runtime.Internals.Sources or something similar

[2015-09-24 15:46] muratg commented on #2792
OK, let's go with Andrew's suggestions unless anyone has strong objections. Putting this in RC1.

[2015-09-24 15:48] angelsix commented on #2803
Found fix here: http://stackoverflow.com/questions/32004649/asp-net-vnext-and-xdocument

  "frameworks": {
    "dnx451": {
      "frameworkAssemblies": {
        "System.Xml": "4.0.0.0",
        "System.Xml.Linq": "4.0.0.0"

      }
    },
    "dnxcore50": {
      "dependencies": {
        "System.Xml.XDocument": "4.0.10"

      }
    }
  },

[2015-09-24 15:48] #2803 closed

[2015-09-24 15:55] bricelam commented on #2706
@kdaveid I'll be adding an environment parameter to the `dnx ef` commands soon

[2015-09-24 16:05] angelsix opened #2806 "Detecting linux"
Is there a compiler switch or any way to detect when compiling/running on a linux system?

[2015-09-24 16:20] victorhurdugaci commented on #2806
Yes, use [IRuntimeEnvironment](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime.Abstractions/IRuntimeEnvironment.cs).

Here's how to obtain an instance of it: https://github.com/aspnet/UserSecrets/blob/dev/src/Microsoft.Framework.SecretManager/Program.cs#L23

Here's how to use it: https://github.com/aspnet/UserSecrets/blob/dev/src/Microsoft.Framework.SecretManager/CommandOutputProv

[2015-09-24 16:36] muratg commented on #2806
@angelsix Let us know if you have other questions on this. Otherwise, this should be good to close :)

[2015-09-24 16:39] #2706 closed

[2015-09-24 16:41] angelsix commented on #2806
That did the trick thanks

[2015-09-24 16:41] #2806 closed

[2015-09-24 16:46] muratg commented on #2401
Done: https://github.com/aspnet/dnx/commit/3d0edc0914f341794a56fb8c0d927ddbd96dec31

[2015-09-24 16:46] #2401 closed

[2015-09-24 16:58] iSynaptic commented on #2752
I can reproduce.

[2015-09-24 17:00] anurse commented on #1847
This is not going to happen in beta8. It's pushing it a bit to pull it to RC1, but we're blocked on a NuGet bug (#1427) and there is debate over whether we should do it. /cc @muratg @davidfowl

[2015-09-24 17:03] muratg commented on #1847
Tentatively putting this in RC1. If we decide we're not going to do this, we'll just close.

[2015-09-24 17:16] anurse commented on #1847
I don't think not doing it is really a good option. Our behavior **should** be in sync with NuGet.

[2015-09-24 17:20] ddobric commented on #2752
It works fine if I don't subst the root .thanks for hint.

[2015-09-24 17:39] anurse commented on #2752
DNX does not support projects at the root of any drive (even a subst-ed drive) because it uses the parent directory name as the project name.

[2015-09-24 17:46] muratg commented on #983
dup https://github.com/aspnet/dnx/issues/1890

[2015-09-24 17:46] #983 closed

[2015-09-24 17:46] iSynaptic commented on #2752
Even if that is the case, I think it should probably provide a better error/exception that NullReferenceException.

[2015-09-24 17:46] davidfowl commented on #2752
That error has been fixed since. I assume this is beta7

[2015-09-24 17:47] iSynaptic commented on #2752
Yes, beta 7.

[2015-09-24 17:47] muratg commented on #990
Closing in favor of #402

[2015-09-24 17:47] #990 closed

[2015-09-24 17:57] DamianEdwards opened #2810 "[HttpPlatformHandler] Support waiting for debugger to attach based on environment variable"
This is to support the use of HttpPlatformHandler with IIS/IIS Express in Visual Studio and launching under debugging.

Visual Studio will create an empty temp file and set an environment variable `DNX_DEBUG_PID_PATH` with the temp file's path, then launch IIS Express. When DNX starts it will check the environment variable and if it's a valid path will overwrite the file with the current process I

[2015-09-24 18:05] muratg commented on #2752
@davidfowl It still throws a `NullReferenceException` in beta 8.  See https://github.com/aspnet/dnx/issues/2752#issuecomment-142744796

[2015-09-24 18:07] anurse opened #2811 "DNX RID synthesis is broken"
After @moozzyk 's change, `IRuntimeEnvironment.OperatingSystemVersion` provides the Windows Product Version numbers (i.e. 8, 8.1, etc.) instead of the actual underlying OS versions (6.1, 6.2, etc.). This breaks our RID synthesis code.

I'll have a fix shortly, this is just to track the work.

/cc @BrennanConroy @muratg @moozzyk @davidfowl

[2015-09-24 18:57] angelsix opened #2814 "Linux without Mono"
I figured considering the whole point of the dnx is to be a cross platform framework that I could use dnx50 on linux.

However, I always have to build with Mono and it then uses the mono runtime in dnvm and not coreclr.

Am I doing something wrong or can Linux not run dnx yet only through mono?

[2015-09-24 19:03] JunTaoLuo commented on #2664
There are quite a few good ideas here that I cannot finish implementing for beta8, I have marked them as deferred and will open another issue later to track them.

[2015-09-24 19:05] davidfowl opened #2815 "Write tests for DNX_HOME fallback"

[2015-09-24 19:14] #2802 closed

[2015-09-24 19:15] muratg commented on #2814
Are you setting your default DNX to be a coreclr based one?  You should definitely be able to run with coreclr, not sure exactly what problem you're hitting.

[2015-09-24 19:23] anurse commented on #2664
Absolutely fine with me :)

[2015-09-24 19:26] tmds commented on #2712
@muratg FYI, I've had the problem again and created an [AppVeyor issue](http://help.appveyor.com/discussions/problems/3124-xunit-tests-occasionally-throw-failed-to-resolve-dependencies-for-target-framework).

[2015-09-24 19:35] muratg commented on #2712
:+1:

[2015-09-24 19:36] #2811 closed

[2015-09-24 19:48] abpiskunov opened #2816 "Dependency diagnostic warning "Dependency specified but ended up" comes for all occurenses of the dependency in the graph"
I have a webapp having Moq 4.21506.2515. WebApp references class library that has Moq 4.2.1507.118. When we receive e dependencies tree for WebApp it has 2 Moq dependencies, one from ClassLibrary and second one form WebApp itself.

Problem: both dependency descriptions for Moq have a warning diagnostic saying that their version is overriden. But(!) it should be only one of them to have this warnin

[2015-09-24 20:19] moozzyk commented on #2814
If you want to build the dnx repo you have to use Mono. If you want just to run your app you can don't need Mono if you decide to go only with CoreClr.

[2015-09-24 20:26] angelsix commented on #2814
Ok so I have to run the dnu restore on another machine, move the compiled program over (which folders would that be? I have a web and a class library).

Then presumably run dnx kestrel on the linux side to start the server.

As when I run dnu restore on the linux side with coreclr runtime selected in dnvm I get:

  *    1.0.0-beta7          coreclr x64          linux
/home/user/.dnx/runtimes/dnx-c

[2015-09-24 20:34] moozzyk commented on #2814
No. If you want to build **your** application  (and not the dnx repo) you should be able to do this with just CoreClr. If you want to publish your app so that it can be used on a different machine you need to use the `dnu publish` command which allows you to provide what runtime you want to use on this machine.

[2015-09-24 20:36] angelsix commented on #2814
Ok so on linux, with dnx50 as the framework, and coreclr selected as shown above. I get this error when running dnu restore. Tried it on 4 linux machines, ARM, x86, 32bit, 64bit, all the same.

/home/user/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta7/bin/dnu: line 12: /home/user/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta7/bin/dnx: cannot execute binary file: Exec format error

[2015-09-24 20:50] angelsix commented on #2814
Oops turns out all machines I was testing on (even 64bit ones) I installed 32bit linux.

Looks like the issue is coreCLR isnt on 32bit. Is it planned to be? If so any ideas when? I would love to drop mono if possible

[2015-09-24 20:55] muratg commented on #2814
Currently CoreCLR is only 64 bits on Linux and OS X.  Not sure if they plan to have 32 bit support.

[2015-09-24 20:57] yousifh opened #2817 "DNU Wrap producing wrong path"
I'm currently having an issue where if I use dnu wrap for a dll, the path generated in the project.json file doesn't seem right. However if I do the same for csproj, it gets the right output. Using dnx beta 7 clr on Windows.

Steps (csproj)
- Create a sample ASP.NET 5 Web API solution.
- Add a new class library project (TestLibraryCS) to the solution that is a class library using .NET Framework 4.

[2015-09-24 21:11] muratg commented on #2814
@angelsix closing this one. Let us know if you have problems with a 64 bit linux when you try it out.

[2015-09-24 21:11] #2814 closed

[2015-09-24 22:03] tmds commented on #2712
@muratg looking a bit closer at the error message, I am wondering... System.Reflection.Extensions does that exist for DNX,Version=v4.5.1?

[2015-09-24 22:25] aggieben commented on #1635
@victorhurdugaci "global install" isn't a thing anymore, is it?  I'm running into this right now: when I run `dnu restore` (installed in `%USERPROFILE%\.dnx`), it uses my `%AppData%\NuGet\NuGet.config` instead of the `NuGet.config` I have in my solution directory, tracked in source control.

[2015-09-24 22:29] JunTaoLuo opened #2822 "Missing copyrights"
There are some files, such as Microsoft.Dnx.Tooling/Nuget/ContentModel/\* that are missing copyrights. We should do a scan for all files and add the copyrights

[2015-09-24 23:03] mikeandersun commented on #2790
I have the same issue and here is my project.json :
{
  "authors": [
        "me"
    ],
    "commands": {
        "web": "Microsoft.AspNet.Hosting --ASPNET_ENV development --server Microsoft.AspNet.Server.WebListener --server.urls http://localhost:49102",
        "WebListener": "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --server.urls http://localhost:49102",
        "K

[2015-09-24 23:10] #2810 closed

[2015-09-24 23:20] JamesNK commented on #2740
The problem isn't the error message, the problem is in this particular scenario the loader is broken. It should work with Autofac 3.5 by loading the net40 DLL.

[2015-09-24 23:43] mikeandersun opened #2824 "This application requires DNX version 1.0.0-beta8-15665 or newer to run. But now latest DNX version only is 1.0.0-beta8-15654. What's happening?"
System.InvalidOperationException: This application requires DNX version 1.0.0-beta8-15665 or newer to run. But now latest DNX version only is 1.0.0-beta8-15654. What's happening?
This is my project.json :
{
"authors": [
"me"
],
"commands": {
"web": "Microsoft.AspNet.Hosting --ASPNET_ENV development --server Microsoft.AspNet.Server.WebListener --server.urls http://localhost:49102",
"WebListener": "

[2015-09-24 23:45] BrennanConroy commented on #2824
You are using the aspnetci feed packages with a vnext feed dnx. Either read this https://github.com/aspnet/Announcements/issues/68 and work around it or use the same feed for packages and dnx

[2015-09-24 23:49] anurse commented on #2740
Well, it does look like DNX is taking the net40 DLL, from the compilation spew:

[code]

Can you point us at the specific project that's failing so we can give this a look?

[2015-09-24 23:58] mikeandersun commented on #2824
Where is  aspnetci feed?!
And how to i can use next feed only?

[2015-09-25 00:11] JunTaoLuo opened #2825 "Testing infrastructure improvements round 2"
Items not completed in #2664 should be addressed here.
- [ ] 1 stdout/stderr log
- save the output of each test to files stdout.log/stderr.log inside each test directory in TestOutput/
- parallelization in xUnit makes redirecting output from Console difficult
- also needs to determine a way to detect test method pass/failure without re-implementing xunit runner
- [ ] 2 Remove redundant testing
- C

[2015-09-25 00:22] BrennanConroy commented on #2824
Look at your nuget.configs

[2015-09-25 00:22] JamesNK commented on #2740
There is a link in the issue.

[2015-09-25 00:38] anurse commented on #2740
Got it

[2015-09-25 08:35] davidfowl commented on #2762
Moving to RC

[2015-09-25 08:36] davidfowl commented on #2332
Moving to the RC

[2015-09-25 10:44] tstar commented on #2824
I solved this problem. At first, I manually set all of the packages in project.json file as "-beta7" and restore packages. Then switched nuget feed to "https://www.myget.org/F/aspnetvnext/api/v2/" and update all packages to the latest version in this feed. Now I can run my project with the latest DNX version 1.0.0-beta8-15654 on WebListener or Kestrel servers.

[2015-09-25 12:42] pranavkm commented on #1847
Slightly tangential - once we switch to using NuGet.Configuration we'll lose out on `NuGet.redirect.config`.

[2015-09-25 15:14] per-samuelsson opened #2828 "Question: should project compile before (defined) command is invoked?"
Hi,

Can I just line-check something? Consider a project `Foo` in `src\Foo`, referencing some project `Bar`. Foo contains just some random .cs file. Bar is a project with an entrypoint.

In `src\Foo\project.json` I have:
[code]

Then do
[code]

As a novice, I would expect Foo to compile, just as it does if I run `dnx run`. But apparently, it doesn't. That by design?

(Yes, doing `dnx run` actually

[2015-09-25 15:30] muratg commented on #1847
@anurse agreed. Looks like nuget/home/1427 will be fixed "soon".

[2015-09-25 15:33] muratg commented on #2828
Sorry can you clarify "I would expect Foo to compile"?

[2015-09-25 15:57] per-samuelsson commented on #2828
Sure. I can expand to a full sample:

**src\Foo\project.json**
[code]

**src\Foo\Program.cs**
[code]

Doing `src\Foo\dnx run` will compile `Program.cs` and invoke the entrypoint. The output is "Hello from Foo". Doing `src\Foo\dnx runBar` invokes the entrypoint of the referenced Bar project, which is what it should do. But it doesnt compile `Foo\Program.cs` first.

[2015-09-25 15:59] ajaybhargavb commented on #2797
We might need this to be done before enabling NuGetPackageVerifier in dnx. cc' @Eilon

[2015-09-25 16:00] muratg commented on #2828
Do you mean it's not invoking `Foo\Program.cs`'s `Main` (i.e. not displaying the "Hello from Foo" message) when you do `dnx runBar`?  If so, that's by design.

[2015-09-25 16:01] muratg commented on #2828
BTW, one of the [principles](https://github.com/aspnet/dnx/blob/dev/README.md#principles) in DNX design is to "blur the lines between compilation and loading."  :)

[2015-09-25 16:05] anurse commented on #2828
Compilation only occurs before the first time an assembly is loaded. So if `runBar` never needs to load anything out of Foo, it never compiles it. Calling `Assembly.Load` on `Foo` would force a compilation.

[2015-09-25 16:08] per-samuelsson commented on #2828
No, I didn't mean that. That I totally understand.

OK, thanks. I kind of suspected that, but I wish it wasn't like that, for our case, hence I asked. We have to figure something out then. I need to consider a bit more our options. Thanks for the feedback!

[2015-09-25 16:14] dvdcrr77 opened #2830 "Uri does contain definition for UriSchemaXXX"
[dnxcore50]

[2015-09-25 16:43] davidfowl commented on #2830
File this bug on dotnet/corefx

[2015-09-25 16:43] #2830 closed

[2015-09-25 16:46] #2828 closed

[2015-09-25 17:11] Eilon commented on #2797
We could do it in either sequence - I'm fine either way.

[2015-09-25 17:51] #2681 closed

[2015-09-25 17:51] davidfowl commented on #2681
@rynowak if you see more issues, please reopen again :smile:

[2015-09-25 18:33] quentez commented on #2733
Also seeing the same error on Ubuntu with Beta 7.

[2015-09-25 18:40] troydai opened #2831 "Do not stop DNX executing when application's lock file is invalid."
/cc @davidfowl

[2015-09-25 19:29] troydai commented on #2831
/cc @muratg
Probably won't make into beta8

[2015-09-25 19:29] troydai commented on #2816
Mark

[2015-09-25 21:05] #438 closed

[2015-09-25 21:20] #2782 closed

[2015-09-25 21:57] muratg commented on #2700
https://github.com/aspnet/dnx-watch/issues/2

[2015-09-25 21:57] #2700 closed

[2015-09-25 22:57] moozzyk opened #2832 "Parameter expansion issues"
- We should error out when both `--appbase` and `--project` are provided - currently `--appbase` wins and we ignore `--project`
- if `--debug` is passed after `--project {path}` or after `--appbase {path} {host}` (`--project {path}` is converted to `--appbase {path} {Microsoft.Dnx.ApplicationHost}` it will be ignored because `--appbase` is a single argument option and the {host} is a non-bootstrap

[2015-09-26 00:34] JunTaoLuo commented on #2664
merged to dev

[2015-09-26 00:34] #2664 closed

[2015-09-26 00:38] troydai commented on #2671
Fixed in 5066768dd3ba6a3ef0d79504ccef7508869e4cf5

[2015-09-26 00:38] #2671 closed

[2015-09-26 04:14] dougbu commented on #864
:birthday: :balloon: :tada: :dancers: ...

[2015-09-26 05:27] muratg commented on #864
@dougbu I share those emotions :)

[2015-09-26 06:35] davidfowl commented on #864
I think we'll need to go back and forth here. Hiding stack traces for load errors for example is a bad idea and we'll need to get more specific about what we hide exactly.

[2015-09-26 09:06] 4nonym0us opened #2834 "Could not load type 'Microsoft.Dnx.Host.Clr.EntryPoint' on running project on IIS server."
The following issue occurs when I try to run the project in VS2015 (OS is Win10, latest dnx tools and .NET framework installed). I've discovered the problem 2-3 days ago. Disregarding this error, I can successfully run my application via `dnx web` command. Any thoughts?
StackTrace is below and screenshot is attached as well.
[code]
![image](https://cloud.githubusercontent.com/assets/2701409/101167

[2015-09-26 10:32] davidfowl commented on #2834
Dupe of https://github.com/aspnet/dnx/issues/2790

[2015-09-26 10:32] #2834 closed

[2015-09-26 18:53] victorhurdugaci opened #2836 "Dnu commands should remove the build-only packages from project.json"
Because it tries to restore them and there are some that we don't publish. Also, they're not needed for the app to run

[2015-09-26 18:56] #2824 closed

[2015-09-26 19:31] davidfowl commented on #2836
Can you clarify?

[2015-09-26 19:41] victorhurdugaci commented on #2836
Nevermind, it was my code :)

[2015-09-26 19:41] #2836 closed

[2015-09-26 22:58] pgrudzien12 opened #2838 "Option -v (verbose) is ignored in Microsoft.Dnx.Tooling"
As for now -v option is ignored thus Microsoft.Dnx.Tooling.ReportsFactory.CreateReports creates Reports object with Verbose always set to Reports.Constants.NullReport.

Example: dnx -v wrap does not output any additional information as it should (for example msbuild output).

Cause: In Microsoft.Dnx.Tooling.Program current flow is:
1. Create new CommandLineApplication
2. Create CommandOption by ca

[2015-09-26 23:19] davidfowl commented on #2838
It's been fixed by @anurse

[2015-09-27 00:08] pgrudzien12 commented on #2838
Shame :D

[2015-09-27 00:08] #2838 closed

[2015-09-27 02:12] #2776 closed

[2015-09-27 02:59] BrewDawg commented on #2016
I have this exact same problem with beta 7, none of my references under the DNX 4.5.1 or DNX Core 5.0 can be found. I just installed tonight, have power shell 2.0, did all the DMVM update stuff, it all works, I can see the files in C:\Users\Mike Griffin\.dnx but Visual studio cannot find any of them

[2015-09-27 04:10] jtdunlop commented on #2016
A better workaround is to get involved in the wrap process in project.json. This fixes pretty much all downstream issues from dev all the way through deploy.

"scripts": {
        "prerestore": [
            "dnu wrap ../epm.dal/epm.dal.csproj",
            "dnu wrap ../epm.logic/epm.logic.csproj",
            "dnu wrap ../epm.ui/epm.ui.csproj"
        ]
    },

[2015-09-27 06:45] sahilbabbar opened #2839 "Error while running `dnu restore`"
After successfully executing the following commands:

```dnu restore``` gave an error:

[2015-09-27 06:50] sahilbabbar commented on #2839
I didn't install ```mono``` so it is the probable reason?

[2015-09-27 07:03] davidfowl commented on #2839
Yes. Check out the getting started docs. http://docs.asp.net/en/latest/getting-started/index.html

[2015-09-27 07:03] #2839 closed

[2015-09-27 07:32] Yorie opened #2840 "A way to use custom migrations directory?"
Seems command `dnx ef migrations add` doesn't support custom directories to save migrations to.
So, having multiple database contexts will produce difficulties in generating migrations.
Or am I wrong and it can be done some way?

[2015-09-27 07:33] davidfowl commented on #2840
File the issue here https://github.com/aspnet/EntityFramework

[2015-09-27 07:33] #2840 closed

[2015-09-27 07:33] per-samuelsson commented on #2828
@anurse

Sorry if I'm bringing pain, but that statement got me thinking and I can't really let it go. Can you expand a bit on that at some time?

Basically, what I'm wondering is how a case would look where doing a `Assembly.Load` could target a *project* (i.e. one that will be compiled)? What kind of `AssemblyName` would I pass for that?

I tried studying code in `corefx` to find out myself, but

[2015-09-27 07:35] davidfowl commented on #2828
It's not the CoreFX code, the code is in DNX:
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime/Loader/ProjectAssemblyLoader.cs

The name you pass to Load is the name of the project. It's no different to compiling up front. Instead it's deferred to runtime.

[2015-09-27 07:56] sahilbabbar opened #2841 "Error while running 'kestrel'"
After successfully building the project, the `dnu kestrel` command in not working. The error output is:

[2015-09-27 07:57] davidfowl commented on #2841
That doesn't look like kestrel at all.

[2015-09-27 14:56] tstar commented on #2824
Is it posible to get latest DNX version 1.0.0-beta 8-15665 or newer to be in trend?

[2015-09-27 15:14] promontis opened #2842 "PCL (profile111) with vNext project"
I have a vNext in which I would like to reference a PCL (profile111) project. The profile111 is used in my Xamarin apps and has request/response object to share between the clients (xamarin apps) and the server (vNext project).

When I add the reference it creates a wrapped project of the PCL project in a wrap folder in the root of the solution. Everything builds and project also runs. Awesome!

H

[2015-09-27 15:19] promontis commented on #2842
Oh, I forgot... I also tried using the whole reference as a nuget package. So, creating a nuget package using nuget.exe from the PCL and adding a local nuget feed to the PCL project. However, the solution keeps resolving the PCL reference via the project instead the local nuget feed. Makes sense, because this way you can debug nuget references (by adding its source to the src folder)

[2015-09-27 15:31] victorhurdugaci commented on #2824
@tstar  yes, it is possible:

[code]

[2015-09-27 15:34] promontis commented on #2842
#2352 and #2467 seems to be related

[2015-09-27 17:09] BrennanConroy commented on #2824
Not recommended. You should be using vnext feed only for unstable bits

[2015-09-27 19:10] mikeandersun commented on #2824
@tstar  I did tried  https://myget.org/F/aspnetcidev/api/v2 feed. But there was many issues.
I recommended to wait for next builds come from **anpnetvnext**  feed. See [this](https://github.com/aspnet/Home/issues/952)

[2015-09-27 22:08] Flavien opened #2843 "project.json parser can't handle unicode escape sequences"
I'm trying to have the Copyright character in my project.json file:

      "copyright": "Copyright \u00A9 2015",

however, this results in a build failure:

[code]

[2015-09-27 22:54] nehaabrol87 opened #2844 "Running dnx:dnu restore command on Visual Studio code gives me an error C:/Users/neha is not recognized as an internal or external command.My username has a space."
Running dnx:dnu restore command on Visual Studio code gives me an error C:/Users/neha is not recognized as an internal or external command.My username has a space.

I have tried installing/re-installing but I get the same error.

 C:/Users/neha is not recognized as an internal or external command.

My username has a space.I am not sure if that is the problem.Any help would be much appreciated.

[2015-09-28 00:13] loqix opened #2845 "Linux could not load assembly if assembly have RID (runtime:coreclr-15724)"
[code]

[code]

[2015-09-28 03:14] JunTaoLuo commented on #2650
See if https://github.com/aspnet/dnx/pull/2823 helps in terms of logging.

[2015-09-28 03:58] davidfowl commented on #2843
/cc @troydai

[2015-09-28 06:18] per-samuelsson commented on #2828
Ah, ok, that makes sense. I did look at that code some time ago, but the reference to `Assembly.Load` got me thinking it was the good old reflection thingy. I'll give the project assembly loader some more time to try figuring it all out. Thanks for all the help!

[2015-09-28 06:33] davidfowl commented on #2534
@moozzyk Moved to RC1

[2015-09-28 07:06] Kagamine opened #2846 "How to get dnx 1.0.0-beta8-15724"
[code]

[code]

[2015-09-28 07:13] davidfowl commented on #2831
@muratg @troydai I think we should do some of this for beta8.

[2015-09-28 07:20] Kagamine commented on #2846
![image](https://cloud.githubusercontent.com/assets/2216750/10129755/63b780a0-65f4-11e5-9d97-8e1609b615ed.png)

[2015-09-28 07:20] #2846 closed

[2015-09-28 08:56] davidfowl opened #2848 "De-dupe lockfile diagnostic message, it's relevant for all framworks"
[code]

e.g.

![image](https://cloud.githubusercontent.com/assets/95136/10131298/1b577880-6584-11e5-8ecb-8673dfed8b14.png)

/cc @troydai

[2015-09-28 08:58] davidfowl opened #2849 "Consider downgrading lock file validation errors to warnings"
It's an error if the lock file doesn't exist but if it's out of sync with the dependencies, we can downgrade that to a warning.

Related to #2831

/cc @anurse @lodejard @glennc

[2015-09-28 09:40] davidfowl commented on #2771
@ericstj Yep. That sounds like a bug.

[2015-09-28 09:41] davidfowl commented on #2753
@borgdylan What do you mean?

[2015-09-28 09:42] davidfowl commented on #2747
@pranavkm Did you fix this?

[2015-09-28 09:44] davidfowl opened #2850 "Publish over aggressively deletes package contents"
See #2741. Today the publish logic tries to keep only the things it requires by using the lock file input to post process the published files. Instead, we need to only delete the set of things we know of in the lock file that aren't relevant to the current publish. For example, if we're targeting dnx451 instead of dnxcore50, then we can delete all of the known dnxcore50 things.

[2015-09-28 09:46] davidfowl opened #2851 "Restore should write lock files for transitive projects by default"
We want to make it so that running restore on a project makes it runnable. To do this we need to make sure that all transitive project references are also restored. This should be the default behavior if there's a project.json in the folder. There should be a flag `--no--project-references` (or some other name) that disables this behavior.

[2015-09-28 16:15] borgdylan commented on #2753
I meant that compilers would need to apply an attribute like is done while setting the entry point. Such changes are usually done inside the compilers themselves and not externally.

[2015-09-28 16:37] davidfowl commented on #2683
Need to do this post beta8

[2015-09-28 16:58] muratg commented on #402
Move now? :)

[2015-09-28 17:01] davidfowl commented on #402
@natemcmaster @bricelam what is SQLite doing for native dependencies right now?

[2015-09-28 17:09] natemcmaster commented on #402
@davidfowl On Windows, we are redistributing sqlite3.dll with the nupkg. The makefile.shade manually downloads the dll and adds it to the nupkg. We then search for this assembly and load it into the appdomain. (see [NativeLibraryLoader](https://github.com/aspnet/Microsoft.Data.Sqlite/blob/dev/src/Microsoft.Data.Sqlite/Utilities/NativeLibraryLoader.cs)).

For OSX/Linux, we use whichever version of

[2015-09-28 17:21] troydai commented on #2843
Oh, Dam it. Assign to my self. Please help me to place it in the right milestone @muratg

[2015-09-28 17:23] troydai commented on #2848
Assign to myself, I'll take at look.
/cc @muratg

[2015-09-28 17:25] troydai commented on #2816
Related https://github.com/aspnet/dnx/issues/2744

@muratg @davidfowl I assign this to myself for now. It relats to #2744

[2015-09-28 17:37] bricelam commented on #402
For SQL Server, we currently rely on `sni.dll` being distributed as part of the `dnx-coreclr-win` packages.

[2015-09-28 17:39] moozzyk commented on #402
Changing milestone to RC. Still waiting for CoreClr to merge the API we would use to load dlls/so/dylibs.

[2015-09-28 17:41] lodejard commented on #2849
Did something change that made it safer to run in this case? Or is it that VS is getting better at running restore when needed, so problems happen less often when using the tooling?

[2015-09-28 17:50] davidfowl commented on #2849
VS can trigger a restore based on the diagnostic messages we return from DTH. The big change from before is the fact that the lock file is the source of truth so it means that instead of things failing you'll get the older versions. It's like that horrible error you get when you f5 in vs with a build error and it asks if you want to run the old output

[2015-09-28 18:11] JunTaoLuo commented on #864
reopening to hide stack trace for compilation errors as well.

[2015-09-28 18:14] muratg commented on #2831
@davidfowl after branching?  I think Troy will be busy today with the DTH bug and we should be branching pretty soon.

[2015-09-28 18:14] muratg commented on #2831
FYI @Eilon @danroth27

[2015-09-28 19:19] #2747 closed

[2015-09-28 20:27] muratg commented on #2848
cc @BrennanConroy

[2015-09-28 21:07] glennc commented on #2332
Conclusions from the last meeting we had on this:

- Resolve confusion around lock.json
  - Rename file `resolved.json`
  - Move file out of the solution into somewhere project local that can be safely ignored
  - Remove `locked:true` from the file.

Once the above changes are made then this new `resolved.json` file is only designed to do the following:

- Give the runtime a consistent view of glo

[2015-09-28 21:12] JunTaoLuo opened #2855 "./build dev-install does not alias mono-dev properly"
Whenever ./build dev-install is run, the aliasing for mono-dev becomes jumbled. Probably some issue with the makefile.

screenshot:
![image](https://cloud.githubusercontent.com/assets/2030323/10148886/fbbdc1de-65ea-11e5-8b1f-3918280aef59.png)

[2015-09-28 21:20] JunTaoLuo opened #2856 "dnu feeds list does not have a --help option"
![image](https://cloud.githubusercontent.com/assets/2030323/10149065/0aec697a-65ec-11e5-8add-4d7a3cb9ac8c.png)

As titled.

[2015-09-28 21:28] muratg commented on #2816
Can it be done now?  We should aim to branch Release very soon.

[2015-09-28 22:08] troydai commented on #2816
I suspect we can finish it in time before branching.

[2015-09-28 22:26] JunTaoLuo commented on #2825
1 Test fixtures

2 Shared Solution dirs

3 centralized usings before and after test

[2015-09-28 23:10] JunTaoLuo commented on #864
Merged to dev

[2015-09-28 23:10] #864 closed

[2015-09-28 23:44] moozzyk opened #2858 "Kestrel never works if project published with dnu publish"
Kestrel is not able to find libuv after the project was published with `dnu publish`. This is  because publish probably removes the `runtimes` folder when pruning the output and this is where libuv now lives. The `native` folder seems to be specialcased - https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Publish/PublishProject.cs#L355

[2015-09-28 23:45] moozzyk commented on #2858
@muratg @davidfowl Assigned to beta8 milestone
/cc @Tratcher

[2015-09-29 00:23] muratg commented on #2858
@danroth27 @Eilon FYI

[2015-09-29 00:51] moozzyk commented on #2858
It's not special casing (but it still never works..)

[2015-09-29 01:14] davidfowl commented on #2816
This actually looks like it might be kinda tricky

[2015-09-29 07:59] davidfowl commented on #2831
Assigning to myself.

[2015-09-29 08:02] davidfowl commented on #1446
I'll take this one

[2015-09-29 08:03] davidfowl commented on #726
Dependent on how we solve #2638

[2015-09-29 08:22] davidfowl commented on #2851
@anurse I want to give you this one.

/cc @abpiskunov This will require a tooling change.

[2015-09-29 15:37] anurse commented on #2851
Yeah, I've noticed this and it's a pain. I can take it.

[2015-09-29 15:51] muratg commented on #2526
@glennc Move out of this milestone?

[2015-09-29 17:15] anurse commented on #2628
This should be scheduled for rc1

/cc @muratg @davidfowl @moozzyk

[2015-09-29 17:20] muratg commented on #2752
Moving to backlog as the workaround is simple. We'll see if we get other complaints and can consider it in the future.

[2015-09-29 17:23] moozzyk commented on #2858
https://github.com/aspnet/dnx/issues/2628

[2015-09-29 17:37] phenombox opened #2860 "dnu does not recognize any installed commands"
I'm not sure where the issue originates from but dnu does not recognize any installed commands.
I am able to dnu restore and dnu build without issues, but I am not able to do dnu web or dnu ef.

dnvm v1.0.0-rc-15520
dnx 1.0.0-beta7 x86 clr
vs2015 with web tools 2015 beta 7
dependencies are all the same throughout the solution / project (beta7)

Attempting to run dnu ef to set up ef migrations, but

[2015-09-29 17:38] BrennanConroy commented on #2860
That's because you're supposed to use dnx

[2015-09-29 17:39] phenombox commented on #2860
Gosh right after I posted that I realised that, thats my bad been sitting with this for too long but thanks for the quick response.

[2015-09-29 18:13] ln613 opened #2863 "DNX451 on Mac - 'SqlConnection' does not contain a definition for 'RetrieveStatistics'"
On Mac, got these 2 errors:

DNX,Version=v4.5.1 error CS1061: 'SqlConnection' does not contain a definition for 'RetrieveStatistics' and no extension method 'RetrieveStatistics' accepting a first argument of type 'SqlConnection' could be found (are you missing a using directive or an assembly reference?)

DNX,Version=v4.5.1 error CS1061: 'SqlConnection' does not contain a definition for 'ResetStat

[2015-09-29 18:16] #1603 closed

[2015-09-29 18:16] #2534 closed

[2015-09-29 18:32] anurse commented on #2628
I think @JunTaoLuo is taking this actually. @davidfowl assigned a different version of the same bug to him :).

[2015-09-29 18:33] moozzyk commented on #1043
Fixed in #2857

[2015-09-29 18:33] #1043 closed

[2015-09-29 18:40] JunTaoLuo commented on #2628
@anurse yup.

[2015-09-29 18:45] victorhurdugaci commented on #2860
Closing as resolved

[2015-09-29 18:45] #2860 closed

[2015-09-29 19:43] muratg commented on #2233
With different casing support in, closing this one. @kichalla feel free to reactivate if `nuget.redirect.config` doesn't work for you.

[2015-09-29 19:43] #2233 closed

[2015-09-29 19:47] muratg commented on #1919
Still valid?

cc: @anurse

[2015-09-29 19:49] muratg commented on #1805
@davidfowl `Microsoft.Framework.Runtime.Compiler.*`?

[2015-09-29 19:51] muratg commented on #1589
@jkotas Any plans to add this support in CoreCLR?

[2015-09-29 20:15] muratg commented on #1212
Backlogging for now.  We can bring it back if there's interest and we can get resources to work on it.

[2015-09-29 20:26] muratg commented on #2063
@DamianEdwards is ARM in scope for V1?

cc @davidfowl @Eilon @danroth27

Also see https://github.com/aspnet/KestrelHttpServer/issues/106

[2015-09-29 20:30] moozzyk commented on #2063
Actually this should resolve itself semi-automatically when dnx starts loading native dlls automatically. - then we will be able to remove the code where we have the check.

[2015-09-29 20:32] moozzyk commented on #2063
We seem to be doing this only in one place: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Loader/LoadContext.cs#L71

[2015-09-29 20:58] anurse opened #2866 "Update generation mapping table"
New table (via @ericstj):

| Generation | Platforms |
| ---------- | --------- |
| 5.1 | Windows Phone Silverlight (8 & 8.1)|
| 5.2 | .NET 4.5, Windows 8 |
| 5.3 | .NET 4.5.1/4.5.2, Windows 8.1, Windows Phone 8.1 |
| 5.4 | .NET 4.6, UWP |
| 5.5 | .NET 4.6.1, DNX Core 5.0  |

Should be done early in RC1 /cc @muratg @Eilon @davidfowl @lodejard @DamianEdwards

[2015-09-29 21:03] jkotas commented on #1589
Not on https://github.com/dotnet/coreclr/issues -> no plans

[2015-09-29 21:15] pranavkm commented on #2233
Is the redirect config something we plan on supporting in RTM? NuGet doesn't have this feature.

[2015-09-29 23:19] moozzyk commented on #2858
Fixed in 4fc3f228fa

[2015-09-29 23:19] #2858 closed

[2015-09-29 23:35] JunTaoLuo commented on #1844
completed as #2617. Ongoing improvements are tracked via #2825.

[2015-09-29 23:35] #1844 closed

[2015-09-30 00:31] anurse commented on #2866
Figured I'd just bash this out. PR inbound.

[2015-09-30 00:33] muratg commented on #2866
Thanks @anurse, sounds good!

[2015-09-30 00:38] muratg commented on #2233
I believe longer term plan is to make nuget and dnu be as similar as possible for a lot of the scenarios, although dnu would have additional functionality that nuget doesn't need to support.

Good point though, if we need to remove the redirection, we better do it in RC1 @davidfowl

[2015-09-30 00:45] muratg commented on #1589
Cool, filed: https://github.com/dotnet/coreclr/issues/1648

Tracking as External (https://github.com/aspnet/External/issues/46) and closing this one.

Thanks for the report @akoeplinger

[2015-09-30 00:45] #1589 closed

[2015-09-30 04:47] victorhurdugaci commented on #880
This was long fixed

[2015-09-30 04:47] #880 closed

[2015-09-30 04:49] victorhurdugaci opened #2870 "List dnu commands"
We need a way to list the installed commands because
1. Package names are not always the command names
2. There's no way to know which things on the path are dnu commands
3. Uninstall requires command names rather than package names
4. There's no easy way to know which command belongs to which package

Command suggestion: `dnu commands list`

[2015-09-30 05:20] muratg commented on #2863
@divega

[2015-09-30 05:59] divega commented on #2863
Neither the version of SqlClient included in Mono nor the version we plan to provide for .NET Core offer the full functionality of SqlCient on the desktop version of .NET.

For Mono there isn't much we can do but for .NET Core I believe @YoungGah's team is tracking feature requests and may be able to describe a workaround.

[2015-09-30 06:22] Eilon opened #2871 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-09-30 06:25] muratg commented on #2863
@ln613 it looks like you may want to use CoreCLR for this particular scenario when it's available (or use a workaround if that's available.)  Possibly tracking a bug on [Mono](https://github.com/mono/mono) repo may help, but not sure how they would prioritize it. Closing this for the DNX repo as a fix on DNX repo is not something we could do.

[2015-09-30 06:25] #2863 closed

[2015-09-30 08:24] awflierman commented on #2411
Tried the same as kichalla, and taking this [SO answer](http://stackoverflow.com/a/32790748/551030) into account it would be nice to be able to exclude some folder inside wwwroot.

[2015-09-30 08:28] davidfowl commented on #2871
As part of this move the follow to Common:

- Microsoft.Dnx.Runtime.Json.Sources -> Microsoft.Extensons.JsonParser.Sources
- Microsoft.Framework.CommandLineUtils.Sources -> Microsoft.Extensions.CommandLineUtils.Sources

[2015-09-30 11:04] hkoestin commented on #2615
@moozzyk & @muratg does this mean, that we do not get strong named assemblies of EntityFramework with beta 8?

I am asking, because I would need to come up with a huge workaround otherwise :-1:

[2015-09-30 14:37] muratg commented on #2615
@hkoestin That's true. We just couldn't fit it in with all the other work that needed to happen in Beta 8. We'll do this in RC1.

[2015-09-30 14:47] hkoestin commented on #2615
@muratg Thanks for the information. This is really unfortunate news for me now, as I would need signed assemblies :disappointed: You see any workaround for this? The problem is not the actual signing of the assembly, that I can do myself. It is more about the used [InternalsVisibleTo] attributes in the assemblies.

See https://github.com/aspnet/EntityFramework/issues/999#issuecomment-143674933

[2015-09-30 15:22] muratg commented on #2615
@hkoestin Unfortunately, I don't know of any workaround. You can wait for this bug to be resolved, and work with RC1 dev packages before RC1 goes out if that helps.

[2015-09-30 15:25] hkoestin commented on #2615
@muratg would be great if someone could ping me, if this is fixed. Then I would get a nightly build asap. When can I expect it to be fixed? A week? Two weeks? A month?

[2015-09-30 15:51] Eilon commented on #1805
`.Extensions` :smile:

[2015-09-30 16:19] muratg commented on #2615
@hkoestin Please subscribe to this issue if you haven't already (click "Subscribe" on top right) and you should get a notification when the status changes.  We can try pinging you on GitHub but also we could forget :)    I don't have an estimation at the moment when this will be closed, but it would be more than a week (as actual RC1 coding starts next week only) and ideally less than a month.

[2015-09-30 16:21] muratg commented on #1805
How about the "Roslyn" name? This bug was tracking that in particular as Roslyn team itself is not using this name in any of their packages.

[2015-09-30 16:32] #2707 closed

[2015-09-30 17:26] anurse commented on #2773
Ouch, this should happen for beta8. /cc @muratg @DamianEdwards @Eilon

OSX is working, but Ubuntu is reporting a RID of `linux.Ubuntu 14.04-x64` when it should be `ubuntu.14.04-x64`

[2015-09-30 17:28] muratg commented on #2773
Ugh, yeah I think we should take it.

[2015-09-30 17:34] anurse commented on #2773
We could consider taking a small fix here as well to allow Linux Mint 17.2 to behave as though it is Ubuntu 14.04 (since they share a package base). Thoughts @DamianEdwards? This would not be a formal declaration of support, just kinda like we do with Mono: "It should work, but no formal guarantees"

[2015-09-30 17:36] #2866 closed

[2015-09-30 17:44] moozzyk commented on #2773
/cc @dougbu

[2015-09-30 17:50] sayedihashimi opened #2872 "Error when running user-secret"
I'm following the guide at https://github.com/aspnet/Home/wiki/DNX-Secret-Configuration. After installing and executing `user-secret` I get the following error.

[code]

Here is the result of `dnvm list`

[code]

[2015-09-30 17:53] victorhurdugaci commented on #2872
Microsoft.Framework.ApplicationHost was renamed to Microsoft.Dnx.ApplicationHost

Are you running from Visual Studio?

[2015-09-30 18:08] RichiCoder1 commented on #2190
Bump! I have a similar issue now.

[2015-09-30 18:13] danroth27 opened #2874 "Provide a better error message when trying to use a NuGet feed that requires authentication"
If I try to use dnu with a feed that requires authentication then DNU says that the feed is invalid:

[code]

Instead DNU should say that requests to the feed were unauthorized.

[2015-09-30 18:15] dougbu commented on #2773
FYI on my up-to-date Mint system:
[code]

[2015-09-30 18:24] anurse commented on #2773
:+1: thanks

[2015-09-30 18:26] anurse commented on #2773
Maybe should consider using `os-release` for distro reporting. It's possible it's closer to what we're looking for. As far as I can tell it is fairly ubiquitous (like `lsb-release`)

[2015-09-30 18:36] moozzyk commented on #2773
`lsb-release` may not actually exist on redhat-based distros. We [kind-of](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Host.Mono/EntryPoint.cs#L242 use it) to detect CentOs but we don't have this in the native code yet. If os-release always exists on Ubuntu 14.04 and (have the expected values) then we could use it instead of `lsb-release` but it's not beta-8

[2015-09-30 18:40] anurse commented on #2773
Agree entirely on the timing, changing to `os-release` would be for RC at least.

[2015-09-30 18:41] anurse commented on #2773
As far as I could tell, `os-release` definitely exists on Fedora.

[2015-09-30 20:31] muratg commented on #1805
Dup|: https://github.com/aspnet/dnx/issues/2871

[2015-09-30 20:31] #1805 closed

[2015-09-30 20:52] natemcmaster opened #2875 "dnx-coreclr dies without error on darwin/linux"
Using dnx-coreclr-darwin-x64.1.0.0-rc1-15779.

Executing dnx on OS X dies without producing output. It does not actually execute the command.

Using OS X 10.11.1 (beta).

<img width="653" alt="screen shot 2015-09-30 at 1 50 39 pm" src="https://cloud.githubusercontent.com/assets/2696087/10206145/4554bdf8-677a-11e5-9005-4e228961dca2.png">

[2015-09-30 21:08] BrennanConroy commented on #2875
You need to brew install icu4c now

[2015-09-30 21:09] Tratcher opened #2876 "Race condition in breadcrumbs"
[code]
This happened running the MusicStore functional tests. This is the second time I've seen it happen today.
@victorhurdugaci

[2015-09-30 21:11] natemcmaster commented on #2875
Thanks @BrennanConroy. Yup that fixed it.

Invisible errors = bad UX. Can we display errors when missing native dependencies?

[2015-09-30 21:14] BrennanConroy commented on #2875
@moozzyk

[2015-09-30 21:54] moozzyk commented on #2875
@natemcmaster - can you see anything interesting if `DNX_TRACE` is set to `1`? For fatal errors we always should display a message. `dnx` does not know about icu so it cannot fail. I guess in this case CoreClr failed to load. The thing I don't know whether there is a bug in our code and the message was not printed or there was an issue with CoreClr but they still returned the success code in which

[2015-09-30 21:56] natemcmaster commented on #2875
λ export DNX_TRACE=1

⤷ ~/dev/ef (dev=)

λ dnx

Loaded module: dnx.coreclr.dylib

Found export: CallApplicationMain

Unhandled Exception:

   Cannot print exception string because Exception.ToString() failed.

[2015-09-30 21:58] natemcmaster commented on #2875
@moozzyk Nothing about missing icu4u.

[2015-09-30 22:00] natemcmaster commented on #2875
Also, with DNX_TRACE=1, the return code is no longer 0.
[code]

[2015-09-30 22:05] moozzyk commented on #2875
Need to investigate:
- why we don't print the message (probably because we use a `FAILED` macro equivalent which only treats negative results as failed
- why the exit code is different when running with `DNX_TRACE=1` than when `DNX_TRACE` is not set

[2015-09-30 22:48] brentschmaltz commented on #1730
Is this key respected on fxCore?

[2015-10-01 02:42] Tratcher commented on #2876
Something has definitely regressed here, this caused Universe Tests to fail four times today in both dev and release. I also saw it once in a local build (ServerTests?).
/cc: @muratg

[2015-10-01 03:42] Kagamine opened #2878 "dnu pack The dependency fx/System.XML could not be resolved."
[code]

[2015-10-01 06:43] davidfowl commented on #2682
Need to put script files in approot since webdeploy can't see them.

[2015-10-01 07:56] Kagamine commented on #2878
The problem has been solved by using System.Xml instead o f System.XML

[2015-10-01 07:56] #2878 closed

[2015-10-01 10:13] eugeneagafonov commented on #2239
@pranavkm Yes I'm sure, I've restarted the server, checked env variables for the build agent account, and it still does not work.
Is there any option to install dnvm/dnx globally on server, not in every user profile?

[2015-10-01 13:26] pranavkm commented on #2239
Outside of `DNX_HOME`, I don't think there's a way to specify where DNX is installed. For one, it might be useful to get the verbose log from your dnvm install and file an issue at https://github.com/aspnet/dnvm.

You could try extracting the latest DNX package (`nuget install dnx-clr-win-x86 -source https://www.nuget.org/api/v2`) and simply running commands from it's bin directory.

[2015-10-01 15:24] muratg commented on #2239
@eugeneagafonov In Beta 8 DNVM has `-g` flag to install DNXs globally.

[2015-10-01 15:27] muratg commented on #2876
@victorhurdugaci Please investigate ASAP.

[2015-10-01 15:38] muratg commented on #2682
@davidfowl When is the cmd file change coming in? :eyes:

[2015-10-01 16:39] anurse opened #2881 "Resolve Linux RIDs once and for all"
PR https://github.com/aspnet/dnx/pull/2880 had us switch to reporting all Linuxes as `ubuntu.14.04` because we just saw so much variance in Ubuntu versions in use that we couldn't reliably get them all accurately detected. For example: Travis-CI runs Ubuntu 12, Our CI runs Ubuntu 14.10, and anyone who installs 14.04 immediately gets prompted to upgrade to 15.04, so many of our other machines use 1

[2015-10-01 21:54] muratg commented on #2875
@danroth27 will be adding this to the documentation and release notes for Beta 8.  However, we should make it discoverable with an informative error message as well.

[2015-10-01 23:18] natemcmaster opened #2884 "dnx test gets stuck in infinite build loop"
Attempting to run `dnx test` on EntityFramework.SqlServer.FunctionalTests (dev branch) triggers an infinte loop wherein dnx builds, rebuilds, and forever builds one of the project's dependencies....EntityFramework.Core.FunctionalTests.

`dnu build` does not trigger this same loop.

DNX_TRACE log here: https://gist.github.com/natemcmaster/5257e322f7c05de66ae9

dnx, 1.0.0-rc1-15779 coreclr, darwin

[2015-10-01 23:30] natemcmaster commented on #2884
Happens on coreclr-linux too.

[2015-10-01 23:48] rowanmiller opened #2886 "GC.GetTotalMemory(forceFullCollection: true) ~50x slower under DNX than Full .NET"
GC.GetTotalMemory(forceFullCollection: true) is around 50x slower running under DNX that Full .NET. This applies to both CLR and CoreCLR.

I found this because our benchmark tests use this API to capture memory usage numbers. The DNX test take ~3x longer to complete than the Full .NET ones. We obviously don't time the code that does garbage collection, so it doesn't affect that result of the tests

[2015-10-01 23:55] moozzyk commented on #2884
@Tratcher - can it be somehow related to the duplicate ApplicationHost parameter?

[2015-10-01 23:56] shirhatti opened #2887 "Stack traces for Roslyn compilation errors aren't supressed"
[code]

cc @JunTaoLuo

[2015-10-01 23:59] Tratcher commented on #2884
Our issue was only in the server tests, it shouldn't affect EF.

[2015-10-02 00:06] rynowak commented on #2886
Dumb question but what's `GC.GetTotalMemory(forceFullCollection: true);` returning for desktop vs DNX. It wouldn't be surprising to see DNX using significantly more memory because of roslyn and thus taking much longer to run a GC.

However if the numbers are in the second range to GC that app, that feels broken.

[2015-10-02 00:24] JunTaoLuo commented on #2887
The issue is [Microsoft.Dnx.ApplicationHost/Program.cs#L234](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.ApplicationHost/Program.cs#L234) where we only suppress `ICompilationExceptions` if they are wrapped by `FileLoadException` or `FileNotFoundException`. In this case when the assembly was not found, the outer exception was the `ICompilationExceptions`.

What we need is something lik

[2015-10-02 01:04] pranavkm commented on #2887
:+1:

[2015-10-02 02:48] DannyVarod commented on #2402
I am getting this exact error with VS2015 RTM - all the packages I've updated are not restored and direct run of the restore packages outputs "All packages are already installed and there is nothing to restore.".
The project.json is updated, however, the project.lock.json still has the older versions in it.

[2015-10-02 04:35] davidfowl commented on #2402
Can you give repro steps

[2015-10-02 11:48] DannyVarod commented on #2402
Using Visual Studio 2015 RTM Community edition (Version 14.0.23107.0 D14REL with .NET Version 4.6.0081 and NuGet Package Manager Version 3.2.60914.10516):

1. Create new ASP.NET Web Application, .NET version = 4.5.2, with a new solution, select ASP.NET 5 Preview Templates, Web Application, authentication = Individual User Accounts, do not check Host in the cloud.

2. Build solution, build succeeds

[2015-10-02 12:13] hubuk opened #2890 "Cannot test ASP.NET Web Application decorated with AssemblyCultureAttribute."
UPDATE:
Reproduction project available on https://github.com/hubuk/Issue-aspnet-dnx-2890-AssemblyCulture

Environment for which the problem occurs is following:
1. A newly created ASP.NET 5 Web API project named (Application).
2. An ASP.NET class library which acts as a test project.
3. All the necessary references to test framework and Application project are added:
[code]
*4. [assembly: Assembly

[2015-10-02 12:39] NeelBhatt commented on #2890
may be duplicate of https://github.com/aspnet/dnx/issues/2802

[2015-10-02 12:50] IRooc commented on #2875
Hi on ```rc1-15779``` on dnu restore and dnx kestrel I get the following output and it doesn't run with DNX_TRACE=1

[code]

[2015-10-02 13:01] hubuk commented on #2890
Yes, it may be related but in this case there is only one assembly named Application. There are no satellites.

[2015-10-02 15:41] muratg commented on #2875
@IRooc is this on Linux or Mac?

[2015-10-02 15:47] muratg commented on #2875
@IRooc just tried it with `1.0.0-rc1-15779      coreclr x64` on a Mac, and `dnu restore` ] seems to work for me. Can you try it out with a small Console app?

[2015-10-02 16:05] muratg commented on #2682
@davidfowl this bug good to close now?

[2015-10-02 16:13] #2682 closed

[2015-10-02 16:17] IRooc commented on #2875
It is on a mac, I'll try a small project later AFK currently.  The mono dnu restore works fine though.

[2015-10-02 16:34] natemcmaster commented on #2884
I believe this could be caused by a build error. The reference project does not build, but the build errors do not halt the process.

[2015-10-02 16:51] rowanmiller commented on #2886
A run I just did returned 24,156 on desktop and 3,414,444 on DNX. I also got the memory number before forcing collection and the first iteration is doing more work on DNX. .NET is cleaning up just a ~900 bytes where as DNX is cleaning up ~3,300,000. It's not just the first iteration that is slower though.

BTW note the for loop, so it's not like one call to the method takes 2-4sec. The additional

[2015-10-02 16:53] natemcmaster commented on #2884
...and yes, follow up. The problem went away when fixing build errors. I'm leaving this bug open. To recap:

Project B depends on Project A. When building Project B, the Project A build fails and DNX repeatedly tries to build Project A without showing build errors.

[2015-10-02 16:53] davidfowl commented on #2886
It sound like dynamic compilation to me

[2015-10-02 16:56] troydai commented on #2667
@Anderman I found this issue is tracked by tooling team. I'll close this issue for now. Please feel free to open if there is anything more directly point the root cause to runtime. Thanks.

[2015-10-02 16:56] #2667 closed

[2015-10-02 17:19] #2876 closed

[2015-10-02 17:30] rowanmiller commented on #2886
BTW to be clear I'm not super passionate about this scenario... I just wanted to file it so that you are aware of it (and I thought it might just be a symptom a deeper problem).

That said, it would be nice to trim the additional 4hrs of overhead spent in this API from our DNX benchmark runs (we currently run the .NET ones as a rolling build, but the DNX ones just nightly).

[2015-10-02 17:32] muratg commented on #2890
@kirthik Any thoughts on this one?

[2015-10-02 17:33] muratg commented on #2886
@davidfowl would a `dnu build` before a `dnx run` remedy the issue?

[2015-10-02 17:48] muratg commented on #2872
@sayedihashimi Were you able to resolve this?  There seems to be version mismatch somewhere.

[2015-10-02 17:51] muratg commented on #2870
Good suggestion.

[2015-10-02 17:54] muratg commented on #2855
Not sure if we care about Mono on Windows.  Putting this in Backlog, feel free to bring it back if you disagree.

This should work fine on XPlat though.

[2015-10-02 17:57] muratg commented on #2849
It would be useful to go through different error cases and decide if we need to downgrade them all.

Do it as part of https://github.com/aspnet/dnx/issues/2831 and close this one.

[2015-10-02 17:57] anurse opened #2891 "Incorrect runtime.json processing"
When restoring a package that has a runtime.json, we end up picking the least specific runtime ID, not the most specific runtime ID. As far as we can tell, this hasn’t produced any known critical issues, but it means we’re picking the wrong dependencies. For example, System.Net.Primitives has the following runtime.json:

[code]

On `osx.10.10-x64`, we end up picking `runtime.unix.System.Net.Primit

[2015-10-02 17:59] muratg commented on #2845
@anurse any ideas?

[2015-10-02 18:00] muratg commented on #2891
I think @BrennanConroy noticed this today, if I understand it correctly.

[2015-10-02 18:03] anurse commented on #2891
Correct, he pinged me, which started the investigation :)

[2015-10-02 18:17] anurse commented on #2845
I'm going to need some more details to figure this out. @loqix can you attach:

* The content of `project.json` and `project.lock.json`
* The output of `dnx --version`

[2015-10-02 18:19] anurse commented on #2875
I can repro this on OS X 10.11 (it does not seem to repro on 10.10 Yosemite, only on El Capitan).

We don't officially support 10.11 yet, but we can start investigating why it is failing now :).

[2015-10-02 18:20] anurse commented on #2875
FYI, output with DNX_TRACE

[code]

/cc @moozzyk @BrennanConroy

[2015-10-02 18:21] davidfowl commented on #2875
ICU!

[2015-10-02 18:21] anurse commented on #2875
oh **GOOOOOOOOOD**

[2015-10-02 18:30] anurse commented on #2886
You could also try publishing the test with `--no-source` and running the output.

[2015-10-02 18:30] troydai commented on #2843
Fixed in e874201acc19854caff9236b420b2864152659c0

[2015-10-02 18:30] #2843 closed

[2015-10-02 18:37] troydai commented on #2744
@abpiskunov it can't be determined which dependency actually wins and override others because it is possible multiple dependencies meet the requirement. In addition the current lock file doesn't provide enough information for DTH to peak into the decision making process to gain the knowledge. The best we can do is to have boolean on dependencies to clear state if it is overridden, which means the

[2015-10-02 18:37] Flavien commented on #2843
So that will be shipped as part of beta8?

[2015-10-02 18:38] troydai commented on #2816
In short it's hard to achieve without a big change to lock file and restore process.

Reference:
https://github.com/aspnet/dnx/issues/2744

[2015-10-02 18:43] troydai commented on #2843
No, sorry. Unfortunately it doesn't make into beta8. I hope it doesn't significantly impact your project. Thanks for the patience.

[2015-10-02 19:17] Flavien commented on #2875
I got the same issue on Ubuntu when executing CoreCLR ``dnx`` from an unprivileged user: https://github.com/aspnet/dnx/issues/2748

It exits without any error message. And I also haven't figured out why it doesn't work.

[2015-10-02 19:20] anurse commented on #2875
What version of Ubuntu? We only support 14.04 at the moment.

[2015-10-02 19:21] Flavien commented on #2875
This is 14.04 on Docker.

[2015-10-02 19:25] victorhurdugaci commented on #2450
+1 for this. We need it for feature defines (like disabling the min version check on dev)

[2015-10-02 19:36] kirthik commented on #2890
Could you please tell me what build of dnx you are using?

[2015-10-02 20:14] victorhurdugaci opened #2895 "OS version should be the one reported by the OS"
We changed the way `IRuntimeEnvironment` handles OS version. It used to return the kernel version as returned by `GetVersionEx`/`uname`.

Now we do some transformations and return something else like "7.0" for win 7 instead of "6.1.x.x".

The transformation should be an util/extension method because only DNX cares about it and IRuntimeEnvironment should return the string as given by the OS.

cc @m

[2015-10-02 20:41] moozzyk commented on #2895
/cc @anurse

[2015-10-02 20:42] moozzyk commented on #2895
I assume that we would also return unprocessed values for other OSes

[2015-10-02 20:58] muratg commented on #2890
From his global.json, it looks like he's using Beta 7.

@hubuk This may have been fixed with #2802.  Can you upgrade to the latest bits and retry?

[2015-10-02 21:07] JasonRowe commented on #2016
I had no problem with this in beta 5. Seems this problem is back in beta 6 and beta 7.

[2015-10-02 21:07] anurse commented on #2895
Agreed, but we should provide the distro id/release in a field as well so we can generate the correct RID.

[2015-10-02 21:32] JasonRowe commented on #2016
In beta 5 my wrapped project.json looked like this and worked:

    {
      "version": "1.0.0-*",
      "frameworks": {
        "net451": {
          "wrappedProject":      "../../src/example.csproj",
          "bin": {
            "assembly": "../../src/example/obj/{configuration}/example.dll",
            "pdb": "../../src/example/obj/{configuration}/example.pdb"
            }
           }

[2015-10-02 22:08] troydai commented on #2848
Talked to @davidfowl we found this to be better addressed on the VS end.
https://github.com/aspnet/Tooling/issues/206

[2015-10-02 22:08] #2848 closed

[2015-10-02 23:39] moozzyk commented on #2895
:+1: - I never really liked cramming distro and version to one property

[2015-10-03 00:29] loqix commented on #2845
The latest version has no problem

[2015-10-03 00:29] #2845 closed

[2015-10-03 01:37] #2891 closed

[2015-10-03 08:15] aggieben commented on #2733
Same here.  Not 100% of the time, but enough to be concerning.

[2015-10-03 08:15] davidfowl commented on #2733
File a mono issue?

[2015-10-03 15:46] Maxwe11 commented on #2302
What state of this?
What #define symbol will be used for uap10.0 ?

[2015-10-03 19:18] anurse commented on #2302
I believe the define symbol is `UAP10_0`

[2015-10-03 19:28] DannyVarod commented on #2402
Another issue I've found: uninstalling a NuGet doesn't remove it from project.lock.json, this breaks the build with unrelated errors.

[2015-10-04 08:02] hahmed opened #2896 "Error deploying site on azure (using github and kudu)"
I have been getting some issues with my app, managed to fix the kuduscript issues that stopped my site from deploying however my site is still failing. I can only see an error page atm with a 500 error.
Related issue:
https://github.com/projectkudu/kudu/issues/1722#issuecomment-145289162

I created a test repo that shows what I am trying to achieve, I can ping my site ok. Just the rest of the pipe

[2015-10-04 16:22] pgrudzien12 commented on #2699
I've gome through announcement and this thread and still do not understand what was removed. Dnu script is still there and tooling source haven't been changed so what am I missing? Commit link would be useful.

[2015-10-04 17:32] pranavkm commented on #2699
Here's the actual work item that tracked the removal: https://github.com/aspnet/dnx/pull/2692

The command `dnu sources` and the associated code that executed when you ran `dnu pack` was removed.

[2015-10-05 00:32] btrepp commented on #2801
Ah okay cool. Using the proper DNX runner fixed it for me :).

Thanks for your help :)

[2015-10-05 00:32] #2801 closed

[2015-10-05 10:37] GVX111 opened #2897 "dnx stopped working."
Problem signature:
  Problem Event Name:	CLR20r3
  Problem Signature 01:	dnx.exe
  Problem Signature 02:	1.0.0.11001
  Problem Signature 03:	560db74f
  Problem Signature 04:	Microsoft.Extensions.MemoryPool
  Problem Signature 05:	1.0.0.11003
  Problem Signature 06:	56106640
  Problem Signature 07:	12
  Problem Signature 08:	28
  Problem Signature 09:	System.InvalidOperationException
  OS Version:

[2015-10-05 11:44] Abdullah2993 commented on #2018
Run the Power Shell as Administrator, the error will go away

[2015-10-05 12:12] borgdylan opened #2898 "Regression: IRuntimeEnvironment not resolved on windows dnx in MVC application"
When using the latest DNX from the unstable feed on Azure, I get the following exception:
[code]

[2015-10-05 12:58] borgdylan commented on #2898
This still happens with the aspnetcidev bits.

[2015-10-05 15:55] muratg commented on #2898
@borgdylan HttpPlatformHandler module is not yet installed on Azure, but should be once we release Beta 8.

[2015-10-05 15:57] muratg commented on #2897
Can you provide more details?  What's the version of DNX?  CoreCLR or CLR?  What's the stack trace?

[2015-10-05 16:05] muratg commented on #2896
Perhaps you can enable error page to get more information? (app.UseErrorPage)

[2015-10-05 16:06] borgdylan commented on #2898
It is installed just its version 1.0 so I had to use absolute paths. I expected dev builds for rc 1 to not crash with it since beta8 is expected to be rid of Helios.

Regards,

Dylan Borg B. Sc. (Hons) ICT (Melit.)

borgdylan@hotmail.com

borgdylang@gmail.com

+00356 99214902

On Mon, Oct 5, 2015 at 8:55 AM -0700, "Murat Girgin" <notifications@github.com> wrote:
@borgdylan HttpPlatformHandler modu

[2015-10-05 16:09] muratg commented on #2872
:watch:

[2015-10-05 16:09] borgdylan commented on #2898
The proxying part worked and Nowin (I use it instead of Kestrel) received requests ok. I know this as requests and responses were logged in the stdout logs of the platform handler module. So the issue is not coming from the platform handler module. Also AFAIK the platform handler has been on azure for ages to proxy over to tomcat etc.

[2015-10-05 16:21] borgdylan commented on #2898
Could the issue be that there is no runtime id for windows x64 that is not on helios?

[2015-10-05 16:28] davidfowl commented on #2898
Does it work locally? Can you provide a repro project?

[2015-10-05 16:40] borgdylan commented on #2898
I cant try it locally since I do not have any windows installs here. Using a similar setup with Nowin on Linux works fine however (using the same package versions).

[2015-10-05 16:42] borgdylan commented on #2898
I did try to patch the DNX not to throw the exception (returning a dummy IRuntimeEnvironment instead) but all was in vain.

[2015-10-05 16:43] davidfowl commented on #2898
If you can provide a repro project we can investigate

[2015-10-05 16:46] natemcmaster commented on #2302
@anurse Unless I'm mistaken, adding this TFM does not mean DNX will actually compile for UAP. It merely passes this along to the nuspec. Correct?

[2015-10-05 17:03] hahmed commented on #2896
It looks like this is a connection string error after all... strange as I am defo setting this in my app, as that is working, in production (azure) I am setting the overrides too. It is not reading the connection string.
[code]
[code]

How can I ensure my connection string is being pulled out correctly from azure into my app/startup.cs

[2015-10-05 17:07] borgdylan commented on #2898
I am writing a repro. Would code in a git repo  and a published image suffice?

[2015-10-05 17:10] kichalla opened #2899 "Update global.json schema (no intellisense when trying to add information like version, architecture in VS)"
http://json.schemastore.org/global

Current:
[code]

@Eilon

[2015-10-05 17:16] borgdylan commented on #2898
I am currently testing on azure.

[2015-10-05 17:16] davidfowl commented on #2898
Sure git repo is fine, and we'll test on azure too. Just give us instructions.

[2015-10-05 17:22] muratg commented on #2896
Since your connection string is under "AppSettings" of your configuration, you'll need to put it in "App Settings" on Azure Portal.

If you had your configuration setup like VS Template (where your connection string is under ConnectionStrings) then setting it up under "Connection Strings" on Azure portal would have also worked.

So either set the connection string on "App Settings" or change the s

[2015-10-05 17:26] muratg commented on #2895
If not risky, we can give it a shot RC1.  Otherwise, I'll put it in 1.0.0 backlog.

[2015-10-05 17:27] muratg commented on #2890
:watch:

[2015-10-05 17:34] muratg commented on #2849
@davidfowl Feel free to close this one if you're going to do it with the #2831's PR.

[2015-10-05 17:39] muratg commented on #2844
@nehaabrol87 What's the DNX version you've installed?

[2015-10-05 17:41] nehaabrol87 commented on #2844
1.0.0-beta7

[2015-10-05 17:43] nehaabrol87 commented on #2844
@muratg  I created a new user C:/Users/neha_000 and installed and it is working fine with the same version so I think it is an issue with the space only.Not sure.Let me know if you need anything else.

[2015-10-05 17:43] borgdylan commented on #2898
I managed to reproduce this with a ridiculously simple MVC project. The repo is https://github.com/borgdylan/aspnet5-repros. The bin/output dir has an image that is deployable to azure with proper settings for the platform handler. The DNX used in for the 64bit windows CLR. Going to api/Home should yield "Hello World" string but the exception triggers instead. I have tested the code on Linux via m

[2015-10-05 17:44] muratg commented on #2816
I think we won't be doing this. @abpiskunov please sync with @troydai and close.

[2015-10-05 17:52] snobu commented on #2896
You can have a look on this too https://github.com/aspnet/EntityFramework/wiki/Configuring-a-DbContext#dependency-injection-scenarios

[2015-10-05 17:57] muratg commented on #1915
Closing this one.

[2015-10-05 17:57] #1915 closed

[2015-10-05 17:58] muratg commented on #1967
This was done.

[2015-10-05 17:58] #1967 closed

[2015-10-05 18:11] kirthik opened #2902 "dnx fails to load assembly if it has cultureinfo but does not have any resources"
Currently when an assembly has cultureinfo that is not neutral, we look for resources for that culture in the assembly. If they are not found, we return null. We should do this only for satellite assemblies.

[2015-10-05 18:12] kirthik commented on #2890
Thank you for reporting this issue. Your issue is fixed with #2802 but I found another related issue - https://github.com/aspnet/dnx/issues/2902. I will send a fix for this soon.

[2015-10-05 18:14] moozzyk commented on #2895
If we put it in backlog then we will never be able to fix this as it will be a breaking change.

[2015-10-05 18:33] moozzyk opened #2903 "Pass the runtime folder as a so/dylib search path when initializing CoreClr"

[2015-10-05 18:34] moozzyk commented on #2903
#2900

[2015-10-05 18:34] muratg commented on #2895
We'll be doing other changes in this area, so putting this in RC1 for now.

[2015-10-05 18:44] snobu commented on #2896
This shoud work. It works on the test repo.

[code]

[2015-10-05 18:52] moozzyk commented on #2903
7577ab1a092047931505ab00299d53072be9cb73

[2015-10-05 18:52] #2903 closed

[2015-10-05 19:31] hahmed commented on #2896
Thanks, looks like your code works, but only in production. That code will fail in the dev environment, i.e. locally.
[code]
The code above will pull out the environment variable as set in azure as you have commented above however in development environment where I am using the connection string too, it is not found. As I am setting it is AppSettings.ConnectionString
[code]
I was assuming portal s

[2015-10-05 19:43] victorhurdugaci commented on #2450
Related: https://github.com/aspnet/Home/issues/450#issuecomment-145644823

[2015-10-05 19:56] snobu commented on #2896
Maybe this helps?

#### Working with Multiple Environments ####
http://docs.asp.net/en/theming/fundamentals/environments.html

[2015-10-05 19:59] borgdylan commented on #2898
To clarify: aspnetrepro/bin/output is the directory to FTP over to azure (I did test it on azure myself)

[2015-10-05 20:41] hubuk commented on #2890
Sorry for late response and thank you all for the comments.
I have checked all the coreclr runtimes for x86 and x64 from 1.0.0-beta7 to 1.0.0-rc1-15798
Starting from beta8-15616 a new exception is thrown instead of the old one:
[code]

But I think this is exactly what @kirthik has already reported in #2902.

[2015-10-05 20:49] hahmed commented on #2896
Yes that did, thanks. Looks to me as though this is still a bug in azure, azure is not overriding the config settings - if that is the default behaviour.

If I moved my connection string out from *app settings* to *connection strings*, how can I pull that out from the environment?

Configuration["Data:ConnectionString"] does not work...?

[2015-10-05 22:15] dougbu opened #2905 "Add `dnu build` / `dnu pack` option to suppress "dnxcore50 is not specified in project.json""
Hit this issue working around #2566 in my fix for aspnet/Universe#272.

`dnu build ... -framework dnxcore50` and `dnu pack ... -framework dnxcore50` fail if a built project lacks a `dnxcore50` entry in `frameworks`. The message is

[code]

Can work around this limitation in old-style builds but the layered workarounds don't play nicely with `KOREBUILD_BUILD_V2` in the environment. And this additio

[2015-10-05 22:39] troydai commented on #2448
Currently working __item 2__. I plan to stop dnu restore from diving into subfolder of a folder already containing a `project.json`

[2015-10-05 22:44] troydai commented on #2448
Update: looks like we already did it however __partially__ (https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Restore/RestoreCommand.cs#L107)
If the given `restoreDirectory` doesn't contain a `project.json` it will still dive into deeper level.

[2015-10-05 22:50] JunTaoLuo opened #2908 "Dnu restore will display stack trace when it fails"
If an invalid source for `dnu restore` is used to locate packages, the stack trace for the resultant 404 error will be displayed. These stack traces are not useful and should be hidden.

For example, tested in Linux:
![image](https://cloud.githubusercontent.com/assets/2030323/10295896/ca61596e-6b78-11e5-8689-230699e24f01.png)